<div class="main_page white-background" style="min-height: auto !important">
  <form
    *ngIf="documentUploadForm"
    [formGroup]="documentUploadForm"
    (keydown.enter)="checking($event)"
    tabindex="0"
  >
    <div
      formArrayName="documents"
      *ngFor="let document of documents.controls; let documentIndex = index"
    >
      <mat-card [formGroupName]="documentIndex" class="document">
        <div fxLayout="row" fxLayoutAlign="space-between ">
          <span class="card-title">
            {{
              documentIndex === 0
                ? 'Primary Document'
                : 'Document -' + documentIndex
            }}
          </span>
          <button
            *ngIf="documentIndex !== 0"
            mat-raised-button
            type="button"
            color="light"
            class="danger"
            (click)="removeDocumentItem(documentIndex)"
          >
            {{ 'Delete' }}
          </button>
        </div>

        <div fxLayout="row" fxLayoutGap="15px" class="mt-12">
          <div fxFlex="32.5">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>{{ 'Document Name' }}</mat-label>
              <mat-option [value]="">Select</mat-option>
              <mat-select
                formControlName="documentName"
                placeholder="Choose Document Name"
                (selectionChange)="change($event, documentIndex)"
              >
                <mat-option
                  *ngFor="let doc of documentNames; let i = index"
                  [value]="doc.id"
                  >{{ doc.values }}</mat-option
                >
              </mat-select>
              <mat-error
                *ngIf="
                  document.get('documentName')?.hasError('required') ||
                  document.get('documentName')?.hasError('touched')
                "
              >
                {{ 'Please Enter Document Name' }}
              </mat-error>
              <mat-error
                *ngIf="
                  document.get('documentName')?.hasError('doumentAlreadyExist')
                "
              >
                {{ 'Document is already selected' }}
              </mat-error>
            </mat-form-field>
          </div>

          <div fxFlex="32.5">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label class="autolabel">{{ 'Document Number' }}</mat-label>

              <input
                formControlName="documentNumber"
                type="text"
                matInput
                maxlength="30"
                appNoInitialSpace
                class="basicin"
              />
              <mat-error
                *ngIf="
                  document.get('documentNumber')?.hasError('required') &&
                  document.get('documentNumber')?.touched
                "
              >
                {{ 'Please Enter Document Number' }}
              </mat-error>
            </mat-form-field>
          </div>
          <div fxFlex="32.5"></div>
        </div>

        <div
          fxLayout="row"
          formArrayName="pages"
          fxLayoutGap="20px"
          class="mt-4"
        >
          <div
            *ngFor="
              let page of documentPages(documentIndex).controls;
              let pageIndex = index
            "
          >
            <ng-container [formGroupName]="pageIndex">
              <div class="card">
                <div class="document-wrapper">
                  <div fxLayout="row" class="doc-header">
                    <ng-container *ngIf="page.get('fileUrl')?.value !== ''">
                      <img
                        class="action-icon"
                        src="../../../../../../assets/images/tick.svg"
                        alt="tick img"
                      />
                    </ng-container>

                    <span fxFlex></span>
                    <ng-container
                      container
                      *ngIf="
                        page.get('fileUrl')?.value !== '' && pageIndex <= 1
                      "
                    >
                      <button
                        class="btn-box"
                        mat-icon-button
                        (click)="removeImage(documentIndex, pageIndex)"
                      >
                        <mat-icon class="danger1">delete</mat-icon>
                      </button>
                    </ng-container>
                    <ng-container *ngIf="pageIndex > 1">
                      <button
                        class="btn-box"
                        mat-icon-button
                        (click)="removeDocumentPage(documentIndex, pageIndex)"
                        [disabled]="pageIndex === 0"
                      >
                        <mat-icon class="danger1">delete</mat-icon>
                      </button>
                    </ng-container>
                  </div>
                  <div
                    fxLayout="column"
                    fxLayoutAlign="center center"
                    fxLayoutGap="4px"
                    class="curser"
                  >
                    <div class="document-image mt-4">
                      <img
                        class="customFileShow"
                        [src]="
                          page.get('fileUrl')?.value !== ''
                            ? page.get('fileUrl')?.value
                            : 'assets/images/upload-icon.svg'
                        "
                        alt="upload img"
                      />
                    </div>
                    <span class="pagetitle">{{
                      page.get('documentTitle')?.value
                    }}</span>
                  </div>
                </div>
                <ng-container>
                  <div fxLayout="row" class="ic-progress-bar">
                    <mat-progress-bar
                      mode="determinate"
                      [value]="percentDone"
                      *ngIf="selectedIndex === pageIndex && isUploading"
                    ></mat-progress-bar>
                  </div>
                </ng-container>

                <div
                  class="document-footer mt-12"
                  *ngIf="!page.get('isUploaded')?.value"
                >
                  <div
                    fxLayout="row"
                    fxLayouGap="5"
                    fxLayoutAlign="space-evenly center"
                  >
                    <button
                      mat-raised-button
                      class="sm-btn scanColor"
                      [disableRipple]="true"
                    >
                      {{ 'Scan' }}
                    </button>
                    <button
                      mat-raised-button
                      class="sm-btn uploadColor"
                      [disableRipple]="true"
                    >
                      {{ 'Upload' }}
                      <input
                        #fileInput
                        type="file"
                        class="changeInput"
                        accept="image/*"
                        title=""
                        required
                        (click)="restrictUpload($event, document)"
                        (change)="
                          onFileSelect($event, documentIndex, pageIndex)
                        "
                      />
                    </button>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
          <div class="card-plus">
            <div
              fxFlex
              fxLayout="column"
              fxLayoutAlign="space-around center"
              class="profile-card-content"
            >
              <div fxLayout="column" fxLayoutAlign="center center">
                <mat-icon class="icon" (click)="addDocumentPage(documentIndex)"
                  >add</mat-icon
                >
                <button
                  mat-button
                  (click)="addDocumentPage(documentIndex)"
                  class="otherpage"
                >
                  <span>{{
                    documentPages(documentIndex).length !== 1 &&
                    documentPages(documentIndex).length !== 0
                      ? 'Add Other side'
                      : documentPages(documentIndex).length === 0
                        ? 'Add FrontSide'
                        : documentPages(documentIndex).length === 1
                          ? 'Add Backside'
                          : 'Add Other side'
                  }}</span>
                </button>
              </div>
              <div
                fxLayout="row"
                fxLayoutAlign="space-evenly center"
                fxLayoutGap="5"
              >
                <button
                  mat-raised-button
                  color="primary"
                  class="sm-btn scanColor"
                  [disableRipple]="true"
                >
                  {{ 'Scan' }}
                </button>
                <button
                  mat-raised-button
                  color="light"
                  class="sm-btn uploadColor"
                  [disableRipple]="true"
                >
                  {{ 'Upload' }}
                  <input
                    #fileInput
                    type="file"
                    class="changeInput"
                    accept="image/*"
                    title=""
                    require
                    (click)="restrictUpload($event, document)"
                    (change)="otherUpload($event, documentIndex)"
                  />
                </button>
              </div>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
  </form>
  <mat-card class="document">
    <div
      [ngClass]="
        (documentNames?.length ?? 0) > currentIndex
          ? 'add-doc-btn'
          : 'disable-acc-doc'
      "
    >
      <span
        (click)="addDocumentItem()"
        (keydown.enter)="addDocumentItem()"
        tabindex="0"
        >{{ 'Add Another Document' }}
      </span>
    </div>
  </mat-card>

  <div
    class="w-100 px-48 mt-48"
    fxLayout="row"
    fxLayoutAlign="space-between center"
  >
    <button mat-raised-button class="reset-btn" style="color: #b20000">
      Exit
    </button>
    <button mat-raised-button class="submit-btn" (click)="saveDocument()">
      Submit
    </button>
  </div>
</div>
