.info-cont{
    width: 100%;
    padding: 10px 0px;
    // padding-bottom: 10px;
    border-bottom: 1px solid #E0E0E0;
    p{
        margin-bottom: 0 !important;
    }
}
.highlight_title_dd {
  font-family: var(--ic-primary-font-family);
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  text-align: left;
}
