<div fxLayout="column">
  <form
    *ngIf="createDocumentForm"
    [formGroup]="createDocumentForm"
    fxFlex="100"
    fxLayout="column"
  >
    <div formArrayName="otherDocument">
      <div
        *ngFor="let denomDetai of otherDocument().controls; let i = index"
        class="doc_card"
      >
        <div [formGroupName]="i" fxFlex="98%" fxLayout="column">
          <div class="outer-div" fxFlex="100" fxLayout="column">
            <div fxLayout="column">
              <ng-container
                *ngIf="
                  checkListDocList?.nonRequiredDocument?.length > 0 ||
                  denomDetai.value.documentType
                "
              >
                <mat-card class="card-subdiv">
                  <div fxFlex="100" fxLayoutGap="5">
                    <div
                      (fileDropped)="onFileDropped($event, i)"
                      [ngClass]="[
                        denomDetai.value.documentType &&
                        denomDetai.value.docRequired
                          ? ''
                          : 'drop_list_class',
                      ]"
                      appDragDrop
                      class="doc_upload"
                      fxFlex="90"
                    >
                      <div class="drag_drop" fxFlex="90">
                        <h3
                          *ngIf="
                            denomDetai.value.documentType &&
                              denomDetai.value.docRequired;
                            else showDropList
                          "
                          class="text-header"
                        >
                          {{
                            denomDetai.value.documentType
                          }}<span
                          *ngIf="denomDetai?.value?.docRequired"
                          class="required-star"
                        >*</span
                        >
                        </h3>
                        <ng-template #showDropList>
                          <mat-form-field
                            appearance="outline"
                            class="custom-doc-field"
                            fxFlex="95"
                          >
                            <mat-select
                              formControlName="documentType"
                              placeholder="Select Document"
                            >
                              <mat-option [value]="">Select</mat-option>
                              <mat-option
                                *ngFor="
                                  let nonReqDoc of checkListDocList?.nonRequiredDocument
                                "
                                [value]="nonReqDoc.document"
                              >{{ nonReqDoc.document }}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </ng-template>
                      </div>
                      <ic-button
                        (OnClick)="fileBrowseHandler(i)"
                        label="Upload"
                        size="medium"
                        type="button"
                      >
                        Upload
                      </ic-button>
                    </div>
                    <div
                      class="doc_upload"
                      fxFlex="10"
                      fxLayoutAlign="center center"
                    >
                      <ic-button
                        (OnClick)="deleteDocument(i)"
                        [disabled]="denomDetai.value.docRequired"
                        [icIcon]="
                          denomDetai.value.docRequired
                            ? 'delete-white'
                            : 'delete'
                        "
                        icButtonType="ghost"
                        type="icon"
                      ></ic-button>
                    </div>
                  </div>
                  <div
                    class="uploaded_list"
                    fxFlex="100"
                    fxLayout="row wrap"
                    fxLayoutGap="1%"
                  >
                    <div
                      *ngFor="let file of getFileInfo(i); let fileIndx = index"
                      fxFlex="32"
                    >
                      <div
                        (click)="openFile(file)"
                        (keydown.enter)="openFile(file)"
                        class="upload_img"
                        fxFlex="100"
                        tabindex="0"
                      >
                        <div
                          [style.width]="isOtherDocVisible ? '65px' : ''"
                          class="img_box"
                        >
                          <img [src]="getFileUrl(file)" alt="image" />
                        </div>
                        <div class="img_container">
                          <span class="breadcrum_sm_bold img_name">{{
                              file?.name
                            }}</span>
                          <div
                            *ngIf="file.progress === '100%'; else showSize"
                            class="progress-cont"
                          >
                            <div
                              [style.width]="file.progress ?? '0%'"
                              class="progress"
                            ></div>
                          </div>
                          <ng-template #showSize>
                            <div class="theme_sm">{{ file.size }}</div>
                          </ng-template>
                        </div>
                        <ic-icon
                          (click)="deleteFile(fileIndx, i, file)"
                          (keydown.enter)="deleteFile(fileIndx, i, file)"
                          class="cancel-icon"
                          name="close"
                          tabindex="1"
                        ></ic-icon>
                      </div>
                    </div>
                  </div>
                </mat-card>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div
    *ngIf="this.screenNameValue.toLowerCase().includes('national')"
    class="biometric-card-expansion-panel"
    fxLayout="column"
  >
    <h2 class="highlight_title pt-8">Face Capture</h2>
    <div
      class="upper-biometric-card"
      fxFlex="50"
      fxLayout="column"
      fxLayoutGap="5"
    >
      <div class="forSignImg" fxLayout="column">
        <div class="signdig" fxLayout="column" fxLayoutAlign="center center">
          <div class="biometric-card w-100" fxLayoutAlign="end center">
            <div *ngIf="image" class="deleteDiv" fxLayoutAlign="center center">
              <ic-button
                (click)="removeScannedFace()"
                [icButtonType]="'icon'"
                [icIcon]="image ? 'delete' : ''"
              ></ic-button>
            </div>
          </div>
          <img
            [src]="image ? baseUrl + image : 'assets/images/face.svg'"
            alt=""
            class="image"
          />
          <mat-hint *ngIf="!image" class="signiter" matSuffix
          >{{ 'Face Scan' }}
          </mat-hint>
        </div>
        <div [fxLayoutAlign]="'center center'" class="scan-title" fxFlex="20">
          <span
            (click)="openDialog()"
            (keydown.enter)="openDialog()"
            class="scan-btn"
            tabindex="0"
          >
            {{ !image ? 'Scan' : 'Re-Scan' }}
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="pt-12" fxLayoutAlign="start center" fxLayoutGap="20px">
    <ic-button
      (OnClick)="onSubmit()"
      [disabled]="isLoading && checkDocValidity()"
      [icButtonType]="'filled-rounded'"
      [isLoading]="isLoading"
      [label]="'Submit' | translate"
      [type]="'submit'"
      size="large"
    >
    </ic-button>
    <ic-button
      (OnClick)="onBack()"
      [label]="'Back'"
      [type]="'button'"
      icButtonType="ghost-rounded-danger"
      size="large"
    >
    </ic-button>
  </div>
</div>
