<div fxLayout="column">
  <form
    *ngIf="createDocumentForm"
    fxLayout="column"
    fxFlex="100"
    [formGroup]="createDocumentForm"
  >
    <div formArrayName="otherDocument">
      <div
        *ngFor="let denomDetai of otherDocument().controls; let i = index"
        class="doc_card"
      >
        <div fxFlex="98%" fxLayout="column" [formGroupName]="i">
          <div fxLayout="column" class="outer-div" fxFlex="100">
            <div fxLayout="column">
              <ng-container
                *ngIf="
                  checkListDocList?.nonRequiredDocument?.length > 0 ||
                  denomDetai.value.documentType
                "
              >
                <mat-card class="card-subdiv">
                  <div fxFlex="100" fxLayoutGap="5">
                    <div
                      appDragDrop
                      class="doc_upload"
                      fxFlex="90"
                      #fileInput
                      (FileDropped)="onFileDropped($event, i)"
                      [ngClass]="[
                        denomDetai.value.documentType &&
                        denomDetai.value.docRequired
                          ? ''
                          : 'drop_list_class',
                      ]"
                    >
                      <div class="drag_drop" fxFlex="90">
                        <h3
                          class="text-header"
                          *ngIf="
                            denomDetai.value.documentType &&
                              denomDetai.value.docRequired;
                            else showDropList
                          "
                        >
                          {{ denomDetai.value.documentType
                          }}<span
                            *ngIf="denomDetai?.value?.docRequired"
                            class="required-star"
                            >*</span
                          >
                        </h3>
                        <ng-template #showDropList>
                          <mat-form-field
                            appearance="outline"
                            class="custom-doc-field"
                            fxFlex="95"
                          >
                            <mat-select
                              formControlName="documentType"
                              placeholder="Select Document"
                            >
                              <mat-option [value]="">Select</mat-option>
                              <mat-option
                                [value]="nonReqDoc.document"
                                *ngFor="
                                  let nonReqDoc of checkListDocList?.nonRequiredDocument
                                "
                                >{{ nonReqDoc.document }}</mat-option
                              >
                            </mat-select>
                          </mat-form-field>
                        </ng-template>
                      </div>
                      <button
                        type="button"
                        mat-raised-button
                        class="button submit_btn"
                        (click)="fileBrowseHandler(i)"
                      >
                        Upload
                      </button>
                    </div>
                    <div
                      class="doc_upload"
                      fxFlex="10"
                      fxLayoutAlign="center center"
                    >
                      <ic-button
                        [icButtonType]="'icon'"
                        [icIcon]="'delete'"
                        [disabled]="true"
                      ></ic-button>
                    </div>
                  </div>
                  <div
                    fxLayout="row wrap"
                    fxFlex="100"
                    fxLayoutGap="1%"
                    class="uploaded_list"
                  >
                    <div
                      *ngFor="let file of getFileInfo(i); let fileIndx = index"
                      fxFlex="32"
                    >
                      <div
                        class="upload_img"
                        (click)="openFile(file)"
                        (keydown.enter)="openFile(file)"
                        tabindex="0"
                        fxFlex="100"
                      >
                        <div
                          class="img_box"
                          [style.width]="isOtherDocVisible ? '65px' : ''"
                        >
                          <img [src]="getFileUrl(file)" alt="image" />
                        </div>
                        <div class="img_container">
                          <span class="breadcrum_sm_bold img_name">{{
                            file?.name
                          }}</span>
                          <div
                            class="progress-cont"
                            *ngIf="file.progress === '100%'; else showSize"
                          >
                            <div
                              class="progress"
                              [style.width]="file.progress ?? '0%'"
                            ></div>
                          </div>
                          <ng-template #showSize>
                            <div class="theme_sm">{{ file.size }}</div>
                          </ng-template>
                        </div>
                        <ic-icon
                          class="cancel-icon"
                          name="close"
                          (click)="deleteFile(fileIndx, i, file)"
                          (keydown.enter)="deleteFile(fileIndx, i, file)"
                          tabindex="1"
                        ></ic-icon>
                      </div>
                    </div>
                  </div>
                </mat-card>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

  <div
    class="biometric-card-expansion-panel"
    *ngIf="ocrProcess"
    fxLayout="column"
  >
    <h2 class="highlight_title pt-8">Face Capture</h2>
    <div
      class="upper-biometric-card"
      fxFlex="50"
      fxLayoutGap="5"
      fxLayout="column"
    >
      <div class="forSignImg" fxLayout="column">
        <div
          class="signdig"
          fxLayout="column"
          fxLayoutAlign="flex-start center"
        >
          <div class="biometric-card w-100" fxLayoutAlign="end center">
            <div class="deleteDiv" fxLayoutAlign="center center">
              <ic-button
                [icButtonType]="'icon'"
                [icIcon]="'delete'"
                (click)="removeScannedFace()"
              ></ic-button>
            </div>
          </div>
          <img
            class="image"
            [src]="image ? baseUrl + image : 'assets/images/face.svg'"
            alt=""
          />
          <mat-hint *ngIf="!image" matSuffix class="signiter">{{
            'Face Scan'
          }}</mat-hint>
        </div>
        <div class="scan-title" fxFlex="20" [fxLayoutAlign]="'center center'">
          <span
            class="scan-btn"
            (click)="openDialog()"
            (keydown.enter)="openDialog()"
            tabindex="0"
          >
            {{ !image ? 'Scan' : 'Re-Scan' }}
          </span>
        </div>
      </div>
    </div>
  </div>

  <div fxLayoutGap="20px" fxLayoutAlign="start center" class="pt-12">
    <ic-button
      [label]="'Submit' | translate"
      [type]="'submit'"
      size="large"
      [icButtonType]="'filled-rounded'"
      [isLoading]="isLoading"
      [disabled]="isLoading && checkDocValidity()"
      (OnClick)="onSubmit()"
    >
    </ic-button>
    <ic-button
      [label]="'Back'"
      icButtonType="ghost-rounded-danger"
      size="large"
      [type]="'button'"
      (OnClick)="onBack()"
    >
    </ic-button>
  </div>
</div>
