<div fxLayout="column" *ngIf="createRdForm">
  <label class="highlight_title">Recurring Deposit Details</label>
  <form [formGroup]="createRdForm" fxLayout="column">
    <div class="row">
      <div class="col-md-6 col-12">
        <mat-form-field appearance="outline" class="full-width disable-field">
          <mat-label>Deposit Ammount</mat-label>
          <input
            matInput
            type="text"
            formControlName="depositAmmount"
            name="depositAmmount"
          />
        </mat-form-field>
      </div>
      <!-- <div class="col-md-6 col-12">
        <mat-form-field appearance="outline" class="full-width disable-field">
          <mat-label>Deposit Ammount</mat-label>
          <input
            matInput
            type="text"
            formControlName="depositAmmount"
            name="depositAmmount"
          />
        </mat-form-field>
      </div> -->
      <!-- <div class="col-md-6 col-12" style="margin-top: -4px">
        <fieldset class="yeardrop fieldset">
          <legend visible="true" class="legend-font legend">
            Deposit Period
          </legend>
          <div fxLayout="row" class="parentYearDiv">
            <mat-form-field appearance="outline" class="full-width inputSelect">
              <input
                matInput
                name="tenureYear"
                numbersOnly
                maxlength="2"
                placeholder="Year"
              />
            </mat-form-field>
            <span class="vl"></span>
            <mat-form-field appearance="outline" class="full-width inputSelect">
              <input
                matInput
                name="tenureMonth"
                numbersOnly
                maxlength="2"
                placeholder="Month"
              />
            </mat-form-field>
            <span class="vl"></span>

            <mat-form-field appearance="outline" class="full-width inputSelect">
              <input
                matInput
                name="tenureDays"
                numbersOnly
                maxlength="2"
                placeholder="Day"
              />
            </mat-form-field>
          </div>
        </fieldset>
      </div> -->
      <div class="col-md-6 col-12">
        <mat-form-field appearance="outline" class="full-width disable-field">
          <mat-label>Maturity Date</mat-label>
          <input
            matInput
            type="text"
            formControlName="maturityDate"
            name="maturityDate"
            [matDatepicker]="picker"
            readonly
          />
          <mat-datepicker-toggle matSuffix [for]="picker">
            <mat-icon matDatepickerToggleIcon>calendar_today</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-md-6 col-12">
        <mat-form-field appearance="outline" class="full-width disable-field">
          <mat-label>Interest Rate</mat-label>
          <input
            matInput
            type="text"
            formControlName="interestRate"
            name="interestRate"
          />
        </mat-form-field>
      </div>
      <div class="col-md-6 col-12">
        <mat-form-field appearance="outline" class="full-width disable-field">
          <mat-label>Maturity Ammount</mat-label>
          <input
            matInput
            type="text"
            formControlName="maturityAmount"
            name="maturityAmount"
          />
        </mat-form-field>
      </div>
      <div class="col-md-6 col-12">
        <mat-form-field appearance="outline" class="full-width disable-field">
          <mat-label>Deposit Holder Type</mat-label>
          <mat-select formControlName="ownerShip">
            <mat-option value="Self">Self</mat-option>
            <mat-option value="Joint">Joint</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-6 col-12">
        <mat-form-field appearance="outline" class="full-width disable-field">
          <mat-label>Customer Type</mat-label>
          <mat-select formControlName="typeOfCustomer">
            <mat-option value="Normal Customer">Normal Customer</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-6 col-12">
        <mat-form-field appearance="outline" class="full-width disable-field">
          <mat-label>Payout Type</mat-label>
          <mat-select formControlName="intrestPayout">
            <mat-option value="Cumulative">Cumulative</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-6 col-12">
        <mat-form-field appearance="outline" class="full-width disable-field">
          <mat-label>Payment Type</mat-label>
          <mat-select formControlName="paymentType">
            <mat-option value="account">Account</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-6 col-12">
        <mat-checkbox formControlName="autoRenew">Auto Renew</mat-checkbox>
      </div>
    </div>
    <div fxFlex="100" fxLayout="row" fxLayoutGap="2%" style="margin-top: 50px">
      <div>
        <button
          type="button"
          mat-raised-button
          class="saveButton"
          (click)="submitCreateFd()"
        >
          Save
        </button>
      </div>
      <div>
        <button type="button" mat-raised-button class="cancelButton">
          Cancel
        </button>
      </div>
    </div>
  </form>
</div>
