<div *ngIf="benificiaryDetailsForm">
  <mat-card class="full-width" fxLayout="column">
    <div class="sub-head" fxLayout="row" fxLayoutAlign="space-between center">
      <h2>Beneficiary Details</h2>
      <button
        mat-raised-button
        class="confirm-button"
        (click)="onSave()"
        *ngIf="componentName != 'BG Issuance'"
      >
        Save
      </button>
    </div>
    <div [formGroup]="benificiaryDetailsForm" fxLayout="column">
      <div fxLayout="row" fxLayoutGap="2%">
        <mat-form-field
          appearance="outline"
          class="fieldinput custom-field"
          fxFlex="23"
        >
          <mat-label>Beneficiary</mat-label>
          <input matInput type="text" formControlName="beneficiary" />
          <mat-error
            *ngIf="
              benificiaryDetailsForm.get('beneficiary').touched &&
              benificiaryDetailsForm.get('beneficiary').hasError('required')
            "
            >Beneficiary is required!</mat-error
          >
        </mat-form-field>
        <mat-form-field
          appearance="outline"
          class="fieldinput custom-field"
          fxFlex="73"
          *ngIf="componentName == 'BG Issuance'"
        >
          <mat-label>Purpose</mat-label>
          <input matInput type="text" formControlName="purpose" />
        </mat-form-field>
      </div>
      <ng-container
        *ngFor="let address of addressControle.controls; let i = index"
        [formGroup]="address"
      >
        <div fxLayout="row" fxLayoutGap="2%">
          <mat-form-field
            appearance="outline"
            class="fieldinput custom-field"
            fxFlex="48"
          >
            <mat-label>New Address line 1</mat-label>
            <input matInput type="text" formControlName="address1" />
            <mat-error
              *ngIf="
                address.get('address1').touched &&
                address.get('address1').hasError('required')
              "
              >New Address line 1 is required!</mat-error
            >
          </mat-form-field>
          <mat-form-field
            appearance="outline"
            class="fieldinput custom-field"
            fxFlex="48"
          >
            <mat-label>New Address line 2</mat-label>
            <input matInput type="text" formControlName="address2" />
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutGap="2%">
          <app-searchable-select
            fxFlex="23"
            [items]="countries"
            inputLabel="Country"
            bindLabelKey="countryName"
            bindValueKey="countryName"
            [control]="address.get('countryName')"
            customClass="custom-field"
          ></app-searchable-select>

          <mat-form-field
            appearance="outline"
            class="fieldinput custom-field"
            fxFlex="23"
          >
            <mat-label>Pin Code</mat-label>
            <input matInput type="text" formControlName="pincode" />
            <mat-icon
              matSuffix
              class="searchIcon"
              (click)="populatePincodeData()"
              >search</mat-icon
            >
          </mat-form-field>
          <mat-form-field
            appearance="outline"
            class="fieldinput custom-field"
            fxFlex="23"
          >
            <mat-label>State</mat-label>
            <input
              matInput
              type="stateName"
              formControlName="stateName"
              readonly
            />
            <mat-error
              *ngIf="
                address.get('stateName').touched &&
                address.get('stateName').hasError('required')
              "
              >State is required!</mat-error
            >
          </mat-form-field>
          <mat-form-field
            appearance="outline"
            class="fieldinput custom-field"
            fxFlex="23"
          >
            <mat-label>City</mat-label>
            <input matInput type="cityId" formControlName="cityId" readonly />
            <mat-error
              *ngIf="
                address.get('cityId').touched &&
                address.get('cityId').hasError('required')
              "
              >City is required!</mat-error
            >
          </mat-form-field>
        </div>
      </ng-container>
      <div
        fxLayout="row"
        fxLayoutGap="2%"
        *ngIf="componentName != 'BG Issuance'"
      >
        <mat-form-field
          appearance="outline"
          class="fieldinput custom-field"
          fxFlex="23"
        >
          <mat-label>Email Id</mat-label>
          <input
            matInput
            type="text"
            noInitialSpecialCharacters
            noSpace
            formControlName="email"
          />

          <mat-error
            *ngIf="benificiaryDetailsForm.get('email').hasError('pattern')"
          >
            Please enter Valid Email
          </mat-error>
        </mat-form-field>
        <div fxFlex="23" fxLayoutAlign="start center">
          <mat-slide-toggle formControlName="notifyBenificary">
          </mat-slide-toggle>
          <span style="padding-left: 10px"
            >Notify Beneficiary on transaction Completeion</span
          >
        </div>
      </div>
    </div>
    <span class="note-text" *ngIf="componentName == 'BG Issuance'"
      >Note: The bank has the discretion to modify the limit, Margin %, Margin
      type details provided as the part of the request</span
    >
  </mat-card>
</div>
