<div fxLayout="column" fxLayoutGap="3%">
  <div fxLayout="column">
    <div class="alertText">{{ message }}</div>
  </div>
  <div class="alertImage">
    <ng-container *ngIf="status; else error">
      <img class="summaryIcon" src="assets/images/success-logo.svg" alt="..."
    /></ng-container>
    <ng-template #error>
      <img class="summaryIcon" src="assets/images/error-icon.svg" alt="..."
    /></ng-template>
  </div>
  <br />
</div>
<div fxLayoutAlign="center center" class="btnClass">
  <ng-container *ngIf="status; else ok">
    <button
      type="button"
      mat-raised-button
      class="saveButton done_btn"
      (click)="done('Done')"
    >
      Done
    </button></ng-container
  >
  <ng-template #ok>
    <button
      type="button"
      mat-raised-button
      class="saveButton done_btn"
      (click)="done('Failed')"
    >
      Ok
    </button></ng-template
  >
</div>
