<div class="login m-12" fxLayout="row" fxLayoutGap="30px">
  <div class="image_section" fxFlex="50">
    <img
      src="assets/images/new-web-images/banner.png"
      class="banner"
      alt="Banner"
    />
  </div>

  <div class="login_section" fxFlex="50" fxFlex.xs="100">
    <div fxLayout="row wrap" fxLayoutAlign="start start" class="login-content">
      <!-- Logo Section -->
      <div
        fxFlex="100"
        fxLayout="row"
        fxLayoutAlign="center center"
        fxLayoutGap="8"
        class="logo-container"
      >
        <img
          src="assets/images/new-web-images/demoBankLogo.svg"
          alt="demologo"
          class="logo-img"
        />
        <h2 class="header_lg_bold_black bank_txt">Demo Bank</h2>
      </div>

      <div
        fxFlex="100"
        fxLayout="row"
        fxLayoutAlign="center center"
        class="top-spacing"
      >
        <span class="breadcrum_md">
          Enter your mobile number to get started.
        </span>
      </div>

      <div class="mobile-verify" *ngIf="otpForm" fxFlex="100"></div>

      <div fxFlex="100" fxLayoutAlign="center center" class="top-space">
        <ic-button
          fxFlex="60"
          customButtonClass="w-100 justify-content-center"
          [icButtonType]="'filled-rounded'"
          [label]="'Continue'"
          [type]="'submit'"
          size="large"
          class="w-100"
        >
        </ic-button>
      </div>

      <div class="top-space" fxLayoutAlign="center center" fxFlex="100">
        <img
          src="assets/images/new-web-images/verifyMobileContinue.png"
          alt="offer"
        />
      </div>
    </div>
  </div>
</div>
