<div class="align_fd">
  <div fxFlex="45" class="fdCalculator_parent">
    <div fxLayout="row">
      <div fxLayout="column" fxFlex="100">
        <div fxLayout="row">
          <div>
            <div class="deposit_icon">
              <img src="assets/images/Group_13675.svg" width="65%" />
            </div>
            <span class="vertical_line"></span>
          </div>
          <div fxLayout="column" style="padding-left: 33px">
            <div style="font-size: 22px; line-height: 33px; font-weight: 400">
              Get Your
            </div>
            <div style="font-size: 28px; line-height: 48px; font-weight: 600">
              {{ depositType == "FD" ? "Fixed" : "Recurring" }} Deposit
            </div>
            <div style="font-size: 22px; line-height: 33px; font-weight: 400">
              in 3 simple ways
            </div>
            <div class="fd_info_stat" fxLayout="row">
              <img src="assets/images/Group.svg" />
              <div>
                On an average, People get their savings account in 15 - 20 min
              </div>
            </div>
          </div>
        </div>
        <mat-stepper
          #stepper
          orientation="vertical"
          [linear]="isLinear"
          class="custom_steppper"
          [(selectedIndex)]="selectedStep"
          (selectionChange)="stepperSelectionChange($event)"
        >
          <ng-container *ngFor="let item of steper_Array; let i = index">
            <mat-step
              [stepControl]="item.stepFormControl"
              [label]="item.label"
            ></mat-step>
          </ng-container>
        </mat-stepper>
      </div>
    </div>
  </div>
  <div
    class="vertical_divider"
    style="border-right: 1px solid #cbcbcb; height: 450px; margin-right: 3%"
  ></div>

  <!-- <div class="custom_stepper" id="custom_stepper">
    <div style="display: flex; flex-direction: row">
      <div class="deposit_icon">
        <img src="assets/images/Group 13675.svg" width="65%" />
      </div>
      <span class="vertical_line"></span>
    </div>
    <mat-stepper #stepper>
      <mat-step label="Create FD"></mat-step>
      <mat-step label="Verify Mobile Number"></mat-step>
      <mat-step label="Personal Details">
        <mat-step label="Book FD"></mat-step>
  
      </mat-step>
    </mat-stepper>
  </div> -->

  <div
    class="align_fdForm"
    fxLayout="column"
    fxFlex="60"
    *ngIf="cuurrentStep == 'Create RD'"
  >
    <app-create-cd
      (customCreatRdForm)="customCreatRdForm($event)"
      (customSaveCreate)="customSaveCreate($event)"
    ></app-create-cd>
  </div>
  <div
    class="align_fdForm"
    fxFlex="60"
    fxLayout="column"
    *ngIf="cuurrentStep == 'Verify Mobile Number'"
  >
    <app-verify-number
      (customSaveVerify)="customSaveVerify($event)"
      (customFormGroupEmit)="customFormGroupEmit($event)"
    ></app-verify-number>
  </div>
  <div
    class="align_fdForm"
    fxFlex="60"
    *ngIf="cuurrentStep == 'Personal Details'"
  >
    <app-personal-details
      (customSavePersonal)="submitPersonalDetails($event)"
      (personalBack)="goBack()"
      (customFormGroup)="customFormGroup($event)"
    ></app-personal-details>
  </div>
  <div
    class="align_fdForm"
    fxLayout="column"
    fxFlex="60"
    *ngIf="cuurrentStep == 'Select KYC'"
  >
    <app-other-documents
      (customSaveDocument)="customSaveDocuments($event)"
      (customDocumentForm)="customDocumentForm($event)"
    ></app-other-documents>
  </div>
  <div class="align_fdForm" fxFlex="60" *ngIf="cuurrentStep == 'Book RD'">
    <app-book-fd
      [depositType]="depositType"
      (customSaveDocument)="customSaveRD($event)"
      (customDocumentForm)="rdForm($event)"
    ></app-book-fd>
  </div>
</div>
