<div class="align_fd">
  <div fxFlex="45" class="fdCalculator_parent">
    <app-commmon-steeper
      [screenTitle]="REPORT_TITLE"
      [screenList]="screenList"
      [screenIndex]="selectedStep"
      (customSelectionChange)="stepperSelectionChange($event)"
    ></app-commmon-steeper>
  </div>
  <div
    class="vertical_divider"
    style="border-right: 1px solid #cbcbcb; height: 450px; margin-right: 3%"
  ></div>

  <div
    class="align_fdForm"
    fxLayout="column"
    fxFlex="60"
    *ngIf="verifyStep('create')"
  >
    <app-create-cd
      (customSaveCreate)="customSaveCreate($event)"
    ></app-create-cd>
  </div>
  <div
    class="align_fdForm"
    fxFlex="60"
    fxLayout="column"
    *ngIf="verifyStep('mobile')"
  >
    <app-verify-number
      (customSaveVerify)="customSaveVerify($event)"
    ></app-verify-number>
  </div>
  <div class="align_fdForm" fxFlex="60" *ngIf="verifyStep('personal')">
    <app-common-personal-details
      (customSavePersonal)="customSavePersonal($event)"
       (personalBack)="goBack()"
       [customerInfo]="customerInfo"
    ></app-common-personal-details>
  </div>
  <div
    class="align_fdForm"
    fxLayout="column"
    fxFlex="60"
    *ngIf="verifyStep('kyc')"
  >
    <app-other-documents
      (customSaveDocument)="customSaveDocuments($event)"
      (customDocumentForm)="customDocumentForm($event)"
        (onBackEvent)="goBack()"
    ></app-other-documents>
  </div>
  <div class="align_fdForm" fxFlex="60" *ngIf="verifyStep('book')">
    <app-book-fd
      [depositType]="depositType"
      (customSaveDocument)="customSaveRD($event)"
      (customDocumentForm)="rdForm($event)"
      (customBookFdBack)="goBack()"
    ></app-book-fd>
  </div>
</div>
