<form class="pin_generation" [formGroup]="pinGenerationForm" fxLayout="column">
  <h3 class="light-blue-title">Pin Generation</h3>
  <mat-card fxLayout="column">
    <div class="default blue_card" fxLayout="column">
      <div fxFlex="100" fxLayout="row">
        <div fxLayout="column" class="blue-box" fxFlex="50">
          <span class="light-blue-title">{{ title | translate }}</span>
          <div fxLayout="row">
            <ic-select
              fxFlex="40"
              label="Card No"
              placeholder="Card No"
              [control]="pinGenerationForm.get('selectCard') | formcontrol"
              [options]="listOfAccounts"
              bindValueKey="cardNumber"
              bindLabelKey="cardNumber"
              selectionType="single"
              (selectionChange)="patchDetails($event)"
            >
            </ic-select>
            <div
              fxLayout="column"
              fxLayoutAlign="center center"
              class="label-info m-12"
            >
              <span class="label-info">
                {{ title | translate }} | {{ 'Name' | translate }} -
                {{ typeofCard }}
              </span>
            </div>
          </div>
        </div>

        <div fxFlex="20" class="input_wrapper">
          <app-ic-custom-input
            [control]="pinGenerationForm.get('cvv') | formcontrol"
            [inputLabel]="'Enter CVV' | translate"
          ></app-ic-custom-input>
        </div>

        <div fxFlex fxLayoutGap="10" fxLayoutAlign="end center" class="mt-8">
          <ic-button
            label="Back"
            icButtonType="outlined"
            type="submit"
            size="large"
          ></ic-button>
          <ic-button
            label="Get Otp"
            (click)="getOtp()"
            icButtonType="filled"
            type="submit"
            size="large"
          ></ic-button>
        </div>
      </div>
    </div>
    <p *ngIf="otp === true">
      {{
        'You will receive an otp on your register mobile no. 7654324567/email ID.Please enter the same to continue'
          | translate
      }}.
    </p>
    <div
      fxLayout="row"
      fxLayoutAlign="space-between center"
      *ngIf="otp === true"
    >
      <div fxFlex="20" class="input_wrapper">
        <!-- <app-ic-custom-input
          [control]="pinGenerationForm.get('otp') | formcontrol"
        ></app-ic-custom-input> -->
        <ic-form-field
          placeholder="OTP"
          [control]="pinGenerationForm.get('otp') | formcontrol"
          [label]="'OTP' | translate"
        ></ic-form-field>
      </div>
      <div fxFlex class="input_wrapper" class="resend_otp_section">
        <p>{{ 'Didnt receive the OTP?' | translate }}</p>
        <p>{{ 'Resend Code' | translate }}</p>
      </div>
    </div>
    <div
      fxFlex="50"
      fxLayoutAlign="end center"
      fxLayoutGap="10"
      *ngIf="otp === true"
    >
      <ic-button
        label="Cancel"
        icButtonType="outlined"
        type="submit"
        size="large"
      ></ic-button>
      <ic-button
        label="Subscription"
        (click)="proceed()"
        icButtonType="filled"
        type="submit"
        size="large"
        [disabled]="pinGenerationForm.invalid"
      ></ic-button>
    </div>
  </mat-card>
</form>
