<form class="pin_generation" [formGroup]="pinGenerationForm" fxLayout="column">
  <h3 class="light-blue-title">Pin Generation</h3>
  <mat-card fxLayout="column">
    <!-- <div fxFlex="100"> -->
    <div class="default blue_card" fxLayout="column">
      <div fxFlex="100" fxLayout="row">
        <!--  <div fxFlex="20" class="input_wrapper">
          <app-searchable-select
            [items]="listOfAccounts"
            [inputLabel]="'Select Card' | translate"
            bindValueKey="cardNumber"
            bindLabelKey="cardNumber"
            [control]="pinGenerationForm.get('selectCard')"
            (selectionChange)="patchDetails($event)"
          >
          </app-searchable-select>
        </div>
        <div fxFlex="25" fxLayoutAlign="start center" class="input_wrapper">
          <p class="mt-8 mb-0">
            {{ title | translate }} | {{ "Name" | translate }} -
            {{ typeofCard | translate }}
          </p>
        </div> -->
        <div fxLayout="column" class="blue-box" fxFlex="50">
          <span class="light-blue-title">{{ title | translate }}</span>
          <div fxLayout="row">
            <app-ic-custom-pay-from
              [control]="pinGenerationForm.get('selectCard') | formcontrol"
              [inputLabel]="'Card No' | translate"
              bindValueKey="cardNumber"
              bindLabelKey="cardNumber"
              [items]="listOfAccounts"
              (selectionChange)="patchDetails($event)"
            ></app-ic-custom-pay-from>
            <div
              fxLayout="column"
              fxLayoutAlign="center center"
              class="label-info m-12"
            >
              <span class="label-info">
                {{ title | translate }} | {{ "Name" | translate }} -
                {{ typeofCard }}
              </span>
            </div>
          </div>
        </div>

        <div fxFlex="20" class="input_wrapper">
          <app-ic-custom-input
            [control]="pinGenerationForm.get('cvv') | formcontrol"
            [inputLabel]="'Enter CVV' | translate"
          ></app-ic-custom-input>
        </div>

        <div fxFlex fxLayoutGap="10" fxLayoutAlign="end center" class="mt-8">
          <app-ic-action-button buttonName="Back" buttonType="stroked">
          </app-ic-action-button>
          <app-ic-action-button
            [buttonName]="'Get Otp' | translate"
            buttonType="filled"
            (onClick)="getOtp()"
          ></app-ic-action-button>
        </div>
      </div>
    </div>
    <p *ngIf="otp === true">
      {{
        "You will receive an otp on your register mobile no. 7654324567/email ID.Please enter the same to continue"
          | translate
      }}.
    </p>
    <div
      fxLayout="row"
      fxLayoutAlign="space-between center"
      *ngIf="otp === true"
    >
      <div fxFlex="20" class="input_wrapper">
        <app-ic-custom-input
          [control]="pinGenerationForm.get('otp') | formcontrol"
        ></app-ic-custom-input>
      </div>
      <div fxFlex class="input_wrapper" class="resend_otp_section">
        <p>{{ "Didnt receive the OTP?" | translate }}</p>
        <p>{{ "Resend Code" | translate }}</p>
      </div>
    </div>
    <div
      fxFlex="50"
      fxLayoutAlign="end center"
      fxLayoutGap="10"
      *ngIf="otp === true"
    >
      <app-ic-action-button
        [buttonName]="'Cancel' | translate"
        buttonType="stroked"
      >
      </app-ic-action-button>
      <app-ic-action-button
        [buttonName]="'Subscription' | translate"
        (click)="proceed()"
        buttonType="filled"
        [disabled]="pinGenerationForm.invalid"
      >
      </app-ic-action-button>
    </div>
    <!-- </div> -->
  </mat-card>
</form>
