<div
  *ngIf="preGeneratedStatementForm"
  [formGroup]="preGeneratedStatementForm"
  fxLayout="column"
  fxLayoutGap="16px"
>
  <h3>Pre Generated Statement</h3>
  <mat-card>
    <div class="w-100" fxLayout="row" fxLayoutAlign="center center">
      <h3>{{ "Loan Account Number" | translate }}</h3>
      <div
        class="w-100"
        fxLayout="row"
        fxLayoutGap="16px"
        fxLayoutAlign="start center"
      >
        <app-searchable-select
          fxFlex="24"
          [control]="preGeneratedStatementForm.get('debitAccount')"
          [items]="loanDetails"
          bindValueKey="cbsAccountNumber"
          bindLabelKey="cbsAccountNumber"
          (selectionChange)="fetchLoanInstallment()"
        >
        </app-searchable-select>
        <h5>{{ installmentDetails?.loanType }}</h5>
      </div>
    </div>
    <div
      fxLayout="column"
      fxLayoutGap="16px"
      class="expansionPanelGap"
      *ngFor="let data of preGeneratedDetails"
    >
      <mat-expansion-panel class="default-expansion-panel">
        <mat-expansion-panel-header>
          <mat-panel-title>{{ data?.year }}</mat-panel-title>
        </mat-expansion-panel-header>
        <div
          class="yearlyStatement"
          fxLayout="row wrap"
          fxLayoutGap="16px"
          fxLayoutAlign="start space-between"
        >
          <app-ic-action-button
            class="mt-12"
            *ngFor="let month of data?.monthly"
            [buttonName]="month?.month + ' ' + data?.year"
            buttonType="stroked"
            matIcon="download"
          ></app-ic-action-button>
        </div>
      </mat-expansion-panel>
    </div>
  </mat-card>
</div>
