.statementYear {
  color: #00205c;
  opacity: 1;
}

.yearlyStatement {
  background: #e5e9ef 0% 0% no-repeat padding-box;
  border-radius: 4px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  padding: 14px;
  opacity: 1;
}
.expansionPanelGap {
  margin-bottom: 16px;
}
