.cardHeading {
  color: var(--current-theme-background);
  font-size: 19px;
  padding: 7px;
  font-weight: 500;
}
.headerFont {
  color: #606c8d;
}
.bodyFont {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  margin: 0 auto;
}
table td {
  padding: 1rem;
  border: 5px solid black;
}
table tr:first-child td {
  border-top: 0;
}
table tr td:first-child {
  border-left: 0;
}
table tr:last-child td {
  border-bottom: 0;
}
table tr td:last-child {
  border-right: 0;
}
// table, th, td {
//   border: 1px solid black;
//   border-collapse: collapse;
//   border-top: none;
//   border-left: none;
//   // border-right: none;
// }
.currency_code {
  background-color: rgba(0, 76, 151, 0.1411764706);
  border: 2px solid #004c97;
  border-radius: 4px;
  /* padding: 2px 6px 2px 10px; */
  font-size: 10px;
  margin-top: -5px;
  color: #004c97;
  font-weight: 600;
  margin-left: 5px;
  width: 100px !important;
  height: 24px !important;
}
