<div>
  <mat-expansion-panel class="default-expansion-panel">
    <mat-expansion-panel-header>
      <mat-panel-description class="cardHeading">
        Beneficiary Details
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div fxLayout="column" fxLayoutAlign="space-between">
      <div fxLayout="row" fxLayoutGap="5" fxLayoutAlign="space-between">
        <div fxLayout="column">
          <div class="headerFont">Beneficiary Name</div>
          <div class="bodyFont">Gayathri</div>
        </div>
        <div fxLayout="column">
          <div class="headerFont">Address Line 1</div>
          <div class="bodyFont">23,xzcvdhdghdhd,sfvdbdbxvbx</div>
        </div>
        <div fxLayout="column">
          <div class="headerFont">Address Line 2</div>
          <div class="bodyFont">zxczxyuchj,nvghfytgjh</div>
        </div>
      </div>
      <mat-divider style="margin-top: 30px"></mat-divider>
      <div
        fxLayout="row"
        fxLayoutAlign="space-between"
        style="margin-top: 20px"
      >
        <div fxLayout="column">
          <div class="headerFont">Country</div>
          <div class="bodyFont">India</div>
        </div>
        <div fxLayout="column">
          <div class="headerFont">Zipcode</div>
          <div class="bodyFont">560043</div>
        </div>
        <div fxLayout="column">
          <div class="headerFont">State</div>
          <div class="bodyFont">Karnataka</div>
        </div>
        <div fxLayout="column">
          <div class="headerFont">City</div>
          <div class="bodyFont">Bangalore</div>
        </div>
        <div fxLayout="column">
          <div class="headerFont">Beneficiary Account</div>
          <div class="bodyFont">656776576567</div>
        </div>
      </div>
      <mat-divider style="margin-top: 30px"></mat-divider>
      <div fxLayout="row" fxLayoutAlign="space-around" style="margin-top: 20px">
        <div>
          <!-- <table>
                <tr>
                  <td>1 INR 567575765</td>
                  <td>2 
                    INR
                    567575765</td>
                </tr>
                <tr>
                  <td>1 INR 567575765</td>
                  <td>2 INR 567575765</td>
                </tr>
              </table> -->
        </div>
        <div>Issuing Branch</div>
      </div>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel class="default-expansion-panel" style="margin-top: 10px">
    <mat-expansion-panel-header>
      <mat-panel-description class="cardHeading">
        Beneficiary Bank
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div fxLayout="column" fxLayoutAlign="space-around">
      <div fxLayout="row" fxLayoutAlign="space-between">
        <div fxLayout="column">
          <div class="headerFont">Beneficiary Bank</div>
          <div class="bodyFont">Gayathri</div>
        </div>
        <div fxLayout="column">
          <div class="headerFont">Address Line 1</div>
          <div class="bodyFont">34,cvttru,vdbdghdghdh</div>
        </div>
        <div fxLayout="column">
          <div class="headerFont">Address Line 2</div>
          <div class="bodyFont">zcvfgfsdg,sfvxbbx</div>
        </div>
      </div>
      <mat-divider style="margin-top: 30px"></mat-divider>
      <div
        fxLayout="row"
        fxLayoutAlign="space-between"
        style="margin-top: 20px"
      >
        <div fxLayout="column">
          <div class="headerFont">Country</div>
          <div class="bodyFont">India</div>
        </div>
        <div fxLayout="column">
          <div class="headerFont">Zipcode</div>
          <div class="bodyFont">767677</div>
        </div>
        <div fxLayout="column">
          <div class="headerFont">State</div>
          <div class="bodyFont">Karnataka</div>
        </div>
        <div fxLayout="column">
          <div class="headerFont">City</div>
          <div class="bodyFont">Bangalore</div>
        </div>
        <div fxLayout="column">
          <div class="headerFont">Swift Code</div>
          <div class="bodyFont">4564747674</div>
        </div>
      </div>
      <mat-divider style="margin-top: 30px"></mat-divider>
      <div fxLayout="row" fxLayoutAlign="start start" style="margin-top: 20px">
        <div fxLayout="column">
          <div class="headerFont">IBAN Number/ Routing no US/Sort code GBP</div>
          <div class="bodyFont">35646578578</div>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
</div>
