.features {
  @mixin cards_more_details($size, $weight, $color) {
    font-family: var(--ic-primary-font-family);
    font-size: #{$size}px;
    font-weight: $weight;
    color: $color;
  }

  .title {
    @include cards_more_details(24, 600, #06113c);
  }

  .description {
    @include cards_more_details(18, 400, #4c5371);
  }

  .banner_card {
    background: linear-gradient(90deg, #004c97 0%, #06113c 100%);
    border-radius: 16px;
    padding: 24px;
    margin: 1% 0% 1% 0%;
    .banner_title {
      @include cards_more_details(24, 600, #ffffff);
    }
    .banner_description {
      @include cards_more_details(14, 400, #ffffff);
    }
    .banner_types {
      margin: 2% 0% 0% 0%;
      .banner_star_icon {
        background-color: #ffffff33;
        padding: 12px;
        border-radius: 8px;
      }
      .type_content {
        .type_title {
          @include cards_more_details(16, 600, #ffffff);
        }
        .type_description {
          @include cards_more_details(14, 400, #ffffff);
        }
      }
    }
  }

  .card_info {
    .title {
      @include cards_more_details(20, 700, #06113c);
    }
    .cards {
      border: solid #c6c6c6 1px;
      border-radius: 12px;
      padding: 24px;
      width: 48%;
      margin: 2% 0% 0% 0%;
      .card_star_icon {
        background-color: #f8f9fa;
        padding: 12px;
        border-radius: 8px;
        height: 40%;
      }
      .card_content {
        .title {
          @include cards_more_details(16, 600, #06113c);
        }
        .description {
          @include cards_more_details(14, 400, #6b7280);
        }
        .options {
          .label {
            padding: 8px;
            border: solid #c6c6c666 0.5px;
            border-radius: 4px;
            background-color: #f5faff;
            @include cards_more_details(12, 400, #004c97);
          }
        }
      }
    }
  }
}
