<button
  mat-flat-button
  fxLayout="row"
  fxLayoutAlign="center center"
  (click)="clickHandler($event)"
  [ngClass]="{
    filled_btn: buttonType === 'filled',
    stroked_btn: buttonType === 'stroked',
    close_stroked: buttonType === 'close-stroked',
    blue_stroked: buttonType === 'blue-stroked',
    filled_curved_btn: buttonType === 'filled-curved',
    stroked_curved_btn: buttonType === 'stroked-curved'
  }"
  [disabled]="disabled"
>
  <ng-container *ngIf="matIcon">
    <mat-icon class="suffix_icon" [svgIcon]="matIcon"></mat-icon
  ></ng-container>
  <ng-container *ngIf="iconSrc">
    <img [src]="iconSrc" height="20" width="20" class="mr-8" />
  </ng-container>
  {{ buttonName | translate }}
</button>
