<section class="container-fluid hero_section">
  <div class="row align-items-center">
    <div
      class="col-12 col-lg-6 col-md-6 py-3 pt-md-5 pb-md-3 order-1 order-lg-0"
    >
      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-11 col-md-11 ml-auto">
            <h1 class="hero_title">
              Secure Your Future<br />with Guaranteed<br />Returns.
            </h1>
            <p class="hero_subtitle">
              A safe and accessible solution to manage your finances. Enjoy the
              convenience of instant access while your money grows securely.
              Start banking with us today and take control of your financial
              journey.
            </p>
            <div class="apply_div">
              <!-- <button type="button" class="apply_btn" (click)="apply()">
                Apply
              </button> -->
              <ic-button
                label="Apply"
                icButtonType="filled-rounded"
                type="submit"
                size="large"
                (click)="apply()"
              ></ic-button>
            </div>
            <div class="stacked_imgs_div">
              <div class="img_wrapper">
                <img
                  src="../../../../../../../assets/images/user-profile-pic-1.svg"
                  alt=""
                  class="stacked_images"
                />
                <img
                  src="../../../../../../../assets/images/user-profile-pic-2.svg"
                  alt=""
                  class="stacked_images"
                />
                <img
                  src="../../../../../../../assets/images/user-profile-pic-3.svg"
                  alt=""
                  class="stacked_images"
                />
              </div>
              <div class="stacked_div_text">
                <h2>4K+</h2>
                <p>users worldwide</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="col-12 col-lg-6 col-md-6 order-0 order-lg-1 d-flex justify-content-end align-items-center pt-3 pr-0"
    >
      <img
        [src]="imageUrl"
        alt="hero image"
        class="img-fluid deposit_hero_img"
      />
    </div>
  </div>
</section>

<div fxLayout="column" style="padding: 1% 2% 2%">
  <div>
    <app-fd-rd-calculator
      (customDepositChange)="customDepositChange($event)"
    ></app-fd-rd-calculator>
  </div>
  <div fxLayout="column">
    <div fxLayoutAlign="center center" class="section_heading">
      Instant Growth {{ fdRdName }}
    </div>
    <div fxLayoutAlign="center center" class="section_subHeading">
      Maximize Your Savings with {{ fdRdFullName }} Deposit: Earn Guaranteed
      Returns on Your Investment.
    </div>
    <div style="margin: 2% 0%">
      <app-growth-fd-animation
        [depositName]="depositName"
      ></app-growth-fd-animation>
    </div>
  </div>
  <div class="mt-28">
    <app-deposit-faq></app-deposit-faq>
  </div>
  <div class="mt-70">
    <app-news-letter-slider></app-news-letter-slider>
  </div>
</div>
