<div fxLayout="column">
  <div class="kycToggle" fxFlex="100">
    <button
      fxFlex="50"
      class="col-md-6"
      [ngClass]="kycToggle == 'kyc' ? 'toggled' : ''"
      (click)="kycToggle = 'kyc'"
      mat-raised-button
    >
      Select Kyc
    </button>
    <button
      fxFlex="50"
      class="col-md-6"
      [ngClass]="kycToggle == 'addDoocuent' ? 'toggled' : ''"
      (click)="kycToggle = 'addDoocuent'"
      mat-raised-button
    >
      Use Other Documents
    </button>
  </div>
  <!--select start here -->
  <div *ngIf="kycToggle == 'kyc'">
    <app-select-kyc (customgoBack)="goBack()"> </app-select-kyc>
  </div>
  <!-- select kyc  ends here -->

  <!-- other documents start here -->
  <ng-container *ngIf="kycToggle == 'addDoocuent'">
    <app-web-doc-upload
      [verificationType]="verificationType"
      (onCustomSubmit)="onConfirmEvent($event)"
      [documentList]="documentList"
      [genericScreenInfo]="genericScreenInfo"
    ></app-web-doc-upload>
  </ng-container>
  <!-- other documents ends here -->
</div>
