<section class="newsletter">
  <div [formGroup]="emailForm" class="container">
    <div class="row newsletter_container">
      <div class="col-12 col-md-6 d-flex justify-content-center">
        <div class="newsletter_text">
          <h2>Subscribe Newsletter</h2>
          <p>I will update good news and promotion service not spam</p>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div
          class="input_box"
          data-aos="fade-right"
          data-aos-anchor-placement="center-bottom"
          data-aos-delay="200"
          data-aos-duration="500"
        >
          <input
            type="text"
            placeholder="Enter your email address..."
            formControlName="email"
          />
          <button type="button">Contact Now</button>
        </div>
        <span
          class="custom_error_nl ml-24"
          *ngIf="emailForm.get('email')?.hasError('pattern')"
        >
          Invalid email address
        </span>
        <span
          class="custom_error_nl ml-24"
          *ngIf="
            emailForm.get('email')?.touched &&
            emailForm.get('email')?.hasError('required')
          "
        >
          Email address is required!
        </span>
      </div>
      <img
        class="blue_rect"
        src="assets/images/Rectangle 31.svg"
        alt="Rectangle 31.svg"
      />
      <img
        class="dots_img dots_top"
        src="assets/images/Group 75.svg"
        alt="Group 75.svg"
      />
      <img
        class="dots_img dots_bottom"
        src="assets/images/Group 73.svg"
        alt="Group 73.svg"
      />
    </div>
  </div>
</section>
