<section class="newsletter">
  <div [formGroup]="emailForm" class="w-100">
    <div
      class="row newsletter_container"
      fxLayout="row"
      fxLayoutAlign="space-between center"
    >
      <div fxFlex="50">
        <div class="newsletter_text">
          <h2>Subscribe Newsletter</h2>
          <p>I will update good news and promotion service not spam</p>
        </div>
      </div>
      <div fxFlex="50">
        <div
          class="input_box"
        >
          <input
            formControlName="email"
            placeholder="Enter your email address..."
            type="text"
          />
          <button type="button">Contact Now</button>
        </div>
        <span
          *ngIf="emailForm.get('email')?.hasError('pattern')"
          class="custom_error_nl ml-24"
        >
          Invalid email address
        </span>
        <span
          *ngIf="
            emailForm.get('email')?.touched &&
            emailForm.get('email')?.hasError('required')
          "
          class="custom_error_nl ml-24"
        >
          Email address is required!
        </span>
      </div>
      <img
        alt="Rectangle 31.svg"
        class="blue_rect"
        src="assets/images/Rectangle 31.svg"
      />
      <img
        alt="Group 75.svg"
        class="dots_img dots_top"
        src="assets/images/Group 75.svg"
      />
      <img
        alt="Group 73.svg"
        class="dots_img dots_bottom"
        src="assets/images/Group 73.svg"
      />
    </div>
  </div>
</section>
