.trade_heading {
  font-size: 24px;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
}

.transaction-grid-card {
  padding: 0px !important;
  margin: 10px 0;
  border-radius: 18px 18px;
  .header-container {
    min-height: 59px;
    padding: 10px 0;
    color: #6e7582;
    font-size: 17px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;

    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 9px #0000001c;
    border-radius: 18px 18px 0px 0px;
  }
  .customtable-cell {
    &:first-child .cell_text {
      min-width: 70%;
    }
    border-right: 1px solid #ccc;

    &:last-child {
      border-right: none !important;
    }
  }
  .row-cell {
    height: 30px !important;
    color: #00000f;
    font-weight: 800;
  }

  ::ng-deep .custom-expansion-panel {
    box-shadow: none;
    margin: 1% 2% 1% 2% !important;
    .mat-expansion-panel-header {
      background: #e9ecf5 0% 0% no-repeat padding-box !important;
      height: 39px !important;
    }
    .mat-expansion-panel-body {
      padding: 0px 0px 16px 0px !important;
    }
  }
}

.note_text {
  color: #949494;
  font-size: 14px;
}
