<div class="filter_section_container">
  <form
    [formGroup]="filterForm"
    fxLayout="row wrap"
    fxLayout.lt-sm="column"
    fxLayoutAlign="space-between center"
    class="filter_form"
  >
    <!-- <mat-form-field
      *ngIf="componentName === 'securityPolicy'"
      appearance="outline"
      fxFlex="13"
      fxFlex.sm="22"
      fxFlex.xs="45"
      class="fieldinput reuseFilterField"
    >
      <mat-label>{{ "Status" | translate }}</mat-label>
      <mat-select
        [formControl]="status"
        (selectionChange)="getFilterValueByStatus($event.value)"
        disableOptionCentering
      >
        <mat-option [value]="item" *ngFor="let item of statusOptions"
          >{{ item?.authStatus }}/{{ item?.recordStatus }}</mat-option
        >
      </mat-select>
    </mat-form-field> -->

    <!-- Approved -->
    <mat-form-field
      appearance="outline"
      [fxFlex]="componentName === 'securityPolicy' ? 18 : 13"
      fxFlex.sm="22"
      fxFlex.xs="45"
      class="fieldinput reuseFilterField"
    >
      <mat-label>{{ "Approved" | translate }}</mat-label>
      <mat-select
        formControlName="authStatus"
        (selectionChange)="getFilterValue($event.value)"
        disableOptionCentering
      >
        <mat-option value="">{{ "Both" | translate }}</mat-option>
        <mat-option value="AUTHORIZED">{{ "Approved" | translate }}</mat-option>
        <mat-option value="UNAUTHORIZED">{{
          "Unapproved" | translate
        }}</mat-option>
      </mat-select>
    </mat-form-field>
    <!-- Active Status -->
    <mat-form-field
      *ngIf="componentName !== 'securityPolicy'"
      appearance="outline"
      class="fieldinput reuseFilterField"
      fxFlex="13"
      fxFlex.sm="22"
      fxFlex.xs="45"
    >
      <mat-label>{{ "Active Status" | translate }}</mat-label>
      <mat-select
        formControlName="recordStatus"
        (selectionChange)="getFilterValue($event.value)"
        disableOptionCentering
      >
        <mat-option value="">{{ "Both" | translate }}</mat-option>
        <mat-option value="OPEN">{{ "Active" | translate }}</mat-option>
        <mat-option value="CLOSE">{{ "Inactive" | translate }}</mat-option>
      </mat-select>
    </mat-form-field>
    <!-- Action By -->
    <mat-form-field
      appearance="outline"
      class="fieldinput customArrow"
      [fxFlex]="componentName === 'securityPolicy' ? 18 : 13"
      fxFlex.sm="22"
      fxFlex.xs="45"
    >
      <mat-label>{{ "Action By" | translate }}</mat-label>
      <mat-select
        formControlName="lastUpdatedBy"
        (selectionChange)="getFilterValue($event.value)"
        disableOptionCentering
        panelClass="sticky_panel"
      >
        <div class="search_container">
          <mat-form-field
            [floatLabel]="'never'"
            fxFill
            appearance="outline"
            class="full-width search_field"
          >
            <input
              matInput
              placeholder="Search"
              [formControl]="filterFormControl"
              (keydown.space)="$event.stopPropagation()"
              maxlength="30"
              (blur)="clear()"
            />
            <button
              matSuffix
              mat-icon-button
              aria-label="company"
              class="l-16 close-btn"
              (click)="clear()"
            >
              <mat-icon *ngIf="filterFormControl.value">clear</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <mat-select-trigger
          >{{ filterForm.get("lastUpdatedBy").value }}
        </mat-select-trigger>

        <mat-option
          *ngFor="let item of filteredOptions$; let i = index"
          [value]="item.username"
        >
          <div fxLayout="row" fxLayoutAlign="start center">
            <div fxFlex="30">
              <ng-container
                *ngIf="item?.profileUrl !== 'NOT_EXIST'; else showInitialAvatar"
              >
                <img
                  [src]="item.profileUrl"
                  [src-fallback]="userImage"
                  (loaded)="onLoaded($event, i)"
                  class="avatar-2x"
                />
              </ng-container>
              <ng-template #showInitialAvatar>
                <div class="circle">
                  <span class="initials">
                    {{ item.username[0][0]?.toUpperCase()
                    }}{{ item.username[1][0]?.toUpperCase() }}</span
                  >
                </div>
              </ng-template>
            </div>
            <div fxFlex="70" fxLayout="column">
              <span class="h-7">
                <b>
                  {{ item.username }}
                </b>
              </span>
              <h6 *ngIf="item.empId !== null" class="empColor">
                EMP #{{ item.empId }}
              </h6>
            </div>
          </div>
        </mat-option>
        <mat-option
          class="hide-role-checkbox"
          *ngIf="filteredOptions$?.length < 1"
        >
          No Data Found
        </mat-option>
      </mat-select>
    </mat-form-field>
    <!-- Action Date -->
    <mat-form-field
      appearance="outline"
      class="fieldinput customArrow"
      [fxFlex]="componentName === 'securityPolicy' ? 18 : 13"
      fxFlex.sm="22"
      fxFlex.xs="45"
    >
      <mat-label>{{ "Action Date" | translate }}</mat-label>
      <mat-select formControlName="createdDate" disableOptionCentering>
        <mat-option
          *ngFor="let option of actionDateOptions"
          [value]="option.value"
          (click)="getFilterValue(option.value)"
        >
          {{ option.label | translate }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <!-- Any new filter section -->
    <mat-form-field
      appearance="outline"
      class="fieldinput customArrow"
      fxFlex="13"
      fxFlex.sm="22"
      fxFlex.xs="45"
      *ngIf="newFilter"
    >
      <mat-label>{{ newFilter.name }}</mat-label>
      <mat-select
        formControlName="newFilter"
        (selectionChange)="getFilterValue($event.value)"
        disableOptionCentering
      >
        <mat-option
          *ngFor="let item of newFilter.options"
          [value]="item.value"
          >{{ item.option }}</mat-option
        >
      </mat-select>
    </mat-form-field>

    <mat-form-field
      appearance="outline"
      class="fieldinput customArrow"
      fxFlex="13"
      fxFlex.sm="22"
      fxFlex.xs="45"
      *ngIf="stateModuleFilter"
    >
      <mat-label>{{ FilternameState.name }}</mat-label>
      <mat-select
        formControlName="FilternameState"
        (selectionChange)="getFilterValue($event.value)"
        disableOptionCentering
      >
        <mat-option
          *ngFor="let item of FilternameState.options"
          [value]="item.value"
          >{{ item.option }}</mat-option
        >
      </mat-select>
    </mat-form-field>
    <!-- Refresh icon -->
    <div class="refreshIcon" (click)="clearFilter()" title="Reset">
      <mat-icon svgIcon="refresh-icon" class="autornewIcon"></mat-icon>
    </div>
    <!-- search box -->
    <div
      fxLayoutAlign="center center"
      fxFlex="{{ fxFlexForCol1 }}"
      class="searchBox"
    >
      <div fxFlex="90" fxLayoutAlign="start center">
        <input
          matInput
          type="text"
          #searchVal
          appNoInitialSpace
          placeholder="Search"
          formControlName="searchValue"
          class="searchInput"
          notAllowFirstSpace
        />
      </div>
      <div fxFlex="10" fxLayoutAlign="center center">
        <mat-icon matSuffix class="searchIcon">search</mat-icon>
      </div>
    </div>
  </form>
</div>
