<div class="filter_section_container">
  <form
    [formGroup]="filterForm"
    fxLayout="row wrap"
    fxLayout.lt-sm="column"
    fxLayoutAlign="left center"
    fxLayoutGap="10px"
    class="filter_form"
  >
    <!-- <mat-form-field
      *ngIf="componentName === 'securityPolicy'"
      appearance="outline"
      fxFlex="13"
      fxFlex.sm="22"
      fxFlex.xs="45"
      class="fieldinput reuseFilterField"
    >
      <mat-label>{{ "Status" | translate }}</mat-label>
      <mat-select
        [formControl]="status"
        (selectionChange)="getFilterValueByStatus($event.value)"
        disableOptionCentering
      >
        <mat-option [value]="item" *ngFor="let item of statusOptions"
          >{{ item?.authStatus }}/{{ item?.recordStatus }}</mat-option
        >
      </mat-select>
    </mat-form-field> -->
    <!-- upload file -->
    <div
      fxLayout="row"
      fxFlex="72"
      *ngIf="componentName == 'Bulk Upload'"
      class="bulkUpload_url"
    >
      <img src="assets/images/xls_logo.svg" width="57px" height="57px" />
      <span fxLayoutAlign="center center">{{ bulkUploadFileName }}</span>
    </div>

    <!-- search box -->
    <mat-form-field
      appearance="outline"
      fxFlex="{{ fxFlexForCol1 }}"
      *ngIf="componentName != 'Bulk Upload'"
    >
      <mat-label>{{ showOnlySearchTitle || "Refrence Number" }}</mat-label>
      <input
        matInput
        type="text"
        #searchVal
        appNoInitialSpace
        placeholder="{{ showOnlySearchTitles || 'Refrence Number' }}"
        formControlName="searchValue"
        class="searchInput"
        notAllowFirstSpace
      />

      <mat-icon matSuffix class="searchIcon">search</mat-icon>
    </mat-form-field>

    <ng-container *ngIf="!!requiredSpecialFields?.length">
      <mat-form-field
        *ngIf="requiredSpecialFields.includes('auditStatus')"
        appearance="outline"
        fxFlex="13"
        fxFlex.sm="22"
        fxFlex.xs="45"
      >
        <mat-label>Audit Status</mat-label>
        <mat-select formControlName="Auditstatus" disableOptionCentering>
          <!-- <mat-option
            *ngFor="let option of statusOptions"
            [value]="option.recordStatus"
            (click)="getFilterValue(option.recordStatus)"
          >
            {{ option.auditStatus }}
          </mat-option> -->
        </mat-select>
      </mat-form-field>
      <mat-form-field
        *ngIf="requiredSpecialFields.includes('savedData')"
        appearance="outline"
        fxFlex="13"
        fxFlex.sm="22"
        fxFlex.xs="45"
      >
        <mat-label>Saved Data</mat-label>
        <mat-select formControlName="savedData" disableOptionCentering>
          <!-- <mat-option
            *ngFor="let option of statusOptions"
            [value]="option.recordStatus"
            (click)="getFilterValue(option.recordStatus)"
          >
            {{ option.savedData }}
          </mat-option> -->
        </mat-select>
      </mat-form-field>
      <mat-form-field
        *ngIf="requiredSpecialFields.includes('requestAssignedTo')"
        appearance="outline"
        fxFlex="13"
        fxFlex.sm="22"
        fxFlex.xs="45"
      >
        <mat-label>Request Assigned to</mat-label>
        <mat-select formControlName="requestAssignedTo" disableOptionCentering>
          <mat-option> </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field
        *ngIf="requiredSpecialFields.includes('transactionStatus')"
        appearance="outline"
        fxFlex="13"
        fxFlex.sm="22"
        fxFlex.xs="45"
      >
        <mat-label>Transaction Status</mat-label>
        <mat-select formControlName="transactionStatus" disableOptionCentering>
          <mat-option></mat-option>
        </mat-select>
      </mat-form-field>
    </ng-container>

    <ng-container *ngIf="!showOnlySearchTitle">
      <!-- Status -->
      <mat-form-field
        appearance="outline"
        fxFlex="13"
        fxFlex.sm="22"
        fxFlex.xs="45"
      >
        <mat-label>Status</mat-label>
        <mat-select formControlName="status" disableOptionCentering>
          <mat-option
            *ngFor="let option of statusOptions"
            [value]="option.recordStatus"
            (click)="getFilterValue(option.recordStatus)"
          >
            {{ option.authStatus }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field
        appearance="outline"
        fxFlex="13"
        *ngIf="componentName != 'Bulk Upload'"
      >
        <mat-label>From Date</mat-label>
        <mat-datepicker-toggle
          class="date-toggle"
          matSuffix
          [for]="picker1"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
        <input
          matInput
          readonly
          [matDatepicker]="picker1"
          class="date-picker"
          formControlName="fromDate"
        />
      </mat-form-field>
      <mat-form-field
        appearance="outline"
        fxFlex="13"
        *ngIf="componentName != 'Bulk Upload'"
      >
        <mat-label>To Date</mat-label>
        <mat-datepicker-toggle
          class="date-toggle"
          matSuffix
          [for]="picker2"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
        <input
          matInput
          readonly
          [matDatepicker]="picker2"
          class="date-picker"
          formControlName="toDate"
          required
        />
      </mat-form-field>
      <!-- Any new filter section -->
      <mat-form-field
        appearance="outline"
        fxFlex="13"
        fxFlex.sm="22"
        fxFlex.xs="45"
        *ngIf="newFilter"
      >
        <mat-label>{{ newFilter.name }}</mat-label>
        <mat-select
          formControlName="newFilter"
          (selectionChange)="getFilterValue($event.value)"
          disableOptionCentering
        >
          <mat-option
            *ngFor="let item of newFilter.options"
            [value]="item.value"
            >{{ item.option }}</mat-option
          >
        </mat-select>
      </mat-form-field>

      <mat-form-field
        appearance="outline"
        fxFlex="13"
        fxFlex.sm="22"
        fxFlex.xs="45"
        *ngIf="stateModuleFilter"
      >
        <mat-label>{{ FilternameState.name }}</mat-label>
        <mat-select
          formControlName="FilternameState"
          (selectionChange)="getFilterValue($event.value)"
          disableOptionCentering
        >
          <mat-option
            *ngFor="let item of FilternameState.options"
            [value]="item.value"
            >{{ item.option }}</mat-option
          >
        </mat-select>
      </mat-form-field>

      <div fxFlex="13">
        <button
          mat-flat-button
          class="downloadBtn full-width"
          (click)="downloadRecord()"
        >
          <mat-icon svgIcon="download-icon" class="btn_icon"></mat-icon>
          {{ "Download" | translate }}
        </button>
      </div>
    </ng-container>
  </form>
</div>
