<div class="filter_section_container">
  <form
    [formGroup]="filterForm"
    fxLayout="row wrap"
    fxLayout.lt-sm="column"
    fxLayoutAlign="space-between center"
    class="filter_form"
  >
    <!-- <mat-form-field
      *ngIf="componentName === 'securityPolicy'"
      appearance="outline"
      fxFlex="13"
      fxFlex.sm="22"
      fxFlex.xs="45"
      class="fieldinput reuseFilterField"
    >
      <mat-label>{{ "Status" | translate }}</mat-label>
      <mat-select
        [formControl]="status"
        (selectionChange)="getFilterValueByStatus($event.value)"
        disableOptionCentering
      >
        <mat-option [value]="item" *ngFor="let item of statusOptions"
          >{{ item?.authStatus }}/{{ item?.recordStatus }}</mat-option
        >
      </mat-select>
    </mat-form-field> -->
    <!-- upload file -->
    <div
      fxLayout="row"
      fxFlex="72"
      *ngIf="componentName == 'Bulk Upload'"
      class="bulkUpload_url"
    >
      <img src="assets/images/xls_logo.svg" width="57px" height="57px" />
      <span fxLayoutAlign="center center"
        >sklsjsdskj hdb shjsdbyudsssd.xlsx</span
      >
    </div>

    <!-- search box -->
    <div
      fxLayoutAlign="center center"
      fxFlex="{{ fxFlexForCol1 }}"
      class="searchBox"
      *ngIf="componentName != 'Bulk Upload'"
    >
      <div fxFlex="90" fxLayoutAlign="start center">
        <input
          matInput
          type="text"
          #searchVal
          appNoInitialSpace
          placeholder="Search"
          formControlName="searchValue"
          class="searchInput"
          notAllowFirstSpace
        />
      </div>
      <div fxFlex="10" fxLayoutAlign="center center">
        <mat-icon matSuffix class="searchIcon">Refrence Number</mat-icon>
      </div>
    </div>
    <!-- Status -->
    <mat-form-field
      appearance="outline"
      class="fieldinput customArrow"
      fxFlex="13"
      fxFlex.sm="22"
      fxFlex.xs="45"
    >
      <mat-label>Status</mat-label>
      <mat-select formControlName="status" disableOptionCentering>
        <mat-option
          *ngFor="let option of statusOptions"
          [value]="option.recordStatus"
          (click)="getFilterValue(option.recordStatus)"
        >
          {{ option.authStatus }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field
      appearance="outline"
      class="fieldinput customArrow"
      fxFlex="13"
      *ngIf="componentName != 'Bulk Upload'"
    >
      <mat-label>From Date</mat-label>
      <mat-datepicker-toggle
        class="date-toggle"
        matSuffix
      ></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
      <input
        matInput
        readonly
        [matDatepicker]="picker1"
        class="date-picker"
        formControlName="fromDate"
        required
      />
    </mat-form-field>
    <mat-form-field
      appearance="outline"
      class="fieldinput customArrow"
      fxFlex="13"
      *ngIf="componentName != 'Bulk Upload'"
    >
      <mat-label>To Date</mat-label>
      <mat-datepicker-toggle
        class="date-toggle"
        matSuffix
        [for]="picker2"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
      <input
        matInput
        readonly
        [matDatepicker]="picker2"
        class="date-picker"
        formControlName="toDate"
        required
      />
    </mat-form-field>
    <!-- Any new filter section -->
    <mat-form-field
      appearance="outline"
      class="fieldinput customArrow"
      fxFlex="13"
      fxFlex.sm="22"
      fxFlex.xs="45"
      *ngIf="newFilter"
    >
      <mat-label>{{ newFilter.name }}</mat-label>
      <mat-select
        formControlName="newFilter"
        (selectionChange)="getFilterValue($event.value)"
        disableOptionCentering
      >
        <mat-option
          *ngFor="let item of newFilter.options"
          [value]="item.value"
          >{{ item.option }}</mat-option
        >
      </mat-select>
    </mat-form-field>

    <mat-form-field
      appearance="outline"
      class="fieldinput customArrow"
      fxFlex="13"
      fxFlex.sm="22"
      fxFlex.xs="45"
      *ngIf="stateModuleFilter"
    >
      <mat-label>{{ FilternameState.name }}</mat-label>
      <mat-select
        formControlName="FilternameState"
        (selectionChange)="getFilterValue($event.value)"
        disableOptionCentering
      >
        <mat-option
          *ngFor="let item of FilternameState.options"
          [value]="item.value"
          >{{ item.option }}</mat-option
        >
      </mat-select>
    </mat-form-field>
  </form>
</div>
