<div
  fxFlex="100"
  fxLayout="row"
  fxLayoutGap="1%"
  class="loan_dashboard_main_container"
>
  <div fxFlex="75" fxLayout="column">
    <mat-card fxLayout="column" class="loan-card">
      <div fxLayout="row" class="m-8" fxLayoutAlign="space-between center">
        <h1 class="dashboard_card_title">
          <mat-icon class="cursor-pointer mr-16" (click)="goBack()"
            >arrow_back</mat-icon
          >
          {{ "My Loan" }}
        </h1>
        <div class="toogle-div">
          <span>{{ "Statistics" }}</span>
          <mat-slide-toggle [(ngModel)]="isStatics"> </mat-slide-toggle>
        </div>
      </div>
      <!-- Overview Account Starts Here -->
      <div *ngIf="!isStatics" fxLayout="column">
        <div class="flex-item" *ngFor="let loan of loanDetails; let i = index">
          <div class="card_container" fxLayout="column" fxFlex="100">
            <div
              fxLayout="row"
              fxLayoutAlign="space-between center"
              fxFlex="100"
              class="mb-8"
            >
              <span
                fxLayout="row"
                fxLayoutAlign="space-between center"
                fxLayoutGap="4"
              >
                <div fxFlex="20" fxLayoutAlign="center center">
                  <img
                    src="assets/images/bank-profile-logo.svg"
                    class="current_theme_filter"
                  />
                </div>
                <div fxFlex="75" fxLayout="column">
                  <div class="card_account_type mb-6">
                    {{ loan?.accountType }}
                  </div>
                  <div class="masked" fxFlexAlign="center center">
                    <span class="masked_text">{{
                      loan?.cbsAccountNumber
                    }}</span>
                    &nbsp;
                    <mat-icon
                      svgIcon="copy_icon"
                      [cdkCopyToClipboard]="loan.cbsAccountNumber"
                      class="btn_icon"
                    ></mat-icon>
                  </div>
                </div>
              </span>
              <div fxLayout="row" fxLayoutGap="10">
                <button
                  mat-raised-button
                  class="transfer_btn"
                  (click)="route('user/loan/summary')"
                >
                  {{ "View Summary" }}
                </button>
                <button
                  mat-raised-button
                  class="add_btn"
                  (click)="route('/loan/loan-service/loan-repayment')"
                >
                  {{ "Pay Now" }}
                </button>
              </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between center">
              <div
                fxLayout="column"
                *ngFor="let item of loanValues; let i = index"
              >
                <p class="label">{{ item?.label }}</p>
                <span
                  [ngClass]="
                    item?.label == 'Maturity Date' ||
                    item?.label == 'Current rate of interest'
                      ? 'diffValue'
                      : 'value'
                  "
                >
                  {{ item?.value }}</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Overview Account Ends Here -->

      <!-- Static data starts here -->
      <!-- <div *ngIf="isStatics" style="max-height: 250px" fxLayout="row">
        <div class="flex-item" fxFlex="30">
          <ng-container *ngFor="let item of staticDataArr; let i = index">
            <app-dashboard-overview-card
              [cardInfo]="item"
            ></app-dashboard-overview-card>
          </ng-container>
        </div>
        <div fxFlex="70">
          <app-chart [dynamicCharData]="staticsAccountData"> </app-chart>
        </div>
      </div> -->
    </mat-card>

    <!-- Transcation tab starts here -->
    <mat-card class="loan-card">
      <app-transaction-card
        [transactionList]="transactionCard"
      ></app-transaction-card
    ></mat-card>
  </div>

  <!-- Right sidebar starts -->
  <div fxFlex="25">
    <div>
      <app-swiper-card></app-swiper-card>
      <!-- Closed loan start here -->
      <section class="mtcd">
        <div fxLayout="column">
          <div fxLayoutAlign="space-between center">
            <h3 class="bill_type">{{ "Closed Loan" }}</h3>
          </div>
          <mat-divider></mat-divider>

          <div
            fxLayout="row"
            *ngFor="let closedLoan of closedLoanList; let i = index"
            fxLayoutAlign="space-between center"
          >
            <div class="bill_body" fxLayout="row">
              <div class="createdByImg">
                <img
                  class="roundedImg"
                  [src]="closedLoan?.loanImageUrl"
                  alt=""
                  height="100%"
                  width="100%"
                />
              </div>
              <div fxLayout="column" class="bill_info">
                <label class="bill_type">{{ closedLoan?.loanType }}</label>
                <label class="bill_number"
                  >{{ closedLoan.accNo }} / {{ closedLoan.date }}</label
                >
              </div>
            </div>
            <!-- <div fxLayout="column">
              <label class="due_date">Due on {{ closedLoan.date }}</label>
              <button mat-raised-button class="pay_btn">Pay</button>
            </div> -->
          </div>
        </div>
      </section>
      <!-- Closed loan ends here -->

      <!-- Instant approve start here -->
      <div class="mtcd">
        <app-external-link
          title="Instant Approve"
          [types]="instantApprove"
        ></app-external-link>
      </div>
    </div>
  </div>
</div>
