.account-opneinglandingpage-happy-client {
    top: 0px;
    left: 4px;
    width: 1264px;
    height: 575px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
}

.account-opneinglandingpage-text026 {
    left: 317px;
    color: rgba(6, 17, 60, 1);
    height: auto;
    position: absolute;
    font-size: 48px;
    font-style: Regular;
    text-align: center;
    font-family: Arial Rounded MT Bold;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}

.account-opneinglandingpage-group72 {
    top: 164px;
    left: 461px;
    width: 417px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
}

.account-opneinglandingpage-unsplash-mtz-gv-ds-hfy {
    top: 143px;
    left: 10px;
    width: 389px;
    position: absolute;
    border-radius: 500px 0 500px 500px;
}



.account-opneinglandingpage-text028 {
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: Regular;
    text-align: center;
    font-family: Poppins;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}

.account-opneinglandingpage-text024 {
    top: 68px;
    left: 319px;
    color: rgba(117, 117, 117, 1);
    width: 588px;
    height: auto;
    position: absolute;
    font-size: 18px;
    font-style: Regular;
    text-align: center;
    font-family: Poppins;
    font-weight: 400;
    line-height: 160.0000023841858%;
    font-stretch: normal;
    text-decoration: none;
}

.account-opneinglandingpage-text030 {
    top: 51px;
    left: 5px;
    color: rgba(86, 86, 86, 1);
    width: 412px;
    height: auto;
    position: absolute;
    font-size: 16px;
    font-style: Regular;
    text-align: left;
    font-family: Poppins;
    font-weight: 400;
    line-height: 160.0000023841858%;
    font-stretch: normal;
    text-decoration: none;
}

.account-opneinglandingpage-group71 {
    top: 146px;
    right: 0px;
    width: 348px;
    display: flex;
    position: absolute;
    align-items: flex-start;
}

.account-opneinglandingpage-unsplashm-ez-po--gsk {
    top: 58px;
    left: 0px;
    width: 98px;
    height: 98px;
    position: absolute;
}

.account-opneinglandingpage-unsplash-oh--el-ok-q3re {
    top: 257px;
    left: 98px;
    width: 98px;
    height: 98px;
    position: absolute;
}

.account-opneinglandingpage-unsplash3-ll97h-jo {
    top: 0px;
    left: 137px;
    width: 68px;
    height: 68px;
    position: absolute;
}

.account-opneinglandingpage-unsplash-w7b3e--ub2i {
    top: 227px;
    left: 226px;
    width: 68px;
    height: 68px;
    position: absolute;
}

.account-opneinglandingpage-unsplashet7-qk-m-qs {
    top: 63px;
    left: 249px;
    width: 54px;
    height: 54px;
    position: absolute;
}

.account-opneinglandingpage-unsplash6anudmp--lw4 {
    top: 150px;
    left: 294px;
    width: 54px;
    height: 54px;
    position: absolute;
}

.account-opneinglandingpage-unsplashd1-pki-fd04a {
    top: 203px;
    left: 0px;
    width: 68px;
    height: 68px;
    position: absolute;
}

.account-opneinglandingpage-unsplash-o3ymv-t-wf9u {
    top: 107px;
    left: 124px;
    width: 120px;
    height: 120px;
    position: absolute;
}