<mat-card class="full-width default-card mx-0">
  <div
    fxFlex="100"
    fxLayout="row wrap"
    fxLayoutAlign="space Between"
    fxLayoutGap="1%"
    class="applicantsInfo"
    [formGroup]="creditInfoForm"
  >
    <div fxFlex="24">
      <mat-label class="custom-label">Request Date</mat-label>
      <mat-form-field appearance="outline">
        <mat-datepicker-toggle
          class="date-toggle"
          matSuffix
          [for]="picker1"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
        <input
          matInput
          readonly
          [matDatepicker]="picker1"
          class="date-picker"
          formControlName="requestDate"
        />
      </mat-form-field>
    </div>
    <div fxLayout="column" fxFlex="24">
      <mat-label class="custom-label">Loan Currency</mat-label>
      <mat-form-field>
        <input matInput type="text" formControlName="loanCurrency" />
        <mat-icon matSuffix class="searchIcon-main">search</mat-icon>
      </mat-form-field>
    </div>
    <div fxLayout="column" fxFlex="24">
      <mat-label class="custom-label">Loan Amount</mat-label>
      <mat-form-field>
        <input matInput type="text" formControlName="loanAmount" />
      </mat-form-field>
    </div>

    <div fxLayout="column" fxFlex="24">
      <mat-label class="custom-label">Nature of Goods</mat-label>
      <mat-radio-group
        fxLayout="row"
        class="domesticToggle"
        formControlName="natureOfGoods"
      >
        <mat-radio-button value="capital" class="custom-label"
          >Capital</mat-radio-button
        >
        <mat-radio-button value="non capital" class="custom-label"
          >Non Capital</mat-radio-button
        >
      </mat-radio-group>
    </div>

    <div fxLayout="column" fxFlex="24">
      <mat-label class="custom-label">Tenure</mat-label>
      <mat-form-field>
        <mat-select formControlName="tenure">
          <mat-option value="abc">ABC</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div fxLayout="column" fxFlex="24">
      <mat-label class="custom-label">Commodity</mat-label>
      <mat-form-field>
        <mat-select formControlName="commodity">
          <mat-option value="abc">ABC</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</mat-card>
