<div fxLayout="column" class="p-12">
  <div class="text-center">
    <img src="assets/images/failed.svg" width="40%" alt="" />
  </div>
  <h2 class="text-center text-label">{{ data.error }}</h2>
  <p class="text-center text-normal">
    {{ data.message }}
  </p>
  <div
    class="w-100 text-center"
    fxLayoutAlign="center center"
    fxLayoutGap="10px"
  >
    <ic-button
      [label]="'Yes' | translate"
      icButtonType="filled-rounded"
      mat-dialog-close="Ok"
      type="submit"
      size="medium"
    ></ic-button>
    <ic-button
      [label]="'No' | translate"
      icButtonType="ghost-rounded-danger"
      mat-dialog-close="close"
      type="submit"
      size="medium"
    ></ic-button>
  </div>
</div>
