<div fxLayout="column">
  <div class="text-center">
    <img src="assets/images/failed.svg" width="40%" alt="" />
  </div>
  <h2 class="text-center text-label">{{ data.error }}</h2>
  <p class="text-center text-normal">
    {{ data.message }}
  </p>
  <div class="w-100 text-center" fxLayoutAlign="center center">
    <button
      mat-raised-button
      mat-dialog-close="Ok"
      class="savebutton applyButtonStandard"
    >
      Yes
    </button>
    <button
      mat-raised-button
      mat-dialog-close="close"
      class="button back_button"
    >
      No
    </button>
  </div>
</div>
