label {
    color: #B4B4B4;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.mobile-selection-tpl {
    background: #F6FAFF;
    display: flex;
    flex-direction: row;
    width: 100%;
    border-radius: 10px;

    .card-details {
        display: flex;
        flex-direction: column;
        width: 40%;
        padding: 20px;
    }
}

.sheild-icon {
    display: flex;
    flex-direction: column;
    width: 10%;
    padding: 20px;

    img {
        width: 56px;
        height: 56px;
    }
}


.text-info-1 {
    display: block;
    color: #004C97;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.vertical-line {
    height: 90px;
    width: 2px;
    border-right: 2px solid #bac0d7;
}

.full-width {
    width: 100%;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle,
.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple),
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple,
.mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
    background-color: #004C97;
}

::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #004C97;
}

mat-radio-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 48%;
    margin-top: 12px;
    margin-bottom: 16px;
}