<div class="column-2">
  <div class="title-text">
    Let’s begin with some necessary information and get you started
  </div>
  &nbsp;
  <app-cibil-score-result
    *ngIf="showCibilScoreResult"
    (onBackEvent)="onBackCIBILScoreResult($event)"
    (onCibilConfirmEvent)="onConfirmFromCibilScoreResult()"
  ></app-cibil-score-result>
  <div *ngIf="!showCibilScoreResult">
    <div *ngIf="!isDifferentMobile">
      <div class="mobile-selection-tpl">
        <div class="sheild-icon" fxLayoutAlign="center center">
          <img src="../../../../assets/images/shield.png" alt="shield" />
        </div>
        <div class="card-details">
          <label>Your Account Number</label>
          <span class="text-info-1">123456789</span>
        </div>
        <div class="vertical-line"></div>
        <div class="card-details">
          <label>Your National Number</label>
          <span class="text-info-1">123456789</span>
        </div>
      </div>
      <div style="margin-top: 20px">
        <mat-form-field appearance="outline" class="full-width custom-field">
          <mat-label class="custom-mat-label">First Name</mat-label>
          <input matInput />
          <mat-hint>As Per National Id</mat-hint>
        </mat-form-field>
      </div>
      &nbsp;
      <div style="margin-top: 20px">
        <span class="mobile">Mobile Number</span>
        <mat-radio-group [(ngModel)]="selectedOption">
          <mat-radio-button value="same" class="radioChecked radiobtn"
            >Same</mat-radio-button
          >
          <mat-radio-button value="different" class="radioChecked radiobtn"
            >Different</mat-radio-button
          >
        </mat-radio-group>
      </div>
      <div style="display: flex; flex-direction: row; width: 100%">
        <mat-checkbox
          class="custom-checkbox"
          class="primary"
          style="margin-right: 10px"
        >
        </mat-checkbox>
        <span class="standard-font-gray">
          I authorize DemoBank and it’s representatives to email, call or SMS
          me. This Consent will override any registration from DNC/NDNC
        </span>
      </div>
      <div class="button-section">
        <button class="confirm-button" (click)="onContinue()">Continue</button>
        &nbsp;&nbsp;&nbsp;
        <button class="back-button" (click)="onBack()">Back</button>
      </div>
    </div>

    <div *ngIf="isDifferentMobile">
      <div class="mobile-selection-tpl">
        <div class="sheild-icon">
          <img src="../../../../assets/images/shield.png" alt="shield" />
        </div>
        <div class="card-details">
          <label>Your Number</label>
          <span class="text-info-1">91569345343</span>
        </div>
      </div>
      <app-kyc [type]="'cibil-score'" (onVerifyEvent)="onVerify()"></app-kyc>
    </div>
  </div>
</div>
