<section class="product_details" fxFlex="100" fxLayout="column">
  <ng-container
    *ngFor="let product of productInfo; let i = index; trackBy: trackByIndex"
  >
    <h3 class="theme_header_md_bold">
      {{ dynamicKeyHelper?.[product.key]?.type }}
    </h3>
    <div fxFlex="100" fxLayout="row wrap" fxLayoutGap="1%">
      <!-- Personal Info Summary Start -->
      <ng-container
        *ngIf="product.key === 'customerInfo'; else showOtherThanPersonal"
      >
        <mat-accordion class="persoanl_expansion" fxFlex="100">
          <mat-expansion-panel
            *ngFor="let person of product.values; let personIndx = index"
          >
            <mat-expansion-panel-header
              class="header"
              style="height: 56px !important"
            >
              <mat-panel-description class="header_description">
                <div fxFlex="100" fxLayoutAlign="space-between start">
                  <h3 class="theme_header_md_bold">
                    Applicant {{ personIndx + 1 }}
                  </h3>
                </div>
                &nbsp;
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div fxFlex="100" fxLayout="row wrap" fxLayoutGap="1%">
              <div
                *ngFor="let item of dynamicKeyHelper[product.key].keyPair"
                class="mb-24"
                fxFlex="19"
              >
                <!-- else showOtherInfo -> 'the else was commented, so i am commenting this part as well; this is used in the below ng-container ' -->
                <ng-container *ngIf="item.type === 'personal'">
                  <ng-container
                    *ngFor="
                      let personal of product.values;
                      let docIndex = index
                    "
                  >
                    <p class="breadcrum_md">{{ item.label }}</p>
                    <p class="header_lg">
                      {{
                        personal[item?.valueKey] ??
                          personal?.contact?.[item?.valueKey]
                      }}
                    </p>
                  </ng-container>
                </ng-container>
              </div>
              <div fxFlex="100">
                <h3 class="theme_header_md_bold">Address Detail</h3>
              </div>
              <div
                *ngFor="let item of dynamicKeyHelper[product.key].addressPair"
                class="mb-24"
                fxFlex="19"
              >
                <ng-container>
                  <ng-container
                    *ngFor="
                      let personal of product.values;
                      let docIndex = index
                    "
                  >
                    <p class="breadcrum_md">{{ item.label }}</p>
                    <p class="header_lg">
                      {{ personal?.contact?.address[0][item?.valueKey] }}
                    </p>
                  </ng-container>
                </ng-container>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </ng-container>
      <!-- Personal Info Summary Ends -->

      <!-- Other Info Summary Starts -->
      <div fxFlex="100" fxLayout="row wrap">
        <ng-template #showOtherThanPersonal>
          <div
            *ngFor="let item of dynamicKeyHelper[product.key]?.keyPair"
            [fxFlex]="item.type === 'document' ? '100' : '19'"
            class="mb-24"
          >
            <!-- Document Info Starts-->
            <ng-container *ngIf="item.type === 'document'; else showOther">
              <div
                *ngFor="let docItem of product.values; let docIndex = index"
                fxFlex="19"
              >
                <p class="breadcrum_md">{{ item.label }} {{ docIndex + 1 }}</p>
                <p
                  (click)="opnDocument(docItem?.fileUrl, docItem)"
                  (keydown.enter)="opnDocument(docItem?.fileUrl, docItem)"
                  [tabindex]="0"
                  class="header_lg document_label_value"
                >
                  {{ docItem[item?.valueKey] ?? docItem?.fileName
                  }}{{ docItem?.documentSide }}
                </p>
              </div>
              <div *ngIf="product.values.length === 0 || !product.values">
                <p class="header_lg">
                  {{ 'No Documents Found' }}
                </p>
              </div>
            </ng-container>
            <!-- Document Info Ends -->

            <ng-template #showOther>
              <div>
                <p class="breadcrum_md">{{ item.label }}</p>
                <p
                  *ngIf="item.type !== 'currency' && item.type !== 'maskText'"
                  class="header_lg"
                >
                  {{ product.values[item?.valueKey] }}
                </p>
                <p *ngIf="item.type === 'currency'" class="header_lg">
                  {{
                    product.values[item?.valueKey] | currency: 'INR' : 'symbol'
                  }}
                </p>
                <p *ngIf="item.type === 'maskText'" class="header_lg">
                  {{ product.values[item?.valueKey] | textMask: 4 }}
                </p>
                <p *ngIf="item.type === 'document'" class="header_lg">
                  {{ product.values[item?.valueKey] ?? 'No Documents Found' }}
                </p>
              </div>
              <!-- </ng-template> -->
            </ng-template>
          </div>
        </ng-template>
      </div>
      <!-- Other Info Summary Ends-->
    </div>
    <mat-divider
      *ngIf="i !== productInfo?.length - 1"
      style="border-top-color: #ececec"
    ></mat-divider>
  </ng-container>
</section>
