<div class="main-container">
    <div class="close-button">
        <mat-icon (click)="close()">close</mat-icon>
    </div>
    <div class="headr-text">
        Your Credit Bureau Score is POOR
    </div>
    <div>
        <img src="../../../../assets/images/error-icon.svg" alt="..." />
    </div>

    <div class="note-container">
        <span class="note-header">Note: </span>
        <span class="note-text">
            Your credit score doesn't meet our criteria. Improve it by addressing debts, making timely
            payments before reapplying. Contact customer support for help.
        </span>
    </div>

    <div class="button-section">
        <button class="confirm-button" (click)="done()">Done</button>
        <button class="back-button" (click)="onBack()">Back</button>
    </div>
</div>