:host ::ng-deep .mat-select-min-line,
.mat-input-element {
  font-size: 14px !important;
  color: #102245 !important;
  font-weight: 600 !important;
}
:host ::ng-deep .disable-field.mat-form-field-invalid .mat-form-field-outline {
  color: #ff3d57 !important;
  .mat-form-field-outline-start,
  .mat-form-field-outline-gap,
  .mat-form-field-outline-end {
    border-width: 1px !important;
  }
}
:host
  ::ng-deep
  .mat-form-field-should-float.disable-field
  .mat-form-field-outline {
  color: #b4b4b466 !important;
}

.pb-25 {
  padding-bottom: 25px;
}

.personal-loan-details {
  display: flex;
  flex-direction: row;

  .column-2 {
    display: flex;
    flex-direction: column;

    .standard-flex {
      display: flex;

      mat-form-field.custom-field {
        width: 300px;
        margin-right: 20px;
        margin-bottom: 20px;
      }

      mat-form-field.custom-field-80 {
        position: absolute;
        width: 622px;
        margin-right: 20px;
        margin-bottom: 20px;

        .standard-search {
          position: relative;
          margin-left: -200px;
          cursor: pointer;
        }

        .vertical-separator {
          height: 43px;
          width: 1px;
          border: #b4b4b466 1px solid;
          margin: 0px 10px;
          position: relative;
          top: -33px;
          float: right;
          right: 139px;
        }

        .locate-container {
          display: flex;
          flex-direction: row;
          position: relative;
          float: right;
          top: -28px;
          right: 0px;

          .locate {
            display: inline-flex;
            justify-content: space-around;
            text-decoration: none;
            cursor: pointer;
            background: white;
            color: #004c97;
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
          }
        }
      }
    }
  }
}

fieldset {
  legend {
    color: rgb(16 34 69);
    font-family: Poppins;
    font-size: 75%;
    line-height: normal;
    float: none;
    margin-left: 13px;
    opacity: 0.9;
  }
  padding: 5px;
  border-radius: 8px;
  height: 55px;
  background: #fff;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.0901960784);
  .mat-form-field {
    padding: 10px 0;
    border-radius: 11px;
  }

  input {
    padding: 5px 5px;
  }
}

.disable-fieldset {
  background: #f3f3f3;
  box-shadow: none;
}
.custom-error {
  font-size: 13px;
  margin-top: -20px;
}
.suffixLabel {
  position: relative;
  right: 15%;
  top: -7px;
  font-size: 16px;
  color: #b4b4b4;
}
.vertical-seperator {
  border-left: #e0e0e0 2px solid;
  margin-top: -15px;
  border-radius: 5px;
}
.tenure_input {
  position: relative;
  top: -7px !important;
  outline: none;
  border: none;
  background: transparent;
}
:host ::ng-deep .fieldinput .mat-form-field-wrapper {
  padding-top: 0px !important;
  margin: 0 !important;
}
.custom-radio-grp {
  margin-top: 0 !important;
}
.button-section {
  display: flex;
}
