<div>
  <mat-expansion-panel class="default-expansion-panel">
    <mat-expansion-panel-header>
      <mat-panel-description class="cardHeading">
        Orders Info
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-expansion-panel
      class="default-expansion-panel"
      style="margin-top: 10px"
    >
      <mat-expansion-panel-header>
        <mat-panel-description class="cardHeading">
          Order No 1
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div
        fxLayout="row"
        fxLayoutAlign="space-between"
        style="margin-top: 20px"
      >
        <div fxLayout="column">
          <div class="headerFont">Invoice Number</div>
          <div class="bodyFont">India</div>
        </div>
        <div fxLayout="column">
          <div class="headerFont">Bill Category</div>
          <div class="bodyFont">560043</div>
        </div>
        <div fxLayout="column">
          <div class="headerFont">Place Of Reciept</div>
          <div class="bodyFont">Karnataka</div>
        </div>
        <div fxLayout="column">
          <div class="headerFont">Bill Currency</div>
          <div class="bodyFont">Bangalore</div>
        </div>
        <div fxLayout="column">
          <div class="headerFont">Bill Amount</div>
          <div class="bodyFont">656776576567</div>
        </div>
      </div>

      <div
        fxLayout="row"
        fxLayoutAlign="space-between"
        style="margin-top: 20px"
      >
        <div fxLayout="column">
          <div class="headerFont">Place Of Final Destinantion</div>
          <div class="bodyFont">India</div>
        </div>
        <div fxLayout="column">
          <div class="headerFont">Purchase Order Invoice no</div>
          <div class="bodyFont">560043</div>
        </div>
        <div fxLayout="column">
          <div class="headerFont">Purchase Order Date</div>
          <div class="bodyFont">Karnataka</div>
        </div>
        <div fxLayout="column">
          <div class="headerFont">Country of origin</div>
          <div class="bodyFont">Bangalore</div>
        </div>
        <div fxLayout="column">
          <div class="headerFont">Submitted Date</div>
          <div class="bodyFont">656776576567</div>
        </div>
      </div>

      <div
        fxLayout="row"
        fxLayoutAlign="space-between"
        style="margin-top: 20px"
      >
        <div fxLayout="column">
          <div class="headerFont">Due Date</div>
          <div class="bodyFont">India</div>
        </div>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel
      class="default-expansion-panel"
      style="margin-top: 10px"
    >
      <mat-expansion-panel-header>
        <mat-panel-description class="cardHeading">
          Order No 2
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div
        fxLayout="row"
        fxLayoutAlign="space-between"
        style="margin-top: 20px"
      >
        <div fxLayout="column">
          <div class="headerFont">Invoice Number</div>
          <div class="bodyFont">India</div>
        </div>
        <div fxLayout="column">
          <div class="headerFont">Bill Category</div>
          <div class="bodyFont">560043</div>
        </div>
        <div fxLayout="column">
          <div class="headerFont">Place Of Reciept</div>
          <div class="bodyFont">Karnataka</div>
        </div>
        <div fxLayout="column">
          <div class="headerFont">Bill Currency</div>
          <div class="bodyFont">Bangalore</div>
        </div>
        <div fxLayout="column">
          <div class="headerFont">Bill Amount</div>
          <div class="bodyFont">656776576567</div>
        </div>
      </div>

      <div
        fxLayout="row"
        fxLayoutAlign="space-between"
        style="margin-top: 20px"
      >
        <div fxLayout="column">
          <div class="headerFont">Place Of Final Destinantion</div>
          <div class="bodyFont">India</div>
        </div>
        <div fxLayout="column">
          <div class="headerFont">Purchase Order Invoice no</div>
          <div class="bodyFont">560043</div>
        </div>
        <div fxLayout="column">
          <div class="headerFont">Purchase Order Date</div>
          <div class="bodyFont">Karnataka</div>
        </div>
        <div fxLayout="column">
          <div class="headerFont">Country of origin</div>
          <div class="bodyFont">Bangalore</div>
        </div>
        <div fxLayout="column">
          <div class="headerFont">Submitted Date</div>
          <div class="bodyFont">656776576567</div>
        </div>
      </div>

      <div
        fxLayout="row"
        fxLayoutAlign="space-between"
        style="margin-top: 20px"
      >
        <div fxLayout="column">
          <div class="headerFont">Due Date</div>
          <div class="bodyFont">India</div>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-expansion-panel>
</div>
