<form *ngIf="goldRenewalForm" [formGroup]="goldRenewalForm">
  <h3>Gold Renewal</h3>
  <mat-card>
    <div class="w-100" fxLayout="column" fxLayoutGap="10px">
      <div class="row" fxFlex="100" class="blue-box" fxLayoutGap="30px">
        <!-- loan account number -->
        <div fxFlex="40" fxLayout="column">
          <app-searchable-select
            [control]="goldRenewalForm.get('debitAccount')"
            [inputLabel]="'Loan Account Number' | translate"
            bindValueKey="cbsAccountNumber"
            bindLabelKey="cbsAccountNumber"
            direction="row"
            [items]="loanDetails"
            (selectionChange)="fetchLoanInstallment()"
          ></app-searchable-select>
        </div>
        <!-- loan details -->
        <div fxFlex="20" *ngFor="let item of accountDetails">
          <p class="label">{{ item?.headerCell | translate }}</p>
          <span class="value" *ngIf="installmentDetails">
            {{ installmentDetails[item?.headerDef] }}</span
          >
        </div>
      </div>
      <div fxLayout="row" fxLayoutGap="5px">
        <div fxLayout="column" fxFlex="50">
          <div fxFlex="30" fxLayout="row" fxLayoutAlign="space-between center">
            <!-- renewal Amount -->
            <div fxLayout="column" fxLayoutGap="0px" fxFlex="40" class="mt-12">
              <!-- <app-ic-custom-input
                    fxFlex="100"
                    [control]="goldRenewalForm.get('renewalAmount')"
                    [inputLabel]="'Renewal Amount'| translate"
                    customClass="customTotalField"
                    customLabelClass="customLabelClass"
                    [numbersOnly]="true"
                    customDirectives="appTwoDigitDecimaNumber"
                  ></app-ic-custom-input> -->
              <app-ic-custom-amount-input
                fxFlex="100"
                [inputLabel]="'Renewal Amount' | translate"
                [currencyCode]="currentCurrency"
                [inputType]="'text'"
                [control]="goldRenewalForm.get('renewalAmount')"
                customClass="customTotalField"
                customLabelClass="customLabelClass"
              ></app-ic-custom-amount-input>
              <div
                class="gray-box"
                fxLayout="row"
                fxLayoutAlign="space-between center"
              >
                <ng-container
                  *ngFor="let value of renewalAmount; let i = index"
                >
                  <p
                    class="blue-border white-bg p-4 light-blue-title-sml"
                    (click)="setRenewalAmount(i)"
                  >
                    {{ value }} %
                  </p>
                  <!-- <p class="blue-border white-bg p-4 light-blue-title-sml">50%</p>
                    <p class="blue-border white-bg p-4 light-blue-title-sml">25%</p> -->
                </ng-container>
              </div>
            </div>

            <div fxFlex="50" class="gray-box">
              <p class="label">{{ "New Sanctioned Amount:" | translate }}</p>
              <span class="light-blue-title">{{
                installmentDetails?.currency
              }}</span>
              <span class="value"
                ><b> {{ amount }}</b></span
              >
            </div>
          </div>

          <div fxFlex="30" fxLayout="row" fxLayoutAlign="space-between center">
            <!-- Tenure -->
            <div fxFlex="50" class="mt-12" fxLayout="column">
              <mat-label class="customLabelClass"
                ><b>{{ "Tenure" | translate }}</b></mat-label
              >
              <div>
                <fieldset class="fieldset mb-12" fxFlex="100">
                  <div fxFlex="100" fxLayout="row" class="parentYearDiv">
                    <div fxFlex="33" fxLayoutAlign="start center">
                      <input
                        fxFlex="50"
                        matInput
                        name="tenureYear"
                        maxlength="2"
                        [formControl]="goldRenewalForm.get('tenureYear')"
                        (change)="onInputChange()"
                        placeholder="Enter"
                        class="pl-3 tenure_input"
                        numbersOnly
                      />
                      <span matSuffix class="suffixLabel">{{
                        "Year" | translate
                      }}</span>
                    </div>
                    <div class="vertical-seperator"></div>
                    <div fxFlex="33" fxLayoutAlign="start center">
                      <input
                        fxFlex="50"
                        matInput
                        name="tenureMonth"
                        maxlength="2"
                        [formControl]="goldRenewalForm.get('tenureMonth')"
                        (change)="onTenureChange()"
                        placeholder="Enter"
                        class="pl-3 tenure_input"
                        numbersOnly
                      />
                      <span class="suffixLabel">{{ "Month" | translate }}</span>
                    </div>
                    <div class="vertical-seperator"></div>
                    <div fxFlex="33" fxLayoutAlign="start center">
                      <input
                        fxFlex="50"
                        matInput
                        name="tenureDay"
                        maxlength="2"
                        [formControl]="goldRenewalForm.get('tenureDay')"
                        (change)="onTenureChange()"
                        placeholder="Enter"
                        class="pl-3 tenure_input"
                        numbersOnly
                      />
                      <span class="suffixLabel">{{ "Day" | translate }}</span>
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>

            <div class="blue-box blue-border" fxLayout="row">
              <span class="light-blue-title">{{
                "Interest Rate:" | translate
              }}</span>
              <span class="value"
                ><b>{{ installmentDetails?.interestRate }}</b></span
              >
            </div>
          </div>

          <!-- slider -->
          <div fxFlex="20" fxLayout="column" fxLayoutGap="5">
            <div>
              <mat-slider
                class="custom-slider-label"
                [value]="goldRenewalForm.value.tenure"
                [max]="maxTenure"
                [min]="minTenure"
                fxFlex="100"
                [thumbLabel]="thumbLabel"
                discrete
                (change)="onSliderChange($event)"
                [displayWith]="formatLabel"
              >
                <input matSliderThumb #slider />
              </mat-slider>
            </div>
            <div
              fxLayout="row"
              fxFlex="10"
              fxLayoutAlign="space-between center"
            >
              <div>{{ "Min" | translate }} {{ minTenure }} months</div>
              <div>{{ "Max" | translate }} {{ maxTenureInYears }} year</div>
            </div>
          </div>

          <div
            fxFlex="15"
            fxLayout="row"
            fxLayoutGap="10"
            fxLayoutAlign="end center"
          >
            <app-ic-action-button
              (onClick)="goldRenewalForm.reset()"
              [buttonName]="'Cancel' | translate"
              buttonType="stroked"
            ></app-ic-action-button>
            <app-ic-action-button
              (onClick)="saveGoldRenewal()"
              [buttonName]="'Submit' | translate"
              buttonType="filled"
            ></app-ic-action-button>
          </div>
        </div>
        <!-- [disabled]="goldRenewalForm.invalid" -->
        <app-maturity-chart
          fxFlex="50"
          [chartData]="chartData"
          [chartSectionDetails]="chartSectionDetails"
          [autoCheck]="false"
          [data]="calculatedData"
          labelTwo="New Renewal"
          labelOne="Current Renewal"
          [loanDetailsSection]="true"
        ></app-maturity-chart>
      </div>
    </div>
  </mat-card>
</form>
