.send-money-container {
  padding: 20px;
}

.breadcrumb-title {
  font: normal normal 11px/14px Poppins;
  letter-spacing: 0px;
  color: #575d67;
  font-weight: 700;
}

.send-money-title {
  font: normal normal 18px / 17px Poppins;
  letter-spacing: 0px;
  color: #00205c;
  opacity: 1;
  margin-left: 14px;
  font-weight: 700;
}

.tabs {
  border-radius: 12px;
  width: 75%;
  padding: 0px;
}

.tab-header {
  height: 71px;
  background: var(--current-theme-background-light) 0% 0% no-repeat padding-box;
}

.tab-screens-container {
  padding: 15px;
}

.tab-content {
  align-items: center !important;
  .item_name {
    color: var(--current-theme-background);
  }
}

.tab-buttons {
  font: normal normal bold 12px / 14px Poppins;
  align-content: center;
  cursor: pointer;
  padding: 0px 20px 0px 20px;
}

.selected-tab-buttons {
  background: var(--current-theme-background) 0% 0% no-repeat padding-box;
  font: normal normal bold 13px / 15px Poppins;
  color: #fff !important;
  padding: 0px 20px 0px 20px;
  border-radius: 6px;
  align-content: center;
  text-align: center;
  cursor: pointer;
  .item_name {
    color: var(--current-theme-colour);
  }
}
