<div fxLayout="column" fxLayoutGap="8px" class="send-money-container">
  <!-- <app-toolbar-title title="Cheque Book"></app-toolbar-title> -->
  <mat-card fxLayout="column" class="tabs">
    <div fxLayout="row" fxLayoutAlign="start" class="tab-header">
      <div
        [ngClass]="
          selected == item.screenName ? 'selected-tab-buttons' : 'tab-buttons'
        "
        *ngFor="let item of tabScreens; let i = index"
        (click)="changeTabs(i)"
      >
        <div
          class="tab-content"
          fxLayoutGap="5%"
          fxLayoutAlign="space-around"
          fxLayout="column"
        >
          <button mat-icon-button>
            <mat-icon [svgIcon]="item.icon"></mat-icon>
          </button>
          {{ item.screenName }}
        </div>
      </div>
    </div>
    <div class="tab-screens-container">
      <router-outlet></router-outlet>
    </div>
  </mat-card>
</div>
