.nav-bar {
  // background: transparent linear-gradient(270deg, #030c14 0%, #002240 100%) 0%
  //   0% no-repeat padding-box;
  background-color: #fff;
  position: fixed;
  top: 56px;
  left: 0;
  width: 100vw;
  min-height: 80px;
  z-index: 98;
  padding: 0 4%;
  button {
    img {
      width: 100%;
      object-fit: cover;
    }
  }

  .nav_item {
    width: 67px;
    height: 56px;
    display: flex;
    justify-content: center;
    padding: 5px;
    position: relative;
    cursor: pointer;

    img {
      background-color: #000;
      mix-blend-mode: difference;
      opacity: 0.7;
    }
  }

  .open {
    background: rgba(255, 255, 255, 0.3) 0% 0% no-repeat padding-box;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    border-radius: 10px;
    // transition: all 0.2s cubic-bezier(0.39, 0.58, 0.57, 1);
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: var(--current-theme-background-light);
    }
  }
}
