<div fxLayout="column" fxLayoutAlign="space-between center">
  <div
    *ngIf="paymentDetails[0]?.benificiaryMasterId"
    fxLayoutGap="20"
    class="payeeDetailsHeader"
    fxLayoutAlign="space-between center"
  >
    <span class="text-label">View Payee Details</span>
    <div fxLayoutGap="20">
      <div class="quick_btn btn" fxLayoutAlign="center center" fxFlex="50">
        <mat-icon class="extend-icon" svgIcon="share-icon"></mat-icon>
        <span> Share </span>
      </div>
      <div fxLayoutAlign="center center" fxFlex="50" class="payee_btn btn">
        <mat-icon class="extend-icon" svgIcon="download-icon"></mat-icon>
        <span> Download </span>
      </div>
    </div>
  </div>
  <div class="paymentContainer">
    <div fxFlex="49.5">
      <app-payment-details
        [paymentDetails]="paymentDetails"
        [status]="status"
        [response]="response"
      ></app-payment-details>
    </div>
    <ng-container *ngIf="!scheduleSummary; else otp">
      <div fxFlex="49.5">
        <app-otp (otpVerified)="serviceCall($event)"></app-otp></div
    ></ng-container>
    <ng-template #otp>
      <div fxFlex="49.5">
        <!-- <app-schedule-summary
          [viewPayee]="paymentDetails[0]?.benificiaryMasterId ? true : false"
          [payeeDetails]="paymentDetails[0]?.summary[0]?.details"
          [retailBeneficiaryMasterId]="paymentDetails[0]?.benificiaryMasterId"
        ></app-schedule-summary> -->
      </div>
    </ng-template>
  </div>
</div>
