<div class="main_page" *ngIf="otpForm" [formGroup]="otpForm">
  <div class="head_container bank-title">
    <h1>{{ currentUser?.bankName | titlecase }}</h1>
  </div>

  <div class="subhead_container">
    <h3 class="text-label mb-16">OTP Type</h3>
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <mat-card
        fxFlex="48"
        *ngFor="let item of cardArr"
        class="mx-0"
        [ngClass]="otpType == item ? 'selected-card' : 'toggle-card'"
        fxLayout="row"
        (click)="otpType = item"
      >
        <mat-icon>trip_origin</mat-icon>
        <div class="text-center w-100 text-bold">
          {{ item }}
        </div>
      </mat-card>
    </div>

    <div *ngFor="let item of cardArr">
      <ng-container>
        <mat-form-field
          *ngIf="item == otpType"
          class="pt-24"
          appearance="outline"
        >
          <mat-label>{{ otpType }}</mat-label>
          <input
            type="text"
            matInput
            [formControlName]="otpType?.toLowerCase()"
            (input)="otpForm.get('otp').setValue('')"
          />
          <button
            matSuffix
            mat-stroked-button
            class="otp-btn"
            (click)="generateOtp()"
            [disabled]="!otpForm.controls[otpType?.toLowerCase()]?.value"
          >
            Get OTP
          </button>
        </mat-form-field>
      </ng-container>
    </div>
    <div class="text-center">
      <h2 class="text-label">Enter OTP to verify</h2>
    </div>
    <div class="ng_otp_field my-24" fxLayoutAlign="center center">
      <ng-otp-input
        [config]="ngOtpConfig"
        [formCtrl]="otpForm.controls['otp']"
        (onInputChange)="onOtpChange($event)"
      ></ng-otp-input>
    </div>
    <div class="text-center mb-24">
      <span class="text-gray">Resend</span>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
      <button mat-raised-button class="reset-btn" fxFlex="20">Reset</button>
      <button
        mat-raised-button
        class="submit-btn"
        fxFlex="40"
        (click)="verifyOtp()"
        [disabled]="otpForm.invalid"
      >
        Submit
      </button>
    </div>
  </div>
</div>
