<div class="create-account" fxLayout="row">
  <!-- Left hand side steps starts here -->
  <div class="stepper" fxFlex="40">
    <app-commmon-steeper
      [screenTitle]="screenTitle"
      [screenList]="screenList"
      [screenIndex]="selectedStep"
      (customSelectionChange)="getTabDetails($event)"
    ></app-commmon-steeper>
  </div>
  <!-- Left hand side steps ends here -->
  <div
    class="vertical_divider"
    style="border-right: 1px solid #cbcbcb; height: 550px"
  ></div>
  <div class="col-div2 screenMargin" fxFlex="56" fxLayout="column">
    <h2 class="highlight_title" *ngIf="currentComponentInfo?.component">
      {{ currentStep }}
    </h2>
    <div>
      <ng-template appAppHost #container></ng-template>
    </div>
  </div>
</div>
