<div fxLayout="row" fxFlex="100" fxLayoutGap="1%" fxLayoutAlign="space-between">
  <mat-card
    class="attachments-main full-width default-card mx-0"
    fxLayout="column wrap"
    fxLayoutAlign="space-between"
    fxFlex="49"
  >
    <div
      fxLayout="row"
      fxLayoutAlign="space-between"
      fxFlex="100"
      fxLayoutGap="1%"
    >
      <div fxLayout="column" fxFlex="100">
        <mat-label class="custom-label">Fee Account</mat-label>
        <ng-container *ngFor="let title of feeAccArray; let i = index">
          <div class="account_container" fxLayout="row" fxFlex="100">
            <div class="account_num" fxFlex="90" fxLayoutAlign="start center">
              {{ title }}
            </div>
            <div fxFlex="10" class="addbtndiv" fxLayoutAlign="center center">
              <mat-icon
                fxFlex="100"
                class="addbtn"
                (click)="addTitleCategory(i, title)"
                >add
              </mat-icon>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </mat-card>

  <mat-card
    class="attachments-main full-width default-card mx-0"
    fxLayout="column wrap"
    fxLayoutAlign="space-between"
    fxFlex="49"
  >
    <div
      fxLayout="row"
      fxLayoutAlign="space-between"
      fxFlex="100"
      fxLayoutGap="1%"
    >
      <div fxLayout="column" fxFlex="100">
        <mat-label class="custom-label">Added Account</mat-label>
        <div *ngIf="control.value">
          <div fxLayout="column">
            <ng-container *ngFor="let title of control.value; let i = index">
              <div class="account_container" fxLayout="row" fxFlex="100">
                <div
                  fxFlex="10"
                  class="addbtndiv"
                  fxLayoutAlign="center center"
                >
                  <mat-icon
                    fxFlex="100"
                    class="addbtn"
                    (click)="removeTitleCategoty(i, title)"
                    >remove</mat-icon
                  >
                </div>
                <div
                  class="account_num"
                  fxFlex="90"
                  fxLayoutAlign="start center"
                >
                  {{ title }}
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
</div>
