.header {
  color: #004c97;
  font-weight: 700;
  font-size: 25px;
  margin-top: 2px;
}

.scroll-bar {
  height: 304px;
  overflow: scroll;
  overflow-x: hidden;
}

::ng-deep .egret-navy .mat-dialog-container {
  border-radius: 20px;
}

.head {
  color: #004c97;
}

.text {
  font-weight: 600;
  font-size: 10px;
}

tr {
  border-bottom: 1px solid #ccc;
}
