<div fxLayout="column" class="scroll-bar">
  <div fxLayout="row" fxLayoutAlign="space-between start">
    <div>
      <div class="header">Interest Rates</div>
      <div class="text">Deposits upto 1 crore</div>
    </div>
    <mat-icon matDialogClose>close</mat-icon>
  </div>

  <div>
    <table>
      <thead class="head">
        <th>Period Of Deposit</th>
        <th>Interest Rate</th>
        <th>Senior Citizen Interest RatePa</th>
      </thead>
      <tbody>
        <tr *ngFor="let data of interestdetailsArray; let i = index">
          <td>{{ data?.periodOfDeposit }}</td>
          <td>{{ data?.interestRate }}</td>
          <td>{{ data?.seniorCitizenInterestRatePa }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
