.card-type {
  padding: 40px;

  .header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    .text-header {
      color: #000;
      font-family: "Nunito", sans-serif;
      font-size: 33px;
      font-style: normal;
      font-weight: 700;
      line-height: 56px;
      letter-spacing: 0.5px;
    }

    .back-arrow {
      box-shadow: 3px 3px 15px 0px #0000000f;
      background: #fff;
      border: none;
      border-radius: 50px;
    }

    .add-button-section {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      width: 73%;

      .add-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px;
      }
    }
  }

  .row {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;

    .col-1 {
      display: flex;
      flex-direction: column;
      width: 30%;

      .list-container {
        border-radius: 22.097px;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
        background: #fff;
        box-shadow: 0px 5.892449855804443px 29.462249755859375px 0px
          rgba(0, 0, 0, 0.06);
      }

      .list {
        color: #7c8087;
        font-family: Poppins;
        font-size: 19.15px;
        font-style: normal;
        font-weight: 500;
        padding-left: 5px;
        padding-right: 5px;
        line-height: normal;
        padding-top: 15px;
        padding-bottom: 15px;
        cursor: pointer;

        &.active {
          border-radius: 14.731px;
          background: #004c97;
          box-shadow: 0px 5.892449855804443px 22.0966854095459px 0px
            rgba(0, 0, 0, 0.06);
          color: #fff;
          font-family: Poppins;
          font-size: 19.15px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          margin-left: 5px;
          margin-right: 5px;
        }
      }
    }

    .col-2 {
      @extend .col-1;
      width: 70%;

      .cards-section {
        overflow: auto;
        display: flex;

        .cards {
          padding-left: 30px;
          padding-right: 30px;
          position: relative;

          span,
          .dlt-btn {
            position: absolute;
            box-sizing: border-box;
            right: 30px;

            button {
              border: none;
              background-color: #fff;
              border-radius: 8px;

              .mat-icon {
                color: #b20000;
              }

              .mat-icon svg {
                fill: #b20000;
              }
            }
          }

          .mat-form-field {
            display: block;
          }
        }
      }

      .rewards-section {
        display: flex;
        flex-direction: row;
        border-radius: 22.097px;
        background: #fff;
        box-shadow: 0px 5.892449855804443px 22.0966854095459px 0px
          rgba(0, 0, 0, 0.08);

        .rewards-details {
          display: flex;
          flex-direction: column;
          width: 33%;
          padding: 15px;

          .lable-text {
            color: #004c97;
            font-family: Poppins;
            font-size: 26.516px;
            font-style: normal;
            font-weight: 500;
            line-height: 33.145px;
            letter-spacing: -0.107px;
            display: block;
          }

          .plain-text {
            color: #7c8087;
            font-family: Poppins;
            font-size: 17.677px;
            font-style: normal;
            font-weight: 400;
            line-height: 33.145px;
            letter-spacing: -0.107px;
            display: block;
          }
        }

        .vl {
          height: 100px;
          border-left: 1px solid #707070;
          opacity: 0.45;
        }
      }
    }
  }
}

::-webkit-scrollbar {
  width: 5px !important;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
