<div class="outer-container">
  <ng-container *ngIf="data.remark">
    <div class="header">Confirmation Detail</div>
    <div
      class="inner-container"
      fxLayout="column"
      fxLayoutAlign="space-between"
    >
      <!-- for confirmation -->
      <ng-container *ngIf="confirmationForm" [formGroup]="confirmationForm">
        <div fxLayout="row" fxLayoutAlign="space-between">
          <div fxFlex="48%">
            <ic-form-field
              label="Transaction Password"
              placeholder="********"
              [control]="
                confirmationForm.get('transactionPassword') | formcontrol
              "
              [type]="hide ? 'password' : 'text'"
              [suffixIcon]="hide ? 'visibility-off-grey' : 'visibility-on-grey'"
              (onSuffixClick)="visibiltiy($event)"
            >
            </ic-form-field>
          </div>
          <div fxFlex="48%">
            <ic-form-field
              label="One Time Password"
              placeholder="********"
              [control]="confirmationForm.get('oneTimePassword') | formcontrol"
              appNumbersOnly
              type="text"
            >
            </ic-form-field>
          </div>
        </div>
      </ng-container>
      <div class="footer">
        <ic-button
          (click)="submit()"
          label="Submit"
          icButtonType="filled-rounded"
          type="submit"
          size="large"
        ></ic-button>
        <button
          type="button"
          mat-raised-button
          class="exitButton"
          mat-dialog-close
          (click)="closeDialog()"
        >
          Cancel
        </button>
      </div>
    </div>
  </ng-container>

  <!-- for remark -->
  <ng-container *ngIf="data.recordStatus">
    <div class="alertImage">
      <img
        class="summaryIcon"
        src="assets/images/success-logo.svg"
        alt="Success Sign"
      />
    </div>
    <div class="approveSection">
      <div class="approve">
        <span class="margin">
          You are trying to {{ data.recordStatus }} the record. Do you want to
          proceed?
        </span>
      </div>
      <div class="remark">
        <textarea
          matInput
          placeholder="Remarks"
          autocomplete="off"
          class="full-width remarkTextArea"
          maxlength="50"
          name="remark"
          [(ngModel)]="remark"
        ></textarea>
      </div>
    </div>
    <div class="footer">
      <ic-button
        (click)="onRemarkConfirm()"
        label="Yes"
        icButtonType="filled-rounded"
        type="submit"
        size="large"
      ></ic-button>
      <button
        type="button"
        mat-raised-button
        class="exitButton"
        (click)="closeDialog()"
      >
        No
      </button>
    </div>
  </ng-container>
</div>
