.recentTitleLine {
  padding: 0px 14px 0px 14px;
}

.extend-card {
  border-radius: 4px;
  margin: 0px;
  background-color: #fff;
  box-shadow: 0 3px 6px #377dff0d;
  height: 34px;
  width: 34px;
  .extend-icon {
    width: 14px;
    height: 16px;
  }
}

.send-money-title {
  letter-spacing: 0px;
  color: var(--current-theme-background);
  opacity: 1;
  font-size: 18px;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 700;
  padding-top: 10px;
}

.tabs {
  border-radius: 12px;
  width: auto;
  padding: 0px;
}

.header-box {
  height: 50px;
}

.recent-tabs-box {
  padding: 0px 16px;
  align-items: end !important;
}

.tab-box {
  height: 70%;
}

.recent-filters-box {
  padding: 0px 30px 0px 30px;
}

.search-field {
  align-items: center;
  border-radius: 8px !important;
  box-shadow: 0px 3px 6px #377dff0d !important;
  .search-icon {
    filter: var(--current-theme-filter);
  }
}

.filterIcon {
  margin-top: 12px;
  filter: var(--current-theme-filter);
}

.recent-tabs {
  font: normal normal normal 16px/19px Raleway;
  letter-spacing: 0px;
  color: #575d67;
  cursor: pointer;
}

.horizontal-line {
  background: var(--current-theme-background);
  height: 3px;
  border-radius: 30px;
  animation: increaseWidth 0.34s ease-out forwards; /* Apply animation */
}

@keyframes increaseWidth {
  from {
    width: 0%;
  } /* Start width */
  to {
    width: 60%;
  } /* End width */
}

.table {
  height: 220px;
  overflow-y: auto;
}
