<div fxLayout="row" fxLayoutAlign="space-between" class="recentTitleLine">
  <div class="send-money-title">{{ 'Recent Transaction' | translate }}</div>

  <button mat-icon-button class="extent_icon_btn">
    <mat-icon
      class="extend-icon current_theme_filter"
      svgIcon="extend-icon"
      (click)="gotoBillTransaction()"
    ></mat-icon>
  </button>
</div>
<mat-card fxLayout="column" class="tabs p-8">
  <div fxLayout="row" class="header-box" fxLayoutAlign="space-between">
    <div
      fxFlex="48"
      class="recent-tabs-box"
      fxLayout="row"
      fxLayoutAlign="space-between"
    >
      <div
        fxLayout="column"
        class="tab-box"
        fxLayoutAlign="space-between"
        *ngFor="let item of recentTransTabs; let i = index"
      >
        <div
          [ngClass]="
            selectedRecentTab == item ? 'light-blue-title' : 'recent-tabs'
          "
          (click)="changeRecentTransTabs(i)"
        >
          {{ item | translate }}
        </div>
        <div
          [ngClass]="selectedRecentTab == item ? 'horizontal-line' : ''"
        ></div>
      </div>
    </div>
    <!-- <div
      fxFlex="50"
      class="recent-filters-box"
      fxLayout="row"
      fxLayoutAlign="space-between"
      fxLayoutGap="2%"
    >
      <mat-card fxLayout="row" class="search-field" fxFlex="80">
        <input
          matInput
          class="saerch_input_field"
          [formControl]="searchValue"
          placeholder="Search"
        />
        <mat-icon
          matSuffix
          svgIcon="search-icon"
          class="search-icon"
          (click)="filterSearchValue()"
        ></mat-icon>
      </mat-card>
      <mat-card fxLayout="row" class="search-field" fxFlex="80">
        <mat-select
          (selectionChange)="checkValue($event.value)"
          [formControl]="selectedDate"
        >
          <mat-option [value]="">Select</mat-option>
          <mat-option
            *ngFor="let item of actionDateOptions"
            [value]="item.value"
          >
            {{ item.label | translate }}
          </mat-option>
        </mat-select>
      </mat-card>
      <button mat-icon-button>
        <mat-icon class="filterIcon" svgIcon="filter-icon"></mat-icon>
      </button>
    </div> -->
  </div>
  <div class="table">
    <app-reusable-table
      [columnNames]="recentTransCols"
      [data]="recentTransData"
      [customerInfo]="customerInfo"
      [selectedAcc]="selectedAcc"
      [showMoneyStatusIcon]="showMoneyStatusIcon"
      [allowScrollable]="true"
    ></app-reusable-table>
  </div>
</mat-card>
