.basic-details-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;

    .col-1 {
        display: flex;
        flex-direction: column;
        width: 33%;
    }

    .col-2,
    .col-3,
    .col-4 {
        @extend .col-1;
    }

    .col-4 {
        margin-top: 20px;
    }
}

.content-header {
    color: rgba(16, 34, 69, 0.43);
    font-family: Poppins;
    font-size: 13.438px;
    font-style: normal;
    display: block;
    font-weight: 500;
    line-height: normal;
}

.content {
    color: #102245;
    font-family: Poppins;
    font-size: 17.918px;
    display: block;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.desc-text {
    margin-top: 20px;
}