<ng-container *ngIf="otpSection; else feedbackSection">
  <mat-card
    fxLayout="column"
    fxLayoutAlign="space-between center"
    class="default otp_custom_card mx-auto d-flex flex-column"
  >
    <span class="verification">{{ 'OTP Authentication' }}</span>
    <span class="phoneNumber">
      <ng-container *ngIf="!this.otpResendTrigger">
        An authentication code has been sent to
      </ng-container>
      <ng-container *ngIf="this.otpResendTrigger">
        An authentication code has been Re-sent to
      </ng-container>
      <br />
      <span class="text-light">(+62) 812 345 6XXX</span>
    </span>
    <div class="otp_block">
      <ng-otp-input
        class="ng_otp_input"
        #ngOtpInput
        (onInputChange)="onOtpChange($event)"
        [config]="config"
      ></ng-otp-input>
    </div>
    <mat-error *ngIf="invalidOtp"><strong>Invalid OTP!</strong></mat-error>
    <div class="verify1">
      <span
        (click)="getOtp()"
        class="addcolor resend"
        (keydown.enter)="getOtp()"
        tabindex="0"
        >{{ 'Resend' }}
      </span>
    </div>
    <div
      class="button_section"
      fxLayout="row"
      fxLayoutGap="20"
      fxLayoutAlign="center"
    >
      <ic-button
        label="Cancel"
        icButtonType="outlined"
        type="submit"
        size="large"
        (click)="cancel()"
      ></ic-button>
      <ic-button
        label="Proceed"
        (click)="submit()"
        icButtonType="filled"
        type="submit"
        size="large"
      ></ic-button>
    </div> </mat-card
></ng-container>
<ng-template #feedbackSection> <app-feedback></app-feedback></ng-template>
