.credit_card_container {
  .heading_card {
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    mat-icon {
      display: flex;
    }
  }
  .text_label {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
  }
  .textarea_field {
    background: #fffefe 0% 0% no-repeat padding-box !important;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.0901960784) !important;
    border-radius: 12px !important;
    padding: 10px;
    font-family: "Poppins", sans-serif;
  }
}
