<div class="column-2" *ngIf="loanSummaryDetails">
  <!-- <div class="loan-summary"> -->
  <!-- LoanDetails -->
  <mat-card class="default-card">
    <div *ngFor="let section of loansummaryDetails" class="p-12">
      <div class="text-header mt-3">{{ section.title }}</div>
      <div fxLayout="row wrap" fxLayoutGap="16px">
        <div
          fxLayout="column"
          *ngFor="let field of section.headerInfo"
          fxFlex="28%"
          class="mt-20"
        >
          <span class="breadcrum_md">{{ field.header }}</span>
          <span class="header_lg">
            <ng-container *ngIf="field.headKey === 'internal'">
              {{
                loanSummaryDetails?.[section.headerKey]?.internal === true
                  ? 'Internal'
                  : 'External'
              }}
            </ng-container>
            <ng-container
              *ngIf="
                field.headKey !== 'internal' &&
                section.headerKey === 'loanDisbursementModel'
              "
            >
              {{
                loanSummaryDetails?.[section.headerKey]?.disbursementAccount?.[
                  field.headKey
                ] ?? loanSummaryDetails?.[section.headerKey]?.[field.headKey]
              }}
            </ng-container>

            <ng-container *ngIf="field.isCurrency">
              <span class="currencySymbol">{{ otherUserInfo?.currency }}</span>
              {{
                loanSummaryDetails?.[section.headerKey]?.[field.headKey]
                  | customCurrency: otherUserInfo?.currency : '1.2-2'
              }}
            </ng-container>
            <ng-container *ngIf="field.isPercentage">
              {{
                loanSummaryDetails?.[section.headerKey]?.[field.headKey] ?? ''
              }}%
            </ng-container>
            <!-- <ng-container *ngIf="!field.isCurrency && !field.isPercentage">
              {{ loanSummaryDetails?.[section.headerKey]?.[field.headKey] }}
            </ng-container> -->
            <ng-container *ngIf="field.isTenure">
              {{
                loanSummaryDetails?.[section.headerKey]?.loanTenureYear
                  | tenureFormat
                    : loanSummaryDetails?.[section.headerKey]?.loanTenureMonth
                    : loanSummaryDetails?.[section.headerKey]?.loanTenureDay
              }}
            </ng-container>
            <ng-container
              *ngIf="
                field.header === 'EMI Start Date' ||
                field.header === 'Repayment Frequency' ||
                field.header === 'Installment Start Date'
              "
            >
              {{ loanSummaryDetails?.repaymentModel?.[field.headKey] ?? '' }}
            </ng-container>
          </span>
        </div>
      </div>
    </div>
  </mat-card>

  <!-- Personal Identification -->
  <mat-card class="default-card">
    <div *ngFor="let section of personalDetailsArr" class="p-12">
      <ng-container
        *ngIf="
          section.title !== 'Spouse Details' ||
          loanSummaryDetails?.[section.headerKey]?.[0]?.spouseInfo
        "
      >
        <div class="text-header mt-3">{{ section.title }}</div>
        <div fxLayout="row wrap" fxLayoutGap="16px">
          <div
            *ngFor="let field of section.headerInfo"
            fxFlex="28%"
            fxLayout="column"
            class="mt-20"
          >
            <span class="breadcrum_md">{{ field.header }}</span>
            <span class="header_lg">
              <ng-container [ngSwitch]="section.title">
                <ng-container *ngSwitchCase="'Personal Identification'">
                  {{
                    loanSummaryDetails?.[section.headerKey]?.[0]?.[
                      field.headKey
                    ] ??
                      loanSummaryDetails?.[section.headerKey]?.[0]
                        ?.documentInfo[0]?.[field.headKey] ??
                      ''
                  }}
                </ng-container>

                <ng-container *ngSwitchCase="'Contact Details'">
                  {{
                    loanSummaryDetails?.[section.headerKey]?.[0]?.contact?.[
                      field.headKey
                    ] ??
                      loanSummaryDetails?.[section.headerKey]?.[0]?.contact
                        ?.address[0]?.[field.headKey] ??
                      ''
                  }}
                </ng-container>

                <ng-container
                  *ngIf="loanSummaryDetails.customerInfo[0].spouseInfo !== null"
                >
                  <ng-container *ngSwitchCase="'Spouse Details'">
                    {{
                      loanSummaryDetails?.[section.headerKey]?.[0]
                        ?.spouseInfo?.[field.headKey] ??
                        loanSummaryDetails?.[section.headerKey]?.[0]?.spouseInfo
                          ?.contact?.[field.headKey] ??
                        ''
                    }}
                  </ng-container>
                </ng-container>
                <ng-container *ngSwitchCase="'Emergency Contact / Next of Kin'">
                  {{
                    loanSummaryDetails?.[section.headerKey]?.[0]
                      ?.emergencyContactInfo?.[field.headKey] ??
                      loanSummaryDetails?.[section.headerKey]?.[0]
                        ?.emergencyContactInfo?.contact?.[field.headKey] ??
                      loanSummaryDetails?.[section.headerKey]?.[0]
                        ?.emergencyContactInfo?.contact?.address[0]?.[
                        field.headKey
                      ] ??
                      ''
                  }}
                </ng-container>
              </ng-container>
            </span>
          </div>
        </div>
      </ng-container>
    </div>
  </mat-card>

  <!-- Business Details -->
  <mat-card class="default-card" *ngIf="loanSummaryDetails?.businessModel">
    <div *ngFor="let section of businessDetailsArr" class="p-12">
      <div class="text-header mt-3">{{ section.title }}</div>
      <div fxLayout="row wrap" fxLayoutGap="16px">
        <div
          *ngFor="let field of section.headerInfo"
          fxFlex="28%"
          class="mt-20"
          fxLayout="column"
        >
          <span class="breadcrum_md">{{ field.header }}</span>
          <span class="header_lg">
            <ng-container>
              {{
                loanSummaryDetails?.[section.headerKey]?.[field.headKey] ??
                  loanSummaryDetails?.[section.headerKey]?.contact?.[
                    field.headKey
                  ] ??
                  loanSummaryDetails?.[section.headerKey]?.contact
                    ?.address[0]?.[field.headKey] ??
                  '-'
              }}
            </ng-container>
          </span>
        </div>
      </div>
    </div>
  </mat-card>

  <!-- Collateral Details -->
  <mat-card
    class="default-card"
    *ngIf="loanSummaryDetails?.collateralInfo?.collateralDescriptionForCredit"
  >
    <div *ngFor="let section of collateralDetailsArr" class="p-12">
      <div class="text-header mt-3">{{ section.title }}</div>
      <mat-card
        *ngFor="let item of section.sections"
        class="theme_md p-12 mt-4"
      >
        <div class="section-title">{{ item.title }}</div>
        <div fxLayout="row wrap" fxLayoutGap="16px">
          <div
            *ngFor="let field of item.fields"
            fxFlex="30%"
            class="field-block"
          >
            <span class="breadcrum_md">{{ field.header }}</span
            ><br />
            <span class="header_lg">
              {{
                loanSummaryDetails[section.headerInfo][field.key] === true
                  ? 'Yes'
                  : loanSummaryDetails[section.headerInfo][field.key] === false
                    ? 'No'
                    : loanSummaryDetails[section.headerInfo][field.key] || '—'
              }}
            </span>
          </div>
        </div>
      </mat-card>
      <div fxLayout="row wrap" fxLayoutGap="16px" class="mt-4">
        <div *ngFor="let foot of section.footer" fxFlex="30%" fxLayout="column">
          <span class="breadcrum_md">{{ foot.header }}</span>
          <span class="header_lg">
            {{ loanSummaryDetails[section.headerInfo][foot.key] || '' }}</span
          >
          <br />
        </div>
      </div>
    </div>
  </mat-card>
</div>

<div *ngIf="documentDetails?.length" class="uploaded-documents-summary">
  <div class="text-header">Document Uploaded(National ID)</div>
  <div class="bank-account-details w-full" fxLayout="column">
    <div class="col-1"></div>
    <div fxLayout="row wrap" fxLayoutGap="2%">
      <ng-container *ngFor="let doc of documentDetails; let i = index">
        <div fxFlex="31" class="mt-20">
          <app-show-document [document]="doc"> </app-show-document>
        </div>
      </ng-container>
    </div>
  </div>
</div>

<div class="uploaded-documents-summary">
  <div class="text-header">Loan Document</div>
  <div
    class="bank-account-details w-full"
    *ngIf="checkListDoc.length > 0"
    fxLayout="column"
  >
    <div
      fxLayout="column"
      fxFlex="100"
      *ngFor="let doc of checkListDoc; let inx = index"
      class="mt-16"
    >
      <ng-container *ngIf="doc?.docInfoModel?.length > 0">
        <span class="content">{{ doc?.docInfoModel[0].documentType }} </span>
        <div fxFlex="100" fxLayout="row wrap" fxLayoutGap="2%">
          <div
            fxFlex="31"
            class="mt-20"
            *ngFor="let docItem of doc?.docInfoModel"
          >
            <div fxLayout="column">
              <app-show-document [document]="docItem"> </app-show-document>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
<div class="uploaded-documents-summary" *ngIf="loanSummaryDetails?.signature">
  <div class="text-header">Signature</div>
  <div class="bank-account-details w-full" fxLayout="column">
    <div class="col-1"></div>
    <div fxLayout="row wrap" fxLayoutGap="2%">
      <div fxFlex="31" class="mt-20">
        <app-show-document [document]="loanSummaryDetails?.signature">
        </app-show-document>
      </div>
    </div>
  </div>
</div>
<div class="pb-24" fxLayout="row" fxLayoutGap="2%">
  <ic-button
    [label]="'Confirm' | translate"
    [type]="'submit'"
    size="large"
    [icButtonType]="'filled-rounded'"
    (OnClick)="onVerify()"
  >
  </ic-button>
  <ic-button
    [label]="'Back'"
    icButtonType="ghost-rounded-danger"
    size="large"
    [type]="'submit'"
    (OnClick)="onBack()"
  >
  </ic-button>
</div>
<!-- </div> -->
