<mat-drawer-container class="drawer-container" autosize>
  <mat-drawer
    #drawer
    class="example-sidenav"
    mode="side"
    style="min-width: 20%"
  >
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
      <!-- This is the tree node template for leaf nodes -->
      <mat-tree-node
        *matTreeNodeDef="let node"
        matTreeNodePadding
        class="custom-tree-node"
        [ngClass]="[
          currentMenu == node.name ? 'active-node highlight_blue' : '',
          node.roleName == 'parent-node' ? 'align-node' : ''
        ]"
      >
        <!-- use a disabled button to provide padding for tree leaf -->

        <div
          [class]="node.roleName"
          style="cursor: pointer"
          (click)="getNode(node); drawer.toggle()"
        >
          {{ node.name }}
        </div>
      </mat-tree-node>
      <!-- This is the tree node template for expandable nodes -->
      <mat-tree-node
        *matTreeNodeDef="let node; when: hasChild"
        matTreeNodePadding
        fxLayoutAlign="space-between center"
        style="padding: 0%"
        [ngClass]="[
          currentMenu == node.name &&
          node.roleName != 'parent-node' &&
          node.roleName != 'child-node'
            ? 'active-node'
            : '',
          node.roleName == 'parent-node' ? 'align-node' : ''
        ]"
      >
        <div
          [class]="node.roleName"
          style="cursor: pointer"
          (click)="currentMenu = node.name"
        >
          {{ node.name }}
        </div>
        <button mat-icon-button matTreeNodeToggle style="cursor: pointer">
          <mat-icon class="mat-icon-rtl-mirror">
            {{ treeControl.isExpanded(node) ? "expand_more" : "chevron_right" }}
          </mat-icon>
        </button>
      </mat-tree-node>
    </mat-tree>
  </mat-drawer>

  <button mat-flat-button (click)="drawer.toggle()" class="icon-button">
    <mat-icon svgIcon="sidenav-icon" class="btn_icon"></mat-icon>
  </button>

  <div class="custom_drawer_components_container">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
