::ng-deep .inputSelect.mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0px;
  margin-top: -4px !important;
}

::ng-deep
  .inputSelect.mat-form-field-appearance-outline
  .mat-form-field-outline {
  color: white !important;
}
.inputSelect {
  width: 33% !important;
  height: 22px;
  background: #fffefe 0% 0% no-repeat padding-box;
  border-radius: 8px;
  opacity: 1;
  margin-top: 0px;
  display: flow-root;
}

.vl {
  border-left: 1px solid black;
}
