<!-- <div [ngSwitch]="detailsForGeneric.accountType">
  <ng-template [ngSwitchCase]="'individual'">
    <app-generic-account-form
      (genericForm)="getForm($event)"
      [detailsForGeneric]="detailsForGeneric"
    ></app-generic-account-form>
  </ng-template>
  <ng-template [ngSwitchCase]="'joint'">
    <div class="d-flex mt-12 mb-12">
      <img src="../../../../../assets/images/info_yellow.svg" alt="" />
      <div class="ml-12">
        {{
          'Multiple Applicant details will be populated here based on the uploaded documents. You can modify the information if needed.'
        }}
      </div>
    </div>
    <mat-divider></mat-divider>
    <span *ngFor="let user of accordionItems; let i = index">
      <mat-accordion>
        <mat-expansion-panel
          [expanded]="user.expanded"
          #panel="matExpansionPanel"
        >
          <mat-expansion-panel-header class="panel-header">
            <div class="panel-header-content">
              <div
                class="panel-title"
                fxLayoutGap="5"
                fxLayoutAlign="start center"
              >
                <img src="assets/images/tickicon.svg" alt="Tick" />
                <ng-template #unticked>
                  <img src="assets/images/untickicon.svg" alt="Untick" />
                </ng-template>
                <span class="header_md"> {{ user.header }} </span>
              </div>
              <span
                [ngClass]="
                  accordionItems.length <= 2 ? 'disabled_delete' : 'delete_btn'
                "
                (click)="deleteAccordian(i)"
              >
                Delete
              </span>
              <mat-icon class="arrow-icon" [class.rotate]="panel.expanded">
                expand_more
              </mat-icon>
            </div>
          </mat-expansion-panel-header>
          <app-generic-account-form
            (genericForm)="getForm($event)"
            [detailsForGeneric]="detailsForGeneric"
            [user]="user"
          ></app-generic-account-form>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-divider></mat-divider>
    </span>
  </ng-template>
  <ng-template [ngSwitchCase]="'minor'">
    <div class="d-flex mt-12 mb-12">
      <img src="../../../../../assets/images/info_yellow.svg" alt="" />
      <div class="ml-12">
        {{
          'Multiple Applicant details will be populated here based on the uploaded documents. You can modify the information if needed.'
        }}
      </div>
    </div>
    <mat-divider></mat-divider>
    <span *ngFor="let user of accordionItems; let i = index">
      <mat-accordion>
        <mat-expansion-panel
          [expanded]="user.expanded"
          #panel="matExpansionPanel"
        >
          <mat-expansion-panel-header class="panel-header">
            <div class="panel-header-content">
              <div
                class="panel-title"
                fxLayoutGap="5"
                fxLayoutAlign="start center"
              >
                <img src="assets/images/tickicon.svg" alt="Tick" />
                <ng-template #unticked>
                  <img src="assets/images/untickicon.svg" alt="Untick" />
                </ng-template>
                <span class="header_md"> {{ user.header }} </span>
              </div>
              <span
                [ngClass]="
                  accordionItems.length <= 2 || user.header == 'Minor Details'
                    ? 'disabled_delete'
                    : 'delete_btn'
                "
                (click)="deleteAccordian(i)"
              >
                Delete
              </span>
              <mat-icon class="arrow-icon" [class.rotate]="panel.expanded">
                expand_more
              </mat-icon>
            </div>
          </mat-expansion-panel-header>
          <app-generic-account-form
            (genericForm)="getForm($event)"
            [detailsForGeneric]="detailsForGeneric"
            [user]="user"
          ></app-generic-account-form>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-divider></mat-divider>
    </span>
  </ng-template>
  <ng-template [ngSwitchCase]="'corporate'">
    <div class="d-flex mt-12 mb-12">
      <img src="../../../../../assets/images/info_yellow.svg" alt="" />
      <div class="ml-12">
        {{
          'Multiple director details will be populated here based on the uploaded documents. You can modify the information if needed.'
        }}
      </div>
    </div>
    <mat-divider></mat-divider>
    <span *ngFor="let user of accordionItems; let i = index">
      <mat-accordion>
        <mat-expansion-panel
          [expanded]="user.expanded"
          #panel="matExpansionPanel"
        >
          <mat-expansion-panel-header class="panel-header">
            <div class="panel-header-content">
              <div
                class="panel-title"
                fxLayoutGap="5"
                fxLayoutAlign="start center"
              >
                <img src="assets/images/tickicon.svg" alt="Tick" />
                <ng-template #unticked>
                  <img src="assets/images/untickicon.svg" alt="Untick" />
                </ng-template>
                <span class="header_md"> {{ user.header }} </span>
              </div>

              <mat-icon class="arrow-icon" [class.rotate]="panel.expanded">
                expand_more
              </mat-icon>
            </div>
          </mat-expansion-panel-header>
          <app-generic-account-form
            (genericForm)="getForm($event)"
            [detailsForGeneric]="detailsForGeneric"
            [user]="user"
          ></app-generic-account-form>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-divider></mat-divider>
    </span>
  </ng-template>
  <ng-template *ngSwitchDefault>
    <p>Nothing to show</p>
  </ng-template>
</div> -->

<div *ngIf="customerDetailsForm" fxLayout="column">
  <form [formGroup]="customerDetailsForm">
    <div formArrayName="customer">
      <div *ngFor="let customer of customer.controls; let i = index">
        <div [formGroup]="customer | formgroup">
          <div class="custom_accordin">
            <mat-accordion>
              <mat-expansion-panel [expanded]="i === 0">
                <mat-expansion-panel-header class="customer_Header">
                  <mat-panel-description>
                    <div
                      fxLayout="row"
                      fxLayoutAlign="start center"
                      fxLayoutGap="10px"
                    >
                      <img
                        *ngIf="customer.valid"
                        alt="image"
                        src="../../../../../../assets/images/done_icon.svg"
                      />
                      <span class="header_lg_bold_black p-12"
                        >Applicant {{ i + 1 }}</span
                      >
                    </div>
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <div fxLayout="row" fxLayoutAlign="space-between center">
                  <ic-form-field
                    [control]="customer.get('customerNo') | formcontrol"
                    [icAlphabetOnly]="true"
                    [maxLength]="20"
                    fxFlex="24"
                    label="CIF Number"
                  ></ic-form-field>

                  <ic-slide-toggle
                    [formControl]="
                      customer.get('primaryCustomer') | formcontrol
                    "
                    color="primary"
                    labelPosition="after"
                  >
                    Is this applicant a primary customer?
                  </ic-slide-toggle>
                </div>
                <app-generic-account-form
                  [customerForm]="customer"
                  [genericValue]="staticData"
                  [tabIndex]="i"
                  [dobMaxDate]="dobMaxDate"
                  [dobMinDate]="dobMinDate"
                  [countryArray]="countryArray"
                ></app-generic-account-form>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
