<div fxLayout="column" fxLayoutGap="20px" class="cont">
  <h3>Service Fees</h3>
  <div fxFlex="100" fxLayout="row" fxLayoutGap="20px">
    <div
      *ngIf="type.toLowerCase() !== 'card'"
      fxFlex="50"
      fxLayout="row"
      fxLayoutGap="100px"
      class="border-btm"
      fxLayoutAlign="space-between center"
    >
      <div>
        <h3>Cheque Book Fee *</h3>
        <p class="para-text">Standard cheque book with 25 leaves</p>
      </div>
      <div class="amount-colour">$500</div>
    </div>
    <div
      fxFlex="50"
      fxLayout="row"
      fxLayoutGap="100px"
      class="border-btm"
      fxLayoutAlign="space-between center"
    >
      <div>
        <h3>Debit Card Fee *</h3>
        <p class="para-text">Visa card with contactless payment</p>
      </div>
      <div class="amount-colour">$500</div>
    </div>
  </div>
</div>
<div fxLayout="column" fxLayoutGap="20px">
  <h3>Select the Services</h3>
  <div class="cards-container" fxFlex="100" fxLayout="row">
    <ng-container *ngFor="let card of cardsList">
      <div
        class="card-item"
        fxFlex="25"
        fxLayout="row"
        [ngClass]="{
          'selected-card':
            paymentDetailsForm.get('services')?.value === card.name,
        }"
      >
        <ic-radio-button
          [control]="paymentDetailsForm.get('services') | formcontrol"
          [value]="card.name"
        ></ic-radio-button>
        <div>
          <div class="service-name">{{ card.name }}</div>
          <div class="service-text">{{ card.text }}</div>
        </div>
      </div>
    </ng-container>
  </div>
  <h3>{{ paymentDetailsForm.get('services')?.value }}</h3>
  <div class="details-container" fxFlex="100" fxLayout="row" fxLayoutGap="20px">
    <div fxFlex="25">
      <div *ngIf="paymentDetailsForm.get('services')?.value === 'M-pesa'">
        <ic-mobile-field
          [isdCode]="countriesIsdCodes"
          [isdControl]="paymentDetailsForm.get('isdCode') | formcontrol"
          [formControl]="paymentDetailsForm.get('mobile') | formcontrol"
          label="Mobile Number"
        ></ic-mobile-field>
      </div>
      <div *ngIf="paymentDetailsForm.get('services')?.value === 'Cash'">
        <p>You have selected Cash as your payment method.</p>
      </div>
      <div
        *ngIf="paymentDetailsForm.get('services')?.value === 'Account Debit'"
      >
        <ic-select
          [control]="paymentDetailsForm.get('accountNumber') | formcontrol"
          [options]="accountNumbers"
          label="Select Account Number"
        ></ic-select>
      </div>
    </div>
    <div
      *ngIf="
        paymentDetailsForm.get('services')?.value === 'M-pesa' ||
        paymentDetailsForm.get('services')?.value === 'Account Debit'
      "
      fxFlex="25"
    >
      <ic-form-field
        [control]="paymentDetailsForm.get('overallAmount') | formcontrol"
        label="Amount"
        placeholder="Enter the amount"
        [disabled]="true"
      ></ic-form-field>
    </div>
  </div>
</div>
