.border-btm {
  border-bottom: 1px solid #e0e0e0;
}
.amount-colour {
  color:  var(--ic-text-red) !important;
  font-weight: 600;
  font-size: 14px;
}
.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.card-item {
  border: 1px solid #cac4da;
  display: flex;
  padding: 10px;
  border-radius: 4px;
  gap: 10px;
  background-color: var(--ic-card-bg-accent, #f6faff);
}
.card-item.selected-card {
  background-color: white;
  border: 1px solid var(--ic-clr-primary-a0) !important;

}
.card-item.selected-card .service-name{
    color:  var(--ic-text-red) !important;
}
.para-text {
    color: #A0A0A0;
}
.service-text{
    color: #7D7C93;
    font-size: 12px;
}
.cont{
    padding-block: 20px;
}