<div
  fxFlex="100"
  fxLayout="column"
  fxLayoutGap="1rem"
  [formGroup]="personalIdentificationForm"
>
  <!--Individual-->
  <ng-container *ngIf="customeSelected === 'individual'; else otherCustomers">
    <!--Header-->
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <div>
        National ID are mandatory. To upload document, face scan & Fingerprint
      </div>
    </div>
    <!--main Div-->
    <div formGroupName="otherDocument" class="document-panel">
      <mat-accordion>
        <!--national Id expansion -->
        <mat-expansion-panel
          class="styled-panel fileUpload"
          [expanded]="true"
          (opened)="panelExpanded = true"
          (closed)="panelExpanded = false"
        >
          <mat-expansion-panel-header class="panel-header">
            <div class="panel-header-content">
              <div
                class="panel-title"
                fxLayoutGap="5"
                fxLayoutAlign="start center"
              >
                <img
                  *ngIf="getFileInfo()?.length > 0; else unticked"
                  src="assets/images/tickicon.svg"
                  alt="Tick"
                />
                <ng-template #unticked>
                  <img src="assets/images/untickicon.svg" alt="Untick" />
                </ng-template>
                <span class="header_md">{{ 'National ID' }}</span>
                <span
                  *ngIf="otherDocument.get('docRequired')?.value"
                  class="required"
                  >*</span
                >
              </div>
              <span>
                <mat-icon>{{
                  panelExpanded ? 'keyboard_arrow_up' : 'keyboard_arrow_down'
                }}</mat-icon>
              </span>
            </div>
          </mat-expansion-panel-header>
          <!--matTab-->
          <mat-tab-group
            class="tabGroup"
            mat-stretch-tabs="false"
            (selectedTabChange)="onTabChange($event)"
            [selectedIndex]="tabIndex"
          >
            <!--front Side-->
            <mat-tab label="Front Side">
              <div fxLayout="column">
                <div class="upload-section" *ngIf="!getFileInfo()">
                  <span class="medium_txt">Upload files</span>
                  <p class="breadcrum_md">
                    Max file size is 500kb. Supported file types are .jpg and
                    .png.
                  </p>
                  <div class="drag-drop" (click)="fileBrowseHandler()">
                    <p class="file-upload-text">
                      Drag and drop files here or click to upload
                    </p>
                  </div>
                </div>

                <div
                  class="uploaded_list"
                  fxLayout="row wrap"
                  fxFlex="100"
                  fxLayoutAlign="space-between center"
                  *ngIf="getFileInfo()?.length > 0"
                >
                  <h3 fxFlex="100">Upload Document</h3>
                  <ng-container
                    *ngFor="let file of getFileInfo(); let fileIndx = index"
                  >
                    <div class="img_box" fxFlex="30">
                      <img [src]="file?.url" alt="image" />
                    </div>
                    <div class="img_container" fxFlex="69" fxLayout="row wrap">
                      <ng-container
                        *ngFor="let data of getOcrData(); let j = index"
                      >
                        <div fxFlex="25" fxLayout="column" fxLayoutGap="10">
                          <div class="theme_sm">{{ data?.label }}</div>
                          <div class="img_name">{{ data?.values }}</div>
                        </div>
                      </ng-container>
                    </div>
                    <div
                      fxFlex="100"
                      fxLayoutGap="10"
                      fxLayoutAlign="end center"
                      class="cancel-icon"
                    >
                      <ic-button
                        label="Edit"
                        size="small"
                        customButtonClass="outlined-danger"
                      ></ic-button>
                      <ic-button
                        label="Re-scan"
                        size="small"
                        customButtonClass="filled-danger"
                        (OnClick)="removeFile(fileIndx)"
                      ></ic-button>
                    </div>
                  </ng-container>
                </div>
              </div>
            </mat-tab>
            <!--Back Side-->
            <mat-tab label="Back Side">
              <div fxLayout="column">
                <div class="upload-section" *ngIf="!getFileInfo()">
                  <span class="medium_txt">Upload files</span>
                  <p class="breadcrum_md">
                    Max file size is 500kb. Supported file types are .jpg and
                    .png.
                  </p>
                  <div class="drag-drop" (click)="fileBrowseHandler()">
                    <p class="file-upload-text">
                      Drag and drop files here or click to upload
                    </p>
                  </div>
                </div>

                <div
                  class="uploaded_list"
                  fxLayout="row wrap"
                  fxFlex="100"
                  fxLayoutAlign="space-between center"
                  *ngIf="getFileInfo()?.length > 0"
                >
                  <h3 fxFlex="100">Upload Document</h3>
                  <ng-container
                    *ngFor="let file of getFileInfo(); let fileIndx = index"
                  >
                    <div class="img_box" fxFlex="30">
                      <img [src]="file?.url" alt="image" />
                    </div>
                    <div class="img_container" fxFlex="69" fxLayout="row wrap">
                      <ng-container
                        *ngFor="let data of getOcrData(); let j = index"
                      >
                        <div fxFlex="25" fxLayout="column" fxLayoutGap="10">
                          <div class="theme_sm">{{ data?.label }}</div>
                          <div class="img_name">{{ data?.values }}</div>
                        </div>
                      </ng-container>
                    </div>
                    <div
                      fxFlex="100"
                      fxLayoutGap="10"
                      fxLayoutAlign="end center"
                      class="cancel-icon"
                    >
                      <ic-button
                        label="Edit"
                        size="small"
                        customButtonClass="outlined-danger"
                      ></ic-button>
                      <ic-button
                        label="Re-scan"
                        size="small"
                        customButtonClass="filled-danger"
                        (OnClick)="removeFile(fileIndx)"
                      ></ic-button>
                    </div>
                  </ng-container>
                </div>
              </div>
            </mat-tab>
          </mat-tab-group>
        </mat-expansion-panel>
        <!--face Scan-->
        <mat-expansion-panel
          class="styled-panel fileUpload"
          (opened)="faceExpanded = true"
          (closed)="faceExpanded = false"
        >
          <mat-expansion-panel-header class="panel-header">
            <div class="panel-header-content">
              <div
                class="panel-title"
                fxLayoutGap="5"
                fxLayoutAlign="start center"
              >
                <img
                  *ngIf="otherDocument.get('faceId')?.value; else unticked"
                  src="assets/images/tickicon.svg"
                  alt="Tick"
                />
                <ng-template #unticked>
                  <img src="assets/images/untickicon.svg" alt="Untick" />
                </ng-template>
                <span class="header_md">{{ 'Face Scan' }}</span>
              </div>
              <span>
                <mat-icon>{{
                  faceExpanded ? 'keyboard_arrow_up' : 'keyboard_arrow_down'
                }}</mat-icon>
              </span>
            </div>
          </mat-expansion-panel-header>
          <div
            fxFlex="100"
            fxLayout="column"
            fxLayoutAlign="start"
            fxLayoutGap="5"
          >
            <p>
              Position your face in front of the camera, Keep steady for
              accurate scanning.
            </p>
            <ic-button
              (OnClick)="openDialog('face')"
              label="scan"
              size="medium"
              type="button"
              icButtonType="outlined-rounded"
            ></ic-button>
            <ng-container *ngIf="otherDocument.get('faceUrl')?.value">
              <img
                [src]="otherDocument.get('faceUrl')?.value"
                width="165"
                height="200"
              />
              <mat-icon class="faceCard" (click)="imageDeleted('face')"
                >close</mat-icon
              >
            </ng-container>
          </div>
        </mat-expansion-panel>
        <!--fingerPrint-->
        <mat-expansion-panel
          class="styled-panel fileUpload"
          (opened)="biometricExpanded = true"
          (closed)="biometricExpanded = false"
        >
          <mat-expansion-panel-header class="panel-header">
            <div class="panel-header-content">
              <div
                class="panel-title"
                fxLayoutGap="5"
                fxLayoutAlign="start center"
              >
                <img
                  *ngIf="
                    otherDocument.get('fingerPrintId')?.value;
                    else unticked
                  "
                  src="assets/images/tickicon.svg"
                  alt="Tick"
                />
                <ng-template #unticked>
                  <img src="assets/images/untickicon.svg" alt="Untick" />
                </ng-template>
                <span class="header_md">{{ 'Finger Print' }}</span>
              </div>
              <span>
                <mat-icon>{{
                  biometricExpanded
                    ? 'keyboard_arrow_up'
                    : 'keyboard_arrow_down'
                }}</mat-icon>
              </span>
            </div>
          </mat-expansion-panel-header>
          <div
            fxFlex="100"
            fxLayout="column"
            fxLayoutAlign="start"
            fxLayoutGap="5"
          >
            <p>
              Place your finger on the Scanner, Keep steady for accurate
              scanning.
            </p>
            <ic-button
              (OnClick)="openDialog('fingerPrint')"
              label="scan"
              size="medium"
              type="button"
              icButtonType="outlined-rounded"
            ></ic-button>
            <div class="mt-4">
              <img
                [src]="
                  otherDocument.get('fingerPrintId')?.value
                    ? 'images/svg/fingerprint-recognition-success.svg'
                    : 'images/svg/fingerprint-recognition2.svg'
                "
                alt=""
                width="100px"
                class="border-[1px]"
              />
              <mat-icon
                *ngIf="otherDocument.get('fingerPrintId')?.value"
                class="bg-transparent text-red-600 z-10 relative top-[-6.4rem] left-[5.2rem] text-base"
                (click)="imageDeleted('fingerprint')"
                >close</mat-icon
              >
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </ng-container>

  <!-- for Joint && Minor-->
  <ng-template #otherCustomers>
    <!--Header && add button-->
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <p>
        Add multiple applicant and upload the required documents for each
        applicant individually.
      </p>
      <ic-button
        (OnClick)="addApplicant()"
        icButtonType="outlined-rounded"
        label="Add"
        type="submit"
        class="w-100"
        customButtonClass="w-100 justify-content-center"
        fxFlex="10"
        size="small"
      >
      </ic-button>
    </div>
    <!--form Array expansion-->
    <ng-container *ngFor="let app of applicant.controls; let i = index">
      <mat-expansion-panel>
        <!--expansion headers-->
        <mat-expansion-panel-header class="panel-header">
          <div class="panel-header-content">
            <div
              class="panel-title"
              fxLayoutGap="5"
              fxLayoutAlign="start center"
            >
              <img
                *ngIf="getFileInfo(i)?.length > 0; else unticked"
                src="assets/images/tickicon.svg"
                alt="Tick"
              />
              <ng-template #unticked>
                <img src="assets/images/untickicon.svg" alt="Untick" />
              </ng-template>
              <ng-container *ngIf="customeSelected === 'joint'; else minor">
                <span class="header_md">{{ 'Applicant' }} {{ i + 1 }} </span>
              </ng-container>
              <ng-template #minor>
                <span class="header_md" *ngIf="i == 0">{{
                  'Minor Details'
                }}</span>
                <span class="header_md" *ngIf="i > 0"
                  >{{ 'Guardians' }} {{ i }}
                </span>
              </ng-template>
              <span *ngIf="app.get('docRequired')?.value" class="required"
                >*</span
              >
            </div>
            <span
              class="cancel-icon"
              *ngIf="customeSelected == 'minor' ? i > 1 : i > 0"
            >
              Delete
            </span>
          </div>
        </mat-expansion-panel-header>
        <div>
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <div>
              National ID are mandatory. To upload document, face scan &
              Fingerprint
            </div>
          </div>
          <div class="document-panel">
            <mat-accordion>
              <!--national Id expansion -->
              <mat-expansion-panel
                class="styled-panel fileUpload"
                [expanded]="true"
              >
                <mat-expansion-panel-header class="panel-header">
                  <div class="panel-header-content">
                    <div
                      class="panel-title"
                      fxLayoutGap="5"
                      fxLayoutAlign="start center"
                    >
                      <img
                        *ngIf="getFileInfo(i)?.length > 0; else unticked"
                        src="assets/images/tickicon.svg"
                        alt="Tick"
                      />
                      <ng-template #unticked>
                        <img src="assets/images/untickicon.svg" alt="Untick" />
                      </ng-template>
                      <span class="header_md">{{ 'National ID' }}</span>
                      <span
                        *ngIf="app.get('docRequired')?.value"
                        class="required"
                        >*</span
                      >
                    </div>
                  </div>
                </mat-expansion-panel-header>

                <!--matTab-->
                <mat-tab-group
                  class="tabGroup"
                  mat-stretch-tabs="false"
                  (selectedTabChange)="onTabChange($event)"
                  [selectedIndex]="tabIndex"
                >
                  <!--front Side-->
                  <mat-tab label="Front Side">
                    <div fxLayout="column">
                      <div class="upload-section" *ngIf="!getFileInfo(i)">
                        <span class="medium_txt">Upload files</span>
                        <p class="breadcrum_md">
                          Max file size is 500kb. Supported file types are .jpg
                          and .png.
                        </p>
                        <div class="drag-drop" (click)="fileBrowseHandler(i)">
                          <p class="file-upload-text">
                            Drag and drop files here or click to upload
                          </p>
                        </div>
                      </div>

                      <div
                        class="uploaded_list"
                        fxLayout="row wrap"
                        fxFlex="100"
                        fxLayoutAlign="space-between center"
                        *ngIf="getFileInfo(i)?.length > 0"
                      >
                        <h3 fxFlex="100">Upload Document</h3>
                        <ng-container
                          *ngFor="
                            let file of getFileInfo(i);
                            let fileIndx = index
                          "
                        >
                          <div class="img_box" fxFlex="30">
                            <img [src]="file?.url" alt="image" />
                          </div>
                          <div
                            class="img_container"
                            fxFlex="69"
                            fxLayout="row wrap"
                          >
                            <ng-container
                              *ngFor="let data of getOcrData(i); let j = index"
                            >
                              <div
                                fxFlex="25"
                                fxLayout="column"
                                fxLayoutGap="10"
                              >
                                <div class="theme_sm">{{ data?.label }}</div>
                                <div class="img_name">{{ data?.values }}</div>
                              </div>
                            </ng-container>
                          </div>
                          <div
                            fxFlex="100"
                            fxLayoutGap="10"
                            fxLayoutAlign="end center"
                            class="cancel-icon"
                          >
                            <ic-button
                              label="Edit"
                              size="small"
                              customButtonClass="outlined-danger"
                            ></ic-button>
                            <ic-button
                              label="Re-scan"
                              size="small"
                              customButtonClass="filled-danger"
                              (OnClick)="removeFile(fileIndx, i)"
                            ></ic-button>
                          </div>
                        </ng-container>
                      </div>
                    </div>
                  </mat-tab>
                  <!--Back Side-->
                  <mat-tab label="Back Side">
                    <div fxLayout="column">
                      <div class="upload-section" *ngIf="!getFileInfo(i)">
                        <span class="medium_txt">Upload files</span>
                        <p class="breadcrum_md">
                          Max file size is 500kb. Supported file types are .jpg
                          and .png.
                        </p>
                        <div class="drag-drop" (click)="fileBrowseHandler(i)">
                          <p class="file-upload-text">
                            Drag and drop files here or click to upload
                          </p>
                        </div>
                      </div>

                      <div
                        class="uploaded_list"
                        fxLayout="row wrap"
                        fxFlex="100"
                        fxLayoutAlign="space-between center"
                        *ngIf="getFileInfo(i)?.length > 0"
                      >
                        <h3 fxFlex="100">Upload Document</h3>
                        <ng-container
                          *ngFor="
                            let file of getFileInfo(i);
                            let fileIndx = index
                          "
                        >
                          <div class="img_box" fxFlex="30">
                            <img [src]="file?.url" alt="image" />
                          </div>
                          <div
                            class="img_container"
                            fxFlex="69"
                            fxLayout="row wrap"
                          >
                            <ng-container
                              *ngFor="let data of getOcrData(i); let j = index"
                            >
                              <div
                                fxFlex="25"
                                fxLayout="column"
                                fxLayoutGap="10"
                              >
                                <div class="theme_sm">{{ data?.label }}</div>
                                <div class="img_name">{{ data?.values }}</div>
                              </div>
                            </ng-container>
                          </div>
                          <div
                            fxFlex="100"
                            fxLayoutGap="10"
                            fxLayoutAlign="end center"
                            class="cancel-icon"
                          >
                            <ic-button
                              label="Edit"
                              size="small"
                              customButtonClass="outlined-danger"
                            ></ic-button>
                            <ic-button
                              label="Re-scan"
                              size="small"
                              customButtonClass="filled-danger"
                              (OnClick)="removeFile(fileIndx, i)"
                            ></ic-button>
                          </div>
                        </ng-container>
                      </div>
                    </div>
                  </mat-tab>
                </mat-tab-group>
              </mat-expansion-panel>
              <!--face Scan-->
              <mat-expansion-panel class="styled-panel fileUpload">
                <mat-expansion-panel-header class="panel-header">
                  <div class="panel-header-content">
                    <div
                      class="panel-title"
                      fxLayoutGap="5"
                      fxLayoutAlign="start center"
                    >
                      <img
                        *ngIf="app?.get('faceId')?.value; else unticked"
                        src="assets/images/tickicon.svg"
                        alt="Tick"
                      />
                      <ng-template #unticked>
                        <img src="assets/images/untickicon.svg" alt="Untick" />
                      </ng-template>
                      <span class="header_md">{{ 'Face Scan' }}</span>
                    </div>
                  </div>
                </mat-expansion-panel-header>
                <div
                  fxFlex="100"
                  fxLayout="column"
                  fxLayoutAlign="start"
                  fxLayoutGap="5"
                >
                  <p>
                    Position your face in front of the camera, Keep steady for
                    accurate scanning.
                  </p>
                  <ic-button
                    (OnClick)="openDialog('face', i)"
                    label="scan"
                    size="medium"
                    type="button"
                    icButtonType="outlined-rounded"
                  ></ic-button>
                  <ng-container *ngIf="app?.get('faceUrl')?.value">
                    <img
                      [src]="app?.get('faceUrl')?.value"
                      width="165"
                      height="200"
                    />
                    <mat-icon class="faceCard" (click)="imageDeleted('face', i)"
                      >close</mat-icon
                    >
                  </ng-container>
                </div>
              </mat-expansion-panel>
              <!--fingerPrint-->
              <mat-expansion-panel class="styled-panel fileUpload">
                <mat-expansion-panel-header class="panel-header">
                  <div class="panel-header-content">
                    <div
                      class="panel-title"
                      fxLayoutGap="5"
                      fxLayoutAlign="start center"
                    >
                      <img
                        *ngIf="app?.get('fingerPrintId')?.value; else unticked"
                        src="assets/images/tickicon.svg"
                        alt="Tick"
                      />
                      <ng-template #unticked>
                        <img src="assets/images/untickicon.svg" alt="Untick" />
                      </ng-template>
                      <span class="header_md">{{ 'Finger Print' }}</span>
                    </div>
                  </div>
                </mat-expansion-panel-header>
                <div
                  fxFlex="100"
                  fxLayout="column"
                  fxLayoutAlign="start"
                  fxLayoutGap="5"
                >
                  <p>
                    Place your finger on the Scanner, Keep steady for accurate
                    scanning.
                  </p>
                  <ic-button
                    (OnClick)="openDialog('fingerPrint', i)"
                    label="scan"
                    size="medium"
                    type="button"
                    icButtonType="outlined-rounded"
                  ></ic-button>
                  <div class="mt-4">
                    <img
                      [src]="
                        app?.get('fingerPrintId')?.value
                          ? 'images/svg/fingerprint-recognition-success.svg'
                          : 'images/svg/fingerprint-recognition2.svg'
                      "
                      alt=""
                      width="100px"
                      class="border-[1px]"
                    />
                    <mat-icon
                      *ngIf="app?.get('fingerPrintId')?.value"
                      class="bg-transparent text-red-600 z-10 relative top-[-6.4rem] left-[5.2rem] text-base"
                      (click)="imageDeleted('fingerprint', i)"
                      >close</mat-icon
                    >
                  </div>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>
      </mat-expansion-panel>
    </ng-container>
  </ng-template>
</div>
