<div
  fxFlex="100"
  fxLayout="column"
  fxLayoutGap="1rem"
  [formGroup]="personalIdentificationForm"
>
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div>
      National ID are mandatory. To upload document, face scan & Fingerprint
    </div>
    <ng-container *ngIf="customeSelected !== 'Individual'">
      <ic-button
        (OnClick)="addDocument()"
        icButtonType="outlined-rounded"
        label="Add"
        type="submit"
        class="w-100"
        customButtonClass="w-100 justify-content-center"
        fxFlex="10"
        size="small"
      >
      </ic-button>
    </ng-container>
  </div>
  <div formGroupName="otherDocument" class="document-panel">
    <mat-accordion>
      <!--national Id expansion -->
      <mat-expansion-panel
        class="styled-panel fileUpload"
        [expanded]="true"
        (opened)="panelExpanded = true"
        (closed)="panelExpanded = false"
      >
        <mat-expansion-panel-header class="panel-header">
          <div class="panel-header-content">
            <div
              class="panel-title"
              fxLayoutGap="5"
              fxLayoutAlign="start center"
            >
              <img
                *ngIf="getFileInfo()?.length > 0; else unticked"
                src="assets/images/tickicon.svg"
                alt="Tick"
              />
              <ng-template #unticked>
                <img src="assets/images/untickicon.svg" alt="Untick" />
              </ng-template>
              <span class="header_md">{{ 'National ID' }}</span>
              <span
                *ngIf="otherDocument.get('docRequired')?.value"
                class="required"
                >*</span
              >
            </div>
            <span>
              <mat-icon>{{
                panelExpanded ? 'keyboard_arrow_up' : 'keyboard_arrow_down'
              }}</mat-icon>
            </span>
          </div>
        </mat-expansion-panel-header>

        <div fxLayout="column">
          <div class="upload-section">
            <span class="medium_txt">Upload files</span>
            <p class="breadcrum_md">
              Max file size is 500kb. Supported file types are .jpg and .png.
            </p>
            <ic-button
              (OnClick)="fileBrowseHandler()"
              label="Choose"
              size="medium"
              type="button"
              icButtonType="outlined-rounded"
            >
            </ic-button>
          </div>

          <div
            class="uploaded_list"
            fxLayout="row wrap"
            fxFlex="100"
            fxLayoutAlign="space-between center"
          >
            <div
              *ngFor="let file of getFileInfo(); let fileIndx = index"
              fxFlex="49"
              fxLayoutGap="10"
              class="upload_img"
            >
              <div class="img_box">
                <img
                  [src]="'4a82eba7-0fa6-4776-b4ea-18da9cd653ec'"
                  alt="image"
                />
              </div>
              <div class="img_container">
                <span class="header_md img_name">{{ file?.name }}</span>
                <div
                  *ngIf="file.progress !== '100%'; else showSize"
                  class="progress-cont"
                >
                  <div
                    [style.width]="file.progress ?? '0%'"
                    class="progress"
                  ></div>
                </div>
                <ng-template #showSize>
                  <div class="theme_sm">{{ file.size }}</div>
                </ng-template>
              </div>
              <img
                tabindex="0"
                (keydown.enter)="removeFile(fileIndx)"
                src="assets/images/trash_new.svg"
                alt="trash"
                (click)="removeFile(fileIndx)"
              />
            </div>
          </div>
        </div>
      </mat-expansion-panel>
      <!--face Scan-->
      <mat-expansion-panel
        class="styled-panel fileUpload"
        (opened)="faceExpanded = true"
        (closed)="faceExpanded = false"
      >
        <mat-expansion-panel-header class="panel-header">
          <div class="panel-header-content">
            <div
              class="panel-title"
              fxLayoutGap="5"
              fxLayoutAlign="start center"
            >
              <img
                *ngIf="getFileInfo()?.length > 0; else unticked"
                src="assets/images/tickicon.svg"
                alt="Tick"
              />
              <ng-template #unticked>
                <img src="assets/images/untickicon.svg" alt="Untick" />
              </ng-template>
              <span class="header_md">{{ 'Face Scan' }}</span>
              <span
                *ngIf="otherDocument.get('docRequired')?.value"
                class="required"
                >*</span
              >
            </div>
            <span>
              <mat-icon>{{
                faceExpanded ? 'keyboard_arrow_up' : 'keyboard_arrow_down'
              }}</mat-icon>
            </span>
          </div>
        </mat-expansion-panel-header>
      </mat-expansion-panel>
      <!--fingerPrint-->
      <mat-expansion-panel
        class="styled-panel fileUpload"
        (opened)="biometricExpanded = true"
        (closed)="biometricExpanded = false"
      >
        <mat-expansion-panel-header class="panel-header">
          <div class="panel-header-content">
            <div
              class="panel-title"
              fxLayoutGap="5"
              fxLayoutAlign="start center"
            >
              <img
                *ngIf="getFileInfo()?.length > 0; else unticked"
                src="assets/images/tickicon.svg"
                alt="Tick"
              />
              <ng-template #unticked>
                <img src="assets/images/untickicon.svg" alt="Untick" />
              </ng-template>
              <span class="header_md">{{ 'Finger Print' }}</span>
              <span
                *ngIf="otherDocument.get('docRequired')?.value"
                class="required"
                >*</span
              >
            </div>
            <span>
              <mat-icon>{{
                biometricExpanded ? 'keyboard_arrow_up' : 'keyboard_arrow_down'
              }}</mat-icon>
            </span>
          </div>
        </mat-expansion-panel-header>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
