<div [formGroup]="loanDetailsForm" fxLayout="column">
  <ng-container *ngIf="!isEdit; else inputForm">
    <div
      class="summary_pad"
      fxFlex="100"
      fxLayout="row wrap"
      fxLayoutGap="10px"
    >
      <div
        *ngFor="let item of loanDetailsSummaryArr"
        class="row"
        fxFlex="28.5"
        fxLayout="column"
        fxLayoutAlign="start start"
      >
        <span class="header">{{ item.header }}</span>
        <span class="value">
          {{
            item.date
              ? item.value
                ? (item.value | date: 'dd-MMM-yyyy')
                : '-'
              : item.currency
                ? item.value !== null && item.value !== undefined
                  ? (item.value | currency)
                  : '-'
                : item.value || '-'
          }}
        </span>
      </div>
    </div>
  </ng-container>

  <ng-template #inputForm>
    <div
      class="content_row"
      fxLayout="row"
      fxLayoutAlign="start center"
      fxLayoutGap="20px"
    >
      <div fxFlex="25">
        <ic-form-field
          [control]="loanDetails.get('loanAmount') | formcontrol"
          [decimalPlaces]="3"
          [icTwoDigitDecimalNumber]="true"
          [numLength]="18"
          label="Loan Amount Requested (GHS)"
        ></ic-form-field>
      </div>
      <div fxFlex="25">
        <ic-tenure-field
          [fieldLabels]="{
            loanTenureYear: 'Year',
            loanTenureMonth: 'Month',
            loanTenureDay: 'Day',
          }"
          [fields]="['loanTenureYear', 'loanTenureMonth', 'loanTenureDay']"
          [isRequired]="true"
          [parentForm]="loanDetails"
          label="Tenure"
        ></ic-tenure-field>
      </div>
      <div fxFlex="25">
        <ic-form-field
          [control]="loanDetails.get('interestRate') | formcontrol"
          [decimalPlaces]="3"
          [icTwoDigitDecimalNumber]="true"
          [numLength]="18"
          label="Interest Rate %"
        ></ic-form-field>
      </div>
      <div fxFlex="25">
        <ic-form-field
          [control]="loanDetails.get('emiAmount') | formcontrol"
          [decimalPlaces]="3"
          [icTwoDigitDecimalNumber]="true"
          [numLength]="18"
          label="EMI Amount"
        ></ic-form-field>
      </div>
    </div>

    <div
      class="content_row mt-2"
      fxLayout="row"
      fxLayoutAlign="start center"
      fxLayoutGap="20"
    >
      <div fxFlex="25">
        <ic-form-field
          [control]="loanDetails.get('interestPayable') | formcontrol"
          [decimalPlaces]="3"
          [icTwoDigitDecimalNumber]="true"
          [numLength]="18"
          label="Interest Payable"
        ></ic-form-field>
      </div>
      <div fxFlex="25">
        <ic-form-field
          [control]="loanDetails.get('totalPrincipalAmount') | formcontrol"
          [decimalPlaces]="3"
          [icTwoDigitDecimalNumber]="true"
          [numLength]="18"
          label="Total Principal Amount"
        ></ic-form-field>
      </div>
      <div fxFlex="25">
        <ic-form-field
          [control]="loanDetails.get('totalPayableAmount') | formcontrol"
          [decimalPlaces]="3"
          [icTwoDigitDecimalNumber]="true"
          [numLength]="18"
          label="Total Payable Amount"
        ></ic-form-field>
      </div>
    </div>

    <div
      class="content_row mt-2"
      fxLayout="row"
      fxLayoutAlign="start center"
      fxLayoutGap="20"
    >
      <div fxFlex="25">
        <ic-select
          [control]="loanDetailsForm.get('repaymentFrequencyId') | formcontrol"
          [options]="genericValue?.REPAYMENTFREQUENCY"
          bindLabelKey="values"
          bindValueKey="id"
          label="Repayment Frequency"
        ></ic-select>
      </div>
      <div fxFlex="25">
        <ic-date-picker
          [control]="loanDetailsForm.get('firstRepaymentDate') | formcontrol"
          [minDate]="todaysDate"
          label="EMI Start Date"
        >
        </ic-date-picker>
      </div>

      <div fxFlex="25">
        <div class="header_md_bold_black mb-8">
          {{ 'Holder Type *' }}
        </div>
        <div fxLayout="row" fxLayoutGap="50px">
          <ic-radio-button
            *ngFor="let status of holderTypeArr"
            [control]="loanDetailsForm.get('holderType') | formcontrol"
            [label]="status.label"
            [value]="status.value"
          ></ic-radio-button>
        </div>
      </div>
    </div>
  </ng-template>

  <div
    fxFlex="100"
    fxLayout="row"
    fxLayoutAlign="end center"
    fxLayoutGap="1%"
    style="margin-top: 50px"
  >
    <div>
      <ic-button
        [label]="'Back'"
        [type]="'button'"
        icButtonType="ghost-rounded-danger"
        size="medium"
      >
      </ic-button>
    </div>
    <div>
      <ic-button
        [icButtonType]="'filled-rounded'"
        [label]="'Next'"
        [type]="'submit'"
        size="medium"
      >
      </ic-button>
    </div>
  </div>
</div>
