.stepper-card {
  background: #fff;
  border-radius: 8px;
  padding: 2rem 1.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  margin: 2rem 4rem;
}

.stepper-line {
  height: 1px;
  background-color: #ccc;
  margin: 15px 0px;
}

.step-scroll {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  padding-bottom: 4px;

  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}

.step-scroll::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}
.step-container {
  display: flex;
  align-items: center;
  width: 100%;
}
