<div class="stepper-card">
  <div class="stepper-header">
    <h3 class="theme_lg">Business Loan</h3>
    <span class="header_md">"Get your Loan account in just 11 steps"</span>
  </div>

  <div class="stepper-line"></div>

  <div class="step-scroll">
    <div class="step-container" fxLayoutGap="100px">
      <div
        class="step"
        fxLayout="row"
        fxLayoutGap="10px"
        *ngFor="let step of componentMapping | map; let i = index"
      >
        <img src="assets/images/untickicon.svg" alt="Untick" />
        <div class="header_md">{{ step.screenName }}</div>
      </div>
    </div>
  </div>
</div>

<mat-accordion>
  <ng-container *ngIf="componentMapping">
    <div class="document-panel container">
      <mat-expansion-panel
        class="styled-panel"
        [ngClass]="{ 'panel-opened': activePanels()?.has(i) }"
        *ngFor="let panel of componentMapping | map; let i = index"
        (closed)="onPanelClosed(i)"
        (opened)="onPanelOpened(i, panel.screenValue)"
      >
        <mat-expansion-panel-header class="panel-header">{{
          panel.screenName
        }}</mat-expansion-panel-header>
        <div fxLayout="column">
          <ng-template #container></ng-template>

          <div
            fxFlex="100"
            fxLayout="row"
            fxLayoutAlign="end center"
            fxLayoutGap="1%"
            style="margin-top: 50px"
          >
            <div *ngIf="panel.screenName === 'Create Loan'">
              <ic-button
                [label]="'Edit'"
                [type]="'button'"
                icButtonType="ghost-rounded-neutral"
                size="medium"
                (OnClick)="editComponent(i)"
              >
              </ic-button>
            </div>
            <div>
              <ic-button
                [label]="'Back'"
                [type]="'button'"
                icButtonType="ghost-rounded-danger"
                size="medium"
              >
              </ic-button>
            </div>
            <div>
              <ic-button
                [icButtonType]="'filled-rounded'"
                [label]="'Next'"
                [type]="'submit'"
                size="medium"
                (click)="saveComponent(i)"
              >
              </ic-button>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    </div>
  </ng-container>
</mat-accordion>
