.no_block {
  border: 1px solid #004a99;
  background: #eceffa 0% 0% no-repeat padding-box;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 13px;
  font-weight: 600;
  span:first-child {
    color: #000000;
    font-size: 12px;
  }
  span:last-child {
    font-size: 17px;
    color: #004a99;
  }
}
