<div class="bookFixedDeposit" [formGroup]="instantLoanForm" fxLayout="row">
  <div class="section-1" fxLayout="column" fxFlex="60">
    <div fxLayout="row warp" fxLayoutAlign="start center" fxFlex="100">
      <app-ic-custom-pay-from
        [control]="instantLoanForm.get('cardNo') | formcontrol"
        [items]="listOfAccounts"
        [inputLabel]="'Card No.' | translate"
        bindValueKey="cardNumber"
        bindLabelKey="cardNumber"
        (selectionChange)="handleTransactionDetails($event)"
      ></app-ic-custom-pay-from>
    </div>
    <div fxLayout="column" fxFlex="100" class="deposit-section">
      <span class="text-poppins">{{ 'Loan Amount' | translate }}</span>
      <div fxFlex="100">
        <ic-form-field
          fxFlex="30"
          placeholder="Loan Amount"
          [control]="instantLoanForm.get('amount') | formcontrol"
          [label]="'Loan Amount' | translate"
        ></ic-form-field>
      </div>
      <div class="slider">
        <mat-slider
          class="custom-slider"
          [formControl]="instantLoanForm.value.amount"
          [max]="amountmax"
          [min]="amountmin"
          fxFlex="100"
          thumbLabel
          discrete
          (change)="onDepositAmountChange($event)"
        >
          <input matSliderThumb #slider />
        </mat-slider>
      </div>
      <div fxLayout="row" fxFlex="100" fxLayoutAlign="space-between center">
        <div>{{ 'Min ' }}{{ currencySymbol }} {{ amountmin }}</div>
        <div>{{ 'Max ' }}{{ currencySymbol }} {{ amountmax }}</div>
      </div>
    </div>
    <div fxLayout="column" fxFlex="100" class="py-12">
      <span class="text-poppins pb-12">{{ 'Tenure' | translate }}</span>
      <div>
        <fieldset class="fieldset mb-12" fxFlex="50">
          <div fxFlex="100" fxLayout="row" class="parentYearDiv">
            <div fxFlex="33" fxLayoutAlign="start center">
              <input
                fxFlex="50"
                matInput
                type="number"
                name="tenureYear"
                maxlength="2"
                [formControl]="instantLoanForm.get('tenureYears') | formcontrol"
                placeholder="Enter"
                class="pl-3 tenure_input"
                appNumbersOnly
                (input)="onSliderChangeForTenure($event)"
              />
              <span matSuffix class="suffixLabel">{{
                'Year' | translate
              }}</span>
            </div>
            <div class="vertical-seperator"></div>
            <div fxFlex="33" fxLayoutAlign="start center">
              <input
                fxFlex="50"
                matInput
                type="number"
                name="tenureMonth"
                maxlength="2"
                [formControl]="
                  instantLoanForm.get('tenureMonths') | formcontrol
                "
                placeholder="Enter"
                class="pl-3 tenure_input"
                appNumbersOnly
                (input)="onSliderChangeForTenure($event)"
              />
              <span class="suffixLabel">{{ 'Month' | translate }}</span>
            </div>
            <div class="vertical-seperator"></div>
            <div fxFlex="33" fxLayoutAlign="start center">
              <input
                fxFlex="50"
                matInput
                type="number"
                name="tenureDays"
                maxlength="2"
                [formControl]="instantLoanForm.get('tenureDays') | formcontrol"
                placeholder="Enter"
                class="pl-3 tenure_input"
                appNumbersOnly
                (input)="onSliderChangeForTenure($event)"
              />
            </div>
          </div>
        </fieldset>
      </div>
      <div class="slider">
        <mat-slider
          class="custom-slider custom-slider-label"
          [max]="maxTenure"
          [min]="minTenure"
          fxFlex="100"
          discrete
          (change)="onSliderChangeForTenure($event)"
          [displayWith]="formatLabel"
        >
          <input matSliderThumb #slider />
        </mat-slider>
      </div>
      <div fxLayout="row" fxFlex="100" fxLayoutAlign="space-between center">
        <div>{{ 'Min ' }}{{ minTenure }} {{ 'days' }}</div>
        <div>{{ 'Max ' }}{{ maxTenure }} {{ 'days' }}</div>
      </div>
    </div>
    <div class="card_payable" fxLayout="row warp" fxLayoutAlign="start center">
      <div fxLayout="column" fxLayoutAlign="space-between start" fxFlex="100">
        <span class="light-blue-title">{{
          'Credit Loan Amount' | translate
        }}</span>
        <div class="py-12" fxLayout="row">
          <div class="custom_dropDown_accountNo">Account No</div>
          <app-ic-custom-pay-from
            [control]="instantLoanForm.get('accountNo') | formcontrol"
            [items]="items"
            bindValueKey="accountNo"
            bindLabelKey="accountNo"
            message="Saving Account | Balance:$20"
          ></app-ic-custom-pay-from>
        </div>
        <div class="py-12" fxLayout="row">
          <div class="custom_dropDown_label">Purpose of Loan</div>
          <ic-select
            class="card-algn"
            icFlexLayout
            fxFlex="220px"
            [label]="'Purpose of Loan' | translate"
            placeholder="Purpose of Loan"
            [options]="purpose"
            [bindValueKey]="'purpose'"
            [bindLabelKey]="'purpose'"
            [control]="instantLoanForm.get('loanPorpose') | formcontrol"
          ></ic-select>
        </div>
      </div>
    </div>
  </div>
  <app-maturity-chart
    fxFlex="40"
    [chartData]="chartData"
    [chartSectionDetails]="chartSectionDetails"
    [autoCheck]="true"
    [data]="calculatedData"
    labelOne="Loan Amount"
    labelTwo="Payable Amount"
  >
  </app-maturity-chart>
</div>
<div fxLayoutGap="20" fxLayoutAlign="end center">
  <ic-button
    [label]="'Cancel'"
    icButtonType="outlined"
    type="submit"
    size="large"
  ></ic-button>
  <ic-button
    label="Proceed"
    (click)="proceed()"
    icButtonType="filled"
    type="submit"
    size="large"
  ></ic-button>
</div>
