<div class="container">
  <div fxLayout="column">
    <div
      fxLayout="row"
      fxLayoutAlign="space-between center"
      class="summary_header"
    >
      <div fxLayout="column">
        <h1 class>Application List</h1>
        <p>This is a process, how you can get loan for your self.</p>
      </div>
      <img
        src="assets/images/summary_img.svg"
        height="100%"
        alt="summary"
        style="filter: grayscale(1)"
      />
    </div>

    <router-outlet></router-outlet>
  </div>
</div>
