.client-review {
  .client-container {
    display: flex;
    flex-direction: row;
  }
}

@media screen and (max-width: 600px) {
  .client-review {
    .client-container {
      display: block;
    }
  }
}
