<div class="client-review">
    <div class="client-container">
        <div style="display: flex; flex-direction: column;">
            <img src="../../../../assets/images/image1.jpg" alt="unsplashMTZTGvDsHFY1107" />
        </div>
        <div style="display: flex; flex-direction: column;  height: 100%; align-items: center; margin: 20px;">
            <div style="color: #000;
            text-align: center;
            font-family: Poppins;
            font-size: 24px;
            text-align: center;
            font-style: normal;
            margin-top: 40px;
            font-weight: 400;
            line-height: normal;">
                Methew Paul
            </div>
            <div style="color: #565656;
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            margin-top: 20px;
            font-weight: 400;
            line-height: 160%;">
                Perfect, very good job! Thank you for the amazing design and work. Really impressed with the high
                quality and quick turnaround time. Highly recommend.

            </div>
        </div>
        <div style="display: flex; flex-direction: column;">
            <img src="./../../../../assets/images/client-group-photos.png" />
        </div>
    </div>
</div>