<section
  fxLayout="column"
  fxLayoutAlign="space-between stretch"
  (click)="$event.stopPropagation()"
  style="min-height: 80vh; height: max-content; padding: 1rem"
>
  <div fxLayout="column" fxLayoutGap="20px">
    <!-- Header with title and close button -->
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <h2>Fetch Details</h2>
      <ic-button
        type="icon"
        icButtonType="ghost-basic"
        icIcon="close"
        customButtonClass="box-shadow-none"
        (OnClick)="close()"
      ></ic-button>
    </div>

    <!-- Scrollable form section -->
    <div class="field_container">
      <div class="fields" *ngFor="let item of data">
        <ic-form-field
          [label]="item.label"
          [control]="form.get(convertLabel(item.label)) | formcontrol"
          [maxLength]="100"
          [icAlphaNumericWithSpace]="true"
        ></ic-form-field>
      </div>
    </div>
  </div>

  <!-- Bottom Buttons -->
  <div>
    <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="1%">
      <ic-button
        [label]="'Cancel'"
        [type]="'button'"
        icButtonType="ghost-rounded-neutral"
        size="medium"
        (OnClick)="close()"
      ></ic-button>

      <ic-button
        [label]="'Save'"
        [type]="'button'"
        icButtonType="ghost-rounded-neutral"
        size="medium"
        (OnClick)="saveDetails()"
      ></ic-button>
    </div>
  </div>
</section>
