.done {
  width: 172px;
  height: 49px;
  /* UI Properties */
  background: transparent linear-gradient(91deg, #051a2d 0%, #004c97 100%) 0% 0%
    no-repeat padding-box;
  border-radius: 23px;
  opacity: 1;
}
.signnow {
  margin-left: 60px;
  cursor: pointer;
}
.heading {
  margin-left: 42px;
}
