<section fxFlex="100" fxLayout="column" class="product_details">
  <ng-container *ngFor="let product of productInfo; let i = index">
    <h3>{{ dynamicKeyHelper[product.key].type }}</h3>
    <div fxFlex="100" fxLayout="row wrap" fxLayoutGap="1%">
      <!-- Personal Info Summary Start -->
      <ng-container
        *ngIf="product.key == 'customerInfo'; else showOtherThanPersonal"
      >
        <mat-accordion class="persoanl_expansion" fxFlex="100">
          <mat-expansion-panel
            *ngFor="let person of product.values; let personIndx = index"
          >
            <mat-expansion-panel-header
              class="header"
              style="height: 45px !important"
            >
              <mat-panel-description class="header_description">
                <div fxLayoutAlign="space-between start" fxFlex="100">
                  <div>Applicat {{ personIndx + 1 }}</div>
                </div>
                &nbsp;
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div fxFlex="100" fxLayout="row wrap" fxLayoutGap="1%">
              <div
                fxFlex="19"
                class="mb-24"
                *ngFor="let item of dynamicKeyHelper[product.key].keyPair"
              >
                <ng-container
                  *ngIf="item.type == 'personal'; else showOtherInfo"
                >
                  <ng-container
                    *ngFor="
                      let personal of product.values;
                      let docIndex = index
                    "
                  >
                    <p class="label_title">{{ item.label }}</p>
                    <p class="label_value">
                      {{ personal[item?.valueKey] }}
                    </p>
                  </ng-container>
                </ng-container>
              </div>
              <div fxFlex="100"><h3>Address Detail</h3></div>

              <div
                fxFlex="19"
                class="mb-24"
                *ngFor="let item of dynamicKeyHelper[product.key].addressPair"
              >
                <ng-container>
                  <ng-container
                    *ngFor="
                      let personal of product.values;
                      let docIndex = index
                    "
                  >
                    <p class="label_title">{{ item.label }}</p>
                    <p class="label_value">
                      {{ personal?.contact?.address[0][item?.valueKey] }}
                    </p>
                  </ng-container>
                </ng-container>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </ng-container>
      <!-- Personal Info Summary Ends -->

      <!-- Other Info Summary Starts -->
      <ng-template #showOtherThanPersonal>
        <div
          fxFlex="19"
          class="mb-24"
          *ngFor="let item of dynamicKeyHelper[product.key].keyPair"
        >
          <!-- Document Info Starts-->
          <ng-container *ngIf="item.type == 'document'; else showOther">
            <ng-container
              *ngFor="let docItem of product.values; let docIndex = index"
            >
              <p class="label_title">{{ item.label }} {{ docIndex + 1 }}</p>
              <p
                class="label_value document_label_value"
                (click)="opnDocument(docItem?.fileUrl, docItem)"
              >
                {{ docItem[item?.valueKey] }}
              </p>
            </ng-container>
          </ng-container>
          <!-- Document Info Ends -->

          <ng-template #showOther>
            <!-- <ng-template #showOtherInfo> -->
            <p class="label_title">{{ item.label }}</p>
            <p
              class="label_value"
              *ngIf="item.type != 'currency' && item.type != 'maskText'"
            >
              {{ product.values[item?.valueKey] }}
            </p>
            <p class="label_value" *ngIf="item.type === 'currency'">
              {{ product.values[item?.valueKey] | currency : "INR" : "symbol" }}
            </p>
            <p class="label_value" *ngIf="item.type == 'maskText'">
              {{ product.values[item?.valueKey] | textMask : 4 }}
            </p>
            <!-- </ng-template> -->
          </ng-template>
        </div>
      </ng-template>
      <!-- Other Info Summary Ends-->
    </div>
    <mat-divider *ngIf="i != productInfo?.length - 1"></mat-divider>
  </ng-container>
</section>
