<div class="dialog-wrapper p-12" fxLayout="column" fxFlexFill>
  <section fxLayout="column" fxFlexFill>
    <!-- Header -->
    <div fxFlex="15" fxLayout="row" fxLayoutAlign="space-between center">
      <h3 class="header_lg">Digital Signature</h3>
      <ic-button
        icButtonType="ghost-basic"
        icIcon="close"
        customButtonClass="box-shadow-none"
        mat-dialog-close
        [size]="'small'"
      ></ic-button>
    </div>

    <!-- Content -->
    <div fxFlex="70" class="content-wrapper">
      <mat-dialog-content>
        <mat-tab-group
          mat-align-tabs="start"
          [mat-stretch-tabs]="false"
          class="custom-tab-group"
        >
          <!-- Tab 1 -->
          <mat-tab label="E-sign">
            <div class="signcard">
              <app-sign-pad
                #signPadRef
                type="new"
                (signpadImage)="signpadImage($event)"
              ></app-sign-pad>
            </div>
          </mat-tab>

          <!-- Tab 2 -->
          <mat-tab label="Upload">
            <div class="p-12">
              <span class="breadcrum_md">
                Max file size is 500kb. Supported file types are .jpg and .png.
              </span>
              <div
                class="theme_md container"
                (fileDropped)="onFileDropped($event)"
                appDragDrop
              >
                Drag and drop files here or
                <span
                  (click)="fileSelect.click()"
                  (keydown.enter)="fileSelect.click()"
                  class="textdesign"
                  tabindex="0"
                  >click to upload</span
                >
                <input
                  #fileSelect
                  (change)="onFileSelect($event)"
                  hidden
                  accept="image/png, image/jpeg"
                  id="file-input"
                  type="file"
                />
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </mat-dialog-content>
    </div>

    <!-- Footer Buttons -->
    <div
      fxFlex="15"
      fxLayout="row"
      fxLayoutGap="1%"
      fxLayoutAlign="end center"
      class="pr-4"
    >
      <ic-button
        [label]="'Back'"
        [type]="'button'"
        icButtonType="outlined-rounded"
        size="medium"
        mat-dialog-close
      ></ic-button>
      <ic-button
        [icButtonType]="'filled-rounded'"
        [label]="'Done'"
        [type]="'submit'"
        size="medium"
        (OnClick)="saveDigitalSign()"
      ></ic-button>
    </div>
  </section>
</div>
