<div class="personal-details">
  <div class="details-section">
    <!-- Rest All will be start from hear -->
    <div class="text-header">Personal Details</div>
    <form
      *ngIf="personalDetailsForm"
      [formGroup]="personalDetailsForm"
      (ngSubmit)="onConfirm()"
    >
      <!-- <div fxLayout="column" fxLayoutGap="20px"> -->
      <div formArrayName="personalInfoArray">
        <div *ngFor="let customer of personalInfoArray.controls; let i = index">
          <div [formGroupName]="i">
            <div class="custom_accordin">
              <mat-accordion>
                <mat-expansion-panel (opened)="panelOpened(i)">
                  <mat-expansion-panel-header class="customer_Header">
                    <mat-panel-description class="customer_Header_description">
                      Applicant {{ i + 1 }}</mat-panel-description
                    >
                  </mat-expansion-panel-header>
                  <div fxLayout="column" fxLayoutGap="2%">
                    <div fxLayout="row wrap" fxLayoutGap="2%">
                      <mat-form-field
                        fxFlex="100"
                        fxFlex.gt-sm="49"
                        appearance="outline"
                        class="full-width fieldinput mt-2"
                      >
                        <mat-label class="custom-mat-label">Prefix</mat-label>
                        <mat-select
                          formControlName="prefix"
                          (selectionChange)="CheckGenderandPrefix(i)"
                        >
                          <mat-option
                            *ngFor="let prefixItem of prefixArray"
                            [value]="prefixItem"
                            >{{ prefixItem }}</mat-option
                          >
                        </mat-select>
                        <mat-error
                          *ngIf="
                            customer.controls['prefix'].hasError('required') &&
                            customer.controls['prefix'].touched
                          "
                        >
                          Prefix is required
                        </mat-error>
                      </mat-form-field>

                      <mat-form-field
                        fxFlex="100"
                        fxFlex.gt-sm="49"
                        appearance="outline"
                        class="full-width fieldinput mt-2"
                      >
                        <mat-label class="custom-mat-label"
                          >First Name</mat-label
                        >
                        <input
                          alphabetWithSpace
                          matInput
                          formControlName="firstName"
                          maxlength="250"
                        />
                        <mat-error
                          *ngIf="
                            customer.controls['firstName'].hasError(
                              'required'
                            ) && customer.controls['firstName'].touched
                          "
                        >
                          First Name is required
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div fxLayout="row wrap" fxLayoutGap="2%">
                      <mat-form-field
                        fxFlex="100"
                        fxFlex.gt-sm="49"
                        appearance="outline"
                        class="full-width fieldinput mt-2"
                      >
                        <mat-label class="custom-mat-label"
                          >Last Name</mat-label
                        >
                        <input
                          matInput
                          alphabetWithSpace
                          formControlName="lastName"
                          maxlength="250"
                        />
                        <mat-error
                          *ngIf="
                            customer.controls['lastName'].hasError(
                              'required'
                            ) && customer.controls['lastName'].touched
                          "
                        >
                          Last Name is required
                        </mat-error>
                      </mat-form-field>

                      <mat-form-field
                        fxFlex="100"
                        fxFlex.gt-sm="49"
                        appearance="outline"
                        class="full-width custom-field mt-2"
                      >
                        <mat-label class="custom-mat-label"
                          >Date of Birth</mat-label
                        >
                        <input
                          matInput
                          [matDatepicker]="picker"
                          formControlName="dateOfBirth"
                          [max]="todayDate"
                          (dateChange)="dateOfBirthSelected()"
                        />
                        <mat-error
                          *ngIf="
                            customer.controls['dateOfBirth'].hasError(
                              'required'
                            ) && customer.controls['dateOfBirth'].touched
                          "
                        >
                          Date Of Birth is required
                        </mat-error>
                        <mat-datepicker-toggle matSuffix [for]="picker">
                          <mat-icon matDatepickerToggleIcon>
                            <img
                              _ngcontent-vqa-c346=""
                              src="assets/images/calendar.png"
                              class="pb-25"
                            />
                          </mat-icon>
                        </mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                    </div>

                    <div fxLayout="row wrap" fxLayoutGap="2%">
                      <mat-form-field
                        fxFlex="100"
                        fxFlex.gt-sm="49"
                        appearance="outline"
                        class="full-width custom-field mt-2"
                      >
                        <mat-label class="custom-mat-label">Email</mat-label>
                        <input
                          matInput
                          noInitialSpecialCharacters
                          noSpace
                          formControlName="email"
                        />

                        <mat-error
                          *ngIf="
                            customer.controls['email'].hasError('required') &&
                            customer.controls['email'].touched
                          "
                        >
                          Email is required
                        </mat-error>
                        <mat-error
                          *ngIf="customer.controls['email'].hasError('pattern')"
                        >
                          Please enter Valid Email
                        </mat-error>
                      </mat-form-field>

                      <div fxFlex="100" fxFlex.gt-sm="49" fxLayout="column">
                        <fieldset class="yeardrop fieldset" fxFlex="100">
                          <div
                            fxLayout="row"
                            class="parentYearDiv"
                            fxFlex="100"
                          >
                            <mat-form-field
                              appearance="outline"
                              class="full-width inputSelect isdSelect"
                              fxFlex="20"
                            >
                              <mat-select
                                class="selector-input"
                                formControlName="mobtCode"
                              >
                                <ng-container
                                  *ngFor="let isdCode of countriesIsdCodes"
                                >
                                  <mat-option
                                    *ngIf="isdCode?.countryTelIsdCode"
                                    [value]="isdCode?.countryTelIsdCode"
                                    (click)="onIsdCodeSelected(isdCode)"
                                    >+{{
                                      isdCode?.countryTelIsdCode
                                    }}</mat-option
                                  >
                                </ng-container>
                              </mat-select>
                            </mat-form-field>
                            <span class="vl"></span>
                            <mat-form-field
                              appearance="outline"
                              class="full-width inputSelect mob_field"
                              fxFlex="80"
                            >
                              <mat-label>Mobile Number</mat-label>
                              <input
                                matInput
                                type="text"
                                class="inputText"
                                formControlName="mobile"
                                numbersOnly
                                [maxlength]="maxMobileLength"
                                placeholder="Mobile Number"
                              />
                            </mat-form-field>
                          </div>
                        </fieldset>
                        <mat-error
                          class="custom-error"
                          *ngIf="
                            customer.controls['mobile'].hasError('required') &&
                            customer.controls['mobile'].touched
                          "
                        >
                          Mobile Number is required
                        </mat-error>
                        <mat-error
                          class="custom-error"
                          *ngIf="
                            customer.controls['mobile'].touched &&
                            customer.controls['mobile'].hasError(
                              'invalidLength'
                            )
                          "
                          >Mobile length should be
                          {{ maxMobileLength }}</mat-error
                        >
                      </div>
                    </div>

                    <div fxLayout="row wrap" fxLayoutGap="2%">
                      <div fxFlex="100" fxFlex.gt-sm="49">
                        <mat-form-field
                          appearance="outline"
                          class="full-width custom-field"
                        >
                          <mat-label class="custom-mat-label">Gender</mat-label>
                          <mat-select
                            formControlName="gender"
                            (selectionChange)="CheckGenderandPrefix(i)"
                          >
                            <mat-option
                              *ngFor="let genderItem of genderArray"
                              [value]="genderItem"
                              >{{ genderItem }}</mat-option
                            >
                          </mat-select>
                          <mat-error
                            *ngIf="
                              customer.controls['gender'].hasError(
                                'required'
                              ) && customer.controls['gender'].touched
                            "
                          >
                            Gender is required
                          </mat-error>
                        </mat-form-field>
                      </div>

                      <div fxFlex="100" fxFlex.gt-sm="49">
                        <app-searchable-select
                          [items]="countries"
                          inputLabel="Nationality"
                          bindLabelKey="countryName"
                          bindValueKey="countryName"
                          [control]="customer.get('nationality')"
                        ></app-searchable-select>
                      </div>
                    </div>
                    <div class="text-header">Address Details</div>
                    <div fxLayout="row wrap" fxLayoutGap="2%">
                      <mat-form-field
                        fxFlex="100"
                        fxFlex.gt-sm="100"
                        appearance="outline"
                        class="full-width custom-field-80 mt-2"
                      >
                        <mat-label class="custom-mat-label">Address</mat-label>
                        <input
                          matInput
                          formControlName="address"
                          noInitialSpecialCharacters
                          maxlength="1000"
                        />
                        <!-- <mat-icon matSuffix>my_location</mat-icon> -->
                        <mat-error
                          *ngIf="
                            customer.controls['address'].hasError('required') &&
                            customer.controls['address'].touched
                          "
                        >
                          Address is required
                        </mat-error>
                        <mat-error
                          *ngIf="
                            customer.controls['address'].hasError(
                              'invalidAddress'
                            )
                          "
                        >
                          Address should not be only special character.
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div
                      fxLayout="row wrap"
                      fxLayoutGap="2%"
                      fxLayoutAlign="center end"
                    >
                      <mat-form-field
                        fxFlex="100"
                        fxFlex.gt-sm="49"
                        appearance="outline"
                        class="full-width custom-field mt-2"
                      >
                        <mat-label class="custom-mat-label"
                          >Residence Type</mat-label
                        >
                        <mat-select formControlName="residentType">
                          <mat-option
                            *ngFor="let residence of residenceTypeArray"
                            [value]="residence"
                            >{{ residence }}</mat-option
                          >
                        </mat-select>
                        <mat-error
                          *ngIf="
                            customer.controls['residentType'].hasError(
                              'required'
                            ) && customer.controls['residentType'].touched
                          "
                        >
                          Resident Type is required
                        </mat-error>
                      </mat-form-field>

                      <div fxFlex="100" fxFlex.gt-sm="49">
                        <app-searchable-select
                          [items]="countries"
                          inputLabel="Country"
                          bindLabelKey="countryName"
                          bindValueKey="countryName"
                          [control]="customer.get('country')"
                        ></app-searchable-select>
                      </div>
                    </div>
                    <div fxLayout="row wrap" fxLayoutGap="2%">
                      <mat-form-field
                        fxFlex="100"
                        fxFlex.gt-sm="49"
                        appearance="outline"
                        class="full-width custom-field mt-2"
                      >
                        <mat-label class="custom-mat-label">Zip Code</mat-label>
                        <div
                          fxLayout="row"
                          fxLayoutAlign="space-between center"
                        >
                          <input
                            matInput
                            numbersOnly
                            [maxlength]="10"
                            formControlName="zipCode"
                          />
                          <img
                            matSuf
                            fix
                            src="assets/images/search.png"
                            class="standard-search"
                          />
                        </div>
                        <mat-error
                          *ngIf="
                            customer.controls['zipCode'].hasError('required') &&
                            customer.controls['zipCode'].touched
                          "
                        >
                          Zip Code is required
                        </mat-error>
                      </mat-form-field>

                      <mat-form-field
                        fxFlex="100"
                        fxFlex.gt-sm="49"
                        appearance="outline"
                        class="full-width custom-field mt-2"
                      >
                        <mat-label class="custom-mat-label">State</mat-label>
                        <mat-select formControlName="state">
                          <mat-option
                            *ngFor="let item of listCityState"
                            [value]="item?.stateName"
                            >{{ item?.stateName }}</mat-option
                          >
                        </mat-select>
                        <mat-error
                          *ngIf="
                            customer.controls['state'].hasError('required') &&
                            customer.controls['state'].touched
                          "
                        >
                          State is required
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div fxLayout="row wrap" fxLayoutGap="2%">
                      <mat-form-field
                        fxFlex="100"
                        fxFlex.gt-sm="49"
                        appearance="outline"
                        class="full-width custom-field mt-2"
                      >
                        <mat-label class="custom-mat-label">City</mat-label>

                        <mat-select formControlName="cityId">
                          <mat-option
                            *ngFor="let item of listCity"
                            [value]="item?.cityId"
                            >{{ item?.cityName }}</mat-option
                          >
                        </mat-select>
                        <mat-error
                          *ngIf="
                            customer.controls['city'].hasError('required') &&
                            customer.controls['city'].touched
                          "
                        >
                          City is required
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                </mat-expansion-panel></mat-accordion
              >
            </div>
          </div>
        </div>
      </div>
    </form>

    <!-- <div>
      <div class="add_applicant" (click)="addCustomer()">
        Add Another Applicant
      </div>
    </div> -->

    <div
      fxLayout="row wrap"
      fxLayoutGap="50px"
      class="mb-16"
      *ngIf="personalDetailsForm"
    >
      <button-loading
        [loadingText]="loadingBtnText"
        [type]="'submit'"
        [disable]="!personalDetailsForm.valid && isLoading"
        [loading]="isLoading"
        (click)="onConfirm()"
      >
        Confirm
      </button-loading>
      <button
        class="back-button"
        mat-raised-button
        (click)="onBack()"
        type="button"
      >
        Back
      </button>
    </div>
  </div>
</div>
