::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-start,
.mat-form-field-appearance-outline .mat-form-field-outline-end {
  border: none !important;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-gap {
  border: none !important;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-end {
  border: none !important;
}

::ng-deep .mat-form-field {
  box-shadow: 0px 3px 10px 0px #00000017;
  border-radius: 12px;
  height: 60px;
}

.customer_Header {
  height: 70px;
  .customer_Header_description {
    color: #1b3c81;
    font-weight: 600;
    font-size: 26px;
    line-height: 39px;
  }
}
.custom_accordin {
  margin: 1% 0%;
}

.add_applicant {
  box-shadow: 0px 3px 15px 0px #00000017;
  height: 65px;
  color: #004c97;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.personal-details {
  display: flex;
  flex-direction: row;
  width: 100%;

  .details-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 20px;

    .standard-flex {
      display: flex;

      mat-form-field.custom-field {
        width: 100%;

        margin-bottom: 20px;
      }

      mat-form-field.custom-field-80 {
        position: absolute;
        width: 100%;

        margin-bottom: 20px;

        .standard-search {
          position: absolute;
          margin-bottom: 8px;
          cursor: pointer;
        }

        .vertical-separator {
          height: 43px;
          width: 1px;
          border: #b4b4b466 1px solid;
          margin: 0px 10px;
          position: relative;
          top: -33px;
          float: right;
          right: 139px;
        }

        .locate-container {
          display: flex;
          flex-direction: row;
          position: relative;
          float: right;
          bottom: 28px;

          .locate {
            display: inline-flex;
            justify-content: space-around;
            text-decoration: none;
            border: none;
            cursor: pointer;
            background: white;
            color: #004c97;
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
          }
        }
      }
    }

    .text-header {
      color: #004c97;
      font-family: Poppins;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      margin-bottom: 9px;
    }
  }
}

.button-container {
  justify-content: space-around;
  display: flex;
}

.mt-100 {
  margin-top: 100px;
}

.mr-5 {
  margin-right: 5px;
  margin-top: -1px;
}
:host ::ng-deep .mat-datepicker-toggle img {
  vertical-align: 0px !important;
}
.yeardrop {
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.0901960784);
  border-radius: 12px;
  height: 60px;
  margin-top: 0.5rem;
}
::ng-deep .inputSelect.mat-form-field {
  box-shadow: none !important;
}
.vl {
  border-left: 2px solid #cacaca;
  margin: 10px 0px;
}
.custom-error {
  font-size: 12px;
  padding-left: 20%;
  opacity: 1;
  transform: translateY(0%);
}
