.getStatementMain {
  .pd20 {
    padding: 20px;
  }
  .heading {
    background: #e4e9ef 0% 0% no-repeat padding-box;
    opacity: 1;
    letter-spacing: 0px;
    color: #00205c;
    opacity: 1;
    font-weight: 600;
  }
  .mTB10 {
    margin: 10px 0px;
  }
}
