<div class="getStatementMain">
  <div fxLayout="row" fxLayoutAlign="space-between" class="pd20 heading">
    <div>Get Statement</div>
    <mat-icon (click)="close()">close</mat-icon>
  </div>
  <form [formGroup]="getStatementForm">
    <div fxLayout="column" class="pd20" fxLayoutGap="20">
      <div fxLayout="row" fxLayoutAlign="space-between">
        <div fxFlex="49">
          <ic-select
            placeholder="Month"
            [label]="'Month' | translate"
            [control]="getStatementForm.get('month') | formcontrol"
            [options]="monthList"
            [bindValueKey]="'id'"
            bindLabelKey="label"
            bindValueKey="id"
          >
          </ic-select>
        </div>
        <div fxFlex="49">
          <ic-select
            [label]="'Year' | translate"
            [control]="getStatementForm.get('year') | formcontrol"
            [options]="yearList"
            placeholder="Year"
            [bindValueKey]="'id'"
            bindLabelKey="label"
            bindValueKey="label"
          >
          </ic-select>
        </div>
      </div>
      <ic-select
        [label]="'Format' | translate"
        placeholder="Format"
        [control]="getStatementForm.get('format') | formcontrol"
        [options]="formatList"
        bindLabelKey="label"
        bindValueKey="label"
      >
      </ic-select>
    </div>
    <div fxLayoutAlign="center center" class="mTB10">
      <ic-button
        (click)="downLoad()"
        label="Download"
        icButtonType="filled-rounded"
        type="submit"
        size="large"
      ></ic-button>
    </div>
  </form>
</div>
