<div class="business-main" [formGroup]="businessDetailsForm" fxLayout="column">
  <div fxLayout="row wrap" fxLayoutGap="1%">
    <div fxFlex="49">
      <ic-form-field
        label="Business Name"
        [icAlphabetOnly]="true"
        [maxLength]="100"
        [control]="businessDetailsForm.get('businessName') | formcontrol"
      ></ic-form-field>
    </div>
    <div fxFlex="49">
      <ic-form-field
        label="Telephone Number"
        [maxLength]="20"
        [icNumbersOnly]="true"
        [control]="contact.get('telephone') | formcontrol"
      ></ic-form-field>
    </div>
    <div fxFlex="99">
      <ic-form-field
        [icAlphanumeric]="true"
        label="Business Address"
        [maxLength]="250"
        [control]="address.at(0).get('address1') | formcontrol"
      ></ic-form-field>
    </div>
    <div fxFlex="49">
      <ic-form-field
        [icNumbersOnly]="true"
        label="No of years in operation"
        [maxLength]="3"
        [control]="businessDetailsForm.get('yearsOfOperation') | formcontrol"
      ></ic-form-field>
    </div>
    <div fxFlex="49">
      <ic-select
        label="Industry Type"
        [options]="industryTypeList"
        bindValueKey="id"
        bindLabelKey="values"
        [control]="businessDetailsForm.get('natureOfBusinessId') | formcontrol"
      >
      </ic-select>
    </div>
    <div fxFlex="49">
      <ic-form-field
        [icAlphabetOnly]="true"
        label="Types of Goods service"
        [maxLength]="255"
        [control]="businessDetailsForm.get('typeOfService') | formcontrol"
      ></ic-form-field>
    </div>
    <div fxFlex="49">
      <ic-form-field
        label="Monthly Turn over"
        [icTwoDigitDecimalNumber]="true"
        [maxLength]="20"
        [decimalPlaces]="3"
        [numLength]="18"
        [control]="businessDetailsForm.get('monthlyTurnover') | formcontrol"
        [prefixIcon]="
          businessDetailsForm.value?.monthlyTurnover ? currencySymboll : ''
        "
      ></ic-form-field>
    </div>
    <div fxFlex="49">
      <ic-form-field
        [icNumbersOnly]="true"
        label="AVE stock Level"
        [maxLength]="20"
        [control]="businessDetailsForm.get('aveStockLevel') | formcontrol"
      ></ic-form-field>
    </div>
  </div>

  <div fxFlex="100" fxLayout="row" fxLayoutGap="2%" style="margin-top: 50px">
    <div>
      <ic-button
        [label]="'Confirm' | translate"
        [type]="'submit'"
        size="large"
        (OnClick)="saveBusinessDetails()"
        [icButtonType]="'filled-rounded'"
      >
      </ic-button>
    </div>
    <div>
      <ic-button
        [label]="'Back'"
        icButtonType="ghost-rounded-danger"
        size="large"
        [type]="'button'"
        (OnClick)="onBack()"
      >
      </ic-button>
    </div>
  </div>
</div>
