.container {
  margin: 8%;
}
.selected_stepper {
  background: linear-gradient(137.16deg, #051a2d 0%, #004c97 96.5%);
  color: white;
  width: 60px;
  border-radius: 10px;
  font-size: 24px;
  height: 60px;
}

.vertical_line {
  position: relative;
  height: 50px;
  left: 30px;
  border-left: 1px #bac0d7 dotted;
  display: block;
  height: 122px;
}

.steeper_name {
  color: #004c97;
  margin-left: 50px;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
}

.steeper_done {
  color: #008461;
  margin-left: 50px;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
}

.deposit_icon {
  width: 75px;
  height: 75px;
  background: linear-gradient(137.16deg, #051a2d 0%, #004c97 96.5%);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 768px) and (max-width: 910px) {
  .fd_info_stat {
    display: none !important;
  }
}

/*----------------------------------------------------------------------------------------*/

// ::ng-deep .mat-step-header.mat-horizontal-stepper-header .mat-step-icon {
//   background: linear-gradient(137.16deg, #051a2d 0%, #004c97 96.5%);
//   color: white;
//   width: 60px;
//   border-radius: 10px;
//   font-size: 24px;
//   height: 60px;
// }

::ng-deep .mat-step-header.mat-vertical-stepper-header .mat-step-icon {
  // background: linear-gradient(137.16deg, #051a2d 0%, #004c97 96.5%);
  // color: white;
  // width: 60px;
  // border-radius: 10px;
  // font-size: 24px;
  // height: 60px;
  background: #e6efff;
  border: 1px solid #bac0d7 !important;
  color: #004c97 !important;
  font-size: 24px;
  width: 60px;
  border-radius: 10px;
  margin-left: -22px !important;
  height: 60px;
}

::ng-deep .mat-vertical-stepper-header {
  .mat-step-header.mat-vertical-stepper-header {
    flex-direction: column !important;
    height: 100% !important;
    padding: 0px !important;
  }

  .mat-vertical-content {
    min-height: 30px !important;
    // margin-bottom: 10px !important;
    border-top: 1px dotted !important;
  }

  .mat-step-label.mat-step-label-active {
    color: #008461;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .mat-step-label.mat-step-label-active.mat-step-label-selected {
    color: #004c97 !important;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .mat-step-label {
    color: #004c97;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

:host ::ng-deep .mat-vertical-content-container {
  margin-left: 30px !important;
  height: 40px !important;
}

::ng-deep .mat-step-header.mat-vertical-stepper-header .mat-step-icon-selected {
  background: linear-gradient(137.16deg, #051a2d 0%, #004c97 96.5%);
  color: white !important;
  width: 60px;
  border-radius: 10px;
  font-size: 24px;
  height: 60px;
  margin-left: -22px !important;
}

::ng-deep
  .mat-step-header.mat-vertical-stepper-header
  .mat-step-icon-state-edit {
  background-image: url("/assets/images/Group_13808.svg") !important;
  width: 60px;
  border-radius: 10px;
  font-size: 24px;
  border: 1px solid #008461 !important;
  height: 60px;
  font-size: 24px;
  background-position-y: 15px;
  background-position-x: 15px;
  height: 60px;
  background-repeat: no-repeat;

  .mat-step-icon-content {
    display: none !important;
  }
}

.deposit_icon {
  width: 75px;
  height: 75px;
  background: linear-gradient(137.16deg, #051a2d 0%, #004c97 96.5%);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
