<div class="m-24 container_class" fxFlex="100">
  <div class="fdCalculator_parent tracking_stepper" fxFlex="50">
    <div fxFlex fxLayout="column" fxLayoutAlign="center center"></div>
  </div>
  <div fxFlex="50">
    <section class="signIn" fxLayout="column">
      <div class="logo">
        <img
          alt="logo"
          src="../../../../../../assets/images/stanbic_horizontal_blue.svg"
        />
        <p class="logo_text">DemoBank</p>
      </div>
      <div class="signIn_container">
        <form *ngIf="signForm && !isShowOtpField" [formGroup]="signForm">
          <h1>Welcome To ICUST</h1>
          <p>Whenever you want, you can check the status of your application</p>
          <div class="toggle-group">
            <ic-button-toggle-group
              [buttonList]="statusToggle"
              [formControl]="signForm.get('status') | formcontrol"
              customClass="toggle_group"
            >
            </ic-button-toggle-group>
          </div>
          <ng-container
            *ngIf="
              this.signForm.get('status')?.value === 'mobile';
              else customerId
            "
          >
            <ic-form-field
              [control]="signForm.get('mobile') | formcontrol"
              [maxLength]="20"
              appNumbersOnly
              label="Mobile No."
              type="text"
            >
            </ic-form-field>
          </ng-container>

          <ng-template #customerId>
            <ic-form-field
              [control]="signForm.get('customerId') | formcontrol"
              [maxLength]="10"
              appNumbersOnly
              label="Customer ID"
              type="text"
            >
            </ic-form-field>
            <ic-form-field
              [control]="signForm.get('password') | formcontrol"
              appNumbersOnly
              label="Password"
              type="text"
            >
            </ic-form-field>
          </ng-template>
        </form>

        <ng-container *ngIf="isShowOtpField">
          <mat-card
            class="default otp_custom_card mx-auto d-flex flex-column"
            fxLayout="column"
          >
            <span class="header_xxl_bold_black">{{
              'OTP Authentication'
            }}</span>
            <span class="breadcrum_md">
              <ng-container>
                An authentication code has been sent to
              </ng-container>
              <ng-container>
                An authentication code has been Re-sent to
              </ng-container>
              <br />
              <span class="header_md_bold_black">(+62) 812 345 6XXX</span>
            </span>
            <div class="otp_block">
              <ng-otp-input
                #ngOtpInput
                (onInputChange)="onOtpChange($event)"
                [config]="config"
              ></ng-otp-input>
            </div>
            <mat-error *ngIf="invalidOtp"
              ><strong>Invalid OTP!</strong></mat-error
            >
            <div class="verify1">
              <span
                (click)="getOtp()"
                (keydown.enter)="getOtp()"
                class="addcolor resend m-2"
                tabindex="0"
                >{{ 'Resend' }}</span
              >
            </div>
          </mat-card>
        </ng-container>

        <div fxLayout="row">
          <div
            class="button_section"
            fxLayout="row"
            fxLayoutAlign="center"
            fxLayoutGap="20"
          >
            <ic-button
              (click)="getOtp()"
              *ngIf="!isShowOtpField"
              [label]="
                this.signForm.get('status')?.value === 'mobile'
                  ? 'Get Otp'
                  : 'Login'
              "
              icButtonType="filled-rounded"
              size="large"
              type="submit"
            ></ic-button>

            <ic-button
              (click)="verifyOtp()"
              *ngIf="isShowOtpField"
              [disabled]="!otpAvailable"
              icButtonType="filled-rounded"
              label="Submit"
              size="large"
              type="submit"
            ></ic-button>

            <ic-button
              icButtonType="ghost-rounded-basic"
              label="Back"
              size="large"
              type="submit"
            ></ic-button>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
