<div fxLayout="column" class="calendar-header">
  <div class="example-header">
    <button mat-icon-button (click)="previousClicked('month')">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <!-- center label -->
    <span class="example-header-label">{{ periodLabel }}</span>
    <!-- "next" buttons -->
    <button mat-icon-button (click)="nextClicked('month')">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
  </div>
  <table class="weakDays">
    <thead>
      <tr>
        <th class="col">S</th>
        <th class="col">M</th>
        <th class="col">T</th>
        <th class="col">W</th>
        <th class="col">T</th>
        <th class="col">F</th>
        <th class="col">S</th>
      </tr>
    </thead>
  </table>
</div>
