<mat-card>
  <form
    [formGroup]="desiredLimitForm"
    fxLayout="column"
    fxLayoutGap="10px"
    class="mainDiv"
  >
    <div
      fxLayout="row"
      fxLayoutGap="10"
      fxLayoutAlign="space-between center"
      fxFlex="100"
    >
      <div class="row" fxFlex="50">
        <ic-select
          [label]="'Card Number' | translate"
          placeholder="Card Number"
          [options]="creditCardList"
          [bindValueKey]="'cardNo'"
          [bindLabelKey]="'cardValue'"
          [control]="desiredLimitForm.get('cardNumber') | formcontrol"
        ></ic-select>
      </div>
      <!-- <app-ic-action-button buttonName="Upgrade" buttonType="stroked">
      </app-ic-action-button> -->
      <ic-button
        [label]="'Upgrade' | translate"
        icButtonType="filled"
        type="submit"
        size="large"
      ></ic-button>
    </div>
    <div fxLayout="row" fxLayoutGap="10" fxLayoutAlign="space-between center">
      <div class="toggle-div" fxLayoutGap="5">
        <span class="menu-label">Existing Credit Limit</span>
        <span class="light-blue-title">INR:</span>
        <span class="small-values"
          >₹ {{ cardNoDetails?.existingCreditLimit }}</span
        >
      </div>
      <div class="toggle-div" fxLayoutGap="5">
        <span class="menu-label">Maximum Available Limit</span>
        <span class="light-blue-title">INR:</span>
        <span class="small-values">₹ {{ cardNoDetails?.maxCreditLimit }}</span>
      </div>
    </div>
    <div fxLayout="row" fxLayoutGap="10" fxFlex="100">
      <div class="row" fxFlex="17">
        <!-- <app-ic-custom-input
          [formControl]="
            desiredLimitForm.get('eligibleCreditLimit') | formcontrol
          "
          inputLabel="Eligible Credit Limit"
          [country]="selectedCurrency"
          customClass="customTotalField"
          customLabelClass="customLabelClass"
          [readonly]="true"
        ></app-ic-custom-input> -->
        <ic-form-field
          placeholder="Eligible Credit Limit"
          [formControl]="
            desiredLimitForm.get('eligibleCreditLimit') | formcontrol
          "
          [label]="'Eligible Credit Limit' | translate"
          [readonly]="true"
        ></ic-form-field>
      </div>
    </div>
    <div fxFlex="100" fxLayout="row" fxLayoutGap="5">
      <div fxFlex="70" fxLayout="column">
        <div class="custom-slider">
          <mat-slider
            [formControl]="
              desiredLimitForm.get('eligibleCreditLimit') | formcontrol
            "
            [max]="max"
            [min]="min"
            fxFlex="100"
            thumbLabel
            (change)="onSliderChange($event)"
            discrete
          >
            <!-- [displayWith]="formatCurrencyLabel" -->
            <input matSliderThumb #slider />
          </mat-slider>
        </div>
        <div fxLayout="row" fxFlex="100" fxLayoutAlign="space-between center">
          <div>Min {{ currencySymbol }} {{ min }}</div>
          <div>
            Max {{ currencySymbol }} {{ cardNoDetails?.maxCreditLimit }}
          </div>
        </div>
      </div>
      <div fxFlex="20" fxLayoutGap="5" fxLayout="row">
        <ic-button
          [label]="'Cancel'"
          icButtonType="outlined"
          type="submit"
          size="large"
        ></ic-button>
        <ic-button
          label="Proceed"
          [disabled]="desiredLimitForm.invalid"
          [disabled]="!desiredLimitForm.get('eligibleCreditLimit')?.value"
          (click)="proceedToOtp()"
          icButtonType="filled"
          type="submit"
          size="large"
        ></ic-button>
      </div>
    </div>
    <ng-container *ngIf="viewOtp">
      <mat-divider></mat-divider>
      <span class="otp-Disclamer"
        >{{
          'You will receive an OTP on your registered mobile number' | translate
        }}
        *******{{ fourDigitNo }} /
        {{ 'email ID. Please enter the same to continue.' | translate }}</span
      >
      <div fxLayout="row" fxLayoutGap="10" fxLayoutAlign="space-between center">
        <div fxFlex="75" fxLayoutGap="10">
          <div class="row" fxFlex="33">
            <!-- <mat-form-field>
              <input
                matInput
                [formControl]="desiredLimitForm.get('otp') | formcontrol"
              />
            </mat-form-field> -->
            <ic-form-field
              placeholder="OTP"
              label="OTP"
              [formControl]="desiredLimitForm.get('otp') | formcontrol"
            ></ic-form-field>
          </div>
          <span class="gray-text" fxLayoutAlign="center center"
            >Didn’t receive the OTP?</span
          >
          <span
            class="resend-btn"
            fxLayoutAlign="center center"
            (click)="proceedToOtp()"
            (keydown.enter)="proceedToOtp()"
            tabindex="1"
            >Resend Code</span
          >
        </div>
        <div>
          <!-- <app-ic-action-button
            buttonName="Submit"
            buttonType="filled"
            (click)="submit()"
            [disabled]="!desiredLimitForm.get('otp')?.value"
          ></app-ic-action-button> -->
          <ic-button
            [label]="'Submit' | translate"
            [disabled]="!desiredLimitForm.get('otp')?.value"
            (click)="submit()"
            icButtonType="filled"
            type="submit"
            size="large"
          ></ic-button>
        </div>
      </div>
    </ng-container>
  </form>
</mat-card>
