<div class="card-mat-stepper">
  <div class="stepper-header-top-section">
    <div class="logo-icon">
      <img src="../../../../assets/images/Group 13675.png" width="65%" />
    </div>
    <div class="text-header-container">
      <div class="plain-text">Get Your</div>
      <div class="title-text">Title not yet</div>
      <div class="plain-text">in 3 simple ways</div>
      <div class="box-container">
        <img src="../../../../assets/images/Group.png" />
        <div class="text-box">
          On an average, People get their savings account in 15 - 20 min
        </div>
      </div>
    </div>
  </div>
  <span class="standard-vertical-dash"></span>
  <mat-stepper
    #stepper
    [linear]="isLinear"
    [(selectedIndex)]="selectionIndex"
    (selectionChange)="onStepSelectionChange($event)"
    orientation="vertical"
  >
    <mat-step
      *ngFor="let step of loanstepper; let index = index"
      [label]="step.stepName"
    ></mat-step>
  </mat-stepper>
</div>
