<h2 mat-dialog-title class="verification generate_pin_header">
  {{ "Set New ATM PIN" }}
</h2>
<mat-dialog-content>
  <mat-card
    fxLayout="column"
    fxLayoutAlign="space-between center"
    class="default generate_pin_card mx-auto d-flex flex-column"
  >
    <span class="text-light">Enter New ATM PIN <strong>(4 digit)</strong></span>
    <input matInput />
    <div class="otp_block">
      <!-- <ng-otp-input
        class="ng_otp_input"
        #newPin
        (onInputChange)="onOtpChange($event)"
        [config]="newPinConfig"
      ></ng-otp-input> -->
      <div class="view_pin_btn" (click)="toggleNewPinView()">View PIN</div>
    </div>
    <span class="text-light">Confirm ATM PIN <strong>(4 digit)</strong></span>
    <div class="otp_block">
      <!-- <ng-otp-input
        class="ng_otp_input"
        #ngOtpInput
        (onInputChange)="onOtpChange($event)"
        [config]="confPinConfig"
      ></ng-otp-input> -->
      <div class="view_pin_btn" (click)="toggleConfPinView()">View PIN</div>
    </div>

    <div
      class="button_section"
      fxLayout="row"
      fxLayoutGap="20"
      fxLayoutAlign="center"
      mat-dialog-actions
    >
      <app-ic-action-button
        [buttonName]="'Cancel' | translate"
        buttonType="stroked"
      >
      </app-ic-action-button>
      <app-ic-action-button
        [buttonName]="'Subscription' | translate"
        (click)="submit()"
        buttonType="filled"
      >
      </app-ic-action-button>
    </div>
  </mat-card>
</mat-dialog-content>
