.generate_pin_card {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  max-height: 100vh;
  border-radius: 12px;
  box-shadow: none !important;

  .verification {
    display: block;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 20px;
  }

  .text-light {
    color: #b1b1b1;
    font-size: 14px;
    font-family: 'Work Sans', sans-serif;
    strong {
      color: #000;
    }
  }

  .otp_block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    margin: 20px 0;

    ::ng-deep .otp-input {
      background: #f9f9fa 0% 0% no-repeat padding-box !important;
      border-radius: 12px !important;
      border: none !important;
    }
  }

  .view_pin_btn {
    color: #004c97;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    margin-top: 10px;
    display: inline-block;
    cursor: pointer;
  }
}

.generate_pin_header {
  margin: -24px -24px 0 -24px;
  background-color: #e4e9ef;
  padding: 18px;
  font-size: 16px;
  max-height: 54px;
  display: flex;
  align-items: center;
}
