<div fxLayout="column">
  <div class="loanToggle row" fxFlex="100">
    <button
      fxFlex="50"
      class="col-md-6"
      [ngClass]="loanToggled == 'home' ? 'toggled' : ''"
      (click)="loanToggled = 'home'"
      mat-raised-button
    >
      Home Loan
    </button>
    <button
      fxFlex="50"
      class="col-md-6"
      [ngClass]="loanToggled == 'hl' ? 'toggled' : ''"
      (click)="loanToggled = 'hl'"
      mat-raised-button
    >
      HL Balance Transfer
    </button>
  </div>

  <!-- Home Loan -->
  <div fxFlex="row" fxFlex="100%" *ngIf="loanToggled == 'home'">
    <div
      fxFlex="70"
      fxLayout="column"
      fxFlex="100"
      *ngIf="loanForm"
      class="loanForm"
    >
      <form [formGroup]="loanForm" fxFlex="100">
        <img class="designImg" src="assets/images/Mask Group.svg" />
        <div class="calculator_container" fxLayout="column" fxFlex="100">
          <div
            fxLayout="row wrap"
            fxFlex="100"
            fxLayoutAlign="space-between center"
          >
            <div class="calculator_subTItle">Loan Ammount</div>
            <div>
              <div fxFlex="100">
                <mat-form-field appearance="outline" class="full-width">
                  <mat-label class="custom-mat-label">Ammount</mat-label>
                  <input matInput formControlName="amount" />
                </mat-form-field>
              </div>
            </div>
          </div>
          <div fxFlex="100">
            <mat-slider
              [(ngModel)]="loanForm.value.amount"
              [max]="max"
              [min]="min"
              fxFlex="100"
              [step]="thumbLabel"
              (change)="onSliderChange($event)"
              discrete
            >
              <input matSliderThumb #slider />
            </mat-slider>
          </div>
          <div fxLayout="row" fxFlex="100" fxLayoutAlign="space-between center">
            <div>$ {{ min }}</div>
            <div>$ {{ max }}</div>
          </div>

          <div
            class="row"
            fxLayoutAlign="space-between center"
            style="margin-top: 27px"
          >
            <div class="col-md-6 col-12">
              <label class="calculator_subTItle">Tenure</label>
              <fieldset class="yeardrop fieldset">
                <legend visible="true" class="legend-font legend">
                  Deposit Period
                </legend>
                <div fxLayout="row" class="parentYearDiv">
                  <mat-form-field
                    appearance="outline"
                    class="full-width inputSelect"
                  >
                    <input
                      matInput
                      name="tenureYear"
                      maxlength="2"
                      formControlName="tenureYear"
                      placeholder="Year"
                    />
                  </mat-form-field>
                  <span class="vl"></span>
                  <mat-form-field
                    appearance="outline"
                    class="full-width inputSelect"
                  >
                    <input
                      matInput
                      name="tenureMonth"
                      maxlength="2"
                      formControlName="tenureMonth"
                      placeholder="Month"
                    />
                  </mat-form-field>
                  <span class="vl"></span>

                  <mat-form-field
                    appearance="outline"
                    class="full-width inputSelect"
                  >
                    <input
                      matInput
                      name="tenureDays"
                      maxlength="2"
                      formControlName="tenureDays"
                      placeholder="Day"
                    />
                  </mat-form-field>
                </div>
              </fieldset>
            </div>
            <div class="col-md-6 col-12">
              <label class="calculator_subTItle">Interest Rate</label>
              <mat-form-field
                appearance="outline"
                class="full-width field-changedInput"
              >
                <mat-label class="custom-mat-label">Percentage</mat-label>
                <input matInput numbersOnly formControlName="interestRate" />
              </mat-form-field>
            </div>
          </div>
          <div class="downImage">
            <img src="assets/images/Group 13767.svg" />
          </div>
        </div>
      </form>
    </div>

    <div
      fxFlex="30"
      style="background-color: white; margin-left: -1%; margin-top: 10%"
    >
      <div
        fxFlex="80"
        fxLayoutAlign="center center"
        fxLayout="column"
        class="fd_container"
      >
        <div fxLayout="column" class="alignCenter">
          <div class="maturityTitle">EMI Ammount</div>
          <div class="maturityTitle" style="color: #004c97">₹ 1,10,202</div>
        </div>
        <div fxLayout="row" fxFlex="100" style="width: 100%">
          <div
            fxLayout="column"
            fxFlex="48"
            class="alignLeft"
            fxLayoutAlign="space-around center"
          >
            <div class="maturityTitle">Interest Payable</div>
            <div class="gd_value">₹ 12,669</div>
          </div>
          <div class="vl"></div>
          <div
            fxLayout="column"
            class="alignLeft"
            fxFlex="48"
            fxLayoutAlign="space-around center"
          >
            <div class="maturityTitle">Interest Rate</div>
            <div class="gd_value">₹ 12,669</div>
          </div>
        </div>
        <div fxLayout="row" fxFlex="100" style="width: 100%">
          <div
            fxLayout="column"
            class="alignLeft"
            fxFlex="48"
            fxLayoutAlign="space-around center"
          >
            <div class="maturityTitle">Principal Ammount</div>
            <div class="gd_value">₹ 12,669</div>
          </div>
          <div class="vl"></div>
          <div
            fxLayout="column"
            class="alignLeft"
            fxFlex="48"
            fxLayoutAlign="space-around center"
          >
            <div class="maturityTitle">Total Ammount Payable</div>
            <div class="gd_value">₹ 12,669</div>
          </div>
        </div>
        <div>
          <button mat-flat-button class="applyBtn" (click)="applyForLoan()">
            Apply
          </button>
        </div>
        <img class="designImg-1" src="assets/images/Mask Group.svg" />
      </div>
    </div>
  </div>

  <!-- HL Balance Transfer -->
  <div fxFlex="row" fxFlex="100%" *ngIf="loanToggled == 'hl'">
    <div
      fxFlex="70"
      fxLayout="column"
      fxFlex="100"
      *ngIf="hlBalanceForm"
      class="loanForm"
    >
      <form [formGroup]="hlBalanceForm" fxFlex="100">
        <img class="designImg" src="assets/images/Mask Group.svg" />
        <div class="calculator_container" fxLayout="column" fxFlex="100">
          <div
            fxLayout="row wrap"
            fxFlex="100"
            fxLayoutAlign="space-between center"
          >
            <div class="calculator_subTItle">OutStanding Principle Ammount</div>
            <div>
              <div fxFlex="100">
                <mat-form-field appearance="outline" class="full-width">
                  <mat-label class="custom-mat-label">Ammount</mat-label>
                  <input matInput formControlName="outstandingAmount" />
                </mat-form-field>
              </div>
            </div>
          </div>
          <div fxFlex="100">
            <mat-slider
              [(ngModel)]="hlBalanceForm.value.outstandingAmount"
              [max]="max"
              [min]="min"
              fxFlex="100"
              [step]="thumbLabel"
              (change)="onOutstandingSliderChange($event)"
              discrete
            >
              <input matSliderThumb #slider />
            </mat-slider>
          </div>
          <div fxLayout="row" fxFlex="100" fxLayoutAlign="space-between center">
            <div>$ {{ min }}</div>
            <div>$ {{ max }}</div>
          </div>

          <!-- current Emi -->
          <div
            fxLayout="row wrap"
            fxFlex="100"
            fxLayoutAlign="space-between center"
          >
            <div class="calculator_subTItle">Current EMI</div>
            <div>
              <div fxFlex="100">
                <mat-form-field appearance="outline" class="full-width">
                  <mat-label class="custom-mat-label">Ammount</mat-label>
                  <input matInput formControlName="emiAmountValue" />
                </mat-form-field>
              </div>
            </div>
          </div>
          <div fxFlex="100">
            <mat-slider
              [formControl]="hlBalanceForm.value.emiAmountValue"
              [max]="maxEmiAmount"
              [min]="minEmiAmount"
              fxFlex="100"
              [step]="thumbLabel"
              (change)="onEmiSliderChange($event)"
              discrete
            >
              <input matSliderThumb #slider />
            </mat-slider>
          </div>
          <div fxLayout="row" fxFlex="100" fxLayoutAlign="space-between center">
            <div>$ {{ minEmiAmount }}</div>
            <div>$ {{ maxEmiAmount }}</div>
          </div>

          <div
            class="row"
            fxLayoutAlign="space-between center"
            style="margin-top: 27px"
          >
            <div class="col-md-4 col-12">
              <label class="calculator_subTItle">Tenure</label>
              <fieldset class="yeardrop fieldset">
                <legend visible="true" class="legend-font legend">
                  Durations
                </legend>
                <div fxLayout="row" class="parentYearDiv">
                  <mat-form-field
                    appearance="outline"
                    class="full-width inputSelect"
                  >
                    <input
                      matInput
                      name="tenureYear"
                      maxlength="2"
                      formControlName="tenureYear"
                      placeholder="Year"
                    />
                  </mat-form-field>
                  <span class="vl"></span>
                  <mat-form-field
                    appearance="outline"
                    class="full-width inputSelect"
                  >
                    <input
                      matInput
                      name="tenureMonth"
                      maxlength="2"
                      formControlName="tenureMonth"
                      placeholder="Month"
                    />
                  </mat-form-field>
                  <span class="vl"></span>

                  <mat-form-field
                    appearance="outline"
                    class="full-width inputSelect"
                  >
                    <input
                      matInput
                      name="tenureDays"
                      maxlength="2"
                      formControlName="tenureDays"
                      placeholder="Day"
                    />
                  </mat-form-field>
                </div>
              </fieldset>
            </div>
            <div class="col-md-4 col-12">
              <label class="calculator_subTItle">Required Tenure</label>
              <fieldset class="yeardrop fieldset">
                <legend visible="true" class="legend-font legend">
                  Start date
                </legend>
                <div fxLayout="row" class="parentYearDiv">
                  <mat-form-field
                    appearance="outline"
                    class="full-width inputSelect"
                  >
                    <input
                      matInput
                      name="tenureYear"
                      maxlength="2"
                      formControlName="tenureYear"
                      placeholder="Year"
                    />
                  </mat-form-field>
                  <span class="vl"></span>
                  <mat-form-field
                    appearance="outline"
                    class="full-width inputSelect"
                  >
                    <input
                      matInput
                      name="tenureMonth"
                      maxlength="2"
                      formControlName="tenureMonth"
                      placeholder="Month"
                    />
                  </mat-form-field>
                  <span class="vl"></span>

                  <mat-form-field
                    appearance="outline"
                    class="full-width inputSelect"
                  >
                    <input
                      matInput
                      name="tenureDays"
                      maxlength="2"
                      formControlName="tenureDays"
                      placeholder="Day"
                    />
                  </mat-form-field>
                </div>
              </fieldset>
            </div>
            <div class="col-md-4 col-12">
              <label class="calculator_subTItle">Interest Rate</label>
              <mat-form-field
                appearance="outline"
                class="full-width field-changedInput"
              >
                <mat-label class="custom-mat-label">Percentage</mat-label>
                <input matInput numbersOnly formControlName="interestRate" />
              </mat-form-field>
            </div>
          </div>

          <div>
            <mat-card>
              <div fxLayout="row" class="row">
                <div fxLayout="column" class="col-md-6 col-12">
                  <div class="calculator_subTItle">Monthly EMI</div>
                  <mat-card fxLayout="column" fxFlex="100">
                    <div fxLayout="row" fxLayoutAlign="space-between center">
                      <mat-card fxFlex="40" class="gd_value">{{
                        homeLoanInfo.existingBankEmi
                      }}</mat-card>
                      <mat-card fxFlex="40" class="mt-0 currentBankValue">{{
                        homeLoanInfo.currentBankEmi
                      }}</mat-card>
                    </div>
                    <div fxLayoutAlign="space-between center">
                      <span>You Save:</span>
                      <span class="amountValue">{{
                        homeLoanInfo.monthlyEmiSave
                      }}</span>
                    </div>
                  </mat-card>
                </div>
                <div fxLayout="column" class="col-md-6 col-12">
                  <div class="calculator_subTItle">Total Amount Paid</div>
                  <mat-card fxLayout="column" fxFlex="100">
                    <div fxLayout="row" fxLayoutAlign="space-between center">
                      <mat-card fxFlex="40" class="gd_value">{{
                        homeLoanInfo.existingBankAmountPaid
                      }}</mat-card>
                      <mat-card fxFlex="40" class="mt-0 currentBankValue">{{
                        homeLoanInfo.currentBankAmountPaid
                      }}</mat-card>
                    </div>
                    <div fxLayoutAlign="space-between center">
                      <span>Total Saving:</span>
                      <span class="amountValue">{{
                        homeLoanInfo.totalSave
                      }}</span>
                    </div>
                  </mat-card>
                </div>
              </div>
            </mat-card>
          </div>
          <div fxLayout="row" fxLayoutAlign="end center">
            <div class="circle" style="background: #004c97"></div>
            &nbsp; <span>Existing Home Loan</span>&nbsp;&nbsp;&nbsp;
            <div class="circle" style="background: #0085ff"></div>
            &nbsp;
            <span>DemoBank Home Loan</span>
          </div>
        </div>
      </form>
    </div>

    <div
      fxFlex="30"
      style="background-color: white; margin-left: -1%; margin-top: 10%"
    >
      <div
        fxFlex="80"
        fxLayoutAlign="center center"
        fxLayout="column"
        class="fd_container"
      >
        <div fxLayout="column" class="alignCenter">
          <div class="maturityTitle">Ammount you save</div>
          <div class="maturityTitle" style="color: #004c97">₹ 1,10,202</div>
        </div>
        <div fxLayout="row" fxFlex="100" style="width: 100%">
          <div
            fxLayout="column"
            fxFlex="48"
            class="alignLeft"
            fxLayoutAlign="space-around center"
          >
            <div class="maturityTitle">Outstanding Principal Amount</div>
            <div class="gd_value">₹ 12,669</div>
          </div>
          <div class="vl"></div>
          <div
            fxLayout="column"
            class="alignLeft"
            fxFlex="48"
            fxLayoutAlign="space-around center"
          >
            <div class="maturityTitle">Interest Rate</div>
            <div class="gd_value">₹ 12,669</div>
          </div>
        </div>
        <div fxLayout="row" fxFlex="100" style="width: 100%">
          <div
            fxLayout="column"
            class="alignLeft"
            fxFlex="48"
            fxLayoutAlign="space-around center"
          >
            <div class="maturityTitle">Current EMI</div>
            <div class="gd_value">₹ 12,669</div>
          </div>
          <div class="vl"></div>
          <div
            fxLayout="column"
            class="alignLeft"
            fxFlex="48"
            fxLayoutAlign="space-around center"
          >
            <div class="maturityTitle">Outstanding Tenure</div>
            <div class="gd_value">12 Jan 2025</div>
          </div>
        </div>
        <div>
          <button mat-flat-button class="applyBtn" (click)="applyForLoan()">
            Apply
          </button>
        </div>
        <img class="designImg-1" src="assets/images/Mask Group.svg" />
      </div>
    </div>
  </div>
</div>
