<mat-sidenav-container
  [hasBackdrop]="true"
  class="app-admin-container fixed-topbar"
  [ngClass]="adminContainerClasses"
>
  <!-- BEGIN:LEFT SIDE DRAWER -->
  <mat-sidenav
    class="sidenav"
    fixedInViewport="true"
    #mainPanel
    mode="over"
    class=""
    id="panelOne"
  >
    <!-- <app-notifications [mainMenuPanel]="mainPanel"></app-notifications> -->
  </mat-sidenav>
  <!-- END:RIGHT SIDE DRAWER -->
  <mat-sidenav-content>
    <!-- BEGIN:MAIN CONTENT WRAPPER -->
    <div class="main-content-wrap" id="main-content-wrap">
      <!-- BEGIN:HEADER -->
      <app-user-header-top [mainMenuPanel]="mainPanel"></app-user-header-top>
      <!-- END:HEADER -->
      <!-- BEGIN:MAIN CONTENT -->

      <div
        class="main-content-hold"
        id="main-content-hold"
        [perfectScrollbar]=""
      >
        <!-- BEGIN:ROUTER VIEW -->
        <main class="container" id="test">
          <router-outlet></router-outlet>
        </main>
        <!-- END:ROUTER VIEW -->
      </div>
      <!-- END:MAIN CONTENT -->
    </div>
    <!-- END:MAIN CONTENT WRAPPER -->
  </mat-sidenav-content>
  <!-- BEGIN:RIGHT SIDE DRAWER -->
  <mat-sidenav
    id="panelDynamic"
    #panel
    [class]="customPanelClass"
    position="end"
  >
    <!-- BEGIN:DYNAMIC COMPONENT LOADER -->
    <ng-container #content></ng-container>
    <!-- END:DYNAMIC COMPONENT LOADER -->
  </mat-sidenav>
  <!-- END:RIGHT SIDE DRAWER -->
</mat-sidenav-container>
