.read-more-button {
  width: 200px;
  height: 50px;
  border-radius: 40px !important;
  border: none;
  outline: none;
  font-size: 16px;
  font-family: var(--ic-primary-font-family);
  letter-spacing: 0.4px;
  color: #fff;
  background: linear-gradient(151deg, #0033aa 0%, #0a2240 100%);
}
