@import 'node_modules/@onerumango/icust-scss-library/src/main.scss';

.newsLetter {
  background-image: url('/assets/images/Group_13851.svg') !important;
}

.deposit_hero_img {
  min-width: 100%;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .deposit_service_img {
    display: none !important;
  }
  .deposit_service_txt {
    max-width: 100% !important;
  }
}
.deposit_service_img {
  img {
    max-height: 450px;
  }
}
