<div fxFlex="100" fxLayout="column" style="padding: 2%">
  <app-landing-profile
    [imageUrl]="imageUrl"
    [profileHeader]="profileHeader"
    [profileHint]="profileHint"
    [routeUrl]="routeUrl"
  >
  </app-landing-profile>
  <div fxLayout="column" style="margin-top: 89px">
    <div fxLayoutAlign="center center" class="accountOpening">
      Deposit Services
    </div>
    <div fxLayoutAlign="center center" class="openYourAccount">
      Open your account in a breeze and start banking hassle-free.
    </div>
  </div>
  <div>
    <app-fd-rd-calculator
      (customDepositChange)="customDepositChange($event)"
    ></app-fd-rd-calculator>
  </div>
  <div fxLayout="column">
    <div fxLayoutAlign="center center" class="accountOpening">
      Instant Growth FD
    </div>
    <div fxLayoutAlign="center center" class="openYourAccount">
      Maximize Your Savings with Fixed Deposit: Earn Guaranteed Returns on Your
      Investment.
    </div>
    <div style="margin: 2% 0%">
      <app-growth-fd-animation
        [depositName]="depositName"
      ></app-growth-fd-animation>
    </div>
  </div>
  <div fxLayout="column" class="mt-70">
    <div fxLayoutAlign="center center" class="accountOpening">FAQ</div>
    <div fxLayoutAlign="center center" class="openYourAccount">
      A ready reckoner for your queries.
    </div>
  </div>
  <div class="mt-28">
    <app-deposit-faq></app-deposit-faq>
  </div>
  <div fxLayout="column" class="mt-70">
    <div fxLayoutAlign="center center" class="accountOpening">
      What our happy client say
    </div>
    <div fxLayoutAlign="center center" class="openYourAccount">
      Several selected clients, who already believe in our service.
    </div>
  </div>
  <div class="mt-70">
    <app-news-letter-slider></app-news-letter-slider>
  </div>
</div>
