::ng-deep .auditLog-backdrop {
  background-color: rgb(0 0 0 / 0.3);
  backdrop-filter: blur(8px) !important;
}
::ng-deep .auditLogClass {
  // overflow-y: auto !important;
  max-height: 500px !important;
}
