@media screen and (max-width: 768px) {
  .deposit_service_img {
    display: none !important;
  }
  .deposit_service_txt {
    max-width: 100% !important;
  }
}
.deposit_service_img {
  img {
    max-height: 450px;
  }
}

.tracking {
  cursor: pointer;
  font-size: 16px;
  color: #004c97;
  text-decoration: underline;
}
