@media screen and (max-width: 768px) {
  .deposit_service_img {
    display: none !important;
  }
  .deposit_service_txt {
    max-width: 100% !important;
  }
}
.deposit_service_img {
  img {
    max-height: 450px;
  }
}
.hero_section {
  c .img-fluid {
    filter: drop-shadow(2px 4px 6px #f3f3f3);
  }
}

.tracking {
  cursor: pointer;
  text-decoration: underline;
  &:hover {
    color: #0074ff !important;
  }
}
