<section class="container hero_section">
  <div class="row align-items-center">
    <div class="col-12 col-lg-7 py-3 py-md-5 order-1 order-lg-0">
      <h1 class="hero_title">{{ profileHeader }}</h1>
      <p class="hero_subtitle">{{ profileHint }}</p>
      <div
        class="apply_div"
        fxLayout="row"
        fxLayoutGap="20"
        fxLayoutAlign="start center"
      >
        <ic-button
          [label]="'Apply'"
          [icButtonType]="'filled-rounded'"
          [type]="'submit'"
          [size]="'large'"
          (click)="onApply($event)"
        ></ic-button>

        <span
          class="theme_md tracking"
          (click)="navigateTracking()"
          (keydown.enter)="navigateTracking()"
          tabindex="0"
          >Tracking status/Resume</span
        >
      </div>
      <div class="stacked_imgs_div">
        <div class="img_wrapper">
          <img
            src="assets/images/user-profile-pic-1.svg"
            alt=""
            class="stacked_images"
          />
          <img
            src="assets/images/user-profile-pic-2.svg"
            alt=""
            class="stacked_images"
          />
          <img
            src="assets/images/user-profile-pic-3.svg"
            alt=""
            class="stacked_images"
          />
        </div>
        <div class="stacked_div_text">
          <h2>4K+</h2>
          <p>users worldwide</p>
        </div>
      </div>
    </div>
    <div
      class="col-12 col-lg-5 order-0 order-lg-1 d-flex justify-content-center align-items-center"
    >
      <img [src]="imageUrl" alt="hero image" class="img-fluid" />
    </div>
  </div>
</section>
