<section class="hero_section">
  <div class="hero_container">
    <div
      class="hero_text"
      data-aos="zoom-out"
      data-aos-delay="200"
      data-aos-duration="500"
    >
      <h1 class="hero_title">{{ profileHeader }}</h1>
      <p class="hero_subtitle">{{ profileHint }}</p>
      <div class="apply_div">
        <ic-button
          (click)="onApply($event)"
          [size]="'large'"
          [type]="'submit'"
          icButtonType="filled-blue"
          label="APPLY"
        ></ic-button>

        <span
          (click)="navigateTracking()"
          (keydown.enter)="navigateTracking()"
          class="theme_md tracking"
          tabindex="0"
        >Tracking status/Resume</span
        >
      </div>
      <div class="stacked_imgs_div">
        <div class="img_wrapper">
          <img
            alt=""
            class="stacked_images"
            src="assets/images/user-profile-pic-1.svg"
          />
          <img
            alt=""
            class="stacked_images"
            src="assets/images/user-profile-pic-2.svg"
          />
          <img
            alt=""
            class="stacked_images"
            src="assets/images/user-profile-pic-3.svg"
          />
        </div>
        <div class="stacked_div_text">
          <h2>4K+</h2>
          <p>users worldwide</p>
        </div>
      </div>
    </div>
    <div
      class="hero_image"
      data-aos="zoom-in"
      data-aos-delay="200"
      data-aos-duration="500"
    >
      <img [src]="imageUrl" alt="hero image" class="hero_img" />
    </div>
  </div>
</section>
