<div class="uploaded-images-container full-width">
  <div class="uploaded-images-section full-width">
    <div class="uploaded-images full-width" fxLayout="row">
      <!-- <mat-icon>check_circle</mat-icon> -->
      <!-- <img src="../../../../assets/images/account-img1.png" alt="" /> -->
      <!-- Show image if it's not a PDF -->
      <img
        *ngIf="
          !filePreview?.changingThisBreaksApplicationSecurity?.includes(
            'pdf'
          ) &&
          !filePreview?.changingThisBreaksApplicationSecurity?.includes(
            'xlsx'
          ) &&
          !filePreview?.changingThisBreaksApplicationSecurity?.includes('csv')
        "
        [src]="
          filePreview?.changingThisBreaksApplicationSecurity
            | safe: 'url'
            | async
        "
        alt="Image Preview"
      />

      <!-- Show fallback image if it's a PDF -->
      <img
        *ngIf="
          filePreview?.changingThisBreaksApplicationSecurity?.includes('pdf') ||
          filePreview?.changingThisBreaksApplicationSecurity?.includes(
            'xlsx'
          ) ||
          filePreview?.changingThisBreaksApplicationSecurity?.includes('csv')
        "
        [src]="'assets/images/file_icon.svg'"
        alt="PDF Icon"
      />

      <div
        class="image_icon_container"
        fxLayout="column"
        fxLayout="start start"
      >
        <img
          src="../../../../../../assets/images/done-mark-sm.png"
          class="susscess_img"
          alt="done-mark image"
        />
      </div>
      <!-- <mat-icon>delete</mat-icon> -->
    </div>
  </div>
  <div class="btn_wrapper" fxLayoutAlign="center center">
    <button
      type="button"
      mat-flat-button
      class="upload_btn"
      (click)="viewFiles(document.fileUrl, document)"
    >
      View
    </button>
  </div>
</div>
