<mat-toolbar class="topbar mat-bg-card">
  <div class="avatar align-self-center">
    <div class="avatar-title rounded bg-soft-primary">
      <button mat-icon-button (click)="toggleMenu()">
        <mat-icon svgIcon="custom-menu-icon" class="m-0"></mat-icon>
      </button>
    </div>
  </div>

  <ng-container *ngIf="roleName?.startsWith('SCB'); else showTextLogo">
    <div class="branding">
      <img
        src="assets/images/logos/scb-transparent-logo.svg"
        alt=""
        class="app-logo"
      />
      <span class="app-logo-text"
        >{{ currentUser?.branchName ?? '' }}({{
          currentUser?.branchCode ?? ''
        }})</span
      >
    </div>
  </ng-container>
  <ng-template #showTextLogo>
    <div class="ml-16">
      <a>&nbsp; {{ currentUser?.bankName }}</a>
    </div>
  </ng-template>

  <span fxFlex></span>

  <!-- Theme Change Button Start -->
  <div
    class="theme_chng_btn_wrapper"
    fxLayout="row"
    fxLayoutAlign="start center"
    fxLayoutGap="10"
  >
    <div
      *ngFor="let theme of listOfThemeColors"
      class="theme_chng_btn"
      [ngClass]="{ active_theme: theme.theme === selectedTheme?.theme }"
      [ngStyle]="{ '--theme-btn-color': theme.background }"
      (click)="handleThemeChange(theme)"
      (keydown.enter)="handleThemeChange(theme)"
      tabindex="1"
    ></div>
  </div>
  <!-- Theme Change Button End -->

  <button mat-icon-button>
    <mat-icon>search</mat-icon>
  </button>
  <!-- Notification toggle button -->
  <button
    mat-icon-button
    matTooltip="Notifications"
    [style.overflow]="'visible'"
  >
    <mat-icon>notifications</mat-icon>
  </button>

  <button
    mat-icon-button
    [matMenuTriggerFor]="languageMenu"
    #clickHoverMenuTrigger="matMenuTrigger"
  >
    <mat-icon>language</mat-icon>
  </button>
  <!-- language selection tab -->
  <mat-menu #languageMenu="matMenu">
    <button
      mat-menu-item
      *ngFor="let lang of languageList"
      (click)="switchLanguage(lang.code)"
    >
      <span>{{ lang.name }}</span>
    </button>
  </mat-menu>

  <button mat-icon-button class="topbar-button-right">
    <mat-icon>settings</mat-icon>
  </button>

  <!-- Top left user menu -->
  <div
    fxLayout="row"
    class="user-account"
    [matMenuTriggerFor]="accountMenu"
    #clickHoverMenuTrigger="matMenuTrigger"
  >
    <div fxLayout="column" fxLayoutAlign="center center">
      <button mat-icon-button class="topbar-button-right img-button d-flex">
        <img [src]="fileUrl" alt="file URL" />
      </button>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center">
      <span class="user-headline text-white">{{ currentUser?.username }}</span>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center">
      <mat-icon>keyboard_arrow_down</mat-icon>
    </div>
  </div>

  <mat-menu #accountMenu="matMenu" class="profile-menu">
    <!-- class="popup_alignment" -->
    <div
      class="profile-box"
      (click)="$event.stopPropagation()"
      (keydown.enter)="$event.stopPropagation()"
      tabindex="0"
    >
      <div class="profile-header">
        <div class="profile-image-container">
          <img class="img-icon" [src]="fileUrl" alt="file URL" />
        </div>

        <div class="profile-info">
          <div class="profile-name user-headline">
            {{ currentUser?.username }}
          </div>
          <span class="profile-label last-session"
            >Last-Login - {{ lastLoginTime | date: 'short' }}</span
          >
        </div>
      </div>
      <hr class="profile-line" />
      <ic-button
        class="sign_out"
        icFlexLayout
        (click)="signOut()"
        prefixIcon="exit"
        label="Sign Out"
        icButtonType="transparent"
        type="submit"
        size="large"
      ></ic-button>
    </div>
  </mat-menu>
</mat-toolbar>
