<div class="p-12" fxLayout="column">
  <div fxLayout="column">
    <div class="alertText">
      {{ errorMessage }}
    </div>
    <div *ngIf="errorMessageHint && isStageAvilable" class="alertText_hint">
      {{ errorMessageHint }}
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center">
    <img alt="Summary" class="summaryIcon" src="assets/images/error-icon.svg" />
  </div>
  <div fxLayoutAlign="center center" fxLayoutGap="15">
    <button
      (click)="closeDialog()"
      *ngIf="showOkBtn"
      class="saveButton done_btn"
      mat-raised-button
      type="button"
    >
      {{ isStageAvilable ? 'OK' : 'Next' }}
    </button>
    <button
      (click)="cancel()"
      *ngIf="showCancelBtn"
      class="saveButton cancel_btn"
      mat-raised-button
      type="button"
    >
      {{ 'Cancel' }}
    </button>
  </div>
</div>
