.alertText {
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: 20px;
  color: #000000;
  text-align: center;
}

.alertText_hint {
  color: #c0c0c0;
  font-size: 16px;
  text-align: center;
}

img.summaryIcon {
  width: 175px;
  height: 175px;
}

.done_btn {
  border-radius: 30px;
  height: 50px;
  background: transparent
    linear-gradient(91deg, #051a2d 0%, var(--ic-clr-primary-a10) 100%) 0% 0%
    no-repeat padding-box;
  color: #ffffff !important;
}

.cancel_btn {
  border-radius: 30px;
  height: 50px;
  color: var(--ic-text-theme) !important;
  font-weight: bold !important;
  background: #ffffff !important;
}
