<form *ngIf="bankForm" [formGroup]="bankForm" fxLayout="column">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <h3 class="header_lg">Find Bank Code</h3>
    <mat-icon mat-dialog-close (click)="close()">close</mat-icon>
  </div>
  <div fxLayout="row wrap" fxLayoutGap="1%">
    <div fxFlex="48">
      <ic-form-field
        [control]="bankForm.get('bankCode') | formcontrol"
        [maxLength]="40"
        label="Bank Code"
      ></ic-form-field>
    </div>
    <div fxFlex="48">
      <ic-select
        [control]="bankForm.get('bankName') | formcontrol"
        [options]="branchList ?? []"
        bindLabelKey="bankName"
        bindValueKey="bankName"
        label="Bank Name"
      ></ic-select>
    </div>
    <div fxFlex="48">
      <ic-select
        [control]="bankForm.get('branchName') | formcontrol"
        [options]="branchList ?? []"
        bindLabelKey="branchName"
        bindValueKey="branchName"
        label="Branch Name / City"
      ></ic-select>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="1%">
    <ic-button
      icButtonType="outlined-rounded"
      mat-dialog-close
      label="Back"
    ></ic-button>
    <ic-button icButtonType="filled-rounded" label="Fetch"></ic-button>
  </div>
  <h3 class="header_lg">Search Results</h3>
  <mat-card
    *ngFor="let data of fetchedData"
    class="p-8 bg-white card"
    fxLayout="row"
    fxLayoutAlign="space-between center"
  >
    <div fxLayout="column" fxLayoutGap="1%">
      <span class="header_md">{{ data?.bankName }}</span>
      <span class="breadcrum_xs">{{ data?.bankCode }}</span>
    </div>
    <span class="theme_md cursor-pointer">Select</span>
  </mat-card>
</form>
