<div class="container rating_home">
  <div class="row">
    <div
      class="col-md-9 col-12 mx-auto d-flex flex-column justify-content-center align-items-center"
    >
      <!-- Feedback Rating Start -->
      <div class="feedback_container">
        <h2>Please rate your overall app experience</h2>
        <p>Tap to rate</p>
        <div class="rating_slider">
          <div
            class="rating_emoji"
            rating-value="Poor"
            (click)="handleEmojiClick(0)"
            fxLayout="column"
          >
            <img src="assets/images/rating-logo/poor_rating.svg" alt="3" />
            <!-- <div class="dropdown-content">
                <span> Emoji </span>
              </div> -->
          </div>
          <div
            class="rating_emoji"
            rating-value="Fair"
            (click)="handleEmojiClick(1)"
          >
            <img src="assets/images/rating-logo/fair_rating.svg" alt="2" />
            <!-- <div class="dropdown-content">
                <span> Emoji </span>
              </div> -->
          </div>
          <div
            class="rating_emoji"
            rating-value="Average"
            (click)="handleEmojiClick(2)"
          >
            <img src="assets/images/rating-logo/average_rating.svg" alt="1" />
            <!-- <div class="dropdown-content">
                <span> Emoji </span>
              </div> -->
          </div>
          <div
            class="rating_emoji"
            rating-value="Happy"
            (click)="handleEmojiClick(3)"
          >
            <img src="assets/images/rating-logo/happy_rating.svg" alt="4" />
            <!-- <div class="dropdown-content">
                <span> Emoji </span>
              </div> -->
          </div>
          <div
            class="rating_emoji"
            rating-value="Excellent"
            (click)="handleEmojiClick(4)"
          >
            <img src="assets/images/rating-logo/excellent_rating.svg" alt="5" />
            <!-- <div class="dropdown-content">
                <span> Emoji </span>
              </div> -->
          </div>
        </div>
      </div>
      <!--- Feedback Rating End -->

      <!-- Feedback suggestion Start -->
      <div class="feedback_comment">
        <div class="comment_field_container" fxLayout="column" fxLayoutGap="10">
          <div class="text-label px-8">Suggestion box</div>
          <div class="custom_field" fxLayout="row">
            <div class="fieldinput" fxLayout="column" fxFlex="90">
              <input
                matInput
                fxFlex="85"
                class="textarea_input"
                [formControl]="suggestions"
                placeholder="e.g. suggestion"
                (input)="onInputChange($event)"
                appUppercase
                appNoinitialspace
                class="input"
                value="{{ value }}"
              />
            </div>
            <button
              class="go_div"
              fxFlex="10"
              fxLayoutAlign="center center"
              (click)="complete()"
            >
              <img
                class="resp_arrow"
                src="/assets/images/rating-logo/right_arrow.svg"
                alt=""
              />
            </button>
          </div>
        </div>
      </div>
      <!-- Feedback suggestion End -->
    </div>
  </div>
</div>
