<div fxLayout="row" fxLayoutAlign="space-between">
  <div fxLayout="row" fxFlex="15">
    <div fxLayout="column" class="full-width">
      <app-custom-drawer [menuType]="'Card'"></app-custom-drawer>
    </div>
  </div>
  <div fxFlex="65">
    <div fxLayout="row" fxLayoutAlign="space-between start">
      <div fxFlex="40">
        <app-dashboard-card-preview
          title="Credit Card"
          [cardList]="cardSummaryDetails"
          (selectedCard)="getDashboardCardDetails($event)"
        ></app-dashboard-card-preview>
      </div>
      <div fxFlex="60">
        <app-dashboard-card-details
          [cardInfo]="displayCard"
          [detailsItem]="detailsItem"
        ></app-dashboard-card-details>
      </div>
    </div>

    <mat-card class="default-card my-0 py-8">
      <app-transaction-card
        [transactionList]="quickLinkItems"
      ></app-transaction-card>
    </mat-card>

    <div>
      <app-recent-transaction
        [recentTransTabs]="recentTransTabs"
        [recentTransCols]="recentTransCols"
        [recentTransData]="recentTransData"
      ></app-recent-transaction>
    </div>
  </div>
</div>
