<div fxLayout="row" fxLayoutAlign="space-between" class="main-container">
  <!-- Drawer with fxFlex toggling -->
  <div
    fxFlex="10"
    [fxFlex]="isDrawerOpen === 'open' ? '15' : '5'"
    fxLayout="column"
    class="full-width"
  >
    <app-custom-drawer
      [menuType]="'Card'"
      (drawerToggled)="toggleCheck($event)"
    ></app-custom-drawer>
  </div>

  <div [fxFlex]="isDrawerOpen === 'open' ? '65' : '70'">
    <div fxLayout="row" fxLayoutAlign="space-between start">
      <div fxFlex="40">
        <app-dashboard-card-preview
          title="Debit Card"
          [cardList]="cardSummaryDetails"
          (selectedCard)="getDashboardCardDetails($event)"
        ></app-dashboard-card-preview>
      </div>
      <div fxFlex="60">
        <app-dashboard-card-details
          *ngIf="displayCard"
          title="Debit Card"
          [cardInfo]="displayCard"
          [detailsItem]="detailsItem"
        ></app-dashboard-card-details>
      </div>
    </div>

    <mat-card class="default-card my-0 py-8">
      <app-transaction-card
        [transactionList]="quickLinkItems"
      ></app-transaction-card>
    </mat-card>

    <div>
      <app-recent-transaction
        *ngIf="displayCard"
        [recentTransTabs]="recentTransTabs"
        [recentTransCols]="recentTransCols"
        [recentTransData]="recentTransData"
        [cardInfo]="displayCard"
        [event]="'Debit Card'"
      ></app-recent-transaction>
    </div>
  </div>

  <div [fxFlex]="isDrawerOpen === 'open' ? '20' : '25'">
    <div>
      <app-swiper-card></app-swiper-card>
    </div>
  </div>
</div>
