<form [formGroup]="blockCardForm" fxLayout="column">
  <h3 class="light-blue-title">Block Card</h3>
  <mat-card fxLayout="column">
    <div fxLayout="column" class="blue-box" fxFlex="50">
      <span class="light-blue-title">{{ title | translate }}</span>
      <div fxLayout="row">
        <ic-select
          fxFlex="20"
          label="Card No"
          placeholder="Card No"
          [bindValueKey]="'id'"
          [bindLabelKey]="'values'"
          [control]="blockCardForm.get('creditAccount') | formcontrol"
          [options]="cardList"
          (selectionChange)="patchDetails($event)"
          [bindValueKey]="'cardNumber'"
          [bindLabelKey]="'cardNumber'"
          selectionType="single"
        >
        </ic-select>
        <div
          fxLayout="column"
          fxLayoutAlign="center center"
          class="label-info m-12"
        >
          <span class="label-info">
            {{ title | translate }} | {{ 'Name' | translate }} -
            {{ typeofCard }}
          </span>
        </div>
      </div>
    </div>
    <!-- radio selectors -->
    <div class="mt-12" fxFlex="100" fxLayout="row" fxLayoutGap="20px">
      <div>
        <app-ic-radio-button
          [optiions]="reasons"
          layout="column"
          labelClass="blueLabel"
          [displayLabel]="'Reason' | translate"
          [control]="blockCardForm.get('reason') | formcontrol"
        >
        </app-ic-radio-button>
      </div>
      <div fxLayout="row" style="position: relative">
        <mat-checkbox
          class="customCheckBox"
          fxLayoutAlign="start end"
          (change)="onReIssuePreferanceChange($event)"
        >
          {{ 'Re-Issue Card?' | translate }}
        </mat-checkbox>
        <img class="info_icon" src="assets/images/info.png" alt="info" />
        <div class="info_content_container">
          <h3 class="info_title">
            <mat-icon>warning_amber</mat-icon> &nbsp;
            {{ 'Please Note' | translate }}
          </h3>
          <ol class="content_list">
            <li>
              {{
                'The New Card will be sent to your registered mailing Address'
                  | translate
              }}.
            </li>
            <li>
              {{
                'Reissue charges will be added to your statement' | translate
              }}.
            </li>
          </ol>
        </div>
      </div>
    </div>
    <ng-container *ngIf="this.reIssueToggle === true">
      <div class="mt-12" fxFlex="100" fxLayout="column" fxLayoutGap="20px">
        <div class="sub-title">
          {{ 'Mailing Address Same as your' | translate }}
        </div>
        <div
          class="address_block"
          fxFlex="100"
          fxLayout="row"
          fxLayoutGap="20px"
        >
          <mat-card
            class="default address_card"
            fxFlex="25"
            *ngIf="communicationAddress"
          >
            <mat-radio-button class="light-blue-title-sml">{{
              'Communication Address' | translate
            }}</mat-radio-button>
            <div class="add_content">
              {{ communicationAddress | translate }}
            </div>
          </mat-card>
          <mat-card
            class="default address_card"
            fxFlex="25"
            *ngIf="permanentAddress"
          >
            <mat-radio-button class="light-blue-title-sml">{{
              'Permanent Address' | translate
            }}</mat-radio-button>
            <div class="add_content">
              {{ permanentAddress | translate }}
            </div>
          </mat-card>
        </div>
      </div>
    </ng-container>
    <div fxLayoutGap="20" fxLayoutAlign="end center">
      <ic-button
        label="Cancel"
        icButtonType="outlined"
        type="submit"
        size="large"
      ></ic-button>
      <ic-button
        label="Proceed"
        (click)="proceed()"
        icButtonType="filled"
        type="submit"
        size="large"
      ></ic-button>
    </div>
  </mat-card>
</form>
