<div class="align_fd">
  <div fxFlex="40" class="fdCalculator_parent">
    <app-commmon-steeper
      [screenTitle]="REPORT_TITLE"
      [screenList]="screenList"
      [screenIndex]="selectedStep"
      (customSelectionChange)="stepperSelectionChange($event)"
    ></app-commmon-steeper>
  </div>

  <div
    class="vertical_divider"
    style="border-right: 1px solid #cbcbcb; height: 450px"
  ></div>

  <div class="align_fdForm" fxLayout="column" *ngIf="verifyStep('create rd')">
    <label class="highlight_title">Fixed Deposit Details</label>
    <form [formGroup]="createFdForm" fxLayout="column">
      <div class="row">
        <div class="col-md-6 col-12">
          <mat-form-field
            appearance="outline"
            class="full-width"
            [ngClass]="isEnabledEdit == false && 'disableField'"
          >
            <mat-label>Deposit Amount</mat-label>
            <input
              matInput
              type="text"
              formControlName="amount"
              name="amount"
              numbersOnly
              [readonly]="!isEnabledEdit"
            />
          </mat-form-field>
        </div>
        <div class="col-md-6 col-12" style="margin-top: -4px">
          <fieldset class="field-type">
            <legend class="fieldset-title">Deposit Period</legend>
            <div
              fxLayout="row"
              [ngClass]="isEnabledEdit == false && 'disable-fieldset'"
            >
              <input
                matInput
                name="tenureYear"
                formControlName="tenureYear"
                numbersOnly
                maxlength="2"
                placeholder="Year"
                [readonly]="!isEnabledEdit"
                class="depositePeriodInput"
              />
              <div class="vertical-separator"></div>
              <input
                matInput
                name="tenureMonth"
                formControlName="tenureMonth"
                numbersOnly
                maxlength="2"
                placeholder="Month"
                [readonly]="!isEnabledEdit"
              />
              <div class="vertical-separator"></div>
              <input
                matInput
                name="tenureDays"
                formControlName="tenureDays"
                numbersOnly
                maxlength="2"
                placeholder="Day"
                [readonly]="!isEnabledEdit"
              />
            </div>
          </fieldset>
        </div>
        <div class="col-md-6 col-12">
          <mat-form-field
            appearance="outline"
            class="full-width"
            [ngClass]="isEnabledEdit == false && 'disableField'"
          >
            <mat-label>Maturity Date</mat-label>
            <input
              matInput
              type="text"
              formControlName="maturityDate"
              name="maturityDate"
              [matDatepicker]="picker"
              readonly
              [readonly]="!isEnabledEdit"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
              [ngStyle]="!isEnabledEdit && { 'pointer-events': 'none' }"
            >
              <mat-icon matDatepickerToggleIcon>calendar_today</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-md-6 col-12">
          <mat-form-field
            appearance="outline"
            class="full-width"
            [ngClass]="isEnabledEdit == false && 'disableField'"
          >
            <mat-label>Interest Rate</mat-label>
            <input
              matInput
              type="text"
              formControlName="intrestRate"
              name="intrestRate"
              numbersOnly
              [readonly]="!isEnabledEdit"
            />
          </mat-form-field>
        </div>
        <div class="col-md-6 col-12">
          <mat-form-field
            appearance="outline"
            class="full-width"
            [ngClass]="isEnabledEdit == false && 'disableField'"
          >
            <mat-label>Maturity Ammount</mat-label>
            <input
              matInput
              type="text"
              formControlName="maturityAmount"
              name="maturityAmount"
              numbersOnly
              [readonly]="!isEnabledEdit"
            />
          </mat-form-field>
        </div>
        <div class="col-md-6 col-12">
          <mat-form-field
            appearance="outline"
            class="full-width"
            [ngClass]="isEnabledEdit == false && 'disableField'"
          >
            <mat-label>Deposit Holder Type</mat-label>
            <mat-select
              formControlName="ownership"
              (selectionChange)="onHolderTypeChange($event.value)"
              [disabled]="!isEnabledEdit"
            >
              <mat-option value="Self">Self</mat-option>
              <mat-option value="Joint">Joint</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-6 col-12">
          <mat-form-field
            appearance="outline"
            class="full-width"
            [ngClass]="isEnabledEdit == false && 'disableField'"
          >
            <mat-label>Customer Type</mat-label>
            <mat-select
              formControlName="typeOfCustomer"
              [disabled]="!isEnabledEdit"
            >
              <mat-option value="Regular">Regular</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-6 col-12">
          <mat-form-field
            appearance="outline"
            class="full-width"
            [ngClass]="isEnabledEdit == false && 'disableField'"
          >
            <mat-label>Payout Type</mat-label>
            <mat-select
              formControlName="intrestPayout"
              [disabled]="!isEnabledEdit"
            >
              <mat-option value="Cumulative">Cumulative</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-6 col-12">
          <mat-form-field
            appearance="outline"
            class="full-width"
            [ngClass]="isEnabledEdit == false && 'disableField'"
          >
            <mat-label>Payment Type</mat-label>
            <mat-select
              formControlName="paymentType"
              (selectionChange)="onPaymentTypeChange($event.value)"
              [disabled]="!isEnabledEdit"
            >
              <mat-option value="Account">Account</mat-option>
              <mat-option value="Cash">Cash</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-6 col-12 autoRenew">
          <mat-checkbox formControlName="autoRenew">Auto Renew</mat-checkbox>
        </div>
      </div>
      <div
        fxFlex="100"
        fxLayout="row"
        fxLayoutGap="2%"
        style="margin-top: 50px"
      >
        <div>
          <button
            type="button"
            mat-raised-button
            class="saveButton"
            (click)="submitCreateFd()"
            [disabled]="createFdForm.invalid"
          >
            Save
          </button>
        </div>
        <div>
          <button
            type="button"
            mat-raised-button
            class="editButton"
            (click)="editRecord()"
          >
            Edit
          </button>
        </div>
        <div>
          <button
            type="button"
            mat-raised-button
            class="cancelButton"
            (click)="cancel()"
          >
            Exit
          </button>
        </div>
      </div>
    </form>
  </div>

  <div class="align_fdForm" fxLayout="column" *ngIf="verifyStep('mobile')">
    <app-verify-number
      (customExistingData)="customExistingData($event)"
      (customSaveVerify)="customSaveVerify($event)"
      (customVerifyBack)="goBack()"
      (customFormGroupEmit)="customFormGroupEmit($event)"
    ></app-verify-number>
  </div>

  <div class="align_fdForm" fxLayout="column" *ngIf="verifyStep('kyc')">
    <app-other-documents
      (customSaveDocument)="customSaveDocuments($event)"
      (customDocumentForm)="customDocumentForm($event)"
      (onBackEvent)="goBack()"
    ></app-other-documents>
  </div>

  <div class="align_fdForm" *ngIf="verifyStep('personal')">
    <app-common-personal-details
      [existingCustomer]="existingCustomer"
      (customSavePersonal)="customSavePersonal($event)"
      (personalBack)="goBack()"
      (customFormGroup)="customFormGroup($event)"
    ></app-common-personal-details>
  </div>

  <div class="align_fdForm" *ngIf="verifyStep('book')">
    <app-book-fd (customBookFdBack)="goBack()"></app-book-fd>
  </div>
</div>
