:host {
  width: 100% !important;
}
.align_fd {
  display: flex;
  flex-direction: row;
  form {
    margin: 2% 0%;
  }
}
.saveButton {
  width: 172px;
  color: #ffffff;
  font-size: 15px;
  background: linear-gradient(137.16deg, #051a2d 0%, #004c97 96.5%);
  height: 40px;
}
.cancelButton {
  width: 172px;
  color: #b20000;
  font-size: 15px;
  background: #ffffff;
  height: 40px;
  border-radius: 18px;
}
.editButton {
  width: 172px;
  color: #004c97;
  font-size: 15px;
  background: #ffffff;
  height: 40px;
  border-radius: 18px;
}
// vertical

// for rd vertical

.selected_stepper {
  background: linear-gradient(137.16deg, #051a2d 0%, #004c97 96.5%);
  color: white;
  width: 60px;
  border-radius: 10px;
  font-size: 24px;
  height: 60px;
}
.vertical_line {
  position: relative;
  height: 50px;
  left: 30px;
  border-left: 1px #bac0d7 dotted;
  display: block;
  height: 122px;
}

.steeper_name {
  color: #004c97;
  margin-left: 50px;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
}
.steeper_done {
  color: #008461;
  margin-left: 50px;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
}
.deposit_icon {
  width: 75px;
  height: 75px;
  background: linear-gradient(137.16deg, #051a2d 0%, #004c97 96.5%);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fd_info_stat {
  background: #e6efff;
  border: 1px solid #bac0d7;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 0 2%;
}
@media only screen and (min-width: 768px) and (max-width: 910px) {
  .fd_info_stat {
    display: none !important;
  }
}
.flow_done {
  border: 1px solid #008461;
  color: #008461;
  width: 60px;
  border-radius: 10px;
  font-size: 24px;
  height: 60px;
}

::ng-deep .mat-step-header.mat-vertical-stepper-header .mat-step-icon {
  background: #e6efff;
  border: 1px solid #bac0d7 !important;
  color: #004c97 !important;
  font-size: 24px;
  width: 60px;
  border-radius: 10px;
  margin-left: -22px !important;
  height: 60px;
}

::ng-deep .mat-vertical-stepper-header {
  .mat-step-header.mat-vertical-stepper-header {
    flex-direction: column !important;
    height: 100% !important;
    padding: 0px !important;
  }
  .mat-vertical-content {
    min-height: 30px !important;
    // margin-bottom: 10px !important;
    border-top: 1px dotted !important;
  }
  .mat-step-label.mat-step-label-active {
    color: #008461 !important;
    font-size: 24px !important;
    font-weight: 600;
    padding-left: 33px !important;
  }
  .mat-step-label.mat-step-label-active.mat-step-label-selected {
    color: #004c97 !important;
    font-weight: 600;
    font-size: 24px !important;
    padding-left: 33px !important;
  }
  .mat-step-label {
    color: #004c97 !important;
    font-weight: 600;
    padding-left: 33px !important;
    font-size: 24px !important;
  }
}

:host ::ng-deep .mat-vertical-content-container {
  margin-left: 30px !important;
  height: 40px !important;
}
:host ::ng-deep .mat-step-header {
  overflow: unset !important;
}

::ng-deep .mat-step-header.mat-vertical-stepper-header .mat-step-icon-selected {
  background: linear-gradient(137.16deg, #051a2d 0%, #004c97 96.5%);
  color: white !important;
  width: 60px;
  border-radius: 10px;
  font-size: 24px;
  height: 60px;
  margin-left: -22px !important;
}

::ng-deep
  .mat-step-header.mat-vertical-stepper-header
  .mat-step-icon-state-edit {
  background-image: url("/assets/images/Group_13808.svg") !important;
  width: 60px;
  border-radius: 10px;
  font-size: 24px;
  border: 1px solid #008461 !important;
  height: 60px;
  font-size: 24px;
  background-position-y: 15px;
  background-position-x: 15px;
  height: 60px;
  background-repeat: no-repeat;
  .mat-step-icon-content {
    display: none !important;
  }
}

.deposit_icon {
  width: 75px;
  height: 75px;
  background: linear-gradient(137.16deg, #051a2d 0%, #004c97 96.5%);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

// for vrtical

.fdCalculator_parent {
  padding-left: 6%;
  padding-right: 2%;
  flex-direction: row;
  height: 450px;
  overflow: scroll;
  overflow-x: hidden;
}
@media screen and (max-width: 768px) {
  .fdCalculator_parent {
    display: none;
  }
  .align_fd {
    flex-direction: column !important;
  }
  .vertical_divider {
    display: none !important;
  }
}

.align_fdForm {
  width: 100%;
  padding-left: 2%;
}
.vertical-line {
  display: block;
  width: 100px;
  border-top: 1px dotted;
  margin-top: 35px;
}

//
.yeardrop {
  background-color: #f3f3f3;
  border: 1px solid rgba(0, 0, 0, 0.0901960784) !important;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.0901960784);
  border-radius: 5px;
  height: 68px !important;
}
:host
  ::ng-deep
  .inputSelect.mat-form-field-appearance-outline
  .mat-form-field-infix {
  padding: 0px;
  margin-top: -4px !important;
}

:host
  ::ng-deep
  .inputSelect.mat-form-field-appearance-outline
  .mat-form-field-outline {
  color: white !important;
}
.inputSelect {
  width: 33% !important;
  height: 22px;
  background: #fffefe 0% 0% no-repeat padding-box;
  border-radius: 8px;
  opacity: 1;
  margin-top: 0px;
  display: flow-root;
}

.calculator_subTItle {
  color: #004c97;
  font-size: 18px;
  font-weight: 600;
  font-family: "Poppins";
}
.autoRenew {
  padding: 2%;
}
:host
  ::ng-deep
  .mat-form-field-should-float.disable-field
  .mat-form-field-outline {
  background-color: #f3f3f3 !important;
  border-radius: 5px;
}
.disable-fieldset {
  background: #f3f3f3;
  background: #f3f3f3;
  height: 108%;
  border-radius: 7px;
}

.vertical-separator {
  height: 30px;
  width: 1px;
  border: #b4b4b466 1px solid;
  margin: 16px 10px;
  position: relative;
}
.fieldset-title {
  font: 10px Poppins;
  color: #102245;
  font-weight: 500;
  opacity: 0.5;
  margin-left: 4%;
  margin-top: -2%;
  position: absolute;
}
.field-set {
  padding-bottom: 4px;
  height: 50px;
  position: relative;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 10px #00000017;
  border: none;
  border-radius: 8px;
  opacity: 1;
}
.fieldset-input {
  position: relative;
  top: -4px;
  font-family: Poppins;
  color: #102245 !important;
  opacity: 100%;
  letter-spacing: -0.26px;
  font-weight: 600;
}
.selector-input {
  width: 65px;
}
.field-type {
  top: 6px;
  padding-bottom: 4px;
  height: 61px;
  position: relative;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 10px #00000017;
  border: 1px solid #b4b4b466;
  border-radius: 8px;
  opacity: 1;
}
.depositePeriodInput {
  margin-left: 10%;
}
.mat-button-disabled {
  background: none !important;
}
