<div class="eligibility-tab">
  <div class="header_xl_black">Eligibility Criteria</div>
  <div class="description">{{ eligibilityData?.description }}</div>
  <div fxLayout="row" fxLayoutGap="16px" class="basic-requirements">
    <div class="star-bg" [inViewAnimate]="'zoom-out'">
      <img src="assets/images/star.svg" class="star-icon" alt="star" />
    </div>
    <div fxLayout="column">
      <div class="card_title" [inViewAnimate]="'fade-left'">
        Basic Eligibility Requirements
      </div>
      <div class="card_description" [inViewAnimate]="'fade-left'">
        Fundamental criteria that all applicants must meet
      </div>
      <ul class="card_points">
        <li *ngFor="let item of eligibilityData?.basicRequirements">
          {{ item }}
        </li>
      </ul>
    </div>
  </div>
  <div class="eligibility-note-alert">
    <img src="assets/images/Alert.svg" alt="alert" />
    Meeting eligibility criteria does not guarantee approval. Final decision is
    based on comprehensive credit assessment and bank policies.
  </div>
</div>
