<div fxLayout="column">
  <div class="kycToggle" fxFlex="100">
    <button
      (click)="onDocumentToggle('kyc')"
      [ngClass]="kycToggle === 'kyc' ? 'toggled' : ''"
      class="col-md-6"
      fxFlex="50"
      mat-raised-button
    >
      Select Kyc
    </button>
    <button
      (click)="onDocumentToggle('addDoocuent')"
      [ngClass]="kycToggle === 'addDoocuent' ? 'toggled' : ''"
      class="col-md-6"
      fxFlex="50"
      mat-raised-button
    >
      Use Other Documents
    </button>
  </div>
  <!--select start here -->
  <div *ngIf="kycToggle === 'kyc'">
    <app-select-kyc (customgoBack)="goBack()"></app-select-kyc>
  </div>
  <!-- select kyc  ends here -->

  <!-- other documents start here -->
  <ng-container *ngIf="kycToggle === 'addDoocuent'">
    <app-web-doc-upload
      (CustomSubmit)="onConfirmEvent($event)"
      (backEvent)="goBack()"
      [documentList]="documentList"
      [documentTypeArray]="documentTypeArray"
      [genericScreenInfo]="genericScreenInfo"
      [ocrProcess]="ocrProcess"
      [verificationType]="verificationType"
    ></app-web-doc-upload>
  </ng-container>
  <!-- other documents ends here -->
</div>
