<div fxLayout="column">
  <div fxLayout="row" fxLayoutGap="1%" class="mb-24">
    <div fxFlex="24" class="productName_container">
      <div>Product</div>
      <div>{{ productType }}</div>
    </div>
    <div
      fxFlex="24"
      fxLayoutAlign="center start"
      fxLayout="column"
      *ngFor="let item of statusItems"
      class="status_container"
    >
      <div fxLayout="column">
        <div class="level_title">
          <span *ngIf="item.value == 100">
            <img src="assets/images/done_icon.svg" /></span
          >{{ item.title }}
        </div>
      </div>
      <mat-progress-bar
        mode="determinate"
        [value]="item.value"
      ></mat-progress-bar>
    </div>
  </div>

  <mat-accordion class="custom_action_expansion">
    <mat-expansion-panel class="detail_container">
      <mat-expansion-panel-header class="header">
        <mat-panel-description class="header_description">
          <div fxLayoutAlign="space-between start" fxFlex="100">
            <div>
              Application Details <span>({{ mobileNumber }})</span>
            </div>
            <button mat-raised-button class="editButton">
              <mat-icon>edit</mat-icon> Edit
            </button>
          </div>
          &nbsp;
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div fxFlex="100">
        <app-loan-product-details
          [dynamicKeyHelper]="dynamicKeyHelper"
          [productInfo]="dynamicDetails"
        ></app-loan-product-details>
      </div> </mat-expansion-panel
    ><br />
    <mat-expansion-panel>
      <mat-expansion-panel-header class="header">
        <mat-panel-description class="header_description">
          <div fxLayoutAlign="space-between start" fxFlex="100">
            <div>Application Status</div>
          </div>
          &nbsp;
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div fxFlex="100" class="custom_expansion_container">
        <app-application-status></app-application-status>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
