<div class="biometric-card-expansion-panel">
  <div class="upper-biometric-card" fxFlex="50" fxLayoutGap="5">
    <div class="forSignImg" fxLayout="column">
      <div class="signdig" fxLayout="column" fxLayoutAlign="flex-start center">
        <div class="biometric-card w-100" fxLayoutAlign="end center">
          <div
            class="deleteDiv"
            fxLayoutAlign="center center"
            (click)="deleteImage()"
            (keydown.enter)="deleteImage()"
            tabindex="0"
          >
            <mat-icon class="deleteBtn"> delete </mat-icon>
          </div>
        </div>
        <img
          class="image"
          [src]="
            filePreview?.changingThisBreaksApplicationSecurity
              | safe: 'url'
              | async
          "
          alt=""
        />
        <mat-hint *ngIf="!image" matSuffix class="signiter">{{
          'Signature'
        }}</mat-hint>
      </div>
      <div class="w-100" fxLayout="row" fxLayoutALign="space-between center">
        <button
          type="button"
          mat-button
          class="digsign"
          fxFlex="50"
          fxLayoutALign="center center"
          (click)="openDigitalSignDialog('Sign Now')"
        >
          {{ 'Digital Sign' }}
        </button>
        <button
          mat-button
          class="upd"
          fxFlex="50"
          (click)="openDigitalSignDialog('Upload')"
        >
          {{ 'Upload' }}
        </button>
      </div>
    </div>
  </div>
</div>

<div fxLayoutGap="10" fxLayoutAlign="end center" class="pt-12">
  <ic-button
    [label]="'Submit' | translate"
    [type]="'submit'"
    size="large"
    [icButtonType]="'filled-rounded'"
    [disabled]="isLoading && !image"
    (OnClick)="onSubmit()"
  >
  </ic-button>
  <ic-button
    [label]="'Back'"
    icButtonType="ghost-rounded-danger"
    size="large"
    [type]="'button'"
    (OnClick)="onBack()"
  >
  </ic-button>
</div>
