.field_title {
  font-size: 13px;
  line-height: 22px;
  color: #1022456e;
}
.field_value {
  font-size: 17px;
  font-weight: 500;
  line-height: 26px;
  color: #102245;
}
.field_align {
  padding: 3% 1%;
}
.note {
  font-weight: bold;
}
.fade-text {
  color: rgba(16, 34, 69, 0.431372549);
}
.note-row {
  padding-top: 5%;
  padding-bottom: 5%;
}
