.applicantsInfo {
  border-radius: 12px;

  .noteClass {
    text-align: left;
    letter-spacing: -0.24px;
    color: #102245;
    opacity: 0.5;
    margin-top: 15px;
    font-size: 14px;
    font-family: var(--ic-primary-font-family);
  }
}

.Custom-padding {
  margin-top: 12px;
}
