.applicantsInfo {
    padding: 20px;
    border-radius: 12px;

    .noteClass {
        text-align: left;
        font: normal normal medium 12px/18px Poppins;
        letter-spacing: -0.24px;
        color: #102245;
        opacity: 0.5;
        margin-top: 15px;
    }
}
.Custom-padding{
    margin-top: 12px;
}