/*-------------- Loading buttons --------------*/

.button-loading {
  .mat-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.btn-spinner {
  width: 1em;
  height: 1em;
  background: transparent;
  border-radius: 50%;
  border: 2px solid transparent;
  animation: btn-glow 1s ease infinite;
  margin-left: 24px;
}

.loadingText {
  margin-top: -24px;
  position: absolute;
  margin-left: -10px;
}

@keyframes btn-glow {
  0% {
    transform: rotate(360deg);
  }
  50% {
    border-top-color: #777676;
  }
  100% {
    box-shadow:
      0 0 0 0.4em darken(#777676, 10%),
      0 0 0 3.6em transparent;
  }
}

.button {
  height: 50px !important;
  border-radius: 23px !important;
  text-align: center;
  font-family: Benton Sans;
  font-size: 14px;
}

.loading_submit {
  height: 50px !important;
  background: var(--current-theme-background) 0% 0% no-repeat padding-box !important;
  color: #ffffff !important;
  border-radius: 25px !important;
  margin-top: 8px !important;
}

.submit_button {
  height: 50px !important;
  background: var(--current-theme-background) 0% 0% no-repeat padding-box !important;
  color: #ffffff !important;
}

.back_button {
  box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.0588235294);
  background: #ffffff !important;
  color: #000000 !important;
}

.btn-algn {
  margin-top: 15px;
}

.filled_btn {
  width: 158px;
  height: 43px !important;
  border-radius: 8px;
  background: var(--current-theme-background) !important;
  color: white !important;
  font-family: 'Raleway', sans-serif;

  &[disabled='true'] {
    background-color: #d6d6d6 !important;
  }
}

.stroked_btn {
  width: 158px;
  height: 43px !important;
  border-radius: 8px;
  border: 1px solid #00205c !important;
  font-family: 'Raleway', sans-serif;

  &[disabled='true'] {
    background-color: #d6d6d6 !important;
  }
}
