.otp_field {
  input {
    width: 80px !important ;
    height: 80px !important;
    border-radius: 4px;
    border: solid 1px #c5c5c5;
    text-align: center;
    box-shadow: 0px 3px 15px 0px #00000017 !important;
    font-size: 32px;
  }
}
