.section_heading {
  font-family: "Nunito", sans-serif;
  text-align: center;
  font-weight: 800;
  font-size: 40px;
  @media screen and (max-width: $mobile) {
    font-size: 26px;
  }
}
.section_subHeading {
  color: #4c5371;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  margin: 0.8rem 0 1.2rem 0;
  @media screen and (max-width: $mobile) {
    font-size: 16px;
    margin-top: 0.4rem;
  }
}

.mat-form-field-appearance-outline .mat-form-field-flex {
  font-family: "Poppins", sans-serif;
}
.mat-form-field-appearance-outline .mat-form-field-label {
  top: 1.64375em;
  // line-height: normal;
}
.mat-form-field-suffix .mat-icon-button .mat-icon {
  overflow: visible;
}
//mat-tree
.mat-tree {
  font-family: "Poppins", sans-serif !important;
}
.egret-navy .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: #004c97;
}
.egret-navy
  .mat-checkbox-checked:not(.mat-checkbox-disabled).mat-accent
  .mat-ripple-element,
.egret-navy
  .mat-checkbox:active:not(.mat-checkbox-disabled).mat-accent
  .mat-ripple-element {
  background: #004c97;
}
.egret-navy .mat-expansion-indicator::after {
  color: rgb(0 83 255 / 61%);
}
