.customMatfield{
    //disable form field
.disable-mat-form-field {
    .mat-form-field-appearance-outline .mat-form-field-outline {
      background: #f3f3f3 0% 0% no-repeat padding-box !important;
      border-radius: 8px !important;
      border: none !important;
      box-shadow: none !important;
      height: 50px !important;
    }
  
    .mat-form-field-outline-start,
    .mat-form-field-outline-end,
    .mat-form-field-outline-gap {
      border: none !important;
    }
  
    .mat-form-field-appearance-outline .mat-form-field-infix {
      padding: 15px 0px 15px 0px !important;
    }
  
    .mat-form-field-appearance-outline .mat-form-field-wrapper {
      // margin: 0;
      padding-bottom: 12px !important;
    }
    .mat-form-field-infix {
      border-top: 10px solid transparent !important;
    }
  }
  
  //common form field
  .mat-form-field-appearance-outline .mat-form-field-outline {
    background: #fffefe 0% 0% no-repeat padding-box !important;
    border-radius: 8px !important;
    box-shadow: 0px 3px 10px #00000017 !important;
    border: none;
  }
  .mat-form-field-outline-start,
  .mat-form-field-outline-end,
  .mat-form-field-outline-gap {
    border: none !important;
  }
  .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 12px 0px 12px 0px;
  }
  .mat-form-field-infix {
    border-top: 8px solid transparent;
  }
  .mat-form-field-appearance-outline .mat-form-field-flex {
    height: 54px;
  }
  .mat-form-field-wrapper {
    padding-bottom: 0.9375em;
  }
  .mat-form-field-label-wrapper {
    top: -0.65em;
    padding-top: 0.84375em;
  }
  
  //dropdown and form field
  .egret-navy .mat-input-element {
    font-family: "Poppins";
    font-weight: 600;
    top: 0.1em;
    position: relative;
  }
  
  .mat-form-field-appearance-outline .mat-form-field-flex {
    font-family: "Poppins";
  }
  
  .mat-form-field {
    letter-spacing: 0px;
    font-weight: 600;
  }
  
  .mat-select-panel .mat-option-text {
    display: inline-block;
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: "Poppins";
    font-weight: 600;
  }
  
  .egret-navy .mat-select-value {
    font-family: "Poppins";
    color: #102245;
    opacity: 100%;
    letter-spacing: -0.26px;
    font-weight: 600;
  }
  
  .mat-form-field-appearance-outline .mat-form-field-suffix {
    top: 0.5em !important;
  }
  //toggle-lable
  .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
      padding: 0 12px;
      font-family: "Poppins",sans-serif;
  }
  
  .mat-tab-links {
      display: flex;
      justify-content: center;
  }
  
  
}