.section_heading {
  font-family: var(--ic-primary-font-family);
  text-align: center;
  font-weight: 500;
  font-size: 40px;
  color: var(--ic-text-black);
  @media screen and (max-width: $mobile) {
    font-size: 26px;
  }
}

.section_subHeading {
  color: var(--ic-text-theme);
  text-align: center;
  font-family: var(--ic-primary-font-family);
  font-size: 18px;
  margin: 0.8rem 0 1.2rem 0;
  @media screen and (max-width: $mobile) {
    font-size: 16px;
    margin-top: 0.4rem;
  }
}

.noteClass {
  text-align: left;
  letter-spacing: -0.24px;
  color: #102245;
  opacity: 0.5;
  margin-top: 15px;
  font-size: 14px;
  font-family: var(--ic-primary-font-family);
}

code {
  color: #b4b4b4;
  background: none;
  font-size: 14px;
}

.in-view-animate-init {
  opacity: 0;
}

.mat-form-field-appearance-outline .mat-form-field-flex {
  font-family: var(--ic-primary-font-family);
}

.mat-form-field-appearance-outline .mat-form-field-label {
  top: 1.64375em;
  // line-height: normal;
}

.mat-form-field-suffix .mat-icon-button .mat-icon {
  overflow: visible;
}

.mdc-text-field--no-label:not(.mdc-text-field--textarea)
  .mat-mdc-form-field-input-control.mdc-text-field__input,
.mat-mdc-text-field-wrapper .mat-mdc-form-field-input-control {
  height: 100% !important;
}

.mdc-text-field--filled {
  --mdc-filled-text-field-active-indicator-height: 0 !important;
}
.mat-form-field-appearance-fill {
  .mat-mdc-form-field-subscript-wrapper {
    position: absolute !important;
  }
}

.swiper-pagination-bullet-active{
  background: var(--ic-clr-primary-a10) !important;
}

//mat-tree
.mat-tree {
  font-family: var(--ic-primary-font-family), sans-serif !important;
}

.egret-navy .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: var(--current-theme-background) !important;
}

.egret-navy
  .mat-checkbox-checked:not(.mat-checkbox-disabled).mat-accent
  .mat-ripple-element,
.egret-navy
  .mat-checkbox:active:not(.mat-checkbox-disabled).mat-accent
  .mat-ripple-element {
  background: var(--current-theme-background);
}

.egret-navy .mat-expansion-indicator::after {
  color: var(--ic-text-theme);
  padding: 4px;
  display: none;
}

.mat-radio-label-content {
  color: var(--current-theme-background);
  font-weight: 500;
  padding-left: 0.5em;
  font-size: 14px;
  font-family: var(--ic-primary-font-family);
  opacity: 1;
}

//checkbox
.egret-navy .mat-checkbox-checked.mat-primary .mat-checkbox-background {
  background-color: var(--current-theme-background);
}

.mat-checkbox-layout .mat-checkbox-label {
  color: #102245;
  font-weight: 500;
  padding-left: 0.5em;
  font-size: 14px;
  font-family: var(--ic-primary-font-family);
  opacity: 0.7;
}

//custom toggle button
.egret-navy .mat-slide-toggle {
  &.mat-checked:not(.mat-disabled) {
    .mat-slide-toggle-bar {
      background-color: var(--current-theme-background) !important;
      cursor: default;
    }

    .mat-slide-toggle-thumb {
      background-color: white;
    }
  }

  .mat-slide-toggle-bar {
    width: 32px;
    height: 17px;
  }

  &.mat-checked .mat-slide-toggle-bar {
    background-color: var(--current-theme-background) !important;

    .mat-slide-toggle-thumb {
      background-color: white;
    }
  }

  .mat-slide-toggle-thumb {
    font-size: 10px;
    font-weight: 10px;
    width: 11px;
    height: 11px;
    margin-top: 1px;
    // margin-top: 5.9px;
    left: 2.4px;
    position: relative;
  }
}

.mat-slide-toggle.mat-checked .mat-ripple-element {
  background-color: var(--current-theme-background-light) !important;
}

.egret-navy .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
  color: var(--current-theme-background);
}

.cursor-pointer {
  cursor: pointer;
}

.small-title {
  color: #606c8d;
  font-size: 12px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;

  &-bold {
    font-weight: 600;
  }
}

.text-bold {
  color: #060606;
  font-size: 18px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 700;
}

.text-gray {
  color: #313131;
  font-size: 12px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
}

.mat-mdc-snack-bar-container .mdc-snackbar__surface {
  background-color: #0555e5 !important;
  color: aliceblue !important;
  font-family: var(--ic-primary-font-family), sans-serif !important;
}

.container {
  padding: 0 5%;
  width: 100%;
}
