.vertical-separator {
  height: 30px;
  width: 1px;
  border: #b4b4b466 1px solid;
  margin: 0px 10px;
  position: relative;
  top: -5px;
}

.fieldset-title {
  font: 10px Benton Sans;
  color: #102245;
  margin-bottom: 4px;
  font-weight: 600;
  opacity: 0.5;
  float: none !important;
  padding-left: 10px;
}

.field-set {
  padding-bottom: 4px;
  height: 52px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 10px #00000017;
  border: 1px solid #b4b4b466;
  border-radius: 8px;
  opacity: 1;
}

.fieldset-input {
  position: relative;
  top: -4px;
  font-family: Benton Sans;
  color: #102245 !important;
  opacity: 100%;
  letter-spacing: -0.26px;
  font-weight: 600;
  margin-left: 10px !important;
}

.disabled-fieldset {
  background: #f5f5f5 0% 0% no-repeat padding-box !important;
  box-shadow: none !important;
}

.fieldset {
  .mat-form-field-appearance-outline .mat-form-field-outline {
    border-radius: 11px !important;
  }

  .enabled-mat-form-field {
    .mat-form-field-appearance-outline .mat-form-field-outline {
      background: #ffffff 0% 0% no-repeat padding-box !important;
      border-radius: 11px !important;
      // box-shadow: none !important;
      // border: 1px solid #c3cad0 !important;
      height: 55px;
      margin-top: -3px;
    }
  }

  .disable-mat-form-field {
    .mat-form-field-appearance-outline .mat-form-field-outline {
      background: #f3f3f3 0% 0% no-repeat padding-box !important;
      border-radius: 11px !important;
      box-shadow: none !important;
      border: 1px solid #c3cad0 !important;
      height: 55px;
    }

    .mat-form-field-outline-start,
    .mat-form-field-outline-end,
    .mat-form-field-outline-gap {
      border: none !important;
    }

    .mat-form-field-appearance-outline .mat-form-field-infix {
      padding: 15px 0px 15px 0px;
    }

    .mat-form-field-appearance-outline .mat-form-field-wrapper {
      margin: 0 0 !important;
      padding-bottom: 1.34375em;
    }

    .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float
      .mat-form-field-label {
      transform: translateY(-1.59373em) scale(0.75);
      width: min-content;
      backdrop-filter: blur(10px);
    }

    .mat-form-field-infix {
      border-top: 10px solid transparent;
    }
  }
}

.legend {
  float: none !important;
  font-size: 12px !important;
  padding-left: 5px !important;
  width: fit-content;
  font-family: 'Benton Sans';
  color: #b4b4b4;
}
