.header-card {
  margin: 0 0 !important;
  height: 112px !important;
  border-bottom-left-radius: 13px !important;
  border-bottom-right-radius: 13px !important;
  padding: 0 !important;
  position: sticky !important;
  top: 0;
  z-index: 99;

  .tab_align {
    padding: 0 1%;
  }
}

.typrOfBG {
  padding: 10px;
  font-style: normal;
  font-variant: normal;
  font-weight: medium;
  font-size: 24px;
  line-height: 32px;
  font-family: Benton Sans;
  letter-spacing: 0px;
  color: #00000f;
  opacity: 1;
}
