@import "node_modules/ic-test-css/src/mixins/_common-mixin.scss";

$dark_blue: #06113c;
$text_blue: #3c4f9a;
$text_dark_blue: #212353;
$gradient_bg: linear-gradient(90deg, #004aa0 0%, #06113c 100%);

// Shadows
$navbar_shadow: 3px 3px 20px #0000000f;
$footer_shadow: 3px -3px 20px #0000000f;

// Breakpoints
$mobile: 576px;
$tablet: 768px;
$laptop: 1200px;

section.hero_section {
  min-height: 90vh;

  &.custom_container {
    margin-left: 5.5rem;
    padding: 2rem 0;
    overflow-x: hidden;
  }

  .hero_title {
    font-size: 60px;
    font-weight: bold;
    font-family: "Nunito", sans-serif;
    color: $dark_blue;
    @media screen and (max-width: $mobile) {
      font-size: 2rem;
    }
  }
  .hero_subtitle {
    width: 65%;
    font-size: 17px;
    font-family: "Poppins", sans-serif;
    margin: 1.5rem 0;
    color: #4c5371;
    @media screen and (max-width: $laptop) {
      width: 90%;
    }
    @media screen and (max-width: $mobile) {
      width: 100%;
    }
  }
  .apply_div {
    margin: 2rem 0;
    .apply_btn {
      @include custom_round_btn;
    }
  }
  .stacked_imgs_div {
    display: flex;
    align-items: center;
    margin-top: 1.4rem;
    .img_wrapper {
      position: relative;
      width: 130px;
      height: 60px;
      display: flex;
      img.stacked_images {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        &:nth-child(2) {
          left: 25%;
        }
        &:last-child {
          left: 50%;
        }
      }
    }
    .stacked_div_text {
      margin-left: 1rem;
      h2,
      p {
        color: $dark_blue;
        font-family: "Nunito", sans-serif;
        margin: 0;
      }
      h2 {
        font-size: 1.5rem;
        font-weight: 800;
      }
    }
  }

  .hero_image_container {
    .card_hero_image {
      position: absolute;
      &.debit_card {
        position: relative;
        width: 90%;
        left: 60%;
        top: 5%;
        transform: translateX(-50%);
        z-index: 2;
        animation: card_animation 1.2s cubic-bezier(0.4, 0, 1, 1) infinite
          alternate;
      }
      &.card_shadow {
        position: relative;
        top: 0;
        left: 2%;
        z-index: 1;
      }
      &.hand {
        position: absolute;
        right: 0;
        top: 20%;
        width: 25%;
      }
      @media screen and (max-width: $laptop) {
        &.debit_card {
          width: 60%;
        }
        &.card_shadow {
          left: 5%;
        }
        &.hand {
          display: none;
        }
      }
    }
  }
}

@keyframes card_animation {
  0% {
    top: 5%;
  }
  100% {
    top: 10%;
  }
}
