.verifyDiv {
  position: absolute;
  right: -7px;
  top: 0;
  .verify-btn {
    position: relative;
    height: 37px;
    color: #004c97;
    border-radius: 8px;
    background: #e2effc 0% 0% no-repeat padding-box;
    font-size: 12px;
    font-family: Poppins, "Medium";
    font-weight: 600;
    border: none;
  }
}
.sub-head {
  font: 14px/21px Poppins;
  letter-spacing: 0px;
  color: #004c97;
  font-weight: 700;
}
.buttonsBg {
  width: 44%;
  background: #f3f3f3;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.0901960784);
  border: 3px solid #ffffff;
  border-radius: 8px;
  margin: 10px 0px;
  padding: 5px;
}
.submit {
  @include action_button(#ffff, $gradientBg, $buttonHeight, 124px);
  border-radius: 8px !important;
}
.resetbtn {
  @include action_button(#b20000, #fff, $buttonHeight, 124px);
  border-radius: 8px !important;
  border: 2px solid #b20000 !important;
}
