.login_container {
  padding: 40px 40px;
  min-height: 100vh;
  display: flex;
  width: 1540px;
  justify-content: center;
  align-items: center;
  background: url('/assets/images/backGround_logPage.png') no-repeat;
  background-size: 132%;
  background-attachment: fixed;
  background-position: center;
  @media screen and (max-width: 576px) {
    background: url('/assets/images/backGround_logPage.png') no-repeat;
    background-position: center;
  }

  .login_content {
    width: 100%;
    max-width: 40%;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: baseline;

    @media screen and (max-width: 576px) {
      max-width: 100%;
      padding: 10px;
      border-radius: 8px;
      // box-shadow: $inputBoxShadow;
      backdrop-filter: blur(4px);
    }

    .login_heading {
      letter-spacing: 0px;
      color: var(--ic-text-theme);
      font-family: Big Caslon;
      font-size: 33px;
    }

    .login_subtitle {
      margin-top: 50px;
      margin-bottom: 28px;
      padding-left: 16px;
      font-family: var(--ic-primary-font-family);
    }

    .forgot-password-title {
      // margin-top: 50px;
      margin-bottom: 28px;
      // padding-left: 16px;
      font-family: var(--ic-primary-font-family);
    }

    .forgot-password-subtitle {
      font-size: 13px;
      font-family: var(--ic-primary-font-family);
      color: #b1b1b1;
    }

    .login_form,
    .forgot_form {
      max-width: 422px;
      width: 100%;
      padding-left: 16px;
      display: flex;
      flex-direction: column;
      z-index: 2;

      .mat-form-field-appearance-outline .mat-form-field-outline {
        border: 2px solid !important;
        border-radius: 14px;
      }

      .mat-form-field-outline-start,
      .mat-form-field-outline-end,
      .mat-form-field-outline-gap {
        border: unset !important;
      }

      .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float
        .mat-form-field-label {
        transform: translateY(-1.69373em) translateX(1.30627em) scale(0.85);
        width: auto;
        background-color: white;
      }

      .mat-form-field-label {
        line-height: inherit;
      }

      .mat-form-field-appearance-outline .mat-form-field-flex {
        height: 60px;
      }

      .mat-form-field-appearance-outline .mat-form-field-infix {
        padding: 1em 0 1em 0;
      }

      .mat-form-field-subscript-wrapper {
        font-size: 75%;
        margin-top: 0.2666666667em !important;
        top: calc(100% - 1.7916666667em);
        letter-spacing: normal;
      }

      .mat-form-field-wrapper {
        padding-bottom: 0;
      }

      .alignCred {
        width: 90%;
        transform: translate(1.30627em, -3px);
      }

      .login_sigin {
        border-radius: 24px !important;
        opacity: 1 !important;
        width: 100%;
        background: transparent
          linear-gradient(90deg, #051a2d 0%, var(--ic-clr-primary-a10) 100%) 0%
          0% no-repeat padding-box;
        color: #ffffff;
        height: 48px;
        font: normal normal 500 15px/23px var(--ic-primary-font-family);
        border: none;
      }

      // AUthentication Page
      .login_methods {
        display: flex;
        gap: 16px;

        .login_button {
          display: flex;
          gap: 10px;
          justify-content: center;
          align-items: center;
          // width: 100%;
          height: 58px;
          background: #ffffff;
          box-shadow: 3px 3px 15px #0000000f;
          border-radius: 15px;
          border: none;

          .loginMethodCard {
            margin-right: 20px;
            color: var(--ic-clr-primary-a10);
          }
        }
      }

      .login_link_button {
        color: var(--ic-text-theme);
        outline: none;
        background: none;
        box-shadow: none;
        border: none;
        align-self: flex-end;
        font-weight: bold;
        margin-right: 50px;
        float: right;
      }
    }

    .auth_button_wrapper {
      padding: 10px 0;
    }

    .auth_subtitle {
      // font-weight: bold;
      font-family: var(--ic-primary-font-family);
      font-size: 12px !important;
      color: #b1b1b1 !important;
    }

    .forget {
      // color: $primaryTextColor;
      font-size: 13px;
      font-family: var(--ic-primary-font-family);
      font-weight: 600;
      background: none;
      border: none;
    }

    .button-container {
      display: flex;

      button {
        width: 50%;
      }
    }

    .resend_otp_container {
      width: 100%;
      display: flex;
      justify-content: center;

      p.timer {
        text-align: center;
        color: #b20000;
        margin: 0;
        margin-right: 20px;
      }
    }

    .ng_otp_input {
      input {
        border: 1px solid #d5d5d5;
        outline: none !important;
        border-radius: 12px;
        box-shadow: 3px 3px 15px #0000000f;
      }
    }
  }

  // Image section
  .login_image {
    height: 75%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 1;
    @media screen and (max-width: 520px) {
      display: none;
    }

    img {
      width: 75%;
      height: 75%;
      object-fit: cover;
    }
  }
}

@media screen and (max-width: 1023px) {
  .login_image {
    display: none;
  }

  .login_content {
    padding-left: 0px;
    max-width: 408px;
  }
}

@media screen and (max-width: 767px) {
  .login_container {
    padding: 20px;
  }

  .login_form {
    padding-left: 0;
  }

  .login_subtitle {
    margin: 16px 0;
  }
}

:host ::ng-deep .mat-form-field-outline-start {
  border-radius: 15px 0 0 15px !important;
  min-width: 10px !important;
}

:host ::ng-deep .mat-form-field-outline-end {
  border-radius: 0 15px 15px 0 !important;
}

.error-message {
  color: red;
  font-weight: 500;
  font-size: large;
}

.saveButton {
  background: transparent
    linear-gradient(91deg, #051a2d 0%, var(--ic-clr-primary-a10) 100%) 0% 0%
    no-repeat padding-box;
  border-radius: 24px;
  font: normal normal 500 15px/23px var(--ic-primary-font-family);
  color: #ffffff !important;
  border: none;
}

.exitButton {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 3px 3px 15px #0000000f;
  border-radius: 50px;
  font: normal normal 500 15px/47px var(--ic-primary-font-family);
  color: #b20000;
  border: none;
}
