.popup-class {
  mat-dialog-container {
    padding: 16px 0 0 0;
    border-radius: 10px;
    padding-top: 0;
  }
}
.popup-class-approve {
  mat-dialog-container {
    padding: 0px;
    border-radius: 18px;
  }
}
.default-card {
  background: #fffefe 0% 0% no-repeat padding-box !important;
  box-shadow: 0px 3px 15px #00000017 !important;
  border-radius: 12px !important;
  opacity: 1 !important;
}
.text-gray {
  color: #00000f;
  opacity: 70%;
  font-family: Poppins;
  font-weight: 600;
}

.text-poppins {
  text-align: left;
  font: normal normal 600 16px/19px Poppins;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.add-payee-btn {
  min-width: 130px;
  max-width: max-content;
  height: 40px;
  cursor: pointer;
  border-radius: 8px;
  font-size: 14px;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  padding: 0 24px;

  & > .mat-icon {
    margin-right: 8px;
  }
}

.custom-expansion-panel {
  .mat-expansion-panel-header {
    font: normal normal 18px/27px Poppins;
    color: #102245;
    background: #ebf6ff 0% 0% no-repeat padding-box;
    border-radius: 8px;
  }
}

mat-expansion-panel.default-expansion-panel {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
  border-radius: 12px !important;
  opacity: 1;
  background: #ffffff 0% 0% no-repeat padding-box !important;
  .mat-expansion-panel-header.mat-expanded {
    font: 16px Poppins;
    font-weight: 600;
    color: #00000f;
  }

  .mat-expansion-panel-body {
    padding: 10px !important;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 8px solid #f3f3f3;
    border-radius: 12px;
    opacity: 1;
    font-family: "Poppins", sans-serif;
  }

  mat-expansion-panel-header:not(.mat-expanded) {
    margin: 0;
    color: #004896;
    font: 16px Poppins;
    font-weight: 600;
    height: 50px;
    transition: all 0.28s;
    &:hover {
      background-color: var(--current-theme-background-light) !important;
      mat-panel-description {
        color: var(--current-theme-background) !important;
      }
      border: 1px solid var(--current-theme-background);
    }
  }
  .minor {
    padding-bottom: 18px;
  }
}
.text-carbon {
  text-align: center;
  font: normal normal 18px/47px Poppins;
  letter-spacing: 0px;
  color: #b4b4b4;
  opacity: 1;
}
.text-label {
  color: #102245;
  font-family: "Poppins";
  font-weight: 600;
}

.text-light {
  color: #000000 !important;
  font-family: "Poppins";
  opacity: 70%;
  font-weight: 600;
  margin-bottom: 10px;
}

.sub-heading {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0px;
  color: #102245;
  opacity: 1;
  padding: 14px 5px;
}

.title-text {
  font-family: "Poppins";
  color: #004c97;
  font-weight: 600;
}

.text-highlighted {
  color: #004c97;
  font-family: "Poppins";
}

.text-normal {
  color: #102245;
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 600;
}
.standard-padding {
  padding: 1%;
}
.vertical-line {
  height: 90vh;
  border: 1px #00000017 solid;
}

.custom-slider {
  .mat-slider-thumb-label {
    transform: rotate(45deg) !important;
    background-color: unset !important;
    width: fit-content !important;
  }

  .mat-slider-thumb-label-text {
    opacity: 1 !important;
    position: relative; // this css needed to adjust the position of the slider's thumb
  }

  .mat-slider-track-background {
    height: 5px !important;
  }

  .mat-slider-track-wrapper {
    height: 5px !important;
    border-radius: 10px !important;
    box-shadow: 0px 3px 6px 0px #0000001f;
    .mat-slider-track-background {
      background-color: #fff !important;
    }
  }

  .mat-slider-track-fill {
    height: 6px !important;
    background: linear-gradient(
      270deg,
      #051a2d -11.9%,
      #014589 28.35%,
      #01478e 68.71%,
      #004c97 96.3%
    ) !important;
  }

  .mat-slider-thumb {
    width: 25px !important;
    height: 25px !important;
    background: #00205c !important;
    top: -11px !important;
    border-radius: 50% !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    border: 6px solid #fff;
    outline: 3px solid #00205c;
  }
}
