.popup-class {
  mat-dialog-container {
    padding: 16px 0 0 0;
    border-radius: 10px;
    padding-top: 0;
  }
}
.default-card {
  background: #fffefe 0% 0% no-repeat padding-box !important;
  box-shadow: 0px 3px 15px #00000017 !important;
  border-radius: 12px !important;
  opacity: 1 !important;
}
.text-gray {
  color: #00000f;
  opacity: 70%;
  font-family: Poppins;
  font-weight: 600;
}

.default-expansion-panel {
  .mat-expansion-panel-header.mat-expanded {
    font: 16px Poppins;
    color: #004c97;
    font-weight: 500;
    &:hover {
      background: none;
    }
  }

  .mat-expansion-panel {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.0901960784) !important;
    border-radius: 21px !important;
    opacity: 1;
    background: #b4e0ff33 0% 0% no-repeat padding-box !important;
  }

  .mat-expansion-panel-body {
    padding: 0 !important;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 8px solid #f3f3f3;
    border-radius: 21px;
    opacity: 1;
  }

  mat-expansion-panel-header:not(.mat-expanded) {
    margin: 0;
    color: #004c97;
    font-weight: 500;
    font: 16px Poppins;
    height: 50px;
    &:hover {
      background: none;
    }
  }
  .minor {
    padding-bottom: 18px;
  }
}

.text-label {
  color: #102245;
  font-family: "Poppins";
  font-weight: 600;
}

.text-light {
  color: #00000f !important;
  font-family: "Poppins";
  opacity: 70%;
  font-weight: 600;
  margin-bottom: 10px;
}

.sub-heading {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0px;
  color: #102245;
  opacity: 1;
  padding: 14px 5px;
}

.title-text {
  font-family: "Poppins";
  color: #004c97;
  font-weight: 600;
}

.text-highlighted {
  color: #004c97;
  font-family: "Poppins";
}

.text-normal {
  color: #00000f;
  font-family: "Poppins";
}
.standard-padding {
  padding: 1%;
}
.vertical-line {
  height: 90vh;
  border: 1px #00000017 solid;
}
