.accountTitle {
  color: var(--ic-text-theme);
  font-weight: 500;
  text-align: left;

  font-size: 33px;
  line-height: 56px;
  letter-spacing: 0.5px;
  text-align: left;
}

.account-type-header {
  color: var(--ic-text-black);
  font-size: 48px;
  font-weight: 700;
  font-family: var(--ic-primary-font-family);
}

.standard-content-title {
  font-size: 18px;
  margin: 0px;
  color: var(--ic-text-theme, #06113c);
  font-family: var(--ic-primary-font-family);
  text-align: center;
}

.product-desc-container {
  margin-bottom: 60px;
}

.backgroungOverride {
  .mat-dialog-container {
    padding: 0;
  }
}

.scroll-card {
  overflow: auto;
}
