::ng-deep
.search
.mat-form-field-wrapper
.mat-form-field-flex
.mat-form-field-outline
.mat-form-field-outline-start {
  border-radius: 24px !important;
}

::ng-deep .egret-navy .mat-menu-item {
  font-family: 'Benton Sans', sans-serif;
  font-weight: 600;
}

::ng-deep .mat-select-panel .mat-option-text {
  display: inline-block;
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'Benton Sans', sans-serif;
}

::ng-deep .egret-navy .mat-select-value {
  font-family: 'Benton Sans', sans-serif;
}

.filter_form {
  margin-top: 0; // -5px
  padding: 0 0.4%;
}

.empColor {
  color: #b4b4b4;
}

.h-7 {
  height: 30px;
}

.filter_section_container {
  width: 100% !important;
  padding-left: 0px !important;
  // margin-bottom: -18px;
  padding: 8px 0;

  .searchBox {
    border-radius: 12px;
    background: white;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.0901960784);
    z-index: 1;
    width: 98.5%;
    height: 45px;
    min-height: 45px;
    margin-bottom: 0; // 10px

    .searchInput {
      font-size: 17px;
      font-family: 'Benton Sans', sans-serif;
      padding: 0 2% 0 4%;
      text-overflow: ellipsis;
    }

    .searchIcon {
      color: #b0b0b0 !important;
      position: relative;
    }
  }

  .refreshIcon {
    background: #fffefe;
    // box-shadow: $inputBoxShadow;
    border-radius: 8px;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0; //10px
    .autornewIcon {
      color: #0033a1;
      position: relative;
      cursor: pointer;
      display: grid;
      place-items: center;
      height: 24px;
      width: 24px;
    }
  }
}
