$dark_blue: #06113c;
$text_blue: #3c4f9a;
$text_dark_blue: #212353;
$gradient_bg: linear-gradient(90deg, #004aa0 0%, #06113c 100%);

// Shadows
$navbar_shadow: 3px 3px 20px #0000000f;
$footer_shadow: 3px -3px 20px #0000000f;

// Breakpoints
$mobile: 576px;
$tablet: 768px;
$laptop: 1200px;
