.container-card {
  border-radius: 12px;
  padding: 0px;
  overflow: unset;
  .scroll-container {
    width: 100%;
    overflow-x: scroll;
    white-space: nowrap;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .scroll-container::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
  }
  .tab-header {
    height: 71px;
    transition: transform 0.5s ease;
    background-color: var(--current-theme-background-light);
    border-radius: 12px 12px 0px 0px;
    overflow: hidden;
    .tab-buttons {
      flex: 1 1 auto;
      align-content: center;
      text-align: center !important;
      cursor: pointer;
      min-width: 140px;
      // max-width: 30%;
      font: normal normal bold 12px / 14px Raleway;
      color: #00205c;
      margin: 0;
      padding: 0 5px;
    }

    .selected-tab-buttons {
      background: var(--current-theme-background) 0% 0% no-repeat padding-box;
      font: normal normal bold 13px / 15px Raleway;
      color: #fff;
      width: 12%;
      border-radius: 0;
      align-content: center;
      text-align: center;
      cursor: pointer;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        top: 20px;
        left: 0;
        transform: translateX(-50%);
        width: 0;
        height: 0;
        border-top: 13px solid transparent;
        border-left: 20px solid var(--current-theme-background-light);
        border-bottom: 13px solid transparent;
      }
    }
  }
  .arrow-container {
    display: flex;
    align-items: center;
    position: absolute;
    top: 10px;
    background-color: #eaf1ff;
    box-shadow: 0 3px 15px #0000000a;
    .scroll-icon {
      width: 10px;
      height: 25px;
    }
  }

  .arrow-container.left {
    transform: rotate(180deg);
    transition: transform 0.5s ease;
  }
  .arrow-container.right {
    left: 96%;
  }
}
.content-div {
  background: #ffffff 0% 0% no-repeat padding-box;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  opacity: 1;
  position: relative;
  top: -16px;
}
