<mat-label *ngIf="!skipLabel && showOutsideLabel" class="custom-label"
>{{ inputLabel | translate }}
</mat-label>
<mat-form-field
  appearance="outline"
  class="full-width fieldinput {{ customInputHeight }} {{
    customClass
  }} custom-field"
>
  <mat-label *ngIf="!skipLabel && !showOutsideLabel"
  >{{ inputLabel | translate }}
  </mat-label>
  <mat-select
    (focus)="filterFormControl.setValue('')"
    (selectionChange)="selectionChange.emit($event.value)"
    [disabled]="readonly"
    [formControl]="control | formcontrol"
    [multiple]="multiple"
    [placeholder]="inputLabel"
    disableOptionCentering
    panelClass="sticky_panel {{ customDocOptionWidth }}"
  >
    <div class="search_container">
      <mat-form-field
        [floatLabel]="$any('never')"
        appearance="outline"
        class="full-width fieldinput search_field"
        fxFill
      >
        <input
          (keydown.space)="$event.stopPropagation()"
          [formControl]="filterFormControl"
          [placeholder]="searchPlaceholder"
          matInput
          maxlength="30"
        />
        <button
          (click)="filterFormControl.setValue('')"
          aria-label="company"
          class="l-16"
          mat-icon-button
          matSuffix
        >
          <mat-icon *ngIf="filterFormControl.value">clear</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <mat-select-trigger
      (keydown.space)="$event.stopPropagation()"
      *ngIf="displayLabel"
    >
      <span class="example-additional-selection">
        {{ control.value }}
      </span>
    </mat-select-trigger>
    <mat-option *ngIf="!multiple" [value]="null">None</mat-option>
    <mat-option
      *ngFor="let item of items | searchOptions: filterFormControl.value"
      [disabled]="item?.disabled"
      [ngClass]="{ 'hide-checkbox': item?.label === 'No data found' }"
      [ngStyle]="{
        display:
          item?.label !== 'No data found' && item?.disabled ? 'none' : '',
      }"
      [value]="item?.value"
    >
      {{ item?.label }}
      <span *ngIf="displayLabel && item?.label !== 'No data found'">
        ({{ item?.display }})</span
      >
    </mat-option>
  </mat-select>
  <mat-error *ngIf="control?.hasError('required') && control?.touched">
    <!-- Please Select {{ inputLabel }} -->
    {{ inputLabel }} is Required!
  </mat-error>
  <mat-hint *ngIf="duplicateValue" class="text-red-600">
    <small>This Combination is already present</small>
  </mat-hint>
</mat-form-field>
