<mat-card
  class="default-card m-0 mb-12"
  fxLayout="column"
  [formGroup]="_parentForm"
>
  <h3 class="sub-heading mt-16">{{ "Company Information" }}</h3>
  <div class="mb-12" fxFlex fxLayout="column" [formGroup]="corporateCustomer">
    <div fxFlex fxLayout="row wrap">
      <div fxFlex="100" fxFlex.gt-xs="25" class="pr-16">
        <mat-form-field>
          <mat-label>{{ "Company Name" }}</mat-label>
          <input required matInput formControlName="companyName" />

          <mat-error
            *ngIf="
              corporateCustomer.controls['companyName'].hasError('required') &&
              corporateCustomer.controls['companyName'].touched
            "
            class="form-error-msg"
          >
            {{ "Company Name is required" }}
          </mat-error>
        </mat-form-field>
      </div>
      <div fxFlex="100" fxFlex.gt-xs="25" class="pr-16">
        <app-searchable-select
          [items]="genericValue?.COMPANYTYPE"
          bindLabelKey="values"
          bindValueKey="id"
          inputLabel="Company Type"
          [control]="corporateCustomer.controls['companyType']"
        ></app-searchable-select>
      </div>
      <div fxFlex="100" fxFlex.gt-xs="25" class="pr-16">
        <mat-form-field>
          <mat-label>{{ "Number of Director" }}</mat-label>
          <input required matInput formControlName="numberOfDirectors" />

          <mat-error
            *ngIf="
              corporateCustomer.controls['numberOfDirectors'].hasError(
                'required'
              ) && corporateCustomer.controls['numberOfDirectors'].touched
            "
            class="form-error-msg"
          >
            {{ "Number of Director is required" }}
          </mat-error>
        </mat-form-field>
      </div>
      <div fxFlex="100" fxFlex.gt-xs="25" class="pr-16">
        <app-searchable-select
          [items]="genericValue?.SEGMENT"
          inputLabel="Segment"
          bindLabelKey="values"
          bindValueKey="id"
          [control]="corporateCustomer.controls['segment']"
        ></app-searchable-select>
      </div>
    </div>
    <div fxFlex fxLayout="row wrap">
      <div fxFlex="100" fxFlex.gt-xs="25" class="pr-16">
        <mat-form-field>
          <mat-label>{{ "Nature of the Business" }}</mat-label>
          <input matInput formControlName="natureOfBusiness" />
        </mat-form-field>
      </div>

      <div fxFlex="100" fxFlex.gt-xs="25" class="pr-16">
        <app-searchable-select
          [items]="countryList"
          inputLabel="Country of Incorporation"
          bindLabelKey="countryName"
          bindValueKey="countryCode"
          [control]="corporateCustomer.controls['countryOfIncorporationCode']"
        ></app-searchable-select>
      </div>
      <div fxFlex="100" fxFlex.gt-xs="25">
        <mat-form-field appearance="outline">
          <mat-label>{{ "Date of Incorporation" }}</mat-label>
          <input
            matInput
            type="text"
            readonly
            [matDatepicker]="incorporationDate"
            formControlName="dateOfIncorporation"
            required
          />
          <mat-datepicker-toggle matSuffix [for]="incorporationDate">
            <mat-icon matDatepickerToggleIcon>calendar_today</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #incorporationDate></mat-datepicker>
          <mat-error
            *ngIf="
              corporateCustomer.controls['dateOfIncorporation'].hasError(
                'required'
              ) && corporateCustomer.controls['dateOfIncorporation'].touched
            "
            class="form-error-msg"
          >
            {{ "Date of Incorporation is required" }}
          </mat-error>
        </mat-form-field>
      </div>
      <div fxFlex="100" fxFlex.gt-xs="25" class="pr-16">
        <mat-form-field>
          <mat-label>{{ "Registration Number" }}</mat-label>
          <input required matInput formControlName="registrationNumber" />
          <mat-error
            *ngIf="
              corporateCustomer.controls['registrationNumber'].touched &&
              corporateCustomer.controls['registrationNumber'].hasError(
                'required'
              )
            "
            class="form-error-msg"
            required
          >
            {{ "Registration Number is Required" }}
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div fxFlex fxLayout="row wrap">
      <div fxFlex="100" fxFlex.gt-xs="25" class="pr-16">
        <mat-form-field>
          <mat-label>{{ "TIN Number" }}</mat-label>
          <input required matInput formControlName="tinNumber" />

          <mat-error
            *ngIf="
              corporateCustomer.controls['tinNumber'].hasError('required') &&
              corporateCustomer.controls['tinNumber'].touched
            "
            class="form-error-msg"
          >
            {{ "TIN Number is required" }}
          </mat-error>
        </mat-form-field>
      </div>
      <div fxFlex="100" fxFlex.gt-xs="25" class="pr-16">
        <app-searchable-select
          [items]="genericValue?.SOURCEOFINCOME"
          inputLabel="Source of Income"
          bindLabelKey="values"
          bindValueKey="id"
          [control]="corporateCustomer.controls['sourceOfIncome']"
        ></app-searchable-select>
      </div>
      <div fxFlex="100" fxFlex.gt-xs="25" class="pr-16">
        <mat-form-field>
          <mat-label>{{ "Other" }}</mat-label>
          <input matInput formControlName="others" />
        </mat-form-field>
      </div>
      <div fxFlex="100" fxFlex.gt-xs="25" class="pr-16">
        <app-searchable-select
          [items]="genericValue['PARENTCOMPANY']"
          inputLabel="Parent Company"
          bindLabelKey="values"
          bindValueKey="id"
          [control]="corporateCustomer.controls['parentCompanyId']"
        ></app-searchable-select>
      </div>
    </div>
  </div>
  <div class="button-section">
    <button class="confirm-button" (click)="onConfirm()">Confirm</button>
    <button class="back-button">Back</button>
  </div>
</mat-card>
