<div [formGroup]="eStatementForm">
  <h3 class="light-blue-title">E-Statement</h3>
  <mat-card fxLayout="column">
    <div fxLayout="row" fxLayoutGap="10">
      <div fxFlex="25">
        <!-- <app-searchable-select
          [items]="accountNumberList"
          bindValueKey="cardNumber"
          bindLabelKey="cardNumber"
          [control]="eStatementForm.get('accountNumber') | formcontrol"
          (selectionChange)="patchDetails($event)"
        >
        </app-searchable-select> -->
        <ic-select
          [label]="'Card Number' | translate"
          placeholder="Card Number"
          [options]="accountNumberList"
          [bindValueKey]="'cardNumber'"
          [bindLabelKey]="'cardNumber'"
          [control]="eStatementForm.get('accountNumber') | formcontrol"
          (selectionChange)="patchDetails($event)"
        ></ic-select>
      </div>
      <div fxFlex="25">
        <!-- <app-ic-custom-input
          [inputLabel]="'Card Name' | translate"
          [control]="eStatementForm.get('cardName') | formcontrol"
          [readonly]="true"
        ></app-ic-custom-input> -->
        <ic-form-field
          placeholder="Card Name"
          [control]="eStatementForm.get('cardName') | formcontrol"
          [label]="'Card Name' | translate"
          [readonly]="true"
        ></ic-form-field>
      </div>
      <div fxFlex="25">
        <!-- <app-ic-custom-input
          [inputLabel]="'Email' | translate"
          [control]="eStatementForm.get('email') | formcontrol"
        ></app-ic-custom-input> -->
        <ic-form-field
          placeholder="Email"
          [control]="eStatementForm.get('email') | formcontrol"
          [label]="'Email' | translate"
        ></ic-form-field>
      </div>
    </div>
    <div fxLayout="row" fxLayoutGap="10">
      <div fxFlex="25">
        <!-- <app-searchable-select
          [items]="genericValue.SCHEDULEPAYMENT"
          [inputLabel]="'Frequency' | translate"
          bindLabelKey="values"
          bindValueKey="values"
          [control]="eStatementForm.get('frequency') | formcontrol"
        >
        </app-searchable-select> -->
        <ic-select
          [label]="'Frequency' | translate"
          placeholder="Frequency"
          [options]="genericValue.SCHEDULEPAYMENT"
          [bindValueKey]="'values'"
          [bindLabelKey]="'values'"
          [control]="eStatementForm.get('frequency') | formcontrol"
        ></ic-select>
      </div>
      <div fxFlex="25">
        <!-- <app-searchable-select
          [items]="genericValue.DOCUMENTTYPE"
          [inputLabel]="'Format' | translate"
          bindLabelKey="values"
          bindValueKey="values"
          [control]="eStatementForm.get('format') | formcontrol"
        >
        </app-searchable-select> -->
        <ic-select
          [label]="'Format' | translate"
          placeholder="Frequency"
          [options]="genericValue.DOCUMENTTYPE"
          [bindValueKey]="'values'"
          [bindLabelKey]="'values'"
          [control]="eStatementForm.get('format') | formcontrol"
        ></ic-select>
      </div>

      <div fxFlex="50" fxLayoutAlign="end center" fxLayoutGap="10">
        <!-- <app-ic-action-button
          [buttonName]="'Cancel' | translate"
          (click)="close()"
          buttonType="stroked"
        >
        </app-ic-action-button>
        <app-ic-action-button
          [buttonName]="'Subscription' | translate"
          (click)="proceed()"
          buttonType="filled"
          [disabled]="eStatementForm.invalid"
        >
        </app-ic-action-button> -->
        <ic-button
          [label]="'Cancel' | translate"
          (click)="close()"
          icButtonType="outlined"
          type="submit"
          size="large"
        ></ic-button>
        <ic-button
          [label]="'Subscribe' | translate"
          (click)="proceed()"
          icButtonType="filled"
          type="submit"
          size="large"
        ></ic-button>
      </div>
    </div>
  </mat-card>
</div>
