<div class="scrollStep {{ customClass }}" fxFlex="100" fxLayout="column">
  <div class="scrollStep__prodInfo" fxLayout="row">
    <div>
      <div class="deposit_icon">
        <img
          alt="Bank Sign"
          src="assets/images/bank-profile-logo.svg"
          width="65%"
        />
      </div>
      <span class="vertical_line"></span>
    </div>
    <div fxLayout="column" style="padding-left: 33px">
      <div class="stepper-title">Get Your</div>
      <div class="screen-title">
        {{ screenTitle }}
      </div>
      <div class="stepper-title">in {{ screenList?.length }} simple steps</div>
      <div class="fd_info_stat" fxLayout="row" fxLayoutGap="10">
        <img alt="img" src="assets/images/Group.svg" />
        <div class="steps-average-text">
          On an average, People get their savings account in 15 - 20 min
        </div>
      </div>
    </div>
  </div>
  <mat-stepper
    #stepper
    (selectionChange)="stepperSelectionChange($event)"
    [linear]="isLinear"
    [selectedIndex]="screenIndex"
    class="custom_steppper"
    class="mt-32"
    data-aos="fade-down"
    data-aos-delay="200"
    data-aos-duration="500"
    orientation="vertical"
  >
    <ng-container *ngFor="let item of screenList; let i = index">
      <mat-step
        [completed]="item.completed"
        [editable]="item.isEditable"
        [label]="item.screenName"
      ></mat-step>
    </ng-container>
  </mat-stepper>
</div>
