<div fxLayout="row" fxLayoutGap="10px" class="internal-scroll">
  <div *ngFor="let value of items">
    <mat-card
      [ngClass]="value?.bankType == 'Same' ? 'other-bank' : 'same-bank'"
      (click)="redirectTo(value)"
    >
      <div fxFlex="29">
        <div class="profile-card" fxLayoutAlign="center center">
          {{ getData(value[profileName]) }}
        </div>
      </div>
      <div fxFlex="69" fxLayout="column" class="margin-class">
        <span class="name-title">{{ value.payeeName }}</span>
        <span class="account-title">{{ value.accountNo }}</span>
      </div>
    </mat-card>
  </div>
</div>
