<div fxLayout="column">
  <div class="loan-account-type">
    <div
      class="product-desc-container"
      fxLayout="column"
      fxLayoutAlign="center center"
    >
      <div class="account-type-header mb-10">{{ basisClass }}</div>
      <div class="standard-content-title">
        This is a process, how you can get loan for your self.
      </div>
    </div>
    <app-loan-products
      (customApply)="customApply($event)"
      [subLoanList]="subLoanList"
    >
    </app-loan-products>
    <ic-button
      label="Cooperate Account"
      type="button"
      (OnClick)="goToLogin('Cooperate Account')"
    ></ic-button>
  </div>

  <div *ngIf="isShowCalculator" fxLayout="column" id="loanCalculator">
    <div fxLayout="column" fxLayoutAlign="center center">
      <div class="account-type-header">{{ basisClass }} EMI Calculator</div>
      <div class="standard-content-title mb-30">
        Maximize Your Savings with Fixed Deposit: Earn Guaranteed Returns on
        Your Investment.
      </div>
    </div>
    <div style="margin: 35px">
      <app-common-emi-calculator
        (customCalculatorValues)="customCalculatorValues($event)"
        [calculatorInfo]="calculatorInfo"
      ></app-common-emi-calculator>
    </div>
  </div>
  <div>
    <app-faq></app-faq>
  </div>
</div>
