<section
  [ngClass]="instantPay ? 'addPayee_container bg-payee' : 'addPayee_container'"
>
  <div class="addPayee_title" fxLayout="row" fxLayoutAlign="space-between">
    <h2 [ngClass]="!instantPay ? 'heading-allPayee' : ''">
      {{ (instantPay ? "Instant Pay" : "All Payee") | translate }}
    </h2>
    <mat-card
      class="extend-card"
      fxLayoutAlign="center center"
      *ngIf="!instantPay"
    >
      <button mat-icon-button>
        <mat-icon
          class="extend-icon current_theme_filter"
          svgIcon="extend-icon"
          (click)="openAllPayee()"
        ></mat-icon></button
    ></mat-card>
  </div>
  <mat-divider></mat-divider>
  <div class="addPayee_body">
    <div class="mt-8" *ngIf="instantPay && !accountBlock">
      <app-searchable-select
        [inputLabel]="'Pay From' | translate"
        [items]="accountNumberList"
        bindValueKey="accountNo"
        bindLabelKey="accountNo"
        [currencyCode]="'INR'"
        [control]="payeeForm.get('accountNumber') | formcontrol"
        (selectionChange)="getCurrencySymbol($event)"
      >
      </app-searchable-select>
    </div>
    <div fxFLex="100" fxLayout="row wrap" fxLayoutAlign="start start">
      <div
        fxFlex="25"
        fxLayout="column"
        fxLayoutAlign="start center"
        class="addPayee_box"
        *ngFor="let payee of payeeDetails?.slice(0, 4)"
        (click)="onPayeeSelect(payee)"
        [ngClass]="{
          selectedPayee:
            selectedPayee?.retailBeneficiaryId == payee?.retailBeneficiaryId
        }"
      >
        <ng-container *ngIf="payee?.profileUrl; else showNameImg">
          <div class="createdByImg">
            <img [src]="payee?.profileUrl" alt="" height="100%" width="100%" />
          </div>
        </ng-container>
        <ng-template #showNameImg>
          <div class="createdByImg shortName-tag">
            {{ payee?.payeeName?.substring(0, 2)?.toUpperCase() }}
          </div>
        </ng-template>

        <span class="addPayee_nickname text-center text-small mt-4">{{
          payee?.nickName | titlecase
        }}</span>
      </div>
      <div fxFlexFill></div>
    </div>

    <div class="mt-16" *ngIf="instantPay && !accountBlock">
      <app-searchable-select
        [inputLabel]="'Pay To' | translate"
        [items]="payeeDetails"
        bindLabelKey="payeeName"
        bindValueKey="accountNo"
        displayLabel="accountNo"
        [currencyCode]="selectedPayee?.accountCurrecny"
        [control]="payeeForm.get('benificiaryAccountNo') | formcontrol"
      >
      </app-searchable-select>
    </div>
    <div class="mt-16" *ngIf="instantPay && accountBlock">
      <app-searchable-select
        [inputLabel]="'Account No' | translate"
        [items]="payeeDetails"
        bindLabelKey="payeeName"
        bindValueKey="accountNo"
        displayLabel="accountNo"
        [currencyCode]="selectedPayee?.accountCurrecny"
        [control]="payeeForm.get('benificiaryAccountNo') | formcontrol"
      >
      </app-searchable-select>
    </div>

    <form
      [formGroup]="payeeForm"
      fxLayout="column"
      *ngIf="payeeForm && instantPay"
    >
      <div fxFlex="100" fxLayout="column">
        <div class="inputField_wrapper" fxFlex="100" fxLayout="row">
          <mat-form-field class="full-width payee_border_highlight">
            <div class="icon_input_wrapper">
              <span class="currency_tag">{{ currencySymbol }}</span>

              <input matInput type="text" formControlName="amount" />
            </div>
          </mat-form-field>
          <div class="next_go" (click)="doPay()">
            <mat-icon>arrow_forward</mat-icon>
          </div>
        </div>
        <mat-error
          *ngIf="
            payeeForm.get('amount')?.touched &&
            payeeForm.get('amount')?.hasError('notEnoughAmount')
          "
        >
          {{ "No enough balance to transfer" }}
        </mat-error>
      </div>
    </form>
  </div>
</section>
