.calculator_container {
  padding: 2%;
  border-radius: 16px;
  max-width: 99% !important;
  border: 3px solid #fff;
  box-shadow: 0px 6.1189799309px 30.5949001312px 0px rgba(0, 0, 0, 0.0509803922);
}

.calc-blue-bg {
  background-image: url("/assets/images/Mask Group.svg") !important; /* Only the image part */
  background-color: #f6faff; /* Make sure this is specified again */
  background-position-y: bottom !important;
  background-repeat: no-repeat !important;
}
.example-margin1 {
  margin-right: 10%;
  padding: 2%;
}
::ng-deep .inputSelect.mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0px;
  margin-top: -4px !important;
}

::ng-deep
  .inputSelect.mat-form-field-appearance-outline
  .mat-form-field-outline {
  color: white !important;
}
.inputSelect {
  width: 33% !important;
  // height: 22px;
  background: #fffefe 0% 0% no-repeat padding-box;
  border-radius: 8px;
  opacity: 1;
  margin-top: 0px;
  display: flow-root;
}
.vl {
  border-left: 1px solid #00000030;
}
.calculator_subTItle {
  color: #004c97;
  font-size: 18px;
  font-weight: 600;
  font-family: "Poppins";
}

.category {
  display: flex;
}
.value_check {
  margin-right: 30px;
  margin-left: 10px;
}
.rdfdform {
  border-radius: 16px;
}
.fd_container {
  box-shadow: 0px 6.1189799309px 30.5949001312px 0px rgba(0, 0, 0, 0.0509803922);
  border-radius: 20px;
  min-height: 80%;
  padding: 15px;
  .maturityTitle {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 500;
  }
  .maturityDesc {
    font-family: "Poppins", sans-serif;
    font-size: 33px;
    font-weight: 600;
    color: #004c97;
  }
  .maturityLabel {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
  }
  .maturityVal {
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: #004c97;
  }
}
.calc-white-bg {
  background-image: url("/assets/images/card-doddle.svg") !important;
  background-color: #ffffff;
  background-position-x: right;
  background-position-y: top !important;
  background-repeat: no-repeat !important;
}
.alignCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #00000030;
}
.alignLeft {
  align-items: inherit !important;
  padding-left: 5%;
}
.designImg {
  position: absolute;
  width: 180px;
  left: -30px;
  top: 250px;
}
// .designImg-1 {
//   position: absolute;
//   margin-top: -13%;
//   margin-left: 18%;
//   transform: rotate(90deg);
// }
// .designImg-2 {
//   position: absolute;
//   margin-top: 24.5%;
//   margin-left: -2%;
//   transform: rotate(270deg);
// }

.sub-child {
  color: #a5a5a5;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.openFDbtn {
  width: 200px;
  height: 50px;
  border-radius: 40px !important;
  border: none;
  outline: none;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.4px;
  color: #fff;
  background: linear-gradient(90deg, #004aa0 0%, #06113c 100%);
  margin: 10px 0%;
}
.icon {
  color: #838383;
}

::ng-deep .mat-slider-thumb {
  background: unset !important;
  background-image: url("/assets/images/Ellipse_169.svg") !important;
  background-repeat: no-repeat !important;
  width: 25px !important;
  height: 26px !important;
  bottom: -13px !important;
  right: -10px !important;
}
::ng-deep .mat-slider-thumb {
  transform: scale(1) !important;
}
::ng-deep .mat-slider-thumb-label {
  transform: rotate(45deg) !important;
  background-color: unset !important;
  width: fit-content !important;
}
::ng-deep .mat-slider-thumb-label-text {
  opacity: 1 !important;
}
::ng-deep .mat-slider-track-background {
  height: 8px !important;
}
::ng-deep .mat-slider-track-wrapper {
  height: 8px !important;
  border-radius: 10px !important;
  box-shadow: 0px 3px 6px 0px #0000001f;
  .mat-slider-track-background {
    background-color: #fff !important;
  }
}

::ng-deep .mat-slider-track-fill {
  height: 8px !important;
  background: linear-gradient(
    270deg,
    #051a2d -11.9%,
    #014589 28.35%,
    #01478e 68.71%,
    #004c97 96.3%
  ) !important;
}

:ng-deep .mat-slider-thumb {
  width: 30px !important;
  height: 30px !important;
  background-color: #3498db !important;
  border-radius: 50% !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  position: relative !important;
}
.parentYearDiv {
  margin-top: -10px;
}
:host ::ng-deep .parentYearDiv--child.mat-form-field-appearance-outline {
  & .mat-form-field-outline.mat-form-field-outline-thick {
    box-shadow: none !important;
  }
  .mat-form-field-infix {
    padding: 8px 0px 8px 0px !important;
  }
}
:host ::ng-deep .deposit--ammount--field {
  & .mat-form-field-wrapper {
    padding-bottom: 10px !important;
  }
}
fieldset {
  legend {
    color: rgb(132 141 159);
    font-family: Poppins;
    font-size: 75%;
    line-height: normal;
    float: none;
    margin-left: 13px;
    opacity: 0.8;
  }
  padding: 5px;
  border-radius: 8px;
  height: 62px;
  background: #fff;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.0901960784);
  .mat-form-field {
    padding: 10px 0;
    border-radius: 11px;
  }

  input {
    padding: 5px 5px;
  }
}

.custom-error {
  font-size: 13px;
  margin-top: -20px;
}
.suffixLabel {
  position: relative;
  font-size: 16px;
  color: #b4b4b4;
}
.vertical-seperator {
  border-left: #e0e0e0 2px solid;
  margin-top: -2px;
  border-radius: 5px;
}
.tenure_input {
  position: relative;
  top: -5px !important;
  text-align: right;
  text-overflow: ellipsis;
}
