<div>
  <form [formGroup]="verifyNumFirm" fxLayout="column">
    <div class="verifyInfo">
      Let’s begin with some necessary information and get you started
    </div>
    <div class="enter_mobile">Enter Mobile Number for Instant Login</div>
    <div class="row">
      <div class="col-12">
        <div
          fxLayoutAlign="center center"
          fxFlex="100"
          fxLayoutGap="space-around"
          class="searchBox"
        >
          <div class="numberCode" matPrefix>
            <mat-select class="numberCode_select">
              <mat-option [value]="">Select</mat-option>
              <mat-option class="numberCode_option" value="+91">+91</mat-option>
            </mat-select>
          </div>
          <div class="vertical-separator"></div>
          <div fxFlex="92" class="" class="searchInput">
            <mat-form-field class="full-width mobile_field">
              <input
                matInput
                numbersOnly
                maxlength="10"
                minlength="10"
                name="verifyMobile"
                formControlName="verifyMobile"
              />
            </mat-form-field>
          </div>
          <button
            (click)="getOtp()"
            type="button"
            mat-raised-button
            [disabled]="!verifyNumFirm.get('verifyMobile')?.valid"
            matSuffix
            class="getOtp"
          >
            Get Otp
          </button>
        </div>
      </div>
      <div
        class="errorTxt col-12"
        *ngIf="
          !verifyNumFirm.get('verifyMobile')?.valid &&
          verifyNumFirm.get('verifyMobile')?.touched
        "
      >
        Mobile Number is Required!
      </div>
    </div>
    <div class="enter_otp">Enter Otp to verify</div>
    <div>
      <div class="otp_field" *ngIf="isShowOtp">
        <ng-otp-input [config]="config" (onInputChange)="onOtpChange($event)">
        </ng-otp-input>
      </div>

      <div class="btnGroup" *ngIf="isShowOtp">
        <span class="timer" fxLayout="row">
          <div class="Btn" id="ResendBtn">
            <button
              [disabled]="display != '00:00'"
              type="button"
              class="resnd_otp"
              (click)="timer(1)"
              [ngClass]="{ 'gray-button': display != '00:00' }"
            >
              Resend
            </button>
            {{ display }}
          </div>

          <span id="counter"></span>
        </span>
      </div>
      <div style="margin-top: 27px; width: 100%" class="col-12">
        <mat-checkbox (change)="isChecked = !isChecked"></mat-checkbox
        ><span
          style="
            height: 40px;
            top: 584px;
            padding-left: 10px;
            left: 789.798828125px;
          "
          >I authorize DemoBank and it’s representatives to email, call or SMS
          me. This Consent will override any registration from DNC/NDNC</span
        >
      </div>

      <div fxLayout="row" class="btn_grp">
        <div>
          <button
            type="button"
            mat-raised-button
            [disabled]="!isChecked || !yourOtp"
            class="saveButton"
            matSuffix
            (click)="verify()"
          >
            Verify
          </button>
        </div>
        &nbsp;&nbsp;
        <div>
          <button
            type="button"
            mat-raised-button
            class="backButton"
            (click)="goBack()"
          >
            Back
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
