<div *ngIf="pincodeForm" class="search_pincode_container">
  <div class="w-100" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="sub-head">
      <h2>Search</h2>
    </div>
    <div>
      <mat-icon (click)="close()">close</mat-icon>
    </div>
  </div>

  <form [formGroup]="pincodeForm">
    <div class="w-100" fxLayout="row" fxLayoutAlign="space-between center">
      <div fxFlex="24.5">
        <ic-select
          (selectionChange)="fetchStateByCountry($event)"
          [control]="pincodeForm.get('countryId') | formcontrol"
          [options]="countries"
          bindLabelKey="countryName"
          bindValueKey="countryId"
          fxFlex="100"
          label="Country"
        ></ic-select>
      </div>

      <div fxFlex="24.5">
        <ic-form-field
          [control]="pincodeForm.get('pincode') | formcontrol"
          [icNumbersOnly]="true"
          [maxLength]="10"
          fxFlex="100"
          label="Pincode"
          suffixIcon="search"
        ></ic-form-field>
      </div>

      <div fxFlex="24.5">
        <ic-select
          (selectionChange)="fetchCityByState($event)"
          [control]="pincodeForm.get('stateId') | formcontrol"
          [options]="states"
          bindLabelKey="stateName"
          bindValueKey="stateId"
          fxFlex="100"
          label="State"
        ></ic-select>
      </div>

      <div fxFlex="24.5">
        <ic-select
          (selectionChange)="populateStateCountryByCity($event)"
          [control]="pincodeForm.get('cityId') | formcontrol"
          [options]="cities"
          bindLabelKey="cityName"
          bindValueKey="cityId"
          fxFlex="100"
          label="City"
        ></ic-select>
      </div>
    </div>

    <div class="d-flex justify-content-between align-items-center">
      <div class="search" fxLayout="row">
        <span *ngIf="dataSource">Search Results</span>
      </div>
      <div></div>
      <button
        (click)="fetchResultArray()"
        class="submit-button"
        mat-raised-button
      >
        Fetch
      </button>
    </div>

    <ng-container *ngIf="dataSource">
      <!-- <div fxLayout="row" class="search">
        <span>{{ "Search Results" | translate }}</span>
      </div> -->
      <div class="table_container">
        <mat-table
          [dataSource]="
            dataSource?.data?.length > 0 && dataSource?.filteredData?.length > 0
              ? dataSource
              : emptyData
          "
          class="mat-elevation-z8 data_table pincode_table"
          matSort
          matSortDisableClear="true"
          matSortDisabled="true"
        >
          <ng-container
            *ngFor="let column of columns; let i = index"
            [matColumnDef]="column?.columnDef"
          >
            <mat-header-cell *matHeaderCellDef mat-sort-header
            ><b>{{ column.header }}</b>
              <div class="arrow-wrapper" fxLayout="column">
                <!-- <div
                  [ngClass]="{
                    'higlightSort upArrow':
                      sortValue === column?.columnDef && orderBy === 'asc',
                    upArrow: !(
                      sortValue === column?.columnDef && orderBy === 'asc'
                    )
                  }"
                ></div>
                <div
                  [ngClass]="
                    sortValue == column?.columnDef && orderBy == 'desc'
                      ? 'higlightSort customIcon'
                      : 'customIcon'
                  "
                ></div> -->
              </div>
            </mat-header-cell>
            <mat-cell
              (click)="i === 0 && populateItem(row)"
              *matCellDef="let row"
            >
              <div [ngClass]="i === 0 ? 'higlightColumn' : 'tableCell'">
                <span>
                  {{
                    column?.cell(row) === 'null' ||
                    column?.cell(row) === 'undefined'
                      ? ''
                      : column?.cell(row)
                  }}
                </span>
              </div>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="empty-row">
            <mat-cell *matCellDef="let element" class="no_data"
            >No Data Found
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row
            *matRowDef="
              let row;
              columns: dataSource?.data?.length > 0 &&
              dataSource?.filteredData?.length > 0
                ? displayedColumns
                : ['empty-row']
            "
          ></mat-row>
        </mat-table>
      </div>
      <app-custom-pagination
        (customPageEvent)="handlePageEvent($event)"
        [filterValue]="filterValue"
        [total]="totalLength"
      >
      </app-custom-pagination>
    </ng-container>
  </form>
</div>
