<div>
    <mat-expansion-panel class="custom-expansion-panel">
        <mat-expansion-panel-header>
          <mat-panel-description class="cardHeading">
           REMITTER DETAILS
                  </mat-panel-description>
        </mat-expansion-panel-header>
        <div fxLayout="column" fxLayoutAlign="space-between">
          <div fxFlex="30" fxLayout="row" fxLayoutAlign="space-between">
                <div fxLayout="column">
                  <div  class="headerFont">Beneficiary Name</div>
                    <div class="bodyFont">Gayathri</div>
                </div>
                <div fxLayout="column">
                    <div  class="headerFont"> Address Line 1</div>
                    <div class="bodyFont">23,xzcvdhdghdhd,sfvdbdbxvbx</div>
                </div>
                <div fxLayout="column">
                    <div  class="headerFont"> Address Line 2</div>
                    <div class="bodyFont">zxczxyuchj,nvghfytgjh</div>
                </div>
              
          </div>
          <mat-divider style="margin-top: 30px;"></mat-divider>
          <div fxLayout="row" fxLayoutAlign="space-between" style="margin-top: 20px;">
            <div  fxLayout="column">
                <div  class="headerFont">Country</div>
                <div class="bodyFont">India</div>
            </div>
            <div  fxLayout="column">
                
                <div  class="headerFont">Zipcode</div>
                <div class="bodyFont">560043</div>
            </div>
            <div  fxLayout="column">
              
              <div  class="headerFont"> State</div>
              <div class="bodyFont">Karnataka</div>
            </div>
            <div  fxLayout="column">
            
            <div  class="headerFont">City</div>
            <div class="bodyFont">Bangalore</div>
            </div>
            <div  fxLayout="column">
              
               <div  class="headerFont">Client Reference</div>
               <div class="bodyFont">656776576567</div>
            </div>
          </div>
          <mat-divider style="margin-top: 30px;"></mat-divider>
          <div fxLayout="row" fxLayoutAlign="space-between" style="margin-top: 20px;">
            <div  fxLayout="column">
                <div  class="headerFont">Value Date</div>
                <div class="bodyFont">03-05-2024</div>
            </div>
            <div  fxLayout="column">
                
                <div  class="headerFont">Remittance Mode</div>
                <div class="bodyFont">India</div>
            </div>
            <div  fxLayout="column">
              
              <div  class="headerFont">Remittance Country</div>
              <div class="bodyFont">India</div>
            </div>
            <div  fxLayout="column">
            
            <div  class="headerFont">Remittance Amount</div>
            <div class="bodyFont">DemoBank</div>
            </div>
            <div  fxLayout="column">
              
               <div  class="headerFont">Converstation Type</div>
               <div class="bodyFont">DemoBank</div>
            </div>
          </div>
        </div>
   
      </mat-expansion-panel>
      <mat-expansion-panel class="custom-expansion-panel" style="margin-top: 10px;">
        <mat-expansion-panel-header>
          <mat-panel-description class="cardHeading">
            INTERMEDIARY BANK DETAILS
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div fxLayout="column" fxLayoutAlign="space-around">
          <div fxLayout="row" fxLayoutAlign="space-between">
                <div fxLayout="column">
                  <div class="headerFont">Coresspondent/ Intermediary Bank</div>
                    <div class="bodyFont">Gayathri</div>
                </div>
                <div fxLayout="column">
                    <div  class="headerFont">Branch</div>
                    <div class="bodyFont">34,cvttru,vdbdghdghdh</div>
                </div>
                <div fxLayout="column">
                    <div  class="headerFont"> Address Line 1</div>
                    <div class="bodyFont">zcvfgfsdg,sfvxbbx</div>
                </div>
              
          </div>
          <mat-divider style="margin-top: 30px;"></mat-divider>
          <div fxLayout="row" fxLayoutAlign="space-between" style="margin-top: 20px;">
            <div  fxLayout="column">
                <div  class="headerFont">Address Line 2</div>
                <div class="bodyFont">India</div>
            </div>
            <div  fxLayout="column">
                <div  class="headerFont">Country</div>
                <div class="bodyFont">India</div>
            </div>
            <div  fxLayout="column">
              
              <div  class="headerFont"> State</div>
              <div class="bodyFont">Karnataka</div>
            </div>
            <div  fxLayout="column">
            
            <div  class="headerFont">City</div>
            <div class="bodyFont">Bangalore</div>
            </div>
            <div  fxLayout="column">
              
               <div  class="headerFont"> Swift Code</div>
               <div class="bodyFont">4564747674</div>
            </div>
          </div>
        
        </div>
   
      </mat-expansion-panel>
</div>