<div class="column-2">
  <div class="title-text">
    CIBIL will use this information to get your score
  </div>
  &nbsp;
  <app-cibil-score-result
    (backEvent)="onBackCIBILScoreResult()"
    (onCibilConfirmEvent)="onConfirmFromCibilScoreResult()"
    *ngIf="showCibilScoreResult"
  ></app-cibil-score-result>

  <div *ngIf="!showCibilScoreResult">
    <div *ngIf="!isDifferentMobile">
      <div class="mobile-selection-tpl">
        <div class="sheild-icon" fxLayoutAlign="center center">
          <img alt="shield" src="../../../../../../assets/images/shield.png" />
        </div>
        <div class="card-details">
          <p>Your Phone No</p>
          <span class="text-info-1">{{ createLoanAccountNumber }}</span>
        </div>
        <div class="vertical-line"></div>
        <div class="card-details">
          <p>Your National ID</p>
          <span class="text-info-1"></span>
        </div>
      </div>
      <div>
        <app-common-mobile-verification
          (CustomSubmit)="onConfirmFromCibilScoreResult()"
          (enteredOTP)="checkCobilConfim($event)"
          [agree]="agreed"
          [hideInfo]="hideInfo"
          [invalidOtp]="invalidOtp"
          [showOtpSection]="showOtpSection"
          verificationName="National Id"
        ></app-common-mobile-verification>
      </div>
      <div fxLayout="row" fxLayoutGap="10">
        <ic-checkbox
          (checkboxChange)="agreed = !agreed"
          [checked]="agreed"
          class="custom-checkbox"
          class="primary"
          style="margin-right: 10px"
        >
        </ic-checkbox>
        <span class="standard-font-gray mb-4">
          I agree to the use of my National ID for the Bank's
          <span
            (click)="openDialog()"
            (keydown.enter)="openDialog()"
            class="link"
            tabindex="1"
            >internal purposes</span
          >
          as described above.
        </span>
      </div>
      <div class="button-section" fxLayout="row" fxLayoutGap="2%">
        <ic-button
          (OnClick)="onContinue()"
          [disabled]="!(agreed && otp)"
          [icButtonType]="'filled-rounded'"
          [label]="'Continue' | translate"
          [type]="'submit'"
          size="large"
        >
        </ic-button>

        <ic-button
          (OnClick)="onBack()"
          [label]="'Back'"
          icButtonType="ghost-rounded-danger"
          size="large"
        >
        </ic-button>
      </div>
    </div>
  </div>
</div>

<ng-template #consentDialog>
  <div class="popup-container">
    <div fxLayoutAlign="end center">
      <ic-button
        customButtonClass="box-shadow-none"
        icButtonType="icon"
        icIcon="close"
        mat-dialog-close
        type="button"
      ></ic-button>
    </div>
    <h2 class="popup-title">Consent Content</h2>
    <p>
      <span class="popup-title">Note:</span> By checking this box, I hereby
      consent to the use of my National ID number by [Bank Name] for internal
      purposes, including but not limited to identity verification, account
      management, and compliance with regulatory requirements. I understand that
      my National ID will be used solely for these purposes and will be handled
      in accordance with the Bank’s privacy policy and relevant data protection
      laws in ----.
    </p>
  </div>
</ng-template>
