label {
  color: #b4b4b4;
  font-family: Benton Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.mobile-selection-tpl {
  background: #f6faff;
  display: flex;
  flex-direction: row;
  width: 100%;
  border-radius: 10px;

  .card-details {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 20px;
  }
}

.sheild-icon {
  display: flex;
  flex-direction: column;
  width: 10%;
  padding: 20px;

  img {
    width: 56px;
    height: 56px;
  }
}

.text-info-1 {
  display: block;
  color: #0033a1;
  font-family: Benton Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.vertical-line {
  height: 90px;
  width: 2px;
  border-right: 2px solid #bac0d7;
}

.full-width {
  width: 100%;
}

mat-radio-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 48%;
  margin-top: 12px;
  margin-bottom: 16px;
}
