.send-money-container {
  border-radius: 12px;
  padding: 0px;
  overflow: unset;
}

.tabs {
  border-radius: 12px;
  padding: 0px;
  overflow: unset;
}

.tab-header {
  height: 71px;
  transition: transform 0.5s ease;
  background: var(--current-theme-background-light);
  border-radius: 12px 12px 0px 0px;
  overflow: hidden;
}

.tab-screens-container {
  padding: 15px;
}

.tab-content {
  align-items: center !important;
}

.tab-buttons {
  font: normal normal bold 12px / 14px Raleway;
  align-content: center;
  cursor: pointer;
  width: -webkit-fill-available;
  text-align: center !important;
}

.selected-tab-buttons {
  // background: #00205c 0% 0% no-repeat padding-box;
  background: var(--current-theme-background) 0% 0% no-repeat padding-box;
  font: normal normal bold 13px / 15px Raleway;
  color: #fff;
  width: 12%;
  border-radius: 0;
  align-content: center;
  text-align: center;
  cursor: pointer;
  width: -webkit-fill-available;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 20px;
    left: 0;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-left: 20px solid var(--current-theme-background-light);
    border-bottom: 13px solid transparent;
  }
}
.arrow-container {
  display: flex;
  align-items: center;
}
.scroll-icon {
  width: 10px;
  height: 25px;
}
.rotate:last-child {
  transform: rotate(180deg);
  transition: transform 0.5s ease;
}

.summary-container {
  padding: 20px;
}

.summary-row {
  height: 580px;
}

.otp-blk {
  margin: 0px;
  padding: 0px;
  border-radius: 15px;
  margin-top: 14px;
}
