<div
  fxLayout="row"
  fxLayout.lt-md="column"
  fxLayoutGap="8px"
  class="send-money-container"
  fxFlex="100"
>
  <div fxLayout="column" fxFlex="75" fxFlex.lt-md="100">
    <div fxLayout="column" fxLayoutGap="1px">
      <mat-card fxLayout="column" class="tabs">
        <div fxLayout="row" fxLayoutAlign="space-between" class="tab-header">
          <div
            [ngClass]="
              selected === item.screenName
                ? 'selected-tab-buttons'
                : 'tab-buttons'
            "
            *ngFor="let item of tabScreens; let i = index"
            (click)="changeTabs(i)"
            (keydown.enter)="changeTabs(i)"
            tabindex="0"
          >
            <div
              class="tab-content"
              fxLayoutGap="5%"
              fxLayoutAlign="space-around"
              fxLayout="column"
            >
              <button mat-icon-button>
                <img
                  [src]="
                    selected === item.screenName ? item.selectedSrc : item.src
                  "
                  class="current_theme_filter"
                  alt="current-theme-filter"
                />
              </button>
              {{ item.screenName | translate }}
            </div>
          </div>
        </div>
        <div class="tab-screens-container">
          <router-outlet></router-outlet>
        </div>
      </mat-card>
    </div>
    <app-recent-transaction
      [recentTransTabs]="recentTransTabs"
      [recentTransCols]="recentTransCols"
      [recentTransData]="recentTransData"
      [customerInfo]="customerInfo"
      [selectedAcc]="selectedAccount"
      [showMoneyStatusIcon]="showMoneyStatusIcon"
      (tabChanged)="recentTransTabChange($event)"
    ></app-recent-transaction>
  </div>
  <div fxLayout="column" fxFlex="25" fxFlex.lt-md="100" fxLayoutGap="8px">
    <!-- <app-link-payee-side-bar></app-link-payee-side-bar> -->
  </div>
</div>
