<div
  *ngIf="requestCertificateForm"
  [formGroup]="requestCertificateForm"
  fxLayout="column"
  fxLayoutGap="16px"
>
  <h3>Request Certificate</h3>
  <mat-card>
    <div fxLayout="column" fxLayoutGap="16px">
      <div>
        <h3>{{ "Request For" | translate }}</h3>
      </div>
      <div class="w-100" fxLayout="row">
        <mat-radio-group
          aria-label="Select an option"
          formControlName="requestOption"
        >
          <ng-container *ngFor="let option of requestOptions; let i = index">
            <mat-radio-button
              [value]="option"
              class="radioChecked radiobtn text-gray px-16"
              >{{ option | translate }}</mat-radio-button
            >
          </ng-container>
        </mat-radio-group>
      </div>
    </div>
    <div fxLayoutAlign="center center">
      <app-searchable-select
        fxFlex="24"
        [control]="requestCertificateForm.get('debitAccount')"
        [items]="loanDetails"
        [inputLabel]="'Loan Account No' | translate"
        bindValueKey="cbsAccountNumber"
        bindLabelKey="cbsAccountNumber"
        [showOutsideLabel]="true"
      >
      </app-searchable-select>
      <span fxFlex></span>
      <app-ic-action-button
        [buttonName]="'Fetch' | translate"
        buttonType="filled"
        [disabled]="requestCertificateForm.invalid"
        (click)="onClick()"
      ></app-ic-action-button>
    </div>
    <div>
      <h2 *ngIf="fetchStatement" class="requestCertificateHead">
        {{ "View Request Certificate" | translate }}
      </h2>
    </div>
    <table class="fetch-table" *ngIf="fetchStatement">
      <thead>
        <tr class="statementHead">
          <th *ngFor="let head of requestCertificateheadings">
            {{ head | translate }}
          </th>
        </tr>
      </thead>
      <tbody>
        <ng-container>
          <tr>
            <td>{{ requestCertificateForm?.value?.debitAccount }}</td>
            <td>{{ installmentDetails?.loanType }}</td>
            <td>{{ requestCertificateForm?.value?.requestOption }}</td>
            <td class="actionBtn" fxLayoutGap="16px">
              <app-ic-action-button
                [buttonName]="'share' | translate"
                buttonType="stroked"
                class="actionBtn"
                (onClick)="
                  downloadCertificate(
                    requestCertificateForm?.value?.requestOption,
                    'share'
                  )
                "
              ></app-ic-action-button>
              <app-ic-action-button
                [buttonName]="'Download' | translate"
                buttonType="filled"
                class="actionBtn"
                (onClick)="
                  downloadCertificate(
                    requestCertificateForm?.value?.requestOption,
                    'download'
                  )
                "
              ></app-ic-action-button>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </mat-card>
</div>
