<div fxLayout="column">
  <!-- Product Details and Status -->
  <div class="mb-24" fxLayout="row" fxLayoutGap="1%">
    <!-- Product Information -->
    <div class="productName_container" fxFlex="24">
      <div class="txt_md_white">Product</div>
      <div class="txt_lg_white">{{ productType }}</div>
    </div>

    <!-- Status Panels -->
    <div
      *ngFor="let item of statusItems"
      class="status_container"
      fxFlex="24"
      fxLayout="column"
      fxLayoutAlign="center start"
    >
      <div fxLayout="column">
        <div class="level_title">
          <span *ngIf="item.value === 100"
          ><img
            alt="Done"
            src="../../../../../../../assets/images/done_icon.svg"
          /></span>
          {{ item.title }}
        </div>
      </div>
      <mat-progress-bar
        [ngClass]="{
          green_progress: item.value === 100,
          red_progress: item.status === 'REJECT' || item.status === 'EXPIRED',
          orange_progress: item.status === 'ONGOING',
          purple_progress: item.status === 'PENDING',
        }"
        [value]="item.value"
        mode="determinate"
      ></mat-progress-bar>
    </div>
  </div>
  <!-- Application Status Panel -->
  <mat-accordion class="custom_action_expansion">
    <mat-expansion-panel class="detail_container">
      <mat-expansion-panel-header class="header">
        <mat-panel-description class="header_description">
          <div fxFlex="100" fxLayoutAlign="space-between start">
            <div class="header_lg_bold_black">Application Status</div>
          </div>
          &nbsp;
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="custom_expansion_container" fxFlex="100">
        <app-application-status
          [applicationInfo]="applicationStatus"
        ></app-application-status>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  &nbsp;&nbsp;
  <!-- Application Details Panel -->
  <mat-accordion class="custom_action_expansion">
    <mat-expansion-panel class="detail_container">
      <mat-expansion-panel-header class="header">
        <mat-panel-description class="header_description">
          <div fxFlex="100" fxLayoutAlign="space-between start">
            <div class="header_lg_bold_black">
              Application Details <span>({{ mobileNumber }})</span>
            </div>
          </div>
          &nbsp;
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div fxFlex="100">
        <app-loan-product-details
          [dynamicKeyHelper]="dynamicKeyHelper"
          [productInfo]="dynamicDetails"
        ></app-loan-product-details>
      </div>
    </mat-expansion-panel>
    <br />
  </mat-accordion>
</div>
