<form [formGroup]="schedulePaymentForm">
  <div class="send-money-abroad-container" fxLayout="column">
    <div class="w-100" fxLayout="row" fxLayoutAlign="space-between center">
      <div class="row">
        <app-ic-custom-pay-from
          [control]="schedulePaymentForm.get('debitAccount')"
          [inputLabel]="'Pay From*' | translate"
          [items]="payFromData"
          bindValueKey="accountNo"
          bindLabelKey="accountNo"
          message="Savings Account | Balance ₹ 2090"
          (selectionChange)="payAccount($event)"
        >
        </app-ic-custom-pay-from>
      </div>
    </div>

    <div class="light-blue-title">{{ "Payment Details" | translate }}</div>
    <div *ngIf="!proceedPayment; else showSchedulePayment" fxLayout="column">
      <div fxFlex="100" fxLayout="row wrap">
        <div fxFlex="30" class="input_wrapper">
          <app-searchable-select
            [control]="schedulePaymentForm.get('creditAccount')"
            [inputLabel]="'Transfer To' | translate"
            [items]="transferData"
            bindLabelKey="nickName"
            bindValueKey="accountNo"
            displayLabel="accountNo"
            [currencyCode]="selectedAccNo?.accountCurrecny"
            [showOutsideLabel]="true"
            (selectionChange)="selectTransfer($event)"
          ></app-searchable-select>
          <div fxLayout="row" fxLayoutGap="10px">
            <mat-label class="light-blue-title">{{
              "Favourites" | translate
            }}</mat-label>
            <mat-radio-group
              color="primary"
              aria-label="Select an option"
              formControlName="paymentType"
              fxLayout="row"
              (change)="changeFav($event.value)"
            >
              <mat-radio-button value="Same">{{
                "Same Bank" | translate
              }}</mat-radio-button>
              <mat-radio-button value="Other">{{
                "Other Bank" | translate
              }}</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>

        <div fxFlex="100" class="my-12">
          <app-reusable-favourities
            [items]="filterFav"
            (rediectTo)="proceed($event)"
          >
          </app-reusable-favourities>
        </div>
      </div>
      <div fxLayoutGap="20" fxLayoutAlign="end center" class="btn-algn">
        <app-ic-action-button
          [buttonName]="'Cancel' | translate"
          buttonType="stroked"
        >
        </app-ic-action-button>
        <app-ic-action-button
          [buttonName]="'Proceed' | translate"
          buttonType="filled"
          (onClick)="proceed()"
          [disabled]="schedulePaymentForm.get('debitAccount').invalid"
        ></app-ic-action-button>
      </div>
    </div>
  </div>
</form>
<ng-template #showSchedulePayment>
  <div class="send-abroad-container" fxLayout="column">
    <form [formGroup]="schedulePaymentForm" fxFlex="100" fxLayout="column">
      <div class="wrapper_row" fxLayout="row wrap" fxFlex="100">
        <div fxFlex="25" class="input_wrapper">
          <app-searchable-select
            [control]="schedulePaymentForm.get('creditAccount')"
            [inputLabel]="'Transfer To' | translate"
            [items]="transferData"
            bindValueKey="accountNo"
            bindLabelKey="accountNo"
            [currencyCode]="selectedAccNo?.accountCurrecny"
            [showOutsideLabel]="true"
            (selectionChange)="selectTransfer($event)"
          >
          </app-searchable-select>
          <p *ngIf="schedulePaymentForm.get('creditAccount').value">
            {{ message }}
          </p>
        </div>
        <div fxFlex="25" class="input_wrapper">
          <app-ic-custom-amount-input
            [inputLabel]="'Amount'"
            [currencyCode]="currencyCode"
            [inputType]="'text'"
            [control]="schedulePaymentForm.get('amount')"
          ></app-ic-custom-amount-input>
          <mat-error
            *ngIf="
              schedulePaymentForm.get('amount').hasError('required') &&
              schedulePaymentForm.get('amount').touched
            "
            >{{ "Amount is Required" | translate }}</mat-error
          >
        </div>
        <div
          fxFlex="25"
          class="input_wrapper"
          *ngIf="schedulePaymentForm.get('paymentType').value == 'Same'"
        >
          <app-searchable-select
            [control]="schedulePaymentForm.get('paymentMode')"
            [inputLabel]="'Payment Mode' | translate"
            [items]="paymentModes"
            bindValueKey="id"
            bindLabelKey="values"
            [showOutsideLabel]="true"
          >
          </app-searchable-select>
        </div>
        <div fxFlex="25" class="input_wrapper">
          <app-ic-radio-button
            [optiions]="options"
            [control]="schedulePaymentForm.get('recurringPayment')"
            [displayLabel]="'Recurring' | translate"
            layout="column"
          >
          </app-ic-radio-button>
        </div>
      </div>
      <div class="wrapper_row" fxLayout="row wrap" fxFlex="100">
        <div fxFlex="25" class="input_wrapper" fxLayout="column">
          <mat-label class="ml-16">{{
            "Schedule Payment" | translate
          }}</mat-label>
          <mat-form-field>
            <div fxLayout="row" fxLayoutAlign="space-between">
              <input
                matInput
                [matDatepicker]="picker"
                formControlName="schedulePaymentDate"
              />
            </div>
            <mat-datepicker-toggle matSuffix [for]="picker">
              <mat-icon
                svgIcon="calendar-icon"
                matsuffix
                matDatepickerToggleIcon
              ></mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div
          fxFlex="25"
          class="input_wrapper"
          *ngIf="schedulePaymentForm.get('recurringPayment').value === true"
        >
          <app-searchable-select
            [control]="schedulePaymentForm.get('frequency')"
            [inputLabel]="'Frequency' | translate"
            [items]="frequncyData"
            bindValueKey="id"
            bindLabelKey="values"
            [showOutsideLabel]="true"
          >
          </app-searchable-select>
        </div>
        <div
          fxFlex="25"
          class="input_wrapper"
          *ngIf="schedulePaymentForm.get('recurringPayment').value === true"
        >
          <app-ic-custom-input
            [inputLabel]="'No Of Instalments' | translate"
            [control]="schedulePaymentForm.get('noOfInstalment')"
          ></app-ic-custom-input>
        </div>
      </div>
      <div class="wrapper_row" fxLayout="row wrap" fxFlex="100">
        <div fxFlex="25" class="input_wrapper">
          <app-ic-custom-input
            [inputLabel]="'Remark' | translate"
            [control]="schedulePaymentForm.get('remark')"
          >
          </app-ic-custom-input>
        </div>
      </div>
      <div fxLayoutGap="20" fxLayoutAlign="end center" class="btn-algn">
        <app-ic-action-button
          [buttonName]="'Cancel' | translate"
          (click)="close()"
          buttonType="stroked"
        >
        </app-ic-action-button>
        <app-ic-action-button
          [buttonName]="'Proceed' | translate"
          buttonType="filled"
          (onClick)="submit()"
          [disabled]="schedulePaymentForm.invalid"
        ></app-ic-action-button>
      </div>
    </form>
  </div>
</ng-template>
