<div fxLayout="column" fxFlex="100" class="scrollStep {{ customClass }}">
  <div fxLayout="row" class="scrollStep__prodInfo">
    <div>
      <div class="deposit_icon">
        <img
          src="assets/images/bank-profile-logo.svg"
          alt="Bank Sign"
          width="65%"
        />
      </div>
      <span class="vertical_line"></span>
    </div>
    <div fxLayout="column" style="padding-left: 33px">
      <div class="stepper-title">Get Your</div>
      <div class="screen-title">
        {{ screenTitle }}
      </div>
      <div class="stepper-title">in {{ screenList?.length }} simple steps</div>
      <div class="fd_info_stat" fxLayout="row" fxLayoutGap="10">
        <img src="assets/images/Group.svg" />
        <div class="steps-average-text">
          On an average, People get their savings account in 15 - 20 min
        </div>
      </div>
    </div>
  </div>
  <mat-stepper
    #stepper
    orientation="vertical"
    [linear]="isLinear"
    class="custom_steppper"
    [selectedIndex]="screenIndex"
    (selectionChange)="stepperSelectionChange($event)"
  >
    <ng-container *ngFor="let item of screenList; let i = index">
      <mat-step
        [label]="item.screenName"
        [completed]="item.completed"
        [editable]="item.isEditable"
      ></mat-step>
    </ng-container>
  </mat-stepper>
</div>
