<div class="parent-div" fxLayout="column">
  <div fxLayout="row" fxLayoutAlign="space-between" class="searchDiv">
    <div class="overView">Account Overview</div>
    <div>
      <mat-form-field appearance="outline" class="full-width custom-field">
        <mat-label class="custom-mat-label">search</mat-label>
        <input matInput />
        <mat-icon matSuffix svgIcon="search-icon"></mat-icon>
      </mat-form-field>
    </div>
  </div>
  <div
    *ngIf="dashboardInfo"
    fxLayout="row"
    fxLayoutAlign="space-between"
    fxLayoutGap="8px"
    fxFlex="100"
  >
    <ng-container *ngFor="let key of Object.keys(dashboardInfo); let i = index">
      <mat-card
        [matMenuTriggerFor]="accountMenu"
        #clickHoverMenuTrigger="matMenuTrigger"
        [ngClass]="{
          'account-Card-btn': selectedKey !== key,
          'selected-account-Card': selectedKey === key
        }"
        (click)="cardDetails(key)"
        fxFlex="33"
      >
        <div
          fxLayout="row"
          fxFlex="100"
          fxLayoutAlign="space-between"
          fxLayoutGap="25%"
        >
          <div class="infoLength">
            {{ dashboardInfo[key]?.accountList?.length }}
          </div>
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="column" fxLayoutAlign="space-around end">
              <div class="cardType">{{ dashboardInfo[key]?.type }}</div>
              <div class="availableTag">Available Balance</div>
              <div class="balanceAmount" fxLayout="row">
                ₹
                <span>{{
                  dashboardInfo[key]?.accountList[0]?.accountBalance
                }}</span>
              </div>
            </div>
            <div>
              <mat-icon>keyboard_arrow_down</mat-icon>
            </div>
          </div>
        </div>
      </mat-card>
      <mat-menu #accountMenu="matMenu" class="infoDropdown">
        <ng-container *ngFor="let info of dashboardInfo[key]?.accountList">
          <div fxLayout="row" fxFlex="100" fxLayoutGap="60px">
            <div fxLayout="column" fxFlex="33" fxLayoutGap="2px">
              <div class="label">Account Number</div>
              <div class="labelVal">{{ info.accountNo }}</div>
            </div>
            <div fxLayout="column" fxFlex="33" fxLayoutGap="2px">
              <div class="label">Type</div>
              <div class="labelVal">{{ dashboardInfo[key]?.accountType }}</div>
            </div>
            <div fxLayout="column" fxFlex="33" fxLayoutGap="2px">
              <div class="label">Balance</div>
              <div class="labelVal">
                <!-- {{ fetchQueryBalance(info.accountNo) }} -->
              </div>
            </div>
          </div>
          <div class="hl"></div>
        </ng-container>
      </mat-menu>
    </ng-container>
  </div>

  <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between flex-start">
    <div fxLayout="column" fxFlex="75" fxLayoutGap="15px">
      <div class="transfer-mtcd">
        <nav mat-tab-nav-bar>
          <a
            mat-tab-link
            *ngFor="let transfer of transferType; let i = index"
            [active]="i + 1 == currentIndex"
            (click)="getActiveTransferType(transfer)"
            >{{ transfer.label }}</a
          >
        </nav>
        <div class="transfer">
          <div fxLayout="row" fxLayoutAlign="flex-start">
            <div
              fxFlex="20"
              class="transfer_main_div"
              *ngFor="let transfer of transferArray"
            >
              <mat-card
                class="transfer-card"
                fxLayoutALign="center center"
                (click)="openTransfer(transfer)"
              >
                <img [src]="transfer.image" />
                <div class="text-normal">{{ transfer.label }}</div>
              </mat-card>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="bottom-container">
          <div
            class="header-container"
            fxLayout="row"
            fxLayoutAlign="space-between center"
          >
            <div class="cardType">Pending Approval</div>
            <div>
              <mat-card
                class="matcard-div"
                (click)="openPendingForApprovalSummary()"
              >
                <mat-icon class="call-madeup-icn"> call_made</mat-icon>
              </mat-card>
            </div>
          </div>
          <div
            class="inner-container"
            fxLayout="row"
            fxLayoutAlign="space-between center"
          >
            <table fxFlex="100" fxLayout="column">
              <thead fxFlex="100" fxLayoutAlign="space-between" class="pl-28">
                <tr fxFlex="100" fxLayout="row">
                  <th class="col label" *ngFor="let item of dummyHeader">
                    {{ item.header }}
                  </th>
                </tr>
              </thead>
              <tbody fxFlex="100" fxLayout="column" class="pl-28">
                <tr
                  fxFlex="99.7"
                  class="table-body-container"
                  *ngFor="let auditLogDataObject of dummyResponse"
                >
                  <div fxFlex="99" fxLayout="column">
                    <div class="table-response">
                      <td
                        class="col labelValRef text-bold"
                        (click)="viewPendingRecord(auditLogDataObject)"
                      >
                        {{ auditLogDataObject?.transactionReferenceNo }}
                      </td>
                      <td class="col labelVal">
                        {{ auditLogDataObject?.productType }}
                      </td>

                      <td class="col labelVal">
                        {{ auditLogDataObject?.lastUpdated }}
                      </td>

                      <td class="col labelVal">
                        {{ auditLogDataObject?.totalAmount }}
                      </td>
                      <td class="col labelVal">
                        {{ auditLogDataObject?.lastUpdatedBy }}
                      </td>
                      <td
                        style="position: relative; right: 6.5%; cursor: pointer"
                      >
                        <mat-icon
                          (click)="viewPendingRecord(auditLogDataObject)"
                        >
                          chevron_right
                        </mat-icon>
                      </td>
                    </div>
                    <div class="horizontal-separator"></div>
                  </div>
                </tr>
              </tbody>
              <br />
            </table>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="activityLog">
        <div fxLayout="column" fxLayoutGap="10px">
          <div class="activityLog_header" fxLayoutGap="5px">
            <div class="activityLog_name">Activity log</div>
            <div class="availableTag">Most liked by demo bank user</div>
          </div>
          <div fxLayout="column" fxLayoutGap="5px">
            <mat-form-field appearance="outline">
              <mat-select
                [(ngModel)]="selectedActivityLog"
                (selectionChange)="onDropdownChange($event.value)"
              >
                <mat-option value="financial">Financial</mat-option>
                <mat-option value="nonfinancial">Non-Financial</mat-option>
              </mat-select>
            </mat-form-field>
            <div fxLayout="column" fxLayoutGap="12px">
              <ng-container *ngFor="let key of colorCode">
                <mat-accordion>
                  <mat-expansion-panel class="panel">
                    <mat-expansion-panel-header class="panelHeader">
                      <mat-panel-description>
                        <div fxLayout="row">
                          <div class="vl"></div>
                          <div class="dropdownName">
                            {{ transformLabel(key.label) }}
                          </div>
                          <ng-container *ngFor="let obj of displayActivityLog">
                            <div class="valueBg">
                              <div
                                class="totalVal"
                                [style.color]="key.valColor"
                                [style.background-color]="key.bgColor"
                                *ngIf="obj.label == key.label"
                              >
                                {{ obj.total }}
                              </div>
                            </div>
                          </ng-container>
                        </div>
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                    <mat-expansion-panel-body>
                      <ng-container *ngFor="let obj of displayActivityLog">
                        <div
                          class="contentBg"
                          [style.background-color]="key.bgColor"
                          *ngIf="obj.label == key.label"
                        >
                          <div fxLayout="column" fxLayoutGap="5px">
                            <div
                              fxLayout="row"
                              fxLayoutAlign="space-between center"
                            >
                              <div
                                class="processedName"
                                [style.color]="key.valColor"
                              >
                                Processed
                              </div>
                              <div class="processedName">
                                {{ obj.processed || 0 }}
                              </div>
                            </div>
                            <div
                              fxLayout="row"
                              fxLayoutAlign="space-between center"
                            >
                              <div
                                class="processedName"
                                [style.color]="key.valColor"
                              >
                                Pending
                              </div>
                              <div class="processedName">
                                {{ obj.pending || 0 }}
                              </div>
                            </div>
                            <div
                              fxLayout="row"
                              fxLayoutAlign="space-between center"
                            >
                              <div
                                class="processedName"
                                [style.color]="key.valColor"
                              >
                                Rejected
                              </div>
                              <div class="processedName">
                                {{ obj.rejected || 0 }}
                              </div>
                            </div>
                          </div>
                        </div>
                      </ng-container>
                    </mat-expansion-panel-body>
                  </mat-expansion-panel>
                </mat-accordion>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
