<div class="main_page" [formGroup]="revisiteForm" *ngIf="revisiteForm">
  <div class="head_container bank-title">
    <h1>{{ currentUser?.bankName | titlecase }}</h1>
  </div>

  <div
    class="subhead_container"
    fxLayout="column"
    fxLayoutAlign="space-between start"
  >
    <ng-container *ngIf="currentTab == 1; else showNext">
      <div>
        <h3 class="text-label mb-16">Remarks</h3>

        <textarea
          name=""
          id=""
          cols="100"
          rows="15"
          class="toggle-card"
        ></textarea>
      </div>
    </ng-container>
    <ng-template #showNext>
      <div>
        <mat-card class="default-card mx-0">
          <h3 class="sub-heading">Revisit Information</h3>
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <div fxFlex="49" class="gray-div p-8">
              <h3 class="sub-heading">Approved Detail</h3>
              <div fxLayout="row wrap">
                <div fxFlex="100">
                  <mat-form-field appearance="outline">
                    <mat-label>Amount</mat-label>
                    <input matInput type="text" formControlName="amount" />
                  </mat-form-field>
                </div>
                <div
                  fxFlex="100"
                  fxFlex.sm="32.5"
                  fxFlex.gt-sm="50"
                  class="pr-12"
                >
                  <mat-form-field appearance="outline">
                    <mat-label>Rate Of Interest</mat-label>
                    <input
                      matInput
                      type="text"
                      formControlName="rateOfInterest"
                    />
                  </mat-form-field>
                </div>
                <div fxFlex="100" fxFlex.sm="32.5" fxFlex.gt-sm="50">
                  <fieldset class="field-set">
                    <legend class="fieldset-title">Loan Tenure</legend>
                    <div fxLayout="row">
                      <input
                        matInput
                        formControlName="loanTenureYear"
                        numbersOnly
                        placeholder="Years"
                        class="fieldset-input"
                        required
                      />
                      <div class="vertical-separator"></div>
                      <input
                        matInput
                        formControlName="loanTenureMonth"
                        numbersOnly
                        placeholder="Months"
                        class="fieldset-input"
                        required
                      />
                      <div class="vertical-separator"></div>
                      <input
                        matInput
                        formControlName="loanTenureDay"
                        numbersOnly
                        placeholder="Days"
                        class="fieldset-input"
                        required
                      />
                    </div>
                  </fieldset>
                </div>
              </div>
            </div>
            <div fxFlex="49" class="gray-div p-8">
              <h3 class="sub-heading">Customer Request</h3>
              <div fxLayout="row wrap">
                <div fxFlex="100">
                  <mat-form-field appearance="outline">
                    <mat-label>Amount</mat-label>
                    <input
                      matInput
                      type="text"
                      formControlName="requestedAmount"
                    />
                  </mat-form-field>
                </div>
                <div
                  fxFlex="100"
                  fxFlex.sm="32.5"
                  fxFlex.gt-sm="50"
                  class="pr-12"
                >
                  <mat-form-field appearance="outline">
                    <mat-label>Rate Of Interest</mat-label>
                    <input
                      matInput
                      type="text"
                      formControlName="requestedRateOfInterest"
                    />
                  </mat-form-field>
                </div>
                <div fxFlex="100" fxFlex.sm="32.5" fxFlex.gt-sm="50">
                  <fieldset class="field-set">
                    <legend class="fieldset-title">Loan Tenure</legend>
                    <div fxLayout="row">
                      <input
                        matInput
                        formControlName="requestedLoanTenureYear"
                        numbersOnly
                        placeholder="Years"
                        class="fieldset-input"
                        required
                      />
                      <div class="vertical-separator"></div>
                      <input
                        matInput
                        formControlName="requestedLoanTenureMonth"
                        numbersOnly
                        placeholder="Months"
                        class="fieldset-input"
                        required
                      />
                      <div class="vertical-separator"></div>
                      <input
                        matInput
                        formControlName="requestedLoanTenureDay"
                        numbersOnly
                        placeholder="Days"
                        class="fieldset-input"
                        required
                      />
                    </div>
                  </fieldset>
                </div>
              </div>
            </div>
          </div>
        </mat-card>
        <div>
          <h3 class="text-label mb-16 ml-16">Remark</h3>
          <textarea
            name=""
            id=""
            cols="150"
            rows="3"
            class="toggle-card"
            formControlName="remark"
          ></textarea>
        </div>
        <div class="ml-16">
          <span class="text-bold">Note: </span
          ><span class="text-gray"
            >( Help us providing additional Information for revisiting this
            application )</span
          >
        </div>
      </div>
    </ng-template>

    <div
      class="w-100 mb-24"
      fxLayout="row"
      fxLayoutAlign="start center"
      fxLayoutGap="20px"
    >
      <button mat-raised-button class="reset-btn" fxFlex="40">Reset</button>
      <button
        mat-raised-button
        class="submit-btn"
        fxFlex="60"
        (click)="saveCustomerRequest()"
      >
        Submit
      </button>
    </div>
  </div>
</div>
