<div *ngIf="" [formGroup]="revisiteForm" class="main_page">
  <div class="head_container bank-title">
    <h1>{{ currentUser?.bankName | titlecase }}</h1>
  </div>

  <div
    class="subhead_container"
    fxLayout="column"
    fxLayoutAlign="space-between start"
  >
    <ng-container *ngIf="currentTab === 1; else showNext">
      <div>
        <h3 class="text-label mb-16">Remarks</h3>
        <ic-textarea [rows]="15"></ic-textarea>
      </div>
    </ng-container>
    <ng-template #showNext>
      <div>
        <mat-card class="default-card mx-0">
          <h3 class="sub-heading">Revisit Information</h3>
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <div class="gray-div p-8" fxFlex="49">
              <h3 class="sub-heading">Approved Detail</h3>
              <div fxLayout="row wrap">
                <div fxFlex="100">
                  <mat-form-field appearance="outline">
                    <mat-label>Amount</mat-label>
                    <input formControlName="amount" matInput type="text" />
                  </mat-form-field>
                </div>
                <div
                  class="pr-12"
                  fxFlex="100"
                  fxFlex.gt-sm="50"
                  fxFlex.sm="32.5"
                >
                  <mat-form-field appearance="outline">
                    <mat-label>Rate Of Interest</mat-label>
                    <input
                      formControlName="rateOfInterest"
                      matInput
                      type="text"
                    />
                  </mat-form-field>
                </div>
                <div fxFlex="100" fxFlex.gt-sm="50" fxFlex.sm="32.5">
                  <fieldset class="field-set">
                    <legend class="fieldset-title">Loan Tenure</legend>
                    <div fxLayout="row">
                      <input
                        appNumbersOnly
                        class="fieldset-input"
                        formControlName="loanTenureYear"
                        matInput
                        placeholder="Years"
                        required
                      />
                      <div class="vertical-separator"></div>
                      <input
                        appNumbersOnly
                        class="fieldset-input"
                        formControlName="loanTenureMonth"
                        matInput
                        placeholder="Months"
                        required
                      />
                      <div class="vertical-separator"></div>
                      <input
                        appNumbersOnly
                        class="fieldset-input"
                        formControlName="loanTenureDay"
                        matInput
                        placeholder="Days"
                        required
                      />
                    </div>
                  </fieldset>
                </div>
              </div>
            </div>
            <div class="gray-div p-8" fxFlex="49">
              <h3 class="sub-heading">Customer Request</h3>
              <div fxLayout="row wrap">
                <div fxFlex="100">
                  <mat-form-field appearance="outline">
                    <mat-label>Amount</mat-label>
                    <input
                      formControlName="requestedAmount"
                      matInput
                      type="text"
                    />
                  </mat-form-field>
                </div>
                <div
                  class="pr-12"
                  fxFlex="100"
                  fxFlex.gt-sm="50"
                  fxFlex.sm="32.5"
                >
                  <mat-form-field appearance="outline">
                    <mat-label>Rate Of Interest</mat-label>
                    <input
                      formControlName="requestedRateOfInterest"
                      matInput
                      type="text"
                    />
                  </mat-form-field>
                </div>
                <div fxFlex="100" fxFlex.gt-sm="50" fxFlex.sm="32.5">
                  <fieldset class="field-set">
                    <legend class="fieldset-title">Loan Tenure</legend>
                    <div fxLayout="row">
                      <input
                        appNumbersOnly
                        class="fieldset-input"
                        formControlName="requestedLoanTenureYear"
                        matInput
                        placeholder="Years"
                        required
                      />
                      <div class="vertical-separator"></div>
                      <input
                        appNumbersOnly
                        class="fieldset-input"
                        formControlName="requestedLoanTenureMonth"
                        matInput
                        placeholder="Months"
                        required
                      />
                      <div class="vertical-separator"></div>
                      <input
                        appNumbersOnly
                        class="fieldset-input"
                        formControlName="requestedLoanTenureDay"
                        matInput
                        placeholder="Days"
                        required
                      />
                    </div>
                  </fieldset>
                </div>
              </div>
            </div>
          </div>
        </mat-card>
        <div>
          <h3 class="text-label mb-16 ml-16">Remark</h3>
          <ic-textarea
            [control]="revisiteForm.get('remark') | formcontrol"
            [rows]="3"
          >
          </ic-textarea>
        </div>
        <div class="ml-16">
          <span class="text-bold">Note: </span
          ><span class="text-gray"
        >( Help us providing additional Information for revisiting this
            application )</span
        >
        </div>
      </div>
    </ng-template>

    <div
      class="w-100 mb-24"
      fxLayout="row"
      fxLayoutAlign="start center"
      fxLayoutGap="20px"
    >
      <button (click)="reset()" class="reset-btn" fxFlex="40" mat-raised-button>
        Reset
      </button>
      <button
        (click)="saveCustomerRequest()"
        class="submit-btn"
        fxFlex="60"
        mat-raised-button
      >
        Submit
      </button>
    </div>
  </div>
</div>
