<mat-card
  fxLayoutAlign="center center"
  fxFlex="100"
  style="background-color: #d1cccc17; overflow: unset"
>
  <ng-container *ngFor="let levelItem of approvalList; let i = index">
    <div [fxFlex]="i == approvalList?.length - 1 ? '6%' : '33%'" fxLayout="row">
      <div
        fxLayout="column"
        [fxFlex]="i == approvalList?.length - 1 ? '100%' : '20%'"
        fxLayoutAlign="center center"
      >
        <img
          [src]="
            levelItem?.status == 'Approved'
              ? 'assets/images/level_complete.svg'
              : levelItem?.status == 'Rejected'
              ? 'assets/images/level_rejected.svg'
              : levelItem?.status == 'Pending'
              ? 'assets/images/level_pending.svg'
              : ''
          "
          width="41px"
          height="41px"
        />
        <div class="level">{{ levelItem.level }}</div>
        <div
          class="level_status info_icon_container"
          [ngClass]="[
            levelItem?.status == 'Approved' ? 'bgGreen' : '',
            levelItem?.status == 'Rejected' ? 'bgRed' : ''
          ]"
        >
          <span fxLayoutAlign="center center"
            >{{ levelItem.status }} <mat-icon class="">info</mat-icon></span
          >
          <div class="approved_history_container">
            <ng-container>
              <div fxLayout="column" class="user_info">
                <div class="list_body">
                  <p class="list_name">
                    {{ levelItem.user }} <span>({{ levelItem?.id }})</span>
                  </p>
                  <p
                    class="level_status"
                    [ngClass]="[
                      levelItem?.status == 'Approved' ? 'bgGreen' : '',
                      levelItem?.status == 'Rejected' ? 'bgRed' : ''
                    ]"
                  >
                    {{ levelItem.status }}
                  </p>
                </div>
                <div class="remark">
                  <p><span>Remark :</span> {{ levelItem?.remark }}</p>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
      <div
        fxFlex="80"
        fxLayoutAlign="center center"
        *ngIf="i != approvalList?.length - 1"
      >
        <div class="progress_fill" fxFlex="100">
          <div
            class="progress_fill"
            [ngClass]="[
              i < approvalList?.length - 1 &&
              approvalList[i + 1].status == 'Rejected'
                ? 'returnRed'
                : '',
              i < approvalList?.length - 1 &&
              approvalList[i + 1].status == 'Pending'
                ? 'returnPending'
                : '',
              levelItem?.status == 'Approved' ? 'bgGreen' : '',
              levelItem?.status == 'Rejected' ? 'bgRed' : ''
            ]"
            [fxFlex]="
              i < approvalList?.length - 1 &&
              approvalList[i + 1].status == 'Pending'
                ? 75
                : 100
            "
          ></div>
        </div>
      </div>
    </div>
  </ng-container>
</mat-card>
