<mat-card
  fxLayoutAlign="center center"
  fxFlex="100"
  style="background-color: #d1cccc17; overflow: unset"
>
  <ng-container *ngFor="let levelItem of approvalList; let i = index">
    <div [fxFlex]="i == approvalList?.length - 1 ? '6%' : '33%'" fxLayout="row">
      <div
        fxLayout="column"
        [fxFlex]="i == approvalList?.length - 1 ? '100%' : '20%'"
        fxLayoutAlign="center center"
      >
        <!-- for CREATED action need to update src path -->
        <img
          [src]="
            levelItem?.action == 'APPROVED' || levelItem?.action === 'CREATED'
              ? 'assets/images/level_complete.svg'
              : levelItem?.action == 'REJECTED'
              ? 'assets/images/level_rejected.svg'
              : levelItem?.action == 'PENDING'
              ? 'assets/images/level_pending.svg'
              : 'assets/images/level_pending.svg'
          "
          width="41px"
          height="41px"
        />
        <div class="level">level {{ i + 1 }}</div>
        <div
          class="level_status info_icon_container"
          [ngClass]="[
            levelItem?.action == 'APPROVED' || levelItem?.action === 'CREATED'
              ? 'bgGreen'
              : '',
            levelItem?.action == 'REJECTED' ? 'bgRed' : '',
            levelItem?.action == 'PENDING' ? 'bgBlue' : ''
          ]"
        >
          <span fxLayoutAlign="center center"
            >{{ levelItem.action }} <mat-icon class="">info</mat-icon></span
          >
          <div class="approved_history_container">
            <ng-container>
              <div fxLayout="column" class="user_info">
                <div class="list_body">
                  <p class="list_name">
                    {{ levelItem?.userDetais?.userName }}
                    <span>({{ levelItem?.userDetais?.empId }})</span>
                  </p>
                  <p
                    class="level_status"
                    [ngClass]="[
                      levelItem?.action == 'APPROVED' ||
                      levelItem?.action === 'CREATED'
                        ? 'bgGreen'
                        : '',
                      levelItem?.action == 'Rejected' ? 'bgRed' : ''
                    ]"
                  >
                    {{ levelItem.action }}
                  </p>
                </div>
                <div class="remark">
                  <p>
                    <span>Remark :</span> {{ levelItem?.userDetais?.remarks }}
                  </p>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
      <div
        fxFlex="80"
        fxLayoutAlign="center center"
        *ngIf="i != approvalList?.length - 1"
      >
        <div class="progress_fill" fxFlex="100">
          <div
            class="progress_fill"
            [ngClass]="[
              i < approvalList?.length - 1 &&
              approvalList[i + 1].action == 'REJECTED'
                ? 'returnRed'
                : '',
              i < approvalList?.length - 1 &&
              approvalList[i + 1].action == 'PENDING'
                ? 'returnPending'
                : '',
              levelItem?.action == 'APPROVED' || levelItem?.action === 'CREATED'
                ? 'bgGreen'
                : '',
              levelItem?.action == 'REJECTED' ? 'bgRed' : ''
            ]"
            [fxFlex]="
              i < approvalList?.length - 1 &&
              approvalList[i + 1].action == 'PENDING'
                ? 75
                : 100
            "
          ></div>
        </div>
      </div>
    </div>
  </ng-container>
</mat-card>
