<div fxLayout="column">
  <div class="loan-account-type" *ngIf="!isShowCalculator">
    <div fxLayout="column" fxLayoutAlign="center center">
      <div class="account-type-header mb-10">{{ basisClass }}</div>
      <div class="standard-content-title mb-30">
        This is a process, how you can get loan for your self.
      </div>
    </div>
    <div *ngFor="let subAccount of subLoanList; let index = index">
      <div
        class="loan-container"
        [ngStyle]="{
          'flex-direction': index % 2 !== 0 ? 'row-reverse' : 'row',
          padding: index % 2 !== 0 ? '20px' : ''
        }"
        fxFlex="100"
      >
        <div class="img-section" fxFlex="50">
          <img
            [src]="getFileUrl(subAccount.fileUrl)"
            width="399"
            height="333"
            alt="subAccountType"
          />
        </div>
        <div class="loan-main-text" fxFlex="50">
          <div class="standard-content-title-header">
            <div class="content-circle"></div>
            {{ subAccount?.subClass }}
          </div>
          <div class="standard-content">
            {{ subAccount?.subClassDesc }}
          </div>

          <div class="mb-10">
            <button
              class="confirm-button"
              mat-raised-button
              (click)="goForCalculator(subAccount)"
            >
              Apply
            </button>
            <!-- <a class="standard-link-less">View Less</a> -->
          </div>
        </div>
      </div>
    </div>
    <!-- 
    <div *ngIf="!subLoanList.length" style="text-align: center">
      Sub-class not available
    </div>
    <div>
      <div class="emi-calculator-header">
        {{ loanType }} Loan EMI Calculator
      </div>
      <div *ngIf="loanType === 'Home'">
        <div class="standard-txtField-phone-main">
          <div class="slide_toggle_btn">
            <button
              (click)="onSelect()"
              mat-raised-button
              [ngClass]="{ active: !selectedCalculator }"
            >
              Home Loan
            </button>
            <button
              (click)="onSelect()"
              mat-raised-button
              [ngClass]="{ active: selectedCalculator }"
            >
              HL Balance Transfer
            </button>
          </div>
        </div>
        <div class="home-loan">
          <app-normal-loan-emi-calculator
            *ngIf="!selectedCalculator"
          ></app-normal-loan-emi-calculator>
          <app-hl-loan-emi-calculator
            *ngIf="selectedCalculator"
          ></app-hl-loan-emi-calculator>
        </div>
      </div>
      <div *ngIf="loanType === 'Gold'">
        <app-gold-loan-emi-calculator></app-gold-loan-emi-calculator>
      </div>

      <div
        *ngIf="loanType !== 'Gold' && loanType !== 'Home'"
        class="personal-loan"
      >
        <app-normal-loan-emi-calculator
          (loanAmountDetailsEvent)="loanCalculatorsData($event)"
        ></app-normal-loan-emi-calculator>
      </div>


    </div> -->
  </div>

  <div *ngIf="isShowCalculator">
    <app-common-emi-calculator
      (customCalculatorValues)="customCalculatorValues($event)"
    ></app-common-emi-calculator>
  </div>
  <div>
    <app-faq></app-faq>
  </div>
</div>
