<div class="account-mobile-verification">
  <div class="col-div2">
    <div>
      <app-common-mobile-verification
        (getOTP)="getOTP($event)"
        (enteredOTP)="onOtpChange($event)"
        [showOtpSection]="showOTPSection"
      ></app-common-mobile-verification>
      <div *ngIf="showOTPSection">
        <div fxLayout="column">
          <div fxFlex="100" fxLayout="column" fxLayoutGap="20">
            <div fxLayout="row" fxLayoutGap="30px" class="button-section">
              <button
                class="confirm-button"
                mat-raised-button
                [disabled]="!(otpAvailable && agreed)"
                (click)="onVerify()"
              >
                Verify
              </button>
              <button
                class="back-button"
                mat-raised-button
                (click)="onExit()"
                style="color: #b20000; margin-left: 5px"
              >
                Exit
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
