<div class="account-mobile-verification">
  <div class="col-div2">
    <div>
      <app-common-mobile-verification
        (getOTP)="getOTP($event)"
        (enteredOTP)="onOtpChange($event)"
        [showOtpSection]="showOTPSection"
        (OTPTimer)="otpTimer($event)"
      ></app-common-mobile-verification>
      <div>
        <div fxLayout="column">
          <div fxFlex="100" fxLayout="column" fxLayoutGap="20">
            <div fxLayout="row" fxLayoutGap="30px" class="button-section">
              <button-loading
                *ngIf="showOTPSection"
                [loadingText]="loadingBtnText"
                [type]="'submit'"
                [disable]="!(otpAvailable && !isLoading && agreed)"
                [loading]="isLoading"
                (click)="onVerify()"
              >
                Confirm
              </button-loading>
              <button
                class="back-button"
                mat-raised-button
                (click)="onExit()"
                style="color: #b20000; margin-left: 5px"
              >
                Exit
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
