.news-letters {
    .news-letters-container {
        border-radius: 75px;
        background: #EFF7FF;
        display: flex;
        flex-direction: row;
        margin: 61px;

        .col-1,
        .col-2 {
            display: flex;
            flex-direction: column;
            width: 50%;
        }

        .col-1 {
            .text-header {
                color: var(--dard, #06113C);
                font-family: Arial Rounded MT Bold;
                font-size: 40px;
                font-style: normal;
                font-weight: 400;
                margin-top: 5%;
                margin-left: 10%;
                position: absolute;
                line-height: normal;
            }

            .plain-text {
                color: #757575;
                font-family: Poppins;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                margin-left: 10%;
                margin-top: 10%;
                position: absolute;
                line-height: 160%;
            }

            .blue-container {
                border-radius: 0px 0px 100px 0px;
                background: #004AA0;
                width: 178px;
                height: 178px;
                transform: rotate(90deg);
                flex-shrink: 0;
                position: absolute;
                z-index: -1;
                margin-left: -36px;
                margin-top: 151px;
            }
        }

        .col-2 {
            .dot-container-1 {
                position: absolute;
                margin-left: 36%;
                margin-top: -3%;
                z-index: -1;
            }

            .dot-container-2 {
                position: absolute;
                z-index: -1;
                margin-top: 12%;
                margin-left: 33%;
            }

            .text-box {
                position: absolute;
                margin-top: 8%;
                margin-left: 9%;

                input {
                    border-radius: 12px;
                    border: 1px solid #F1F1F1;
                    background: #FFF;
                    width: 228%;
                    height: 60px;
                    box-shadow: 10px 20px 50px 0px rgba(0, 0, 0, 0.15);
                    padding: 20px;
                }
            }

            button {
                display: inline-flex;
                padding: 13px 30px;
                justify-content: center;
                align-items: center;
                gap: 10px;
                position: absolute;
                color: #FFF;
                margin-top: 8.3%;
                margin-left: 29.7%;
                border-radius: 12px;
                background: #004C97;
            }
        }
    }
}

@media screen and (min-width:1025px) {

    /* big landscape tablets, laptops, and desktops */
    .news-letters {
        .news-letters-container {
            border-radius: 75px;
            background: #EFF7FF;
            display: flex;
            flex-direction: row;
            margin: 61px;

            .col-1,
            .col-2 {
                display: flex;
                flex-direction: column;
                width: 50%;
            }

            .col-1 {
                .text-header {
                    color: var(--dard, #06113C);
                    font-family: Arial Rounded MT Bold;
                    font-size: 40px;
                    font-style: normal;
                    font-weight: 400;
                    margin-top: 5%;
                    margin-left: 10%;
                    position: absolute;
                    line-height: normal;
                }

                .plain-text {
                    color: #757575;
                    font-family: Poppins;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    margin-left: 10%;
                    margin-top: 10%;
                    position: absolute;
                    line-height: 160%;
                }

                .blue-container {
                    border-radius: 0px 0px 100px 0px;
                    background: #004AA0;
                    width: 178px;
                    height: 178px;
                    transform: rotate(90deg);
                    flex-shrink: 0;
                    position: absolute;
                    z-index: -1;
                    margin-left: -36px;
                    margin-top: 151px;
                }
            }

            .col-2 {
                .dot-container-1 {
                    position: absolute;
                    margin-left: 36%;
                    margin-top: -3%;
                    z-index: -1;
                }

                .dot-container-2 {
                    position: absolute;
                    z-index: -1;
                    margin-top: 12%;
                    margin-left: 33%;
                }

                .text-box {
                    position: absolute;
                    margin-top: 8%;
                    margin-left: 9%;

                    input {
                        border-radius: 12px;
                        border: 1px solid #F1F1F1;
                        background: #FFF;
                        width: 228%;
                        height: 60px;
                        box-shadow: 10px 20px 50px 0px rgba(0, 0, 0, 0.15);
                        padding: 20px;
                    }
                }

                button {
                    display: inline-flex;
                    padding: 13px 30px;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    position: absolute;
                    color: #FFF;
                    margin-top: 8.3%;
                    margin-left: 29.7%;
                    border-radius: 12px;
                    background: #004C97;
                }
            }
        }
    }

}

/* hi-res laptops and desktops */
@media screen and (min-width:1281px) {
    .news-letters {
        .news-letters-container {
            border-radius: 75px;
            background: #EFF7FF;
            display: flex;
            flex-direction: row;
            margin: 61px;

            .col-1,
            .col-2 {
                display: flex;
                flex-direction: column;
                width: 50%;
            }

            .col-1 {
                .text-header {
                    color: var(--dard, #06113C);
                    font-family: Arial Rounded MT Bold;
                    font-size: 40px;
                    font-style: normal;
                    font-weight: 400;
                    margin-top: 5%;
                    margin-left: 10%;
                    position: absolute;
                    line-height: normal;
                }

                .plain-text {
                    color: #757575;
                    font-family: Poppins;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    margin-left: 10%;
                    margin-top: 10%;
                    position: absolute;
                    line-height: 160%;
                }

                .blue-container {
                    border-radius: 0px 0px 100px 0px;
                    background: #004AA0;
                    width: 178px;
                    height: 178px;
                    transform: rotate(90deg);
                    flex-shrink: 0;
                    position: absolute;
                    z-index: -1;
                    margin-left: -36px;
                    margin-top: 151px;
                }
            }

            .col-2 {
                .dot-container-1 {
                    position: absolute;
                    margin-left: 36%;
                    margin-top: -3%;
                    z-index: -1;
                }

                .dot-container-2 {
                    position: absolute;
                    z-index: -1;
                    margin-top: 12%;
                    margin-left: 33%;
                }

                .text-box {
                    position: absolute;
                    margin-top: 8%;
                    margin-left: 9%;

                    input {
                        border-radius: 12px;
                        border: 1px solid #F1F1F1;
                        background: #FFF;
                        width: 228%;
                        height: 60px;
                        box-shadow: 10px 20px 50px 0px rgba(0, 0, 0, 0.15);
                        padding: 20px;
                    }
                }

                button {
                    display: inline-flex;
                    padding: 13px 30px;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    position: absolute;
                    color: #FFF;
                    margin-top: 8.3%;
                    margin-left: 29.7%;
                    border-radius: 12px;
                    background: #004C97;
                }
            }
        }
    }
}