<mat-card
  [formGroup]="_parentForm"
  class="default-card m-0 mb-12"
  fxLayout="column"
>
  <h3 class="sub-heading mt-16">{{ 'Company Information' }}</h3>
  <div [formGroup]="corporateCustomer" class="mb-12" fxFlex fxLayout="column">
    <div fxFlex fxLayout="row wrap">
      <div class="pr-16" fxFlex="100" fxFlex.gt-xs="25">
        <mat-form-field>
          <mat-label>{{ 'Company Name' }}</mat-label>
          <input formControlName="companyName" matInput required />

          <mat-error
            *ngIf="
              corporateCustomer.controls['companyName']?.hasError('required') &&
              corporateCustomer.controls['companyName']?.touched
            "
            class="form-error-msg"
          >
            {{ 'Company Name is required' }}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="pr-16" fxFlex="100" fxFlex.gt-xs="25">
        <app-searchable-select
          [control]="corporateCustomer.controls['companyType'] | formcontrol"
          [items]="genericValue?.COMPANYTYPE"
          bindLabelKey="values"
          bindValueKey="id"
          inputLabel="Company Type"
        ></app-searchable-select>
      </div>
      <div class="pr-16" fxFlex="100" fxFlex.gt-xs="25">
        <mat-form-field>
          <mat-label>{{ 'Number of Director' }}</mat-label>
          <input formControlName="numberOfDirectors" matInput required />

          <mat-error
            *ngIf="
              corporateCustomer.controls['numberOfDirectors']?.hasError(
                'required'
              ) && corporateCustomer.controls['numberOfDirectors']?.touched
            "
            class="form-error-msg"
          >
            {{ 'Number of Director is required' }}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="pr-16" fxFlex="100" fxFlex.gt-xs="25">
        <app-searchable-select
          [control]="corporateCustomer.controls['segment'] | formcontrol"
          [items]="genericValue?.SEGMENT"
          bindLabelKey="values"
          bindValueKey="id"
          inputLabel="Segment"
        ></app-searchable-select>
      </div>
    </div>
    <div fxFlex fxLayout="row wrap">
      <div class="pr-16" fxFlex="100" fxFlex.gt-xs="25">
        <mat-form-field>
          <mat-label>{{ 'Nature of the Business' }}</mat-label>
          <input formControlName="natureOfBusiness" matInput />
        </mat-form-field>
      </div>

      <div class="pr-16" fxFlex="100" fxFlex.gt-xs="25">
        <app-searchable-select
          [control]="
            corporateCustomer.controls['countryOfIncorporationCode']
              | formcontrol
          "
          [items]="countryList"
          bindLabelKey="countryName"
          bindValueKey="countryCode"
          inputLabel="Country of Incorporation"
        ></app-searchable-select>
      </div>
      <div fxFlex="100" fxFlex.gt-xs="25">
        <mat-form-field appearance="outline">
          <mat-label>{{ 'Date of Incorporation' }}</mat-label>
          <input
            [matDatepicker]="incorporationDate"
            formControlName="dateOfIncorporation"
            matInput
            readonly
            required
            type="text"
          />
          <mat-datepicker-toggle [for]="incorporationDate" matSuffix>
            <mat-icon matDatepickerToggleIcon>calendar_today</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #incorporationDate></mat-datepicker>
          <mat-error
            *ngIf="
              corporateCustomer.controls['dateOfIncorporation']?.hasError(
                'required'
              ) && corporateCustomer.controls['dateOfIncorporation']?.touched
            "
            class="form-error-msg"
          >
            {{ 'Date of Incorporation is required' }}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="pr-16" fxFlex="100" fxFlex.gt-xs="25">
        <mat-form-field>
          <mat-label>{{ 'Registration Number' }}</mat-label>
          <input formControlName="registrationNumber" matInput required />
          <mat-error
            *ngIf="
              corporateCustomer.controls['registrationNumber']?.touched &&
              corporateCustomer.controls['registrationNumber']?.hasError(
                'required'
              )
            "
            class="form-error-msg"
            required
          >
            {{ 'Registration Number is Required' }}
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div fxFlex fxLayout="row wrap">
      <div class="pr-16" fxFlex="100" fxFlex.gt-xs="25">
        <mat-form-field>
          <mat-label>{{ 'TIN Number' }}</mat-label>
          <input formControlName="tinNumber" matInput required />

          <mat-error
            *ngIf="
              corporateCustomer.controls['tinNumber']?.hasError('required') &&
              corporateCustomer.controls['tinNumber']?.touched
            "
            class="form-error-msg"
          >
            {{ 'TIN Number is required' }}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="pr-16" fxFlex="100" fxFlex.gt-xs="25">
        <app-searchable-select
          [control]="corporateCustomer.controls['sourceOfIncome'] | formcontrol"
          [items]="genericValue?.SOURCEOFINCOME"
          bindLabelKey="values"
          bindValueKey="id"
          inputLabel="Source of Income"
        ></app-searchable-select>
      </div>
      <div class="pr-16" fxFlex="100" fxFlex.gt-xs="25">
        <mat-form-field>
          <mat-label>{{ 'Other' }}</mat-label>
          <input formControlName="others" matInput />
        </mat-form-field>
      </div>
      <div class="pr-16" fxFlex="100" fxFlex.gt-xs="25">
        <app-searchable-select
          [control]="
            corporateCustomer.controls['parentCompanyId'] | formcontrol
          "
          [items]="genericValue['PARENTCOMPANY']"
          bindLabelKey="values"
          bindValueKey="id"
          inputLabel="Parent Company"
        ></app-searchable-select>
      </div>
    </div>
  </div>
  <div class="button-section">
    <button (click)="onConfirm()" class="confirm-button">Confirm</button>
    <button (click)="goBack()" class="back-button">Back</button>
  </div>
</mat-card>
