//
// Stepper Links
//

// Prefix for :root CSS variables
$prefix: bs- !default; // Deprecated in v5.2.0 for the shorter `$prefix`

// Bootstrap contextual colors
// Primary colors
$primary: #3699ff !default;
// Dark colors
$dark-inverse: $white !default;
$transition-link: color 0.2s ease !default;
$transition-input: color 0.2s ease !default;
// Base
.stepper.stepper-links {
  .stepper-nav {
    display: flex;
    padding-left: 40px;
    padding-right: 40px;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 0;

    .stepper-item {
      position: relative;
      flex-shrink: 0;
      margin: 1rem 1.5rem;
      padding: 5px;
      user-select: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      cursor: pointer;
      -webkit-user-drag: none;
      -webkit-tap-highlight-color: transparent;

      &:after {
        content: " ";
        position: absolute;
        left: 0;
        height: 2px;
        width: 100%;
        background-color: transparent;
        transition: color 0.2s ease;
        bottom: 0;
      }

      .stepper-title {
        text-align: center;
        letter-spacing: 0px;
        color: #b4b4b4;
        text-transform: capitalize;
        opacity: 1;
        // width: 180px;
      }

      // Current
      &.current {
        transition: $transition-link;
        .stepper-title {
          color: #004c97;
        }
        &:after {
          background-color: #004c97;
        }
      }

      &.current.mark-completed:last-child,
      &.completed {
        .stepper-title {
          color: #b4b4b4;
          cursor: not-allowed;
        }
      }
    }
  }
}
