<div fxLayout="row" fxLayoutAlign="end center">
  <div
    fxLayout="row wrap"
    fxLayout.lt-sm="column"
    fxLayoutGap="10px"
    fxLayoutAlign="center center"
    class="buttonsBg"
  >
    <button
      type="button"
      mat-raised-button
      class="submit"
      (click)="updateRecord('Submit')"
    >
      {{ "Submit" }}
    </button>
    <button
      type="button"
      mat-raised-button
      class="resetbtn"
      (click)="updateRecord('ResetForm')"
    >
      {{ "Exit" }}
    </button>
    <div type="button" class="saveTempletButton" (click)="saveAsTemplet()">
      {{ "Save Template" }}
    </div>
    <div
      type="button"
      class="saveTempletButton"
      (click)="updateRecord('SubmitLater')"
    >
      {{ "Save and Submit Later" }}
    </div>
  </div>
</div>
