<div [formGroup]="billSectionAForm">
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
        <div fxFlex="100" fxFlex.gt-xs="24">
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Applicant Name</mat-label>
                <input matInput type="text" formControlName="applicantName" />
            </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-xs="24">
            <mat-form-field>
                <mat-label>Applicant Name</mat-label>
                <mat-select formControlName="customerCode" >
                    <mat-option *ngFor="let item of customerCodesList" value="item.value">{{item.label}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-xs="24">
            <mat-form-field>
                <mat-label>Issuing Branch</mat-label>
                <mat-select formControlName="issuingBranch" >
                    <mat-option *ngFor="let item of customerCodesList" value="item.value">{{item.label}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-xs="24">
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>IEC Code</mat-label>
                <input matInput type="text" formControlName="iECCode" />
                <!-- <mat-icon matSuffix class="searchIcon-main">search</mat-icon> -->
            </mat-form-field>
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
        <div fxFlex="100" fxFlex.gt-xs="49">
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Address line 1*</mat-label>
                <input matInput type="text" formControlName="applicantName" />
            </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-xs="49">
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Address line 2</mat-label>
                <input matInput type="text" formControlName="applicantName" />
            </mat-form-field>
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
        <div fxFlex="100" fxFlex.gt-xs="24">
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Country*</mat-label>
                <input matInput type="text" formControlName="country" />
            </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-xs="24">
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Pin Code*</mat-label>
                <input matInput type="text" formControlName="pincode" />
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-xs="24">
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>State*</mat-label>
                <input matInput type="text" formControlName="state" />
            </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-xs="24">
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>City*</mat-label>
                <input matInput type="text" formControlName="city" />
            </mat-form-field>
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
        <div fxFlex="100" fxFlex.gt-xs="24">
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Letter of Permission</mat-label>
                <input matInput type="text" formControlName="country" />
            </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-xs="24">
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Date Of LOP Issued</mat-label>
                <input matInput type="text" formControlName="dateOfLOPIssued" />
                <mat-datepicker-toggle matSuffix [for]="picker">
                    <mat-icon matDatepickerToggleIcon>
                      <img src="/assets/images/calendar.png" class="pb-25" />
                    </mat-icon>
                  </mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-xs="24">
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Name of Authorized Datacom Provider</mat-label>
                <input matInput type="text" formControlName="provider" />
            </mat-form-field>
        </div>
    </div>
    <mat-card>
        <div class="Beneficiary-algn">Beneficiary Details</div>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
        <div fxFlex="100" fxFlex.gt-xs="24">
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Beneficiary Bank</mat-label>
                <input matInput type="text" formControlName="beneficiaryBank" />
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-xs="24">
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Branch</mat-label>
                <input matInput type="text" formControlName="branch" />
            </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-xs="24">
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>SWIFT Code</mat-label>
                <input matInput type="text" formControlName="swiftCode" />
            </mat-form-field>
        </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
            <div fxFlex="100" fxFlex.gt-xs="49">
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Address line 1*</mat-label>
                    <input matInput type="text" formControlName="beneficiaryAddress1" />
                </mat-form-field>
            </div>
            <div fxFlex="100" fxFlex.gt-xs="49">
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Address line 2</mat-label>
                    <input matInput type="text" formControlName="beneficiaryAddress2" />
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
            <div fxFlex="100" fxFlex.gt-xs="24">
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Country*</mat-label>
                    <input matInput type="text" formControlName="beneficiaryCountry" />
                </mat-form-field>
            </div>
            <div fxFlex="100" fxFlex.gt-xs="24">
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Pin Code*</mat-label>
                    <input matInput type="text" formControlName="beneficiaryPincode" />
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
            </div>
            <div fxFlex="100" fxFlex.gt-xs="24">
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>State*</mat-label>
                    <input matInput type="text" formControlName="beneficiaryState" />
                </mat-form-field>
            </div>
            <div fxFlex="100" fxFlex.gt-xs="24">
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>City*</mat-label>
                    <input matInput type="text" formControlName="beneficiaryCity" />
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
            <div fxFlex="100" fxFlex.gt-xs="49">
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Fee Account</mat-label>
                    <mat-select formControlName="customerCode" >
                        <mat-option *ngFor="let item of customerCodesList" value="item.value">{{item.label}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

    </mat-card>
</div>