.login {
  width: 168px;
  height: 48px;
  background: transparent linear-gradient(91deg, #051a2d 0%, #004c97 100%) 0% 0%
    no-repeat padding-box;
  border-radius: 24px;
  font: normal normal 15px/23px Poppins;
  letter-spacing: -0.3px;
  border: none;
  color: #ffffff;
}

.dropdown-content {
  height: auto;
  width: 163px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
  min-width: 120px;
  box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.1);
  z-index: 2;
  border-radius: 0px 0px 8px 8px;
  opacity: 0;
  // visibility: hidden;
  overflow: hidden;
  transition: all 0.34s ease-in-out;
}

.dropdown:hover .dropdown-content {
  opacity: 1;
  visibility: visible;
  width: 280px;
  height: auto;
  background-color: #a2a2a227 0% 0% no-repeat padding-box;
  margin-top: 49px;
}

.sub-value {
  margin-left: -17px;
  width: 116%;
}

.active-button {
  color: #004c97;
}

.bg-color {
  background: #a2a2a227 0% 0% no-repeat padding-box;
}

.background-white {
  background: #ffffff !important;
}
.h-50 {
  height: 50px !important;
}

.flex-spaceAround-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.plr-20 {
  padding: 0px 20px;
}

.cursor-pointer {
  cursor: pointer;
}
