<header class="navbar">
  <div class="container">
    <div class="w-100 d-flex justify-content-between align-items-center">
      <div
        (click)="goToHomePage()"
        (keydown.enter)="goToHomePage()"
        class="logo"
        tabindex="0"
      >
        <img
          alt="logo"
          [src]="
            brandToggler === 'ruby'
              ? 'assets/images/dtblogo_name.svg'
              : 'assets/images/stanbic_horizontal_white.svg'
          "
        />
      </div>
      <nav
        *ngIf="!hideNavItem"
        class="d-flex align-items-md-center justify-content-end"
      >
        <ul [ngClass]="showMobilemenu ? 'show_menu' : 'hide_menu'">
          <ng-container *ngFor="let item of items">
            <li (click)="onNavTabClick(item)">
              <a
                [routerLink]="[item.route]"
                routerLinkActive="highlight_label"
                #element
                >{{ item?.label }}</a
              >
            </li>
          </ng-container>

          <div
            class="align_top_items dropdown position-relative"
            fxLayout="column"
            fxLayoutAlign="center center"
          >
            <ic-button
              class="login_btn"
              customButtonClass="w-100"
              fxLayoutAlign="space-evenly center"
              icButtonType="filled-blue"
              label="LOGIN"
              size="large"
              type="submit"
            >
            </ic-button>
            <div class="dropdown-content" fxLayout="column">
              <div class="bg-color plr-8" fxLayout="column">
                <span
                  (click)="openDropdown(1)"
                  (keydown.enter)="openDropdown(1)"
                  [class.active-button]="expand === 1"
                  class="flex-spaceAround-center h-50 plr-12 cursor-pointer"
                  tabindex="2"
                >
                  Net Banking
                  <mat-icon>keyboard_arrow_down</mat-icon>
                </span>
                <span *ngIf="expand === 1" class="sub-value" fxLayout="column">
                  <span
                    (click)="redirectToInternet()"
                    (keydown.enter)="redirectToInternet()"
                    class="flex-spaceAround-center h-50 plr-8 cursor-pointer sub_value_menu"
                    tabindex="3"
                  >
                    Personal
                    <mat-icon>keyboard_arrow_right</mat-icon>
                  </span>
                  <span
                    (click)="redirectToSignIn()"
                    (keydown.enter)="redirectToSignIn()"
                    class="flex-spaceAround-center h-50 plr-8 cursor-pointer sub_value_menu"
                    tabindex="4"
                  >
                    Corporate
                    <mat-icon>keyboard_arrow_right</mat-icon>
                  </span>
                </span>
              </div>
              <span
                class="flex-spaceAround-center bg-color h-50 plr-20 cursor-pointer"
              >
                Cards
                <mat-icon>keyboard_arrow_down</mat-icon>
              </span>
              <span
                class="flex-spaceAround-center bg-color h-50 plr-20 cursor-pointer"
              >
                Remit Money
              </span>
              <span
                (click)="trackingStatus()"
                (keydown.enter)="trackingStatus()"
                class="flex-spaceAround-center bg-color h-50 plr-20 cursor-pointer"
                tabindex="5"
              >
                Tracking Status
              </span>

              <div
                class="standard-font mt-8"
                fxFlex="100"
                fxLayoutAlign="center center"
                fxLayout="row-warp"
              >
                <ic-slide-toggle labelPosition="before">
                  New Template?
                </ic-slide-toggle>
              </div>
            </div>
          </div>
        </ul>
        <mat-icon
          (click)="toggleMobileNavMenu()"
          class="d-flex d-lg-none"
          role="button"
          svgIcon="menu-icon"
        >
        </mat-icon>
      </nav>
      <ic-button
        (OnClick)="helpCenter()"
        *ngIf="hideNavItem"
        fxLayoutAlign="space-evenly center"
        icButtonType="filled-rounded"
        label="Help"
        size="large"
        type="submit"
      >
      </ic-button>
    </div>
  </div>
  <div *ngIf="!hideNavItem" id="underline"></div>
</header>
<app-help-center *ngIf="openHelp"></app-help-center>
