<header class="navbar">
  <div class="container">
    <div class="w-100 d-flex justify-content-between align-items-center">
      <div
        class="logo"
        (click)="goToHomePage()"
        (keydown.enter)="goToHomePage()"
        tabindex="0"
      >
        <img
          src="assets/images/stanbic_horizontal_white.svg"
          alt="logo"
          style="width: 100%"
        />
      </div>
      <nav
        class="d-flex align-items-md-center justify-content-end"
        *ngIf="!hideNavItem"
      >
        <ul [ngClass]="showMobilemenu ? 'show_menu' : 'hide_menu'">
          <ng-container *ngFor="let item of items">
            <li
              (click)="onNavTabClick()"
              (keydown.enter)="onNavTabClick()"
              tabindex="1"
            >
              <a
                [routerLink]="[item.route]"
                routerLinkActive="highlight_label"
                #element
                >{{ item?.label }}</a
              >
            </li>
          </ng-container>
          <div
            fxLayout="column"
            class="align_top_items dropdown pr-16 position-relative"
          >
            <ic-button
              fxLayoutAlign="space-evenly center"
              label="LOGIN"
              icButtonType="filled-blue"
              type="submit"
              size="large"
              class="login_btn"
              customButtonClass="w-100"
            >
            </ic-button>
            <div class="dropdown-content" fxLayout="column">
              <div fxLayout="column" class="bg-color plr-8">
                <span
                  class="flex-spaceAround-center h-50 plr-12 cursor-pointer"
                  (click)="openDropdown(1)"
                  [class.active-button]="expand === 1"
                  (keydown.enter)="openDropdown(1)"
                  tabindex="2"
                >
                  Net Banking
                  <mat-icon>keyboard_arrow_down</mat-icon>
                </span>
                <span *ngIf="expand === 1" fxLayout="column" class="sub-value">
                  <span
                    class="flex-spaceAround-center h-50 plr-8 cursor-pointer sub_value_menu"
                    (click)="redirectToInternet()"
                    (keydown.enter)="redirectToInternet()"
                    tabindex="3"
                  >
                    Personal
                    <mat-icon>keyboard_arrow_right</mat-icon>
                  </span>
                  <span
                    class="flex-spaceAround-center h-50 plr-8 cursor-pointer sub_value_menu"
                    (click)="redirectToSignIn()"
                    (keydown.enter)="redirectToSignIn()"
                    tabindex="4"
                  >
                    Corporate
                    <mat-icon>keyboard_arrow_right</mat-icon>
                  </span>
                </span>
              </div>
              <span
                class="flex-spaceAround-center bg-color h-50 plr-20 cursor-pointer"
              >
                Cards
                <mat-icon>keyboard_arrow_down</mat-icon>
              </span>
              <span
                class="flex-spaceAround-center bg-color h-50 plr-20 cursor-pointer"
              >
                Remit Money
              </span>
              <span
                class="flex-spaceAround-center bg-color h-50 plr-20 cursor-pointer"
                (click)="trackingStatus()"
                (keydown.enter)="trackingStatus()"
                tabindex="5"
              >
                Tracking Status
              </span>
            </div>
          </div>
        </ul>
        <mat-icon
          role="button"
          class="d-flex d-lg-none"
          (click)="toggleMobileNavMenu()"
          svgIcon="menu-icon"
        >
        </mat-icon>
      </nav>
      <ic-button
        *ngIf="hideNavItem"
        fxLayoutAlign="space-evenly center"
        label="Help"
        icButtonType="filled-rounded"
        (OnClick)="helpCenter()"
        type="submit"
        size="large"
      >
      </ic-button>
    </div>
  </div>
  <div *ngIf="!hideNavItem" id="underline"></div>
</header>
<app-help-center *ngIf="openHelp"></app-help-center>
