<div
  fxLayout="row wrap"
  fxLayout.lt-sm="column"
  fxLayoutAlign="end center"
  fxLayoutGap="10px"
>
  <!-- Approve Button -->
  <button
    type="button"
    mat-raised-button
    class="approveButton"
    (click)="updateRecord('Authorize')"
  >
    {{ "Approve" | translate }}
  </button>

  <!-- Reject Button-->
  <button
    type="button"
    mat-raised-button
    class="exitButton"
    (click)="updateRecord('Reject')"
  >
    {{ "Reject" | translate }}
  </button>

  <!-- Reverse Button-->
  <!-- <button
    type="button"
    mat-raised-button
    *ngIf="
      tellerOps &&
      auditLogData?.authStatus === 'AUTHORIZED' &&
      auditLogData?.createdBy == currentUser.username &&
      auditLogData?.transactionStatus != 'REVERTED'
    "
    class="exitButton"
    (click)="reverseTransaction()"
  >
    {{ "Reverse" | translate }}
  </button> -->

  <!-- Edit Button -->
  <!-- <button
    *ngIf="
      isEdit &&
      auditLogData?.recordStatus === 'OPEN' &&
      !hideEdit &&
      (maintTitle !== 'Instrument' ||
        auditLogData?.authStatus === 'UNAUTHORIZED')
    "
    type="button"
    mat-raised-button
    (click)="editRecord()"
    class="editButton"
  >
    {{ "Edit" | translate }}
  </button> -->

  <!-- Activate Button -->
  <!-- <button
    type="button"
    mat-raised-button
    *ngIf="
      isEdit &&
      auditLogData?.recordStatus === 'CLOSE' &&
      !hideActive &&
      maintTitle !== 'Open or Close Till / Vault'
    "
    class="editButton"
    (click)="updateRecord('Reopen')"
  >
    {{ "Activate" | translate }}
  </button> -->

  <!-- Deactivate Button -->
  <!-- <button
    type="button"
    mat-raised-button
    *ngIf="
      isEdit &&
      auditLogData?.recordStatus === 'OPEN' &&
      !hideEdit &&
      !hideActive &&
      maintTitle !== 'Open or Close Till / Vault'
    "
    class="deactivateButton"
    (click)="updateRecord('Close')"
  >
    {{ "Deactivate" | translate }}
  </button> -->

  <!-- Delete Button -->
  <!-- <button
    *ngIf="
      isEdit &&
      !hideDelete &&
      auditLogData?.oneTimeAuth === 'N' &&
      maintTitle !== 'Open or Close Till / Vault'
    "
    type="button"
    mat-raised-button
    class="deleteButton"
    (click)="updateRecord('Delete')"
  >
    {{ "Delete" | translate }}
  </button> -->

  <!-- Exit Button -->
  <button class="exitButton" mat-raised-button (click)="goBack()">
    {{ "Exit" | translate }}
  </button>
</div>
