<main>
  <div>
    <swiper
      [slidesPerView]="3"
      [spaceBetween]="50"
      (swiper)="setControlledSwiper($event)"
      [navigation]="{}"
      [pagination]="{ clickable: true }"
      [scrollbar]="{ draggable: true }"
      [watchSlidesProgress]="true"
    >
      <ng-template swiperSlide *ngFor="let imagesdata of dynamicList">
        <div class="image" fxLayoutGap="20px">
          <img
            class="image_img image_overlay--blur"
            [src]="mapUrl(imagesdata)"
            alt="Loan Service Product Image"
          />
          <div class="image_overlay">
            <div class="image_title">{{ imagesdata?.basisClass }}</div>
            <div class="image_description">{{ imagesdata?.description }}</div>
            <div class="button-container">
              <a
                class="applyButtonCarousel"
                (click)="moveToSubAccountPage(imagesdata)"
                >Apply Now</a
              >
            </div>
          </div>
        </div>
      </ng-template>
    </swiper>
  </div>
</main>
