<div class="scan-dialog-class" fxLayout="column" fxLayoutAlign="center center">
  <mat-icon (click)="close()" class="closebtn">clear</mat-icon>
  <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10">
    <div class="scantitle">
      {{ 'Scan your' }} {{ dialogData.name }}
      {{ 'to complete the verfication' }}
    </div>
    <div class="scansub">
      {{ 'Hold the device still, Look at the camera!' }}
    </div>
  </div>
  <div class="video-container" fxLayoutAlign="center">
    <div id="mainDiv">
      <div id="prompt-container">
        <p id="prompt">{{ prompt }}</p>
      </div>
      <video
        #video
        [height]="250"
        [width]="200"
        autoplay
        class="video"
        muted
      ></video>
      <div #canvas class="canvasDiv"></div>
    </div>
    <div *ngIf="imageData" class="captured-ima">
      <img [height]="270" [src]="imageData" [width]="370" alt="Scanned Image" />
    </div>
  </div>
  <div
    class="btns"
    fxLayout="row"
    fxLayoutAlign="center center"
    fxLayoutGap="15"
  >
    <button
      (click)="done()"
      *ngIf="scannedImage && !rescann"
      class="donebtn"
      mat-stroked-button
    >
      {{ 'DONE' }}
    </button>
    <button
      (click)="captureImage()"
      *ngIf="!scannedImage || isScanned || rescann"
      [ngClass]="perscentageCheck ? 'gray_Class' : ''"
      id="btn2"
      mat-stoked-button
    >
      {{ 'Scan' }}
    </button>
    <button
      (click)="rescan()"
      *ngIf="scannedImage && !rescann"
      class="rescanbtn"
      mat-stroked-button
    >
      {{ 'Re-Scan' }}
    </button>
    <button (click)="close()" id="btn3" mat-stoked-button>
      {{ 'Back' }}
    </button>
  </div>
</div>
