<div
  *ngIf="(selectedTab?.childTabs || []).length > 0"
  fxLayout="row"
  class="tab_button_group"
>
  <div
    *ngFor="let childTab of selectedTab?.childTabs"
    class="tab_button_wrapper mb-12"
  >
    <button class="tab_buttons" (click)="route(childTab?.route)">
      <div class="tab_icon_div">
        <mat-icon [svgIcon]="childTab.icon" matPrefix></mat-icon>
      </div>
      <div class="label text-center w-100">
        {{ childTab.screenName | translate }}
      </div>
    </button>
  </div>
</div>
