<div class="dialog">
  <div class="header">
    <h2>{{ 'Choose Account Type' }}</h2>
    <button mat-icon-button mat-dialog-close class="close-button">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div mat-dialog-content class="dialog-container">
    <div
      class="item"
      *ngFor="let account of accountTypes"
      (click)="selectAccountType(account.key)"
    >
      <div>
        <img
          src="../../../../../assets/images/create-account/{{ account.img }}"
        />
      </div>
      <div class="title">{{ account.title }}</div>
      <div class="sub-title">{{ account.description }}</div>
    </div>
  </div>
</div>
