<div
  [formGroup]="collateralDetailsForm"
  class="business-main"
  fxLayout="column"
>
  <mat-card *ngIf="creditGroup" class="default-card p-12">
    <span class="theme_gt_md">Credit Card Details</span>
    <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="1%">
      <div fxFlex="100">
        <ic-form-field
          [control]="creditGroup.get('description') | formcontrol"
          [icAlphaNumericWithSpace]="true"
          label="Description of Collateral"
        ></ic-form-field>
      </div>
      <div fxFlex="49">
        <div class="header_md_bold_black mb-8">
          {{ 'Ownership of the collateral *' | translate }}
        </div>
        <div fxLayout="row" fxLayoutGap="50px">
          <ic-radio-button
            *ngFor="let status of ownershipStatus"
            [control]="creditGroup.get('ownership') | formcontrol"
            [label]="status.label"
            [value]="status.value"
          ></ic-radio-button>
        </div>
      </div>
      <div fxFlex="49">
        <ic-form-field
          [control]="creditGroup.get('assetMonetaryWorth') | formcontrol"
          [icNumbersOnly]="true"
          label="Asset Monetary Worth"
        ></ic-form-field>
      </div>
    </div>
  </mat-card>

  <mat-card *ngIf="vafGroup" class="default-card p-12">
    <span class="theme_gt_md">VAF Details</span>
    <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="1%">
      <div fxFlex="100">
        <ic-form-field
          [control]="vafGroup.get('description') | formcontrol"
          [icAlphaNumericWithSpace]="true"
          label="Description of Collateral"
        ></ic-form-field>
      </div>
      <div fxFlex="49">
        <div class="header_md_bold_black mb-8">
          {{ 'Ownership of the collateral *' | translate }}
        </div>
        <div fxLayout="row" fxLayoutGap="50px">
          <ic-radio-button
            *ngFor="let status of ownershipStatus"
            [control]="vafGroup.get('ownership') | formcontrol"
            [label]="status.label"
            [value]="status.value"
          ></ic-radio-button>
        </div>
      </div>
      <div fxFlex="49">
        <ic-form-field
          [control]="vafGroup.get('assetMonetaryWorth') | formcontrol"
          [icNumbersOnly]="true"
          label="Asset Monetary Worth"
        ></ic-form-field>
      </div>
    </div>
  </mat-card>

  <div class="align-section" fxLayout="row wrap" fxLayoutGap="1%">
    <div fxFlex="49">
      <ic-form-field
        [control]="
          collateralDetailsForm.get('percentageOfSecurityCover') | formcontrol
        "
        [decimalPlaces]="3"
        [icTwoDigitDecimalNumber]="true"
        [numLength]="2"
        label="(%)of Security Cover"
      >
      </ic-form-field>
    </div>
    <div fxFlex="49">
      <ic-form-field
        [control]="collateralDetailsForm.get('totalAssetWorth') | formcontrol"
        [icNumbersOnly]="true"
        label="Total Asset Worth"
      >
      </ic-form-field>
    </div>
    <div fxFlex="49">
      <ic-select
        [control]="collateralDetailsForm.get('loanTypeId') | formcontrol"
        [options]="loanTypeList"
        bindLabelKey="values"
        bindValueKey="id"
        label="Loan Type"
      >
      </ic-select>
    </div>
  </div>

  <div
    fxFlex="100"
    fxLayout="row wrap"
    fxLayoutGap="1%"
    style="margin-top: 50px"
  >
    <div>
      <ic-button
        (OnClick)="saveCollateralDetails()"
        [icButtonType]="'filled-rounded'"
        [label]="'Confirm' | translate"
        [type]="'submit'"
        size="large"
      >
      </ic-button>
    </div>
    <div>
      <ic-button
        (OnClick)="onBack()"
        [label]="'Back'"
        [type]="'button'"
        icButtonType="ghost-rounded-danger"
        size="large"
      >
      </ic-button>
    </div>
  </div>
</div>
