<div
  class="business-main"
  [formGroup]="collateralDetailsForm"
  fxLayout="column"
>
  <mat-card class="default-card p-12" *ngIf="creditGroup">
    <span class="theme_gt_md">Credit Card Details*</span>
    <div fxLayout="row wrap" fxLayoutGap="1%" fxLayoutAlign="center center">
      <div fxFlex="100">
        <ic-form-field
          [icAlphaNumericWithSpace]="true"
          label="Description of Collateral"
          [control]="creditGroup.get('description') | formcontrol"
        ></ic-form-field>
      </div>
      <div fxFlex="49">
        <div class="header_md_bold_black mb-8">
          {{ 'Ownership of the collateral*' | translate }}
        </div>
        <div fxLayout="row" fxLayoutGap="50px">
          <ic-radio-button
            *ngFor="let status of ownershipStatus"
            [control]="creditGroup.get('ownership') | formcontrol"
            [value]="status.value"
            [label]="status.label"
          ></ic-radio-button>
        </div>
      </div>
      <div fxFlex="49">
        <ic-form-field
          [icNumbersOnly]="true"
          label="Asset Monetary Worth"
          [control]="creditGroup.get('assetMonetaryWorth') | formcontrol"
        ></ic-form-field>
      </div>
    </div>
  </mat-card>

  <mat-card class="default-card p-12" *ngIf="vafGroup">
    <span class="theme_gt_md">VAF Details*</span>
    <div fxLayout="row wrap" fxLayoutGap="1%" fxLayoutAlign="center center">
      <div fxFlex="100">
        <ic-form-field
          [icAlphaNumericWithSpace]="true"
          label="Description of Collateral"
          [control]="vafGroup.get('description') | formcontrol"
        ></ic-form-field>
      </div>
      <div fxFlex="49">
        <div class="header_md_bold_black mb-8">
          {{ 'Ownership of the collateral*' | translate }}
        </div>
        <div fxLayout="row" fxLayoutGap="50px">
          <ic-radio-button
            *ngFor="let status of ownershipStatus"
            [control]="vafGroup.get('ownership') | formcontrol"
            [value]="status.value"
            [label]="status.label"
          ></ic-radio-button>
        </div>
      </div>
      <div fxFlex="49">
        <ic-form-field
          [icNumbersOnly]="true"
          label="Asset Monetary Worth"
          [control]="vafGroup.get('assetMonetaryWorth') | formcontrol"
        ></ic-form-field>
      </div>
    </div>
  </mat-card>

  <div fxLayout="row wrap" class="align-section" fxLayoutGap="1%">
    <div fxFlex="49">
      <ic-form-field
        label="(%)of Security Cover"
        [control]="
          collateralDetailsForm.get('percentageOfSecurityCover') | formcontrol
        "
        [icNumbersOnly]="true"
      >
      </ic-form-field>
    </div>
    <div fxFlex="49">
      <ic-form-field
        [icNumbersOnly]="true"
        label="Total Asset Worth"
        [control]="collateralDetailsForm.get('totalAssetWorth') | formcontrol"
      >
      </ic-form-field>
    </div>
    <div fxFlex="49">
      <ic-select
        label="Loan Type"
        [options]="loanTypeList"
        bindValueKey="id"
        bindLabelKey="values"
        [control]="collateralDetailsForm.get('loanTypeId') | formcontrol"
      >
      </ic-select>
    </div>
  </div>

  <div
    fxFlex="100"
    fxLayout="row wrap"
    fxLayoutGap="1%"
    style="margin-top: 50px"
  >
    <div>
      <ic-button
        [label]="'Confirm' | translate"
        [type]="'submit'"
        size="large"
        (OnClick)="saveCollateralDetails()"
        [icButtonType]="'filled-rounded'"
      >
      </ic-button>
    </div>
    <div>
      <ic-button
        [label]="'Back'"
        icButtonType="ghost-rounded-danger"
        size="large"
        (OnClick)="onBack()"
        [type]="'button'"
      >
      </ic-button>
    </div>
  </div>
</div>
