<div class="self-transfer-container" fxLayout="column">
  <form [formGroup]="selfTransferForm" fxFlex="100" fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <div class="row px-12">
        <app-ic-custom-pay-from
          [control]="selfTransferForm.get('payFrom')"
          [inputLabel]="'Pay From' | translate"
          bindValueKey="accountNo"
          bindLabelKey="accountNo"
          [currencyCode]="selectedCurrency"
          (selectionChange)="payAccount($event)"
          [accountType]="accountType"
        ></app-ic-custom-pay-from>
        <!-- <ic-select
          label="Pay From"
          [control]="selfTransferForm.get('payFrom')"
          (selectionChange)="payAccount($event)"
          [options]="accountType"
          [bindValueKey]="'accountNo'"
          [bindLabelKey]="'accountNo'"
          selectionType="single"
        >
        </ic-select> -->
      </div>
    </div>
    <h1 class="wrapper_row light-blue-title">
      {{ 'Transfer To' | translate }}
    </h1>
    <div class="row px-12">
      <div fxFlex="25" class="input_wrapper">
        <!-- <app-searchable-select
          [control]="selfTransferForm.get('type')"
          [inputLabel]="'Type' | translate"
          [items]="categoryTypes"
          bindValueKey="value"
          bindLabelKey="value"
          (selectionChange)="updateFilteredPayToList($event)"
          [showOutsideLabel]="true"
        ></app-searchable-select> -->
        <ic-select
          label="Type"
          [control]="selfTransferForm.get('type')"
          [options]="categoryTypes"
          [bindValueKey]="'value'"
          [bindLabelKey]="'value'"
          selectionType="single"
          placeholder="Type"
        >
        </ic-select>
      </div>
      <div fxFlex="25" class="input_wrapper">
        <!-- <app-searchable-select
          [control]="selfTransferForm.get('payTo')"
          [inputLabel]="'Pay To' | translate"
          [items]="filteredAccountList"
          bindValueKey="accountNo"
          bindLabelKey="accountNo"
          (selectionChange)="checkCreditDetails($event)"
          [showOutsideLabel]="true"
        ></app-searchable-select> -->
        <ic-select
          label="Pay To"
          placeholder="Pay To"
          [control]="selfTransferForm.get('payTo')"
          [options]="filteredAccountList"
          [bindValueKey]="'accountNo'"
          [bindLabelKey]="'accountNo'"
          selectionType="single"
          (selectionChange)="checkCreditDetails($event)"
        >
        </ic-select>
        <p *ngIf="toAccount">
          <span class="text-small"
            >{{ toAccount?.accountType | translate }} |
            {{ 'Balance' | translate }}:
          </span>
          <span class="text-normal">
            {{
              toAccountBalance
                | currency: this.selfTransferForm.get('creditCurrency').value
            }}
          </span>
        </p>
      </div>
      <div fxFlex="25" class="input_wrapper">
        <ic-form-field
          [control]="selfTransferForm.get('amount')"
          [label]="'Amount' | translate"
          placeholder="Amount"
        ></ic-form-field>
      </div>
      <div fxLayoutAlign="center start" fxFlex="25" class="input_wrapper">
        <ic-form-field
          [control]="selfTransferForm.get('remark')"
          [label]="'Remark' | translate"
          placeholder="Remark"
        ></ic-form-field>
      </div>
    </div>
  </form>
  <div fxFlex="100" fxLayoutAlign="end center" fxLayoutGap="20">
    <ic-button
      [label]="'Cancel' | translate"
      icButtonType="outlined"
      type="submit"
      size="large"
    ></ic-button>
    <ic-button
      label="Proceed"
      icButtonType="filled"
      type="submit"
      size="large"
    ></ic-button>
  </div>
</div>
