<div fxLayout="column">
  <div class="kycToggle row">
    <button
      class="col-md-6"
      [ngClass]="kycToggle == 'kyc' ? 'toggled' : ''"
      (click)="kycToggle = 'kyc'"
      mat-raised-button
    >
      Select Kyc
    </button>
    <button
      class="col-md-6"
      [ngClass]="kycToggle == 'addDoocuent' ? 'toggled' : ''"
      (click)="kycToggle = 'addDoocuent'"
      mat-raised-button
    >
      Use Other Documents
    </button>
  </div>

  <!--select start here -->

  <!-- select kyc  ends here -->

  <div class="account-mobile-verification" *ngIf="kycToggle == 'kyc'">
    <div class="col-div2">
      <div>
        <div class="standard-font-blue">Kindly provide your National ID</div>
        <div class="standard-txtField-phone-main">
          <input
            matInput
            type="text"
            class="inputText"
            [(ngModel)]="phone"
            maxlength="10"
          />
          <button
            class="confirm-button"
            mat-raised-button
            (click)="getOTP()"
            [disabled]="isValidated()"
            [ngClass]="{ 'disabled-field': isValidated() }"
          >
            Get OTP
          </button>
        </div>

        <div *ngIf="showOTPSection">
          <div class="standard-font-blue full-width mt-125">
            Enter OTP to verify
          </div>

          <div fxLayout="column">
            <div class="otp_field">
              <ng-otp-input
                [config]="config"
                (onInputChange)="onOtpChange($event)"
              >
              </ng-otp-input>
            </div>

            <div class="standard-font-black">
              <span *ngIf="resendLink"
                ><a (click)="getOTP()" class="resend-link"> Resend </a></span
              >
              <span *ngIf="!resendLink"
                >Resend the OTP
                <span class="standard-font-blue"
                  >({{ displaySecond }} min)</span
                ></span
              >
            </div>
            <div fxFlex="100" fxLayout="column" fxLayoutGap="20">
              <div class="standard-auth-checkbox-container">
                <mat-checkbox
                  class="custom-checkbox"
                  [checked]="agreed"
                  class="primary"
                >
                  <span class="standard-font-gray">
                    I authorize DemoBank and it’s representatives to email, call
                    or SMS me. This Consent will override any registration from
                    DNC/NDNC
                  </span>
                </mat-checkbox>
              </div>
              <div class="button-section">
                <button
                  class="confirm-button"
                  [ngStyle]="{
                    cursor: otp?.length !== 6 ? 'not-allowed' : 'pointer'
                  }"
                  mat-raised-button
                  (click)="onVerify()"
                >
                  Verify
                </button>
                <button
                  class="back-button"
                  mat-raised-button
                  (click)="onExit()"
                  style="color: #b20000; margin-left: 5px"
                >
                  Exit
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- other documents start here -->
  <div fxLayout="column" *ngIf="kycToggle == 'addDoocuent'">
    <form
      *ngIf="createDocumentForm"
      fxLayout="column"
      fxFlex="100"
      [formGroup]="createDocumentForm"
    >
      <div formArrayName="otherDocument">
        <div *ngFor="let denomDetai of otherDocument().controls; let i = index">
          <mat-card fxFlex="98%" fxLayout="column" [formGroupName]="i">
            <div fxLayout="column" class="outer-div" fxFlex="100">
              <div fxLayout="column">
                <div class="text-header">
                  <div fxFlex="80">Document {{ i + 1 }}</div>
                  <div fxFlex="20">
                    <button class="deleteButton" (click)="removeCurrency(i)">
                      Delete
                    </button>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 col-12">
                    <mat-form-field
                      fxFlex="100"
                      class="borderColor"
                      appearance="outline"
                    >
                      <mat-label class="label_input">Document Type</mat-label>
                      <mat-select
                        appearance="outline"
                        class="mat_selection"
                        formControlName="documentType"
                      >
                        <mat-option class="option_font" value="Aadhar Card"
                          >Aadhar Card</mat-option
                        >
                        <mat-option class="option_font" value="Pan Card"
                          >Pan Card</mat-option
                        >
                        <mat-option class="option_font" value="PassPort"
                          >Pass Port</mat-option
                        >
                      </mat-select>
                      <mat-error> Please Select Document Type </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-md-6 col-12">
                    <mat-form-field appearance="outline" style="display: block">
                      <mat-label class="custom-mat-label"
                        >Document Number</mat-label
                      >
                      <input matInput formControlName="documentNumber" />
                    </mat-form-field>
                  </div>
                </div>
                <ng-container>
                  <mat-card class="card-subdiv">
                    <div
                      class="doc_upload"
                      fxFlex="100"
                      #fileInput
                      (click)="fileBrowseHandler($event, i)"
                    >
                      <div class="drag_drop" fxFlex="90">
                        <h3 class="text-header">Upload Document</h3>
                        <p>
                          On desktop, Simply drag and drop your file in this
                          field. acceptable formats: JPEG, JPG or PNG.
                        </p>
                      </div>
                      <label for="fileDropRef" class="doc_img" fxFlex="10">
                        <img src="assets/images/Group 2979.svg" />
                      </label>
                    </div>
                    <ng-container
                      *ngFor="let file of getFileInfo(i); let fileIndx = index"
                    >
                      <div class="upload_img" fxFlex="100">
                        <div class="img_box">
                          <img [src]="file?.url" />
                          <!-- <img src="assets/images/Rectangle 1779.png" /> -->
                        </div>
                        <div class="img_container">
                          <p class="img_name">{{ file?.name }}</p>
                          <div class="progress-cont">
                            <div class="progress" [style.width]="'100%'"></div>
                          </div>
                        </div>
                        <button
                          mat-icon-button
                          class="btn"
                          (click)="deleteFile(fileIndx, file)"
                        >
                          <mat-icon color="warn">delete</mat-icon>
                        </button>
                      </div>
                    </ng-container>
                  </mat-card>
                </ng-container>
              </div>
            </div>
          </mat-card>
        </div>
      </div>
    </form>
    <mat-card class="text-doc card-div" (click)="addDocument()"
      >Add another Document</mat-card
    >
    <div>
      <button
        type="button"
        mat-raised-button
        class="saveButton"
        (click)="onSubmit()"
      >
        Submit
      </button>
      <button type="button" mat-raised-button class="backButton">Back</button>
    </div>
  </div>
  <!-- other documents ends here -->
</div>
