<form *ngIf="repaymentForm" [formGroup]="repaymentForm">
  <h3>Loan Repayment</h3>
  <mat-card>
    <div class="w-100" fxLayout="column">
      <div class="row" fxFlex="100" class="blue-box" fxLayoutGap="30px">
        <div fxLayout="column" fxFlex="40">
          <app-searchable-select
            [control]="repaymentForm.get('creditAccount') | formcontrol"
            [inputLabel]="'Loan Account Number'"
            bindValueKey="cbsAccountNumber"
            bindLabelKey="cbsAccountNumber"
            direction="row"
            [items]="loanDetails"
            (selectionChange)="fetchInstallment()"
          ></app-searchable-select>
        </div>
        <!-- loan details -->
        <div fxFlex="13" *ngFor="let item of accountDetails?.slice(0, 4)">
          <p class="label">{{ item?.headerCell }}</p>
          <span class="value" *ngIf="installmentDetails">
            {{ installmentDetails[item?.headerDef] }}</span
          >
        </div>
        <div *ngIf="accountDetails?.length > 4">
          <mat-icon svgIcon="arrow-down"></mat-icon>
        </div>
      </div>

      <!-- payment detail -->
      <h3 class="wrapper_row light-blue-title mt-12">
        {{ 'Payment Detail' | translate }}
      </h3>

      <!-- account number -->
      <app-ic-custom-pay-from
        [control]="repaymentForm.get('debitAccount') | formcontrol"
        [inputLabel]="'Account Number' | translate"
        fxFlex="35"
      ></app-ic-custom-pay-from>

      <div fxFlex="100">
        <!-- payment type -->
        <div fxFlex="25" class="input_wrapper">
          <app-searchable-select
            [items]="genericValue?.PAYMENTTYPE"
            [control]="repaymentForm.get('paymentType') | formcontrol"
            [inputLabel]="'Payment Type'"
            bindLabelKey="values"
            [showOutsideLabel]="true"
            bindValueKey="values"
          ></app-searchable-select>
        </div>

        <div fxFlex="25" class="input_wrapper">
          <app-ic-custom-input
            [control]="repaymentForm.get('creditAmount') | formcontrol"
            [inputLabel]="'Loan Repayment Amount' | translate"
          ></app-ic-custom-input>
        </div>

        <div fxFlex="25" class="input_wrapper">
          <app-ic-custom-input
            [control]="repaymentForm.get('totalChargeAmount') | formcontrol"
            [inputLabel]="'Total Charge Amount' | translate"
            matSuffix="info"
            [readonly]="true"
          ></app-ic-custom-input>
        </div>

        <div fxFlex="25" class="input_wrapper">
          <app-ic-custom-input
            [control]="
              repaymentForm.get('totalTransactionAmount') | formcontrol
            "
            [inputLabel]="'Total Transaction Amount'"
            [hintText]="
              'Equivalent Amount:  ' +
              repaymentForm.get('equivalentAmount')?.value
            "
            [readonly]="true"
          ></app-ic-custom-input>
        </div>
      </div>

      <div
        fxFlex="15"
        fxLayout="row"
        fxLayoutGap="10"
        fxLayoutAlign="end center"
      >
        <app-ic-action-button
          (onClick)="repaymentForm.reset()"
          [buttonName]="'Cancel' | translate"
          buttonType="stroked"
        ></app-ic-action-button>
        <app-ic-action-button
          [buttonName]="'Submit' | translate"
          (onClick)="saveRepayment()"
          buttonType="filled"
        ></app-ic-action-button>
      </div>
    </div>
  </mat-card>
</form>
