@media screen and (max-width: 768px) {
  .img-section {
    display: none !important;
  }
  .loan-container {
    justify-content: center !important;
  }
  .loan-main-text {
    max-width: 100% !important;
    justify-content: center !important  ;
    align-items: center !important;
  }
}

.product-container {
  display: flex;
  flex-direction: row;
  margin: 20px;

  .img-section {
    display: flex !important;
    flex-direction: column;
    width: 50%;

    .image-mask-wrapper {
      position: relative;
      width: 399px;
      height: 333px;
      margin-left: 20px;

      .background-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 12px;
        filter: brightness(0.5);
      }

      .masked-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;

        -webkit-mask-image: url('/assets/images/stabic-shield.svg');
        mask-image: url('/assets/images/stabic-shield.svg');

        -webkit-mask-size: contain;
        mask-size: contain;

        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;

        -webkit-mask-position: center;
        mask-position: center;
      }
    }
  }

  .loan-main-text {
    display: flex;
    flex-direction: column;
    width: 50%;
    // padding-left: 10%;

    .standard-content-title-header {
      position: relative;
      display: inline-flex;
      color: #0033a1;
      font-family: 'Benton Sans', sans-serif;
      font-size: 30px;
      font-style: normal;
      font-weight: 700;
      line-height: 56px;
      margin-bottom: 20px;

      .content-circle {
        position: absolute;
        border-radius: 50%;
        background: rgba(219, 236, 255, 0.8392156863);
        width: 85px;
        height: 85px;
        margin-left: -20px;
        margin-top: -15px;
        z-index: -1;
        // animation: content-circle 1.5s ease-in-out infinite alternate;
      }
      // @keyframes content-circle {
      //   0% {
      //     left: 0%;
      //   }
      //   100% {
      //     left: 15%;
      //   }
      // }
    }

    .standard-content {
      color: #424545;
      font-family: Benton Sans;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 177.5%;
    }

    .blue-bullets {
      list-style: inside;
    }

    .blue-bullets li {
      list-style-type: disc;
      margin: 10px 0px 10px -35px;
      color: #0033a1;
      font-family: Benton Sans;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 42.5px;
    }

    .confirm-button {
      top: 0px !important;
      height: 45px;
      right: 0px !important;
    }

    .standard-link-less {
      color: #06113c;
      text-align: center;
      font-family: Benton Sans;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      text-decoration-line: underline;
      margin: 15%;
    }
  }
}
.emi-calculator-header {
  margin-top: 30px;
  color: var(--dard, #06113c);
  text-align: center;
  font-family: Arial Rounded MT Bold;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 74.097px;
  letter-spacing: -0.24px;
}
.show-hyperLink {
  color: #0033a1;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer !important;
}
.feature_name {
  color: #051a2d;
  font-family: Benton Sans;
  font-size: 16px;
  margin: 0;
  font-weight: 700;
  padding: 5px 0px;
}
.more-less-text {
  color: #06113c;
  border: none !important;
  box-shadow: none !important;
  text-decoration: underline;
  font-weight: 600;
  padding-left: 6%;
}
$btnBackground: #06113c;

.confirm-button:hover {
  box-shadow:
    0px 0px 0px 2.5px #fff,
    0px 0px 0px 5px $btnBackground,
    0px 0px 0px 10px white,
    0px 0px 0px 0px $btnBackground;
  background: rgba(219, 236, 255, 0.8392156863) !important;
  color: $btnBackground !important;
  margin-top: 5px;
  font-size: 600 !important;
  height: 40px !important;
}
