<div class="mt-12">
  <app-tab-link
    [tabs]="data ? data : transactionList"
    (changeTab)="selectedTab = $event"
  ></app-tab-link>
  <div
    *ngIf="selectedTab?.childTab?.length > 0"
    fxLayout="row"
    class="tab_button_group"
  >
    <div
      *ngFor="let childTab of selectedTab?.childTab"
      class="tab_button_wrapper mb-12"
    >
      <button class="tab_buttons" (click)="route(childTab?.route)">
        <div class="tab_icon_div">
          <mat-icon [svgIcon]="childTab.icon" matPreffix></mat-icon>
        </div>
        <div class="label text-center w-100">
          {{ childTab.screenName | translate }}
        </div>
      </button>
    </div>
  </div>
</div>
