.info-cont {
  border: 2px solid white;
  padding: 10px;
  border-radius: 12px;
  h4 {
    margin-bottom: 10px;
  }
  p {
    font-size: 12px !important;
  }
  a {
    color: var(--ic-text-red);
  }
}
.btn-cont {
  margin-top: 20px;
}
.acc-cont {
  background-color: white;
  cursor: pointer;
  margin-bottom: 20px;
  border-radius: 12px;
  padding: 20px;
  P {
    margin: 0px !important;
  }
  h5 {
    margin: 0px !important;
  }
}
