.rounded {
  border-radius: 8px;
  &-circle {
    border-radius: 50%;
  }
  &.mat-progress-bar,
  .mat-progress-bar-fill {
    border-radius: 10px;
    overflow: hidden;
  }
}
.overflow-hidden {
  overflow: hidden !important;
}

// Alignment
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.float-none {
  float: none;
}

// BACKGROUND SIZES
.background-size-cover {
  background-size: cover;
}
.background-size-contain {
  background-size: contain;
}
.background-size-100 {
  background-size: 100%;
}

[dir="rtl"] {
  .float-left {
    float: right;
  }
  .float-right {
    float: left;
  }
}
.wrapper_row {
  padding-left: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.light-blue-title {
  text-align: left;
  font: normal normal bold 16px/19px Raleway;
  letter-spacing: 0px;
  color: #377dff;
  opacity: 1;
  right: 1%;
}
