.ellipse {
  background-color: #ffffff;
  height: 100px;
  width: 100%;
  border-radius: 50%;
  top: 50px;
  z-index: 100;
  position: relative;
}

.convex {
  background-color: #ffffff;
  height: 100px;
  width: 100%;
  border-radius: 50%;
  bottom: 50px;
  z-index: 100;
  position: relative;
  margin-bottom: -90px;
}

.image_img {
  display: block;
  width: 100%;
  height: 100%;
}

.swiper-button-next::after {
  content: none !important;
}

.swiper-button-prev::after {
  content: none !important;
}
