<section class="carousel py-5 py-md-0" [inViewAnimate]="'fade-up'" style="animation-delay: 0.1s">
  <div class="px-3">
    <h1 class="section_heading">{{ businessSuiteName }}</h1>
    <p class="section_subHeading">
      Open your account in a breeze and start banking hassle-free.
    </p>
  </div>

  <div class="carousel_section" [inViewAnimate]="'zoom-in'" style="animation-delay: 0.1s">
    <div class="ellipse"></div>
    <swiper [config]="swiperConfig" [navigation]="true">
      <ng-template *ngFor="let imagesdata of dynamicList; let i = index" swiperSlide>
        <div [ngStyle]="
            backgroundStyles[i] || {
              'background-image': 'url(assets/images/default_fallback_img.svg)',
            }
          " class="single_card" [inViewAnimate]="'zoom-in'" style="animation-delay: 0.3s">
          <div class="card_overlay">
            <div>
              <div class="card_title">{{ imagesdata?.basisClass }}</div>
              <div class="card_description">
                {{ imagesdata?.description }}
              </div>
            </div>
            <div class="button-container py-16">
              <ic-button (click)="moveToSubAccountPage(imagesdata.basisClass)"
                icButtonType="outlined-rounded-transparent" label="Apply now" size="medium" type="submit"></ic-button>
            </div>
          </div>
        </div>
      </ng-template>
    </swiper>
    <div class="convex"></div>
  </div>
</section>