<section
  class="carousel py-5 py-md-0"
  data-aos="fade-top"
  data-aos-delay="200"
  data-aos-duration="500"
>
  <div class="px-3">
    <h1 class="section_heading">{{ businessSuiteName }}</h1>
    <p class="section_subHeading">
      Open your account in a breeze and start banking hassle-free.
    </p>
  </div>

  <div
    class="carousel_section"
    data-aos="zoom-in"
    data-aos-delay="200"
    data-aos-duration="500"
  >
    <div class="ellipse"></div>
    <swiper [config]="swiperConfig" [navigation]="true">
      <ng-template
        swiperSlide
        *ngFor="let imagesdata of dynamicList; let i = index"
      >
        <div
          class="single_card"
          [ngStyle]="
            backgroundStyles[i] || {
              'background-image': 'url(assets/images/default_fallback_img.svg)',
            }
          "
          data-aos="zoom-out"
          data-aos-delay="200"
          data-aos-duration="500"
        >
          <div class="card_overlay">
            <div>
              <div class="card_title">{{ imagesdata?.basisClass }}</div>
              <div class="card_description">
                {{ imagesdata?.description }}
              </div>
            </div>
            <div class="button-container py-16">
              <ic-button
                label="Apply now"
                icButtonType="outlined-rounded-transparent"
                type="submit"
                size="medium"
                (click)="moveToSubAccountPage(imagesdata.basisClass)"
              ></ic-button>
            </div>
          </div>
        </div>
      </ng-template>
    </swiper>
    <div class="convex"></div>
  </div>
</section>
