.popup-content {
  max-height: 65vh;
  overflow-y: auto;
  padding-right: 1rem;
  margin-top: 1rem;
}

.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.25rem;
  font-weight: 600;
}
