.top-performing {
  padding: 2rem 10%;
}

.cards-screen {
  margin: 20px;

  .mar-20 {
    margin-top: 20px;
  }

  

  .top-section {
    display: flex;
    flex-direction: row;
    width: 100%;

    .col-1 {
      display: flex;
      flex-direction: column;
      width: 50%;

      .top-header {
        color: #06113c;
        font-family: Arial Rounded MT Bold;
        font-size: 64px;
        font-style: normal;
        font-weight: 400;
        line-height: 80.097px;
        /* 125.152% */
        letter-spacing: -0.32px;
      }

      .top-desc {
        color: #4c5371;
        font-family: Poppins;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
      }
    }

    .col-2 {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      width: 50%;

      .vertical-move {
        -webkit-animation: mover 1s infinite alternate;
        animation: mover 1s infinite alternate;

        @-webkit-keyframes mover {
          0% {
            transform: translateY(0);
          }

          100% {
            transform: translateY(-10px);
          }
        }

        @keyframes mover {
          0% {
            transform: translateY(0);
          }

          100% {
            transform: translateY(-10px);
          }
        }
      }

      img {
        object-fit: contain;
        width: 57%;
        max-width: 100%;
        height: auto;
      }
    }
  }

  .header {
    color: #06113c;
    text-align: center;
    font-family: Arial Rounded MT Bold;
    font-size: 48px;
    font-style: normal;
    text-align: center;
    font-weight: 400;
    line-height: 74.097px;
    letter-spacing: -0.24px;
  }

  .desc {
    color: #4c5371;
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
  }
}

.hand-section {
  flex-direction: row;
  position: absolute;
  justify-content: end;
  float: right;
  left: 61.7%;
  top: 62%;
}
