.blue_card_dflt {
  background-color: #f2f7ff;
  padding: 16px 16px;
  margin: 5px;
}
.toggle-div {
  display: flex;
  background-color: #f5f7fb;
  border-radius: 6px;
  opacity: 1;
  padding: 5px 15px;
  align-items: center;
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  font-weight: 600;
  color: #707070;
}
.custom_card_footer {
  .footer_icon {
    color: #00205c;
    font-weight: 600;
    .mat-icon {
      height: 16px;
      width: 16px;
    }
  }
  .footer_contain {
    padding-left: 20px;
    font-family: 'Work Sans', sans-serif;
    font-size: 12px;
  }
}
::ng-deep .mat-slide-toggle-thumb-container {
  position: absolute;
  top: 2px !important;
}
