<div fxFlex="100" class="chartPart" fxLayout="column">
  <div fxFlex="15" fxLayout="row">
    <div fxFlex="50" fxLayout="column" fxLayoutAlign="center center">
      <div class="label-l">{{ labelOne || 'Deposit Amount' | translate }}</div>
      <div class="labelval-l" *ngIf="data">₹{{ data?.depositAmount }}</div>
    </div>
    <div fxFlex="50" fxLayout="column" fxLayoutAlign="center center">
      <div class="label-l">{{ labelTwo || 'Maturity Amount' | translate }}</div>
      <div class="labelval-l" *ngIf="data">₹{{ data?.maturityAmount }}</div>
    </div>
  </div>

  <app-chart fxFlex="45" [dynamicCharData]="chartData"></app-chart>
  <div
    [ngClass]="!loanDetailsSection ? 'details-section' : ''"
    fxFlex="25"
    fxLayout="row wrap"
  >
    <ng-container *ngFor="let details of chartSectionDetails; let i = index">
      <div
        [fxFlex]="!loanDetailsSection ? 50 : 30"
        fxLayout="column"
        fxLayoutAlign="center center"
      >
        <div class="label">{{ details.headerCell | translate }}</div>
        <div
          [ngClass]="loanDetailsSection && i > 2 ? 'blueVal' : 'labelval'"
          *ngIf="data"
        >
          <ng-container *ngIf="details.headerCell.includes('Interest Rate')">
            {{ data[details.headerDef] ?? '-' }}% p.a
          </ng-container>
          <ng-container *ngIf="details.headerCell === 'Interest Amount'">
            ₹{{ data[details.headerDef] ?? '-' }}
          </ng-container>
          <ng-container
            *ngIf="
              !details.headerCell.includes('Interest Rate') &&
              details.headerCell !== 'Interest Amount'
            "
          >
            {{ data[details.headerDef] ?? '-' }}
          </ng-container>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="autoCheck">
      <div fxFlex="50" fxLayout="column" fxLayoutAlign="center center">
        <mat-checkbox class="customCheckBox">{{
          'Auto Renew' | translate
        }}</mat-checkbox>
      </div>
    </ng-container>
  </div>
  <div
    *ngIf="buttonData?.length"
    fxFlex="15"
    fxLayout="row"
    fxLayoutGap="10"
    fxLayoutAlign="center center"
  >
    <app-ic-action-button
      [buttonName]="buttonData[0]?.stroked | translate"
      buttonType="stroked"
      (onClick)="cancle.emit('0')"
    ></app-ic-action-button>
    <app-ic-action-button
      [buttonName]="buttonData[0]?.filled | translate"
      buttonType="filled"
      (onClick)="submit.emit('1')"
    ></app-ic-action-button>
  </div>
</div>
