.chartPart {
  border-radius: 12px;
  background-image: url("/assets/images/calc-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  .label-l {
    color: #606c8d;
    font-size: 17px;
    font-family: "Raleway";
    font-weight: 600;
  }
  .labelval-l {
    color: #060606;
    font-size: 17px;
    font-family: "Poppins";
    font-weight: 600;
    word-break: break-all;
  }
  .details-section {
    > div {
      &:nth-child(1),
      &:nth-child(3) {
        border-right: 2px solid #dedede;
      }
    }
  }
  // .loan-section {
  //   > .labelval {
  //     &:nth-child(4),
  //     &:nth-child(5),
  //     &:nth-child(6) {
  //       color: #377dff;
  //     }
  //   }
  // }
  .label {
    color: #606c8d;
    font-size: 15px;
    font-family: "Raleway";
    font-weight: 600;
  }
  .labelval {
    color: #060606;
    font-size: 15px;
    font-family: "Poppins";
    font-weight: 600;
    word-break: break-all;
  }
  .blueVal {
    font-size: 15px;
    font-family: "Poppins";
    font-weight: 600;
    word-break: break-all;
    color: #377dff;
  }
}
