// Breakpoints
$Mobiles: 556px;
$Tablets: 992px;

// Geadient background
$primaryBgColor: #004c97;
$secondaryBgColor: #051a2d;
$gradientBg: linear-gradient(90deg, $secondaryBgColor, $primaryBgColor);

// Text
$primaryTextColor: #004c97;
$secondaryText: #707070;
$disabledColor: #d6d6d6;
$textRed: #b20000;

// Shadow
$inputBoxShadow: 0 3px 10px #00000017;
$buttonShadow: 3px 3px 15px #0000000f;

// Border
$borderRadius: 12px;

// Data Table Status
$activeBg: #ddf8f1;
$activeText: #008461;
$inactiveBg: #ffe7e8;
$inactiveText: #bc2020;
$unapprovedText: #d68c00;
$approvedText: #008461;
$authBtnColor: #0049a1;

$evenRowBg: rgb(255, 255, 255);
$oddRowBg: #f4f5ff;
