<div fxLayout="column">
  <mat-card class="header-card">
    <!-- BEGIN:HEADER -->
    <div class="header-container" fxLayout="column">
      <!-- BEGIN ROW: Breadcrumb & TOOLBAR & STATUS -->
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <div fxLayout="row">
          <div fxLayout="column">
            <div class="toolbar-files">
              <mat-toolbar style="background: none">
                <div class="toolbar-container">
                  <div fxLayoutAlign="center center">
                    <div>
                      <button mat-icon-button>
                        <mat-icon (click)="goBack()">arrow_back</mat-icon>
                      </button>
                    </div>
                    <div>
                      <span>{{ title }}</span>
                    </div>
                  </div>
                </div>
              </mat-toolbar>
            </div>
          </div>
        </div>
        <div
          class="refNoDiv mt-12 mr-12"
          fxFlex="15"
          fxLayout="column"
          fxLayoutAlign="center start"
        >
          <div class="refNoheading">{{ 'Reference No' }}</div>
          <div class="refNoValue">{{ refNumber }}</div>
        </div>
      </div>
      <!-- END ROW: Breadcrumb & TOOLBAR & STATUS -->
    </div>
    <!-- END:HEADER -->
  </mat-card>

  <div class="p-24" fxLayout="row wrap" fxLayoutAlign="space-between start">
    <ng-container *ngFor="let document of documentCtrl.controls; let i = index">
      <div class="custom-expansion-panel mb-8" fxFlex="49">
        <mat-expansion-panel
          [ngStyle]="{
            border: document.get('docRequired')?.value
              ? '1px solid #B10000'
              : '',
          }"
          style="border-radius: 8px"
        >
          <mat-expansion-panel-header
            >{{ document.get('documentName')?.value | titlecase }} &nbsp;
            <span style="color: #b10000">
              {{ document.get('docRequired')?.value ? '*' : '' }}
            </span>
          </mat-expansion-panel-header>
          <div fxLayout="row wrap" fxLayoutGap="6px">
            <div
              *ngFor="
                let files of documentFilesCtrl(i).controls;
                let fileIndex = index
              "
              [formGroup]="files | formgroup"
              class="mb-12"
            >
              <div class="card">
                <div class="doc-header" fxLayout="row">
                  <ng-container *ngIf="files?.get('fileUrl')?.value">
                    <img
                      class="action-icon"
                      src="../../../../../../assets/images/tick.svg"
                    />
                  </ng-container>

                  <span fxFlex></span>

                  <button
                    (click)="removeImage(i, fileIndex)"
                    *ngIf="fileIndex != 0"
                    class="btn-box"
                    mat-icon-button
                  >
                    <mat-icon class="danger1">delete</mat-icon>
                  </button>
                </div>
                <div class="document-wrapper">
                  <div
                    (click)="addAnotherPage(i)"
                    *ngIf="!files?.get('fileUrl')?.value; else showFile"
                    fxLayout="column"
                    fxLayoutAlign="center center"
                  >
                    <mat-icon class="icon">add</mat-icon>
                    <span>Add Other Page</span>
                  </div>
                  <ng-template #showFile>
                    <div *ngIf="files?.get('fileName')?.value.includes('.pdf')">
                      <app-pdf-viewer
                        [fileName]="files?.get('fileName')?.value"
                        [fileUrl]="files?.get('fileUrl')?.value"
                      ></app-pdf-viewer>
                    </div>
                    <div
                      *ngIf="!files?.get('fileName')?.value.includes('.pdf')"
                    >
                      <img [src]="env + files?.get('fileName')?.value" alt="" />
                    </div>
                  </ng-template>
                </div>
                <div
                  *ngIf="!files?.get('documentId')?.value"
                  class="document-footer mt-12"
                >
                  <div
                    class="mb-4"
                    fxLayouGap="5"
                    fxLayout="row"
                    fxLayoutAlign="space-evenly center"
                  >
                    <button
                      [disableRipple]="true"
                      class="sm-btn uploadColor"
                      mat-raised-button
                    >
                      {{ 'Upload' }}
                      <input
                        #fileInput
                        (change)="uploadDocument($event, i, fileIndex)"
                        [accept]="
                          document.get('fileType')?.value ||
                          'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,.pdf'
                        "
                        class="changeInput"
                        required
                        title=""
                        type="file"
                      />
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </div>
    </ng-container>
  </div>

  <div fxFlex></div>

  <div class="w-100 px-24" fxLayoutAlign="space-between center">
    <button (click)="goBack()" class="exit-button" mat-raised-button>
      Exit
    </button>
    <button (click)="saveChecklist()" class="uploadButton" mat-raised-button>
      Submit
    </button>
  </div>
</div>
