<div [formGroup]="lcOtherConditionForm">
  <!-- Section 1 matcard starts -->
  <mat-card class="otherConditonCard">
    <div fxLayout="column wrap">
      <div fxLayout="row" fxLayoutGap="1%" fxFlex="100">
        <div fxFlex="24">
          <mat-label class="custom-label">
            Place of Receipt Change to (44A)
          </mat-label>
          <mat-form-field class="full-width" appearance="outline">
            <input
              matInput
              type="text"
              formControlName="plcOfRcptChngTo"
              name="plcOfRcptChngTo"
            />
          </mat-form-field>
        </div>
        <div fxFlex="24">
          <mat-label class="custom-label">
            Place of Receipt Change from (44A)
          </mat-label>
          <mat-form-field class="full-width" appearance="outline">
            <input
              matInput
              type="text"
              formControlName="plcOfRcptChngFrom"
              name="plcOfRcptChngFrom"
            />
          </mat-form-field>
        </div>
        <div fxFlex="24">
          <mat-label class="custom-label">
            Place Of Final Destination To (44B)
          </mat-label>
          <mat-form-field class="full-width" appearance="outline">
            <input
              matInput
              type="text"
              formControlName="plcOfFnlDstnTo"
              name="plcOfFnlDstnTo"
            />
          </mat-form-field>
        </div>
        <div fxFlex="24">
          <mat-label class="custom-label">
            Place Of Final Destination from (44B)
          </mat-label>
          <mat-form-field class="full-width" appearance="outline">
            <input
              matInput
              type="text"
              formControlName="plcOfFnlDstnFrom"
              name="plcOfFnlDstnFrom"
            />
          </mat-form-field>
        </div>
      </div>

      <div fxLayout="row" fxLayoutGap="1%" fxFlex="100">
        <div fxFlex="49">
          <mat-label class="custom-label">
            Port Of Loading / Airport Of Destination Change To (44E)
          </mat-label>
          <mat-form-field class="full-width" appearance="outline">
            <input
              matInput
              type="text"
              formControlName="partOfLdngTo"
              name="partOfLdngTo"
            />
          </mat-form-field>
        </div>
        <div fxFlex="49">
          <mat-label class="custom-label">
            Port Of Loading / Airport Of Destination Change From (44E)
          </mat-label>
          <mat-form-field class="full-width" appearance="outline">
            <input
              matInput
              type="text"
              formControlName="partOfLndgFrom"
              name="partOfLndgFrom"
            />
          </mat-form-field>
        </div>
      </div>

      <div fxLayout="row" fxLayoutGap="1%" fxFlex="100">
        <div fxFlex="49">
          <mat-label class="custom-label">
            Port Of Discharge / Airport Of Destination Change To (44F)
          </mat-label>
          <mat-form-field class="full-width" appearance="outline">
            <input
              matInput
              type="text"
              formControlName="partOfDschgTo"
              name="partOfDschgTo"
            />
          </mat-form-field>
        </div>
        <div fxFlex="49">
          <mat-label class="custom-label">
            Port Of Discharge / Airport Of Destination Change From (44F)
          </mat-label>
          <mat-form-field class="full-width" appearance="outline">
            <input
              matInput
              type="text"
              formControlName="partOfDschgFrom"
              name="partOfDschgFrom"
            />
          </mat-form-field>
        </div>
      </div>
    </div>
  </mat-card>
  <!-- Section 1 matcard ends  -->
  <!-- Presentation period starts-->
  <mat-card class="otherConditonCard" fxLayout="column">
    <h2 class="sub-head present-card">Presentation Period(48)</h2>
    <div fxFlex="100" fxLayout="row wrap" fxLayoutGap="1%">
      <div fxFlex="19">
        <mat-label class="custom-label"> Document to be within </mat-label>
        <mat-form-field class="full-width" appearance="outline">
          <input
            matInput
            type="text"
            formControlName="docToBeWithIn"
            name="docToBeWithIn"
          />
        </mat-form-field>
      </div>
      <div fxFlex="19">
        <mat-label class="custom-label"> Days from the date of </mat-label>
        <mat-form-field class="full-width" appearance="outline">
          <input
            matInput
            type="text"
            formControlName="daysFrmDtOf"
            name="daysFrmDtOf"
          />
        </mat-form-field>
      </div>
      <div fxFlex="60">
        <mat-label class="custom-label">Narrative (79)</mat-label>
        <mat-form-field class="full-width" appearance="outline">
          <input
            matInput
            formControlName="narrative"
            type="text"
            name="narrative"
          />
          <div fxFlex="40" class="verifyDiv">
            <button mat-suffix type="button" class="verify-btn">
              Clause Template
            </button>
          </div>
        </mat-form-field>
      </div>
      <div fxFlex="19">
        <mat-label class="custom-label"> Margin </mat-label>
        <mat-form-field class="full-width" appearance="outline">
          <input matInput type="text" formControlName="margin" name="margin" />
        </mat-form-field>
      </div>
    </div>
  </mat-card>
  <!-- Presentation period ends -->

  <!-- Margin starts -->

  <!-- Margin ends -->
</div>
