<mat-expansion-panel class="custom-expansion-panel">
    <mat-expansion-panel-header>
      <mat-panel-description class="cardHeading">
                Documents
              </mat-panel-description>
    </mat-expansion-panel-header>
    <div fxLayout="row" fxLayoutAlign="space-between" style="margin-top: 20px;">
        <div  fxLayout="column">
            <div style="margin-left: 30px;">
            <div  class="headerFont">Document Name</div>
            <div>India</div>
        </div>
            <div class="icon_card_main">
                <div
                  class="image_standard1 sub_card"
                  fxLayout="column"
                  fxLayoutAlign="space-between"
                >
                  <div fxLayoutAlign="start start">
                    <img class="action-icon" src="assets/images/tick.svg" />
                  </div>
                  <div class="uploadImage" fxLayoutAlign="center center">
                    <img
                    src="../../../assets/images/image1.jpg"
                      alt="Document Image"
                    />
                  </div>
                  
                </div>

                <div class="btn_wrapper" fxLayoutAlign="center center">
                    <button
                    class="upload_btn btn-txt"
                  >
                    View
                  </button>
                </div>
              </div>
        </div>
    
      </div>

</mat-expansion-panel>