<div class="w-100" fxLayout="row" fxLayoutAlign="space-between">
  <div fxFlex="80" class="custom_component_top">
    <h2 class="title-text ml-12 mt-12">Convert To EMI</h2>
    <mat-card>
      <div fxLayout="column" fxFlex="100" class="py-12">
        <span class="text-poppins pb-12">Tenure</span>
        <div>
          <fieldset class="fieldset mb-12" fxFlex="30">
            <div fxFlex="100" fxLayout="row" class="parentYearDiv">
              <div fxFlex="33" fxLayoutAlign="start center">
                <input
                  fxFlex="50"
                  matInput
                  type="number"
                  name="tenureYear"
                  maxlength="2"
                  placeholder="Enter"
                  class="pl-3 tenure_input"
                  (input)="calculateSliderValue()"
                  [formControl]="
                    calculateEmiForm.get('tenureYears') | formcontrol
                  "
                  appNumbersOnly
                />
                <span matSuffix class="suffixLabel">Year</span>
              </div>
              <div class="vertical-seperator"></div>
              <div fxFlex="33" fxLayoutAlign="start center">
                <input
                  fxFlex="50"
                  matInput
                  type="number"
                  max="12"
                  name="tenureMonth"
                  maxlength="2"
                  placeholder="Enter"
                  class="pl-3 tenure_input"
                  (input)="calculateSliderValue()"
                  [formControl]="
                    calculateEmiForm.get('tenureMonths') | formcontrol
                  "
                  appNumbersOnly
                />
                <span class="suffixLabel">Month</span>
              </div>
              <div class="vertical-seperator"></div>
              <div fxFlex="33" fxLayoutAlign="start center">
                <input
                  fxFlex="50"
                  matInput
                  type="number"
                  max="30"
                  name="tenureDays"
                  maxlength="2"
                  placeholder="Enter"
                  class="pl-3 tenure_input"
                  [formControl]="
                    calculateEmiForm.get('tenureDays') | formcontrol
                  "
                  (input)="calculateSliderValue()"
                  appNumbersOnly
                />
                <span class="suffixLabel">Days</span>
              </div>
            </div>
          </fieldset>
        </div>
        <div>
          <mat-slider
            fxFlex="50"
            class="custom-slider"
            [max]="maxTenure"
            [min]="minTenure"
            (input)="onSliderChangeForTenure($event)"
            discrete
            thumbLabel
            [formControl]="sliderValue"
            [displayWith]="formatLabel"
          >
          </mat-slider>
        </div>
        <div fxLayout="row" fxFlex="50" fxLayoutAlign="space-between center">
          <div class="tenurelimit">
            {{ 'Min ' }}{{ minTenure }} {{ 'days' }}
          </div>
          <div class="tenurelimit">{{ 'Max ' }} 10 {{ 'Years' }}</div>
        </div>
        <div
          fxLayout="row wrap"
          fxLayoutAlign="start"
          class="w-100 mt-24 details-content"
        >
          <div
            *ngFor="let item of emiData"
            fxLayout="column"
            fxFlex="14"
            class="mt-12"
          >
            <span class="small-title">{{ item?.label }}</span>
            <span
              [ngClass]="
                item?.label === 'Monthly EMI'
                  ? 'emivalue font-color-red'
                  : 'emivalue'
              "
              >{{ item?.value }}</span
            >
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between">
          <mat-checkbox fxLayoutAlign="center center">
            <div>I accept<span class="tnc"> Terms and Condition</span></div>
          </mat-checkbox>
          <div fxLayout="row" fxLayoutGap="20px">
            <app-ic-action-button buttonName="Cancel" buttonType="stroked">
            </app-ic-action-button>
            <app-ic-action-button
              buttonName="proceed"
              buttonType="filled"
              (click)="proceed()"
            ></app-ic-action-button>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
  <div fxFlex="20" class="custom_component_top">
    <app-link-payee-side-bar [viewPayee]="true"> </app-link-payee-side-bar>
  </div>
</div>
