<div fxLayout="column" fxFlex="100" fxLayoutGap="8px">
  <div fxLayoutGap="20" fxLayoutAlign="end center">
    <div
      fxLayoutAlign="center center"
      class="quick_btn btn"
      [fxFlex]="screenname == 'account' ? '50' : '100'"
      (click)="openQuickLink()"
    >
      <mat-icon class="extend-icon" svgIcon="extend-icon"></mat-icon>
      {{ "Quick Link" | translate }}
    </div>
  </div>
  <div class="mtcd" *ngIf="viewPayee != true">
    <app-dashboard-instant-pay [instantPay]="false"></app-dashboard-instant-pay>
  </div>
  <div class="mtcd">
    <app-external-link
      [title]="'External Link' | translate"
      [types]="externalLinks"
    ></app-external-link>
  </div>
</div>
