<div fxFlex="row" fxFlex="100%">
  <div
    fxFlex="70"
    fxLayout="column"
    fxFlex="100"
    *ngIf="loanForm"
    class="loanForm"
  >
    <form [formGroup]="loanForm" fxFlex="100">
      <img class="designImg" src="assets/images/Mask Group.svg" />
      <div class="calculator_container" fxLayout="column" fxFlex="100">
        <div
          fxLayout="row wrap"
          fxFlex="100"
          fxLayoutAlign="space-between center"
        >
          <div class="calculator_subTItle">Loan Amount</div>
          <div>
            <div fxFlex="100">
              <mat-form-field
                appearance="outline"
                class="full-width background-white"
              >
                <mat-label class="custom-mat-label">Amount</mat-label>
                <div fxLayout="row">
                  <span>{{ currencySymboll }}</span>
                  <input
                    matInput
                    formControlName="amount"
                    numbersOnly
                    maxlength="18"
                  />
                </div>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div fxFlex="100">
          <mat-slider
            [value]="loanForm.value.amount"
            [max]="max"
            [min]="min"
            fxFlex="100"
            [thumbLabel]="thumbLabel"
            (change)="onSliderChange($event)"
            discrete
          >
            <input matSliderThumb #slider />
          </mat-slider>
        </div>
        <div fxLayout="row" fxFlex="100" fxLayoutAlign="space-between center">
          <div>{{ currencySymboll }} {{ min }}</div>
          <div>{{ currencySymboll }} {{ max }}</div>
        </div>

        <div
          class="row"
          fxLayoutAlign="space-between center"
          style="margin-top: 27px"
        >
          <div class="col-md-6 col-12">
            <label class="calculator_subTItle">Tenure</label>
            <fieldset class="yeardrop fieldset">
              <legend visible="true" class="legend-font legend">
                Loan Period
              </legend>
              <div class="parentYearDiv" fxFlex="100">
                <div fxLayout="row" fxFlex="33.33">
                  <mat-form-field
                    appearance="outline"
                    fxFlex="99"
                    class="full-width inputSelect suffix-field"
                  >
                    <input
                      matInput
                      name="tenureYear"
                      maxlength="2"
                      formControlName="tenureYear"
                      placeholder="Year"
                      numbersOnly
                    />
                    <span
                      class="suffixLabel"
                      matSuffix
                      *ngIf="loanForm.value.tenureYear"
                      >Year</span
                    >
                  </mat-form-field>
                  <span class="vl"></span>
                </div>

                <div fxLayout="row" fxFlex="33.33">
                  <mat-form-field
                    appearance="outline"
                    class="full-width inputSelect month-suffix-field"
                    fxFlex="99"
                  >
                    <input
                      matInput
                      name="tenureMonth"
                      maxlength="2"
                      formControlName="tenureMonth"
                      placeholder="Month"
                      numbersOnly
                    />
                    <div
                      class="suffixLabel"
                      matSuffix
                      *ngIf="loanForm.value.tenureMonth"
                    >
                      Month
                    </div>
                  </mat-form-field>
                  <span class="vl"></span>
                </div>

                <div fxLayout="row" fxFlex="33.33">
                  <mat-form-field
                    appearance="outline"
                    class="full-width inputSelect suffix-field"
                    fxFlex="99"
                  >
                    <input
                      matInput
                      name="tenureDays"
                      maxlength="2"
                      formControlName="tenureDays"
                      placeholder="Day"
                      numbersOnly
                    /><span
                      class="suffixLabel"
                      matSuffix
                      *ngIf="loanForm.value.tenureDays"
                      >Day</span
                    >
                  </mat-form-field>
                </div>
              </div>
            </fieldset>
          </div>
          <div class="col-md-6 col-12">
            <label class="calculator_subTItle">Interest Rate</label>
            <mat-form-field
              appearance="outline"
              class="full-width field-changedInput background-white"
            >
              <mat-label class="custom-mat-label">Percentage</mat-label>
              <input
                matInput
                numbersOnly
                formControlName="interestRate"
                maxlength="2"
              />
              <mat-error
                *ngIf="
                  loanForm.controls['interestRate'].hasError('required') &&
                  loanForm.controls['interestRate'].touched
                "
              >
                Interest Rate is required
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="downImage">
          <img
            src="assets/images/Group 13767.svg"
            height="161px"
            width="100%"
          />
        </div>
      </div>
    </form>
  </div>

  <div fxFlex="30" class="parentCalculator">
    <div
      fxFlex="80"
      fxLayoutAlign="center center"
      fxLayout="column"
      class="fd_container"
    >
      <div fxLayout="column" class="emiTitle alignCenter">
        <div class="maturityTitle">EMI Amount</div>
        <div class="emiAmount">₹ 1,10,202</div>
      </div>
      <div fxLayout="row" fxFlex="100" style="width: 100%">
        <div
          fxLayout="column"
          fxFlex="48"
          class="alignLeft"
          fxLayoutAlign="space-around center"
        >
          <div class="maturityLabels">Interest Payable</div>
          <div class="gd_value">₹ 12,669</div>
        </div>
        <div class="emiVl"></div>
        <div
          fxLayout="column"
          class="alignLeft"
          fxFlex="48"
          fxLayoutAlign="space-around center"
        >
          <div class="maturityLabels">Interest Rate</div>
          <div class="gd_value">7.10%*p.a.</div>
        </div>
      </div>
      <div fxLayout="row" fxFlex="100" style="width: 100%">
        <div
          fxLayout="column"
          class="alignLeft"
          fxFlex="48"
          fxLayoutAlign="space-around center"
        >
          <div class="maturityLabels">Principal Amount</div>
          <div class="gd_value">₹ 12,669</div>
        </div>
        <div class="emiVl"></div>
        <div
          fxLayout="column"
          class="alignLeft"
          fxFlex="48"
          fxLayoutAlign="space-around center"
        >
          <div class="maturityLabels">Total Amount Payable</div>
          <div class="gd_value">₹ 12,669</div>
        </div>
      </div>
      <div>
        <button mat-flat-button class="openFDbtn" (click)="applyForLoan()">
          Apply
        </button>
      </div>
      <img class="designImg-1" src="assets/images/Mask Group.svg" />
    </div>
  </div>
</div>
