<div
  fxLayout="column"
  *ngIf="repaymentCycleForm"
  [formGroup]="repaymentCycleForm"
>
  <h3>Repayment Cycle</h3>
  <mat-card>
    <div fxLayout="row" fxLayoutGap="52px" fxLayoutAlign="start center">
      <h3>{{ 'Loan Account Number' | translate }}</h3>
      <app-searchable-select
        fxFlex="24"
        [control]="repaymentCycleForm.get('debitAccount')"
        [items]="loanDetails"
        bindValueKey="cbsAccountNumber"
        bindLabelKey="cbsAccountNumber"
        (selectionChange)="fetchCurrentRepaymentCycle()"
      >
      </app-searchable-select>
      <h5 class="loanImfo">{{ installmentDetails?.loanType }}</h5>
    </div>
    <div fxLayout="row" fxLayoutGap="31px" fxLayoutAlign="start center">
      <h3>{{ 'Current Repayment cycle' | translate }}</h3>
      <app-ic-custom-input
        fxFlex="24"
        [control]="repaymentCycleForm.get('currentRepayment')"
        [readonly]="true"
      ></app-ic-custom-input>
    </div>
    <div fxLayout="row" fxLayoutGap="25px" fxLayoutAlign="start center">
      <h3>{{ 'Request Repayment cycle' | translate }}</h3>
      <app-searchable-select
        fxFlex="24"
        [control]="repaymentCycleForm.get('repayRequest')"
        [items]="genericValue?.REQUESTEDREPAYMENTCYCLE"
        bindValueKey="id"
        bindLabelKey="values"
      >
      </app-searchable-select>
    </div>
    <div fxLayoutGap="20" fxLayoutAlign="end center">
      <app-ic-action-button
        [buttonName]="'Cancel' | translate"
        buttonType="stroked"
      >
      </app-ic-action-button>
      <app-ic-action-button
        [buttonName]="'Submit' | translate"
        buttonType="filled"
        (onClick)="saveRepaymentCycle()"
      ></app-ic-action-button>
    </div>
  </mat-card>
</div>
