::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-start,
.mat-form-field-appearance-outline .mat-form-field-outline-end {
  border: none !important;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-gap {
  border: none !important;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-end {
  border: none !important;
}

::ng-deep .mat-form-field {
  box-shadow: 0px 3px 10px 0px #00000017;
  border-radius: 12px;
  height: 60px;
}

.pb-25 {
  padding-bottom: 25px;
}

.personal-details {
  display: flex;
  flex-direction: row;
  width: 909px;

  .details-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 20px;

    .standard-flex {
      display: flex;

      mat-form-field.custom-field {
        width: 300px;
        margin-right: 20px;
        margin-bottom: 20px;
      }

      mat-form-field.custom-field-80 {
        position: absolute;
        width: 622px;
        margin-right: 20px;
        margin-bottom: 20px;

        .standard-search {
          position: absolute;
          margin-bottom: 8px;
          cursor: pointer;
        }

        .vertical-separator {
          height: 43px;
          width: 1px;
          border: #b4b4b466 1px solid;
          margin: 0px 10px;
          position: relative;
          top: -33px;
          float: right;
          right: 139px;
        }

        .locate-container {
          display: flex;
          flex-direction: row;
          position: relative;
          float: right;
          bottom: 28px;

          .locate {
            display: inline-flex;
            justify-content: space-around;
            text-decoration: none;
            border: none;
            cursor: pointer;
            background: white;
            color: #004c97;
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
          }
        }
      }
    }

    .text-header {
      color: #004c97;
      font-family: Poppins;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      margin-bottom: 9px;
    }

    .custom-mat-label {
      font-family: Poppins;
      font-weight: 500;
      font-size: 16px;
      color: #1022456e;
      opacity: 0.5;
    }
  }
}

.button-container {
  justify-content: space-around;
  display: flex;
}

.mt-100 {
  margin-top: 100px;
}

.mr-5 {
  margin-right: 5px;
  margin-top: -1px;
}
