<div class="loan-screen">
  <div class="top-section">
    <div class="col-1">
      <div class="top-header">Achieve Your Dreams with Our Loan Service.</div>
      <div class="top-desc">
        Unlock your dreams with our loan accounts. Enjoy competitive interest
        rates, flexible repayment options, and quick approval processes.
        Experience financial empowerment with tailored solutions that meet your
        needs, exclusively from our bank.
      </div>
      <div class="mar-20">
        <div>
          <button class="confirm-button" [routerLink]="['/loan/loan-type']">
            Apply
          </button>
        </div>
        <div style="margin-top: 20px; display: flex">
          <div>
            <img
              src="../../assets/images/images.png"
              alt="Ellipse61965"
              class="image-upload"
            />
          </div>
          <div>
            <span class="count-label"> 4K+ </span>
            <span class="users"> users worldwide </span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-2">
      <img
        src="./../../../assets/images/Loan_Gold_img.png"
        alt="Loan_Gold_img"
      />
    </div>
  </div>
  <div class="mar-20">
    <div class="header">Loan Opening Services</div>
    <div class="desc">
      Open your account in a breeze and start banking hassle-free.
    </div>
    <div>
      <app-carousel
        [carowselData]="carowselData"
        [flow]="'loan'"
      ></app-carousel>
    </div>
  </div>

  <div class="mar-20">
    <div class="header">Our Top Performing Plans</div>
    <div class="desc">
      Select wisely from our plans & invest your money for higher returns
    </div>
    <div>
      <app-top-performing></app-top-performing>
    </div>
  </div>
  <div class="mar-20">
    <div class="header">What our happy client say</div>
    <div class="desc">
      Several selected clients, who already believe in our service.
    </div>
    <div>
      <app-client-review></app-client-review>
    </div>
    <div>
      <!-- <app-news-letters></app-news-letters> -->
    </div>
  </div>
</div>
