<div class="image-container">
  <div class="image" *ngFor="let imagesdata of dynamicList" fxLayoutGap="20px">
    <img
      class="image_img image_overlay--blur"
      src="assets/images/Frame 5.svg"
      alt="Slider Image"
    />
    <div class="image_overlay">
      <div class="image_title">{{ imagesdata?.basisClass }}</div>
      <div class="image_description">{{ imagesdata?.description }}</div>
      <div class="button-container">
        <a
          class="applyButtonCarousel"
          (click)="moveToSubAccountPage(imagesdata.basisClass)"
          >Apply Now</a
        >
      </div>
    </div>
  </div>
  <!-- <div class="button-control" [ngClass]="carouselArrowDisplay ? 'pe' : 'pd'">
    <div class="previous">
      <img src="/assets/images/previous.png" (click)="prevImage()" />
    </div>
    <div class="next">
      <img src="/assets/images/next.png" (click)="nextImage()" />
    </div>
  </div> -->
</div>
