.ellipse {
  background-color: white;
  height: 100px;
  width: 100%;
  border-radius: 50%;
  top: 90px;
  z-index: 100;
  position: absolute;
}

.convex {
  background-color: white;
  height: 100px;
  width: 100%;
  border-radius: 50%;
  bottom: 50px;
  margin-bottom: -90px;
  position: relative;
  z-index: 100;
}
.swiper-wrapper {
  display: flex;
  justify-content: center;
}
.image_img {
  display: block;
  width: 100%;
  height: 100%;
}
.swiper-button-next,
.swiper-button-prev {
  display: none !important;
}
