.drawer-container {
  .example-sidenav {
    box-shadow: 3px 0 12px rgba(0, 0, 0, 0.1);
  }
}

.icon-button {
  padding: 0px;
  width: fit-content;
  background-color: unset !important;
  position: absolute;
  left: -14px;
  .btn_icon {
    width: 40px;
    height: 40px;
  }
}

.custom_drawer_components_container {
  padding: 16px 58px;
  background-color: #fff;
}

.parent-node {
  color: #102245;
  font-size: 16px;
  font-weight: 500;
}
.align-node {
  & .parent-node {
    padding-left: 5%;
  }
}
.child-node {
  // color: #014b94;
  color: var(--current-theme-background);
  font-size: 13px;
  font-weight: 500;
}
.active-node {
  background: var(--current-theme-background) 0% 0% no-repeat padding-box;
  & .parent-node,
  .child-node {
    color: #ffffff !important;
  }
}

.highlight_blue {
  background: var(--current-theme-background) 0% 0% no-repeat padding-box;
  color: #ffffff !important;
}
