<div fxLayout="column" *ngIf="customerDetailsForm">
  <form [formGroup]="customerDetailsForm">
    <div formArrayName="customer">
      <div *ngFor="let customer of customer.controls; let i = index">
        <div [formGroup]="customer | formgroup">
          <div class="custom_accordin">
            <mat-accordion>
              <mat-expansion-panel
                [expanded]="i === 0"
                (opened)="panelOpened(i)"
              >
                <mat-expansion-panel-header class="customer_Header">
                  <mat-panel-description>
                    <div
                      fxLayout="row"
                      fxLayoutGap="10px"
                      fxLayoutAlign="start center"
                    >
                      <img
                        *ngIf="customer.valid"
                        src="../../../../../../assets/images/done_icon.svg"
                        alt="image"
                      />
                      <span class="theme_xl">Applicant {{ i + 1 }}</span>
                    </div>
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <div fxLayout="column">
                  <div
                    fxFlex="100"
                    fxLayout="row wrap"
                    fxLayoutAlign="space-between center"
                  >
                    <ic-select
                      fxFlex="49"
                      label="Prefix"
                      [options]="prefixArray"
                      bindValueKey="id"
                      bindLabelKey="values"
                      [control]="customer.get('prefixId') | formcontrol"
                      (selectionChange)="CheckGenderandPrefix(i)"
                    ></ic-select>
                    <ic-form-field
                      fxFlex="49"
                      label="First Name"
                      [control]="customer.get('firstName') | formcontrol"
                      [icAlphabetOnly]="true"
                      [maxLength]="20"
                    ></ic-form-field>

                    <ic-form-field
                      fxFlex="49"
                      label="Last Name"
                      [control]="customer.get('lastName') | formcontrol"
                      [icAlphabetOnly]="true"
                      [maxLength]="20"
                    ></ic-form-field>

                    <ic-date-picker
                      fxFlex="49"
                      [placeholder]="dateFormat"
                      label="DateOfBirth"
                      [control]="customer.get('dateOfBirth') | formcontrol"
                    >
                    </ic-date-picker>

                    <ic-select
                      fxFlex="49"
                      [options]="genderArray"
                      label="Gender"
                      bindLabelKey="values"
                      bindValueKey="id"
                      [control]="customer.get('genderId') | formcontrol"
                      (selectionChange)="CheckGenderandPrefix(i)"
                    ></ic-select>

                    <ic-select
                      fxFlex="49"
                      [options]="nationalityArray"
                      label="Nationality"
                      bindLabelKey="nationality"
                      bindValueKey="nationality"
                      [control]="customer.get('nationality') | formcontrol"
                    ></ic-select>

                    <ic-form-field
                      fxFlex="49"
                      label="Identification Number"
                      [icNumbersOnly]="true"
                      [maxLength]="20"
                      [control]="
                        getDocumentControl(i, 0, 'documentNumber') | formcontrol
                      "
                    ></ic-form-field>

                    <ic-date-picker
                      fxFlex="49"
                      [placeholder]="dateFormat"
                      label="Date Issued"
                      [maxDate]="todayDate"
                      [control]="
                        getDocumentControl(i, 0, 'issueDate') | formcontrol
                      "
                    >
                    </ic-date-picker>

                    <ic-date-picker
                      fxFlex="49"
                      [placeholder]="dateFormat"
                      label="Expiry Date"
                      [control]="
                        getDocumentControl(i, 0, 'expiryDate') | formcontrol
                      "
                      [minDate]="todayDate"
                    >
                    </ic-date-picker>

                    <ic-select
                      fxFlex="49"
                      [options]="countryArray"
                      label="Country of Issue"
                      bindLabelKey="countryName"
                      bindValueKey="countryName"
                      [control]="customer.get('countryOfIssue') | formcontrol"
                    ></ic-select>

                    <ic-select
                      fxFlex="49"
                      [options]="countryArray"
                      label="Country of residence"
                      bindLabelKey="countryName"
                      bindValueKey="countryName"
                      [control]="customer.get('countryName') | formcontrol"
                    ></ic-select>

                    <ic-select
                      fxFlex="49"
                      [options]="maritalStatusArray"
                      label="Marital Status"
                      bindLabelKey="values"
                      bindValueKey="id"
                      [control]="customer.get('maritalStatusId') | formcontrol"
                    ></ic-select>
                  </div>
                  <div class="highlight_title">Contact Details</div>
                  <div
                    fxFlex="100"
                    fxLayout="row wrap"
                    fxLayoutAlign="space-between center"
                  >
                    <ic-mobile-field
                      fxFlex="49"
                      label="Mobile Number"
                      [formControl]="
                        customer.get('contact')?.get('mobile') | formcontrol
                      "
                      [isdCode]="countriesIsdCodes"
                      [isdControl]="
                        customer.get('contact')?.get('mobtCode') | formcontrol
                      "
                      [maxLength]="maxMobileLength"
                      (onSelectionChangeOutput)="
                        checkMobileLength(
                          $event,
                          getCustomerContactDetails(0),
                          'mobile'
                        )
                      "
                    ></ic-mobile-field>
                    <ic-mobile-field
                      fxFlex="49"
                      label="Alternate Number"
                      [formControl]="
                        customer.get('contact')?.get('alternativeNumber')
                          | formcontrol
                      "
                      [isdCode]="countriesIsdCodes"
                      [isdControl]="
                        customer.get('contact')?.get('altCode') | formcontrol
                      "
                      [maxLength]="maxMobileLength"
                      (onSelectionChangeOutput)="
                        checkMobileLength(
                          $event,
                          getCustomerContactDetails(0),
                          'alternativeNumber'
                        )
                      "
                    ></ic-mobile-field>
                    <ic-mobile-field
                      fxFlex="49"
                      label="Whatsapp Number"
                      [formControl]="
                        customer.get('contact')?.get('whatsappNo') | formcontrol
                      "
                      [isdCode]="countriesIsdCodes"
                      [isdControl]="
                        customer.get('contact')?.get('waptCode') | formcontrol
                      "
                      [maxLength]="maxMobileLength"
                      (onSelectionChangeOutput)="
                        checkMobileLength(
                          $event,
                          getCustomerContactDetails(0),
                          'whatsappNo'
                        )
                      "
                    ></ic-mobile-field>
                    <ic-form-field
                      fxFlex="49"
                      label="Email ID"
                      [control]="
                        customer.get('contact')?.get('email') | formcontrol
                      "
                      [customError]="
                        customer
                          .get('contact')
                          ?.get('email')
                          ?.hasError('pattern')
                          ? 'Please enter Valid Email'
                          : ''
                      "
                      [maxLength]="250"
                    ></ic-form-field>
                    <ic-form-field
                      fxFlex="49"
                      label="Telephone (Home)"
                      [control]="
                        customer.get('contact')?.get('telephone') | formcontrol
                      "
                      [icNumbersOnly]="true"
                      [maxLength]="20"
                    ></ic-form-field>
                    <ic-form-field
                      fxFlex="49"
                      label="Telephone (Work)"
                      [control]="
                        customer.get('contact')?.get('worktelephone')
                          | formcontrol
                      "
                      [icNumbersOnly]="true"
                      [maxLength]="20"
                    ></ic-form-field>
                    <ic-form-field
                      fxFlex="49"
                      label="Fax"
                      [maxLength]="25"
                      [icNumbersOnly]="true"
                      [control]="
                        customer.get('contact')?.get('fax') | formcontrol
                      "
                    ></ic-form-field>
                    <ic-select
                      fxFlex="49"
                      [options]="statementOptionArr"
                      label="Statement Via"
                      bindLabelKey="values"
                      bindValueKey="id"
                      [control]="
                        customer.get('contact')?.get('statementViaId')
                          | formcontrol
                      "
                    ></ic-select>
                    <ng-container
                      *ngIf="
                        customer.get('contact.address')?.value as addressControl
                      "
                    >
                      <ng-container
                        *ngFor="
                          let addressGroup of (
                            customer?.get('contact')?.get('address') | formarray
                          ).controls;
                          let addressIndex = index
                        "
                        [formGroup]="addressGroup | formgroup"
                      >
                        <ic-form-field
                          fxFlex="100"
                          label="Address"
                          [maxLength]="200"
                          [control]="addressGroup.get('address1') | formcontrol"
                        ></ic-form-field>
                        <ic-select
                          fxFlex="49"
                          [options]="residenceTypeArray"
                          label="Residential Status"
                          bindLabelKey="values"
                          bindValueKey="id"
                          [control]="
                            addressGroup.get('residenceType') | formcontrol
                          "
                        ></ic-select>
                        <ic-form-field
                          fxFlex="49"
                          label="Suburb"
                          [control]="addressGroup.get('address2') | formcontrol"
                        ></ic-form-field>
                        <ic-form-field
                          fxFlex="49"
                          label="Postal Code"
                          suffixIcon="search"
                          [control]="addressGroup.get('pincode') | formcontrol"
                          (onSuffixClick)="pincodeExpansion(i, 'customer')"
                          [maxLength]="10"
                          [icNumbersOnly]="true"
                        ></ic-form-field>
                        <ic-form-field
                          fxFlex="49"
                          label="City"
                          [control]="addressGroup.get('cityName') | formcontrol"
                        ></ic-form-field>
                      </ng-container>
                    </ng-container>
                    <ic-date-picker
                      fxFlex="49"
                      [placeholder]="dateFormat"
                      label="Living Address Since"
                      [maxDate]="todayDate"
                    >
                    </ic-date-picker>
                  </div>

                  <ng-container *ngIf="isMarried">
                    <div class="highlight_title">Spouse Details</div>
                    <div
                      fxFlex="100"
                      fxLayout="row wrap"
                      fxLayoutAlign="space-between center"
                    >
                      <ic-select
                        fxFlex="49"
                        label="Prefix"
                        [options]="prefixArray"
                        bindValueKey="id"
                        bindLabelKey="values"
                        [control]="
                          getSpouseInfo(i).get('prefixId') | formcontrol
                        "
                        (selectionChange)="CheckGenderandPrefix(i)"
                      ></ic-select>

                      <ic-form-field
                        fxFlex="49"
                        label="First Name"
                        [control]="
                          getSpouseInfo(i).get('firstName') | formcontrol
                        "
                        [icAlphabetOnly]="true"
                        [maxLength]="20"
                      ></ic-form-field>

                      <ic-form-field
                        fxFlex="49"
                        label="Last Name"
                        [control]="
                          getSpouseInfo(i).get('lastName') | formcontrol
                        "
                        [icAlphabetOnly]="true"
                        [maxLength]="20"
                      ></ic-form-field>

                      <ic-date-picker
                        fxFlex="49"
                        [placeholder]="dateFormat"
                        label="DateofBirth"
                        dateFormat=""
                        [control]="
                          getSpouseInfo(i).get('dateOfBirth') | formcontrol
                        "
                      >
                      </ic-date-picker>
                      <ic-form-field
                        fxFlex="49"
                        label="Spouse Telephone (Home)"
                        [control]="
                          getSpouseContactDetails(i).get('telephone')
                            | formcontrol
                        "
                        [icNumbersOnly]="true"
                        [maxLength]="20"
                      ></ic-form-field>
                      <ic-form-field
                        fxFlex="49"
                        label="Spouse Telephone (Work)"
                        [control]="
                          getSpouseContactDetails(i).get('worktelephone')
                            | formcontrol
                        "
                        [icNumbersOnly]="true"
                        [maxLength]="20"
                      ></ic-form-field>
                      <ic-mobile-field
                        fxFlex="49"
                        label="Mobile Number"
                        [formControl]="
                          getSpouseContactDetails(i).get('mobile') | formcontrol
                        "
                        [isdCode]="countriesIsdCodes"
                        [isdControl]="
                          getSpouseContactDetails(i).get('mobtCode')
                            | formcontrol
                        "
                        [maxLength]="maxMobileLength"
                        (onSelectionChangeOutput)="
                          checkMobileLength(
                            $event,
                            getSpouseContactDetails(i),
                            'mobile'
                          )
                        "
                      ></ic-mobile-field>
                      <ic-form-field
                        fxFlex="49"
                        label="Email ID"
                        [control]="
                          getSpouseContactDetails(i).get('email') | formcontrol
                        "
                        [icNoSpace]="true"
                        [maxLength]="250"
                        [customError]="
                          getSpouseContactDetails(i)
                            .get('email')
                            ?.hasError('pattern')
                            ? 'Please enter Valid Email'
                            : ''
                        "
                      ></ic-form-field>
                      <ic-select
                        fxFlex="49"
                        [options]="empoymentArray"
                        label="Employee status"
                        bindLabelKey="values"
                        bindValueKey="id"
                        [control]="
                          getSpouseInfo(i).get('employeeStatusId') | formcontrol
                        "
                      ></ic-select>
                      <ic-form-field
                        fxFlex="49"
                        label="Net Income"
                        [maxLength]="22"
                        [icTwoDigitDecimalNumber]="true"
                        [numLength]="22"
                        [decimalPlaces]="3"
                        [control]="
                          getSpouseInfo(i).get('netIncome') | formcontrol
                        "
                      ></ic-form-field>
                    </div>
                  </ng-container>

                  <div class="highlight_title">
                    Emergency Contact Details / Next of Kin
                  </div>
                  <div
                    fxFlex="100"
                    fxLayout="row wrap"
                    fxLayoutAlign="space-between center"
                  >
                    <ic-select
                      fxFlex="49"
                      label="Prefix"
                      [options]="prefixArray"
                      bindValueKey="id"
                      bindLabelKey="values"
                      [control]="
                        getEmergencyContactInfo(i).get('prefixId') | formcontrol
                      "
                      (selectionChange)="CheckGenderandPrefix(i)"
                    ></ic-select>
                    <ic-form-field
                      fxFlex="49"
                      label="First Name"
                      [control]="
                        getEmergencyContactInfo(i).get('firstName')
                          | formcontrol
                      "
                      [maxLength]="20"
                      [icAlphabetOnly]="true"
                    ></ic-form-field>

                    <ic-form-field
                      fxFlex="49"
                      label="Last Name"
                      [control]="
                        getEmergencyContactInfo(i).get('lastName') | formcontrol
                      "
                      [icAlphabetOnly]="true"
                      [maxLength]="20"
                    ></ic-form-field>
                    <ic-select
                      fxFlex="49"
                      [options]="relationArray"
                      label="Relationship"
                      bindLabelKey="values"
                      bindValueKey="id"
                      [control]="
                        getEmergencyContactInfo(i).get('relationshipId')
                          | formcontrol
                      "
                    ></ic-select>

                    <ic-form-field
                      fxFlex="49"
                      label="Telephone Number (Home)"
                      [control]="
                        getEmergencyContactDetails(i).get('telephone')
                          | formcontrol
                      "
                      [maxLength]="20"
                      [icNumbersOnly]="true"
                    ></ic-form-field>
                    <ic-form-field
                      fxFlex="49"
                      label="Telephone Number (Work)"
                      [control]="
                        getEmergencyContactDetails(i).get('worktelephone')
                          | formcontrol
                      "
                      [maxLength]="20"
                      [icNumbersOnly]="true"
                    ></ic-form-field>
                    <ic-mobile-field
                      fxFlex="49"
                      label="Mobile Number"
                      [icNumbersOnly]="true"
                      [formControl]="
                        getEmergencyContactDetails(i).get('mobile')
                          | formcontrol
                      "
                      [isdCode]="countriesIsdCodes"
                      [isdControl]="
                        getEmergencyContactDetails(i).get('mobtCode')
                          | formcontrol
                      "
                      (onSelectionChangeOutput)="
                        checkMobileLength(
                          $event,
                          getEmergencyContactDetails(i),
                          'mobile'
                        )
                      "
                      [maxLength]="maxMobileLength"
                    ></ic-mobile-field>
                    <ic-mobile-field
                      fxFlex="49"
                      label="Alternate Number"
                      [formControl]="
                        getEmergencyContactDetails(i).get('alternativeNumber')
                          | formcontrol
                      "
                      [isdCode]="countriesIsdCodes"
                      [isdControl]="
                        getEmergencyContactDetails(i).get('altCode')
                          | formcontrol
                      "
                      [maxLength]="maxMobileLength"
                      (onSelectionChangeOutput)="
                        checkMobileLength(
                          $event,
                          getEmergencyContactDetails(i),
                          'alternativeNumber'
                        )
                      "
                      [icNumbersOnly]="true"
                    ></ic-mobile-field>
                    <ic-mobile-field
                      fxFlex="49"
                      label="Whatsapp Number"
                      [icNumbersOnly]="true"
                      [formControl]="
                        getEmergencyContactDetails(i).get('whatsappNo')
                          | formcontrol
                      "
                      [isdCode]="countriesIsdCodes"
                      [isdControl]="
                        getEmergencyContactDetails(i).get('waptCode')
                          | formcontrol
                      "
                      (onSelectionChangeOutput)="
                        checkMobileLength(
                          $event,
                          getEmergencyContactDetails(i),
                          'whatsappNo'
                        )
                      "
                      [maxLength]="maxMobileLength"
                    ></ic-mobile-field>
                    <ic-form-field
                      fxFlex="49"
                      label="Email ID"
                      [control]="
                        getEmergencyContactDetails(i).get('email') | formcontrol
                      "
                      [customError]="
                        getEmergencyContactDetails(i)
                          .get('email')
                          ?.hasError('pattern')
                          ? 'Please enter Valid Email'
                          : ''
                      "
                      [maxLength]="250"
                    ></ic-form-field>
                    <ic-form-field
                      fxFlex="100"
                      label="Address"
                      [control]="
                        getEmergencyContactAddress(i).controls[0]?.get(
                          'address1'
                        ) | formcontrol
                      "
                      [maxLength]="250"
                    ></ic-form-field>
                    <ic-select
                      fxFlex="49"
                      [options]="residenceTypeArray"
                      label="Residential status"
                      bindLabelKey="values"
                      bindValueKey="id"
                      [control]="
                        getEmergencyContactAddress(i).controls[0]?.get(
                          'residenceType'
                        ) | formcontrol
                      "
                    ></ic-select>
                    <ic-form-field
                      fxFlex="49"
                      label="Suburb"
                      [control]="
                        getEmergencyContactAddress(i).controls[0]?.get(
                          'address2'
                        ) | formcontrol
                      "
                    ></ic-form-field>
                    <ic-form-field
                      fxFlex="49"
                      label="City"
                      [control]="
                        getEmergencyContactAddress(i).controls[0]?.get(
                          'cityName'
                        ) | formcontrol
                      "
                    ></ic-form-field>
                    <ic-form-field
                      fxFlex="49"
                      label="Postal Code"
                      suffixIcon="search"
                      [control]="
                        getEmergencyContactAddress(i).controls[0]?.get(
                          'pincode'
                        ) | formcontrol
                      "
                      (onSuffixClick)="pincodeExpansion(i, 'emergency')"
                    ></ic-form-field>
                  </div>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>
      </div>
    </div>
  </form>

  <div *ngIf="!isHideField && holderType === 'joint'">
    <div
      class="add_applicant theme_lg"
      (click)="holderType === 'joint' && addCustomer(customer.controls.length)"
      (keydown.enter)="
        holderType === 'joint' && addCustomer(customer.controls.length)
      "
      tabindex="0"
    >
      Add Another Applicant
    </div>
  </div>
  <div fxFlex="100" fxLayout="row" fxLayoutGap="2%" style="margin-top: 50px">
    <div>
      <ic-button
        [label]="'Confirm' | translate"
        [type]="'submit'"
        size="large"
        [icButtonType]="'filled-rounded'"
        (OnClick)="confirmCustomer()"
      >
      </ic-button>
    </div>
    <div>
      <ic-button
        [label]="'Back'"
        icButtonType="ghost-rounded-danger"
        size="large"
        [type]="'button'"
        (OnClick)="goBack()"
      >
      </ic-button>
    </div>
  </div>
</div>
