.custom_accordin {
  margin: 1% 0%;

  .mat-accordion .mat-expansion-panel:last-of-type {
    border-radius: 12px;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.0901960784);
    background: var(--ic-card-bg, #ffffff);
    .customer_Header {
      padding: 2%;
      height: 70px;

      .customer_Header_description {
        color: var(--ic-text-theme, #0033a1);
        font-weight: 500;
        font-size: 23px;
        line-height: 39px;
        font-family: var(--ic-primary-font-family);
      }
    }
  }
}

.add_applicant {
  box-shadow: 0px 3px 15px 0px #00000017;
  height: 65px;
  color: var(--ic-text-theme, #0033a1);
  font-size: 18px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

::ng-deep .zipCode_field .mat-form-field-suffix {
  top: 0px !important;
  right: 5px !important;
}

::ng-deep .hide-select-arrow {
  pointer-events: none !important;

  .mat-select-arrow-wrapper {
    display: none !important;
  }
}

.highlight_title {
  font-family: var(--ic-primary-font-family);
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  text-align: left;
  color: var(--ic-text-theme, #0033a1);
}

.applicat-text {
  padding-right: 10px;
  font-family: var(--ic-primary-font-family);
  font-size: 12px;
  font-weight: 500;
}

.yeardrop.fieldset {
  box-shadow: none !important;

  .mat-form-field {
    height: 50px !important;
  }

  ::ng-deep .inputSelect.mat-form-field-type-mat-select {
    .mat-form-field-outline-end {
      border-radius: 0px !important;
    }
  }

  ::ng-deep .inputSelect.mat-form-field-type-mat-input {
    .mat-form-field-outline-start {
      border-radius: 0px !important;
    }
  }
}
