<div
  fxLayout="column"
  fxLayoutGap="16px"
  *ngIf="viewStatementForm"
  [formGroup]="viewStatementForm"
>
  <h3>View Statement</h3>
  <mat-card>
    <div class="w-100" fxLayout="row" fxLayoutAlign="space-between">
      <div fxLayout="row" fxLayoutGap="24px">
        <h4 class="sub-heading">{{ "Statements" | translate }}</h4>
        <mat-radio-group
          aria-label="Select an option"
          formControlName="statementOption"
        >
          <mat-radio-button
            [value]="'Active Loan'"
            class="radioChecked radiobtn text-gray px-16"
            >{{ "Active Loan" | translate }}</mat-radio-button
          >
          <mat-radio-button
            [value]="'Closed Loan'"
            class="radioChecked radiobtn text-gray px-16"
            >{{ "Closed Loan" | translate }}</mat-radio-button
          >
        </mat-radio-group>
      </div>
      <div>
        <app-ic-action-button
          *ngIf="fetchStatement"
          [buttonName]="'Download' | translate"
          buttonType="stroked"
          (click)="download()"
          matIcon="blue-download"
        ></app-ic-action-button>
      </div>
    </div>
    <div class="w-100" fxLayout="row" fxLayoutGap="16px">
      <app-searchable-select
        fxFlex="24"
        [control]="viewStatementForm.get('loanAccNo')"
        [items]="loanDetails"
        [inputLabel]="'Loan Account No' | translate"
        bindValueKey="cbsAccountNumber"
        bindLabelKey="cbsAccountNumber"
      >
      </app-searchable-select>
      <app-searchable-select
        fxFlex="24"
        [control]="viewStatementForm.get('viewOptions')"
        [items]="loanViewOptionArr"
        [inputLabel]="'View Options' | translate"
        bindValueKey="value"
        bindLabelKey="label"
      >
      </app-searchable-select>
      <span fxFlex></span>
      <div fxLayoutAlign="end center">
        <app-ic-action-button
          [buttonName]="'Fetch' | translate"
          buttonType="filled"
          [disabled]="viewStatementForm.invalid"
          (click)="onClick()"
        ></app-ic-action-button>
      </div>
    </div>

    <table class="fetch-table w-100" *ngIf="fetchStatement">
      <thead>
        <ng-container *ngIf="fetchedData">
          <tr class="statementHead">
            <th *ngFor="let head of viewStatementHeadingsArr">
              {{ head?.headerCell }}
            </th>
          </tr>
        </ng-container>
      </thead>
      <tbody>
        <tr *ngFor="let data of fetchedData">
          <td *ngFor="let item of viewStatementHeadingsArr">
            <span *ngIf="item?.headerDef.includes('Date'); else showData">
              {{ data[item?.headerDef] | date: "shortDate" }}</span
            >
            <ng-template #showData>{{ data[item?.headerDef] }}</ng-template>
          </td>
        </tr>
      </tbody>
    </table>
  </mat-card>
</div>
