<h3 class="light-blue-title">Unbilled Transaction</h3>
<div fxLayout="column">
  <div class="creditNumber">
    <ic-select
      [label]="'Credit Card Number' | translate"
      placeholder="Credit Card Number"
      [options]="creditList"
      [bindValueKey]="'cardNumber'"
      [bindLabelKey]="'cardNumber'"
      [control]="unbilledForm.get('creditNumber') | formcontrol"
      (selectionChange)="patchDetails($event)"
    ></ic-select>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayoutAlign="start center" fxLayoutGap="15">
      <span class="send-money-title">
        {{ 'Unbilled Transaction' | translate }}
      </span>
      <div class="amountSection">
        <span class="totalAmount">{{ 'Total Amount' | translate }}</span>
        <span class="currency"> INR: </span>
        <span class="amount"> ₹ 1,40,000 </span>
      </div>
    </div>
    <div
      class="convert"
      (click)="goToConvertPage()"
      (keypress.down)="goToConvertPage()"
      tabindex="0"
    >
      {{ 'Convert To EMI' | translate }}
    </div>
  </div>
  <div>
    <app-reusable-table
      [columnNames]="unbilledHeader"
      [data]="unbilledValues"
    ></app-reusable-table>
  </div>
</div>
