<div>
  <ul class="approved_history_container">
    <span class="vertical_line"></span>
    <ng-container *ngFor="let item of applicationInfo; let indx = index">
      <li *ngIf="item">
        <div class="count_div">
          <div class="dateLabel">{{ item?.processDate | date: 'dd MMM' }}</div>
          <p class="count"></p>
        </div>
        <div class="list_body" fxFlex="85">
          <mat-card fxFlex="100" fxLayout="row wrap">
            <div fxFlex="25" fxLayoutAlign="center start">
              <div fxLayout="column">
                <div *ngIf="indx === 0" class="label_title">Process :</div>
                <div class="label_value">{{ item?.process }}</div>
              </div>
            </div>
            <div fxFlex="25" fxLayoutAlign="center start">
              <div fxLayout="column">
                <div *ngIf="indx === 0" class="label_title">Date & Time</div>
                <div class="label_value">{{ item?.processDate }}</div>
              </div>
            </div>
            <div fxFlex="25" fxLayoutAlign="center start">
              <div fxLayout="column">
                <div *ngIf="indx === 0" class="label_title">Description</div>
                <div class="label_value">
                  {{ item?.description }}
                </div>
              </div>
            </div>
            <div fxFlex="25" fxLayoutAlign="center start">
              <div fxLayout="column">
                <div *ngIf="indx === 0" class="label_title">Status :</div>
                <div
                  [ngClass]="[
                    item?.status?.toLowerCase() === 'schedule'
                      ? 'scheduleStatus'
                      : '',
                    item?.status?.toLowerCase() === 'ongoing'
                      ? 'inProgressStatus'
                      : '',
                    item?.status?.toLowerCase() === 'reject'
                      ? 'rejectStatus'
                      : '',
                    item?.status?.toLowerCase() === 'pending'
                      ? 'pendingStatus'
                      : '',
                  ]"
                  class="statusVal"
                >
                  {{ item.status }}
                </div>
              </div>
            </div>
          </mat-card>
        </div>
      </li>
    </ng-container>
  </ul>
</div>
