.emi-calculator {
  background-image: url('~assets/images/emi-calc-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: aliceblue;
  background-blend-mode: darken;
  > div {
    margin: 8px 40px;
  }
  .emi-header {
    display: inline;
    background-color: #ffffff;
    height: 100%;
    border-radius: 12px;
    padding: 12px;
    width: fit-content;
  }
  .description-text {
    width: 60%;
  }

  .emi-calculator-content {
    border-radius: 12px;
    background-color: #ffffff;
    padding: 24px;
    display: flex;
    flex-direction: row;
    gap: 10px;

    .interest-rate {
      background-color: #f5f6ff;
      padding: 6px 12px;
      border-radius: 8px;

      span {
        color: #004c97;
      }
    }

    .amount-sliders {
      .tenure-buttons {
        border: 2px solid #dcdcdc;
        border-radius: 8px;
        overflow: hidden;
        cursor: pointer;

        .tenure-input,
        .months-btn,
        .years-btn,
        .tenure-input:focus {
          border: none;
          width: 55px;
          height: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          outline: none;
        }
        .months-btn.active,
        .years-btn.active {
          background-color: #004c97;
          color: white;
          border: 2px #004c97 solid;
        }
        .months-btn,
        .years-btn {
          border: 1px solid transparent;
          border-radius: 4px;
          padding: 5px 10px;
          cursor: pointer;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          user-select: none;

          &:focus {
            outline: none;
            border: 1px solid #004c97;
          }

          &.error-border {
            border: 2px solid red !important;
          }
        }
      }
    }

    .emi-calculator-result {
      border-radius: 20px;
      border: 2px #f4f5fe solid;
      overflow: hidden;
      height: fit-content;
      .top-green-section {
        background-image: url('~assets/images/green-bg-loan-emi-result.svg');
        display: flex;
        background-repeat: no-repeat;
        background-size: cover;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 40%;
        padding: 70px 20px;

        .monthly-emi {
          color: #418f46;
          font-family: Inter;
          font-weight: 700;
          font-style: Bold;
          font-size: 32px;
          line-height: 100%;
          letter-spacing: 0%;
        }
      }

      .horizontal-dashed-line {
        border-bottom: 1px dashed #dcdcdc;
      }

      .emi-calculator-table > div {
        margin: 8px 8px;
      }
    }
  }

  .action-buttons {
    display: flex;
    gap: 12px;
    justify-content: flex-end;
    margin: 16px;

    .pointer {
      cursor: pointer;
    }
  }
}

@media (max-width: 768px) {
  .emi-calculator {
    padding: 1rem;
    .description-text {
      width: 100%;
    }
    .emi-calculator-content {
      flex-direction: column;
    }

    .action-buttons {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 2em;
    }

    .emi-calculator-result {
      margin-top: 16px;
    }
  }
}
