<div>
  <div>
    <ic-button label="Loan EMI Calculator"> </ic-button>
    <span>
      Estimated amount displayed. Final loan terms will be customised upon
      approval.
    </span>
  </div>

  <mat-card> </mat-card>

  <div
    class="w-100"
    fxLayout="row"
    fxLayoutGap="10px"
    fxLayoutAlign="end center"
  >
    <span class="theme_md">EMI Calculator</span>
    <ic-button
      label="Back"
      type="button"
      icButtonType="ghost-rounded"
    ></ic-button>
    <ic-button
      label="Apply Now"
      type="submit"
      icButtonType="filled-rounded"
    ></ic-button>
  </div>
</div>
