<div class="select-kyc">
  <!-- <app-account-stpper></app-account-stpper> -->
  <div class="kyc-section">
    <!-- Rest All will be start from hear -->
    <div>
      <div class="standard-txtField-phone-main slide_toggle_btn">
        <button
          class="kycButton"
          (click)="showKyc = true"
          mat-raised-button
          [ngClass]="{ active: showKyc }"
        >
          Select KYC
        </button>
        <button
          class="otherButton"
          (click)="showKyc = false"
          mat-raised-button
          [ngClass]="{ active: !showKyc }"
        >
          Use other Documents
        </button>
      </div>
      <app-kyc
        *ngIf="showKyc"
        (onSubmitEvent)="onVerify($event)"
        (onBackEvent)="onBack()"
      ></app-kyc>
      <app-other-documents
        *ngIf="!showKyc"
        (onSubmitEvent)="onSubmit($event)"
        (onBackEvent)="onBack()"
      ></app-other-documents>
    </div>
    <div></div>
  </div>
</div>
