<div class="success_modal" fxLayout="column" fxLayoutAlign="center center">
  <mat-icon (click)="onClose()" class="close">close</mat-icon>

  <div class="img_container">
    <img alt="" src="assets/images/success_modal.svg" />
  </div>
  <div
    class="details_block"
    fxLayout="row"
    fxLayoutAlign="center center"
    fxLayoutGap="5px"
  >
    Application No:
    <span class="attr_value">{{ data.applicationNo }}</span>
  </div>
  <div class="message_block">{{ data.msg }}</div>
  <div class="desclimer_block" fxLayout="row">
    <div class="note">Note:</div>
    <div class="note_details">
      {{ data.note }}
    </div>
  </div>
  <div
    class="footer_block"
    fxLayout="row"
    fxLayoutAlign="space-between center"
    fxLayoutGap="10px"
  >
    <ic-button icButtonType="outlined-rounded" label="Share"></ic-button>
    <ic-button icButtonType="outlined-rounded" label="Download"></ic-button>
    <ic-button
      (OnClick)="onClose()"
      icButtonType="filled-rounded"
      label="Done"
    ></ic-button>
  </div>
</div>
