.parent_container {
  .Parent_record {
    height: 56px;
    border-radius: 8px;
    justify-content: center;
    background-color: #fff;
    margin-bottom: 10px !important;
  }
  .flex-spacer {
    flex: 1 1 auto;
  }
}
