<footer
  *ngIf="!isHideFooter"
  data-aos="fade-up"
  data-aos-delay="200"
  data-aos-duration="500"
>
  <div class="container" fxLayout="column">
    <div fxLayout="row">
      <div fxFlex="100">
        <section fxLayout="row" fxLayout.lt-md="column">
          <div fxFlex="50">
            <h1 class="footer_logo">
              {{ userDetails?.bankName ?? 'Demo Bank' }}
            </h1>
            <p class="footer_desc">
              A basic account that allows individuals to store and grow their
              money while earning interest on their savings. It offers easy
              access to funds and is suitable for daily transactions and
              short-term savings.
            </p>
          </div>
          <div fxFlex="50" fxLayout="row" fxLayoutAlign="space-between">
            <div>
              <div class="full-width">
                <h4 class="header_md_bold_black">Pages</h4>
                <ul class="footer_links">
                  <li *ngFor="let page of footerPages">
                    <a [routerLink]="page.path">{{ page.name }}</a>
                  </li>
                </ul>
              </div>
            </div>
            <div
              class="col-12 col-md-3 d-flex flex-column align-items-start align-items-md-center py-3"
            >
              <div class="full-width">
                <h4 class="header_md_bold_black">Help</h4>
                <ul class="footer_links">
                  <li *ngFor="let help of helpSection">
                    <a>{{ help.name }}</a>
                  </li>
                </ul>
              </div>
            </div>
            <div
              class="col-12 col-md-3 d-flex flex-column align-items-start align-items-md-center py-3"
            >
              <div>
                <h4 class="header_md_bold_black">Social Media</h4>
                <div class="social_img_wrapper">
                  <a
                    (click)="opened(social?.path)"
                    *ngFor="let social of socialMedia"
                    (keydown.enter)="opened(social?.path)"
                    tabIndex="0"
                    role="button"
                  >
                    <img [src]="social.imgUrl" alt="Social Media Image"
                  /></a>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>

    <div id="horizontal_line"></div>
    <div fxLayout="row" fxFlex="100">
      <p class="theme_md mb-0">&copy; 2025 Rumango LTD. All rights reserved.</p>
    </div>
  </div>
</footer>
