<div
  class="column"
  style="padding: 2% 2% 2% 8%; box-shadow: 3px 3px 20px 2px #0000000f"
  *ngIf="!hideNavItem"
>
  <div class="row">
    <div
      class="col-md-5 col-12"
      style="
        font-size: 35.33px;
        font-weight: 800;
        line-height: 56.53px;
        color: #004c97;
      "
    >
      {{ userDetails?.bankName ?? "Demo Bank" }}
    </div>
    <div class="col-md-2 col-12">Pages</div>
    <div class="col-md-2 col-12">Help</div>
    <div class="col-md-3 col-12">Social Media</div>
    <!-- <div>
      A basic account that allows individuals to store and grow their money
      while earning interest on their savings. It offers easy access to funds
      and is suitable for daily transactions and short-term savings.
    </div> -->
  </div>
  <div class="row">
    <div
      class="col-md-5 col-12"
      style="line-height: 28px; padding-right: 10%; font-size: 16px"
    >
      A basic account that allows individuals to store and grow their money
      while earning interest on their savings. It offers easy access to funds
      and is suitable for daily transactions and short-term savings.
    </div>
    <div class="col-md-2 col-12 column" style="line-height: 30px">
      <a [routerLink]="['/account']"><div>Open Account</div></a>
      <a [routerLink]="['/loan']"><div>Loan Account</div></a>
      <a [routerLink]="['/card']"><div>Card</div></a>
      <a [routerLink]="['/deposits']"><div>Deposit</div></a>
    </div>
    <div class="col-md-2 col-12 column" style="line-height: 30px">
      <div>Support</div>
      <div>Terms & Condittion</div>
      <div>Privacy Policy</div>
      <div>FAQ</div>
    </div>
    <div class="col-md-2 col-12 socialMedia">
      <a (click)="opened(social?.path)" *ngFor="let social of socialMedia">
        <img [src]="social.imgUrl"
      /></a>
    </div>
  </div>

  <mat-divider style="margin: 2% 7% 2% 0%"></mat-divider>
  <div class="row">
    <div class="col-md-10 col-12">© 2023 Rumango LTD. All rights reserved</div>
    <div class="col-md-2 col-12">
      <img src="assets/images/Group 64.svg" />
    </div>
  </div>
</div>
