<div>
  <mat-card class="mt-16 uploadcard">
    <mat-card-content>
      <div fxLayout="column" fxLayoutAlign="center center">
        <div appDragDrop>
          <mat-icon (click)="close()">close</mat-icon>
          <img
            [src]="
              imageUrl?.changingThisBreaksApplicationSecurity
                | safe: 'url'
                | async
            "
            alt="upload image"
            class="imagedesign"
          />
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <div class="full-width mt-24 mb-12" fxLayoutAlign="center">
    <button
      (click)="editPage()"
      class="donebtn"
      mat-dialog-close
      mat-raised-button
      type="button"
    >
      Edit
    </button>
  </div>
</div>
