.uploadcard {
  border: 2px dashed #707070;
}

.imagedesign {
  height: 300px;
  width: 100%;
}

.done {
  background: transparent linear-gradient(91deg, #051a2d 0%, #0033a1 100%) 0% 0%
    no-repeat padding-box;
  border-radius: 23px;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
