<div fxFLex="100" class="default custom_card" fxLayout="column">
  <div fxFlex="100" fxLayout="column" class="card_align">
    <div
      class="custom_card_header"
      fxLayout="row"
      fxLayoutAlign="space-between center"
    >
      <div class="text-label">Select Your Bank</div>
      <mat-icon
        class="search-close text-muted cursor-pointer"
        mat-dialog-close
        (click)="closeDialog()"
        >close</mat-icon
      >
    </div>
  </div>

  <div fxFlex="100">
    <app-reusable-table
      [columnNames]="tableColumns"
      [data]="tableData"
      (rowClicked)="onRowClicked($event)"
    ></app-reusable-table>
  </div>
</div>
