<div
  fxLayout="column"
  *ngIf="interestStatementForm"
  [formGroup]="interestStatementForm"
>
  <h3>Interest Statement</h3>
  <mat-card>
    <div class="w-100" fxLayout="row">
      <app-searchable-select
        fxFlex="24"
        [control]="interestStatementForm.get('debitAccount')"
        [items]="loanDetails"
        [inputLabel]="'Loan Account No' | translate"
        bindValueKey="cbsAccountNumber"
        bindLabelKey="cbsAccountNumber"
        [showOutsideLabel]="true"
      >
      </app-searchable-select>
      <div fxLayout="column">
        <h4>{{ "Statements" | translate }}</h4>
        <mat-radio-group
          aria-label="Select an option"
          formControlName="statementOption"
        >
          <mat-radio-button
            [value]="'Financial Year'"
            class="radioChecked radiobtn text-gray px-16"
            >{{ "Financial Year" | translate }}</mat-radio-button
          >
          <mat-radio-button
            [value]="'Duration'"
            class="radioChecked radiobtn text-gray px-16"
            >{{ "Duration" | translate }}</mat-radio-button
          >
        </mat-radio-group>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <app-searchable-select
        *ngIf="
          interestStatementForm.get('statementOption').value ===
          'Financial Year'
        "
        fxFlex="24"
        [control]="interestStatementForm.get('yearDuration')"
        [items]="yearDurationArr"
        [inputLabel]="'Year' | translate"
        bindValueKey="value"
        bindLabelKey="label"
      >
      </app-searchable-select>
      <div
        *ngIf="
          interestStatementForm.get('statementOption').value === 'Duration'
        "
        fxLayout="row"
        fxLayoutGap="16px"
      >
        <app-input-date-picker
          [control]="interestStatementForm.get('statementFrom')"
          [inputLabel]="'From' | translate"
        ></app-input-date-picker>
        <app-input-date-picker
          [control]="interestStatementForm.get('statementTo')"
          [inputLabel]="'To' | translate"
        ></app-input-date-picker>
      </div>
      <span></span>
      <app-ic-action-button
        [buttonName]="'Fetch' | translate"
        buttonType="filled"
        (click)="fetchData()"
      ></app-ic-action-button>
    </div>
    <div>
      <h2 *ngIf="fetchStatement" class="requestCertificateHead">
        {{ "View Request Certificate" | translate }}
      </h2>
    </div>
    <table class="fetch-table w-100" *ngIf="fetchStatement">
      <thead>
        <tr class="statementHead">
          <th *ngFor="let head of interestStatementheadings">{{ head }}</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="interestStatement">
          <tr>
            <td>{{ interestStatement?.accountNo }}</td>
            <td>{{ card?.schedules?.dueDate }}</td>
            <td>{{ card?.schedules?.settledAmount }}</td>
            <td>{{ card?.schedules?.dueAmount }}</td>
            <td
              class="actionBtn"
              fxLayout="row"
              fxLayoutAlign="center"
              fxLayoutGap="16px"
            >
              <app-ic-action-button
                [buttonName]="'share' | translate"
                buttonType="stroked"
                class="actionBtn"
              ></app-ic-action-button>
              <app-ic-action-button
                [buttonName]="'Download' | translate"
                buttonType="filled"
                class="actionBtn"
              ></app-ic-action-button>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </mat-card>
</div>
