<div fxFlex="100" fxLayout="column" class="new-popup">
  <div fxLayout="row" fxLayoutAlign="space-between center" class="titleMainDiv">
    <div class="title-div">
      <span *ngIf="!isSaveTemplate; else showTemplate"> Create BG</span>
      <ng-template #showTemplate>Template Name</ng-template>
    </div>
  </div>
  <div fxLayout="column" fxLayoutAlign="center">
    <div class="verification-card">
      <ng-container *ngIf="!isSaveTemplate">
        <div fxLayout="row" class="full-width mb-12 p-0">
          <div
            fxFlex="50"
            fxLayout="column"
            fxLayoutAlign="center center"
            class="customer-type"
            [ngClass]="{ 'customer-type-selected': !checkToggle }"
            (click)="customerToggle(false)"
          >
            <div>Select Template</div>
          </div>
          <div
            fxFlex="50"
            fxLayout="column"
            fxLayoutAlign="center center"
            class="customer-type"
            [ngClass]="{ 'customer-type-selected': checkToggle }"
            (click)="customerToggle(true)"
          >
            <div>Add New</div>
          </div>
        </div>
        <div *ngIf="!checkToggle">
          <mat-form-field appearance="outline" class="custom-field">
            <mat-label class="autolabel">Template Name</mat-label>
            <mat-select [(ngModel)]="templateName">
              <mat-option value="Aadhar">Aadhar</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </ng-container>
      <ng-container *ngIf="isSaveTemplate">
        <mat-form-field appearance="outline" class="custom-field">
          <mat-label class="autolabel">Template Name</mat-label>
          <input matInput type="text" [(ngModel)]="templateName" />
        </mat-form-field>
      </ng-container>
      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
        <button mat-raised-button class="submit" (click)="onSubmit()">
          <span> Submit</span>
        </button>
        <button mat-raised-button class="skipbtn" (click)="onBack()">
          Back
        </button>
      </div>
    </div>
  </div>
</div>
