.next_go {
  background: #377dff;
  box-shadow: 0px 3px 6px rgb(37 113 255 / 5%);
  height: 42px;
  width: 50px;
  top: 1px;
  position: relative;
  /* left: 135px; */
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  border-radius: 0 8px 8px 0;
}
.icon_input_wrapper {
  display: flex;
  align-items: center;
  margin-top: -2px;
  z-index: 1;
}
.disbursementRqstLink {
  font: normal normal bold 16px/19px Raleway;
  color: #377dff;
  opacity: 1;
}
.info-table {
  width: 100%;
}
.info-table th,
.info-table td {
  padding: 8px;
  text-align: center;
}

.disbursementList {
  background-color: #f2f7ff;
  border-radius: 12px 12px 12px 12px;
}
.disbursementListHead {
  color: #606c8d;
  opacity: 1;
}
.basicInfoList {
  font: normal normal medium 14px/17px Helvetica Neue;
  letter-spacing: 0px;
  color: #060606;
  opacity: 1;
}
.successInfoList {
  color: #377dff;
}
.failedInfoList {
  color: #e0262b;
}

.emi-table-header {
  background: #f3f3f3 0% 0% no-repeat padding-box;
  border-radius: 12px;
  opacity: 1;
  border: 5px solid #ffffff;
  box-shadow: 0px -1px 2px #0000001c;
}

.action-div {
  border: 1px solid black;
  border-radius: 50%;
  height: 15px;
  width: 15px;
}
.action-button {
  font-size: 14px;
  font-weight: bold;
}
.child-div {
  background: #edf3f9 0% 0% no-repeat padding-box !important;
}
