<form
  *ngIf="repaymentScheduleForm"
  [formGroup]="repaymentScheduleForm"
  fxLayout="column"
  fxLayoutGap="16px"
>
  <h3>Repayment Schedule</h3>
  <mat-card>
    <div
      class="w-100"
      fxLayout="row"
      fxLayoutGap="90px"
      fxLayoutAlign="start center"
    >
      <h3>{{ "Loan Account Number" | translate }}</h3>
      <div>
        <app-searchable-select
          fxFlex="100"
          class="icon_input_wrapper"
          [control]="repaymentScheduleForm.get('loanAccNo')"
          [items]="loanDetails"
          bindValueKey="cbsAccountNumber"
          bindLabelKey="cbsAccountNumber"
        >
        </app-searchable-select>
        <div class="next_go" (click)="fetchRepaymentSchedule()">
          <mat-icon>arrow_forward</mat-icon>
        </div>
      </div>
      <span fxFlex></span>
      <div
        *ngIf="fetchStatement"
        fxLayout="row"
        fxLayoutGap="16px"
        fxLayoutAlign="end center"
      >
        <h3 class="light-blue-title">
          <u>{{ "Loan Repayment" | translate }}</u>
        </h3>
        <app-ic-action-button
          matIcon="blue-download"
          [buttonName]="'Download' | translate"
          buttonType="blue-stroked"
        ></app-ic-action-button>
      </div>
    </div>
    <ng-container *ngIf="fetchStatement">
      <div class="blue-box" fxLayout="row" fxLayoutGap="10px">
        <div
          fxLayout="column"
          fxFlex="15"
          *ngFor="let item of loanAccountDetails"
        >
          <p class="label">{{ item?.headerCell | translate }}</p>
          <span class="value" *ngIf="repaymentDetails">
            {{ repaymentDetails[item?.headerDef] }}</span
          >
        </div>
      </div>

      <div class="w-100">
        <mat-card class="default-card mx-0 px-0">
          <div>
            <div
              class="emi-table-header p-12 text-gray full-width"
              fxLayoutAlign="space-between center"
            >
              <span fxFlex="11">{{ "Date" | translate }}</span>
              <span fxFlex="11">{{ "Sequence" | translate }}</span>
              <span fxFlex="11">{{ "OS Loan" | translate }}</span>
              <span fxFlex="11">{{ "Principal" | translate }}</span>
              <span fxFlex="11">{{ "Interest" | translate }}</span>
              <span fxFlex="11">{{ "EMI" | translate }}</span>
              <span fxFlex="11">{{ "Amount Paid" | translate }}</span>
              <span fxFlex="11">{{ "Pending Due" | translate }}</span>
              <span fxFlex="11">{{ "Status" | translate }}</span>
            </div>
            <ng-container
              *ngFor="let date of repaymentDetails?.yearly; let i = index"
            >
              <div
                fxLayoutAlign="space-between center"
                class="text-label mt-12 px-12"
              >
                <div class="action-div">
                  <mat-icon
                    *ngIf="date?.expanded; else showAdd"
                    class="action-button"
                    (click)="date.expanded = false"
                    >remove</mat-icon
                  >
                  <ng-template #showAdd>
                    <mat-icon
                      class="action-button"
                      (click)="date.expanded = true"
                      >add</mat-icon
                    >
                  </ng-template>
                </div>
                <div fxFlex="11">
                  {{ date.year }}
                </div>

                <div fxFlex="11">{{ i + 1 }}</div>
                <div fxFlex="11">
                  {{ date.totalOsLoan }}
                </div>
                <div fxFlex="11">{{ date.totalPrincipal }}</div>
                <div fxFlex="11">{{ date.totalIntrest }}</div>
                <div fxFlex="11">{{ date.totalEmi }}</div>
                <div fxFlex="11">{{ date.totalAmtPaid }}</div>
                <div fxFlex="11">{{ date.totalPendingDue }}</div>
                <div fxFlex="11">{{ date.status }}</div>
              </div>
              <mat-card *ngIf="date.expanded">
                <div class="w-100 child-div mt-12">
                  <div
                    fxLayoutAlign="space-between center"
                    fxLayoutGap="5px"
                    class="ml-12 text-normal px-24 py-8"
                    *ngFor="let item of date?.monthly; let j = index"
                  >
                    <div fxFlex="10" class="text-highlighted">
                      {{ item?.dueDate | date : "shortDate" }}
                    </div>

                    <div fxFlex="10" class="text-highlighted">
                      {{ j + 1 }}
                    </div>
                    <div fxFlex="10">{{ item?.outstandingLoan }}</div>
                    <div fxFlex="10">{{ item?.principal }}</div>
                    <div fxFlex="10">{{ item?.interest }}</div>
                    <div fxFlex="10">{{ item?.emi }}</div>
                    <div fxFlex="10">{{ item?.amountPaid }}</div>
                    <div fxFlex="10">{{ item?.pendingDue }}</div>
                    <div fxFlex="10">{{ item?.status }}</div>
                  </div>
                </div>
              </mat-card>
            </ng-container>
          </div>
        </mat-card>
      </div>
    </ng-container>
  </mat-card>
</form>
