<div class="card_advert_container" fxFlex="100" fxLayout="row wrap">
  <div
    class="card_advert_header"
    fxFlex="100"
    fxLayoutAlign="center center"
    data-aos="fade-up"
    data-aos-delay="200"
    data-aos-duration="500"
  >
    Join the fun today
  </div>
  <div
    class="card_advert_desc"
    fxFlex="100"
    fxLayoutAlign="center center"
    data-aos="fade-up"
    data-aos-delay="300"
    data-aos-duration="500"
  >
    Effortlessly manage your spending, saving, and investing—all in one place.
  </div>
  <div class="card_advert_content" fxFlex="100" fxLayout="row">
    <div fxFlex="50" fxLayoutAlign="center center">
      <img
        data-aos="zoom-in"
        data-aos-delay="300"
        data-aos-duration="500"
        src="../../../../assets/images/card-assets/app_advert_qr.svg"
        alt=""
      />
    </div>
    <div class="card_advert_mob" fxFlex="50" fxLayoutAlign="center center">
      <img
        src="../../../../assets/images/card-assets/mobile_app_illustration.svg"
        alt=""
        data-aos="zoom-in"
        data-aos-delay="200"
        data-aos-duration="500"
      />
    </div>
  </div>
</div>
