<div class="card_advert_container" fxFlex="100" fxLayout="row wrap">
  <div
    class="card_advert_header"
    fxFlex="100"
    fxLayoutAlign="center center"
    [inViewAnimate]="'fade-up'"
    style="animation-delay: 0.1s"
  >
    Join the fun today
  </div>
  <div
    class="card_advert_desc"
    fxFlex="100"
    fxLayoutAlign="center center"
    [inViewAnimate]="'fade-up'"
    style="animation-delay: 0.3s"
  >
    Effortlessly manage your spending, saving, and investing—all in one place.
  </div>
  <div class="card_advert_content" fxFlex="100" fxLayout="row">
    <div
      class="media_options"
      fxFlex="50"
      fxLayoutAlign="center center"
      [inViewAnimate]="'zoom-in'"
      style="animation-delay: 0.5s"
    >
      <img
        src="../../../../assets/images/card-assets/app_advert_qr.svg"
        alt=""
      />
    </div>
    <div
      class="card_advert_mob"
      fxFlex="50"
      fxLayoutAlign="center center"
      [inViewAnimate]="'zoom-in'"
      style="animation-delay: 0.7s"
    >
      <img
        src="../../../../assets/images/card-assets/mobile_app_illustration.svg"
        alt=""
      />
    </div>
  </div>
</div>
