<div class="card_advert_container" fxFlex="100" fxLayout="row wrap">
  <div
    class="card_advert_header"
    fxFlex="100"
    fxLayoutAlign="center center"
    [inViewAnimate]="'fade-up'"
    style="animation-delay: 0.1s"
  >
    Join the fun today
  </div>
  <div
    class="card_advert_desc"
    fxFlex="100"
    fxLayoutAlign="center center"
    [inViewAnimate]="'fade-up'"
    style="animation-delay: 0.3s"
  >
    Effortlessly manage your spending, saving, and investing—all in one place.
  </div>
  <div class="card_advert_content" fxFlex="100" fxLayout="row">
    <div
      class="media_options"
      fxFlex="50"
      fxLayout="row wrap"
      fxLayoutAlign="start center"
      [inViewAnimate]="'zoom-in'"
      style="animation-delay: 0.5s"
    >
      <div class="large_txt mb-12">Download from App store</div>
      <div>
        <img src="../../../../assets/images/card-assets/app_store.svg" alt="" />
      </div>
      <div class="large_txt mb-12">_________________________Or_________________________</div>
      <div fxFlex="100" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
        <img src="../../../../assets/images/card-assets/qr_code.svg" alt="">
        <div fxLayoutAlign="center center" class="large_txt">Scan QR Code to Download</div>
      </div>
    </div>
    <div
      class="card_advert_mob"
      fxFlex="50"
      fxLayoutAlign="center center"
      [inViewAnimate]="'zoom-in'"
      style="animation-delay: 0.7s"
    >
      <img
        src="../../../../assets/images/card-assets/mobile_app_illustration.svg"
        alt=""
      />
    </div>
  </div>
</div>
