<div class="column-2">
  <app-common-mobile-verification
    (getOTP)="getOTP($event)"
    (enteredOTP)="enteredOtp($event)"
    [showOtpSection]="showOtpSection"
    (OTPTimer)="otpTimer($event)"
    [invalidOtp]="invalidOtp"
    [otpSent]="otpSent"
  ></app-common-mobile-verification>
  <div class="button-section" *ngIf="showOtpSection">
    <button
      class="confirm-button"
      [ngClass]="{ 'disabled-field': isValidated() }"
      mat-raised-button
      (click)="onVerify()"
      [disabled]="!(isOtpAllowed && agreed)"
    >
      Verify
    </button>
    &nbsp;&nbsp;
    <button class="back-button exit-btn" mat-raised-button (click)="onExit()">
      Exit
    </button>
  </div>
</div>
