.emi-head {
  color: #00205c;
}
.emi-details {
  background-color: #f4f4f4;
  border-radius: 8px 8px 8px 8px;
  margin-bottom: 10px;
  min-height: 40px;
}
.emi-Info {
  color: #6e7582;
}
.converted-amount {
  background-color: #f5f7fb;
  color: #606c8d;
  border-radius: 4px 4px 4px 4px;
  padding: 5px;
  font-size: 12px;
}
.currencyStyle {
  color: #377dff;
  font-size: 18px;
  font-weight: 600;
}
.amount-convert {
  font-size: 18px;
  font-weight: 600;
}
.notes {
  color: #606c8d;
  font-size: 12px;
  list-style-type: none;
}
.notes-icon {
  margin: 0.25% 1% 1% 1%;
}

.currency-label {
  color: #377dff;
  font-size: 18px;
  font-weight: bold;
}
.amount {
  color: #00205c;
}
.amount-container {
  margin-top: 8px;
}
.payee_btn {
  background: var(--current-theme-background);
  // background: #00205c 0% 0% no-repeat padding-box;
  color: #ffffff;
}
