<div fxLayout="column">
  <div fxLayout="row" fxLayoutAlign="end">
    <mat-icon (click)="cancel()"> cancel_presentation</mat-icon>
  </div>
  <div class="alertImage">
    <img alt="..." class="summaryIcon" src="assets/images/error-icon.svg" />
  </div>
  <div fxLayout="column">
    <div class="alertText">
      {{ message }}
    </div>
  </div>
  &nbsp;
  <div
    class="button-section"
    fxLayout="row"
    fxLayoutAlign="center center"
    fxLayoutGap="50px"
  >
    <button (click)="done()" class="confirm-button" mat-raised-button>
      {{ isNextButton ? 'Next' : 'Yes' }}
    </button>

    <button
      (click)="cancel()"
      *ngIf="!isNextButton"
      class="back-button"
      mat-raised-button
    >
      No
    </button>
  </div>
</div>
