<form [formGroup]="otpForm">
  <div *ngIf="!hideInfo" class="title-text">
    Let's begin with some necessary information and get you started
  </div>
  <div class="standard-font-blue">
    Enter {{ verificationName }} for Instant Login
  </div>
  <div *ngIf="!hideInfo; else showField" class="mobile-verify">
    <ic-mobile-field
      (onSuffixClick)="onGetOTP()"
      (selectionChange)="setMobileLength()"
      [customError]="
        otpForm.get('phone')?.hasError('invalidLength')
          ? 'Max mobile length is ' + maxMobileLength
          : ''
      "
      [isdCode]="countriesIsdCodes"
      [isdControl]="otpForm.get('isdCode') | formcontrol"
      [maxLength]="maxMobileLength"
      formControlName="phone"
      fxFlex="70"
      placeholder="Mobile Number"
      suffixButton="Get OTP"
    >
      >
    </ic-mobile-field>
  </div>
  <ng-template #showField>
    <div>
      <ic-form-field
        (onSuffixClick)="onGetOTP()"
        [control]="otpForm.get('nationalId') | formcontrol"
        fxFlex="70"
        suffixButton="Get OTP"
      >
      </ic-form-field>
    </div>
  </ng-template>

  <div
    [ngStyle]="{ display: showOtpSection ? 'block' : 'none' }"
    style="margin-top: 10px"
  >
    <div class="standard-font-blue full-width mt-125">Enter OTP to verify</div>
    <div class="standard-otp-container-main" fxLayout="column">
      <ng-otp-input
        #ngOtpInput
        (onInputChange)="onOtpChange($event)"
        [config]="config"
      ></ng-otp-input>
      <mat-error *ngIf="invalidOtp"><strong>Invalid OTP!</strong></mat-error>
    </div>
    <div class="standard-font-black">
      <span
        ><a
          ><u
            (click)="onGetOTP()"
            (keydown.enter)="onGetOTP()"
            [ngClass]="[!resendLink ? 'disableResend' : '']"
            class="standard-font-blue"
            tabindex="3"
          >
            Resend OTP</u
          ></a
        ></span
      >
      &nbsp;
      <span *ngIf="!resendLink && displaySecond"
        >({{ displaySecond }} sec)</span
      >
    </div>
    <div *ngIf="!hideInfo" class="standard-auth-checkbox-container">
      <ic-checkbox
        (checkboxChange)="onAgreed($event)"
        class="primary"
        class="custom-checkbox"
      >
        <span class="standard-font-gray">
          I authorize DemoBank and it's representatives to email, call or SMS
          me. This Consent will override any registration from DNC/NDNC
        </span>
      </ic-checkbox>
    </div>
  </div>

  <div *ngIf="!hideInfo" fxLayout="column">
    <div fxFlex="100" fxLayout="column" fxLayoutGap="20">
      <div class="button-section" fxLayout="row" fxLayoutGap="30px">
        <ic-button
          (OnClick)="onVerify()"
          *ngIf="showOtpSection"
          [disabled]="this.agreed === false"
          [icButtonType]="'filled-rounded'"
          [isLoading]="isLoading"
          [label]="'Verify' | translate"
          [type]="'submit'"
          size="large"
        >
          <!-- [disabled]="!(otpAvailable && !isLoading && agreed)" -->
        </ic-button>
        <ic-button
          (OnClick)="onExit()"
          [label]="'Back'"
          [type]="'button'"
          icButtonType="ghost-rounded-danger"
          size="large"
        >
        </ic-button>
      </div>
    </div>
  </div>
  <!-- </div> -->
</form>
