<form [formGroup]="otpForm">
  <div class="title-text" *ngIf="!hideInfo">
    Let's begin with some necessary information and get you started
  </div>
  <div class="standard-font-blue" *ngIf="!hideInfo">
    Enter Mobile Number for Instant Login
  </div>
  <div class="mobile-verify">
    <ic-mobile-field
      label="Mobile Number"
      placeholder="Mobile Number"
      [isdControl]="otpForm.get('isdCode') | formcontrol"
      [isdCode]="countriesIsdCodes"
      (selectionChange)="setMobileLength()"
      formControlName="phone"
      [maxLength]="maxMobileLength"
      suffixButton="Get OTP"
      [icNumbersOnly]="true"
      (onSuffixClick)="onGetOTP()"
      [disabled]="(getOtpBtn && !validNumber) || showOtpSection"
    >
    </ic-mobile-field>
  </div>

  <div
    [ngStyle]="{ display: showOtpSection ? 'block' : 'none' }"
    style="margin-top: 10px"
  >
    <div class="standard-font-blue full-width mt-125">Enter OTP to verify</div>
    <div fxLayout="column" class="standard-otp-container-main">
      <ng-otp-input
        #ngOtpInput
        (onInputChange)="onOtpChange($event)"
        [config]="config"
      ></ng-otp-input>
      <mat-error *ngIf="invalidOtp"><strong>Invalid OTP!</strong></mat-error>
    </div>
    <div class="standard-font-black">
      <span
        ><a
          ><u
            (click)="onGetOTP()"
            class="standard-font-blue"
            [ngClass]="[!resendLink ? 'disableResend' : '']"
            (keydown.enter)="onGetOTP()"
            tabindex="3"
          >
            Resend OTP</u
          ></a
        ></span
      >
      &nbsp;
      <span *ngIf="!resendLink && displaySecond"
        >({{ displaySecond }} sec)</span
      >
    </div>
    <div class="standard-auth-checkbox-container">
      <ic-checkbox
        class="custom-checkbox"
        class="primary"
        (onCheckboxChange)="onAgreed()"
      >
        <span class="standard-font-gray">
          I authorize DemoBank and it's representatives to email, call or SMS
          me. This Consent will override any registration from DNC/NDNC
        </span>
      </ic-checkbox>
    </div>
  </div>

  <div>
    <div fxLayout="column">
      <div fxFlex="100" fxLayout="column" fxLayoutGap="20">
        <div
          fxLayout="row"
          fxLayoutGap="30px"
          class="button-section"
          *ngIf="showOtpSection"
        >
          <ic-button
            [label]="'Save' | translate"
            [type]="'submit'"
            size="large"
            [icButtonType]="'filled-rounded'"
            [isLoading]="isLoading"
            (OnClick)="onVerify()"
          >
            <!-- [disabled]="!(otpAvailable && !isLoading && agreed)" -->
          </ic-button>
          <ic-button
            [label]="'Exit'"
            icButtonType="ghost-rounded-danger"
            size="large"
            [type]="'button'"
            (OnClick)="onExit()"
          >
          </ic-button>
        </div>
      </div>
    </div>
  </div>
</form>
