<h3 class="light-blue-title">Card EMI Details</h3>
<mat-card fxLayout="column">
  <div fxFlex="100" fxLayout="column" fxLayoutAlign="space-between center">
    <div class="w-100" fxLayoutAlign="space-between center">
      <div fxFlex="33">
        <ic-select
          [label]="'Credit Card Number' | translate"
          placeholder="Credit Card Number"
          [options]="listOfAccounts"
          [bindValueKey]="'cardNumber'"
          [bindLabelKey]="'cardNumber'"
          [control]="cardEmiDetailsForm.get('creditNumber') | formcontrol"
          (selectionChange)="handleTransactionDetails($event)"
        ></ic-select>
      </div>
      <div fxFlex="18">
        <ic-button
          label="Download"
          icButtonType="filled"
          type="submit"
          size="large"
        ></ic-button>
      </div>
    </div>

    <div class="w-100">
      <app-reusable-table
        [columnNames]="creditEmiHeader"
        [data]="creditEmiValues"
      ></app-reusable-table>
    </div>
  </div>
</mat-card>
