<div class="loan-screen container">
  <app-landing-profile
    (customApply)="customApply()"
    [imageUrl]="imageUrl"
    [profileHeader]="profileHeader"
    [profileHint]="profileHint"
    [routeUrl]="routeUrl"
  >
  </app-landing-profile>

  <div class="mar-20">
    <div #custom_carousel>
      <app-carousel
        (customApplyLoan)="customApplyLoan($event)"
        [carowselData]="carowselData"
        [businessSuiteName]="businessSuiteName"
        [type]="type"
      >
      </app-carousel>
    </div>
  </div>

  <div class="top-performing mar-20">
    <app-top-performing></app-top-performing>
  </div>
  <div class="mt-70">
    <app-news-letter-slider></app-news-letter-slider>
  </div>
  <div>
    <app-news-letter></app-news-letter>
  </div>
</div>
