.loan-screen {
  .mar-20 {
    margin-top: 20px;
  }

  .top-performing {
    padding: 2rem 1%;
  }

  .top-section {
    display: flex;
    flex-direction: row;
    width: 100%;

    .col-1 {
      display: flex;
      flex-direction: column;
      width: 50%;

      .top-header {
        color: #06113c;
        font-family: Arial Rounded MT Bold;
        font-size: 64px;
        font-style: normal;
        font-weight: 400;
        line-height: 80.097px;
        /* 125.152% */
        letter-spacing: -0.32px;
      }

      .top-desc {
        color: #4c5371;
        font-family: Benton Sans;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
      }
    }

    .col-2 {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 50%;

      img {
        object-fit: contain;
        width: 70%;
        max-width: 100%;
        height: auto;
      }
    }
  }

  .header {
    color: #06113c;
    text-align: center;
    font-family: Arial Rounded MT Bold;
    font-size: 48px;
    font-style: normal;
    text-align: center;
    font-weight: 400;
    line-height: 74.097px;
    letter-spacing: -0.24px;
  }

  .desc {
    color: #4c5371;
    text-align: center;
    font-family: Benton Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
  }
}

.upConcave {
  height: 70px;
  border-radius: 0% 0% 50% 50%;
  margin-bottom: -4%;
  padding-bottom: 1%;
  background: white;
  z-index: 100;
  position: relative;
}

.downConcave {
  position: relative;
  z-index: 100;
  border-radius: 50% 50% 0% 0%;
  margin-top: -4%;
  padding-top: 4%;
  background: white;
}
