<section
  class="deposit_faq container"
  data-aos="fade-up"
  data-aos-delay="200"
  data-aos-duration="500"
>
  <h2 class="section_heading">FAQ</h2>
  <p class="section_subHeading">A ready reckoner for your queries.</p>
  <ng-container *ngFor="let faqItem of faqArray; let i = index">
    <div class="custom_accordin">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header class="faq_Header">
            <mat-panel-description class="faq_Header_description">
              {{ faqItem.question }}</mat-panel-description
            >
          </mat-expansion-panel-header>
          <p class="expansion_desc">{{ faqItem.answer }}</p>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </ng-container>
</section>
