<div class="main_container pl-48">
  <div class="w-100" fxLayout="row" fxLayoutAlign="space-between center">
    <h3 class="main_title">DemoBank</h3>
    <button class="exit-button" mat-raised-button>Exit</button>
  </div>

  <div class="main_section pl-48 mt-48" fxLayout="column">
    <span class="title">Document Upload</span>
    <h2 class="heading">OTP Verification</h2>
    <div class="transparent-form-field">
      <mat-form-field fxFlex="20">
        <mat-label>Enter the DOB</mat-label>
        <input [(ngModel)]="dateOfBirth" matInput />
      </mat-form-field>
      <div (click)="validateDateOfBirth()" class="forward-arrow-div">
        <mat-icon class="forward-arrow">arrow_forward</mat-icon>
      </div>
    </div>
    <mat-hint *ngIf="incorrectDOB" class="error"
    >Enter correct date of birth
    </mat-hint>
    <ng-container *ngIf="showOTP">
      <div class="otp-text">
        <span
        >An OTP has been sent to the Registered Mobile Number (
          <span class="mobile-no">+91 888XX XX123</span>)</span
        >
      </div>

      <div>
        <ng-otp-input
          #ngOtpInput
          (onInputChange)="onOtpChange($event)"
          [config]="config"
          class="ng_otp_input"
        ></ng-otp-input>
      </div>
      <span class="resend-text"
      >Not Received?
        <span (click)="verifyOtp()" class="resend">Resend</span></span
      >
      <div class="btn-div">
        <button (click)="verifyOtp()" class="proceed-btn" mat-raised-button>
          Proceed
        </button>
      </div>
    </ng-container>
  </div>
</div>
