.card-slider {
    display: flex;
    flex-direction: row;
    width: 100%;

    .col1 {
        display: flex;
        flex-direction: column;

        .custom-slider {
            height: 350px;
            width: 400px;
            padding: 20px;
            border-radius: 22.946px;
            background: #FFF;
            box-shadow: 0px 6.1189799308776855px 30.594900131225586px 0px rgba(0, 0, 0, 0.05);

        }
    }

    .col2 {
        display: flex;
        flex-direction: column;
        width: 75%;

        .card-details {
            border-radius: 22.946px;
            border: 3px solid #FFF;
            background: #F6FAFF;
            box-shadow: 0px 3px 25px 0px rgba(0, 0, 0, 0.05);

            .card-top-section {
                display: flex;
                flex-direction: row;

                .card-header {
                    padding: 10px;
                    display: flex;

                    span {
                        color: #004C97;
                        font-family: Arial Rounded MT Bold;
                        font-size: 33px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 56px;
                        /* 169.697% */
                        letter-spacing: 0.5px;
                    }
                }

                .card-action {
                    padding: 10px;
                    display: flex;
                    justify-content: end;

                    button {
                        margin: 10px;
                        background-color: white;
                        border: none;
                        cursor: pointer;
                    }
                }

            }

            .card-description {
                color: #424545;
                font-family: Poppins;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 177.5%;
                padding: 10px;
                letter-spacing: 0.5px;
            }

            .image-section {
                text-align: center;
                width: 100%;
            }

            .compare-link {
                color: var(--dard, #06113C);
                text-align: center;
                font-family: Poppins;
                font-size: 20px;
                font-style: normal;
                cursor: pointer;
                font-weight: 500;
                line-height: normal;
                text-decoration-line: underline;
            }
        }
    }
}

::-webkit-scrollbar {
    width: 5px !important;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
@media screen and (min-width:600px) {
    .card-slider {
        .col2 {
            .card-top-section {
                max-height: 70px;
                min-height: 70px;
                height: 70px;
            }
        }
    }
}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media screen and (min-width:801px) {
    .card-slider {
        .col2 {
            .card-top-section {
                max-height: 70px;
                min-height: 70px;
                height: 70px;
            }
        }
    }
}

@media screen and (min-width:1025px) {

    /* big landscape tablets, laptops, and desktops */
    .card-slider {
        .col2 {
            .card-top-section {
                max-height: 70px;
                min-height: 70px;
                height: 70px;

                .card-header {
                    min-width: 350px;
                    width: 350px;
                    max-width: 350px;
                }
            }

            .card-description {
                max-height: 130px;
                min-height: 130px;
                height: 130px;
                overflow: auto;
            }
        }
    }
}

/* hi-res laptops and desktops */
@media screen and (min-width:1281px) {

    .card-slider {
        .col2 {
            .card-top-section {
                max-height: 70px;
                min-height: 70px;
                height: 70px;

                .card-header {
                    min-width: 350px;
                    width: 350px;
                    max-width: 350px;
                }
            }

            .card-description {
                max-height: 130px;
                min-height: 130px;
                height: 130px;
                overflow: auto;

            }
        }
    }
}