.tenure-duration {
  background-color: white;
  border: none !important;
  box-shadow: 0px 3px 10px #00000017;
  border-radius: 8px;
  margin-top: 5px;
}

.inputSelect {
  width: 90px !important;
  background: #fffefe 0% 0% no-repeat padding-box;
  border-radius: 8px;
  opacity: 1;
  margin-top: 0px;
  // display: flow-root;
}

::ng-deep .inputSelect.mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0px;
}

::ng-deep
  .inputSelect.mat-form-field-appearance-outline
  .mat-form-field-outline {
  color: white !important;
}

.vl {
  height: 45px;
  border-left: 1px solid #707070;
  opacity: 0.45;
}

::ng-deep .inputSelect .mat-input-element {
  margin-left: 25pt !important;
}

::ng-deep .mat-form-field-label {
  color: #91939d !important;
  font-family: Poppins !important;
  font-size: 13px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: normal !important;
}

.mat-form-field {
  width: fit-content;
}

.emi-result {
  top: 130%;
}

.emi-amount-step {
  .emi-result {
    top: 125%;
  }
}

.desc {
  color: rgba(16, 34, 69, 0.43);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

.text-benefits-step {
  .header-text {
    color: #000;
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}
