.button-section {
  margin-top: 5%;
}

// ::ng-deep .mat-select-value {
//     color: #CACACA61 !important;
//     font-weight: 600;
//     font-size: 20px;
// }

// ::ng-deep .egret-navy .mat-select-arrow {
//     color: #CACACA61;
// }
.successfully-Otp {
  color: green;
  font-weight: 500;
  margin-top: -18px;
  margin-left: 42%;
  position: absolute;
}
.mobileLength-error {
  margin-top: 23px;
}
.standard-txtField-phone-main {
  padding-bottom: 4px;
  height: 65px;
  position: relative;
  background: #fffefe 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 10px #00000017;
  border: none;
  border-radius: 12px;
  opacity: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .selector-input {
    width: 15%;
    color: #b4b4b4;
    position: relative;
    padding: 20px 20px 12px 5px;
    margin-left: 10px;
  }

  .vertical-separator {
    height: auto;
    width: 1px;
    border: #cacaca61 1px solid;
    position: relative;
  }

  .inputText {
    position: relative;
    outline: none;
    border: none;
    width: 50%;
    padding: 20px 20px 20px 10px;
  }

  .disabled-field {
    cursor: not-allowed !important;
  }
}

.standard-otp-container-main {
  display: flex;
  flex-direction: row;
  margin-bottom: 35px;

  .standard-textbox-small {
    width: 90px;
    height: 80px;
    box-shadow: 0px 3px 15px 0px #00000017;
    background: #fffefe 0% 0% no-repeat padding-box;
    border-radius: 12px;
    border: none;
    margin-right: 20px;
    text-align: center;
  }
}

.yeardrop {
  height: 66px !important;
  margin-bottom: 25px;
  background-color: white;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.0901960784);
  border-radius: 8px;
  ::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0px !important;
  }
}
::ng-deep
  .mobile-verify
  .inputSelect.mat-form-field-appearance-outline
  .mat-form-field-infix {
  padding: 0px;
  margin-top: -4px !important;
}

::ng-deep
  .inputSelect.mat-form-field-appearance-outline
  .mat-form-field-outline {
  color: white !important;
}
.vl {
  border-left: 2px solid #cacaca;
  margin: 2px 0px;
}

:host ::ng-deep .mob_field .mat-form-field-wrapper {
  margin-top: 15px !important;
}
:host ::ng-deep .isdSelect .mat-form-field-wrapper {
  margin-top: 20px;
}

::ng-deep .mob_field .mat-form-field-suffix {
  top: -10px !important;
  right: -10px !important;
}
::ng-deep
  .inputSelect.mat-form-field-appearance-outline
  .mat-form-field-outline {
  color: white !important;
}
.custom-mat-error {
  top: -21px;
  position: relative;
}

::ng-deep .selector-input .mat-select-arrow-wrapper {
  transform: none !important;
}

.mobile-verify {
  ::ng-deep .isdSelect .mat-form-field-flex {
    padding: 0.3rem 0.75em 0 0.75em !important;
  }
  .parentYearDiv {
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.090196) !important;
  }
  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    box-shadow: none !important;
  }
}
.disableResend {
  pointer-events: none !important;
  color: #a1a1a1 !important;
  cursor: default !important;
  a {
    cursor: default !important;
  }
}
