<form [formGroup]="personalDetailsForm" class="generic">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <!-- 1 -->
    <div fxFlex="25">
      <ic-form-field
        [control]="customerInfo.get('cifNumber') | formcontrol"
        [icNumbersOnly]="true"
        [maxLength]="20"
        label="CIF Number"
      ></ic-form-field>
    </div>
    <div fxFlex="25"></div>
    <div fxFlex="25"></div>
    <div fxFlex="25">
      <ng-container
        *ngIf="user?.accountType !== 'individual' && user?.showIsPrimary"
      >
        <ng-container [ngSwitch]="user?.accountType">
          <mat-slide-toggle *ngSwitchCase="'joint'" class="toggle">
            Is this applicant a primary customer?
          </mat-slide-toggle>
          <mat-slide-toggle *ngSwitchCase="'corporate'" class="toggle">
            Is this applicant a primary customer?
          </mat-slide-toggle>
          <mat-slide-toggle *ngSwitchCase="'minor'" class="toggle">
            Is this applicant a primary guardian?
          </mat-slide-toggle>
          <mat-slide-toggle *ngSwitchDefault class="toggle">
            Is this applicant a primary guardian?
          </mat-slide-toggle>
        </ng-container>
      </ng-container>
      <!-- <mat-slide-toggle class="toggle" *ngIf="user?.accountType !== 'individual' && user?.showIsPrimary">{{'Is this applicant a primary ' }} {{user?.accountType == 'joint' ? 'customer?' : 'guardian?'}}</mat-slide-toggle> -->
    </div>
    <!-- 2 -->
    <div fxFlex="25">
      <ic-select
        [control]="kycInfo.get('prefix') | formcontrol"
        [options]="prefix"
        bindLabelKey="values"
        bindValueKey="id"
        label="Prefix"
      ></ic-select>
    </div>
    <div fxFlex="25">
      <ic-form-field
        [control]="kycInfo.get('firstName') | formcontrol"
        [maxLength]="20"
        label="First Name"
      ></ic-form-field>
    </div>
    <div fxFlex="25">
      <ic-form-field
        [control]="kycInfo.get('lastName') | formcontrol"
        [maxLength]="20"
        label="Last Name"
      ></ic-form-field>
    </div>

    <div fxFlex="25" *ngIf="detailsForGeneric.accountType == 'corporate'">
      <ic-select
        [control]="kycInfo.get('position') | formcontrol"
        [options]="positions"
        bindLabelKey="values"
        bindValueKey="id"
        label="Position"
      ></ic-select>
    </div>

    <div fxFlex="25">
      <ic-date-picker
        [control]="kycInfo.get('dateOfBirth') | formcontrol"
        placeholder="Date of Birth"
        label="Date of Birth"
      >
      </ic-date-picker>
    </div>

    <!-- 3 -->
    <div fxFlex="25">
      <ic-select
        [control]="kycInfo.get('gender') | formcontrol"
        [options]="genders"
        bindLabelKey="values"
        bindValueKey="id"
        label="Gender"
      ></ic-select>
    </div>

    <div
      fxFlex="25"
      *ngIf="user?.accountType !== 'minor' && user?.accountType !== 'corporate'"
    >
      <ic-select
        [control]="kycInfo.get('maritalStatus') | formcontrol"
        [options]="maritalStatus"
        bindLabelKey="values"
        bindValueKey="id"
        label="Marital Status"
      ></ic-select>
    </div>
    <div fxFlex="25">
      <ic-select
        [control]="kycInfo.get('nationality') | formcontrol"
        [options]="nationality"
        bindLabelKey="values"
        bindValueKey="id"
        label="Nationality"
      ></ic-select>
    </div>
    <div fxFlex="25">
      <ic-select
        [control]="kycInfo.get('countryOfResidence') | formcontrol"
        [options]="countries"
        bindLabelKey="values"
        bindValueKey="id"
        label="Country Of Residence"
      ></ic-select>
    </div>

    <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between center">
      <div class="title standard-margin">
        {{ 'Identification Details' }}
      </div>
    </div>

    <div fxFlex="25">
      <ic-form-field
        [control]="personalDetailsForm.get('identificationNo') | formcontrol"
        [maxLength]="20"
        label="Identification Number"
      ></ic-form-field>
    </div>
    <div fxFlex="25">
      <ic-select
        [control]="personalDetailsForm.get('countryOfIssue') | formcontrol"
        [options]="countries"
        bindLabelKey="values"
        bindValueKey="id"
        label="Country Of Issue"
      ></ic-select>
    </div>
    <div fxFlex="25">
      <ic-date-picker
        [control]="personalDetailsForm.get('dateOfIssue') | formcontrol"
        placeholder="Date Of Issue"
        label="Date Of Issue"
      >
      </ic-date-picker>
    </div>
    <div fxFlex="25">
      <ic-date-picker
        [control]="personalDetailsForm.get('expiryDate') | formcontrol"
        placeholder="Expiry Date"
        label="Expiry Date"
      >
      </ic-date-picker>
    </div>

    <div
      fxFlex="100"
      fxLayout="row"
      fxLayoutAlign="space-between center"
      *ngIf="detailsForGeneric.accountType !== 'individual'"
    >
      <div class="title standard-margin">
        {{ 'Relationship ' }}
        {{ user?.accountType == 'joint' ? '& Applicant’s Share (%)' : '' }}
      </div>
    </div>

    <div fxFlex="25" *ngIf="detailsForGeneric.accountType !== 'individual'">
      <ic-select
        [control]="personalDetailsForm.get('relationship') | formcontrol"
        [options]="relationships"
        bindLabelKey="values"
        bindValueKey="id"
        label="Relationship"
      ></ic-select>
    </div>

    <div
      fxFlex="25"
      *ngIf="user?.accountType == 'joint' || user?.accountType == 'corporate'"
    >
      <ic-form-field
        [control]="personalDetailsForm.get('sharePercentage') | formcontrol"
        [maxLength]="20"
        label="Share Percentage"
      ></ic-form-field>
    </div>

    <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between center">
      <div class="title standard-margin">
        {{ 'Contact Details' }}
      </div>
    </div>

    <div fxFlex="25">
      <ic-mobile-field
        (onSelectionChangeOutput)="setMobileLength()"
        [isdCode]="countriesIsdCodes"
        [customError]="
          contact.get('mobile')?.hasError('invalidLength')
            ? 'Max mobile length is ' + maxMobileLength
            : ''
        "
        [maxLength]="maxMobileLength"
        [formControl]="contact.get('mobile') | formcontrol"
        [isdCode]="countriesIsdCodes"
        [isdControl]="contact.get('mobtCode') | formcontrol"
        [maxLength]="maxMobileLength"
        label="Mobile No"
      ></ic-mobile-field>
    </div>
    <div fxFlex="25">
      <ic-mobile-field
        (onSelectionChangeOutput)="setMobileLength()"
        [isdCode]="countriesIsdCodes"
        [customError]="
          contact.get('alternativeNumber')?.hasError('invalidLength')
            ? 'Max mobile length is ' + maxMobileLength
            : ''
        "
        [maxLength]="maxMobileLength"
        [formControl]="contact.get('alternativeNumber') | formcontrol"
        [isdCode]="countriesIsdCodes"
        [isdControl]="contact.get('mobtCode') | formcontrol"
        [maxLength]="maxMobileLength"
        label="Alternate No"
      ></ic-mobile-field>
    </div>
    <div fxFlex="25">
      <ic-mobile-field
        (onSelectionChangeOutput)="setMobileLength()"
        [isdCode]="countriesIsdCodes"
        [customError]="
          contact.get('whatsappNo')?.hasError('invalidLength')
            ? 'Max mobile length is ' + maxMobileLength
            : ''
        "
        [maxLength]="maxMobileLength"
        [formControl]="contact.get('whatsappNo') | formcontrol"
        [isdCode]="countriesIsdCodes"
        [isdControl]="contact.get('mobtCode') | formcontrol"
        [maxLength]="maxMobileLength"
        label="WhatsApp No"
      ></ic-mobile-field>
    </div>
    <div fxFlex="25">
      <ic-form-field
        [control]="contact.get('email') | formcontrol"
        [maxLength]="20"
        label="Email Id"
      ></ic-form-field>
    </div>

    <div fxFlex="25">
      <ic-mobile-field
        (onSelectionChangeOutput)="setMobileLength()"
        [isdCode]="countriesIsdCodes"
        [customError]="
          contact.get('telephone')?.hasError('invalidLength')
            ? 'Max mobile length is ' + maxMobileLength
            : ''
        "
        [maxLength]="maxMobileLength"
        [formControl]="contact.get('telephone') | formcontrol"
        [isdCode]="countriesIsdCodes"
        [isdControl]="contact.get('mobtCode') | formcontrol"
        [maxLength]="maxMobileLength"
        label="Telephone (Home)"
      ></ic-mobile-field>
    </div>
    <div fxFlex="25" *ngIf="detailsForGeneric.accountType !== 'minor'">
      <ic-mobile-field
        (onSelectionChangeOutput)="setMobileLength()"
        [isdCode]="countriesIsdCodes"
        [customError]="
          contact.get('workTelephone')?.hasError('invalidLength')
            ? 'Max mobile length is ' + maxMobileLength
            : ''
        "
        [maxLength]="maxMobileLength"
        [formControl]="contact.get('workTelephone') | formcontrol"
        [isdCode]="countriesIsdCodes"
        [isdControl]="contact.get('mobtCode') | formcontrol"
        [maxLength]="maxMobileLength"
        label="Telephone (Work)"
      ></ic-mobile-field>
    </div>
    <div fxFlex="25">
      <ic-form-field
        [control]="contact.get('fax') | formcontrol"
        [maxLength]="20"
        label="Fax"
      ></ic-form-field>
    </div>
    <div fxFlex="25">
      <ic-select
        [control]="contact.get('statementVia') | formcontrol"
        [options]="countries"
        bindLabelKey="values"
        bindValueKey="id"
        label="Statement Via"
      ></ic-select>
    </div>

    <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between center">
      <div fxFlex="calc(50%)" class="title standard-margin">
        {{ 'Contact Address' }}
      </div>
      <div fxFlex="calc(50%)" *ngIf="detailsForGeneric.accountType == 'minor'">
        <span *ngIf="user?.header == 'Minor Details'">
          {{ 'Same as Guardian Address' }}
          <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1">Yes</mat-radio-button>
            <mat-radio-button value="2">No</mat-radio-button>
          </mat-radio-group>
        </span>
      </div>
    </div>

    <div fxFlex="calc(50%)">
      <ic-form-field
        [control]="addressArray.get('address1') | formcontrol"
        [maxLength]="20"
        label="Address Line 1"
      ></ic-form-field>
    </div>
    <div fxFlex="calc(50%)">
      <ic-form-field
        [control]="addressArray.get('address2') | formcontrol"
        [maxLength]="20"
        label="Address Line 2"
      ></ic-form-field>
    </div>

    <div fxFlex="25">
      <ic-select
        [control]="personalDetailsForm.get('residentStatus') | formcontrol"
        [options]="residentStatus"
        bindLabelKey="values"
        bindValueKey="id"
        label="Resident Status"
      ></ic-select>
    </div>
    <div fxFlex="25">
      <ic-form-field
        [control]="personalDetailsForm.get('subRub') | formcontrol"
        [maxLength]="20"
        label="Subrub"
      ></ic-form-field>
    </div>
    <div fxFlex="25">
      <ic-select
        [control]="personalDetailsForm.get('city') | formcontrol"
        [options]="cities"
        bindLabelKey="values"
        bindValueKey="id"
        label="City"
      ></ic-select>
    </div>
    <div fxFlex="25">
      <ic-form-field
        [control]="personalDetailsForm.get('postalCode') | formcontrol"
        [icNumbersOnly]="true"
        [maxLength]="10"
        label="Postal Code"
        suffixIcon="search"
      ></ic-form-field>
    </div>

    <div fxFlex="25">
      <ic-date-picker
        [control]="addressArray.get('livingAddressSince') | formcontrol"
        placeholder="Living Address Since"
        label="Living Address Since"
      >
      </ic-date-picker>
    </div>
    <div fxFlex="25"></div>
    <div fxFlex="25"></div>
    <div fxFlex="25"></div>

    <ng-container *ngIf="user?.header !== 'Minor Details'">
      <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between center">
        <div class="title standard-margin">
          {{ 'Spouse Details' }}
        </div>
      </div>

      <div fxFlex="25">
        <ic-select
          [control]="personalDetailsForm.get('spousePrefix') | formcontrol"
          [options]="prefix"
          bindLabelKey="values"
          bindValueKey="id"
          label="Prefix"
        ></ic-select>
      </div>
      <div fxFlex="25">
        <ic-form-field
          [control]="personalDetailsForm.get('spouseFirstName') | formcontrol"
          [maxLength]="20"
          label="First Name"
        ></ic-form-field>
      </div>
      <div fxFlex="25">
        <ic-form-field
          [control]="personalDetailsForm.get('spouseLastName') | formcontrol"
          [maxLength]="20"
          label="Last Name"
        ></ic-form-field>
      </div>
      <div fxFlex="25">
        <ic-date-picker
          [control]="personalDetailsForm.get('spouseDateOfBirth') | formcontrol"
          placeholder="Date of Birth"
          label="Date of Birth"
        >
        </ic-date-picker>
      </div>

      <div fxFlex="25">
        <ic-mobile-field
          (onSelectionChangeOutput)="setMobileLength()"
          [isdCode]="countriesIsdCodes"
          [customError]="
            personalDetailsForm
              .get('spouseTelephoneHome')
              ?.hasError('invalidLength')
              ? 'Max mobile length is ' + maxMobileLength
              : ''
          "
          [maxLength]="maxMobileLength"
          [formControl]="
            personalDetailsForm.get('spouseTelephoneHome') | formcontrol
          "
          [isdCode]="countriesIsdCodes"
          [isdControl]="personalDetailsForm.get('mobtCode') | formcontrol"
          [maxLength]="maxMobileLength"
          label="Spouse Telephone (Work)"
        ></ic-mobile-field>
      </div>
      <div fxFlex="25">
        <ic-mobile-field
          (onSelectionChangeOutput)="setMobileLength()"
          [isdCode]="countriesIsdCodes"
          [customError]="
            personalDetailsForm
              .get('spouseTelephoneWork')
              ?.hasError('invalidLength')
              ? 'Max mobile length is ' + maxMobileLength
              : ''
          "
          [maxLength]="maxMobileLength"
          [formControl]="
            personalDetailsForm.get('spouseTelephoneWork') | formcontrol
          "
          [isdCode]="countriesIsdCodes"
          [isdControl]="personalDetailsForm.get('mobtCode') | formcontrol"
          [maxLength]="maxMobileLength"
          label="Spouse Telephone (Work)"
        ></ic-mobile-field>
      </div>
      <div fxFlex="25">
        <ic-mobile-field
          (onSelectionChangeOutput)="setMobileLength()"
          [isdCode]="countriesIsdCodes"
          [customError]="
            personalDetailsForm.get('spouseMobileNo')?.hasError('invalidLength')
              ? 'Max mobile length is ' + maxMobileLength
              : ''
          "
          [maxLength]="maxMobileLength"
          [formControl]="
            personalDetailsForm.get('spouseMobileNo') | formcontrol
          "
          [isdCode]="countriesIsdCodes"
          [isdControl]="personalDetailsForm.get('mobtCode') | formcontrol"
          [maxLength]="maxMobileLength"
          label="Mobile No"
        ></ic-mobile-field>
      </div>
      <div fxFlex="25">
        <ic-form-field
          [control]="personalDetailsForm.get('spouseEmail') | formcontrol"
          [maxLength]="20"
          label="Email"
        ></ic-form-field>
      </div>

      <div fxFlex="25">
        <ic-select
          [control]="
            personalDetailsForm.get('spouseEmployeeStatus') | formcontrol
          "
          [options]="prefix"
          bindLabelKey="values"
          bindValueKey="id"
          label="Employee Status"
        ></ic-select>
      </div>
      <div fxFlex="25">
        <ic-form-field
          [control]="personalDetailsForm.get('spouseNetIncome') | formcontrol"
          [maxLength]="20"
          label="Net Income"
        ></ic-form-field>
      </div>
      <div fxFlex="25"></div>
      <div fxFlex="25"></div>
    </ng-container>

    <ng-container *ngIf="user?.header !== 'Minor Details'">
      <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between center">
        <div class="title standard-margin">
          {{ 'Emergency Contact Details / Next of Kin' }}
        </div>
      </div>

      <div fxFlex="25">
        <ic-select
          [control]="personalDetailsForm.get('emePrefix') | formcontrol"
          [options]="prefix"
          bindLabelKey="values"
          bindValueKey="id"
          label="Prefix"
        ></ic-select>
      </div>
      <div fxFlex="25">
        <ic-form-field
          [control]="personalDetailsForm.get('emeFirstName') | formcontrol"
          [maxLength]="20"
          label="First Name"
        ></ic-form-field>
      </div>
      <div fxFlex="25">
        <ic-form-field
          [control]="personalDetailsForm.get('emeLastName') | formcontrol"
          [maxLength]="20"
          label="Last Name"
        ></ic-form-field>
      </div>
      <div fxFlex="25">
        <ic-select
          [control]="personalDetailsForm.get('emeRelationship') | formcontrol"
          [options]="relationships"
          bindLabelKey="values"
          bindValueKey="id"
          label="Relationship"
        ></ic-select>
      </div>

      <div fxFlex="25">
        <ic-mobile-field
          (onSelectionChangeOutput)="setMobileLength()"
          [isdCode]="countriesIsdCodes"
          [customError]="
            personalDetailsForm.get('emeMobileNo')?.hasError('invalidLength')
              ? 'Max mobile length is ' + maxMobileLength
              : ''
          "
          [maxLength]="maxMobileLength"
          [formControl]="personalDetailsForm.get('emeMobileNo') | formcontrol"
          [isdCode]="countriesIsdCodes"
          [isdControl]="personalDetailsForm.get('mobtCode') | formcontrol"
          [maxLength]="maxMobileLength"
          label="Mobile No"
        ></ic-mobile-field>
      </div>
      <div fxFlex="25">
        <ic-mobile-field
          (onSelectionChangeOutput)="setMobileLength()"
          [isdCode]="countriesIsdCodes"
          [customError]="
            personalDetailsForm
              .get('emealternativeNumber')
              ?.hasError('invalidLength')
              ? 'Max mobile length is ' + maxMobileLength
              : ''
          "
          [maxLength]="maxMobileLength"
          [formControl]="
            personalDetailsForm.get('emealternativeNumber') | formcontrol
          "
          [isdCode]="countriesIsdCodes"
          [isdControl]="personalDetailsForm.get('mobtCode') | formcontrol"
          [maxLength]="maxMobileLength"
          label="Alternate No"
        ></ic-mobile-field>
      </div>
      <div fxFlex="25">
        <ic-mobile-field
          (onSelectionChangeOutput)="setMobileLength()"
          [isdCode]="countriesIsdCodes"
          [customError]="
            personalDetailsForm.get('emewhatsappNo')?.hasError('invalidLength')
              ? 'Max mobile length is ' + maxMobileLength
              : ''
          "
          [maxLength]="maxMobileLength"
          [formControl]="personalDetailsForm.get('emewhatsappNo') | formcontrol"
          [isdCode]="countriesIsdCodes"
          [isdControl]="personalDetailsForm.get('mobtCode') | formcontrol"
          [maxLength]="maxMobileLength"
          label="WhatsApp No"
        ></ic-mobile-field>
      </div>
      <div fxFlex="25">
        <ic-form-field
          [control]="personalDetailsForm.get('emeEmailId') | formcontrol"
          [maxLength]="20"
          label="Email Id"
        ></ic-form-field>
      </div>

      <div fxFlex="25">
        <ic-mobile-field
          (onSelectionChangeOutput)="setMobileLength()"
          [isdCode]="countriesIsdCodes"
          [customError]="
            personalDetailsForm
              .get('emeTelephoneHome')
              ?.hasError('invalidLength')
              ? 'Max mobile length is ' + maxMobileLength
              : ''
          "
          [maxLength]="maxMobileLength"
          [formControl]="
            personalDetailsForm.get('emeTelephoneHome') | formcontrol
          "
          [isdCode]="countriesIsdCodes"
          [isdControl]="personalDetailsForm.get('mobtCode') | formcontrol"
          [maxLength]="maxMobileLength"
          label="Telephone (Home)"
        ></ic-mobile-field>
      </div>
      <div fxFlex="25">
        <ic-mobile-field
          (onSelectionChangeOutput)="setMobileLength()"
          [isdCode]="countriesIsdCodes"
          [customError]="
            personalDetailsForm
              .get('emeTelephoneWork')
              ?.hasError('invalidLength')
              ? 'Max mobile length is ' + maxMobileLength
              : ''
          "
          [maxLength]="maxMobileLength"
          [formControl]="
            personalDetailsForm.get('emeTelephoneWork') | formcontrol
          "
          [isdCode]="countriesIsdCodes"
          [isdControl]="personalDetailsForm.get('mobtCode') | formcontrol"
          [maxLength]="maxMobileLength"
          label="Telephone (Work)"
        ></ic-mobile-field>
      </div>
      <div fxFlex="25">
        <ic-form-field
          [control]="personalDetailsForm.get('emeFax') | formcontrol"
          [maxLength]="20"
          label="Fax"
        ></ic-form-field>
      </div>
      <div fxFlex="25"></div>

      <div fxFlex="calc(50%)">
        <ic-form-field
          [control]="personalDetailsForm.get('emeAddressLine1') | formcontrol"
          [maxLength]="20"
          label="Address Line 1"
        ></ic-form-field>
      </div>
      <div fxFlex="calc(50%)">
        <ic-form-field
          [control]="personalDetailsForm.get('emeAddressLine2') | formcontrol"
          [maxLength]="20"
          label="Address Line 2"
        ></ic-form-field>
      </div>

      <div fxFlex="25">
        <ic-select
          [control]="personalDetailsForm.get('emeResidentStatus') | formcontrol"
          [options]="residentStatus"
          bindLabelKey="values"
          bindValueKey="id"
          label="Resident Status"
        ></ic-select>
      </div>
      <div fxFlex="25">
        <ic-form-field
          [control]="personalDetailsForm.get('emeSubRub') | formcontrol"
          [maxLength]="20"
          label="Subrub"
        ></ic-form-field>
      </div>
      <div fxFlex="25">
        <ic-select
          [control]="personalDetailsForm.get('emeCity') | formcontrol"
          [options]="cities"
          bindLabelKey="values"
          bindValueKey="id"
          label="City"
        ></ic-select>
      </div>
      <div fxFlex="25">
        <ic-form-field
          [control]="personalDetailsForm.get('emePostalCode') | formcontrol"
          [icNumbersOnly]="true"
          [maxLength]="10"
          label="Postal Code"
          suffixIcon="search"
        ></ic-form-field>
      </div>
    </ng-container>
    <div fxFlex="25"></div>
    <div fxFlex="25"></div>
    <div fxFlex="25"></div>
    <div fxFlex="25" fxLayoutAlign="end center" *ngIf="user">
      <ic-button
        [icButtonType]="'filled-rounded'"
        [label]="'Save'"
        [type]="'submit'"
        size="medium"
        (click)="onSave()"
      >
      </ic-button>
    </div>
  </div>

  <!-- <div fxLayout="row wrap" fxLayoutGap="1%">
    Joint /Minor
  </div> -->
</form>
