<div class="loan-screen">
  <app-landing-profile
    [imageUrl]="imageUrl"
    [profileHeader]="profileHeader"
    [profileHint]="profileHint"
    [routeUrl]="routeUrl"
    (customApply)="customApply($event)"
  >
  </app-landing-profile>

  <div class="mar-20">
    <div id="custom-carousel">
      <app-carousel
        businessSuiteName="Loan Opening Services"
        [carowselData]="carowselData"
        (customApplyLoan)="customApplyLoan($event)"
      >
      </app-carousel>
    </div>
  </div>

  <div class="mar-20">
    <app-top-performing></app-top-performing>
  </div>
  <div class="mt-70">
    <app-news-letter-slider></app-news-letter-slider>
  </div>
  <div>
    <app-news-letter></app-news-letter>
  </div>
</div>
