<div class="loan-screen">
  <app-landing-profile
    [imageUrl]="imageUrl"
    [profileHeader]="profileHeader"
    [profileHint]="profileHint"
    [routeUrl]="routeUrl"
  >
  </app-landing-profile>

  <div class="mar-20">
    <!-- <div>
      <app-carousel
        [carowselData]="carowselData"
        [flow]="'loan'"
      ></app-carousel>
    </div> -->
    <div>
      <app-carousel
        businessSuiteName="Loan Opening Services"
        [carowselData]="carowselData"
        (customApplyLoan)="customApplyLoan($event)"
      >
      </app-carousel>
      <!-- <app-custom-swiper [carowselData]="carowselData"> </app-custom-swiper> -->
    </div>
  </div>

  <div class="mar-20">
    <app-top-performing></app-top-performing>
  </div>
  <div class="mt-70">
    <app-news-letter-slider></app-news-letter-slider>
  </div>
  <div>
    <app-news-letter></app-news-letter>
  </div>
</div>
