<div class="about_card_container" fxFlex="100" >
  <div class="tabs mx-16">
    <div class="tab" *ngFor="let tab of tabs; let i = index" [class.active]="selectedIndex === i" (click)="selectTab(i)"
      tabindex="0" (keydown.enter)="selectTab(i)">
      {{ tab }}
    </div>

    <!-- underline -->
    <div class="underline" [style.transform]="getUnderlineTransform()"></div>
  </div>

  <div class="tab-content">
    <ng-container [ngSwitch]="selectedIndex">
      <div *ngSwitchCase="0">
        <app-over-view [title]="overViewTitle" [description]="overViewDescription" [cardInfo]="overViewCardInfo"
          [keyHighLights]="overViewKeyHightLights"></app-over-view>
      </div>
      <div *ngSwitchCase="1">
        <app-benefits [title]="benefitsTitle" [description]="benefitsDescription"
          [cardInfo]="benefitsCardInfo"></app-benefits>
      </div>
      <div *ngSwitchCase="2">
        <app-features [title]="featuresTitle" [description]="featuresDescription" [bannerInfo]="featuresBannerInfo"
          [cardTitle]="featuresCardTitle" [cardInfo]="featuresCardInfo"></app-features>
      </div>
      <div *ngSwitchCase="3">
        <app-eligibility></app-eligibility>
      </div>
      <div *ngSwitchCase="4">
        <app-fees-and-charges></app-fees-and-charges>
      </div>
    </ng-container>
  </div>
</div>