<div class="container">
  <div fxLayout="column">
    <div
      class="summary_header"
      fxLayout="row"
      fxLayoutAlign="space-between center"
    >
      <div fxLayout="column">
        <h1 class="hero_title">Application List</h1>
        <p class="header_lg">
          This is a process, how you can get loan for your self.
        </p>
      </div>
      <img
        alt="summary"
        height="100%"
        src="../../../../../../assets/images/summary_img.svg"
        style="filter: grayscale(1)"
      />
    </div>

    <router-outlet></router-outlet>
  </div>
</div>
