<div class="mutliple-applicants">
  <div class="text-header">Personal Details</div>
  <div
    class="accordian-section"
    *ngFor="let customer of multipleApplicants; let index = index"
  >
    <div class="accordian-item">
      <mat-accordion>
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
          class="panel"
          [expanded]="!customer.isSubmitted"
        >
          <mat-expansion-panel-header>
            <mat-panel-title class="panel-header">
              <img
                *ngIf="customer.isSubmitted"
                src="../../../../../assets/images/Ok.png"
                alt="submitted"
                width="26"
                height="26"
              />
              Applicants {{ index + 1 }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-common-personal-details
            [screen]="'loan-screen'"
            (OnConfirmEmitter)="onConfirm($event)"
            (onBackEvent)="onBack()"
          ></app-common-personal-details>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
  <div class="add-more-button">
    <button
      mat-raised-button
      (click)="addAnotherDocument()"
      [ngClass]="{ 'disabled-field': validate() }"
      [disabled]="validate()"
    >
      Add Another Document
    </button>
  </div>
  <div class="button-section">
    <button class="confirm-button" mat-raised-button (click)="onSubmit()">
      Submit
    </button>
    <button class="back-button" mat-raised-button (click)="onBack()">
      Back
    </button>
  </div>
</div>
