<div class="main_page" *ngIf="revisiteForm" [formGroup]="revisiteForm">
  <div class="head_container bank-title">
    <h1>{{ currentuser?.bankName | titlecase }}</h1>
  </div>

  <div
    class="subhead_container"
    fxLayout="column"
    fxLayoutAlign="space-between start"
  >
    <div>
      <h3 class="text-label mb-16">Remarks</h3>
      <ic-textarea
        [rows]="15"
        [control]="revisiteForm.get('remark') | formcontrol"
      >
      </ic-textarea>
    </div>
    <div
      class="w-100"
      fxLayout="row"
      fxLayoutAlign="start center"
      fxLayoutGap="20px"
    >
      <button
        mat-raised-button
        class="reset-btn"
        fxFlex="40"
        (click)="resetRemark()"
      >
        Reset
      </button>
      <button
        mat-raised-button
        class="submit-btn"
        fxFlex="60"
        (click)="saveCustomerRequest()"
      >
        Submit
      </button>
    </div>
  </div>
</div>
