<div
  fxLayout="column"
  fxLayoutGap="8px"
  class="send-money-container"
  fxFlex="100"
>
  <div class="head-algn" flex="row" *ngIf="displayLabel">
    My {{ displayLabel }}
  </div>
  <div fxLayoutAlign="end center" *ngIf="data" mat-dialog-close>
    <mat-icon>close</mat-icon>
  </div>
  <mat-card [ngClass]="displayLabel ? 'mat-algn' : 'popup'">
    <div flex="row" fxLayoutAlign="center center" class="div-cls">
      <img class="img-algn" src="/assets/images/Group 1377.png" />
    </div>
    <div fxLayoutAlign="center center" class="text-algn">
      There are no currently active {{ displayLabel ?? data }}.
    </div>
  </mat-card>
</div>
<div
  fxLayout="column"
  fxFlex="25"
  fxLayoutGap="8px"
  class="payee-algn"
  *ngIf="displayLabel"
>
  <app-link-payee-side-bar></app-link-payee-side-bar>
</div>
