:host {
  width: 100% !important;
}
.align_fd {
  display: flex;
  flex-direction: row;
  form {
    margin: 2% 0%;
  }
}
.saveButton {
  width: 172px;
  color: #ffffff;
  font-size: 15px;
  background: linear-gradient(137.16deg, #051a2d 0%, #004c97 96.5%);
  height: 40px;
  border-radius: 30px;
}
.cancelButton {
  width: 172px;
  color: #b20000;
  font-size: 15px;
  background: #ffffff;
  height: 40px;
}
