.btn {
  width: 158px;
  height: 43px;
  cursor: pointer;
  border-radius: 8px;
  font: normal normal 400 14px/16px Raleway;
}

.quick_btn {
  background: #ffffff 0% 0% no-repeat padding-box;
  color: #00205c;
}

.payee_btn {
  background: #00205c 0% 0% no-repeat padding-box;
  color: #ffffff;
}
.paymentContainer {
  width: 100%;
}
.payeeDetailsHeader {
  width: 98%;
  margin-top: 10px;
}
.extend-icon {
  width: 14px;
  margin-right: 26px;
}
