<section>
  <mat-card class="schedule_container" fxLayout="row">
    <!-- <p>sjk</p> -->

    <div fxFlex="40">
      <div
        class="full-width schedule_card_info"
        fxFlex="100"
        fxLayout="column"
        fxLayoutAlign="space-between start"
      >
        <div fxLayout="column">
          <h2>KYC Video Verification</h2>
          <div class="label_title" fxLayout="row" fxLayoutAlign="start center">
            <mat-icon>person</mat-icon>
            <div>{{ kycInfo.name }} ({{ kycInfo.mobile }})</div>
          </div>
          <div class="label_title" fxLayout="row" fxLayoutAlign="start center">
            <mat-icon>timer</mat-icon>
            <div>15-20 min</div>
          </div>
          <div class="label_title" fxLayout="row" fxLayoutAlign="start center">
            <mat-icon>date_range</mat-icon>
            <div>{{ kycInfo.dateOfSchedule }}</div>
          </div>
          <div class="label_title" fxLayout="row" fxLayoutAlign="start center">
            <mat-icon>video_call</mat-icon>
            <div>{{ description }}</div>
          </div>
        </div>
        <div>
          <p class="note_title">Note :</p>
          <ol>
            <li>Participants must keep their original documents handy</li>
            <li>
              The video call will be very quick, won’t take more then 15 - 20
              minutes
            </li>
          </ol>
        </div>
      </div>
    </div>
    <div class="sheduleApntmntMain" fxFlex="40" fxLayout="column">
      <h2>Select a Date & Time</h2>
      <mat-card class="calender-card" fxFlex="100">
        <mat-calendar
          (selectedChange)="onSelect($event)"
          [maxDate]="maxDate"
          [minDate]="minDate"
          [selected]="selectedDate"
        >
        </mat-calendar>

        <div>
          <mat-label>Time Zone</mat-label>
          <mat-form-field apperance="outline" class="full-width">
            <mat-select [(ngModel)]="timeZone">
              <mat-option [value]="">Select</mat-option>
              <mat-option value="India Standard Time (5:41pm)"
              >India Standard Time (5:41pm)
              </mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
        <div class="btn_grp" fxLayout="row">
          <button
            (click)="scheduleAppointment()"
            *ngIf="selectedDate && selectedTimeSlot"
            class="button schedule_btn back_button"
            mat-raised-button
            type="button"
          >
            Schedule
          </button
          >&nbsp;
          <button
            class="button cancel_btn back_button"
            mat-raised-button
            type="button"
          >
            Cancel
          </button>
        </div>
      </mat-card>
    </div>

    <div *ngIf="formatedSelectedDate" class="time_slot_container" fxFlex="15">
      <div fxLayout="column">
        <h2>{{ formatedSelectedDate }}</h2>
        <div class="time_slot_grp">
          <ng-container *ngFor="let timeSlot of timeSlots">
            <div
              (click)="onTimeSelected(timeSlot)"
              (keydown.enter)="onTimeSelected(timeSlot)"
              [ngClass]="
                timeSlot?.time === selectedTimeSlot ? 'bg_selectedSlot' : ''
              "
              class="time_slot_card"
              tabindex="0"
            >
              <span>
                {{ timeSlot?.time }}
              </span>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </mat-card>
</section>

<!-- <router-outlet></router-outlet> -->
