<div class="card_landing_container">
  <!-- Card Banner -->
  <app-card-banner
    [basisClass]="basisClass"
    (onApplyClick)="moveToCatalogue()"
  ></app-card-banner>

  <!-- Card Catalougue -->
  <div class="card_landing_content" #cardLandingContent>
    <app-card-catalogue></app-card-catalogue>
    <!-- Card Feature and Benifits Static Data -->
    <div class="features_container">
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <span class="header_xl_black"> Credit Card Features & Benefits </span>
        <div
          class="navigator_btn_group"
          fxLayout="row"
          fxLayoutAlign="center center"
          fxLayoutGap="8px"
        >
          <ic-button
            type="icon"
            icButtonType="outlined-rounded"
            icIcon="keyboard-arrow-left"
            (OnClick)="navigateLeft()"
          ></ic-button>
          <ic-button
            type="icon"
            icButtonType="outlined-rounded"
            icIcon="keyboard-arrow-right"
            (OnClick)="navigateRight()"
          ></ic-button>
        </div>
      </div>

      <div
        class="features_wrapper"
        fxLayout="row"
        fxLayoutGap="20px"
        fxLayoutAlign="start stretch"
        #featuresWrapper
        (mouseenter)="pauseAutoScroll()"
        (mouseleave)="resumeAutoScroll()"
      >
        <ng-container *ngFor="let feature of features">
          <div class="feature_box">
            <span class="feature_tag curved">{{ feature.tag }}</span>
            <div
              class="feature_content"
              fxLayout="row"
              fxLayoutAlign="start start"
              fxLayoutGap="16px"
            >
              <img
                src="assets/images/card-static.svg"
                alt="card-icon"
                class="feature_icon"
              />
              <span class="feature_description medium_txt">{{
                feature.description
              }}</span>
            </div>
          </div>
        </ng-container>
        <!-- Duplicate for seamless loop -->
        <ng-container *ngFor="let feature of features">
          <div class="feature_box">
            <span class="feature_tag curved">{{ feature.tag }}</span>
            <div
              class="feature_content"
              fxLayout="row"
              fxLayoutAlign="start start"
              fxLayoutGap="16px"
            >
              <img
                src="assets/images/card-static.svg"
                alt="card-icon"
                class="feature_icon"
              />
              <span class="feature_description medium_txt">{{
                feature.description
              }}</span>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>

  <!-- Card Advertisment -->
  <app-card-advertisement></app-card-advertisement>
</div>
