.extend-icon {
  width: 14px;
  padding: 7px;
}

.btn {
  width: 158px;
  height: 43px;
  cursor: pointer;
  border-radius: 8px;
  font: normal normal 400 14px/16px Raleway;
}

.quick_btn {
  background: #ffffff 0% 0% no-repeat padding-box;
  color: var(--current-theme-background);
}

.payee_btn {
  background: var(--current-theme-background) 0% 0% no-repeat padding-box;
  color: #ffffff;
}
