<div class="overview_container">
  <!-- Title -->
  <div class="header_xl_black">
    {{ title }}
  </div>
  <!-- Description -->
  <div class="description">
    {{ description }}
  </div>
  <!-- Card Info-->
  <div class="cards_info" fxLayout="row wrap" fxLayoutGap="16px" fxLayoutAlign="start stretch">
    <ng-container *ngFor="let info of cardInfo">
      <ng-container *ngIf="info?.title && info?.value">
        <div class="card_item" fxLayout="column">
          <span class="card_title" [inViewAnimate]="'fade-left'">{{ info?.title }}</span>
          <span class="card_value" [inViewAnimate]="'flip-y'">{{ info?.value }}</span>
          <span class="card_description" [inViewAnimate]="'fade-up'">{{ info?.description }}</span>
        </div>
      </ng-container>
    </ng-container>
  </div>
  <!-- Key Highlights -->
  <div class="key_highlights">
    <div class="key_title">Key Highlights</div>
    <span *ngFor="let key of keyHighLights">
      <div class="points" fxLayout="row">
        <div class="point"></div>
        <span>{{ key }}</span>
      </div>
    </span>
  </div>
</div>