<div
  class="loanForm"
  fxFlex="100"
  fxLayout="row"
  fxLayout.lt-md="column"
  fxLayoutGap.lt-md="10px"
>
  <div
    *ngIf="loanForm"
    [formGroup]="loanForm"
    class="calculator_container"
    fxFlex="70"
    fxLayout="column"
  >
    <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-between center">
      <div class="calculator_subTItle">Loan Amount</div>
      <div>
        <div fxFlex="100">
          <!-- <mat-form-field
            appearance="outline"
            class="full-width background-white"
          >
            <mat-label class="custom-mat-label">Amount</mat-label>
            <div fxLayout="row">
              <span>{{ otherUserInfo?.currencySymbol }}</span>
              <input
                matInput
                formControlName="amount"
                appNumbersOnly
                maxlength="18"
              />
            </div>
          </mat-form-field> -->
          <ic-form-field
            (onInputChange)="onInputChange($event)"
            [control]="loanForm.get('amount') | formcontrol"
            [decimalPlaces]="2"
            [icNoInitialSpace]="true"
            [icNumbersOnly]="true"
            [icTwoDigitDecimalNumber]="true"
            [numLength]="6"
            [prefixIcon]="currencySymbol"
            label="Amount"
            type="text"
          >
          </ic-form-field>
        </div>
      </div>
    </div>
    <div fxFlex="100" fxLayout="row wrap">
      <mat-slider
        (change)="onSliderChange($event)"
        [max]="max"
        [min]="min"
        [ngModelOptions]="{ standalone: true }"
        [step]="thumbLabel"
        class="custom-slider"
        discrete
        fxFlex="100"
      >
        <input #slider [value]="ammountValue" matSliderThumb />
      </mat-slider>
      <div
        class="breadcrum_md"
        fxFlex="100"
        fxLayout="row"
        fxLayoutAlign="space-between center"
      >
        <div>{{ currencySymbol }} {{ min }}</div>
        <div>{{ currencySymbol }} {{ max }}</div>
      </div>
    </div>

    <div class="my-16" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10">
      <div fxFlex="48.5" fxFlex.lt-md="100">
        <label class="calculator_subTItle" for="label">Tenure</label>
        <!-- <fieldset class="field-set">
          <legend visible="true" class="fieldset-title">Loan Period</legend>
          <div fxLayout="row" fxLayoutAlign="center center" fxFlex="100">
            <input
              fxFlex="30"
              matInput
              name="loanTenureYear"
              maxlength="2"
              formControlName="loanTenureYear"
              placeholder="Year"
              appNumbersOnly
              class="tenure-input pl-3"
            />
            <ng-container *ngIf="loanForm.value.loanTenureYear">
              <span fxFlex="8" class="placeholders">
                {{ loanForm.value.loanTenureYear ? 'Year' : '' }}
              </span>
            </ng-container>
            <div class="vertical-separator"></div>
            <input
              fxFlex="30"
              matInput
              name="loanTenureMonth"
              maxlength="2"
              formControlName="loanTenureMonth"
              placeholder="Month"
              appNumbersOnly
              class="tenure-input pl-3"
            />

            <ng-container *ngIf="loanForm.value.loanTenureMonth">
              <span fxFlex="8" class="placeholders">
                {{ loanForm.value.loanTenureMonth ? 'Month' : '' }}
              </span>
            </ng-container>

            <div class="vertical-separator"></div>

            <input
              fxFlex="30"
              matInput
              name="loanTenureDay"
              maxlength="2"
              formControlName="loanTenureDay"
              placeholder="Day"
              appNumbersOnly
              class="tenure-input pl-3"
            />
            <ng-container *ngIf="loanForm.value.loanTenureDay">
              <span fxFlex="8" class="placeholders">
                {{ loanForm.value.loanTenureDay ? 'Day' : '' }}
              </span>
            </ng-container>
          </div>
        </fieldset> -->

        <ic-tenure-field
          [fieldLabels]="{
            loanTenureYear: 'Year',
            loanTenureMonth: 'Month',
            loanTenureDay: 'Day',
          }"
          [fields]="['loanTenureYear', 'loanTenureMonth', 'loanTenureDay']"
          [isRequired]="true"
          [parentForm]="loanForm"
          label="Loan Period"
        >
        </ic-tenure-field>
        <mat-error
          *ngIf="
            validateTenure &&
            (loanForm.controls['loanTenureYear'].value ||
              loanForm.controls['loanTenureMonth'].value ||
              loanForm.controls['loanTenureDay'].value)
          "
          class="mat-error small-error mt-12"
        >
          Loan Period should be Maximum
          {{ productDetails?.maximumTenorYear || 0 }} Years
          {{ productDetails?.maximumTenorMonth || 0 }} Months
          {{ productDetails?.maximumTenorDay || 0 }} Days
        </mat-error>
        <mat-error
          *ngIf="
            validateMinimumTenure &&
            (loanForm.controls['loanTenureYear'].value ||
              loanForm.controls['loanTenureMonth'].value ||
              loanForm.controls['loanTenureDay'].value)
          "
          class="mat-error small-error mt-12"
        >
          Loan Period should be Minimum
          {{ productDetails?.minimumTenorYear || 0 }} Years
          {{ productDetails?.minimumTenorMonth || 0 }} Months
          {{ productDetails?.minimumTenorDay || 0 }} Days
        </mat-error>
      </div>
      <div fxFlex="48.5" fxFlex.lt-md="100">
        <label
          class="calculator_subTItle"
          for="interestRate"
          fxLayoutAlign="space-between center"
          >Interest Rate <span>{{ interestRate }}%</span></label
        >
        <!-- <mat-form-field
          appearance="outline"
          class="full-width field-changedInput background-white"
        >
          <mat-label class="custom-mat-label">Percentage</mat-label>
          <input
            matInput
            formControlName="interestRate"
            appMinMax
            [min]="minValue"
            [max]="maxValue"
          />
          <mat-error
            *ngIf="
              loanForm.controls['interestRate'].hasError('required') &&
              loanForm.controls['interestRate'].touched
            "
          >
            Interest Rate is required
          </mat-error>
        </mat-form-field> -->
        <ic-form-field
          [control]="loanForm.get('interestRate') | formcontrol"
          [decimalPlaces]="2"
          [icNoInitialSpace]="true"
          [icTwoDigitDecimalNumber]="true"
          [numLength]="3"
          label="Percentage"
          type="text"
        >
        </ic-form-field>
      </div>
    </div>
    <div class="downImage">
      <img
        alt="Group 13767.svg"
        height="161px"
        src="/assets/images/Group%2013767.svg"
        width="100%"
      />
    </div>
  </div>

  <div *ngIf="loanForm" fxFlex="30" fxLayoutAlign="center center">
    <div
      class="fd_container calc-white-bg"
      fxFlex="100"
      fxLayout="column"
      fxLayoutAlign="center center"
    >
      <div class="alignCenter" fxFlex="100" fxLayout="column">
        <div class="maturityTitle">EMI Amount</div>
        <div [appNumberAnimation]="emiAmount" class="maturityDesc">
          {{ emiAmount | currency: currency : true : '1.2-2' }}
        </div>
      </div>
      <div fxFlex="100" fxLayout="row" style="width: 100%">
        <div
          class="alignLeft"
          fxFlex="48"
          fxLayout="column"
          fxLayoutAlign="start center"
        >
          <div class="maturityLabel">Total Interest Payable</div>
          <div [appNumberAnimation]="interestPayble" class="maturityVal">
            {{ interestPayble | currency: currency : true : '1.2-2' }}
          </div>
        </div>
        <div class="emiVl"></div>
        <div
          class="alignLeft"
          fxFlex="48"
          fxLayout="column"
          fxLayoutAlign="start center"
        >
          <div class="maturityLabel">Interest Rate</div>
          <div
            [appNumberAnimation]="loanForm.value?.interestRate"
            class="maturityVal"
          >
            {{ loanForm.value?.interestRate }}%*p.a.
          </div>
        </div>
      </div>
      <div fxFlex="100" fxLayout="row" style="width: 100%">
        <div
          class="alignLeft"
          fxFlex="48"
          fxLayout="column"
          fxLayoutAlign="start center"
        >
          <div class="maturityLabel">Principal Amount</div>
          <div
            [appNumberAnimation]="loanForm.value?.amount"
            class="maturityVal"
          >
            {{ loanForm.value?.amount | currency: currency : true : '1.2-2' }}
          </div>
        </div>
        <div class="emiVl"></div>
        <div
          class="alignLeft"
          fxFlex="48"
          fxLayout="column"
          fxLayoutAlign="start center"
        >
          <div class="maturityLabel">Total Amount Payable</div>
          <div [appNumberAnimation]="totalPayableAmmount" class="maturityVal">
            {{ totalPayableAmmount | currency: currency : true : '1.2-2' }}
          </div>
        </div>
      </div>
      <div>
        <button (click)="applyForLoan()" class="openFDbtn" mat-flat-button>
          Apply
        </button>
      </div>
    </div>
  </div>
</div>
