<div class="maturity-card" fxLayout="column">
  <div fxLayout="column" fxLayoutAlign="center center">
    <div class="maturityAmttitle">Maturity Ammount</div>
    <div class="maturityAmt">₹ 42,669</div>
  </div>
  <mat-divider></mat-divider>
  <div fxLayout="row" fxFlex="100">
    <div fxFlex="48" fxLayout="column" style="padding-left: 3%">
      <div fxLayout="column">
        <div class="maturityTitle">Interest Ammount</div>
        <div class="maturityValue">₹ 12,669</div>
      </div>
      <div fxLayout="column">
        <div class="maturityTitle">Maturity Date</div>
        <div class="maturityValue">02 Aug 2025</div>
      </div>
    </div>
    <div class="vl"></div>
    <div fxFlex="48" fxLayout="column" style="padding-left: 3%">
      <div fxLayout="column">
        <div class="maturityTitle">Interest Rate</div>
        <div class="maturityValue">7.10%*p.a.</div>
      </div>
      <div>
        <mat-checkbox>Auto Renew </mat-checkbox>
      </div>
    </div>
  </div>

  <div fxLayoutAlign="center center">
    <button
      mat-flat-button
      class="openFDbtn"
      (click)="openFD(fdName == 'rdCalculator' ? 'RD' : 'FD')"
    >
      Open {{ fdName == "rdCalculator" ? "RD" : "FD" }} Now
    </button>
  </div>
</div>
