.custom-mat {
  box-shadow: none !important;
}
.date-algn{
  position: relative !important;
}

::ng-deep .myapp-no-padding-dialog .customdateRange {
  display: flex;
  align-items: center;
  justify-content: center;
}

::ng-deep .customdateRange {
  margin-top: -30px;
  & .mat-calendar-table-header {
    display: none !important;
  }
  .mat-calendar-body {
    .mat-calendar-body-label:only-child {
      display: none !important;
    }
    .mat-calendar-body-label:not(:only-child) {
      visibility: hidden !important;
    }
  }
  .mat-calendar-body-selected {
    background-color: #051a2d;
    color: white;
  }
  .mat-calendar-body-today.mat-calendar-body-selected {
    box-shadow: none;
  }
  .mat-calendar-body-cell-content {
    border-radius: 6px;
  }
  .mat-calendar-body-today:not(.mat-calendar-body-selected):not(
      .mat-calendar-body-comparison-identical
    ) {
    border: 2px solid #b4b4b4;
    border-radius: 6px;
  }
  .mat-calendar-body-in-preview .mat-calendar-body-cell-preview {
    border-top: 1px dashed #b4b4b4;
    border-bottom: 1px dashed #b4b4b4;
  }
  .mat-calendar-body-preview-end .mat-calendar-body-cell-preview {
    border-right: 1px dashed #b4b4b4;
    border-radius: 6px;
  }
}

::ng-deep .mat-date-range-input-separator {
  display: none;
}
::ng-deep .customdateRange {
  .mat-calendar-body-cell-content {
    color: #000000;
    font-weight: bold !important;
  }
  .mat-calendar-body-selected {
    color: white !important;
    font-weight: bold !important;
  }
  .mat-calendar-body-in-range::before {
    background: #d6dee6 !important;
  }
}
