<!-- <p>transaction-details works!</p> -->
<form [formGroup]="transactionDetailsForm" fxFlex="100">
  <div
    fxFlex="100"
    fxLayout="row wrap"
    fxLayoutAlign="space Between"
    fxLayoutGap="1%"
    class="applicantsInfo"
  >
    <div fxLayout="column" fxFlex="22">
      <mat-form-field class="borderColor" appearance="outline">
        <mat-label class="label_input">{{ "Drawer" }}</mat-label>
        <input matInput type="text" />
      </mat-form-field>
    </div>
    <div fxLayout="column" fxFlex="22">
      <mat-form-field class="borderColor" appearance="outline">
        <mat-label class="label_input">{{ "Customer Code" }}</mat-label>
        <mat-select
          appearance="outline"
          formControlName="customerCode"
          class="mat_selection"
        >
          <mat-option *ngFor="let drawer of customerCode" [value]="drawer">{{
            drawer
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div fxLayout="column" fxFlex="22">
      <mat-form-field class="borderColor" appearance="outline">
        <mat-label class="label_input">{{ "Issuing Branch" }}</mat-label>
        <input matInput type="text" />
      </mat-form-field>
    </div>
    <div fxLayout="column" fxFlex="22">
      <mat-form-field class="borderColor" appearance="outline">
        <mat-label class="label_input">{{ "IEC Code" }}</mat-label>
        <input matInput type="text" />
      </mat-form-field>
    </div>
    <div fxLayout="column" fxFlex="40">
      <mat-form-field class="borderColor" appearance="outline">
        <mat-label class="label_input">{{ "Address Line 1" }}</mat-label>
        <input matInput type="text" />
      </mat-form-field>
    </div>
    <div fxLayout="column" fxFlex="40">
      <mat-form-field class="borderColor" appearance="outline">
        <mat-label class="label_input">{{ "Address Line 2" }}</mat-label>
        <input matInput type="text" />
      </mat-form-field>
    </div>
    <div fxLayout="column" fxFlex="22">
      <mat-form-field class="borderColor" appearance="outline">
        <mat-label class="label_input">{{ "country" }}</mat-label>
        <input matInput type="text" />
      </mat-form-field>
    </div>
    <div fxLayout="column" fxFlex="22">
      <mat-form-field class="borderColor" appearance="outline">
        <mat-label class="label_input">{{ "Pin Code" }}</mat-label>

        <input matInput type="text" />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
    <div fxLayout="column" fxFlex="22">
      <mat-form-field class="borderColor" appearance="outline">
        <mat-label class="label_input">{{ "State" }}</mat-label>
        <input matInput type="text" />
      </mat-form-field>
    </div>
    <div fxLayout="column" fxFlex="22">
      <mat-form-field class="borderColor" appearance="outline">
        <mat-label class="label_input">{{ "City" }}</mat-label>
        <input matInput type="text" />
      </mat-form-field>
    </div>
    <mat-card class="full-width default-card mx-0">
      <div
        fxFlex="100"
        fxLayout="row wrap"
        fxLayoutAlign="space Between"
        fxLayoutGap="1%"
      >
        <div fxFlex="100">
          <div class="cardHeading">Drawee Details</div>
        </div>
        <div fxLayout="column" fxFlex="22">
          <mat-form-field>
            <mat-label class="custom-label">Drawee</mat-label>
            <input formControlName="drawee" matInput type="text" />
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </div>
        <div fxLayout="column" fxFlex="22">
          <mat-form-field>
            <mat-label class="custom-label">Bill Amount</mat-label>
            <input formControlName="billAmount" matInput type="text" />
          </mat-form-field>
        </div>
        <div fxLayout="column" fxFlex="22">
          <mat-form-field>
            <mat-label class="custom-label">Currency</mat-label>
            <input formControlName="currency" matInput type="text" />
          </mat-form-field>
        </div>
        <div fxLayout="column" fxFlex="40">
          <mat-form-field class="borderColor" appearance="outline">
            <mat-label class="label_input">{{ "Address Line 1" }}</mat-label>
            <input matInput type="text" />
          </mat-form-field>
        </div>
        <div fxLayout="column" fxFlex="40">
          <mat-form-field class="borderColor" appearance="outline">
            <mat-label class="label_input">{{ "Address Line 2" }}</mat-label>
            <input matInput type="text" />
          </mat-form-field>
        </div>
        <div fxLayout="column" fxFlex="22">
          <mat-form-field class="borderColor" appearance="outline">
            <mat-label class="label_input">{{ "Country" }}</mat-label>
            <input matInput type="text" />
          </mat-form-field>
        </div>
        <div fxLayout="column" fxFlex="22">
          <mat-form-field class="borderColor" appearance="outline">
            <mat-label class="label_input">{{ "Pin code" }}</mat-label>
            <input matInput type="text" />
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </div>
        <div fxLayout="column" fxFlex="22">
          <mat-form-field class="borderColor" appearance="outline">
            <mat-label class="label_input">{{ "State" }}</mat-label>
            <input matInput type="text" />
          </mat-form-field>
        </div>
        <div fxLayout="column" fxFlex="22">
          <mat-form-field class="borderColor" appearance="outline">
            <mat-label class="label_input">{{ "City" }}</mat-label>
            <input matInput type="text" />
          </mat-form-field>
        </div>
        <div fxLayout="column" fxFlex="22">
          <mat-form-field class="borderColor" appearance="outline">
            <mat-label class="label_input">{{ "Tenure(in days)" }}</mat-label>
            <input matInput type="text" />
          </mat-form-field>
        </div>
        <div fxLayout="column" fxFlex="22">
          <mat-form-field class="borderColor" appearance="outline">
            <mat-label class="label_input">{{ "Tenure Type" }}</mat-label>
            <mat-select appearance="outline" class="mat_selection">
              <mat-option *ngFor="let tenure of tenures" [value]="tenures">{{
                tenure
              }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </mat-card>
    <div fxLayout="column" fxFlex="22">
      <mat-form-field class="borderColor" appearance="outline">
        <mat-label class="label_input">{{ "LC Number" }}</mat-label>
        <input matInput type="text" />
      </mat-form-field>
    </div>
    <div fxLayout="column" fxFlex="22">
      <mat-form-field class="borderColor" appearance="outline">
        <mat-label class="label_input">{{ "LC Date" }}</mat-label>
        <input matInput type="text" />
      </mat-form-field>
    </div>
    <div fxLayout="column" fxFlex="22">
      <mat-form-field class="borderColor" appearance="outline">
        <mat-label class="label_input">{{ "lC Amount" }}</mat-label>
        <input matInput type="text" />
      </mat-form-field>
    </div>
    <div fxLayout="column" fxFlex="22">
      <mat-form-field class="borderColor" appearance="outline">
        <mat-label class="label_input">{{ "LC Issuing Bank" }}</mat-label>
        <input matInput type="text" />
      </mat-form-field>
    </div>
    <div fxLayout="column" fxFlex="22">
      <mat-form-field class="borderColor" appearance="outline">
        <mat-label class="label_input">{{
          "Document delivery instruction"
        }}</mat-label>
        <mat-select appearance="outline" class="mat_selection">
          <mat-option *ngFor="let document of documents" [value]="documents">{{
            document
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div fxLayout="column" fxFlex="22">
      <mat-form-field class="borderColor" appearance="outline">
        <mat-label class="label_input">{{ "Shipment To" }}</mat-label>
        <input matInput type="text" />
      </mat-form-field>
    </div>
    <div fxLayout="column" fxFlex="22">
      <mat-form-field class="borderColor" appearance="outline">
        <mat-label class="label_input">{{ "Shipment From" }}</mat-label>
        <input matInput type="text" />
      </mat-form-field>
    </div>
    <div fxLayout="column" fxFlex="22">
      <mat-form-field class="borderColor" appearance="outline">
        <mat-label class="label_input">{{ "Shipment Terms" }}</mat-label>
        <mat-select appearance="outline" class="mat_selection">
          <mat-option *ngFor="let shipment of shipments" [value]="shipments">{{
            shipment
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div fxLayout="column" fxFlex="45">
      <mat-form-field class="borderColor" appearance="outline">
        <mat-label class="label_input">{{ "Goods Description" }}</mat-label>
        <input matInput type="text" />
      </mat-form-field>
    </div>
    <div fxLayout="column" fxFlex="22">
      <mat-form-field class="borderColor" appearance="outline">
        <mat-label class="label_input">{{
          "Courier Receipt Number"
        }}</mat-label>
        <input matInput type="text" />
      </mat-form-field>
    </div>

    <mat-card class="full-width default-card mx-0">
      <div
        fxFlex="100"
        fxLayout="row wrap"
        fxLayoutAlign="space Between"
        fxLayoutGap="1%"
      >
        <div fxFlex="100">
          <div class="cardHeading">Overseas Bank Details</div>
        </div>
        <div fxLayout="column" fxFlex="22">
          <mat-form-field>
            <mat-label class="custom-label">Overseas Bank Name</mat-label>
            <input formControlName="overseas" matInput type="text" />
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </div>
        <div fxLayout="column" fxFlex="22">
          <mat-form-field>
            <mat-label class="custom-label">Branch</mat-label>
            <input formControlName="branch" matInput type="text" />
          </mat-form-field>
        </div>
        <div fxLayout="column" fxFlex="22">
          <mat-form-field>
            <mat-label class="custom-label">Bank Code</mat-label>
            <input formControlName="bankCode" matInput type="text" />
          </mat-form-field>
        </div>
        <div fxLayout="column" fxFlex="40">
          <mat-form-field class="borderColor" appearance="outline">
            <mat-label class="label_input">{{ "Address Line 1" }}</mat-label>
            <input matInput type="text" />
          </mat-form-field>
        </div>
        <div fxLayout="column" fxFlex="40">
          <mat-form-field class="borderColor" appearance="outline">
            <mat-label class="label_input">{{ "Address Line 2" }}</mat-label>
            <input matInput type="text" />
          </mat-form-field>
        </div>
        <div fxLayout="column" fxFlex="22">
          <mat-form-field class="borderColor" appearance="outline">
            <mat-label class="label_input">{{ "Country" }}</mat-label>
            <input matInput type="text" />
          </mat-form-field>
        </div>
        <div fxLayout="column" fxFlex="22">
          <mat-form-field class="borderColor" appearance="outline">
            <mat-label class="label_input">{{ "Pin code" }}</mat-label>
            <input matInput type="text" />
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </div>
        <div fxLayout="column" fxFlex="22">
          <mat-form-field class="borderColor" appearance="outline">
            <mat-label class="label_input">{{ "State" }}</mat-label>
            <input matInput type="text" />
          </mat-form-field>
        </div>
        <div fxLayout="column" fxFlex="22">
          <mat-form-field class="borderColor" appearance="outline">
            <mat-label class="label_input">{{ "City" }}</mat-label>
            <input matInput type="text" />
          </mat-form-field>
        </div>
        <div fxLayout="column" fxFlex="22">
          <mat-form-field class="borderColor" appearance="outline">
            <mat-label class="label_input">{{ "Tenure(in days)" }}</mat-label>
            <input matInput type="text" />
          </mat-form-field>
        </div>
        <div fxLayout="column" fxFlex="22">
          <mat-form-field class="borderColor" appearance="outline">
            <mat-label class="label_input">{{ "Tenure Type" }}</mat-label>
            <mat-select appearance="outline" class="mat_selection">
              <mat-option *ngFor="let tenure of tenures" [value]="tenures">{{
                tenure
              }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxLayout="column" fxFlex="44">
          <mat-form-field class="borderColor" appearance="outline">
            <mat-label class="label_input">{{
              "Customer Account Number Debting Charges"
            }}</mat-label>
            <mat-select appearance="outline" class="mat_selection">
              <mat-option
                *ngFor="let customer of customers"
                [value]="customers"
                >{{ customer }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </mat-card>
    <div fxFlex="100" fxLayoutAlign="end center" fxLayoutGap="20">
      <button class="exit-button" mat-raised-button>Save Template</button>
      <button class="exit-button" mat-raised-button>
        Save and Submit Later
      </button>
      <button-loading [type]="'button'" [btnClass]="'submit-button'">
        Submit
      </button-loading>
      <button class="exit-button" mat-raised-button>Reset</button>
    </div>
  </div>
</form>
