<div class="row">
  <div class="col-md-8 col-12">
    <ngb-carousel #carousel [interval]="1000">
      <ng-template ngbSlide *ngFor="let img of images; index as i">
        <div class="carousel-caption"></div>

        <div>
          <div>
            <div class="client_img">
              <img [src]="img.image" />
            </div>
            <div fxLayout="column" fxFlex="30" style="padding-left: 62px">
              <div class="client_name">{{ img.client }}</div>
              <div class="client_description">
                {{ img.cliewntDescription }}
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
  <div class="col-md-4 col-12">
    <img src="assets/images/Group 13938.svg" />
  </div>
</div>
