<section class="testimonial">
  <div class="container">
    <div
      class="row mb-3"
      data-aos="fade-top"
      data-aos-delay="200"
      data-aos-duration="500"
    >
      <h1 class="section_heading">What our happy client say</h1>
      <p class="section_subHeading">
        Several selected clients, who already believe in our service.
      </p>
    </div>
    <div
      class="row"
      data-aos="zoom-in"
      data-aos-delay="200"
      data-aos-duration="500"
    >
      <div class="col-md-8 col-12">
        <ngb-carousel
          #carousel
          [interval]="3000"
          [pauseOnHover]="pauseOnHover"
          [pauseOnFocus]="pauseOnFocus"
          (slide)="onSlide($event)"
        >
          <ng-template ngbSlide *ngFor="let img of images; index as i">
            <div
              class="testimonial_section d-flex flex-column flex-md-row align-items-center"
            >
              <div class="client_img">
                <img [src]="img.image" alt="Client" />
                <img
                  src="assets/images/Group 75.svg"
                  class="dots_img"
                  alt="Options"
                />
              </div>
              <div class="client_text">
                <div class="header_lg_bold_black">{{ img.client }}</div>
                <div class="header_md">
                  {{ img.cliewntDescription }}
                </div>
              </div>
            </div>
          </ng-template>
        </ngb-carousel>
      </div>
      <div class="col-md-4 col-12 p-5">
        <img
          src="assets/images/Group 13938.svg"
          class="img-fluid"
          alt="Image"
        />
      </div>
    </div>
  </div>
</section>
