<section class="testimonial">
  <div class="container">
    <div class="row mb-3">
      <h1 class="section_heading">What our happy client say</h1>
      <p class="section_subHeading">
        Several selected clients, who already believe in our service.
      </p>
    </div>
    <div class="row">
      <div class="col-md-8 col-12">
        <ngb-carousel
          #carousel
          [interval]="3000"
          [pauseOnHover]="pauseOnHover"
          [pauseOnFocus]="pauseOnFocus"
          (slide)="onSlide($event)"
        >
          <ng-template ngbSlide *ngFor="let img of images; index as i">
            <div
              class="testimonial_section d-flex flex-column flex-md-row align-items-center"
            >
              <div class="client_img">
                <img [src]="img.image" />
                <img
                  _ngcontent-ati-c438=""
                  src="assets/images/Group 75.svg"
                  class="dots_img"
                />
              </div>
              <div class="client_text">
                <div class="client_name">{{ img.client }}</div>
                <div class="client_description">
                  {{ img.cliewntDescription }}
                </div>
              </div>
            </div>
          </ng-template>
        </ngb-carousel>
      </div>
      <div class="col-md-4 col-12 p-5">
        <img src="assets/images/Group 13938.svg" class="img-fluid" />
      </div>
    </div>
  </div>
</section>
