<div>
  <form [formGroup]="kycForm" fxLayout="column">
    <div class="enter_mobile">Kindly Provide Your national ID</div>
    <div class="full-width">
      <div
        class="standard-txtField-phone-main"
        fxLayoutAlign="space-between center"
      >
        <input
          appNumbersOnly
          class="inputText"
          formControlName="verifyNationalID"
          matInput
          maxlength="12"
          type="text"
        />
        <button
          (click)="getOtp()"
          [disabled]="isvalid()"
          class="confirm-button"
          mat-raised-button
        >
          Get OTP
        </button>
      </div>
    </div>
    <div *ngIf="isShowOtp" class="enter_otp">Enter OTP to verify</div>
    <div fxLayout="column">
      <div *ngIf="isShowOtp">
        <ng-otp-input
          (onInputChange)="onOtpChange($event)"
          [config]="config"
          class="otp_field"
        >
        </ng-otp-input>
      </div>

      <!-- <div class="btnGroup" *ngIf="isShowOtp">
        <span class="timer" fxLayout="row">
          <div class="Btn" id="ResendBtn">
            <button
              [disabled]="display != '00:00'"
              type="button"
              class="resnd_otp"
              (click)="timer(1)"
            >
              Resend OTP
            </button>
            ({{ display }}min)
          </div>

          <span id="counter"></span>
        </span>
      </div> -->
      <div *ngIf="isShowOtp" class="standard-font-black my-20">
        <span *ngIf="resendLink"
        ><div
          (click)="otpTimer()"
          (keydown.enter)="otpTimer()"
          class="resend-link"
          tabindex="0"
        >
            Resend
          </div></span
        >
        <span *ngIf="!resendLink"
        >Resend the OTP
          <span class="standard-font-blue"
          >({{ displaySecond }} min)</span
          ></span
        >
      </div>
      <div fxFlex="100" fxLayout="column" fxLayoutGap="20">
        <div
          *ngIf="isShowOtp"
          class="col-12"
          fxFlex="100"
          fxLayout="row"
          style="margin-top: 27px; width: 100%"
        >
          <div fxFlex="5">
            <mat-checkbox (change)="isChecked = !isChecked"></mat-checkbox>
          </div>
          <div fxFlex="95">
            <span class="check_font"
            >I confirmed that I don't have any other Account opened by using
              National ID & OTP based KYC with Demobank</span
            >
          </div>
        </div>

        <div class="btn_grp" fxLayout="row" fxLayoutGap="50px">
          <div>
            <button
              [disabled]="!isChecked || !yourOtp"
              class="button submit_button"
              mat-raised-button
              matSuffix
              type="button"
            >
              Verify
            </button>
          </div>
          <div>
            <button
              (click)="goBack()"
              class="button back_button"
              mat-raised-button
              type="button"
            >
              Back
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
