::ng-deep .success.mat-snack-bar-container {
  background: green !important;
  display: flex !important;
  min-height: 70px !important;
  align-items: center !important;
  .mat-simple-snack-bar-content {
    font-size: 18px !important;
    font-weight: 800 !important;
    color: white !important;
  }
}

::ng-deep .currency_field {
  .mat-form-field-prefix {
    top: 0px !important;
    span {
      font-size: 14px !important;
      color: #102245;
      font-weight: 600 !important;
    }
  }
  .mat-input-element {
    padding-left: 6px !important;
  }
}
