<div class="create-card-account">
  <app-card-stepper
    (customSelectionChange)="getTabDetails($event)"
    [optionalSteps]="optionalSteps"
  ></app-card-stepper>
  <div class="col-2-section">
    <app-card-mobile-verification
      *ngIf="stepsDetails && stepsDetails.isMobileVerificationStep"
      (confirmEvent)="onConfirm()"
      (backEvent)="onBack()"
    ></app-card-mobile-verification>
    <app-card-cibil-score
      *ngIf="stepsDetails && stepsDetails.isCIBILScoreStep"
      (confirmEvent)="onConfirm()"
      (isDifferentMobileNumber)="addMoreSteps($event)"
      (backEvent)="onBack()"
    ></app-card-cibil-score>
    <app-card-select-kyc
      *ngIf="stepsDetails && stepsDetails.isSelectKYCStep"
      (confirmEvent)="onConfirm()"
      (backEvent)="onBack()"
    ></app-card-select-kyc>
    <app-card-personal-details
      *ngIf="stepsDetails && stepsDetails.isPersonalDetailsStep"
      (confirmEvent)="onConfirm()"
      (backEvent)="onBack()"
    ></app-card-personal-details>
    <app-card-terms-conditions
      *ngIf="stepsDetails && stepsDetails.isTermsCondtionsStep"
      (confirmEvent)="onConfirm()"
      (backEvent)="onBack()"
    ></app-card-terms-conditions>
  </div>
</div>
