// ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-start,
// .mat-form-field-appearance-outline .mat-form-field-outline-end {
//   border: none !important;
// }

// ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-gap {
//   border: none !important;
// }

// ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-end {
//   border: none !important;
// }

// ::ng-deep .mat-form-field {
//   box-shadow: 0px 3px 10px 0px #00000017;
//   border-radius: 12px;
//   height: 60px;
// }

:host::ng-deep .disable-field {
  .mat-input-element {
    font-size: 14px !important;
    color: #102245 !important;
    font-weight: 600 !important;
  }
  .mat-form-field-wrapper {
    pointer-events: none !important;
  }
  .mat-form-field-outline {
    background: #f3f3f3 0% 0% no-repeat padding-box !important;
    color: #f3f3f3 !important;
  }
}
:host ::ng-deep .mat-select-min-line,
.mat-input-element {
  font-size: 14px !important;
  color: #102245 !important;
  font-weight: 600 !important;
}
:host ::ng-deep .disable-field.mat-form-field-invalid .mat-form-field-outline {
  color: #ff3d57 !important;
  .mat-form-field-outline-start,
  .mat-form-field-outline-gap,
  .mat-form-field-outline-end {
    border-width: 1px !important;
  }
}
:host
  ::ng-deep
  .mat-form-field-should-float.disable-field
  .mat-form-field-outline {
  color: #b4b4b466 !important;
}

.pb-25 {
  padding-bottom: 25px;
}

.personal-loan-details {
  display: flex;
  flex-direction: row;

  .column-2 {
    display: flex;
    flex-direction: column;

    .standard-flex {
      display: flex;

      mat-form-field.custom-field {
        width: 300px;
        margin-right: 20px;
        margin-bottom: 20px;
      }

      mat-form-field.custom-field-80 {
        position: absolute;
        width: 622px;
        margin-right: 20px;
        margin-bottom: 20px;

        .standard-search {
          position: relative;
          margin-left: -200px;
          cursor: pointer;
        }

        .vertical-separator {
          height: 43px;
          width: 1px;
          border: #b4b4b466 1px solid;
          margin: 0px 10px;
          position: relative;
          top: -33px;
          float: right;
          right: 139px;
        }

        .locate-container {
          display: flex;
          flex-direction: row;
          position: relative;
          float: right;
          top: -28px;
          right: 0px;

          .locate {
            display: inline-flex;
            justify-content: space-around;
            text-decoration: none;
            cursor: pointer;
            background: white;
            color: #004c97;
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
          }
        }
      }
    }
  }
}

fieldset {
  legend {
    color: rgba(16, 34, 69, 0.43);
    font-family: Poppins;
    font-size: 13.438px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    float: none;
  }

  padding: 5px;
  border: solid 1px #c6c6c6;
  border-radius: 8px;

  .mat-form-field {
    padding: 10px 0;
  }

  input {
    padding: 5px 5px;
  }
}

.disable-fieldset {
  background: #f3f3f3;
  // cursor: not-allowed;
}

.MiscellaneousClass {
  margin-top: -12px;
}
.custom-error {
  font-size: 13px;
  margin-top: -20px;
}
