<div class="personal-loan-details mt-20" fxFlex="100">
  <form
    *ngIf="personalLoanDetailsForm"
    [formGroup]="personalLoanDetailsForm"
    fxFlex="100"
  >
    <div fxLayout="row wrap" fxLayoutGap="1%">
      <div
        class=""
        fxFlex="48"
        [ngClass]="isReadOnly == true && 'disable-mat-form-field'"
      >
        <mat-form-field
          appearance="outline"
          class="full-width currency_field fieldinput"
        >
          <mat-label class="custom-mat-label">Loan Amount</mat-label>
          <div fxLayout="row">
            <span
              *ngIf="personalLoanDetailsForm.value.loanAmount"
              class="currencySymbol"
              >{{ currencySymboll }}</span
            >
            <input
              matInput
              [readonly]="isReadOnly"
              name="loanAmount"
              formControlName="loanAmount"
              maxlength="22"
              appNoLeadingSpace
              decimalinput
              [numLength]="18"
              [allowedDecimalIndex]="3"
            />
          </div>

          <mat-error
            *ngIf="
              personalLoanDetailsForm.get('loanAmount')?.hasError('required')
            "
          >
            Loan Amount is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="48" class="MiscellaneousClass">
        <fieldset
          [ngClass]="isReadOnly == true && 'disable-fieldset'"
          class="fieldset"
        >
          <legend style="width: fit-content">Tenure</legend>
          <div fxFlex="100" fxLayout="row">
            <div fxFlex="33">
              <input
                fxFlex="50"
                matInput
                name="year"
                numbersOnly
                placeholder="Year"
                formControlName="tenureYear"
                class="pl-3 tenure_input"
                [readonly]="isReadOnly"
                maxlength="2"
              />
              <ng-container *ngIf="personalLoanDetailsForm.value.tenureYear">
                <span class="suffixLabel">{{
                  personalLoanDetailsForm.value.tenureYear
                    ? personalLoanDetailsForm.value.tenureYear > 1
                      ? "Years"
                      : "Year"
                    : ""
                }}</span>
              </ng-container>
            </div>
            <div class="vertical-seperator"></div>
            <div fxFlex="33">
              <input
                fxFlex="50"
                matInput
                name="month"
                numbersOnly
                placeholder="Month"
                formControlName="tenureMonth"
                class="pl-3 tenure_input"
                [readonly]="isReadOnly"
                maxlength="2"
              />
              <ng-container *ngIf="personalLoanDetailsForm.value.tenureMonth">
                <span class="suffixLabel">{{
                  personalLoanDetailsForm.value.tenureMonth
                    ? personalLoanDetailsForm.value.tenureMonth > 1
                      ? "Months"
                      : "Month"
                    : ""
                }}</span>
              </ng-container>
            </div>
            <div class="vertical-seperator"></div>
            <div fxFlex="33">
              <input
                fxFlex="50"
                matInput
                name="day"
                numbersOnly
                placeholder="Day"
                formControlName="tenureDays"
                class="pl-3 tenure_input"
                [readonly]="isReadOnly"
                maxlength="2"
              />
              <ng-container>
                <span
                  class="suffixLabel"
                  *ngIf="personalLoanDetailsForm.value.tenureDays"
                  >{{
                    personalLoanDetailsForm.value.tenureDays
                      ? personalLoanDetailsForm.value.tenureDays > 1
                        ? "Days"
                        : "Day"
                      : ""
                  }}</span
                >
              </ng-container>
            </div>
          </div>
        </fieldset>
        <mat-error
          class="mat-error small-error mt-12"
          *ngIf="
            validateTenure &&
            (personalLoanDetailsForm.get('tenureYear').value ||
              personalLoanDetailsForm.get('tenureMonth').value ||
              personalLoanDetailsForm.get('tenureDays').value)
          "
        >
          Loan Period should be less than
          {{ productDetails?.maximumTenorYear || 0 }} Years
          {{ productDetails?.maximumTenorMonth || 0 }} Months
          {{ productDetails?.maximumTenorDay || 0 }} Days
        </mat-error>
        <mat-error
          class="mat-error small-error mt-12"
          *ngIf="
            validateMinimumTenure &&
            (personalLoanDetailsForm.get('tenureYear').value ||
              personalLoanDetailsForm.get('tenureMonth').value ||
              personalLoanDetailsForm.get('tenureDays').value)
          "
        >
          Loan Period should be greater than
          {{ productDetails?.minimumTenorYear }} Years
          {{ productDetails?.minimumTenorMonth }} Months
          {{ productDetails?.minimumTenorDay }} Days
        </mat-error>
      </div>

      <div fxFlex="48" class="disable-mat-form-field">
        <mat-form-field
          appearance="outline"
          class="full-width currency_field fieldinput"
        >
          <mat-label class="custom-mat-label">EMI Amount</mat-label>
          <div fxLayout="row">
            <span
              class="currencySymbol"
              *ngIf="personalLoanDetailsForm.value.emiAmount"
              >{{ currencySymboll }}</span
            >
            <input matInput readonly formControlName="emiAmount" />
          </div>
        </mat-form-field>
      </div>

      <div fxFlex="48" class="disable-mat-form-field">
        <mat-form-field appearance="outline" class="full-width fieldinput">
          <mat-label class="custom-mat-label">Interest Rate</mat-label>
          <input matInput readonly formControlName="interestRate" />
          <mat-error
            *ngIf="
              personalLoanDetailsForm.get('interestRate')?.hasError('required')
            "
          >
            Interest Rate is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="48" class="disable-mat-form-field">
        <mat-form-field
          appearance="outline"
          class="full-width currency_field fieldinput"
        >
          <mat-label class="custom-mat-label">Interest Payable</mat-label>
          <div fxLayout="row">
            <span
              class="currencySymbol"
              *ngIf="personalLoanDetailsForm.value.loanAmount"
              >{{ currencySymboll }}</span
            >
            <input matInput readonly formControlName="interestPayable" />
          </div>
          <mat-error
            *ngIf="
              personalLoanDetailsForm
                .get('interestPayable')
                ?.hasError('required')
            "
          >
            Interest Payable is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="48" class="disable-mat-form-field">
        <mat-form-field
          appearance="outline"
          class="full-width currency_field fieldinput"
        >
          <mat-label class="custom-mat-label">Principle Amount</mat-label>
          <div fxLayout="row">
            <span
              class="currencySymbol"
              *ngIf="personalLoanDetailsForm.value.principlAmount"
              >{{ currencySymboll }}</span
            >
            <input matInput readonly formControlName="principlAmount" />
          </div>
          <mat-error
            *ngIf="
              personalLoanDetailsForm
                .get('principlAmount')
                ?.hasError('required')
            "
          >
            Principle Amount is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="48" class="enabled-mat-form-field">
        <mat-form-field
          appearance="outline"
          class="full-width custom-field fieldinput"
        >
          <mat-label class="custom-mat-label">Holder Type</mat-label>
          <mat-select formControlName="holderType">
            <mat-option
              *ngFor="let holderItem of holderTypeArray"
              [value]="holderItem.id"
              >{{ holderItem.values }}</mat-option
            >
          </mat-select>
          <mat-error
            *ngIf="
              personalLoanDetailsForm.get('holderType')?.hasError('required')
            "
          >
            Holder Type is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="48" class="disable-mat-form-field">
        <mat-form-field
          appearance="outline"
          class="full-width currency_field fieldinput"
        >
          <mat-label class="custom-mat-label">Total Payable Amount</mat-label>
          <div fxLayout="row">
            <span
              class="currencySymbol"
              *ngIf="personalLoanDetailsForm.value.totalPayableAmount"
              >{{ currencySymboll }}</span
            >
            <input matInput readonly formControlName="totalPayableAmount" />
          </div>
          <mat-error
            *ngIf="
              personalLoanDetailsForm
                .get('totalPayableAmount')
                ?.hasError('required')
            "
          >
            Total Payable Amount is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="48" class="enabled-mat-form-field">
        <mat-form-field
          appearance="outline"
          class="full-width custom-field fieldinput"
        >
          <mat-label class="custom-mat-label">EMI Payment Start Date</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            formControlName="emiStartDate"
            [min]="currentDate"
            readonly
          />
          <mat-error
            *ngIf="
              personalLoanDetailsForm.get('emiStartDate')?.hasError('required')
            "
          >
            EMI Payment Start Date is <strong>required</strong>
          </mat-error>
          <mat-datepicker-toggle matSuffix [for]="picker">
            <mat-icon matDatepickerToggleIcon>
              <img src="/assets/images/calendar.png" class="pb-25" />
            </mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <div fxFlex="100" class="button-section">
        <button class="confirm-button" (click)="onConfirm()">Confirm</button
        >&nbsp;&nbsp;
        <button
          class="edit-button"
          type="button"
          (click)="editRecord()"
          *ngIf="isReadOnly"
        >
          Edit</button
        >&nbsp;&nbsp;
        <button class="exit-button" type="button" (click)="onBack()">
          Back</button
        >&nbsp;&nbsp;
      </div>
    </div>
  </form>
</div>
