<form
  *ngIf="control"
  [fxLayout]="direction || 'column'"
  [fxLayoutAlign]="
    direction === 'column' || !direction ? 'start start' : 'start center'
  "
>
  <mat-label
    class="{{ customLabelClass }}"
    [ngClass]="direction === 'column' || !direction ? 'ml-16' : 'm-0'"
    fxFlex="20"
  >
    {{ inputLabel }}
    <span *ngIf="isRequired" class="required_star" style="color: red">*</span>
  </mat-label>
  <div
    class="full-width"
    fxFlex="80"
    fxLayout="row"
    fxLayoutAlign="start start"
  >
    <div
      class="custom_input_wrapper"
      fxLayout="row"
      fxLayoutAlign="space-between start"
    >
      <mat-form-field
        class="{{ customClass }}"
        [ngClass]="readonly === true ? 'disabled_input' : ''"
      >
        <div
          fxLayout="row"
          fxLayoutAlign="space-between"
          [ngClass]="showInfoIcon === true ? 'field_with_icon' : ''"
        >
          <span
            matPrefix
            *ngIf="currencyCode && control.value"
            class="currency_code"
            >{{
              currencyCode | customCurrency : profileInfo.currency : "1.2-2"
            }}&nbsp;</span
          >

          <input
            matInput
            [type]="inputType || 'text'"
            [formControl]="control | formcontrol"
            [readonly]="readonly"
            maxlength="27"
            [inputMask]="currencyMask"
            (change)="handleChange($event)"
            (keyup)="hendeledKeyUpEvent($event)"
          />
        </div>
        <mat-hint class="errorMessage" *ngIf="errorMessage">{{
          errorMessage
        }}</mat-hint>
        <mat-error>{{ inputLabel }} is required!</mat-error>
      </mat-form-field>
    </div>
    <img *ngIf="showInfoIcon" class="info_icon" src="assets/images/info.png" />
  </div>
</form>
