::ng-deep .all-in-one-popup .mat-dialog-container {
  border-radius: 10px;
  padding: 10px;
}
.nav-bar {
  background: transparent linear-gradient(270deg, #030c14 0%, #002240 100%) 0%
    0% no-repeat padding-box;
  height: 84px;
}
.inner-container-1 {
  padding: 90px 4%;
}
.inner-container-2 {
  padding: 90px 10px;
}
