::ng-deep .mat-dialog-container {
  padding: 0px !important;
}

.popup-design {
  background: #e4e9ef;
  border-radius: 12px 12px 0 0;
  opacity: 1;
  height: 50px;
  margin-bottom: 5px;
  padding: 10px;
}

.grey-title {
  font: 14px Work Sans;
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;
}

.close-btn {
  background: none;
  border: none;
  font-size: 19px;
  cursor: pointer;
  opacity: 1;
  font-weight: bold;
}

.content {
  position: relative;
}

.cards-list {
  width: 333px;
  background: #f0f5ff 0% 0% no-repeat padding-box;
  opacity: 1;
  padding: 10px;
  max-height: 315px;
  overflow-y: hidden;
  position: relative;
  top: 23px;
  left: -6%;
}

.card-box {
  background: #e4e9ef;
  border-radius: 12px;
  opacity: 0.5;
  margin-bottom: 10px;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-box.selected {
  opacity: 1;
}

.card-box.disabled {
  filter: grayscale(1);
  opacity: 0.5;
}

.card-box img {
  width: 100%;
  border-radius: 12px;
}

.card-desc {
  background-image: url('/assets/images/svg/select-card-bg.svg');
  background-repeat: no-repeat;
  background-attachment: initial;
  background-size: cover;
  border-radius: 12px;
  border: 3px solid #ffffff;
  opacity: 1;
  padding: 20px;
  margin: 0% -2% 2% -5%;
  z-index: 0;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.recommended {
  background: #54d789 0% 0% no-repeat padding-box;
  border-radius: 2px;
  opacity: 1;
  color: #ffffff;
}

.arrow-buttons mat-icon {
  cursor: pointer;
}

.card-details h5 {
  margin: 10px 0;
  font: 15px Work Sans;
  letter-spacing: 0px;
  color: #00205c;
  opacity: 1;
}

.fee-class {
  background: #f5f7fb;
  border-radius: 4px;
  opacity: 1;
  padding: 10px;
  margin-bottom: 10px;
}

.btn-style {
  margin-left: 4%;
}
