<div fxLayout="column">
  <div class="popup-design" fxLayout="row" fxLayoutAlign="space-between center">
    <h3 class="sub-heading">
      Select Your New Card
      <span class="grey-title"
        >(Explore new card options specially designed for you)</span
      >
    </h3>
    <mat-icon class="close-btn" (click)="close()">close</mat-icon>
  </div>
  <div fxLayout="row" fxFlex="100" class="content">
    <mat-card class="cards-list" #widgetsContent fxLayout="column">
      <ng-container *ngFor="let card of cardList; let i = index">
        <div
          class="card-box"
          [class.selected]="i === currentIndex"
          [class.disabled]="i !== currentIndex"
          *ngIf="i >= currentIndex && i < currentIndex + 2"
          (click)="selectCard(i)"
        >
          <img [src]="card.fileUrl || 'assets/images/card_img1.png'" />
        </div>
      </ng-container>
    </mat-card>
    <mat-card fxFlex="100" class="card-desc" fxLayout="column">
      <div
        fxLayout="row"
        fxLayoutAlign="space-between start"
        class="card-heading-style"
      >
        <h3>
          {{ selectedCard?.cardName }}
          <span class="recommended"> Recommended</span>
        </h3>
        <div
          class="arrow-buttons"
          fxLayout="row"
          fxLayoutAlign="space-between center"
        >
          <mat-icon (click)="prev()">arrow_back_ios</mat-icon>
          <mat-icon (click)="next()">arrow_forward_ios</mat-icon>
        </div>
      </div>
      <div class="card-details">
        <ng-container *ngFor="let benefit of selectedCard?.benefits">
          <h5>{{ benefit }}</h5>
        </ng-container>
      </div>
      <div fxLayoutAlign="start center" fxFlex="100" fxLayoutGap="10px">
        <div fxLayout="column" fxFlex="25" class="fee-class">
          <h4>Joining Fee</h4>
          <h3>
            INR: <span>{{ selectedCard?.joiningFee }}</span
            >+GST
          </h3>
        </div>
        <div fxLayout="column" fxFlex="25" class="fee-class">
          <h4>Annual Fee</h4>
          <h3>
            INR: <span>{{ selectedCard?.annualFee }}</span
            >+GST
          </h3>
        </div>
      </div>
      <app-ic-action-button
        class="btn-style"
        buttonName="Apply"
        buttonType="filled"
        (onClick)="applyCard()"
      ></app-ic-action-button>
    </mat-card>
  </div>
</div>
