<section fxFlex="100" fxLayout="column" fxLayoutGap="2%">
  <div class="sendLink-cont">
    <div>
      <p>
        As the next step in the Business Loan process, each Director of the
        company will receive a secure verification link sent to their registered
        email address or mobile number. Once you click
        <span
          style="
            color: var(--ic-text-theme, #0033a1);
            text-decoration: underline;
          "
        >
          ‘Send Link’
        </span>
        button below, a secure verification link will be sent to each Director’s
        registered email ID or mobile number. Each Director will be required to
        complete
        <span style="font-weight: bold">a face liveliness check</span> using a
        real-time selfie and
        <span style="font-weight: bold">provide their signature</span> by either
        uploading it or signing digitally in the provided field.
      </p>
    </div>
    <ic-button
      type="submit"
      icButtonType="filled-rounded"
      label="Send Link"
      customButtonClass="box-shadow-none"
    ></ic-button>
  </div>
  <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between center">
    <div fxFlex="49" fxLayout="row" fxLayoutAlign="space-between center">
      <div fxLayout="column">
        <span class="header_md"><b>Sign Now *</b></span>
        <span class="breadcrum_md"
          >Click the e-sign link to sign digitally or upload your signature
          image</span
        >
      </div>
      <span
        class="theme_md cursor-pointer"
        (click)="openSignPopup()"
        (keydown.enter)="openSignPopup()"
        tabindex="0"
        ><u>E-Sign</u></span
      >
    </div>
    <div fxFlex="49" fxLayout="row" fxLayoutAlign="space-between center">
      <div fxLayout="column">
        <span class="header_md"><b>Physical Signature *</b></span>
        <span class="breadcrum_md"
          >Ensure the letter is downloaded & re-uploaded for status tracking
          purposes.</span
        >
      </div>
      <span
        class="theme_md cursor-pointer"
        (click)="download()"
        (keydown.enter)="openSignPopup()"
        tabindex="0"
        ><u>Download</u></span
      >
    </div>
  </div>
  <div
    class="uploaded_list"
    fxLayout="row wrap"
    fxFlex="100"
    fxLayoutAlign="space-between center"
    *ngIf="signature"
  >
    <div fxFlex="49" fxLayout="row" fxLayoutGap="10" class="upload_img">
      <div class="img_box">
        <img [src]="" alt="image" />
      </div>
      <div class="img_container">
        <span class="header_md img_name">{{ 'Document' }}</span>
      </div>
      <img tabindex="0" src="assets/images/trash_new.svg" alt="trash" />
    </div>
  </div>
</section>
