<section class="growth_fd">
  <div class="container-fluid">
    <div class="row p-5">
      <div
        *ngFor="let fdItem of fdArray; let i = index"
        class="col-lg-4 col-md-6 col-12 my-3"
      >
        <div class="fd_container">
          <div class="d-flex flex-column align-items-center mb-3">
            <div class="planTitle">Best Interest Rate</div>
            <div class="maturityTitle">Maturity Ammount</div>
            <div class="maturityAmount">₹ 1,10,202</div>
          </div>
          <div fxLayout="row" fxFlex="100" style="width: 100%">
            <div
              fxLayout="column"
              fxFlex="48"
              class="alignLeft"
              fxLayoutAlign="space-around center"
            >
              <div class="maturityLabel">Ammount</div>
              <div class="maturityValue">₹ 12,669</div>
            </div>
            <div class="vl"></div>
            <div
              fxLayout="column"
              class="alignLeft"
              fxFlex="48"
              fxLayoutAlign="space-around center"
            >
              <div class="maturityLabel">Interest Rate</div>
              <div class="maturityValue">₹ 12,669</div>
            </div>
          </div>
          <div fxLayout="row" fxFlex="100" style="width: 100%">
            <div
              fxLayout="column"
              class="alignLeft"
              fxFlex="48"
              fxLayoutAlign="space-around center"
            >
              <div class="maturityLabel">Interest Payout</div>
              <div class="maturityValue">Cumulative</div>
            </div>
            <div class="vl"></div>
            <div
              fxLayout="column"
              class="alignLeft"
              fxFlex="48"
              fxLayoutAlign="space-around center"
            >
              <div class="maturityLabel">Tenure</div>
              <div class="maturityValue">1 year 4 months 4 days</div>
            </div>
          </div>
          <div class="renew_check">
            <mat-checkbox>Auto renew</mat-checkbox>
          </div>
          <div *ngIf="depositName === 'rdCalculator'">
            <mat-form-field
              appearance="outline"
              class="full-width disable-field"
            >
              <mat-label>Day of Installment</mat-label>
              <mat-select>
                <mat-option [value]="">Select</mat-option>
                <mat-option value="5th of Month">5th of Month</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="open_plan_btn_div">
            <button
              mat-flat-button
              class="openFDbtn"
              (click)="openFD(depositName === 'fdCalculator' ? 'FD' : 'RD')"
            >
              Open {{ depositName === 'fdCalculator' ? 'FD' : 'RD' }} Now
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
