<div class="payment_parent_div">
  <div fxLayout="column">
    <div class="toggle-div marginTop">
      <mat-button-toggle-group
        class="togglegrp"
        name="fontStyle"
        aria-label="Font Style"
        (change)="onToggleChange($event)"
        [formControl]="paymentMethod"
      >
        <mat-button-toggle class="customTogglebtn" value="Card"
          >Card</mat-button-toggle
        >
        <mat-button-toggle class="customTogglebtn" value="UPI"
          >UPI</mat-button-toggle
        >
        <mat-button-toggle class="customTogglebtn" value="Net Banking"
          >Net Banking
        </mat-button-toggle>
        <mat-button-toggle class="customTogglebtn" value="Transfer"
          >Transfer</mat-button-toggle
        >
      </mat-button-toggle-group>
    </div>
  </div>
  <div *ngIf="paymentMethod?.value === 'Card'">
    <form class="paymentForm">
      <div class="row">
        <div class="col-12">
          <mat-form-field appearance="outline" class="full-width disable-field">
            <mat-label>Card Number</mat-label>
            <input matInput type="text" name="firstName" />
          </mat-form-field>
        </div>
        <div class="col-12">
          <mat-form-field appearance="outline" class="full-width disable-field">
            <mat-label>Card Holder Name</mat-label>
            <input matInput type="text" name="firstName" />
          </mat-form-field>
        </div>
        <div class="col-md-6 col-12">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Expiry Date</mat-label>
            <input
              matInput
              type="text"
              name="maturityDate"
              [matDatepicker]="picker"
              readonly
            />
            <mat-datepicker-toggle matSuffix [for]="picker">
              <mat-icon matDatepickerToggleIcon>calendar_today</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-md-6 col-12 cvvField">
          <mat-form-field appearance="outline" class="full-width disable-field">
            <mat-label>CVV</mat-label>
            <input matInput type="password" name="firstName" />
            <div matSuffix class="cvv_Img">
              <img src="assets/images/help-circle.svg" />
            </div>
          </mat-form-field>
        </div>

        <div class="col-12">
          <mat-checkbox>I accept all Terms and conditions</mat-checkbox>
        </div>
      </div>

      <!-- Payment Button Starts -->
      <div fxLayout="row" class="btn_grp">
        <div>
          <button
            type="button"
            mat-raised-button
            class="saveButton"
            (click)="continuePayment()"
          >
            Verify and Pay
          </button>
        </div>
        &nbsp;&nbsp;
        <div>
          <button type="button" mat-raised-button class="backButton">
            Back
          </button>
        </div>
      </div>
    </form>
  </div>

  <div *ngIf="paymentMethod?.value === 'UPI'">
    <form class="upiPaymentForm">
      <div class="row mt-36">
        <div class="col-12">
          <mat-form-field appearance="outline" class="full-width disable-field">
            <mat-label>Enter Your UPI ID</mat-label>
            <input matInput type="text" name="firstName" />
          </mat-form-field>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-10">
              Please open the app and accept the sent payment request for your
              UPI account. Note: Don’t press back or refresh this page.
            </div>
            <div class="col-2">(0:38 min)</div>
          </div>
          <div style="margin-top: 1%">
            <span style="color: red; font-weight: 600">Note:</span
            ><span style="color: rgb(215, 77, 77)"
              >Don’t press back or refresh the page</span
            >
          </div>
        </div>
      </div>

      <!-- Payment Button Starts -->
      <div fxLayout="row" class="btn_grp mt-32">
        <div>
          <button
            type="button"
            mat-raised-button
            class="saveButton"
            (click)="continuePayment()"
          >
            Verify and Pay
          </button>
        </div>
        &nbsp;&nbsp;
        <div>
          <button type="button" mat-raised-button class="backButton">
            Back
          </button>
        </div>
      </div>
    </form>
  </div>

  <div *ngIf="paymentMethod?.value === 'Net Banking'" fxFlex="100">
    <form class="netBankPaymentForm">
      <div class="row">
        <div class="col-12" *ngFor="let card of cardType; let i = index">
          <div
            fxLayout="row"
            class="parent_net_div"
            fxLayoutAlign="space-between center"
          >
            <div fxLayout="row" class="bank_name" fxLayoutAlign="center center">
              <div>
                <img [src]="card.bankLogo" />
              </div>
              <div class="card_name">{{ card?.bankName }}</div>
            </div>

            <mat-radio-button
              class="custom_mat-radio"
              value="1"
            ></mat-radio-button>
          </div>
        </div>
      </div>

      <!-- Payment Button Starts -->
      <div fxLayout="row" class="btn_grp">
        <div>
          <button
            type="button"
            mat-raised-button
            class="saveButton"
            (click)="continuePayment()"
          >
            Continue
          </button>
        </div>
        &nbsp;&nbsp;
        <div>
          <button type="button" mat-raised-button class="backButton">
            Back
          </button>
        </div>
      </div>
    </form>
  </div>

  <div *ngIf="paymentMethod?.value === 'Transfer'">
    <form class="tansferPaymentForm">
      <div class="row mt-32">
        <div class="col-12">
          <mat-form-field appearance="outline" class="full-width disable-field">
            <mat-label>Account Number</mat-label>
            <input matInput type="text" name="firstName" />
          </mat-form-field>
        </div>
      </div>

      <!-- Payment Button Starts -->
      <div fxLayout="row" class="btn_grp">
        <div>
          <button
            type="button"
            mat-raised-button
            class="saveButton"
            [disabled]="isTransferProceed"
            (click)="processTransferPayment()"
          >
            Proceed
          </button>
        </div>
        &nbsp;&nbsp;
        <div>
          <button type="button" mat-raised-button class="backButton">
            Back
          </button>
        </div>
      </div>
      <!-- otp -->

      <ng-otp-input *ngIf="isTransferProceed" [config]="config"></ng-otp-input>
      <div fxLayout="row" class="btn_grp" *ngIf="isTransferProceed">
        <div>
          <button
            type="button"
            mat-raised-button
            class="saveButton"
            (click)="continuePayment()"
          >
            Continue
          </button>
        </div>
        &nbsp;&nbsp;
        <div>
          <button type="button" mat-raised-button class="backButton">
            Back
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
