<div class="personal-loan-details">
    <div class="column-2">
        <div class="text-header">Personal Loan Details</div>
        <div class="standard-flex">
            <div class="field">
                <mat-form-field appearance="outline" class="full-width custom-field">
                    <mat-label class="custom-mat-label">Loan Amount</mat-label>
                    <input matInput [formControl]="personalLoanDetailsForm.controls['loanAmount']" />
                    <mat-error *ngIf="personalLoanDetailsForm.get('loanAmount')?.hasError('required')">
                        Loan Amount is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="field" style="width: 43%;">
                <fieldset [ngClass]="{'mat-form-field-disabled': isDisabledMode}">
                    <legend>Tenure</legend>
                    <div style="display: flex; flex-direction: row;">
                        <input matInput name="year" numbersOnly placeholder="Year"
                            [formControl]="personalLoanDetailsForm.controls['tenureYear']" />
                        <input matInput name="month" numbersOnly placeholder="Month"
                            [formControl]="personalLoanDetailsForm.controls['tenureMonths']"
                            style="border-left: #C6C6C6 1px solid; border-right: #C6C6C6 1px solid;" />
                        <input matInput name="day" numbersOnly placeholder="Day"
                            [formControl]="personalLoanDetailsForm.controls['tenureDay']" />
                    </div>
                </fieldset>
                <!-- <mat-error *ngIf="personalLoanDetailsForm.get('tenureYear')?.hasError('required')">
                    Tenure Year is <strong>required</strong>
                </mat-error> -->
            </div>
        </div>
        <div class="standard-flex">
            <div class="field">
                <mat-form-field appearance="outline" class="full-width custom-field">
                    <mat-label class="custom-mat-label">EMI Amount</mat-label>
                    <input matInput [formControl]="personalLoanDetailsForm.controls['emiAmount']" />
                    <mat-error *ngIf="personalLoanDetailsForm.get('emiAmount')?.hasError('required')">
                        EMI Amount is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="field">
                <mat-form-field appearance="outline" class="full-width custom-field">
                    <mat-label class="custom-mat-label">Interest Rate</mat-label>
                    <input matInput [formControl]="personalLoanDetailsForm.controls['interestRate']" />
                    <mat-error *ngIf="personalLoanDetailsForm.get('interestRate')?.hasError('required')">
                        Interest Rate is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="standard-flex">
            <div class="field">
                <mat-form-field appearance="outline" class="full-width custom-field">
                    <mat-label class="custom-mat-label">Interest Payable</mat-label>
                    <input matInput [formControl]="personalLoanDetailsForm.controls['interestPayable']" />
                    <mat-error *ngIf="personalLoanDetailsForm.get('interestPayable')?.hasError('required')">
                        Interest Payable is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="field">
                <mat-form-field appearance="outline" class="full-width custom-field">
                    <mat-label class="custom-mat-label">Principle Amount</mat-label>
                    <input matInput [formControl]="personalLoanDetailsForm.controls['principlAmount']" />
                    <mat-error *ngIf="personalLoanDetailsForm.get('principlAmount')?.hasError('required')">
                        Principle Amount is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="standard-flex">
            <div class="field">
                <mat-form-field appearance="outline" class="full-width custom-field">
                    <mat-label class="custom-mat-label">Holder Type</mat-label>
                    <mat-select [formControl]="personalLoanDetailsForm.controls['holderType']"
                        (selectionChange)="accountHolderSelectionChanged()">
                        <mat-option value="joint">Joint</mat-option>
                        <mat-option value="individual">Individual</mat-option>
                    </mat-select>
                    <mat-error *ngIf="personalLoanDetailsForm.get('holderType')?.hasError('required')">
                        Holder Type is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="field">
                <mat-form-field appearance="outline" class="full-width custom-field">
                    <mat-label class="custom-mat-label">Total Payable Amount</mat-label>
                    <input matInput [formControl]="personalLoanDetailsForm.controls['totalPayableAmount']" />
                    <mat-error *ngIf="personalLoanDetailsForm.get('totalPayableAmount')?.hasError('required')">
                        Total Payable Amount is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="standard-flex">
            <div class="field">
                <mat-form-field appearance="outline" class="full-width custom-field">
                    <mat-label class="custom-mat-label">Disbursement Type</mat-label>
                    <mat-select [formControl]="personalLoanDetailsForm.controls['disbursementType']"
                        (selectionChange)="onDisbursementSelectionChanged()">
                        <mat-option value="account">Account</mat-option>
                        <mat-option value="cheque">Cheque</mat-option>
                        <mat-option value="cash">Cash</mat-option>
                    </mat-select>
                    <mat-error *ngIf="personalLoanDetailsForm.get('firstName')?.hasError('required')">
                        Disbursement Type is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="field" *ngIf="disbursementType === 'account'">
                <mat-form-field appearance="outline" class="full-width custom-field">
                    <mat-label class="custom-mat-label">Account Number</mat-label>
                    <input matInput [formControl]="personalLoanDetailsForm.controls['accountNumber']" />
                    <mat-error *ngIf="personalLoanDetailsForm.get('accountNumber')?.hasError('required')">
                        Account Number is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="field" *ngIf="disbursementType !== 'account'">
                <mat-form-field appearance="outline" class="full-width custom-field">
                    <mat-label class="custom-mat-label">EMI Payment Start Date</mat-label>
                    <input matInput [matDatepicker]="picker"
                        [formControl]="personalLoanDetailsForm.controls['emaiPaymentStartDate']" />
                    <mat-error *ngIf="personalLoanDetailsForm.get('emaiPaymentStartDate')?.hasError('required')">
                        EMI Payment Start Date is <strong>required</strong>
                    </mat-error>
                    <mat-datepicker-toggle matSuffix [for]="picker">
                        <mat-icon matDatepickerToggleIcon>
                            <img src="../../../../assets/images/calendar.png" class="pb-25" />
                        </mat-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
        <div class="standard-flex" *ngIf="disbursementType === 'account'">
            <div class="field">
                <mat-form-field appearance="outline" class="full-width custom-field">
                    <mat-label class="custom-mat-label">EMI Payment Start Date</mat-label>
                    <input matInput [matDatepicker]="picker"
                        [formControl]="personalLoanDetailsForm.controls['emaiPaymentStartDate']" />
                    <mat-error *ngIf="personalLoanDetailsForm.get('emaiPaymentStartDate')?.hasError('required')">
                        EMI Payment Start Date is <strong>required</strong>
                    </mat-error>
                    <mat-datepicker-toggle matSuffix [for]="picker">
                        <mat-icon matDatepickerToggleIcon>
                            <img src="../../../../assets/images/calendar.png" class="pb-25" />
                        </mat-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
        <div class="button-section">
            <button class="confirm-button" (click)="onConfirm()">Confirm</button>
            <button class="edit-button" (click)="onEdit()">Edit</button>
            <button class="exit-button" (click)="onExit()">Exit</button>
        </div>
    </div>

</div>