.account-header {
    height: 90px;
    background: #FFF;
    width: 100%;
    box-shadow: 3px 3px 20px 2px rgba(0, 0, 0, 0.06);

    a {
        color: #06113C;
        font-family: Bell MT;
        font-size: 36px;
        margin: 10px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-decoration: none;
    }
}