<div>
  <form [formGroup]="kycForm" fxLayout="column">
    <div class="enter_mobile">Kindly Provide Your national ID</div>
    <div class="full-width">
      <div
        class="standard-txtField-phone-main"
        fxLayoutAlign="space-between center"
      >
        <input
          matInput
          type="text"
          class="inputText"
          formControlName="verifyNationalID"
          numbersOnly
          maxlength="12"
        />
        <button
          class="confirm-button"
          mat-raised-button
          (click)="getOtp()"
          [disabled]="isvalid()"
        >
          Get OTP
        </button>
      </div>
    </div>
    <div class="enter_otp" *ngIf="isShowOtp">Enter OTP to verify</div>
    <div fxLayout="column">
      <div *ngIf="isShowOtp">
        <ng-otp-input
          class="otp_field"
          [config]="config"
          (onInputChange)="onOtpChange($event)"
        >
        </ng-otp-input>
      </div>

      <!-- <div class="btnGroup" *ngIf="isShowOtp">
        <span class="timer" fxLayout="row">
          <div class="Btn" id="ResendBtn">
            <button
              [disabled]="display != '00:00'"
              type="button"
              class="resnd_otp"
              (click)="timer(1)"
            >
              Resend OTP
            </button>
            ({{ display }}min)
          </div>

          <span id="counter"></span>
        </span>
      </div> -->
      <div class="standard-font-black my-20" *ngIf="isShowOtp">
        <span *ngIf="resendLink"
          ><div (click)="otpTimer()" class="resend-link">Resend</div></span
        >
        <span *ngIf="!resendLink"
          >Resend the OTP
          <span class="standard-font-blue"
            >({{ displaySecond }} min)</span
          ></span
        >
      </div>
      <div fxFlex="100" fxLayout="column" fxLayoutGap="20">
        <div
          style="margin-top: 27px; width: 100%"
          class="col-12"
          fxFlex="100"
          fxLayout="row"
          *ngIf="isShowOtp"
        >
          <div fxFlex="5">
            <mat-checkbox (change)="isChecked = !isChecked"></mat-checkbox>
          </div>
          <div fxFlex="95">
            <span class="check_font"
              >I confirmed that I don't have any other Account opened by using
              National ID & OTP based KYC with Demobank</span
            >
          </div>
        </div>

        <div fxLayout="row" class="btn_grp" fxLayoutGap="50px">
          <div>
            <button
              type="button"
              mat-raised-button
              [disabled]="!isChecked || !yourOtp"
              class="button submit_button"
              matSuffix
            >
              Verify
            </button>
          </div>
          <div>
            <button
              type="button"
              mat-raised-button
              class="button back_button"
              (click)="goBack()"
            >
              Back
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
