.newsLetter {
  background-image: url("../../../../../../assets/images/Group\ 13851.svg") !important;
}

@media screen and (max-width: 768px) {
  .deposit_service_img {
    display: none !important;
  }
  .deposit_service_txt {
    max-width: 100% !important;
  }
}
