.customer_Header {
  padding: 2%;
  height: 70px;
  .customer_Header_description {
    color: #1b3c81;
    font-weight: 600;
    font-size: 26px;
    line-height: 39px;
  }
}
.custom_accordin {
  margin: 1% 0%;
}
.add_applicant {
  box-shadow: 0px 3px 15px 0px #00000017;
  height: 65px;
  color: #004c97;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

::ng-deep .zipCode_field .mat-form-field-suffix {
  top: 0px !important;
  right: 5px !important;
}

::ng-deep .hide-select-arrow {
  pointer-events: none !important;
  .mat-select-arrow-wrapper {
    display: none !important;
  }
}
