<div fxLayout="column" *ngIf="customerDetailsForm">
  <form [formGroup]="customerDetailsForm">
    <div formArrayName="customer">
      <div *ngFor="let customer of customer.controls; let i = index">
        <div [formGroupName]="i">
          <div class="custom_accordin">
            <mat-accordion>
              <mat-expansion-panel (opened)="panelOpened(i)">
                <mat-expansion-panel-header class="customer_Header">
                  <mat-panel-description class="customer_Header_description">
                    <div fxLayout="row">
                      <img
                        *ngIf="customer.valid"
                        src="assets/images/done_icon.svg"
                      />
                      <span style="margin-left: 10px"
                        >Applicant {{ i + 1 }}</span
                      >
                    </div>
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="row">
                  <div class="col-md-6 col-12" *ngIf="!isHideField">
                    <mat-form-field
                      appearance="outline"
                      class="full-width disable-field"
                    >
                      <mat-label>CIF Number</mat-label>
                      <input
                        matInput
                        type="text"
                        formControlName="customerNo"
                        name="customerNo"
                        specialIsAlphaNumeric
                        maxlength="20"
                      />
                    </mat-form-field>
                  </div>
                  <div
                    class="col-md-6 col-12 default-toggle-slide pb-12"
                    fxLayoutAlign="end center"
                    *ngIf="!isHideField"
                  >
                    <span style="padding-right: 10px"
                      >Is this applicant a primary customer? *</span
                    >
                    <mat-slide-toggle
                      formControlName="primaryCustomer"
                      [disabled]="
                        checkPrimaryCustomer() && primaryCustIndex != i
                      "
                    >
                    </mat-slide-toggle>
                  </div>
                  <div class="col-md-6 col-12">
                    <mat-form-field
                      appearance="outline"
                      class="full-width disable-field"
                    >
                      <mat-label>Prefix</mat-label>

                      <mat-select
                        formControlName="prefix"
                        (selectionChange)="CheckGenderandPrefix(i)"
                      >
                        <mat-option
                          *ngFor="let prefixItem of prefixArray"
                          [value]="prefixItem.id"
                          >{{ prefixItem.values }}</mat-option
                        >
                      </mat-select>
                      <mat-error
                        *ngIf="
                          this.customer.controls.prefix.touched &&
                          this.customer.controls.prefix.hasError('required')
                        "
                      >
                        Prefix is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-md-6 col-12">
                    <mat-form-field
                      appearance="outline"
                      class="full-width disable-field"
                    >
                      <mat-label>First Name</mat-label>
                      <input
                        matInput
                        appAlphabetOnly
                        type="text"
                        formControlName="firstName"
                        name="firstName"
                      />
                      <mat-error
                        *ngIf="
                          this.customer.controls.firstName.touched &&
                          this.customer.controls.firstName.hasError('required')
                        "
                      >
                        First Name is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-md-6 col-12">
                    <mat-form-field
                      appearance="outline"
                      class="full-width disable-field"
                    >
                      <mat-label>Last Name</mat-label>
                      <input
                        matInput
                        appAlphabetOnly
                        type="text"
                        formControlName="lastName"
                        name="lastName"
                      />
                      <mat-error
                        *ngIf="
                          this.customer.controls.lastName.touched &&
                          this.customer.controls.lastName.hasError('required')
                        "
                      >
                        Last Name is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-md-6 col-12">
                    <mat-form-field
                      appearance="outline"
                      class="full-width disable-field"
                    >
                      <mat-label>Date Of Birth</mat-label>
                      <input
                        matInput
                        type="text"
                        formControlName="dateOfBirth"
                        name="dateOfBirth"
                        [matDatepicker]="picker"
                        [max]="todayDate"
                        readonly
                        (dateChange)="
                          dateOfBirthSelected(
                            customerDetailsForm.value.customer[0].dateOfBirth,
                            i
                          )
                        "
                      />
                      <mat-datepicker-toggle matSuffix [for]="picker">
                        <mat-icon matDatepickerToggleIcon
                          >calendar_today</mat-icon
                        >
                      </mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                      <mat-error
                        *ngIf="
                          this.customer.controls.dateOfBirth.touched &&
                          this.customer.controls.dateOfBirth.hasError(
                            'required'
                          )
                        "
                      >
                        Date Of Birth is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-md-6 col-12">
                    <mat-form-field
                      appearance="outline"
                      class="full-width disable-field"
                    >
                      <mat-label>Email</mat-label>
                      <input
                        matInput
                        noInitialSpecialCharacters
                        noSpace
                        [disabled]="!customerDetailsForm.valid"
                        [formControl]="customer.get('contact').get('email')"
                        name="email"
                      />
                      <mat-error
                        *ngIf="
                          customer.get('contact').get('email').touched &&
                          customer
                            .get('contact')
                            .get('email')
                            .hasError('required')
                        "
                      >
                        Email is required
                      </mat-error>
                      <mat-error
                        *ngIf="
                          customer
                            .get('contact')
                            .get('email')
                            .hasError('pattern')
                        "
                      >
                        Please enter Valid Email
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-md-6 col-12" fxLayout="column">
                    <fieldset class="yeardrop fieldset" fxFlex="100">
                      <div fxLayout="row" class="parentYearDiv" fxFlex="100">
                        <mat-form-field
                          appearance="outline"
                          class="full-width inputSelect isdSelect"
                          fxFlex="20"
                        >
                          <mat-select
                            class="selector-input"
                            [formControl]="
                              customer.get('contact').get('mobtCode')
                            "
                          >
                            <ng-container
                              *ngFor="let isdCode of countriesIsdCodes"
                            >
                              <mat-option
                                *ngIf="isdCode?.countryTelIsdCode"
                                [value]="isdCode?.countryTelIsdCode"
                                >+{{ isdCode?.countryTelIsdCode }}</mat-option
                              >
                            </ng-container>
                          </mat-select>
                        </mat-form-field>
                        <span class="fielSetDivider"></span>
                        <mat-form-field
                          appearance="outline"
                          class="full-width inputSelect mob_field"
                          fxFlex="80"
                        >
                          <mat-label>Mobile Number</mat-label>
                          <input
                            matInput
                            type="text"
                            class="inputText"
                            [formControl]="
                              customer.get('contact').get('mobile')
                            "
                            numbersOnly
                            [maxlength]="maxMobileLength"
                            placeholder="Mobile Number"
                            [attr.readonly]="
                              customer.get('contact').get('mobile').readonly
                                ? true
                                : null
                            "
                          />
                        </mat-form-field>
                      </div>
                    </fieldset>
                    <mat-error
                      class="custom-error"
                      *ngIf="
                        customer
                          .get('contact')
                          .get('mobile')
                          .hasError('required') &&
                        customer.get('contact').get('mobile').touched
                      "
                    >
                      Mobile Number is required
                    </mat-error>
                    <mat-error
                      class="custom-error"
                      *ngIf="
                        customer.get('contact').get('mobile').touched &&
                        customer
                          .get('contact')
                          .get('mobile')
                          .hasError('invalidLength')
                      "
                      >Mobile length should be {{ maxMobileLength }}</mat-error
                    >
                  </div>

                  <div class="col-md-6 col-12">
                    <mat-form-field
                      appearance="outline"
                      class="full-width disable-field"
                    >
                      <mat-label>Gender</mat-label>
                      <mat-select
                        formControlName="gender"
                        (selectionChange)="CheckGenderandPrefix(i)"
                      >
                        <mat-option
                          *ngFor="let genderItem of genderArray"
                          [value]="genderItem.id"
                          >{{ genderItem.values }}</mat-option
                        >
                      </mat-select>
                      <mat-error
                        *ngIf="
                          this.customer.controls.gender.touched &&
                          this.customer.controls.gender.hasError('required')
                        "
                      >
                        Gender is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-md-6 col-12">
                    <app-searchable-select
                      [items]="nationalityArray"
                      inputLabel="Nationality"
                      bindLabelKey="nationality"
                      bindValueKey="nationality"
                      [control]="customer.get('nationality')"
                    ></app-searchable-select>
                  </div>

                  <div class="highlight_title">Address Details</div>
                  <div
                    class="row"
                    *ngIf="customer.get('contact.address').controls"
                  >
                    <ng-container
                      *ngFor="
                        let addressGroup of customer.get('contact.address')
                          .controls;
                        let addressIndex = index
                      "
                      [formGroup]="addressGroup"
                    >
                      <div class="col-md-12 col-12">
                        <mat-form-field
                          appearance="outline"
                          class="full-width disable-field"
                        >
                          <mat-label>Address</mat-label>
                          <input
                            matInput
                            type="text"
                            formControlName="address1"
                            name="address1"
                            noInitialSpecialCharacters
                            specialIsAlphaNumeric
                          />
                          <mat-error
                            *ngIf="
                              addressGroup.get('address1').touched &&
                              addressGroup.get('address1').hasError('required')
                            "
                          >
                            Address is required
                          </mat-error>
                        </mat-form-field>
                      </div>

                      <div class="col-md-6 col-12">
                        <mat-form-field
                          appearance="outline"
                          class="full-width disable-field"
                        >
                          <mat-label>Residence Type</mat-label>
                          <mat-select formControlName="residenceType">
                            <mat-option
                              *ngFor="let residenceItem of residenceTypeArray"
                              [value]="residenceItem.id"
                              >{{ residenceItem.values }}</mat-option
                            >
                          </mat-select>
                          <mat-error
                            *ngIf="
                              addressGroup.get('residenceType').touched &&
                              addressGroup
                                .get('residenceType')
                                .hasError('required')
                            "
                          >
                            Residence Type is required
                          </mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-md-6 col-12">
                        <app-searchable-select
                          [items]="countryArray"
                          inputLabel="Country"
                          bindLabelKey="countryName"
                          bindValueKey="countryName"
                          [control]="addressGroup.get('countryName')"
                        ></app-searchable-select>
                      </div>

                      <div class="col-md-6 col-12">
                        <mat-form-field
                          appearance="outline"
                          class="full-width disable-field zipCode_field"
                        >
                          <mat-label>Zip Code</mat-label>
                          <input
                            matInput
                            type="text"
                            formControlName="pincode"
                            name="pincode"
                            numbersOnly
                            maxlength="10"
                          />
                          <mat-icon
                            matSuffix
                            class="searchIcon-main"
                            (click)="pincodeExpansion(i)"
                            >search</mat-icon
                          >
                          <mat-error
                            *ngIf="
                              addressGroup.get('pincode').touched &&
                              addressGroup.get('pincode').hasError('required')
                            "
                          >
                            Zip Code is required
                          </mat-error>
                        </mat-form-field>
                      </div>

                      <div class="col-md-6 col-12">
                        <mat-form-field
                          appearance="outline"
                          class="full-width disable-field hide-select-arrow"
                        >
                          <mat-label>State</mat-label>
                          <input
                            matInput
                            type="text"
                            formControlName="stateName"
                            name="stateName"
                            readonly
                          />
                          <mat-error
                            *ngIf="
                              addressGroup.get('stateName').touched &&
                              addressGroup.get('stateName').hasError('required')
                            "
                          >
                            State is required
                          </mat-error>
                        </mat-form-field>
                      </div>

                      <div class="col-md-6 col-12">
                        <mat-form-field
                          appearance="outline"
                          class="full-width disable-field hide-select-arrow"
                        >
                          <mat-label>City</mat-label>
                          <input
                            matInput
                            type="text"
                            formControlName="cityName"
                            name="cityId"
                            readonly
                          />
                          <mat-error
                            *ngIf="
                              addressGroup.get('cityName').touched &&
                              addressGroup.get('cityName').hasError('required')
                            "
                          >
                            City required
                          </mat-error>
                        </mat-form-field>
                      </div>
                    </ng-container>
                  </div>

                  <div
                    fxFlex="100"
                    fxLayout="row"
                    fxLayoutGap="2%"
                    style="margin-top: 50px"
                    class="col-12"
                    *ngIf="!isHideField"
                  >
                    <div>
                      <button
                        type="button"
                        [disabled]="!customer.valid"
                        mat-raised-button
                        class="button submit_button"
                        (click)="saveCustomer(i)"
                      >
                        Save
                      </button>
                    </div>
                  </div>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>
      </div>
    </div>
  </form>

  <div *ngIf="!isHideField">
    <div
      class="add_applicant"
      (click)="holderType == 'joint' && addCustomer(customer?.controls?.length)"
    >
      Add Another Applicant
    </div>
  </div>
  <div fxFlex="100" fxLayout="row" fxLayoutGap="2%" style="margin-top: 50px">
    <div>
      <button
        type="button"
        mat-raised-button
        class="button submit_button"
        [disabled]="!customerDetailsForm.valid"
        (click)="confirmCustomer()"
      >
        Confirm
      </button>
    </div>
    <div>
      <button
        type="button"
        mat-raised-button
        class="button back_button"
        (click)="goBack()"
      >
        Back
      </button>
    </div>
  </div>
</div>
