.accordian-section {
  background: #fff;

  .accordian-item {
    padding: 15px;

    .panel {
      padding: 6px;
      border-radius: 22.966px !important;
      background: #fff;
      box-shadow: 0px 6.124183654785156px 30.62091827392578px 0px
        rgba(0, 0, 0, 0.11);

      .panel-header {
        color: #1b3c81;
        font-family: Poppins;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;

        .text-place {
          color: #3c4f9a;
          font-family: Poppins;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 130%;
          margin-left: 10px;
        }
      }
    }

    .accordian-list {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .accordion-text-list {
        display: flex;
        flex-direction: row;
        padding: 10px;
        color: #909090;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 130%;
        /* 23.4px */
        letter-spacing: 0.72px;
      }

      .accordion-text-list:hover {
        color: #000;
      }

      .accordain-list-img {
        display: flex;
        flex-direction: row;
        padding: 10px;

        .range-text-green {
          color: #008461;
          font-family: Spartan;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 130%;
          /* 20.8px */
          letter-spacing: 0.64px;
        }

        .range-text-red {
          color: #b20000;
          font-family: Spartan;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 130%;
          /* 20.8px */
          letter-spacing: 0.64px;
        }
      }
    }
  }
}

.read-more-button {
  width: 134px;
  height: 54px;
  flex-shrink: 0;
  color: white;
  border-radius: 50px;
  background: linear-gradient(90deg, #004aa0 0%, #06113c 100%);
}
