.applyButtonStandard {
  width: 195px;
  height: 50px;
  top: 7px;
  right: 5px;
  background: transparent linear-gradient(91deg, #004c97 0%, #051a2d 100%) 0% 0%
    no-repeat padding-box;
  border-radius: 35px !important;
  color: #ffffff !important;
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
  border: none;
}

.backButtonStandard {
  width: 172px;
  height: 49px;
  top: 7px;
  right: 5px;
  box-shadow: 3px 3px 15px 0px #0000000f;
  background: #ffffff !important;
  border-radius: 23px !important;
  color: #000000;
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
  border: none;
  text-decoration: none;
}

.confirm-button,
.continue-button,
.submit-button {
  @extend .applyButtonStandard;
}

.edit-button {
  @extend .applyButtonStandard;
  background: #ffffff;
  color: #004c97 !important;
  box-shadow: 3px 3px 20px 2px rgba(0, 0, 0, 0.06);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.exit-button {
  @extend .applyButtonStandard;
  color: #b20000 !important;
  background: #ffffff !important;
  box-shadow: 3px 3px 20px 2px rgba(0, 0, 0, 0.06);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.back-button {
  @extend .backButtonStandard;
}

.mat-button-disabled {
  background: #b4b4b4 !important;
}
