.fd_info_stat {
  background: #e6efff;
  border: 1px solid #bac0d7;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 0 2%;
  margin-top: 10px;
  width: 61%;

  .text-box {
    display: flex;
    flex-direction: column;
    color: #004c97;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    justify-content: center;
    margin-left: 20px;
  }
}

.vertical_line {
  position: relative;
  height: 50px;
  left: 30px;
  border-left: 1px #bac0d7 dotted;
  display: block;
  height: 122px;
}
/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
@media screen and (max-width: 320px) {
  .box-container {
    display: hidden !important;
  }
}

/* smartphones, Android phones, landscape iPhone */
@media screen and (max-width: 480px) {
  .box-container {
    visibility: hidden !important;
  }
}

/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
@media screen and (max-width: 600px) {
  .box-container {
    visibility: hidden !important;
  }
}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width: 801px) {
}

@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
}

@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
}
