<div class="column-2">
    <div class="loan-summary">
        <div class="text-header">Loan Details</div>
        <div class="loan-details">
            <div class="col-1">
                <span class="content-header">Loan Amount</span>
                <span class="content">1200000.5</span>
            </div>
            <div class="col-2">
                <span class="content-header">Tenure</span>
                <span class="content">1 Year</span>
            </div>
            <div class="col-3">
                <span class="content-header">EMI Amount</span>
                <span class="content">12000.009</span>
            </div>
            <div class="col-4">
                <span class="content-header">Interest Rate</span>
                <span class="content">10%</span>
            </div>
            <div class="col-2">
                <span class="content-header">Interest Payable</span>
                <span class="content">12.5%</span>
            </div>
            <div class="col-3">
                <span class="content-header">Principle Amount</span>
                <span class="content">3100230</span>
            </div>
            <div class="col-4">
                <span class="content-header">Total Payable Amount</span>
                <span class="content">123954.60</span>
            </div>
            <div class="col-3">
                <span class="content-header">Holder Type</span>
                <span class="content">Self</span>
            </div>
        </div>
        <div class="nominee-details">
            <mat-form-field appearance="outline" class="custom-field" style="width: 100%;">
                <mat-label class="custom-mat-label">Nominee</mat-label>
                <input matInput />
            </mat-form-field>
        </div>
    </div>
    <div class="disbursement-summary">
        <div class="text-header"> Disbursement Details </div>
        <div class="disbursement-details">
            <div class="col-1">
                <span class="content-header">Type</span>
                <span class="content">Account </span>
            </div>
            <div class="col-2">
                <span class="content-header">Account Number</span>
                <span class="content">10102323234134</span>
            </div>
            <div class="col-3">
                <span class="content-header">Name</span>
                <span class="content">Rashid Husain</span>
            </div>
            <div class="col-3">
                <span class="content-header">EMI Payment Start Date</span>
                <span class="content">10 Jan 2023</span>
            </div>
        </div>
    </div>
    <div class="bank-account-summary">
        <div class="text-header"> Bank Account </div>
        <div class="disbursement-details">
            <div class="col-1">
                <span class="content-header">Your Account</span>
                <span class="content">129232323132 </span>
            </div>
            <div class="col-1">
                <span class="content-header">Name</span>
                <span class="content">Rashid Husain</span>
            </div>
            <div class="col-1">
                <span class="content-header">Your PAN Card</span>
                <span class="content">AYJPH4341M</span>
            </div>
        </div>
    </div>
    <div class="uploaded-documents-summary">
        <div class="text-header">Documents </div>
        <div class="bank-account-details">
            <div class="col-1">
                <span class="content-header">Document type</span>
                <span class="content">payslip </span>
            </div>
            <div class="uploaded-images-section">
                <div class="uploaded-images">
                    <!-- <mat-icon>check_circle</mat-icon> -->
                    <img src="../../../../assets/images/account-img1.png" alt="">
                    <!-- <mat-icon>delete</mat-icon> -->
                </div>
                <div class="uploaded-images">
                    <!-- <mat-icon>check_circle</mat-icon> -->
                    <img src="../../../../assets/images/account-img2.png" alt="">
                    <!-- <mat-icon>delete</mat-icon> -->
                </div>
            </div>
        </div>
    </div>
    <div class="button-section">
        <button class="confirm-button" (click)="onVerify()">Confirm</button>
        <button class="back-button" (click)="onBack()">Back</button>
    </div>
</div>