<div class="column-2">
  <div class="loan-summary">
    <div class="text-header">Loan Details</div>
    <div class="loan-details w-full">
      <div class="col-1">
        <span class="content-header">Loan Amount</span>
        <span class="content">
          {{ otherUserInfo?.currencySymbol }}
          {{ loanSummaryDetails?.loanDetails?.loanAmount }}</span
        >
      </div>
      <div class="col-2">
        <span class="content-header">Tenure</span>
        <span class="content"
          >{{ loanSummaryDetails?.loanDetails?.loanTenureYear || 0 }} Year
          {{ loanSummaryDetails?.loanDetails?.loanTenureMonth || 0 }} Months
          {{ loanSummaryDetails?.loanDetails?.loanTenureDay || 0 }} Days</span
        >
      </div>
      <div class="col-3">
        <span class="content-header">EMI Amount</span>
        <span class="content"
          >{{ otherUserInfo?.currencySymbol }}&nbsp;{{
            loanSummaryDetails?.loanDetails?.emiAmount
          }}</span
        >
      </div>
      <div class="col-4">
        <span class="content-header">Interest Rate</span>
        <span class="content">{{
          loanSummaryDetails?.loanDetails?.interestRate
        }}</span>
      </div>
      <div class="col-2">
        <span class="content-header">Interest Payable</span>
        <span class="content"
          >{{ otherUserInfo?.currencySymbol }}&nbsp;{{
            loanSummaryDetails?.loanDetails?.interestPayable
          }}</span
        >
      </div>
      <div class="col-3">
        <span class="content-header">Principle Amount</span>
        <span class="content"
          >{{ otherUserInfo?.currencySymbol }}&nbsp;{{
            loanSummaryDetails?.loanDetails?.principalAmount
          }}</span
        >
      </div>
      <div class="col-4">
        <span class="content-header">Total Payable Amount</span>
        <span class="content"
          >{{ otherUserInfo?.currencySymbol }}&nbsp;{{
            loanSummaryDetails?.loanDetails?.totalPayableAmount
          }}</span
        >
      </div>
      <div class="col-3">
        <span class="content-header">Holder Type</span>
        <span class="content">{{
          loanSummaryDetails?.loanDetails?.holderType
        }}</span>
      </div>
    </div>
  </div>
  <div class="disbursement-summary">
    <div class="text-header">Disbursement Details</div>
    <div class="disbursement-details w-full">
      <div class="col-1">
        <span class="content-header">Type</span>
        <span class="content">{{
          loanSummaryDetails?.disbursementDetails?.disbursementType
        }}</span>
      </div>
      <div class="col-2" *ngIf="checkDisbursementType()">
        <span class="content-header">Account Number</span>
        <span class="content"
          >{{
            loanSummaryDetails?.disbursementDetails?.otherAccNo ||
              loanSummaryDetails?.disbursementDetails?.accountNo
          }}
        </span>
      </div>
      <div class="col-3">
        <span class="content-header">Name</span>
        <span class="content">{{
          loanSummaryDetails?.disbursementDetails?.name
        }}</span>
      </div>
      <div
        class="col-3"
        *ngIf="
          checkDisbursementType() &&
          loanSummaryDetails?.disbursementDetails?.external === true
        "
      >
        <span class="content-header">Bank Code</span>
        <span class="content">{{
          loanSummaryDetails?.disbursementDetails?.bankCode
        }}</span>
      </div>
      <div
        class="col-4"
        *ngIf="
          checkDisbursementType() &&
          loanSummaryDetails?.disbursementDetails?.external === true
        "
      >
        <span class="content-header">Branch Code</span>
        <span class="content">{{
          loanSummaryDetails?.disbursementDetails?.branchCode
        }}</span>
      </div>
      <div
        class="col-4"
        *ngIf="
          checkDisbursementType() &&
          loanSummaryDetails?.disbursementDetails?.external === true
        "
      >
        <span class="content-header">IFSC Code</span>
        <span class="content">{{
          loanSummaryDetails?.disbursementDetails?.ifscCode
        }}</span>
      </div>
      <div class="col-4">
        <span class="content-header">EMI Payment Start Date</span>
        <span class="content">{{
          loanSummaryDetails?.disbursementDetails?.emiStartDate
        }}</span>
      </div>
    </div>
  </div>
  <div class="bank-account-summary">
    <div class="text-header">Bank Account</div>
    <div class="disbursement-details w-full">
      <div class="col-1">
        <span class="content-header">Your Account</span>
        <span class="content"
          >{{ loanSummaryDetails?.bankAccount?.yourAccount }}
        </span>
      </div>
      <div class="col-1">
        <span class="content-header">Name</span>
        <span class="content"
          >{{ loanSummaryDetails?.bankAccount?.name }}
        </span>
      </div>
      <div class="col-1">
        <span class="content-header">Your PAN Card</span>
        <span class="content"
          >{{ loanSummaryDetails?.bankAccount?.yourPan }}
        </span>
      </div>
    </div>
  </div>
  <div class="uploaded-documents-summary">
    <div class="text-header">Select KYC</div>
    <div
      class="bank-account-details w-full"
      *ngIf="loanSummaryDetails?.docs?.length > 0"
      fxLayout="column"
    >
      <div class="col-1">
        <span class="content-header">Document type</span>
        <span class="content"
          >{{ loanSummaryDetails?.docs[0]?.documentType }}
        </span>
      </div>
      <div fxLayout="row" fxLayoutGap="20px">
        <ng-container *ngFor="let doc of loanSummaryDetails?.docs">
          <app-show-document [document]="doc"> </app-show-document>
        </ng-container>
      </div>
    </div>
  </div>
  <div
    *ngFor="
      let item of loanSummaryDetails?.documnentsInfo?.documents;
      let i = index
    "
    class="uploaded-documents-summary"
  >
    <div class="text-header">Loan Document</div>
    <div
      class="bank-account-details w-full"
      *ngIf="loanSummaryDetails?.documnentsInfo?.documents?.length > 0"
      fxLayout="column"
    >
      <div class="col-1">
        <span class="content-header">Document type</span>
        <span class="content">{{ item?.docs[0].documentType }} </span>
      </div>
      <div fxLayout="row" fxLayoutGap="20px">
        <ng-container *ngFor="let doc of item.docs">
          <app-show-document [document]="doc"> </app-show-document>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="pb-24">
    <button class="confirm-button" (click)="onVerify()">Confirm</button
    >&nbsp;&nbsp;
    <button class="back-button" (click)="onBack()">Back</button>
  </div>
</div>
