<div *ngIf="customerId">
  <app-custom-account-details></app-custom-account-details>
</div>
<div class="select-account" *ngIf="!accounts || accounts.length === 0">
  <div class="account-txt">
    Click “Select Account” to choose your registered email or mobile number for
    receiving a secure verification link. This link is essential to complete the
    next steps, including a real-time face liveliness check and submitting your
    digital signature. Ensure the selected account is accessible and up to date
    to prevent delays. If no valid contact is available, please get in touch
    with support for assistance.
  </div>
  <ic-button
    [icButtonType]="'filled-rounded'"
    label="Select Account"
    size="medium"
    type="submit"
    (OnClick)="openAccountType()"
  ></ic-button>
</div>

<mat-expansion-panel
  class="account_expansions"
  *ngFor="let account of accounts; let i = index"
>
  <mat-expansion-panel-header>
    <div fxLayout="column">
      <mat-panel-title>
        {{ account.title }}
      </mat-panel-title>
    </div>
  </mat-expansion-panel-header>
  <div
    fxLayout="row"
    fxLayoutAlign="space-between stretch"
    fxLayoutGap="24px"
    class="account-detail-row"
  >
    <!-- Account Type -->
    <div fxFlex="25" class="detail-column">
      <div class="label">Account Type</div>
      <div class="value">{{ account.title }}</div>
    </div>

    <!-- Account Description -->
    <div fxFlex="25" class="detail-column">
      <div class="label">Account Description</div>
      <div class="value">{{ account.description }}</div>
    </div>

    <!-- Business Product Name -->
    <div fxFlex="25" class="detail-column">
      <div class="label">Business Product Name</div>
      <div class="value">{{ account.businessProductName }}</div>
    </div>

    <!-- Product Description -->
    <div fxFlex="25" class="detail-column">
      <div class="label">Product Description</div>
      <div class="value">{{ account.productDescription }}</div>
    </div>
  </div>
</mat-expansion-panel>
<!-- common section, that gets visible after the 'select account-> proceed' -->
<div *ngIf="accounts && accounts.length > 0" fxLayout="column">
  <div
    class="account-details"
    fxLayout="row"
    fxLayoutGap="20px"
    fxLayoutAlign="start center"
  >
    <div fxFlex="24">
      <ic-select
        [control]="accountDetailsForm.get('commonAccountBranch') | formcontrol"
        [options]="branches"
        bindLabelKey="values"
        bindValueKey="id"
        label="Account Branch"
      ></ic-select>
    </div>
    <div fxFlex="24">
      <ic-select
        [control]="
          accountDetailsForm.get('commonAccountCurrency') | formcontrol
        "
        [options]="branches"
        bindLabelKey="values"
        bindValueKey="id"
        label="Account Currency"
      ></ic-select>
    </div>
    <div fxFlex="24">
      <ic-select
        [control]="accountDetailsForm.get('commonHolderType') | formcontrol"
        [options]="branches"
        bindLabelKey="label"
        bindValueKey="value"
        label="Holder Type"
      ></ic-select>
    </div>
    <div fxFlex="24">
      <ic-slide-toggle
        [formControl]="
          accountDetailsForm.get('commonInitialFunding') | formcontrol
        "
        color="primary"
        labelPosition="after"
        [disabled]="!isEdit"
      >
        Initial Funding ?
      </ic-slide-toggle>
    </div>
  </div>
  <div>
    <div fxFlex="24">
      <ic-slide-toggle
        [formControl]="
          accountDetailsForm.get('commonOverdraftRequired') | formcontrol
        "
        color="primary"
        labelPosition="after"
        [disabled]="!isEdit"
      >
        Overdraft Required ?
      </ic-slide-toggle>
    </div>
  </div>
</div>
