<div fxFlex="100" fxLayout="row" fxLayoutGap="2%">
  <div>
    <button type="button" mat-raised-button class="saveButton">Save</button>
  </div>
  <div>
    <button type="button" mat-raised-button class="saveButton">Confirm</button>
  </div>
  <div>
    <button type="button" mat-raised-button class="saveButton">Verify</button>
  </div>
  <div>
    <button type="button" mat-raised-button class="cancelButton">Cancel</button>
  </div>
  <div>
    <button type="button" mat-raised-button class="cancelButton">Exit</button>
  </div>
  <div>
    <button type="button" mat-raised-button class="backButton">Back</button>
  </div>
</div>
