.saveButton {
  width: 172px;
  color: #ffffff;
  font-size: 15px;
  background: linear-gradient(137.16deg, #051a2d 0%, #004c97 96.5%);
  height: 40px;
}
.cancelButton {
  width: 172px;
  color: #b20000;
  font-size: 15px;
  background: #ffffff;
  height: 40px;
}
.backButton {
  color: #000000;
  width: 172px;
  font-size: 15px;
  background: #ffffff;
  height: 40px;
}
