.single_fund_container {
  .heading_card {
    font-family: 'Benton Sans', sans-serif;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    mat-icon {
      display: flex;
    }
  }
  .text_label {
    font-family: 'Benton Sans', sans-serif;
    font-weight: 500;
    margin-top: 27px;
  }
  .hint {
    font: normal normal bold 12px/16px Benton Sans;
    font-style: italic;
    color: gray;
    text-align: center;
  }

  .link {
    font: normal normal bold 15px/16px Benton Sans;
    color: #0033a1;
    text-align: center;
    cursor: pointer;
    font-style: italic;
    text-decoration: underline;
  }
  .add-link {
    height: 50px;
    background: aliceblue;
    font: normal normal bold 15px / 16px Benton Sans;
    color: #0033a1;
    text-align: center;
    margin-top: 12px;
    margin-left: 10px;
    cursor: pointer;
  }

  .check {
    margin-top: 20px;
    mat-checkbox {
      font-family: 'Benton Sans';
    }
  }
  .form-field {
    margin-top: 10px;
  }

  .serchable-drop {
    margin-top: 10px;
  }

  .narration-form-field {
    height: 0%;
  }

  .hint-div {
    margin-left: 15%;
    margin-top: -17px;
  }

  .calender {
    margin-top: -10px;
  }
}
