.break_word {
  white-space: pre-wrap !important;
}
.top-performing {
  padding-left: 10%;
  padding-right: 10%;
}
.happy-client {
  padding-left: 8%;
  padding-right: 8%;
}
.account_title {
  font-size: 60px;
  color: #06113c;
  font-weight: 500;
  line-height: 1.2;
  text-align: left;
}
.sub_account_title {
  font-size: 18px;
  color: #4c5371;
}
.applyBtnGrp {
  margin-top: 3%;
  .applyBtn {
    background: #004aa0;
    color: white;
    border-radius: 50px;
    width: 233px;
  }
  .learn_more {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-decoration: underline;
    font-size: 20px;
    line-height: 30px;
    color: #06113c;
    font-weight: 600;
    padding-left: 6%;
  }
}
.childImg_grp {
  margin-top: 8%;
}
.childImg1 {
  z-index: 99;
}
.childImg2 {
  z-index: 100;
  margin-left: -30px;
}
.childImg3 {
  z-index: 101;
  margin-left: -30px;
}
.total_users {
  font-size: 32px;
  color: #06113c;
  font-weight: 600;
}
.accountOpening {
  font-size: 48px;
  font-weight: 600;
  color: #06113c;
}
.openYourAccount {
  color: #4c5371;
  font-size: 18px;
}
