<mat-card class="header-card" fxLayout="column">
  <div class="typrOfBG" fxFlex="100" fxLayoutAlign="start">{{ bgType }}</div>
  <nav mat-tab-nav-bar>
    <div class="mat-tab-links" fxFlex="90" fxLayoutAlign="space-between center">
      <a
        mat-tab-link
        *ngFor="let tab of tabs; let i = index"
        routerLinkActive
        class="tabnames"
        (click)="navigatetotab(tab)"
        [active]="tab.id === currentStep$.value.id"
      >
        {{ tab?.title }}
      </a>
    </div>
  </nav>
</mat-card>
<div class="tab-content mt-16">
  <form class="mx-auto mw-600px w-100 pt-15 pb-10" fxLayout="column">
    <ng-template host></ng-template>
    <app-reusable-footer
      fxFlex="100"
      (saveTemplet)="saveTemplet($event)"
      (saveorSubmit)="updateRecord($event)"
    ></app-reusable-footer>
  </form>
</div>
