<section class="plan_accordion">
  <div fxLayout="column" class="accordian-section">
    <div class="px-3">
      <h1 class="section_heading">Our Top Performing Plans</h1>
      <p class="section_subHeading">
        Select wisely from our plans & invest your money for higher returns.
      </p>
    </div>
    <div class="accordian-item">
      <mat-accordion>
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
          class="panel"
        >
          <mat-expansion-panel-header>
            <mat-panel-title fxLayoutAlign="center center" class="panel-header">
              Money Market
              <span class="text-place">({{ moneyMarket?.length }} Found)</span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div
            class="accordian-list"
            *ngFor="
              let market of !isMoneyMarketReadMore
                ? moneyMarket?.slice(0, 5)
                : moneyMarket
            "
          >
            <div class="accordion-text-list">{{ market?.name }}</div>
            <div class="accordain-list-img">
              <img
                [src]="
                  market?.increased
                    ? '/assets/images/system-uicons_graph-increase.png'
                    : '/assets/images/system-uicons_graph-increase (1).png'
                "
              /><span class="range-text-green">{{ market?.value }}</span>
            </div>
          </div>
          <div
            class="read-text"
            (click)="isMoneyMarketReadMore = !isMoneyMarketReadMore"
            fxLayoutAlign="center center"
          >
            View
            {{ isMoneyMarketReadMore ? "Less" : "All" }}
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div class="accordian-item">
      <mat-accordion>
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
          class="panel"
        >
          <mat-expansion-panel-header>
            <mat-panel-title fxLayoutAlign="center center" class="panel-header">
              Stocks
              <span class="text-place">( {{ stocks?.length }} Found)</span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div
            class="accordian-list"
            *ngFor="
              let stock of !isStocksIsReadMore ? stocks?.slice(0, 5) : stocks
            "
          >
            <div class="accordion-text-list">{{ stock?.stock }}</div>
            <div class="accordain-list-img">
              <img
                [src]="
                  stock?.increased
                    ? '/assets/images/system-uicons_graph-increase.png'
                    : '/assets/images/system-uicons_graph-increase (1).png'
                "
              /><span class="range-text-green">{{ stock?.value }}</span>
            </div>
          </div>
          <div
            class="read-text"
            (click)="isStocksIsReadMore = !isStocksIsReadMore"
            fxLayoutAlign="center center"
          >
            View
            {{ isStocksIsReadMore ? "Less" : "All" }}
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</section>
