<section>
  <div fxLayout="column">
    <h3>Select the Services</h3>
    <!-- Checkbox section -->
    <div
      fxFlex="100"
      fxLayout="row"
      fxLayoutAlign="center center"
      class="section-cont"
    >
      <div
        fxFlex="24"
        class="service-cont"
        [ngClass]="isChequeChecked ? 'active' : ''"
      >
        <div fxLayout="row" fxLayoutAlign="start center">
          <ic-checkbox
            class="custom-checkbox"
            class="primary"
            (checkboxChange)="onChequeBook()"
          >
          </ic-checkbox>
          <span> Cheque Book </span>
        </div>
        <p>
          Use a cheque book to safeguard your account during low balance
          situations
        </p>
      </div>
      <div
        fxFlex="24"
        class="service-cont"
        [ngClass]="isDebitCardChecked ? 'active' : ''"
      >
        <div fxLayout="row" fxLayoutAlign="start center">
          <ic-checkbox
            class="custom-checkbox"
            class="primary"
            (checkboxChange)="onDebitCard()"
          >
          </ic-checkbox>
          <span> Debit Card </span>
        </div>
        <p>Make everyday purchases with ease using your debit card.</p>
      </div>
      <div
        fxFlex="24"
        class="service-cont"
        [ngClass]="isInternetBankingChecked ? 'active' : ''"
      >
        <div fxLayout="row" fxLayoutAlign="start center">
          <ic-checkbox
            class="custom-checkbox"
            class="primary"
            (checkboxChange)="onInternetBanking()"
          >
          </ic-checkbox>
          <span> Internet Banking </span>
        </div>
        <p>Manage your account and make transactions securely online</p>
      </div>
      <div
        fxFlex="24"
        class="service-cont"
        [ngClass]="isMobileBankingChecked ? 'active' : ''"
      >
        <div fxLayout="row" fxLayoutAlign="start center">
          <ic-checkbox
            class="custom-checkbox"
            class="primary"
            (checkboxChange)="onMobileBanking()"
          >
          </ic-checkbox>
          <span> Mobile Banking </span>
        </div>
        <p>Access and manage your account anytime using your mobile device.</p>
      </div>
    </div>
    {{ serviceForm?.get('accService')?.value }}
    <div
      fxFlex="100"
      fxLayout="row"
      fxLayoutAlign="start center"
      fxLayoutGap="10"
      class="info-cont"
    >
      <img src="/assets/images/info.svg" />
      <p>
        Select the products and services you wish to add to your account for
        enhanced banking convenience.
      </p>
    </div>

    <!-- Expansion pannels -->
    <div class="exp-cont">
      <!-- Cheque book -->
      <mat-expansion-panel *ngIf="isChequeChecked">
        <mat-expansion-panel-header>
          <p>Cheque Book Details</p>
        </mat-expansion-panel-header>
        <app-cheque-book-details></app-cheque-book-details>
      </mat-expansion-panel>

      <!-- Debit card -->
      <mat-expansion-panel *ngIf="isDebitCardChecked">
        <mat-expansion-panel-header>
          <p>Debit Card</p>
        </mat-expansion-panel-header>
      </mat-expansion-panel>
      <!-- Internet banking -->
      <mat-expansion-panel *ngIf="isInternetBankingChecked">
        <mat-expansion-panel-header>
          <p>Internet Banking</p>
        </mat-expansion-panel-header>
      </mat-expansion-panel>
      <!-- Mobile banking -->
      <mat-expansion-panel *ngIf="isMobileBankingChecked">
        <mat-expansion-panel-header>
          <p>Mobile Banking</p>
        </mat-expansion-panel-header>
      </mat-expansion-panel>
    </div>
    <!-- Buttons -->
    <div
      fxFlex="100"
      fxLayoutAlign="end center"
      fxLayoutGap="20"
      class="btn-cont"
    >
      <ic-button [icButtonType]="'outlined-rounded'" label="Back" size="medium">
      </ic-button>
      <ic-button
        [icButtonType]="'filled-rounded'"
        label="Save"
        [type]="'submit'"
        size="medium"
        [disabled]="
          !isChequeChecked &&
          !isDebitCardChecked &&
          !isInternetBankingChecked &&
          !isMobileBankingChecked
        "
      >
      </ic-button>
    </div>
  </div>
</section>
