.cibil-score-result {
  .info-button {
    background: transparent;
    border: none;
  }

  .graph-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: auto;
  }
  .cibil_desc_title {
    color: rgba(16, 34, 69, 0.43);
    font-family: Benton Sans;
    font-size: 16px;
    text-align: center;
    font-weight: 500;
  }
  .cibil-text-card {
    background: #f6faff;
    display: flex;
    flex-direction: row;
    width: 100%;
    border-radius: 10px;
    margin: 20px 5px;

    .label {
      display: flex;
      flex-direction: column;
      padding: 20px;
      color: #000;
      font-family: Benton Sans;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }

    .like-icon {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 10%;
      padding: 7px;

      img {
        width: 35px;
        height: 35px;
        object-fit: contain;
      }
    }
  }
}
