<div class="main_page white-background">
  <mat-card class="default-card m-24 pt-4 pb-4">
    <div fxLayout="row" fxLayoutAlign="space-between center" class="m-4">
      <h2 class="bank-title" fxLayoutAlign="center center">
        {{ currentUser?.bankName | titlecase }}
      </h2>
      <div fxLayout="row" fxLayoutGap="10px">
        <ic-button
          icIcon="share"
          icButtonType="ghost-rounded"
          size="medium"
          label="Share"
        ></ic-button>
        <ic-button
          icIcon="download-white"
          icButtonType="filled-rounded"
          size="medium"
          label="Download"
          (OnClick)="handleDownload()"
        ></ic-button>
      </div>
    </div>
    <div>
      <div fxLayout="row">
        <div class="default-card mx-0 letter-card" fxFlex="70">
          <div *ngIf="dataLocalUrl !== undefined" class="h-100">
            <object
              [data]="dataLocalUrl"
              type="application/pdf"
              width="100%"
              height="100%"
            >
              <p>
                Your browser does not support PDFs. Please download the PDF to
                view it: <a [href]="dataLocalUrl" download>Download PDF</a>.
              </p>
            </object>
          </div>
        </div>
        <div fxLayout="column" fxLayoutAlign="space-between start" class="p-12">
          <div>
            <div fxLayout="row">
              <mat-icon
                class="material-icons-outlined mt-12"
                style="color: #0033a1"
                >info</mat-icon
              >
              <h3 class="sub-heading">Offer Letter</h3>
            </div>
            <div fxLayout="row wrap" fxLayoutAlign="space-between center">
              <h3 class="text-highlighted w-100">Vehicle_Loan.pdf</h3>
              <div>
                <span class="text-normal">Offer Issue: </span
                ><span class="text-highlighted">31 May 2024</span>
              </div>
              <div>
                <span class="text-normal">Offer Expiry:</span
                ><span class="text-highlighted"> 10 June 2024</span>
              </div>
            </div>
            <div class="horizontal-bar"></div>

            <div fxLayout="column">
              <h3 class="title-text">Applicants</h3>
              <div
                fxLayout="row"
                fxLayoutAlign="space-between center"
                class="mb-12"
              >
                <span class="text-label"
                  >{{ customerInfo?.firstName }}
                  {{ customerInfo?.lastName }}</span
                >
                <button class="status_btn">REQUESTED</button>
              </div>
            </div>
            <div class="horizontal-bar"></div>

            <div>
              <h3 class="title-text">Sign Requested By</h3>
              <span class="text-label">Sales Department</span>
            </div>
          </div>
          <div>
            <span class="text-gray">Secured by: </span
            ><span class="text-highlighted">Demobank</span>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
  <div fxLayout="row" fxLayoutGap="10px" class="ml-24">
    <ic-button
      [label]="'Accept' | translate"
      [type]="'submit'"
      size="large"
      [icButtonType]="'filled-rounded'"
      (OnClick)="saveCustomerResponse('Accept')"
    >
    </ic-button>

    <ic-button
      [label]="'Reject'"
      icButtonType="ghost-rounded-danger"
      size="large"
      [type]="'button'"
      (OnClick)="saveCustomerResponse('Reject')"
    >
    </ic-button>
    <ic-button
      [label]="'Revisited'"
      icButtonType="ghost-rounded"
      size="large"
      [type]="'button'"
      (OnClick)="saveCustomerResponse('Revisited')"
    >
    </ic-button>
  </div>
</div>
