<div
  *ngIf="accountDetailsForm"
  [formGroup]="accountDetailsForm"
  fxLayout="column"
>
  <div class="summary_pad" fxFlex="100" fxLayout="row wrap" fxLayoutGap="10px">
    <div
      *ngFor="let item of createAccountDetailsSummaryArr"
      class="row mt-12"
      fxFlex="24"
      fxLayout="column"
      fxLayoutAlign="start start"
    >
      <span class="breadcrum_md">{{ item.header }}</span>
      <span class="header_md">{{ item?.value }}</span>
    </div>
  </div>

  <!-- Editable form fields -->
  <div
    class="content_row"
    fxLayout="row wrap"
    fxLayoutAlign="start center"
    fxLayoutGap="10px"
    style="margin-top: 20px"
  >
    <div fxFlex="24">
      <ic-select
        [control]="accountDetailsForm.get('accountBranch') | formcontrol"
        [options]="genericValue?.REPAYMENTFREQUENCY"
        bindLabelKey="values"
        bindValueKey="id"
        label="Account Branch 1"
        [disabled]="!isEdit"
      ></ic-select>
    </div>
    <div fxFlex="24">
      <ic-select
        [control]="accountCurrency.get('currencyCode') | formcontrol"
        [options]="genericValue?.REPAYMENTFREQUENCY"
        bindLabelKey="values"
        bindValueKey="id"
        label="Account Currency"
        [disabled]="!isEdit"
      ></ic-select>
    </div>
    <div fxFlex="24">
      <ic-select
        [control]="accountDetailsForm.get('customerCategory') | formcontrol"
        [options]="genericValue?.REPAYMENTFREQUENCY"
        bindLabelKey="values"
        bindValueKey="id"
        label="Customer Category"
        [disabled]="!isEdit"
      ></ic-select>
    </div>
    <div fxFlex="24" *ngIf="basisClass != 'CORPORATE ACCOUNT'">
      <ic-select
        [control]="accountDetailsForm.get('holderType') | formcontrol"
        [options]="holderTypeArr"
        bindLabelKey="label"
        bindValueKey="value"
        label="Holder Type"
        [disabled]="!isEdit"
        (selectionChange)="holderTypeChange()"
      ></ic-select>
    </div>
    <div
      fxFlex="24"
      *ngIf="
        accountDetailsForm?.get('holderType')?.value?.toLowerCase() === 'minor'
      "
    >
      <ic-form-field
        [control]="accountDetailsForm.get('noOfGuardian') | formcontrol"
        label="No. of guardian"
        [readonly]="!isEdit"
        [disabled]="!isEdit"
      ></ic-form-field>
    </div>
    <div
      fxFlex="24"
      *ngIf="
        accountDetailsForm?.get('holderType')?.value?.toLowerCase() === 'joint'
      "
    >
      <ic-form-field
        [control]="accountDetailsForm.get('noOfApplicant') | formcontrol"
        label="No. of Applicant"
        [readonly]="!isEdit"
        [disabled]="!isEdit"
      ></ic-form-field>
    </div>
    <div fxFlex="24">
      <ic-slide-toggle
        [formControl]="accountDetailsForm.get('initialFunding') | formcontrol"
        color="primary"
        labelPosition="after"
        [disabled]="!isEdit"
      >
        Initial Funding
      </ic-slide-toggle>
    </div>
    <div
      fxFlex="24"
      *ngIf="
        basisClass == 'CORPORATE ACCOUNT' ||
        (basisClass != 'CORPORATE ACCOUNT' &&
          (accountDetailsForm?.get('holderType')?.value?.toLowerCase() ===
            'joint' ||
            accountDetailsForm?.get('holderType')?.value?.toLowerCase() ===
              'individual'))
      "
    >
      <ic-slide-toggle
        [formControl]="
          accountDetailsForm.get('overdraftRequested') | formcontrol
        "
        color="primary"
        labelPosition="after"
        [disabled]="!isEdit"
      >
        Overdraft Requested
      </ic-slide-toggle>
    </div>
  </div>
</div>

