<div class="container">
  <div class="wrapper" fxFlex="100%">
    <div class="sessions" fxLayout="column">
      <ng-container *ngFor="let item of updatedResult; let i = index">
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
          <mat-icon
            [svgIcon]="
              item?.status?.toUpperCase() === 'SUCCESS'
                ? 'approveIcon'
                : 'rejectIcon'
            "
          ></mat-icon>
          <div
            *ngIf="item?.status?.toUpperCase() === 'SUCCESS'"
            class="time"
            fxFlex="100%"
          >
            {{ item?.name }} created {{ item?.status }}FULLY ({{ item?.value }})
          </div>
          <div
            *ngIf="item?.status?.toUpperCase() !== 'SUCCESS'"
            class="w-100"
            fxLayout="column"
            fxLayoutALign="start start"
            style="position: relative; top: 20px"
          >
            <div class="time" fxFlex="100%">
              {{ item?.name }} creation {{ item?.status }}
            </div>

            <p class="w-100">{{ item?.value }}</p>
          </div>
        </div>
        <div
          *ngIf="updatedResult.length - 1 !== i"
          [ngStyle]="{
            background:
              (item?.status?.toUpperCase() === 'SUCCESS'
                ? '#008461'
                : '#B10000') + ' 0% 0% no-repeat padding-box',
          }"
          class="progress"
          fxLayoutAlign="center center"
        ></div>
      </ng-container>
    </div>
  </div>
</div>
