<div class="chequebook_request_container">
  <form [formGroup]="chequebookRequestForm">
    <div
      icFlexLayout
      fxLayout="row"
      fxLayoutAlign="start center"
      fxLayoutGap="50"
    >
      <mat-label class="ml-20 custom-label">Account No</mat-label>

      <ic-select
        fxFlex=""
        label="Date of Installment"
        [control]="chequebookRequestForm.get('accountNo') | formcontrol"
        (selectionChange)="handleAccountNumberChange()"
        [options]="accountNumberList"
        [bindValueKey]="'accountNo'"
        [bindLabelKey]="'accountNo'"
        selectionType="single"
      >
      </ic-select>
      <span class="message" *ngIf="chequeNumber"
        >{{ customerInfo?.accounts?.[0]?.accountType }} | Name:
        {{ customerInfo?.customerName }}</span
      >
    </div>

    <h2 class="wrapper_row light-blue-title">Cheque Book Detail</h2>
    <div class="row wrapper_row">
      <div fxFlex="25" class="input_wrapper">
        <ic-select
          label="No of Leaves Per Book*"
          [control]="chequebookRequestForm.get('leavesNo') | formcontrol"
          [options]="noOfLeaves"
          [bindValueKey]="'id'"
          [bindLabelKey]="'values'"
          selectionType="single"
        >
        </ic-select>
      </div>
      <div
        fxFlex="70"
        class="input_wrapper"
        fxLayoutAlign="start center"
        class="radio-btn"
      >
        <div fxLayout="column" fxLayoutGap="20">
          <mat-label class="mb-8 custom-label">{{
            'Delivery Location'
          }}</mat-label>
          <mat-radio-group
            fxLayoutGap="20"
            [formControl]="
              chequebookRequestForm.get('deliveryLocation') | formcontrol
            "
          >
            <mat-radio-button
              *ngFor="let option of deliveryOptions"
              [value]="option?.value"
              >{{ option?.label }}</mat-radio-button
            >
          </mat-radio-group>
        </div>
      </div>
    </div>

    <ng-container
      *ngIf="
        chequebookRequestForm.get('deliveryLocation')?.value ===
          'Branch Near Me';
        else showMyAddress
      "
    >
      <div class="row wrapper_row">
        <div fxFlex="25" class="input_wrapper">
          <ic-select
            label="Branch"
            [control]="chequebookRequestForm.get('branch') | formcontrol"
            [options]="branches"
            [bindValueKey]="'branchCode'"
            [bindLabelKey]="'branchName'"
            selectionType="single"
          >
          </ic-select>
        </div>
      </div>
    </ng-container>

    <ng-template #showMyAddress>
      <div class="row wrapper_row">
        <div fxFlex="25" class="input_wrapper">
          <ic-select
            label="Type"
            [control]="chequebookRequestForm.get('type') | formcontrol"
            (selectionChange)="changeAddressType()"
            [options]="addressTypesList"
            [bindValueKey]="'addressTypes'"
            [bindLabelKey]="'addressTypes'"
            selectionType="single"
          >
          </ic-select>
        </div>
        <div fxFlex="25" class="input_wrapper">
          <ic-form-field
            placeholder="Address Line 1"
            [control]="chequebookRequestForm.get('address1') | formcontrol"
            [label]="'Address Line 1'"
            [readonly]="true"
          ></ic-form-field>
        </div>
        <div fxFlex="25" class="input_wrapper">
          <ic-form-field
            placeholder="Address Line 2"
            [control]="chequebookRequestForm.get('address2') | formcontrol"
            [label]="'Address Line 2'"
            [readonly]="true"
          ></ic-form-field>
        </div>
        <div fxFlex="25" class="input_wrapper">
          <ic-form-field
            placeholder="Country"
            [control]="chequebookRequestForm.get('country') | formcontrol"
            [label]="'Country'"
            [readonly]="true"
          ></ic-form-field>
        </div>
      </div>

      <div class="row wrapper_row">
        <div fxFlex="25" class="input_wrapper">
          <ic-form-field
            placeholder="State"
            [control]="chequebookRequestForm.get('state') | formcontrol"
            [label]="'State'"
            [readonly]="true"
          ></ic-form-field>
        </div>
        <div fxFlex="25" class="input_wrapper">
          <ic-form-field
            placeholder="City"
            [control]="chequebookRequestForm.get('city') | formcontrol"
            [label]="'City'"
            [readonly]="true"
          ></ic-form-field>
        </div>
        <div fxFlex="25" class="input_wrapper">
          <ic-form-field
            placeholder="PIN Code"
            [control]="chequebookRequestForm.get('pin') | formcontrol"
            [label]="'PIN Code'"
            [readonly]="true"
          ></ic-form-field>
        </div>
      </div>
    </ng-template>

    <div fxLayout="row" fxLayoutAlign="space-between center">
      <div fxLayoutAlign="start center" fxLayoutGap="10">
        <img
          src="assets/images/Icon feather-info.png"
          alt="incon feather info"
        />
        <p class="m-0">
          Exchange rate may be changed at the time of transaction.
        </p>
      </div>
      <div fxLayoutGap="20" class="btn-algn">
        <button mat-raised-button class="exit-button" (click)="goBack()">
          {{ 'Cancel' }}
        </button>
        <ic-button
          (click)="saveChequeDetails()"
          label="Proceed"
          icButtonType="filled-rounded"
          type="submit"
          size="large"
        ></ic-button>
      </div>
    </div>
  </form>
</div>
