<mat-table [dataSource]="dataSource" class="custom-table standard-padding">
  <!-- Define table columns -->
  <ng-container
    *ngFor="let column of columnNames; let i = index"
    [matColumnDef]="column?.headerDef"
  >
    <mat-header-cell class="column-name" *matHeaderCellDef [sticky]="true">
      {{ column?.headerCell }}
    </mat-header-cell>

    <mat-cell
      *matCellDef="let element"
      class="column-val"
      (click)="i == 0 && openRowDetails(element)"
    >
      <ng-container [ngSwitch]="column?.headerCell">
        <ng-container *ngSwitchCase="'Account No'">
          <div
            fxLayout="row"
            fxLayoutAlign="space-between center"
            fxLayoutGap="4px"
          >
            <span class="currency-chip" *ngIf="element.accountCurrency">{{
              element.accountCurrency
            }}</span>
            <span> {{ element[column?.headerDef] }} </span>
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="'Amount'">
          <div fxLayout="row" fxLayoutGap="5px">
            <mat-icon
              *ngIf="element[column?.headerDef] != null && showMoneyStatusIcon"
              class="status-icon"
              svgIcon="debited-icon"
            ></mat-icon>
            <span>{{
              -element[column?.headerDef]
                | currency : selectedAccountInfo?.accountCurrency
            }}</span>
          </div>
        </ng-container>

        <ng-container *ngSwitchCase="'Action'">
          <ng-container
            *ngIf="element[column?.headerDef] === 'Repay'; else vertPart"
          >
            <button
              mat-flat-button
              class="repay_btn"
              (click)="clickOnRepay(element)"
            >
              {{ "Repay" }}
            </button>
          </ng-container>
          <ng-template #vertPart>
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button
                mat-menu-item
                *ngFor="let item of moreAction"
                (click)="onActionItemClick(element, item)"
              >
                {{ item }}
              </button>
            </mat-menu>
          </ng-template>
        </ng-container>
        <ng-container *ngSwitchCase="'Full Refund'">
          <mat-checkbox
                  [checked]="element[column?.headerDef]"
                  [readonly]="true"
                >
          </mat-checkbox>
        </ng-container>
        <ng-container *ngSwitchCase="'Download'">
          <button mat-flat-button class="download-btn">
            {{ "Download" }}
          </button>
        </ng-container>
        <ng-container *ngSwitchCase="'Repay'">
          <button mat-flat-button class="repay_btn">{{ "Repay" }}</button>
        </ng-container>
        <ng-container *ngSwitchCase="'Address Proof'">
          <mat-slide-toggle
            color="primary"
            class="standard-slide"
            [value]="element[column?.headerDef]"
          >
          </mat-slide-toggle>
        </ng-container>
        <ng-container *ngSwitchCase="'Primary'">
          <mat-side-toggle
            color="primary"
            class="standard-slide"
            [value]="element[column?.headerDef]"
          >
          </mat-side-toggle>
        </ng-container>
        <ng-container *ngSwitchDefault>
          <span>
            {{ element[column?.headerDef] }}
          </span>
        </ng-container>
      </ng-container>
    </mat-cell>
  </ng-container>

  <!-- Header row -->
  <mat-header-row
    *matHeaderRowDef="displayedColumns; sticky: true"
    class="column-header"
  ></mat-header-row>

  <!-- Data rows -->
  <mat-row
    *matRowDef="let row; let idx = index; columns: displayedColumns"
    [ngClass]="{ highlight: selectedRowIndex == idx }"
  >
  </mat-row>
</mat-table>
