<form *ngIf="reloadForm" [formGroup]="reloadForm" fxLayout="column">
  <h3 class="light-blue-title">Reload</h3>
  <mat-card fxLayout="column">
    <div fxFlex="100" class="mb-8">
      <app-ic-radio-button
        [optiions]="prepaidRegister"
        [control]="reloadForm.get('prepaidRegister') | formcontrol"
      ></app-ic-radio-button>
    </div>
    <div
      class="row wrapper_row"
      *ngIf="
        reloadForm.get('prepaidRegister')?.value === false;
        else showRegisterPrepaid
      "
    >
      <div fxFlex="25" class="input_wrapper">
        <ic-form-field
          placeholder="Card Number"
          [control]="reloadForm.get('cardNumber') | formcontrol"
          [label]="'Card Number' | translate"
        ></ic-form-field>
      </div>
      <div fxFlex="25" class="input_wrapper">
        <ic-form-field
          placeholder="Confirm Card Number"
          [control]="reloadForm.get('confirmCardNo') | formcontrol"
          [label]="'Confirm Card Number' | translate"
        ></ic-form-field>
      </div>
      <div fxFlex="25" class="input_wrapper">
        <ic-form-field
          placeholder="Enter CVV"
          [control]="reloadForm.get('cvv') | formcontrol"
          [label]="'Enter CVV' | translate"
        ></ic-form-field>
      </div>
      <div fxFlex="25" class="input_wrapper">
        <ic-form-field
          placeholder="Nick Name"
          [control]="reloadForm.get('nickName') | formcontrol"
          [label]="'Nick Name' | translate"
        ></ic-form-field>
      </div>
    </div>
    <ng-template #showRegisterPrepaid>
      <div fxLayout="row" fxFlex="100" fxLayoutGap="10">
        <div fxLayout="column" class="blue-box" fxFlex="100">
          <span class="light-blue-title">{{ 'Pay From' | translate }}</span>
          <div fxLayout="column">
            <ic-select
              label="Account No"
              [control]="reloadForm.get('payFrom') | formcontrol"
              bindValueKey="accountNo"
              bindLabelKey="accountNo"
              selectionType="single"
            >
            </ic-select>
          </div>
        </div>
        <div fxLayout="column" class="blue-box" fxFlex="100">
          <span class="light-blue-title">{{ 'Credit Card' | translate }}</span>
          <div fxLayout="row">
            <ic-select
              fxFlex="30"
              placeholder="Card No"
              label="Card No"
              [control]="reloadForm.get('cardNumber') | formcontrol"
              [options]="cardList"
              bindValueKey="cardNumber"
              bindLabelKey="cardNumber"
              selectionType="single"
              (selectionChange)="selectedCard($event)"
            >
            </ic-select>
            <div
              fxLayout="column"
              fxLayoutAlign="center center"
              class="label-info m-12"
            >
              <span class="label-info">
                {{ 'Credit card' | translate }} | {{ 'Name' | translate }} -
              </span>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    <div class="light-blue-title row">
      {{ 'Payment Details' | translate }}
    </div>
    <div fxFlex="100" class="mt-8">
      <app-ic-radio-button
        [optiions]="setUpPayment"
        [control]="reloadForm.get('setUpPayment') | formcontrol"
        [displayLabel]="'Setup Recurring Payment for this Biller' | translate"
        layout="column"
      ></app-ic-radio-button>
    </div>
    <div
      fxLayout="column"
      *ngIf="reloadForm.get('prepaidRegister')?.value === false"
    >
      <app-ic-custom-pay-from
        [control]="reloadForm.get('payFrom') | formcontrol"
        [inputLabel]="'Pay From' | translate"
        bindValueKey="accountNo"
        bindLabelKey="accountNo"
        message="Saving Account | Balance:$20"
      ></app-ic-custom-pay-from>
      <!-- <ic-select
        placeholder="Pay From"
        label="Pay From"
        [control]="reloadForm.get('payFrom') | formcontrol"
        bindValueKey="accountNo"
        bindLabelKey="accountNo"
        selectionType="single"
      >
      </ic-select> -->
    </div>
    <div class="row wrapper_row">
      <div fxFlex="25" class="input_wrapper">
        <ic-form-field
          placeholder="Currency"
          [control]="reloadForm.get('currencyCode') | formcontrol"
          [label]="'Currency' | translate"
          [readonly]="true"
        ></ic-form-field>
      </div>
      <div fxFlex="25" class="input_wrapper">
        <app-ic-custom-amount-input
          [inputLabel]="'Payment Amount' | translate"
          [currencyCode]="reloadForm.get('currencyCode')?.value"
          [control]="reloadForm.get('paymentAmount')"
        ></app-ic-custom-amount-input>
      </div>
    </div>
    <div class="row wrapper_row">
      <div fxFlex="25" class="input_wrapper">
        <app-input-date-picker
          [control]="reloadForm.get('schedulePayment') | formcontrol"
          [inputLabel]="'Schedule Payment' | translate"
          [showOutsideLabel]="true"
        ></app-input-date-picker>
      </div>
      <div fxFlex="25">
        <ic-select
          fxFlex="100"
          label="Frequency"
          placeholder="Frequency"
          bindLabelKey="values"
          bindValueKey="values"
          [control]="reloadForm.get('frequency') | formcontrol"
          [options]="genericValue?.SCHEDULEPAYMENT"
          [bindValueKey]="'id'"
          [bindLabelKey]="'values'"
          selectionType="single"
        >
        </ic-select>
      </div>
      <div fxFlex="25">
        <ic-form-field
          placeholder="No of installments"
          [control]="reloadForm.get('noOfInstallments') | formcontrol"
          [label]="'No of installments' | translate"
        ></ic-form-field>
      </div>
      <div fxFlex="25">
        <ic-form-field
          placeholder="Remarks"
          [control]="reloadForm.get('remarks') | formcontrol"
          [label]="'Remarks' | translate"
        ></ic-form-field>
      </div>
    </div>
    <div fxLayoutGap="20" fxLayoutAlign="end center">
      <ic-button
        label="Cancel"
        icButtonType="outlined"
        type="submit"
        size="large"
      ></ic-button>
      <ic-button
        label="Proceed"
        (click)="proceed()"
        icButtonType="filled"
        type="submit"
        size="large"
      ></ic-button>
    </div>
  </mat-card>
</form>
