<div fxLayout="column">
  <div fxLayout="row" fxFlex="100" style="justify-content: center">
    <ng-container *ngFor="let educationStep of educationSteeper; let i = index">
      <div
        [ngClass]="educationStep.isCompleted == false ? 'grayStep' : ''"
        fxFlex="{{ educationStep.fxFlexPercentage }}"
        fxLayout="row"
      >
        <div class="stepButton">
          <button mat-flat-button>
            <img [src]="educationStep.imageUrl" />
            <span class="stepTitle">{{ educationStep.name }}</span>
          </button>
        </div>
        <div
          *ngIf="i != 2"
          [ngClass]="educationStep.isCompleted == true ? 'circleDot' : ''"
        ></div>
        <div
          *ngIf="i != 2"
          [ngClass]="educationStep.isCompleted == false ? 'grayStep' : ''"
          class="horizantalLine"
        ></div>
        <div
          *ngIf="i != 2"
          [ngClass]="educationStep.isCompleted == true ? 'circleDot' : ''"
          style="margin-left: 0px; margin-right: -3px"
        ></div>
      </div>
    </ng-container>
  </div>
  <app-expense-details
    *ngIf="educationIndex == 0"
    (customCalculatorValues)="customExpenseDetails($event)"
  ></app-expense-details>
  <app-know-your-emi
    *ngIf="educationIndex == 1"
    (customCalculatorValues)="customEmiDetails($event)"
    (customBack)="back()"
  ></app-know-your-emi>
  <app-tax-benefits
    *ngIf="educationIndex == 2"
    (customBack)="back()"
  ></app-tax-benefits>
</div>
