.client_name {
  line-height: 36px;
  font-size: 24px;
  font-weight: 500;
}
.client_description {
  font-size: 16px;
  line-height: 25px;
  font-weight: 300;
  font-family: Poppins;
}
.client_img {
  //  background-image: url("../../../../../../../assets/images/unsplash_MTZTGvDsHFY\ \(3\).svg") !important;
  img {
    border-radius: 500px 0px 500px 500px;
  }
}
