<div class="pep-status-container m-0">
  <h3 class="header_gt_md_bold_black">PEP Status</h3>
  <div
    *ngIf="pepStatusForm"
    fxFlex="100"
    fxLayout="row wrap"
    [formGroup]="pepStatusForm"
    fxLayoutAlign="space-around stretch"
  >
    <div
      *ngFor="let field of pepStatusFields"
      fxFlex="32"
      class="pepClass"
      [ngClass]="{ actionSelected: pepStatusForm.value[field.value] }"
      (click)="onToggle(field.value)"
      (keydown.enter)="onToggle(field.value)"
      tabindex="0"
    >
      <div class="pep-icon">
        <mat-icon>trip_origin</mat-icon>
      </div>
      <div class="pep-label">
        <span>{{ field.label }}</span>
      </div>
    </div>
  </div>
</div>
