<section class="deposit_faq container">
  <h2 class="section_heading">FAQ</h2>
  <p class="section_subHeading">A ready reckoner for your queries.</p>
  <div class="accordian-section">
    <ng-container
      *ngFor="let faq of !isFaqMore ? faqList.slice(0, 3) : faqList"
    >
      <div class="custom_accordin">
        <mat-accordion>
          <mat-expansion-panel
            (opened)="panelOpenState = true"
            (closed)="panelOpenState = false"
            class="panel"
          >
            <mat-expansion-panel-header class="faq_Header">
              <mat-panel-description class="faq_Header_description">
                {{ faq?.question }}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p class="expansion_desc">
              {{ faq.answer }}
            </p>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </ng-container>
  </div>

  <div class="d-flex justify-content-center mb-3">
    <ic-button
      label="Read {{ isFaqMore ? 'Less' : 'All' }}"
      icButtonType="filled-rounded"
      type="submit"
      size="large"
      (click)="isFaqMore = !isFaqMore"
    ></ic-button>
  </div>
</section>
