<div class="faq-page">
  <div style="text-align: center">
    <span class="text-header"> FAQ </span>
    <span class="text-description"> A ready reckoner for your queries. </span>
  </div>
  <div class="accordian-section">
    <div
      class="accordian-item"
      *ngFor="let faq of !isFaqMore ? faqList.slice(0, 3) : faqList"
    >
      <mat-accordion>
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
          class="panel"
        >
          <mat-expansion-panel-header>
            <mat-panel-title class="panel-header">
              {{ faq?.question }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="accordian-list">
            {{ faq.answer }}
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>

  <div style="text-align: center">
    <button class="read-more-button" (click)="isFaqMore = !isFaqMore">
      Read {{ isFaqMore ? "Less" : "All" }}
    </button>
  </div>
</div>
