<div class="faq-page">
    <div style="text-align: center;">
        <span class="text-header">
            FAQ
        </span>
        <span class="text-description">
            A ready reckoner for your queries.
        </span>

    </div>
    <div class="accordian-section">
        <div class="accordian-item">
            <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" class="panel">
                    <mat-expansion-panel-header>
                        <mat-panel-title class="panel-header">
                            What type of savings account is best?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="accordian-list">
                        DemoBank offers different types of savings accounts to cater to the banking needs of our varied
                        customer base. You can compare savings accounts and choose the one that suits your needs best
                        such as Regular Savings Account or a Savings MAX Account. Each type of savings bank account
                        comes with its own set of features and benefits.
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
        <div class="accordian-item">
            <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" class="panel">
                    <mat-expansion-panel-header>
                        <mat-panel-title class="panel-header">
                            How to choose from different types of savings account?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="accordian-list">
                        <div class="accordion-text-list">
                            DemoBank offers different types of savings accounts to cater to the banking needs of our
                            varied customer base. You can compare savings accounts and choose the one that suits your
                            needs best such as Regular Savings Account or a Savings MAX Account. Each type of savings
                            bank account comes with its own set of features and benefits.
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>

    <div style="text-align: center;">
        <button class="read-more-button"> Read More </button>
    </div>

</div>