<div>
  <div
    fxLayout="row"
    fxLayoutAlign="start center"
    class="w-full"
    fxLayoutGap="10px"
  >
    <button (click)="goBack()" mat-icon-button>
      <mat-icon>arrow_back</mat-icon>
    </button>
    <label class="text-large">{{ "Benificiary Maintenance" }}</label>
  </div>
</div>

<mat-card class="add_edit_benificiary_card">
  <!-- <ng-container [formGroup]="benificiaryDetailsForm"> -->
  <form [formGroup]="benificiaryDetailsForm">
    <div fxLayout="row wrap" fxLayoutGap="2%">
      <div fxFlex="22">
        <mat-form-field appearance="outline" class="fieldinput custom-field">
          <mat-label>Account Number</mat-label>
          <input
            matInput
            type="password"
            formControlName="accountNo"
            [readonly]="readorWrite"
            (keyup)="checkAccountNumber()"
          />
        </mat-form-field>
        <mat-error
          class="error"
          *ngIf="
            benificiaryDetailsForm.get('accountNo').value && accountNumberExists
          "
          >{{ "Account Number Already Exists" }}</mat-error
        >
      </div>
      <div fxFlex="22">
        <mat-form-field appearance="outline" class="fieldinput custom-field">
          <mat-label>Confirm Account Number</mat-label>
          <input
            matInput
            type="text"
            formControlName="confirmAccountNumber"
            [readonly]="readorWrite"
          />
        </mat-form-field>
        <mat-error
          class="error"
          *ngIf="
            benificiaryDetailsForm.get('accountNo').value &&
            benificiaryDetailsForm.get('confirmAccountNumber').value &&
            benificiaryDetailsForm.get('accountNo').value !=
              benificiaryDetailsForm.get('confirmAccountNumber').value
          "
        >
          {{ "Please enter correct Account Number" }}</mat-error
        >
      </div>
      <mat-form-field
        appearance="outline"
        class="fieldinput custom-field"
        fxFlex="22"
      >
        <mat-label>Name</mat-label>
        <input
          matInput
          type="text"
          formControlName="name"
          [readonly]="readorWrite"
        />
      </mat-form-field>
      <mat-form-field
        appearance="outline"
        class="fieldinput custom-field"
        fxFlex="22"
      >
        <mat-label>Nickname</mat-label>
        <input
          matInput
          type="text"
          formControlName="nickName"
          [readonly]="readorWrite"
        />
      </mat-form-field>
      <div fxFlex="22">
        <div
          fxLayout="column"
          class="middleAlign"
          fxLayoutAlign="space-between start"
        >
          <h4 class="mb-1 toggleText">{{ "Account" }}</h4>
          <mat-radio-group
            class="full-width"
            fxLayout="row"
            fxLayoutGap="10%"
            aria-label="Select an option"
            formControlName="accountType"
            [disabled]="readorWrite"
          >
            <mat-radio-button
              fxFlex="40"
              value="I"
              [checked]="true"
              class="radioChecked radiobtn"
            >
              Internal
            </mat-radio-button>
            <mat-radio-button
              fxFlex="40"
              value="E"
              class="radioChecked radiobtn"
              >External</mat-radio-button
            >
          </mat-radio-group>
        </div>
      </div>
      <ng-container
        *ngIf="benificiaryDetailsForm.get('accountType').value === 'E'"
      >
        <mat-form-field
          appearance="outline"
          class="fieldinput custom-field"
          fxFlex="22"
        >
          <mat-label>Bank Code</mat-label>
          <input
            matInput
            type="text"
            formControlName="bankCode"
            [readonly]="readorWrite"
          />
          <mat-icon
            matSuffix
            (click)="openSearchDialog()"
            [svgIcon]="'search-icon'"
          ></mat-icon>
        </mat-form-field>
        <div fxFlex="22" class="disable-mat-form-field">
          <mat-form-field appearance="outline" class="fieldinput custom-field">
            <mat-label>IFSC Code</mat-label>
            <input matInput type="text" formControlName="ifscCode" readonly />
          </mat-form-field>
        </div>
        <div fxFlex="22" class="disable-mat-form-field">
          <mat-form-field appearance="outline" class="fieldinput custom-field">
            <mat-label>City</mat-label>
            <input matInput type="text" formControlName="city" readonly />
          </mat-form-field>
        </div>
        <div fxFlex="22" class="disable-mat-form-field">
          <mat-form-field appearance="outline" class="fieldinput custom-field">
            <mat-label>Country</mat-label>
            <input
              matInput
              type="text"
              formControlName="countryName"
              readonly
            />
          </mat-form-field>
        </div>
      </ng-container>
      <div
        fxFlex="22"
        *ngIf="benificiaryDetailsForm.get('accountType').value !== 'E'"
      >
        <app-searchable-select
          [items]="countryValue"
          inputLabel="Country"
          bindLabelKey="countryName"
          bindValueKey="countryId"
          [control]="benificiaryDetailsForm.get('countryId')"
          customClass="fieldinput"
          [readonly]="readorWrite"
        ></app-searchable-select>
      </div>
      <mat-form-field
        appearance="outline"
        class="fieldinput custom-field"
        fxFlex="22"
      >
        <mat-label>Visibilty</mat-label>
        <!-- <input matInput type="text" /> -->
        <mat-select formControlName="visibility">
          <mat-option [value]="">Select</mat-option>
          <mat-option value="Private"> Private </mat-option>
          <mat-option value="Public"> Public </mat-option>
        </mat-select>
      </mat-form-field>
      <div fxFlex="22">
        <div
          fxLayout="column"
          class="middleAlign"
          fxLayoutAlign="space-between start"
        >
          <h4 class="mb-1 toggleText">{{ "Benificiary Status" }}</h4>
          <mat-radio-group
            class="full-width"
            fxLayout="row"
            fxLayoutGap="10%"
            aria-label="Select an option"
            formControlName="beneficiaryStatus"
            [disabled]="readorWrite"
          >
            <mat-radio-button
              fxFlex="40"
              [value]="true"
              [checked]="true"
              class="radioChecked radiobtn"
            >
              Enable
            </mat-radio-button>
            &nbsp;&nbsp;
            <mat-radio-button
              fxFlex="40"
              [value]="false"
              class="radioChecked radiobtn"
              >Disable</mat-radio-button
            >
          </mat-radio-group>
        </div>
      </div>
    </div>
    <!-- </ng-container> -->
  </form>
</mat-card>

<div fxLayout="row wrap" fxLayout.lt-sm="column">
  <div fxFlex="100" fxLayoutAlign="end center" fxLayoutGap="10">
    <div>
      <button
        class="exit-button"
        type="button"
        (click)="editRecord()"
        *ngIf="isEdit && !saveTheEdit"
        mat-raised-button
      >
        {{ "Edit" }}
      </button>
    </div>
    <button-loading
      *ngIf="!readorWrite"
      (click)="onSubmit()"
      [btnClass]="'submit-button'"
    >
      Save</button-loading
    >
    <div>
      <button
        class="exit-button"
        type="button"
        (click)="goBack()"
        mat-raised-button
      >
        {{ "Cancel" }}
      </button>
    </div>
  </div>
</div>
