.add_edit_benificiary_card {
  border-radius: 12px;
  box-shadow: 0 3px 15px #0000001c !important;
}

.text-large {
  font-family: 'Benton Sans';
  font-size: 24px;
}
.save-btn {
  height: 40px;
}

.radiobtn {
  color: #707070;
  font-size: 16px;
  font-family: 'Benton Sans', sans-serif;
  font-weight: 500;

  &.mat-radio-checked {
    color: #0033a1;
  }
}
.error {
  position: absolute;
  top: 75px;
}
