@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400;500;700;900&family=Poppins:wght@200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import "perfect-scrollbar/css/perfect-scrollbar.css";
/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";
@import "aos/dist/aos.css";

@import "https://fonts.googleapis.com/css?family=Poppins";

@font-face {
  font-family: "ArialRoundedMT";
  src: local("ArialRoundedMT")
    url("/assets/fonts/Arial-Rounded-MT-Bold-Font/ARLRDBD.ttf")
    format("truetype");
}
@font-face {
  font-family: "BellMT";
  src: local("BellMT") url("/assets/fonts/Bell-MT/Bell MT.ttf")
    format("truetype");
}

* {
  box-sizing: border-box;
}

// :root {
//   // Variables related to theme change
//   --current-theme-color: #fff;
//   --current-theme-background: #00205c;
//   --current-theme-background-light: #eaf1ff;
//   --current-theme-background-dark: #001131;
//   --current-theme-filter: hue-rotate(0deg);
//   --current-theme-border-color: #377dff4e;
// }

.current_theme_filter {
  filter: var(--current-theme-filter);
}

html,
body {
  width: 100%;
  min-height: 100vh;
  font-family: "M PLUS Rounded 1c", Arial, Helvetica, sans-serif;
  position: relative;
  &::-webkit-scrollbar {
    width: 7px;
    &-thumb {
      background-color: #ccc;
      border-radius: 30px;
      &:hover {
        background-color: #999;
      }
      &:active {
        background-color: gray;
      }
    }
  }
}

// // Flag icon
@import "flag-icons/css/flag-icons.min.css";

// // User tour
@import "hopscotch/dist/css/hopscotch.min.css";

// // Highlightjs theme
@import "highlight.js/styles/github.css";

// Main Variables File
@import "scss/variables";

// @import "scss/mixins/mixins";
// @import "ic-test-css/src/mixins/mixins";
@import "node_modules/@onerumango/icust-scss-library/src/mixins/mixins";

// @import "scss/colors";
@import "node_modules/@onerumango/icust-scss-library/src/colors";

// @import "scss/animations";
@import "node_modules/@onerumango/icust-scss-library/src/animations";
// Open _main.scss and keep files which are required for your current layout.
// @import "scss/main/main";
// @import "ic-test-css/src/main/main";
@import "node_modules/@onerumango/icust-scss-library/src/main/main";

// Angular material theme files
// @import "scss/themes/init";
@import "node_modules/@onerumango/icust-scss-library/src/themes/init";

@import "scss/utilities/utilities";
@import "scss/components/components";
@import "scss/palette";

// @import "scss/page-layouts";
@import "node_modules/@onerumango/icust-scss-library/src/page-layouts";

// Open _views.scss and remove unnecessary view related files
// @import "scss/views/views";
@import "node_modules/@onerumango/icust-scss-library/src/views/views";

@import "scss/button";
@import "scss/calculator";
@import "scss/loan-flow.scss";
// @import "scss/stepper";
@import "node_modules/@onerumango/icust-scss-library/src/stepper";
// @import "./scss/accordian";
@import "node_modules/@onerumango/icust-scss-library/src/accordian";

@import "https://fonts.googleapis.com/css?family=Manrope";

.mat-drawer-content {
  min-height: 100vh !important;
  background: #fff;
}
.mat-drawer.panel-end-drawer {
  width: calc(100% - 100px);
}

.mat-drawer-backdrop {
  position: fixed !important;
}

.avatar {
  height: 40px;
  width: 40px;
  background: #ffffff24 0% 0% no-repeat padding-box;
  border-radius: 10px;
}

.avatar-title {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  display: flex;
  font-weight: 500;
  height: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
}
.user-account {
  font-size: 16px;
  text-align: left;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  cursor: pointer;
}

.mat-tab-link {
  color: #c0c0c0 !important;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
}

.mat-tab-link.mat-tab-label-active {
  text-align: left;
  letter-spacing: 0px;
  color: var(--current-theme-background) !important;
  text-transform: capitalize;
  opacity: 1;
}
.egret-navy .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: var(--current-theme-background) !important;
}

.mat-raised-button,
.mat-stroked-button,
.mat-button-toggle-group {
  width: 175px;
  max-width: 175px;

  .mat-button-ripple {
    border-radius: 36px !important;
    width: 100%;
    max-width: 175px;
  }
}

.new_error_popup .mat-dialog-container {
  border-radius: 8px;
}

.mat-radio-group {
  margin-top: 18px;
}

.input_wrapper {
  position: relative;
  padding-right: 10px;
}
