<section>
  <form *ngIf="loanDetailsForm" [formGroup]="loanDetailsForm" fxLayout="column">
    <!-- LOAN DETAILS -->
    <h2 class="highlight_title">Loan Details</h2>
    <div fxLayout="row wrap" fxLayoutGap="1%">
      <div fxFlex="48">
        <ic-form-field
          label="Loan Amount Requested (GHS)"
          [control]="loanDetails.get('loanAmount') | formcontrol"
          [icTwoDigitDecimalNumber]="true"
          [decimalPlaces]="3"
          [numLength]="18"
          [prefixIcon]="loanDetails.value?.loanAmount ? currencySymboll : ''"
        ></ic-form-field>
      </div>
      <div fxFlex="48">
        <ic-form-field
          label="Interest Rate %"
          [icTwoDigitDecimalNumber]="true"
          [decimalPlaces]="3"
          [numLength]="5"
          [control]="loanDetails.get('interestRate') | formcontrol"
        ></ic-form-field>
      </div>
      <div fxFlex="48" class="MiscellaneousClass">
        <ic-tenure-field
          label="Tenure"
          [fields]="['loanTenureYear', 'loanTenureMonth', 'loanTenureDay']"
          [fieldLabels]="{
            loanTenureYear: 'Year',
            loanTenureMonth: 'Month',
            loanTenureDay: 'Day',
          }"
          [parentForm]="loanDetails"
          [isRequired]="true"
        >
        </ic-tenure-field>
      </div>
      <div fxFlex="48">
        <ic-select
          [options]="genericValue?.REPAYMENTFREQUENCY"
          [control]="repaymentModel.get('repaymentFrequencyId') | formcontrol"
          bindLabelKey="values"
          bindValueKey="id"
          label="Repayment Frequency"
        ></ic-select>
      </div>
      <div fxFlex="48">
        <ic-form-field
          label="EMI Amount"
          [control]="loanDetails.get('emiAmount') | formcontrol"
          [disabled]="true"
          [readonly]="true"
          [prefixIcon]="currencySymboll"
        ></ic-form-field>
      </div>
      <div fxFlex="48">
        <ic-form-field
          label="EMI Interest Payable"
          [control]="loanDetails.get('emiInterestPayable') | formcontrol"
          [disabled]="true"
          [prefixIcon]="currencySymboll"
          [readonly]="true"
        ></ic-form-field>
      </div>
      <div fxFlex="48">
        <ic-form-field
          label="Total Interest Amount"
          [control]="loanDetails.get('totalInterestAmount') | formcontrol"
          [disabled]="true"
          [prefixIcon]="currencySymboll"
          [readonly]="true"
        ></ic-form-field>
      </div>
      <div fxFlex="48">
        <ic-form-field
          label="Total Payable Amount"
          [control]="loanDetails.get('totalPayableAmount') | formcontrol"
          [disabled]="true"
          [prefixIcon]="currencySymboll"
          [readonly]="true"
        ></ic-form-field>
      </div>
      <div fxFlex="48">
        <ic-date-picker
          label="EMI Start Date"
          [control]="repaymentModel.get('firstRepaymentDate') | formcontrol"
          [minDate]="todaysDate"
        >
        </ic-date-picker>
      </div>
    </div>

    <h2 class="highlight_title">Main Banking Details</h2>
    <div fxLayout="row wrap" fxLayoutGap="1%">
      <div fxFlex="48">
        <ic-select
          [options]="genericValue?.DISBURSEMENTTYPE"
          [control]="
            loanDisbursementModel.get('disbursementModeId') | formcontrol
          "
          bindLabelKey="values"
          bindValueKey="id"
          label="Disbursement Type"
          (selectionChange)="setDisbursement($event)"
        ></ic-select>
      </div>
      <ng-container
        *ngIf="
          loanDisbursementModel?.get('disbursementMode')?.value === 'Account'
        "
      >
        <div
          fxFlex="48"
          class="enabled-mat-form-field p-8"
          fxLayout="row wrap"
          fxLayoutAlign="start center"
        >
          <mat-label class="header_md_bold_black" fxFlex="100"
            >Account</mat-label
          >
          <ic-radio-button
            fxFlex="25"
            *ngFor="let account of accountValue"
            [control]="loanDisbursementModel.get('internal') | formcontrol"
            [value]="account.value"
            [label]="account.label"
          >
          </ic-radio-button>
        </div>
        <div
          fxFlex="48"
          *ngIf="loanDisbursementModel?.get('internal')?.value === false"
        >
          <ic-form-field
            label="Bank Name"
            [icAlphabetOnly]="true"
            [control]="loanDisbursementAccount.get('bankName') | formcontrol"
          ></ic-form-field>
        </div>
        <div fxFlex="48">
          <ic-form-field
            label="Account Number"
            [icNumbersOnly]="true"
            [maxLength]="20"
            [control]="loanDisbursementAccount.get('accountNo') | formcontrol"
          ></ic-form-field>
        </div>
        <div fxFlex="48">
          <ic-select
            [options]="genericValue?.ACCOUNTTYPE"
            [control]="loanDisbursementAccount.get('accountType') | formcontrol"
            bindLabelKey="values"
            bindValueKey="id"
            label="Account Type"
          ></ic-select>
        </div>
        <div fxFlex="48">
          <ic-form-field
            label="Account Name"
            [icAlphaNumericWithSpace]="true"
            [maxLength]="40"
            [control]="
              loanDisbursementAccount.get('customerName') | formcontrol
            "
          ></ic-form-field>
        </div>
        <div
          fxFlex="48"
          *ngIf="loanDisbursementModel?.get('internal')?.value === false"
        >
          <ic-form-field
            label="Bank Code"
            [maxLength]="35"
            [icAlphanumeric]="true"
            [control]="loanDisbursementAccount.get('bankCode') | formcontrol"
          ></ic-form-field>
        </div>
        <div fxFlex="48">
          <ic-form-field
            label="Branch Name"
            [icAlphabetOnly]="true"
            [control]="loanDisbursementAccount.get('branchName') | formcontrol"
          ></ic-form-field>
        </div>
      </ng-container>
      <ng-container
        *ngIf="
          loanDisbursementModel?.get('disbursementMode')?.value === 'Cheque'
        "
      >
        <div fxFlex="48">
          <ic-form-field
            label="Cheque Number"
            [icNumbersOnly]="true"
            [maxLength]="12"
            [control]="loanDisbursementModel.get('chequeNumber') | formcontrol"
          ></ic-form-field>
        </div>
        <div fxFlex="48">
          <ic-form-field
            label="Account Number"
            [icNumbersOnly]="true"
            [maxLength]="20"
            [control]="loanDisbursementAccount.get('accountNo') | formcontrol"
          ></ic-form-field>
        </div>
        <div fxFlex="48">
          <ic-form-field
            label="Account Holder Name"
            [maxLength]="40"
            [icAlphabetOnly]="true"
            [control]="
              loanDisbursementAccount.get('customerName') | formcontrol
            "
          ></ic-form-field>
        </div>
        <div fxFlex="48">
          <ic-form-field
            label="Bank Name"
            [icAlphabetOnly]="true"
            [control]="loanDisbursementAccount.get('bankName') | formcontrol"
          ></ic-form-field>
        </div>
      </ng-container>
    </div>

    <div fxFlex="100" class="button-section" fxLayout="row">
      <ic-button
        [label]="'Confirm'"
        [type]="'submit'"
        size="large"
        [icButtonType]="'filled-rounded'"
        (click)="onConfirm()"
      >
      </ic-button>
      &nbsp;&nbsp;
      <ic-button
        [label]="'Back'"
        icButtonType="ghost-rounded-danger"
        size="large"
        [type]="'button'"
        (click)="onBack()"
      >
      </ic-button>

      &nbsp;&nbsp;
    </div>
  </form>
  <ic-spinner *ngIf="!loanDetailsForm"></ic-spinner>
</section>
