<section>
  <form *ngIf="loanDetailsForm" [formGroup]="loanDetailsForm" fxLayout="column">
    <!-- LOAN DETAILS -->
    <h2 class="highlight_title">Loan Details</h2>
    <div fxLayout="row wrap" fxLayoutGap="1%">
      <div fxFlex="48">
        <ic-form-field
          [control]="loanDetails.get('loanAmount') | formcontrol"
          [customError]="
            loanDetails.get('loanAmount')?.hasError('max')
              ? 'Amount cannot exceed ' + max
              : loanDetails.get('loanAmount')?.hasError('min')
                ? 'Amount should be at least ' + min
                : ''
          "
          [decimalPlaces]="3"
          [icTwoDigitDecimalNumber]="true"
          [numLength]="18"
          [prefixIcon]="loanDetails.value?.loanAmount ? currencySymboll : ''"
          label="Loan Amount Requested (GHS)"
        ></ic-form-field>
      </div>
      <div fxFlex="48">
        <ic-form-field
          [control]="loanDetails.get('interestRate') | formcontrol"
          [decimalPlaces]="3"
          [disabled]="true"
          [icTwoDigitDecimalNumber]="true"
          [numLength]="2"
          [readonly]="true"
          label="Interest Rate %"
        ></ic-form-field>
      </div>
      <div class="MiscellaneousClass" fxFlex="48">
        <ic-tenure-field
          [customError]="getTenureError()"
          [fieldLabels]="{
            loanTenureYear: 'Year',
            loanTenureMonth: 'Month',
            loanTenureDay: 'Day',
          }"
          [fields]="['loanTenureYear', 'loanTenureMonth', 'loanTenureDay']"
          [isRequired]="true"
          [parentForm]="loanDetails"
          label="Tenure"
        >
        </ic-tenure-field>
      </div>
      <div fxFlex="48">
        <ic-select
          [control]="repaymentModel.get('repaymentFrequencyId') | formcontrol"
          [options]="genericValue?.REPAYMENTFREQUENCY"
          bindLabelKey="values"
          bindValueKey="id"
          label="Repayment Frequency"
        ></ic-select>
      </div>
      <div fxFlex="48">
        <ic-form-field
          [control]="loanDetails.get('emiAmount') | formcontrol"
          [disabled]="true"
          [prefixIcon]="currencySymboll"
          [readonly]="true"
          label="EMI Amount"
        ></ic-form-field>
      </div>
      <div fxFlex="48">
        <ic-form-field
          [control]="loanDetails.get('emiInterestPayable') | formcontrol"
          [disabled]="true"
          [prefixIcon]="currencySymboll"
          [readonly]="true"
          label="EMI Interest Payable"
        ></ic-form-field>
      </div>
      <div fxFlex="48">
        <ic-form-field
          [control]="loanDetails.get('totalInterestAmount') | formcontrol"
          [disabled]="true"
          [prefixIcon]="currencySymboll"
          [readonly]="true"
          label="Total Interest Amount"
        ></ic-form-field>
      </div>
      <div fxFlex="48">
        <ic-form-field
          [control]="loanDetails.get('totalPayableAmount') | formcontrol"
          [disabled]="true"
          [prefixIcon]="currencySymboll"
          [readonly]="true"
          label="Total Payable Amount"
        ></ic-form-field>
      </div>
      <div fxFlex="48">
        <ic-date-picker
          [control]="repaymentModel.get('firstRepaymentDate') | formcontrol"
          [minDate]="todaysDate"
          label="EMI Start Date"
        >
        </ic-date-picker>
      </div>
    </div>

    <h2 class="highlight_title">Main Banking Details</h2>
    <div fxLayout="row wrap" fxLayoutGap="1%">
      <div fxFlex="48">
        <ic-select
          (selectionChange)="setDisbursement($event)"
          [control]="
            loanDisbursementModel.get('disbursementTypeId') | formcontrol
          "
          [options]="genericValue?.DISBURSEMENTTYPE"
          bindLabelKey="values"
          bindValueKey="id"
          label="Disbursement Type"
        ></ic-select>
      </div>
      <ng-container
        *ngIf="
          loanDisbursementModel?.get('disbursementMode')?.value === 'Account'
        "
      >
        <div
          class="enabled-mat-form-field p-8"
          fxFlex="48"
          fxLayout="row wrap"
          fxLayoutAlign="start center"
        >
          <mat-label class="header_md_bold_black" fxFlex="100"
            >Account
          </mat-label>
          <ic-radio-button
            *ngFor="let account of accountValue"
            [control]="loanDisbursementModel.get('internal') | formcontrol"
            [label]="account.label"
            [value]="account.value"
            fxFlex="25"
          >
          </ic-radio-button>
        </div>
        <div
          *ngIf="loanDisbursementModel?.get('internal')?.value === false"
          fxFlex="48"
        >
          <ic-form-field
            [control]="loanDisbursementAccount.get('bankName') | formcontrol"
            [icAlphabetOnly]="true"
            label="Bank Name"
          ></ic-form-field>
        </div>
        <div fxFlex="48">
          <ic-form-field
            [control]="loanDisbursementAccount.get('accountNo') | formcontrol"
            [icNumbersOnly]="true"
            [maxLength]="20"
            label="Account Number"
          ></ic-form-field>
        </div>
        <div fxFlex="48">
          <ic-select
            [control]="
              loanDisbursementAccount.get('accountTypeId') | formcontrol
            "
            [options]="genericValue?.ACCOUNTTYPE"
            bindLabelKey="values"
            bindValueKey="id"
            label="Account Type"
          ></ic-select>
        </div>
        <div fxFlex="48">
          <ic-form-field
            [control]="
              loanDisbursementAccount.get('customerName') | formcontrol
            "
            [icAlphaNumericWithSpace]="true"
            [maxLength]="40"
            label="Account Name"
          ></ic-form-field>
        </div>
        <div
          *ngIf="loanDisbursementModel?.get('internal')?.value === false"
          fxFlex="48"
        >
          <ic-form-field
            [control]="loanDisbursementAccount.get('bankCode') | formcontrol"
            [icAlphanumeric]="true"
            [maxLength]="35"
            label="Bank Code"
          ></ic-form-field>
        </div>
        <div fxFlex="48">
          <ic-form-field
            [control]="loanDisbursementAccount.get('branchName') | formcontrol"
            [icAlphabetOnly]="true"
            label="Branch Name"
          ></ic-form-field>
        </div>
      </ng-container>
      <ng-container
        *ngIf="
          loanDisbursementModel?.get('disbursementMode')?.value === 'Cheque'
        "
      >
        <div fxFlex="48">
          <ic-form-field
            [control]="loanDisbursementModel.get('chequeNumber') | formcontrol"
            [icNumbersOnly]="true"
            [maxLength]="12"
            label="Cheque Number"
          ></ic-form-field>
        </div>
        <div fxFlex="48">
          <ic-form-field
            [control]="loanDisbursementAccount.get('accountNo') | formcontrol"
            [icNumbersOnly]="true"
            [maxLength]="20"
            label="Account Number"
          ></ic-form-field>
        </div>
        <div fxFlex="48">
          <ic-form-field
            [control]="
              loanDisbursementAccount.get('customerName') | formcontrol
            "
            [icAlphabetOnly]="true"
            [maxLength]="40"
            label="Account Holder Name"
          ></ic-form-field>
        </div>
        <div fxFlex="48">
          <ic-form-field
            [control]="loanDisbursementAccount.get('bankName') | formcontrol"
            [icAlphabetOnly]="true"
            label="Bank Name"
          ></ic-form-field>
        </div>
      </ng-container>
    </div>

    <div class="button-section" fxFlex="100" fxLayout="row">
      <ic-button
        (click)="onConfirm()"
        [icButtonType]="'filled-rounded'"
        [label]="'Confirm'"
        [type]="'submit'"
        size="large"
      >
      </ic-button>
      &nbsp;&nbsp;
      <ic-button
        (click)="onBack()"
        [label]="'Back'"
        [type]="'button'"
        icButtonType="ghost-rounded-danger"
        size="large"
      >
      </ic-button>

      &nbsp;&nbsp;
    </div>
  </form>
  <ic-spinner *ngIf="!loanDetailsForm"></ic-spinner>
</section>
