<div class="imageDisplayDiv" fxFlex="100">
  <div class="imageNameDisplayDiv" fxLayout="row" fxLayoutAlign="space-between">
    <div class="imgName" fxLayoutAlign="start">{{ data.imageName }}</div>
    <img
      (click)="closeDialog()"
      (keydown.enter)="closeDialog()"
      [tabIndex]="1"
      alt="Cancel Image"
      role="button"
      src="assets/images/cancelIcon.svg"
      tabindex="0"
    />
  </div>
  <div class="imageView">
    <ng-container *ngIf="!isPdfType; else showPdfTemplate">
      <img
        [src]="
          filePreview?.changingThisBreaksApplicationSecurity
            | safe: 'url'
            | async
        "
        alt="Expanded View"
        class="images expanded_view"
        width="100%"
      />
    </ng-container>

    <ng-template #showPdfTemplate>
      <object
        [data]="dataLocalUrl"
        aria-label="Checklist Document"
        height="500px"
        type="application/pdf"
        width="100%"
      ></object>
    </ng-template>
  </div>
</div>
