.desc-list {
  margin-left: -25px;
  color: #051a2d;
  font: 12px poppins;

  li {
    padding-bottom: 10px;
  }
}

.search_div {
  height: 60px;
  width: 100%;
  padding: 5px;
  border-radius: 12px;
  box-shadow: 0 3px 15px #0000001a;
  input {
    background: none;
    box-shadow: none;
    outline: none;
    border: none;
    font-family: 'Poppins', sans-serif;
    width: 100%;
  }
}
.card-title {
  color: #004c97;
}

.card-summary {
  color: #051a2d;
  font-family: poppins;
  font-size: 16px;
  margin: 0;
}

.card-img {
  max-height: 150px;
  width: 100%;
  max-width: 100% !important;
  border-radius: 20px;
}

.read-text {
  color: #004c97;
}

.card-div {
  margin-bottom: 20px;
  cursor: pointer;
  border-radius: 18px;
}

.btn-div {
  background: #f0f0f0 0% 0% no-repeat padding-box;
  border-radius: 15px;
  opacity: 1;
  padding: 5px;
  margin: 0 30px;
}

.btn-selected {
  background: transparent linear-gradient(90deg, #051a2d 0%, #004c97 100%) 0% 0%
    no-repeat padding-box;
  border-radius: 15px !important;
  opacity: 1;
  color: white;
  font-weight: 300;
  padding: 6px;
}

.btn-hide {
  text-align: left;
  font: 16px Poppins;
  letter-spacing: -0.32px;
  color: #7e7e7e;
  opacity: 1;
  border: none;
  padding: 6px;
}
.label_item {
  font-size: 9px;
  color: #b0b7c3;
  font-weight: bold;
  margin: 0px 5px 5px !important;
}
.label_value {
  color: #102245;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 14px;
}

.highlightPending {
  color: #004c97 !important;
}
.highlightOngoing {
  color: #eeab2c !important;
}
.highlightApproved {
  color: rgb(0, 132, 97) !important;
}
.highlightRejected {
  color: #b20000 !important;
}
.highlightExpired {
  color: #ff742b !important;
}
.custom-search {
  ::ng-deep .mat-form-field-prefix {
    margin-right: 2% !important;
    .searchIcon {
      opacity: 50%;
    }
  }

  ::ng-deep .mat-form-field-suffix {
    width: 10%;
    padding: 10px;
    box-sizing: content-box;
    border-radius: 10px;
    background: #dde0e5;
    top: -4px;
  }
}
