.desc-list {
  margin-left: -25px;
  color: #051a2d;
  font: 12px var(--ic-primary-font-family);

  li {
    padding-bottom: 10px;
  }
}

.search_div {
  min-height: 70px;
  width: 100%;
  padding: 0px 20px;
  border-radius: 12px;
  box-shadow: 0px 23px 44px 0px #b0b7c32b;

  input {
    background: none;
    box-shadow: none;
    outline: none;
    border: none;
    width: 100%;
    font-size: 20px !important;
    font-weight: 400 !important;
  }
}

.card-title {
  color: #0033a1;
}

.card-summary {
  color: #051a2d;
  font-family: var(--ic-primary-font-family);
  font-size: 16px;
  margin: 0;
}

.card-img {
  max-height: 150px;
  width: 100%;
  max-width: 100% !important;
  border-radius: 20px;
}

.read-text {
  color: #0033a1;
}

.card-div {
  margin-bottom: 20px;
  cursor: pointer;
  border-radius: 18px;
  box-shadow: 0px 2.04px 27.21px 0px #0000000f;
}

.btn-div {
  background: #f0f0f0 0% 0% no-repeat padding-box;
  border-radius: 15px;
  opacity: 1;
  padding: 5px;
  margin: 0 30px;
}

.btn-selected {
  background: transparent linear-gradient(90deg, #051a2d 0%, #0033a1 100%) 0% 0%
    no-repeat padding-box;
  border-radius: 15px !important;
  opacity: 1;
  color: white;
  font-weight: 300;
  padding: 6px;
}

.btn-hide {
  text-align: left;
  font: 16px var(--ic-primary-font-family);
  letter-spacing: -0.32px;
  color: #7e7e7e;
  opacity: 1;
  border: none;
  padding: 6px;
}

.label_item {
  font-size: 9px;
  color: #b0b7c3;
  font-weight: bold;
  margin: 0px 5px 5px !important;
}

.label_value {
  color: #102245;
  font-family: var(--ic-primary-font-family);
  font-weight: 600;
  font-size: 14px;
}

.highlightPending {
  color: #0033a1 !important;
}

.highlightOngoing {
  color: #eeab2c !important;
}

.highlightApproved {
  color: rgb(0, 132, 97) !important;
}

.highlightRejected {
  color: #b20000 !important;
}

.highlightExpired {
  color: #ff742b !important;
}

.custom-search {
  ::ng-deep .mat-form-field-prefix {
    margin-right: 2% !important;

    .searchIcon {
      opacity: 50%;
    }
  }

  ::ng-deep .mat-form-field-suffix {
    width: 10%;
    padding: 10px;
    box-sizing: content-box;
    border-radius: 10px;
    background: #dde0e5;
    top: -4px;
  }
}

.apply_now_container {
  display: flex;
  overflow-x: auto;
  gap: 10px;
  padding: 10px;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.apply_now_container::-webkit-scrollbar {
  display: none;
}

.apply_card {
  flex: 0 0 auto;
  width: 260px;
  height: 300px;
  background-color: #f5faff;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  scroll-snap-align: start;

  .applyBtn {
    width: 100% !important;
    justify-content: center;
  }
}
