<div fxLayout="column">
  <div
    class="search_div"
    fxFlex="100"
    fxLayout="row"
    fxLayoutAlign="space-between center"
    fxLayoutGap="10"
  >
    <img alt="" src="assets/images/search_icon.svg" />
    <input
      [formControl]="searchControl"
      matInput
      placeholder="Search"
      type="text"
    />
    <ic-select
      (selectionChange)="onCategoryChange($event)"
      [options]="categoryList"
      bindLabelKey="category"
      customClass="m-0 gray-select"
      fxFlex="15"
      label="Category"
      placeholder="Category*"
    >
    </ic-select>
  </div>

  <!-- Tracking Product cards -->
  <mat-card class="default-card p-12 mt-8">
    <span class="header_xl_bold_black">Tracking Status</span>
    <div class="my-2" fxFlex="100" fxLayout="row wrap" fxLayoutGap="1%">
      <ng-container
        *ngFor="
          let product of productList;
          trackBy: trackByProductId;
          let indx = index
        "
      >
        <mat-card
          (click)="openProduct(product)"
          class="card-div mb-24 p-4"
          fxFlex="31"
        >
          <img
            *ngIf="product.imageUrl; else defaultImage"
            [src]="product.imageUrl"
            alt="Card"
            class="card-img"
          />
          <ng-template #defaultImage>
            <img
              [src]="
                indx % 2 === 0
                  ? 'assets/images/applicationlist.svg'
                  : 'assets/images/apllicationdetails.svg'
              "
              alt="Card"
              class="card-img"
            />
          </ng-template>
          <div class="p-12" fxLayout="column">
            <div fxLayout="row" fxLayoutAlign="space-between center">
              <div fxLayout="column">
                <div class="breadcrum_sm">Type</div>
                <p class="label_value">{{ product.type }}</p>
              </div>
              <div fxLayout="column">
                <div class="breadcrum_sm">Applicant No</div>
                <p class="label_value">{{ product.applicationNo }}</p>
              </div>
            </div>
            <mat-divider></mat-divider>
            <div
              class="pt-12"
              fxLayout="row"
              fxLayoutAlign="space-between center"
            >
              <div fxLayout="column">
                <div class="breadcrum_sm">Loan Amount</div>
                <p class="label_value">₹ {{ product?.amount ?? 0 }}</p>
              </div>
              <div fxLayout="column">
                <div class="breadcrum_sm">Status</div>
                <p
                  [ngClass]="getStatusClass(product.status.toLowerCase())"
                  class="label_value"
                >
                  {{ product.status }}
                </p>
              </div>
            </div>
          </div>
        </mat-card>
      </ng-container>
    </div>
  </mat-card>

  <!-- Pending Cards -->

  <!-- Apply Now -->

  <mat-card class="default-card p-12 my-8">
    <span class="header_xl_bold_black">Apply Now</span>

    <div class="apply_now_container">
      <ng-container *ngFor="let apply of applyNowProducts">
        <div class="apply_card">
          <span class="theme_header_lg_bold">{{ apply }}</span>
          <span class="header_md_bold_black"
          >A loan moves the present to the future. The debt moves the future
            to the present.</span
          >
          <ic-button
            (OnClick)="applyProduct(apply)"
            [label]="'Apply'"
            class="w-100"
            customButtonClass="w-100"
            icButtonType="filled-rounded"
            size="medium"
            type="submit"
          ></ic-button>
        </div>
      </ng-container>
    </div>
  </mat-card>
</div>
