<mat-card
  fxLayout="column"
  fxLayoutAlign="space-between"
  class="default custom_card"
  *ngFor="let details of paymentDetailsArr; let i = index"
>
  <div class="custom_card_header" fxLayoutAlign="space-between center">
    <div class="text-label">
      {{ details?.statusHeader }}
    </div>
    <div class="icon_section text-label">
      <ng-container *ngIf="details?.status == 'confirm'">
        <button mat-icon-button (click)="edit()">
          <mat-icon svgIcon="edit-icon"></mat-icon>
        </button>
      </ng-container>
      <ng-container *ngIf="details?.status == 'confirm-payee'">
        <button mat-icon-button>
          <mat-icon svgIcon="fav-icon"></mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon svgIcon="delete-icon"></mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon svgIcon="edit-icon"></mat-icon>
        </button>
      </ng-container>
      <ng-container
        *ngIf="
          details?.status == 'success' ||
          details?.status == 'failed' ||
          details?.status == 'request'
        "
      >
        <!-- <button mat-icon-button>
          <mat-icon svgIcon="download-icon"></mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon svgIcon="share-icon"></mat-icon>
        </button> -->
      </ng-container>
    </div>
  </div>
  <div class="news_section standard-padding">
    <!-- Image section starts -->
    <ng-container
      *ngIf="
        (details?.status == 'confirm' &&
          details?.eventType != 'mmidTransfer') ||
        details?.status == 'request' ||
        details?.status == 'confirm-payee'
      "
    >
      <div
        fxLayout="column"
        class="expected-time"
        *ngIf="paymentDetailsArr[0].eventType === 'chequeBookRequest'"
      >
        <span class="expected-title">{{ "Expected Time to deliver:" }}</span>
        <span>{{
          "Physical cheque book will be delivered in 5 working days"
        }}</span>
      </div>
      <div
        class="news_pallet"
        fxLayout="row"
        fxLayoutAlign="start center"
        fxLayoutGap="10"
        *ngIf="paymentDetailsArr[0].eventType != 'chequeBookRequest'"
      >
        <div class="img_div d-flex" fxFlex="10">
          <div class="img_content img_txt">
            {{
              details?.payerDetails?.payerName[0]?.toUpperCase() +
                details?.payerDetails?.payerName[1]?.toUpperCase()
            }}
          </div>
        </div>
        <div class="details_div" fxLayout="column" fxFlex="90">
          <div class="text-label" id="name">
            {{ details?.payerDetails?.payerName }}
          </div>
          <div class="text-gray" id="details">
            {{ details?.payerDetails?.accountNo }} |
            {{ details?.payerDetails?.bank }}
          </div>
        </div>
        <div class="details_div">
          <div class="ref_no_div">
            <span class="ref_no">{{
              details?.summary[1]?.details[6]?.creditAmount
            }}</span>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container
      *ngIf="details?.status == 'success' || details?.status == 'failed'"
    >
      <div
        class="news_pallet"
        fxLayout="row"
        fxLayoutAlign="start center"
        fxLayoutGap="10"
      >
        <div class="img_div d-flex" fxFlex="10">
          <!-- if status is Succesful -->
          <ng-container *ngIf="details?.status == 'success'">
            <img src="assets/images/payment-success.png" alt="img.success" />
          </ng-container>
          <!-- if status is failed -->
          <ng-container *ngIf="details?.status == 'failed'">
            <img src="assets/images/payment-failed.png" alt="img.success" />
          </ng-container>
        </div>
        <div class="details_div" fxLayout="column" fxFlex="90">
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <div class="text-label" id="name">
              {{ details?.statusNews }}
            </div>
            <div class="ref_no_div">
              <span class="text-gray">Reference No</span>&nbsp;&nbsp;<span
                class="ref_no"
                >{{ response?.icustRefNo }}</span
              >
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="card_top" fxLayout="column">
    <div class="custom_card_body standard-padding">
      <!-- Detailed Summay Section starts -->
      <div
        class="summary_section standard-padding"
        fxLayout="column"
        fxLayoutAlign="space-between"
        fxLayoutGap="20"
      >
        <div class="summary_pallet" *ngFor="let item of details?.summary">
          <div fxLayout="column" fxLayoutGap="10">
            <div class="summary_heading" fxFlex="100">
              {{ item?.header }}
            </div>
            <ng-container *ngIf="item?.header != 'Document Upload'">
              <div
                class="summary_contain standard-padding"
                fxFlex="100"
                fxLayout="row wrap"
              >
                <ng-container *ngFor="let chunk of item?.details">
                  <div
                    fxFlex="25"
                    fxFlex.lt-md="33.33"
                    fxFlex.lt-sm="100"
                    *ngFor="let pair of chunk | keyvalue"
                  >
                    <p class="label">{{ pair.key }}</p>
                    <p class="labelval">{{ pair.value }}</p>
                  </div>
                </ng-container>
              </div>
            </ng-container>
            <ng-container *ngIf="item?.header == 'Document Upload'">
              <ng-container>
                {{ chunk }}
                <app-reusable-table
                  [columnNames]="docCol"
                  [data]="item.detalis"
                ></app-reusable-table>
              </ng-container>
            </ng-container>
          </div>
        </div>
      </div>
      <!-- Detailed Summay Section Ends -->
    </div>
    <!-- Summary body Ends -->
  </div>
  <!-- Footer section starts -->
  <div class="custom_card_footer" fxLayoutAlign="space-between center">
    <ng-container *ngIf="details?.status != 'confirm-payee'">
      <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="5">
        <div class="footer_icon" fxLayoutAlign="end start">
          <mat-icon svgIcon="info-icon"></mat-icon>
        </div>
        <div class="footer_contain">
          <ng-container *ngIf="details?.status == 'confirm'; else contactInfo">
            As per RBI guidelines, credit will be effected based solely on the
            Payee Account Number information and the Payee Name particulars will
            not be used therefore. Check account number twice.
          </ng-container>
          <ng-template #contactInfo>
            For queries, please contact our Customer support at 897897807078
          </ng-template>
        </div>
      </div>
    </ng-container>
    <div
      *ngIf="details?.status == 'confirm-payee'"
      fxLayout="row"
      fxLayoutGap="10"
    >
      <app-ic-action-button
        buttonName="Back"
        buttonType="stroked"
        (onClick)="back()"
      ></app-ic-action-button>
      <app-ic-action-button
        buttonName="Pay"
        buttonType="filled"
        (onClick)="pay()"
      ></app-ic-action-button>
    </div>
    <div
      *ngIf="details?.status == 'failed' || details?.status == 'success'"
      fxLayout="row"
      fxLayoutGap="10"
    >
      <ng-container
        *ngIf="details?.status == 'success' && details?.qrToggle == true"
      >
        <button mat-flat-button (click)="generateQR()" class="filled_btn">
          {{ "Generate QR" }}
        </button>
      </ng-container>
      <button mat-flat-button (click)="done()" class="filled_btn">
        {{ "Done" }}
      </button>
    </div>
  </div>
  <!-- Footer section Ends -->
</mat-card>
