<div [formGroup]="addonCardForm" fxLayout="column">
  <h3 class="light-blue-title">Add-On-Card</h3>
  <mat-card fxLayout="column">
    <div fxLayout="row">
      <div fxLayout="column" class="blue-box" fxFlex="100">
        <span class="light-blue-title">{{ "Credit Card" | translate }}</span>
        <div fxLayout="row">
          <app-ic-custom-pay-from
            [control]="addonCardForm.get('cardNumber') | formcontrol"
            [inputLabel]="'Card No' | translate"
            bindValueKey="cardNumber"
            bindLabelKey="cardNumber"
            [items]="cardList"
            (selectionChange)="patchDetails($event)"
          ></app-ic-custom-pay-from>
          <div
            fxLayout="column"
            fxLayoutAlign="center center"
            class="label-info m-12"
          >
            <span class="label-info">
              {{ "Credit card" | translate }} | {{ "Name" | translate }} -
              {{ typeofCard }}
            </span>
          </div>
        </div>
      </div>
    </div>

    <h3 class="light-blue-title mt-4">{{ "Request Add-On" | translate }}</h3>
    <div>
      <div fxFlex="25" class="input_wrapper">
        <app-ic-custom-input
          [control]="addonCardForm.get('nameRequired') | formcontrol"
          [inputLabel]="'Name Required' | translate"
        ></app-ic-custom-input>
      </div>
      <div fxFlex="25" class="input_wrapper">
        <mat-label class="ml-20 custom-label">Date of Birth</mat-label>
        <app-input-date-picker
          [control]="addonCardForm.get('dateOfBirth') | formcontrol"
        ></app-input-date-picker>
      </div>
      <div fxFlex="25" class="input_wrapper">
        <mat-label class="ml-20 custom-label">Relationship</mat-label>
        <app-searchable-select
          [items]="items"
          [control]="addonCardForm.get('relationShip') | formcontrol"
          bindLabelKey="label"
          bindValueKey="value"
        ></app-searchable-select>
      </div>
    </div>

    <div fxLayoutGap="20" fxLayoutAlign="end center">
      <app-ic-action-button buttonName="Cancel" buttonType="stroked">
      </app-ic-action-button>
      <app-ic-action-button
        buttonName="Proceed"
        buttonType="filled"
        (onClick)="proceed()"
      ></app-ic-action-button>
    </div>
  </mat-card>
</div>
