.alertImage {
  display: flex;
  justify-content: center;
}
.alertText {
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: 20px;
  color: #000000;
}
.infoText {
  color: #b4b4b4;
  font-size: 18px;
  display: flex;
  justify-content: center;
}

.refrence_no_div {
  min-height: 50px;
  display: flex;
  justify-content: center;
  background: #fafafa 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 15px #00000017;
  border: 3px solid #ffffff;
  border-radius: 12px;
  width: 300px;
  .refrence_no_innerDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    span {
      color: #004c97;
      font-weight: 600;
    }
    p {
      color: #102245 !important;
      font-size: 12px;
      margin: 0 0 5px !important;
    }
  }
}
.done_btn {
  border-radius: 30px;
}

.note_background {
  color: #c0c0c0;
  font-size: 18px;
  .higlight_note {
    color: #000000;
    font-weight: 700;
  }
}
.btnClass {
  display: flex;
  justify-content: center;
}
.shareBtn {
  box-shadow: 3px 3px 15px 0px #0000000f;
  color: #004c97;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  border-radius: 25px;
}
.button-container {
  margin: 3% 0%;
  width: 384px;
}
::ng-deep .bdrop {
  background-color: rgb(0 0 0 / 0.3);
  backdrop-filter: blur(8px) !important;
}
.call_link {
  color: #004c97;
}
.appointment-card {
  color: #102245;
  font-size: 13px;
  font-weight: 500;
  span {
    color: #004c97;
  }
}
.originationDiv{
  width: 100%;
}
