<div fxLayout="column" fxLayoutGap="25px">
  <!-- <div fxLayoutAlign="end center">
    <mat-icon (click)="close()">close</mat-icon>
  </div> -->
  <ng-container *ngIf="isNetBanking; else showTemplate">
    <div class="alertText">
      <div>Data saved successfully.</div>
    </div>
  </ng-container>
  <ng-template #showTemplate
    ><div class="alertText">
      <div>Application is submitted successfully.</div>
    </div>
    <div class="alertText">
      <div>We will review and get back to you.</div>
    </div></ng-template
  >
  <div class="alertImage">
    <img
      class="summaryIcon"
      src="assets/images/success-logo.svg"
      alt="Success Sign"
    />
  </div>

  <ng-container *ngIf="isNetBanking">
    <div fxLayout="column" fxLayoutAlign="center center">
      <div class="note_background">
        Keep a record of your Reference Number for future use
      </div>
    </div>
    <div fxLayout="row" style="display: flex; justify-content: center">
      <div class="refrence_no_div">
        <div class="refrence_no_innerDiv">
          Reference No. : <span>{{ referenceNo }}</span>
        </div>
      </div>
    </div>
  </ng-container>

  <div
    *ngIf="!isNetBanking"
    fxLayout="row"
    style="display: flex; justify-content: center"
  >
    <div class="refrence_no_div">
      <div class="refrence_no_innerDiv">
        Application No. : <span>{{ originationId }}</span>
      </div>
    </div>
  </div>
  <br />
</div>
<div *ngIf="!isNetBanking" fxLayout="column">
  <div class="note_background">
    <span class="higlight_note">Note:</span> Please quote the above reference
    number in all communications with the bank
  </div>
  <!-- <div class="btnGroup">
    <button class="saveButton" mat-raised-button>Done</button>
  </div> -->
</div>
<div fxLayout="column" fxLayoutAlign="center center" class="btnClass">
  <!-- <div fxLayout="row" fxLayoutAlign="space-between center">
    <button type="button" mat-raised-button class="downloadButton done_btn">
      share
    </button>
    <button type="button" mat-raised-button class="downloadButton done_btn">
      Download
    </button>
  </div> -->
  <div
    *ngIf="!isNetBanking"
    fxLayout="row"
    class="button-container"
    fxLayoutAlign="space-between center"
  >
    <button
      type="button"
      class="shareBtn"
      mat-raised-button
      (click)="onClickAction('Pdf', 'Share')"
    >
      <mat-icon>share</mat-icon>Share
    </button>
    &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
    <button
      type="button"
      class="shareBtn"
      mat-raised-button
      (click)="onClickAction('Pdf', 'Download')"
    >
      <mat-icon>download</mat-icon>Download
    </button>
  </div>
  <div>
    <button
      type="button"
      mat-raised-button
      class="saveButton done_btn"
      (click)="done()"
    >
      Done
    </button>
  </div>
</div>
