<div fxLayout="column">
  <!-- <div fxLayoutAlign="end center">
    <mat-icon (click)="close()">close</mat-icon>
  </div> -->
  <div class="alertText">
    <div *ngIf="isStageAvilable; else showOtherText">
      {{ message }}
    </div>
    <ng-template #showOtherText
      >{{ currentStageName }} stage is not avilable. Please move to next
      screen.</ng-template
    >
  </div>
  <div
    fxLayout="row"
    fxLayoutAlign="center center"
    *ngIf="typeOfPopup === 'scheduleCall'"
  >
    <div fxFlex="90" fxLayout="row" fxLayoutAlign="space-between center">
      <mat-card
        fxFlex="40"
        class="appointment-card"
        fxLayoutAlign="center center"
      >
        Date Selected: <span>{{ appontment.selectedDate }}</span></mat-card
      >
      <mat-card
        fxFlex="40"
        class="appointment-card"
        fxLayoutAlign="center center"
        >Time Slot: <span>{{ appontment.selectedTime }}</span></mat-card
      >
    </div>
  </div>
  <div
    class="alertText"
    *ngIf="isStageAvilable && typeOfPopup !== 'scheduleCall'"
  >
    <div>We will review and get back to you.</div>
  </div>
  <div class="alertImage">
    <img
      *ngIf="originationId; else showerror"
      class="summaryIcon"
      src="assets/images/success-logo.svg"
      alt="Success Sign"
    />
    <ng-template #showerror
      ><img
        class="summaryIcon"
        src="assets/images/error-icon.svg"
        alt="Success Sign"
    /></ng-template>
  </div>

  <div
    fxLayout="column"
    fxLayoutAlign="center center"
    style="display: flex; justify-content: center"
    *ngIf="isStageAvilable"
  >
    <div class="refrence_no_div">
      <div class="refrence_no_innerDiv" *ngIf="!generatedLink">
        <p>Application No.</p>
        : <span>{{ originationId }}</span>
      </div>
      <div
        class="refrence_no_innerDiv call_link"
        *ngIf="generatedLink"
        fxLayout="column"
      >
        <p>Video Link</p>
        <a target="_blank" [href]="generatedLink">{{ generatedLink }}</a>
      </div>
    </div>
    <div class="originationDiv" *ngIf="!generatedLink && isComplete">
      <app-staging-success-area
        [originationId]="originationId"
        [isComplete]="isComplete"
      ></app-staging-success-area>
    </div>
  </div>

  <br />
</div>
<div fxLayout="column" *ngIf="isStageAvilable">
  <div class="note_background" fxLayoutAlign="center center">
    <span class="higlight_note">Note:</span> Please quote the above reference
    number in all communications with the bank
  </div>
</div>
<div fxLayout="column" fxLayoutAlign="center center" class="btnClass">
  <div
    fxLayout="row"
    class="button-container"
    fxLayoutAlign="space-between center"
    *ngIf="isStageAvilable"
  >
    <ic-button
      [label]="'Share'"
      icButtonType="ghost-rounded"
      size="large"
      [type]="'button'"
      icIcon="share"
      (OnClick)="onClickAction('Pdf', 'Share')"
    >
    </ic-button>
    &nbsp;&nbsp;
    <ic-button
      [label]="'Tracking'"
      icButtonType="ghost-rounded"
      icIcon="search"
      size="large"
      [type]="'button'"
      (OnClick)="onClick()"
    >
    </ic-button>
    &nbsp;&nbsp;
    <ic-button
      [label]="'Download'"
      icButtonType="ghost-rounded"
      size="large"
      icIcon="download"
      [type]="'button'"
      (OnClick)="onClickAction('Pdf', 'Download')"
    >
    </ic-button>
  </div>
  <div>
    <ic-button
      [label]="'Done'"
      icButtonType="filled-rounded"
      size="large"
      [type]="'button'"
      (OnClick)="done()"
    >
    </ic-button>
  </div>
</div>
