.details-content {
  border-radius: 12px;
  min-height: 130px;
  max-height: max-content;
  padding: 18px 25px;
  background: #f3f3f3;
  background: url('/assets/images/background-mask.svg');
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.0901960784);
  border: 3px solid #ffffff;
  opacity: 1;

  .single_details_div {
    margin-top: 30px;
  }
}

.action-text {
  text-align: left;
  text-decoration: underline;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: var(--current-theme-background);
  cursor: pointer;
}

.main-container {
  padding: 3% 3% 3% 3%;
  .reward-div {
    .reward-text {
      font-family: 'Raleway', sans-serif;
      font-size: 12px;
      font-weight: 500;
      letter-spacing: 0px;
      color: var(--current-theme-background);
      opacity: 1;
    }
    .reward-box {
      background: #fdf4db 0% 0% no-repeat padding-box;
      border-radius: 5px;

      .pt-text {
        font-size: 12px;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        color: var(--current-theme-background);
      }
    }
  }

  .middle-content {
    .section-highlight {
      background: #f5f7fb 0% 0% no-repeat padding-box;
      border-radius: 8px;
      .currency {
        font-family: 'Helvetica Neue', sans-serif;
        font-size: 18px;
        font-weight: 600;
        color: var(--current-theme-background-dark);
      }
      .alert-text {
        font-family: 'Helvetica Neue', sans-serif;
        font-size: 18px;
        font-weight: 600;
        color: var(--current-theme-background);
      }
      .normal-text {
        font-family: 'Helvetica Neue', sans-serif;
        font-size: 18px;
        font-weight: 600;
        color: var(--current-theme-background);
      }
      .vertical-bar {
        height: 45px;
        width: 1px;
        background-color: #606c8d;
        opacity: 0.1;
      }
    }
    .pay-bill {
      font-family: 'Helvetica Neue', sans-serif;
      font-size: 12px;
      font-weight: 600;
      color: #00205c;

      mat-icon {
        width: 12px;
      }
    }
  }
}
