.benefits_container {
  @mixin cards_more_details($size, $weight, $color) {
    font-family: var(--ic-primary-font-family);
    font-size: #{$size}px;
    font-weight: $weight;
    color: $color;
  }

  .title {
    @include cards_more_details(24, 600, #06113c);
  }

  .description {
    margin: 1% 0% 0% 0%;
    @include cards_more_details(16, 400, #4c5371);
  }

  .cards_info {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin: 1% 0% 0% 0%;

    .card_item {
      flex: 1 1 calc(50% - 16px);
      max-width: calc(50% - 16px);
      box-sizing: border-box;

      .star_icon {
        background-color: var(--ic-surface-tonal-a50);
        height: 48px;
        width: 48px;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      padding: 24px;
      margin-bottom: 16px;
      border-radius: 12px;
      background-color: var(--ic-surface-tonal-a0);

      .card_title {
        @include cards_more_details(18, 600, #06113c);
      }

      .card_description {
        margin: 1% 0% 0% 0%;
        @include cards_more_details(14, 400, #6b7280);
      }

      .card_points {
        margin: 1% 0% 0% 0%;
        @include cards_more_details(12, 400, #525252);

        .point {
          border-radius: 50%;
          background-color: var(--ic-clr-primary-a0);
          margin: 9px 3px 0px 0px;
          width: 4px;
          height: 4px;
        }
      }
    }
  }
}
