<div class="parent-div" fxLayout="column">
  <div fxLayout="row" fxLayoutAlign="space-between center" class="searchDiv">
    <div class="overView mb-8">{{ 'Account Overview' | translate }}</div>
    <div>
      <!-- <mat-form-field appearance="outline">
        <mat-label class="custom-mat-label">{{
          'Search' | translate
        }}</mat-label>
        <input
          matInput
          type="text"
          class="searchInput"
          notAllowFirstSpace
          placeholder="{{ 'Search' }}"
        />
        <mat-icon matSuffix class="searchIcon" style="color: #0033a1">
          search
        </mat-icon>
      </mat-form-field> -->
      <ic-form-field
        label="Search"
        notAllowFirstSpace
        placeholder="Search"
        type="text"
        suffixIcon="search_icon"
      >
      </ic-form-field>
    </div>
  </div>
  <div
    *ngIf="dashboardInfo"
    fxLayout="row"
    fxLayoutAlign="start center"
    fxLayoutGap="16px"
    fxFlex="100"
  >
    <ng-container *ngFor="let key of Object.keys(dashboardInfo); let i = index">
      <mat-card
        [matMenuTriggerFor]="accountMenu"
        #clickHoverMenuTrigger="matMenuTrigger"
        class="account_info_card"
        [ngClass]="{
          'account-Card-btn': selectedKey !== key,
          'selected-account-Card': selectedKey === key,
        }"
        (click)="cardDetails(key)"
        fxFlex="35"
      >
        <div
          fxLayout="row"
          fxFlex="100"
          fxLayoutAlign="space-between"
          fxLayoutGap="25%"
          class="account_info_wrapper p-4"
        >
          <div class="infoLength">
            {{ dashboardInfo[key]?.accountList?.length }}
          </div>
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="column" fxLayoutAlign="space-around end">
              <div class="cardType">
                {{ dashboardInfo[key]?.type | translate }}
              </div>
              <div class="availableTag">
                {{ 'Available Balance' | translate }}
              </div>
              <div class="balanceAmount" fxLayout="row">
                ₹
                <span>{{ availableBalance[key][0] }}</span>
              </div>
            </div>
            <div>
              <mat-icon>keyboard_arrow_down</mat-icon>
            </div>
          </div>
        </div>
      </mat-card>
      <mat-menu #accountMenu="matMenu" class="infoDropdown">
        <ng-container
          *ngFor="let info of dashboardInfo[key]?.accountList; let i = index"
        >
          <div fxLayout="row" fxFlex="100" fxLayoutGap="60px">
            <div fxLayout="column" fxFlex="33" fxLayoutGap="2px">
              <div class="label">{{ 'Account Number' | translate }}</div>
              <div class="labelVal">{{ info.accountNo }}</div>
            </div>
            <div fxLayout="column" fxFlex="33" fxLayoutGap="2px">
              <div class="label">{{ 'Type' | translate }}</div>
              <div class="labelVal">{{ dashboardInfo[key]?.accountType }}</div>
            </div>
            <div fxLayout="column" fxFlex="33" fxLayoutGap="2px">
              <div class="label">{{ 'Balance' | translate }}</div>
              <div class="labelVal">
                {{ availableBalance[key][i] }}
              </div>
            </div>
          </div>
          <div class="hl"></div>
        </ng-container>
      </mat-menu>
    </ng-container>
  </div>

  <div
    fxFlex="100"
    fxLayout="row"
    fxLayoutAlign="space-between flex-start"
    fxLayoutGap="10"
  >
    <div fxLayout="column" fxFlex="75" fxLayoutGap="15px">
      <div class="transfer-mtcd">
        <nav mat-tab-nav-bar>
          <a
            mat-tab-link
            *ngFor="let transfer of transferType; let i = index"
            [active]="i + 1 === currentIndex"
            (click)="getActiveTransferType(transfer)"
            (keydown.enter)="getActiveTransferType(transfer)"
            tabIndex="0"
            href="javascript:void(0)"
          >
            {{ transfer.label | translate }}
          </a>
        </nav>
        <div class="transfer" #targetElContainer>
          <div
            #targetElement
            (scroll)="onTableSectionScroll($event)"
            fxLayout="row"
            fxLayoutAlign="flex-start"
            class="transfer_wrapper_div"
          >
            <div
              fxFlex="20"
              class="transfer_main_div"
              *ngFor="let transfer of transferArray"
            >
              <mat-card
                class="transfer-card"
                fxLayoutALign="center center"
                (click)="openTransfer(transfer)"
              >
                <img [src]="transfer.image" alt="transfer.image" />
                <div class="text-label">{{ transfer.label | translate }}</div>
              </mat-card>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="bottom-container">
          <div
            class="header-container"
            fxLayout="row"
            fxLayoutAlign="space-between center"
          >
            <div class="cardType">{{ 'Pending Approval' | translate }}</div>
            <div>
              <mat-card
                class="matcard-div"
                (click)="openPendingForApprovalSummary()"
              >
                <mat-icon class="call-madeup-icn current_theme_filter">
                  call_made</mat-icon
                >
              </mat-card>
            </div>
          </div>
          <div
            class="inner-container"
            fxLayout="row"
            fxLayoutAlign="space-between center"
          >
            <table fxFlex="100" fxLayout="column">
              <thead fxFlex="100" fxLayoutAlign="space-between" class="pl-28">
                <tr fxFlex="100" fxLayout="row">
                  <th class="col label" *ngFor="let item of dummyHeader">
                    {{ item.header | translate }}
                  </th>
                </tr>
              </thead>
              <tbody fxFlex="100" fxLayout="column" class="pl-28">
                <tr
                  fxFlex="99.7"
                  class="table-body-container"
                  *ngFor="let auditLogDataObject of dummyResponse"
                >
                  <div fxFlex="99" fxLayout="column">
                    <div class="table-response">
                      <td
                        class="col labelValRef text-bold"
                        (click)="viewPendingRecord(auditLogDataObject)"
                      >
                        {{ auditLogDataObject?.transactionReferenceNo }}
                      </td>
                      <td class="col labelVal">
                        {{ auditLogDataObject?.productType }}
                      </td>

                      <td class="col labelVal">
                        {{ auditLogDataObject?.lastUpdated }}
                      </td>

                      <td class="col labelVal">
                        {{ auditLogDataObject?.totalAmount }}
                      </td>
                      <td class="col labelVal">
                        {{ auditLogDataObject?.lastUpdatedBy }}
                      </td>
                      <td
                        style="position: relative; right: 6.5%; cursor: pointer"
                      >
                        <mat-icon
                          style="color: #9696969e; font-size: 28px"
                          (click)="viewPendingRecord(auditLogDataObject)"
                        >
                          chevron_right
                        </mat-icon>
                      </td>
                    </div>
                    <div class="horizontal-separator"></div>
                  </div>
                </tr>
              </tbody>
              <br />
            </table>
          </div>
        </div>
      </div>
    </div>
    <div fxFlex="25">
      <div class="activityLog">
        <div fxLayout="column" fxLayoutGap="10px">
          <div class="activityLog_header" fxLayoutGap="5px">
            <div class="activityLog_name">{{ 'Activity log' | translate }}</div>
            <div class="availableTag">
              {{ 'Most liked by demo bank user' | translate }}
            </div>
          </div>
          <div fxLayout="column" fxLayoutGap="5px">
            <ic-select
              (selectionChange)="onDropdownChange($event.value)"
              [options]="selectedActivityLog"
              selectionType="single"
            >
            </ic-select>
            <div fxLayout="column" fxLayoutGap="12px">
              <ng-container *ngFor="let key of colorCode">
                <mat-accordion>
                  <mat-expansion-panel class="panel">
                    <mat-expansion-panel-header class="panelHeader">
                      <mat-panel-description>
                        <div fxLayout="row">
                          <div class="vl"></div>
                          <div
                            fxLayout="row"
                            fxLayoutAlign="start center"
                            fxLayoutGap="14"
                            class="dropdownName"
                          >
                            <span>{{
                              transformLabel(key.label) | translate
                            }}</span>
                            <ng-container
                              *ngFor="let obj of displayActivityLog"
                            >
                              <div class="valueBg">
                                <div
                                  class="totalVal"
                                  [style.color]="key.valColor"
                                  [style.background-color]="key.bgColor"
                                  *ngIf="obj.label === key.label"
                                >
                                  {{ obj.total }}
                                </div>
                              </div>
                            </ng-container>
                          </div>
                        </div>
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                    <mat-expansion-panel-body>
                      <ng-container *ngFor="let obj of displayActivityLog">
                        <div
                          class="contentBg"
                          [style.background-color]="key.bgColor"
                          *ngIf="obj.label === key.label"
                        >
                          <div fxLayout="column" fxLayoutGap="10">
                            <div
                              fxLayout="row"
                              fxLayoutAlign="space-between center"
                            >
                              <div
                                class="processedName"
                                [style.color]="key.valColor"
                              >
                                {{ 'Processed' | translate }}
                              </div>
                              <div class="processedName">
                                {{ obj.processed || 0 }}
                              </div>
                            </div>
                            <div
                              fxLayout="row"
                              fxLayoutAlign="space-between center"
                            >
                              <div
                                class="processedName"
                                [style.color]="key.valColor"
                              >
                                {{ 'Pending' | translate }}
                              </div>
                              <div class="processedName">
                                {{ obj.pending || 0 }}
                              </div>
                            </div>
                            <div
                              fxLayout="row"
                              fxLayoutAlign="space-between center"
                            >
                              <div
                                class="processedName"
                                [style.color]="key.valColor"
                              >
                                {{ 'Rejected' | translate }}
                              </div>
                              <div class="processedName">
                                {{ obj.rejected || 0 }}
                              </div>
                            </div>
                          </div>
                        </div>
                      </ng-container>
                    </mat-expansion-panel-body>
                  </mat-expansion-panel>
                </mat-accordion>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
