<div class="bottom-card" fxLayout="column">
  <img
    alt="Background Image"
    class="background-image"
    src="assets/images/white-simple-textured-design-background.png"
  />

  <mat-card class="sign-later dig-sign-container">
    <div
      class="full-width"
      fxLayout="row"
      fxLayout.sm="column"
      fxLayoutGap="2%"
    >
      <!-- Sign Now Card -->
      <mat-card class="sign-later pd-10" fxFlex="38">
        <div fxFlex="100" fxLayout="row">
          <div class="img_items" fxFlex="30">
            <img
              alt="Sign Now"
              class="images-sign"
              src="assets/images/signnow.png"
            />
          </div>
          <div
            fxFlex="66"
            fxLayout="column"
            fxLayoutAlign="center start"
            fxLayoutGap="3"
          >
            <div
              fxFlex.gt-lg="100"
              fxLayout="row wrap"
              fxLayoutAlign="space-between"
            >
              <h4 class="sub-heading">Sign Now</h4>
              <mat-icon *ngIf="imageUrl && buttonTitle === 'Sign Now'"
              >check
              </mat-icon>
            </div>
            <span class="sub-heading-sign"
            >E sign allows you to sign documents online securely and
              conveniently</span
            >
            <ic-button
              (OnClick)="
                imageUrl && buttonTitle === 'Sign Now'
                  ? viewSignData('Sign Now')
                  : addDetalis('Sign Now')
              "
              [icButtonType]="'filled-rounded'"
              label="Add details"
            ></ic-button>
          </div>
        </div>
      </mat-card>

      <!-- Physical Sign Card -->
      <mat-card class="sign-later pd-10" fxFlex="38">
        <div fxFlex="100" fxLayout="row">
          <div class="img_items" fxFlex="30">
            <img
              alt="Physical Sign"
              class="images-sign"
              src="assets/images/physicalSign.svg"
            />
          </div>
          <div
            fxFlex="70"
            fxLayout="column"
            fxLayoutAlign="center start"
            fxLayoutGap="3"
          >
            <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-between">
              <h4 class="sub-heading">Physical Sign</h4>
              <mat-icon *ngIf="imageUrl && buttonTitle === 'Physical Sign'"
              >check
              </mat-icon>
            </div>
            <span class="sub-heading-sign">
              Complete the offer letter process in four steps: download, sign,
              scan and upload</span
            >
            <ic-button
              (OnClick)="
                imageUrl && buttonTitle === 'Physical Sign'
                  ? viewSignData('Physical Sign')
                  : addDetalis('Physical Sign')
              "
              [icButtonType]="'filled-rounded'"
              label="Add details"
            ></ic-button>
          </div>
        </div>
      </mat-card>
    </div>
  </mat-card>

  <!-- Action Buttons -->
  <div
    class="action-dig-sign-btn"
    fxFlex="100"
    fxLayout="row"
    fxLayoutAlign="end center"
    fxLayoutGap="2%"
  >
    <ic-button [icButtonType]="'ghost-rounded'" label="Reset"></ic-button>
    <ic-button [icButtonType]="'filled-rounded'" label="Submit"></ic-button>
  </div>
</div>
