<div class="loan_flow_container">
  <div fxFlex="35" class="fdCalculator_parent">
    <app-commmon-steeper
      [screenTitle]="screenTitle"
      [screenList]="screenList"
      [screenIndex]="selectedStep"
      (customSelectionChange)="stepperSelectionChange($event)"
    ></app-commmon-steeper>
  </div>

  <mat-divider vertical class="divider"></mat-divider>

  <div
    class="col-div2 screenMargin"
    fxFlex="65"
    fxLayout="column"
    data-aos="zoom-in"
    data-aos-delay="200"
    data-aos-duration="500"
  >
    <div fxLayoutAlign="space-between start">
      <h2 class="highlight_title" *ngIf="currentComponentInfo?.component">
        {{ cuurrentStep }}
      </h2>
      <button
        mat-button
        class="add_btn mr-20"
        *ngIf="checkBtnValidity()"
        (click)="addDoc()"
      >
        Add
      </button>
    </div>

    <div class="container_dynamic">
      <ng-template appHost #container></ng-template>
    </div>
  </div>
</div>
