<div class="loan_flow_container">
  <div class="fdCalculator_parent" fxFlex="35">
    <app-commmon-steeper
      (customSelectionChange)="stepperSelectionChange($event)"
      [screenIndex]="selectedStep"
      [screenList]="screenList"
      [screenTitle]="screenTitle"
    ></app-commmon-steeper>
  </div>

  <mat-divider class="divider" vertical></mat-divider>

  <div
    class="col-div2 screenMargin"
    data-aos="zoom-in"
    data-aos-delay="200"
    data-aos-duration="500"
    fxFlex="65"
    fxLayout="column"
  >
    <div fxLayoutAlign="space-between start">
      <h2 *ngIf="currentComponentInfo?.component" class="highlight_title">
        {{ cuurrentStep }}
      </h2>
      <ic-button
        (click)="addDoc()"
        *ngIf="checkBtnValidity()"
        icButtonType="filled-rounded"
        label="Add"
      >
        Add
      </ic-button>
    </div>

    <div class="container_dynamic">
      <ng-template #container appHost></ng-template>
    </div>
  </div>
</div>
