<div class="cards-container">
    <div class="column-2">
        <app-common-mobile-verification (getOTP)="getOTP($event)" (enteredOTP)="enteredOtp($event)"
            [showOtpSection]="showOtpSection"></app-common-mobile-verification>
        <div class="button-section" *ngIf="showOtpSection">
            <button class="confirm-button" mat-raised-button (click)="onVerify()" [disabled]="isValidated()"
                [ngClass]="{'disabled-field' : isValidated()}">Verify</button>
            <button class="back-button" mat-raised-button (click)="onBack()">Back</button>
        </div>
    </div>
</div>