.done {
  width: 150px;
  height: 40px;
  /* UI Properties */
  background: transparent linear-gradient(91deg, #051a2d 0%, #0033a1 100%) 0% 0%
    no-repeat padding-box;
  border-radius: 23px;
  opacity: 1;
}
.signnow {
  margin-left: 60px;
  cursor: pointer;
}
.heading {
  margin-left: 42px;
}
.image-icon {
  height: 40px;
  width: 40px;
}
.pd-15 {
  padding: 15px;
}
