<div class="sign-now-modal sign-popup">
  <div
    *ngIf="title === 'Sign Now'"
    class="mt-12 ml-12"
    fxLayout="row"
    fxLayoutAlign="start center"
  >
    <span class="ml-20"
      ><mat-icon (click)="closeDialog()" class="heading"
        >arrow_back</mat-icon
      ></span
    >
    <h2 class="ml-12 text-normal">Digital Signing</h2>
  </div>
  <div *ngIf="title === 'Physical Sign'" class="mt-12 ml-12" fxLayout="row">
    <span
      ><mat-icon (click)="closeDialog()" class="ml-12"
        >arrow_back</mat-icon
      ></span
    >
    <h2 class="ml-12 text-normal text-bold">Physical Sign Upload</h2>
  </div>
  <div
    *ngIf="title === 'Sign Now'"
    fxLayout="row"
    fxLayoutAlign="space-between center"
    fxLayoutGap="12px"
  >
    <mat-card
      (click)="radioEvent('digitan-sign')"
      [ngClass]="
        this.radioFlag === 'digitan-sign' ? 'actionSelected' : 'actionIcon'
      "
      class="signnow"
      fxFlex="50%"
    >
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="30px">
        <mat-icon class="margin-left">
          <span
            [ngClass]="
              this.radioFlag === 'digitan-sign' ? 'actionTitle' : 'gray-btn'
            "
            id="iconspan"
          >
            trip_origin
          </span>
        </mat-icon>
        <span
          [ngClass]="
            this.radioFlag === 'digitan-sign' ? 'actionTitle' : 'gray-btn'
          "
          class="text-center text-normal text-bold"
          >Digital Sign</span
        >
      </div>
    </mat-card>
    <mat-card
      (click)="radioEvent('upload')"
      [ngClass]="this.radioFlag === 'upload' ? 'actionSelected' : 'actionIcon'"
      class="back-white"
      fxFlex="50%"
    >
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="30px">
        <mat-icon class="margin-left">
          <span
            [ngClass]="this.radioFlag === 'upload' ? 'actionTitle' : 'gray-btn'"
            id="iconspan"
          >
            trip_origin
          </span>
        </mat-icon>
        <span
          [ngClass]="this.radioFlag === 'upload' ? 'actionTitle' : 'gray-btn'"
          class="text-normal"
          >Upload</span
        >
      </div>
    </mat-card>
  </div>
  <div *ngIf="this.radioFlag === 'digitan-sign' && title === 'Sign Now'">
    <mat-card class="mt-16 signcard">
      <mat-card-content>
        <div class="full-width" fxLayoutAlign="center center">
          <app-sign-pad
            #signPadRef
            (signpadImage)="signpadImage($event)"
          ></app-sign-pad>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div *ngIf="this.radioFlag === 'upload' || title === 'Physical Sign'">
    <mat-card class="mt-16 uploadcard">
      <mat-card-content>
        <div
          (fileDropped)="onFileDropped($event)"
          appDragDrop
          fxLayout="column"
          fxLayoutAlign="center center"
        >
          <div>
            <img
              alt="upload image"
              class="imagedesign"
              src="../../../../../../../assets/images/upload.svg"
            />
          </div>
          <h5>
            <strong class="text-normal"
              >Drag and Drop file here or
              <span
                (click)="fileSelect.click()"
                (keydown.enter)="fileSelect.click()"
                class="textdesign"
                tabindex="0"
                ><u>Choose file</u></span
              >
            </strong>
          </h5>
          <h6 class="colordesign text-normal">Maximum Size : 25 MB</h6>
          <input
            #fileSelect
            (change)="onFileSelect($event)"
            [hidden]="true"
            accept="image/png, image/jpeg"
            id="file-input"
            type="hidden"
          />
          <ng-container></ng-container>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card
      *ngIf="isStart"
      class="pd-15"
      fxLayout="column"
      fxLayoutAlign="start center"
    >
      <ng-container>
        <div
          class="ic-progress-bar"
          fxFlex="100"
          fxLayout="row"
          fxLayoutAlign="start center"
        >
          <div fxFlex="100" fxLayoutAlign="start center">
            <span *ngIf="fileUploadFailed">
              Could not upload File, Try Again!</span
            >
            <div
              *ngIf="isUploading"
              fxFlex="100"
              fxLayoutAlign="row"
              fxLayoutGap="5"
            >
              <img
                [src]="
                  file.name?.includes('png')
                    ? 'assets/images/file-png.svg'
                    : 'assets/images/file-jpg.svg'
                "
                alt=""
              />
              <div fxFlex="100" fxLayout="column" fxLayoutAlign="space-between">
                <span>{{ file?.name }}</span>
                <mat-progress-bar
                  *ngIf="isUploading"
                  [value]="percentDone"
                  class="progrees_color"
                  mode="determinate"
                ></mat-progress-bar>
              </div>
              <div *ngIf="uploadSuccess">
                <ic-button
                  (OnClick)="deleteFile()"
                  [icButtonType]="'icon'"
                  [icIcon]="'delete'"
                ></ic-button>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </mat-card>
  </div>

  <div
    class="full-width mb-12"
    fxLayoutAlign="center center"
    fxLayoutGap="20px"
  >
    <ic-button
      (OnClick)="saveSignUpload()"
      *ngIf="radioFlag === 'upload' || title === 'Physical Sign'"
      [disabled]="!signImg && uploadSuccess"
      [icButtonType]="'filled-rounded'"
      label="Done"
    ></ic-button>

    <ic-button
      (OnClick)="saveDigitalSign()"
      *ngIf="radioFlag === 'digitan-sign' && title === 'Sign Now'"
      [icButtonType]="'filled-rounded'"
      label="Done"
    ></ic-button>

    <ic-button
      (click)="closeDialog()"
      [icButtonType]="'ghost-rounded'"
      label="Cancel"
    ></ic-button>
  </div>
</div>
