<div class="sign-now-modal sign-popup">
  <div
    fxLayout="row"
    class="mt-12 ml-12"
    *ngIf="title === 'Sign Now'"
    fxLayoutAlign="start center"
  >
    <span class="ml-20"
      ><mat-icon class="heading" (click)="closeDialog()"
        >arrow_back</mat-icon
      ></span
    >
    <h2 class="ml-12 text-normal">Digital Signing</h2>
  </div>
  <div fxLayout="row" class="mt-12 ml-12" *ngIf="title === 'Physical Sign'">
    <span
      ><mat-icon class="ml-12" (click)="closeDialog()"
        >arrow_back</mat-icon
      ></span
    >
    <h2 class="ml-12 text-normal text-bold">Physical Sign Upload</h2>
  </div>
  <div
    fxLayout="row"
    fxLayoutAlign="space-between center"
    fxLayoutGap="12px"
    *ngIf="title === 'Sign Now'"
  >
    <mat-card
      fxFlex="50%"
      (click)="radioEvent('digitan-sign')"
      class="signnow"
      [ngClass]="
        this.radioFlag === 'digitan-sign' ? 'actionSelected' : 'actionIcon'
      "
    >
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="30px">
        <mat-icon class="margin-left">
          <span
            id="iconspan"
            [ngClass]="
              this.radioFlag === 'digitan-sign' ? 'actionTitle' : 'gray-btn'
            "
          >
            trip_origin
          </span>
        </mat-icon>
        <span
          class="text-center text-normal text-bold"
          [ngClass]="
            this.radioFlag === 'digitan-sign' ? 'actionTitle' : 'gray-btn'
          "
          >Digital Sign</span
        >
      </div>
    </mat-card>
    <mat-card
      class="back-white"
      fxFlex="50%"
      (click)="radioEvent('upload')"
      [ngClass]="this.radioFlag === 'upload' ? 'actionSelected' : 'actionIcon'"
    >
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="30px">
        <mat-icon class="margin-left">
          <span
            id="iconspan"
            [ngClass]="this.radioFlag === 'upload' ? 'actionTitle' : 'gray-btn'"
          >
            trip_origin
          </span>
        </mat-icon>
        <span
          class="text-normal"
          [ngClass]="this.radioFlag === 'upload' ? 'actionTitle' : 'gray-btn'"
          >Upload</span
        >
      </div>
    </mat-card>
  </div>
  <div *ngIf="this.radioFlag === 'digitan-sign' && title === 'Sign Now'">
    <mat-card class="mt-16 signcard">
      <mat-card-content>
        <div class="full-width" fxLayoutAlign="center center">
          <app-sign-pad
            #signPadRef
            (signpadImage)="signpadImage($event)"
          ></app-sign-pad>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div *ngIf="this.radioFlag === 'upload' || title === 'Physical Sign'">
    <mat-card class="mt-16 uploadcard">
      <mat-card-content>
        <div fxLayout="column" fxLayoutAlign="center center">
          <div appDragDrop (fileDropped)="onFileDropped($event)">
            <img
              class="imagedesign"
              src="../../../../../../../assets/images/upload.svg"
              alt="upload image"
            />
          </div>
          <h5>
            <strong class="text-normal"
              >Drag and Drop file here or
              <span
                class="textdesign"
                (click)="fileSelect.click()"
                (keydown.enter)="fileSelect.click()"
                tabindex="0"
                ><u>Choose file</u></span
              >
            </strong>
          </h5>
          <h6 class="colordesign text-normal">Maximum Size : 25 MB</h6>
          <input
            type="hidden"
            accept="image/png, image/jpeg"
            #fileSelect
            [hidden]="true"
            type="file"
            id="file-input"
            (change)="onFileSelect($event)"
          />
          <ng-container> </ng-container>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card *ngIf="isStart" fxLayout="column">
      <div fxLayout="row" fxLayoutAlign="start center">
        <div fxFlex="10">
          <img src="assets/images/svg/xlsx.svg" alt="" />
        </div>
        <span fxFlex="80">{{ file?.name }} </span>
        <mat-icon *ngIf="!isUploading" class="deletebtn" (click)="deleteFile()">
          delete
        </mat-icon>
        <mat-icon *ngIf="isUploading" class="deletebtn" (click)="deleteFile()">
          close
        </mat-icon>
      </div>
      <ng-container>
        <div fxLayout="row" class="ic-progress-bar">
          <mat-progress-bar
            mode="determinate"
            [value]="percentDone"
            *ngIf="isUploading"
          ></mat-progress-bar>
        </div>
      </ng-container>
    </mat-card>
  </div>

  <div
    class="full-width mb-12"
    fxLayoutAlign="center center"
    fxLayoutGap="20px"
  >
    <button
      *ngIf="radioFlag === 'upload' || title === 'Physical Sign'"
      class="sign_popup_btn done"
      mat-raised-button
      type="button"
      color="primary"
      (click)="saveSignUpload()"
      [disabled]="!signImg"
    >
      Done
    </button>
    <button
      *ngIf="radioFlag === 'digitan-sign' && title === 'Sign Now'"
      class="sign_popup_btn done"
      mat-raised-button
      type="button"
      color="primary"
      (click)="saveDigitalSign()"
    >
      Done
    </button>
    <button
      (click)="closeDialog()"
      mat-raised-button
      type="button"
      class="cancelButton"
    >
      <span id="cancel1"> Cancel </span>
    </button>
  </div>
</div>
