<div fxLayout="column" *ngIf="!isPaymentEnabled">
  <div fxLayout="column" *ngIf="depositDetails">
    <div class="highlight_title">Deposit Details</div>
    <div class="row">
      <div class="col-md-4 col-12 field_align">
        <div class="row">
          <div class="field_title">Deposit Ammount</div>
          <div class="field_value">{{ depositDetails?.amount }}</div>
        </div>
      </div>
      <div class="col-md-4 col-12 field_align">
        <div class="row">
          <div class="field_title">Deposit Period</div>
          <div class="field_value">
            {{ depositDetails?.tenureYear }} Year
            <!-- {{ depositDetails?.tenureMonth }} -->
            <!-- {{ depositDetails?.tenureDays }} -->
          </div>
        </div>
      </div>
      <div class="col-md-4 col-12 field_align">
        <div class="row">
          <div class="field_title">Start Date</div>
          <div class="field_value">{{ depositDetails?.created }}</div>
        </div>
      </div>
      <div class="col-md-4 col-12 field_align">
        <div class="row">
          <div class="field_title">Maturity Date</div>
          <div class="field_value">{{ depositDetails?.maturityDate }}</div>
        </div>
      </div>
      <div class="col-md-4 col-12 field_align">
        <div class="row">
          <div class="field_title">Interest Rate</div>
          <div class="field_value">{{ depositDetails?.intrestRate }}%</div>
        </div>
      </div>
      <div class="col-md-4 col-12 field_align">
        <div class="row">
          <div class="field_title">Maturity Ammount</div>
          <div class="field_value">{{ depositDetails?.maturityAmount }}</div>
        </div>
      </div>

      <div class="col-md-4 col-12 field_align">
        <div class="row">
          <div class="field_title">Maturity Institution</div>
          <div class="field_value">
            {{ depositDetails?.maturityInstruction }}
          </div>
        </div>
      </div>
      <div class="col-md-4 col-12 field_align">
        <div class="row">
          <div class="field_title">Deposit Holder Type</div>
          <div class="field_value">{{ depositDetails?.ownership }}</div>
        </div>
      </div>
    </div>
  </div>

  <div FxLayout="row" fxFlex="100">
    <div fxFlex="40">
      <mat-form-field appearance="outline" class="full-width disable-field">
        <mat-label>Nominee</mat-label>
        <input matInput type="text" />
      </mat-form-field>
    </div>
  </div>

  <div
    fxLayout="column"
    *ngIf="
      depositDetails?.bankDetails?.yourAccount ||
      depositDetails?.bankDetails?.name ||
      depositDetails?.bankDetails?.nationalId
    "
  >
    <div class="highlight_title">Bank Account</div>
    <div class="row">
      <div class="col-md-4 col-12 field_align">
        <div class="row">
          <div class="field_title">Bank Account</div>
          <div class="field_value">
            {{ depositDetails?.bankDetails?.yourAccount }}
          </div>
        </div>
      </div>
      <div class="col-md-4 col-12 field_align">
        <div class="row">
          <div class="field_title">Name</div>
          <div class="field_value">{{ depositDetails?.bankDetails?.name }}</div>
        </div>
      </div>
      <div class="col-md-4 col-12 field_align">
        <div class="row">
          <div class="field_title">Your Pan Card</div>
          <div class="field_value">
            {{ depositDetails?.bankDetails?.nationalId }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div fxLayout="column">
    <div fxLayout="row" class="note-row">
      <div class="note">Note:</div>
      <div class="fade-text">
        Reach your nearest DemoBank Branch within 48 hours of the payment
        process.
      </div>
    </div>
  </div>
  <div fxLayout="row" class="btn_grp">
    <div>
      <button
        type="button"
        mat-raised-button
        class="saveButton"
        (click)="proceedFd()"
      >
        Book {{ depositType && depositType == "RD" ? "RD" : "FD" }}
      </button>
    </div>
    &nbsp;&nbsp;
    <div>
      <button
        type="button"
        mat-raised-button
        class="backButton"
        (click)="goBack()"
      >
        Back
      </button>
    </div>
  </div>
</div>

<div *ngIf="isPaymentEnabled">
  <app-payment-method></app-payment-method>
</div>
