<div fxLayout="column" *ngIf="!isPaymentEnabled">
  <div fxLayout="column" *ngIf="depositDetails">
    <div class="highlight_title">Deposit Details</div>
    <div class="row">
      <div class="col-md-4 col-12 field_align">
        <div class="row">
          <div class="field_title">Deposit Ammount</div>
          <div class="field_value">{{ depositDetails?.amount }}</div>
        </div>
      </div>
      <div class="col-md-4 col-12 field_align">
        <div class="row">
          <div class="field_title">Deposit Period</div>
          <div class="field_value">
            {{ depositDetails?.tenureYear }} Year
            {{ depositDetails?.tenurMonth }} Month
            {{ depositDetails?.tenureDays }} Days
          </div>
        </div>
      </div>
      <div class="col-md-4 col-12 field_align">
        <div class="row">
          <div class="field_title">Start Date</div>
          <div class="field_value">21/08/2023</div>
        </div>
      </div>
      <div class="col-md-4 col-12 field_align">
        <div class="row">
          <div class="field_title">Maturity Date</div>
          <div class="field_value">{{ depositDetails?.maturityDate }}</div>
        </div>
      </div>
      <div class="col-md-4 col-12 field_align">
        <div class="row">
          <div class="field_title">Interest Rate</div>
          <div class="field_value">{{ depositDetails?.intrestRate }}%</div>
        </div>
      </div>
      <div class="col-md-4 col-12 field_align">
        <div class="row">
          <div class="field_title">Maturity Ammount</div>
          <div class="field_value">{{ depositDetails?.maturityAmount }}</div>
        </div>
      </div>

      <div class="col-md-4 col-12 field_align">
        <div class="row">
          <div class="field_title">Maturity Institution</div>
          <div class="field_value">HDFC</div>
        </div>
      </div>
      <div class="col-md-4 col-12 field_align">
        <div class="row">
          <div class="field_title">Deposit Holder Type</div>
          <div class="field_value">{{ depositDetails?.ownerShip }}</div>
        </div>
      </div>
    </div>
  </div>

  <div fxLayout="column" *ngIf="customerDetails">
    <div class="highlight_title">Bank Account</div>
    <div class="row">
      <div class="col-md-4 col-12 field_align">
        <div class="row">
          <div class="field_title">Bank Account</div>
          <div class="field_value">{{ customerDetails?.accountNumber }}</div>
        </div>
      </div>
      <div class="col-md-4 col-12 field_align">
        <div class="row">
          <div class="field_title">Name</div>
          <div class="field_value">{{ customerDetails?.name }}</div>
        </div>
      </div>
      <div class="col-md-4 col-12 field_align">
        <div class="row">
          <div class="field_title">Your Pan Cars</div>
          <div class="field_value">{{ customerDetails?.panCardNo }}</div>
        </div>
      </div>
    </div>
  </div>
  <div fxLayout="row" class="btn_grp">
    <div>
      <button
        type="button"
        mat-raised-button
        class="saveButton"
        (click)="proceedFd()"
      >
        Book {{ depositType && depositType == "RD" ? "RD" : "FD" }}
      </button>
    </div>
    &nbsp;&nbsp;
    <div>
      <button
        type="button"
        mat-raised-button
        class="backButton"
        (click)="goBack()"
      >
        Back
      </button>
    </div>
  </div>
</div>

<div *ngIf="isPaymentEnabled">
  <app-payment-method></app-payment-method>
</div>
