<div [formGroup]="businessDetailsForm" class="business-main" fxLayout="column">
  <div fxLayout="row wrap" fxLayoutGap="10">
    <div fxFlex="48.5">
      <ic-form-field
        [control]="businessDetailsForm.get('businessName') | formcontrol"
        [icAlphabetOnly]="true"
        [maxLength]="100"
        label="Registered/Company Name"
      ></ic-form-field>
    </div>
    <div fxFlex="24">
      <ic-select
        [control]="businessDetailsForm.get('companyTypeId') | formcontrol"
        [options]="companyTypeArr"
        bindLabelKey="values"
        bindValueKey="id"
        label="Company Type"
      >
      </ic-select>
    </div>
    <div fxFlex="24">
      <ic-select
        [control]="businessDetailsForm.get('natureOfBusinessId') | formcontrol"
        [options]="natureOfBusinessArr"
        bindLabelKey="values"
        bindValueKey="id"
        label="Nature of Business"
      >
      </ic-select>
    </div>
    <div fxFlex="24">
      <ic-select
        [control]="businessDetailsForm.get('segmentId') | formcontrol"
        [options]="segmentArr"
        bindLabelKey="values"
        bindValueKey="id"
        label="Segment"
      >
      </ic-select>
    </div>
    <div fxFlex="24">
      <ic-form-field
        [control]="businessDetailsForm.get('noOfDirectors') | formcontrol"
        [icAlphanumeric]="true"
        [maxLength]="250"
        label="Number of Directors"
      ></ic-form-field>
    </div>
    <div fxFlex="24">
      <ic-select
        [control]="
          businessDetailsForm.get('countryOfIncorporationName') | formcontrol
        "
        [options]="countryArr"
        bindLabelKey="countryName"
        bindValueKey="countryCode"
        label="Country of Incorporation"
      >
      </ic-select>
    </div>
    <div fxFlex="24">
      <ic-date-picker
        [control]="businessDetailsForm.get('dateOfIncorporation') | formcontrol"
        [placeholder]="dateFormat"
        label="Date of Incorporation"
      >
      </ic-date-picker>
    </div>
    <div fxFlex="24">
      <ic-form-field
        [control]="businessDetailsForm.get('registrationNumber') | formcontrol"
        [icAlphanumeric]="true"
        [maxLength]="250"
        label="Registration Number"
      ></ic-form-field>
    </div>
    <div fxFlex="24">
      <ic-form-field
        [control]="businessDetailsForm.get('tinNumber') | formcontrol"
        [icAlphanumeric]="true"
        [maxLength]="250"
        label="TIN Number"
      ></ic-form-field>
    </div>
    <div fxFlex="24">
      <ic-form-field
        [control]="businessDetailsForm.get('yearsOfOperation') | formcontrol"
        [icAlphanumeric]="true"
        [maxLength]="250"
        label="No of years in Operation"
      ></ic-form-field>
    </div>
    <div fxFlex="24">
      <div class="header_md_bold_black mb-8">
        {{ 'Ownership of the collateral *' }}
      </div>

      <div fxLayout="row" fxLayoutGap="50px">
        <ic-radio-button
          *ngFor="let status of businessIntensityArr"
          [control]="businessDetailsForm.get('businessIntencity') | formcontrol"
          [label]="status.label"
          [value]="status.value"
        ></ic-radio-button>
      </div>
    </div>

    <div fxFlex="24">
      <ic-form-field
        [control]="businessDetailsForm.get('monthlyTurnover') | formcontrol"
        [icAlphanumeric]="true"
        [maxLength]="250"
        label="Monthly Turnover"
      ></ic-form-field>
    </div>
    <div fxFlex="24">
      <ic-form-field
        [control]="businessDetailsForm.get('aveStockLevel') | formcontrol"
        [icAlphanumeric]="true"
        [maxLength]="250"
        label="AVE stock Level"
      ></ic-form-field>
    </div>
    <div fxFlex="24">
      <ic-form-field
        [control]="contact.get('telephone') | formcontrol"
        [icAlphanumeric]="true"
        [maxLength]="250"
        label="Telephone"
      ></ic-form-field>
    </div>

    <div fxFlex="49">
      <ic-textarea
        [control]="businessDetailsForm.get('customerDescription') | formcontrol"
        [rows]="8"
        fxFlex="100"
        label="Customer Description"
      >
      </ic-textarea>
    </div>
    <div fxFlex="49">
      <ic-textarea
        [control]="
          businessDetailsForm.get('descriptionOfBusiness') | formcontrol
        "
        [rows]="8"
        fxFlex="100"
        label="Description of Business"
      >
      </ic-textarea>
    </div>

    <div fxFlex="49">
      <ic-select
        [control]="businessDetailsForm.get('parentCompanyId') | formcontrol"
        [options]="parentCompanyArr"
        bindLabelKey="companyName"
        bindValueKey="corporateId"
        label="Parent Company"
      >
      </ic-select>
    </div>
  </div>
</div>
