<div fxLayout="column">
  <div fxLayout="column">
    <div class="alertText">
      {{ errorMessage }}
    </div>
    <div class="alertText_hint" *ngIf="errorMessageHint && isStageAvilable">
      {{ errorMessageHint }}
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center">
    <img class="summaryIcon" src="assets/images/error-icon.svg" />
  </div>
  <div fxLayoutAlign="center center" fxLayoutGap="15">
    <button
      type="button"
      mat-raised-button
      class="saveButton done_btn"
      (click)="closeDialog()"
    >
      {{ isStageAvilable ? 'OK' : 'Next' }}
    </button>
    <button
      type="button"
      *ngIf="showCancelBtn"
      mat-raised-button
      class="saveButton cancel_btn"
      (click)="cancel()"
    >
      {{ 'Cancel' }}
    </button>
  </div>
</div>
