<div class="news-letter-container" fxLayoutAlign="center center">
  <img class="base-img" src="assets/images/Rectangle 30.svg" />

  <div class="text-header">Subscribe Newsletters</div>
  <div class="plain-text">
    I will update good news and promotion service not spam
  </div>

  <img class="right-blue" src="assets/images/Rectangle 31.svg" />
  <div class="text-box">
    <input matInput placeholder="Enter your email address.." />
    <button class="contact-button">Contact Now</button>
  </div>

  <img class="left-blue" src="assets/images/Rectangle 32.svg" />
  <img class="lrg-dot" src="assets/images/Group 75.svg" />
  <img class="sml-dot" src="assets/images/Group 73.svg" />
</div>
