.calculator_container {
  background-color: #f6faff;
  padding: 2%;
  margin-top: 2%;
  width: 80%;
}
// .loanForm {
//   background-image: url("/assets/images/Group 13944.svg") !important;
// }
.example-margin1 {
  margin-right: 10%;
  padding: 2%;
}
.yeardrop {
  // background-color: white;
  // border: none !important;
  // box-shadow: 0px 3px 10px #00000017;
  // border-radius: 8px;
  height: 66px !important;
  margin-bottom: 25px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.0901960784) !important;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.0901960784);
  border-radius: 8px;
  ::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0px !important;
  }
}

.inputSelect {
  width: 30% !important;
  height: 22px;
  background: #fffefe 0% 0% no-repeat padding-box;
  border-radius: 8px;
  opacity: 1;
  margin-top: 0px;
  display: flow-root;
}
.vl {
  border-left: 1px solid black;
}
.calculator_subTItle {
  color: #004c97;
  font-size: 18px;
  font-weight: 600;
  font-family: "Poppins";
}

// /
.fd_container {
  box-shadow: 0px 6.1189799308776855px 30.594900131225586px 0px #0000000d;
  padding: 1% 0%;
  border-radius: 39px;
  height: fit-content;
}
.gd_value {
  font-size: 15px;
  line-height: 23px;
  font-weight: 500;
  color: #004c97;
}
.vl {
  border-left: 1px solid;
  margin: 0 2%;
}
.renew_check {
  margin: 5% 0;
}
.openFDbtn {
  background: linear-gradient(90deg, #004aa0 0%, #06113c 100%);
  color: white;
  border-radius: 50px;
  width: 233px;
  margin-bottom: 2%;
}
.alignCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.alignLeft {
  align-items: inherit !important;
  padding-left: 5%;
}
.designImg {
  position: absolute;
  width: 180px;
  left: -30px;
  top: 250px;
}
.designImg-1 {
  position: absolute;
  margin-top: 20%;
  margin-left: 18%;
  transform: rotate(180deg);
}
