<div fxFlex="row" fxFlex="100%">
  <div
    fxFlex="70"
    fxLayout="column"
    fxFlex="100"
    *ngIf="loanForm"
    class="loanForm"
  >
    <form [formGroup]="loanForm" fxFlex="100">
      <div class="calculator_container" fxLayout="column" fxFlex="100">
        <div class="row">
          <div class="col-md-4 col-12">
            <div class="calculator_subTItle">Country</div>
            <div>
              <div fxFlex="100">
                <mat-form-field appearance="outline" class="full-width">
                  <mat-label class="custom-mat-label"
                    >Select the Country</mat-label
                  >
                  <mat-select>
                    <mat-option [value]="">Select</mat-option>
                    <mat-option [value]="">fjk</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-12">
            <div class="calculator_subTItle">University/College</div>
            <div>
              <div fxFlex="100">
                <mat-form-field appearance="outline" class="full-width">
                  <mat-label class="custom-mat-label"
                    >Select the Name</mat-label
                  >
                  <mat-select>
                    <mat-option [value]="">Select</mat-option>
                    <mat-option [value]="">fjk</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-12">
            <div class="calculator_subTItle">Courses</div>
            <div>
              <div fxFlex="100">
                <mat-form-field appearance="outline" class="full-width">
                  <mat-label class="custom-mat-label"
                    >Select the Courses</mat-label
                  >
                  <mat-select>
                    <mat-option [value]="">Select</mat-option>
                    <mat-option [value]="">fjk</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
        <!-- course Duration -->
        <div fxLayout="column">
          <div
            fxLayout="row wrap"
            fxFlex="100"
            fxLayoutAlign="space-between center"
          >
            <div class="calculator_subTItle">Course Duration</div>
            <div fxFlex="31.5">
              <div fxFlex="100">
                <mat-form-field appearance="outline" class="full-width">
                  <mat-label class="custom-mat-label">Month</mat-label>
                  <input matInput formControlName="amount" />
                </mat-form-field>
              </div>
            </div>
          </div>
          <div fxFlex="100">
            <mat-slider
              [(ngModel)]="loanForm.value.amount"
              [max]="maxMonth"
              [min]="minMonth"
              fxFlex="100"
              [step]="thumbLabel"
              (change)="onSliderChange($event)"
              [displayWith]="formatDurationLabel"
            >
              <input matSliderThumb #slider />
            </mat-slider>
          </div>
          <div fxLayout="row" fxFlex="100" fxLayoutAlign="space-between center">
            <div>{{ minMonth }} Months</div>
            <div>{{ maxMonth }} Months</div>
          </div>
        </div>
        <!-- Tution Fees-->
        <div fxLayout="column">
          <div
            fxLayout="row wrap"
            fxFlex="100"
            fxLayoutAlign="space-between center"
          >
            <div class="calculator_subTItle">Tution Fees</div>
            <div fxFlex="31.5">
              <div fxFlex="100">
                <mat-form-field appearance="outline" class="full-width">
                  <mat-label class="custom-mat-label">Ammount</mat-label>
                  <input matInput formControlName="tutionFee" />
                </mat-form-field>
              </div>
            </div>
          </div>
          <div fxFlex="100">
            <mat-slider
              [(ngModel)]="loanForm.value.tutionFee"
              [max]="maxTutionFee"
              [min]="minTutionFee"
              fxFlex="100"
              [step]="thumbLabel"
              (change)="onTutionFeeChange($event)"
              discrete
              [displayWith]="formatFeesLabel"
            >
              <input matSliderThumb #slider />
            </mat-slider>
          </div>
          <div fxLayout="row" fxFlex="100" fxLayoutAlign="space-between center">
            <div>₹ {{ minTutionFee }}</div>
            <div>₹ {{ maxTutionFee }}</div>
          </div>
        </div>
        <!-- Cost of Living-->
        <div fxLayout="column">
          <div
            fxLayout="row wrap"
            fxFlex="100"
            fxLayoutAlign="space-between center"
          >
            <div class="calculator_subTItle">Cost Of Living</div>
            <div fxFlex="31.5">
              <div fxFlex="100">
                <mat-form-field appearance="outline" class="full-width">
                  <mat-label class="custom-mat-label">Ammount</mat-label>
                  <input matInput formControlName="costOfLiving" />
                </mat-form-field>
              </div>
            </div>
          </div>
          <div fxFlex="100">
            <mat-slider
              [(ngModel)]="loanForm.value.costOfLiving"
              [max]="maxTutionFee"
              [min]="minTutionFee"
              fxFlex="100"
              [step]="thumbLabel"
              (change)="onCostOfLivingChange($event)"
              discrete
              [displayWith]="formatCostOFLabel"
            >
              <input matSliderThumb #slider />
            </mat-slider>
          </div>
          <div fxLayout="row" fxFlex="100" fxLayoutAlign="space-between center">
            <div>₹ {{ minTutionFee }}</div>
            <div>₹ {{ maxTutionFee }}</div>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div
    fxFlex="30"
    style="background-color: white; margin-left: -1%; margin-top: 10%"
  >
    <div
      fxFlex="80"
      fxLayoutAlign="center center"
      fxLayout="column"
      class="fd_container"
    >
      <div fxLayout="column" class="alignCenter">
        <div class="maturityTitle">Total Expenses</div>
        <div class="maturityTitle" style="color: #004c97">₹ 43,300</div>
      </div>
      <div fxLayout="row" fxFlex="100" style="width: 100%">
        <div
          fxLayout="column"
          fxFlex="48"
          class="alignLeft"
          fxLayoutAlign="space-around center"
        >
          <div class="maturityTitle">Tution Fees</div>
          <div class="gd_value">₹ {{ loanForm.value.tutionFee }}</div>
        </div>
        <div class="vl"></div>
        <div
          fxLayout="column"
          class="alignLeft"
          fxFlex="48"
          fxLayoutAlign="space-around center"
        >
          <div class="maturityTitle">Course Duration</div>
          <div class="gd_value">{{ loanForm.value.amount }} Months</div>
        </div>
      </div>
      <div fxLayout="row" fxFlex="100" style="width: 100%">
        <div
          fxLayout="column"
          class="alignLeft"
          fxFlex="48"
          fxLayoutAlign="space-around center"
        >
          <div class="maturityTitle">Cost of Living</div>
          <div class="gd_value">₹ {{ loanForm.value.costOfLiving }}</div>
        </div>
        <div class="vl"></div>
      </div>
      <div>
        <button mat-flat-button class="openFDbtn" (click)="applyForLoan()">
          Konw Your EMI
        </button>
      </div>
      <img class="designImg-1" src="assets/images/Mask Group.svg" />
    </div>
  </div>
</div>
