<div fxLayout="column">
  <div
    fxLayout="column"
    fxLayoutAlign="center center"
    class="product-desc-container"
  >
    <div class="account-type-header mb-10">{{ basisClass }}</div>
  </div>

  <div
    *ngFor="let subAccount of subClassList; let index = index"
    class="container"
  >
    <app-common-product
      [subAccount]="subAccount"
      [productIndex]="index"
      (onApply)="apply($event)"
      (customClassApply)="apply($event)"
    >
    </app-common-product>
  </div>
</div>
