<div class="file_upload">
  <form [formGroup]="createDocumentForm" fxFlex="100" fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="end center" style="margin: 1rem 0">
      <button mat-button [matMenuTriggerFor]="docMenu" class="add-btn">
        <span>Add</span>
      </button>
    </div>

    <mat-menu #docMenu="matMenu" class="custom-menu">
      <button
        mat-menu-item
        *ngFor="let doc of documentOptions"
        (click)="addDocumentFromDropdown(doc)"
      >
        {{ doc }}
      </button>
    </mat-menu>

    <ng-container formArrayName="otherDocument">
      <div
        *ngFor="let docCtrl of otherDocument().controls; let i = index"
        [formGroupName]="i"
        class="document-panel"
      >
        <mat-expansion-panel class="styled-panel" [expanded]="true">
          <mat-expansion-panel-header class="panel-header">
            <div class="panel-header-content">
              <div class="panel-title">
                <mat-icon color="primary" class="doc-icon"
                  >check_circle</mat-icon
                >
                <span class="header_md">
                  {{ docCtrl.get('documentType')?.value || 'New Document' }}
                </span>
                <span class="required">*</span>
              </div>
              <span
                [ngClass]="
                  this.checkListDocList?.requiredDocument
                    ? 'disabled_delete'
                    : 'delete_btn'
                "
                class="delete_btn"
                (click)="removeDocument(i)"
                tabindex="0"
                (keydown)="removeDocument(i)"
              >
                Delete
              </span>
            </div>
          </mat-expansion-panel-header>

          <div fxLayout="column">
            <div class="upload-section">
              <span class="medium_txt">Upload files</span>
              <p class="breadcrum_md">
                Max file size is 500kb. Supported file types are .jpg and .png.
              </p>
              <ic-button
                (OnClick)="fileBrowseHandler(i)"
                label="Choose"
                size="medium"
                type="button"
                icButtonType="outlined-rounded"
              >
              </ic-button>
            </div>

            <div
              class="uploaded_list"
              fxLayout="row wrap"
              fxLayoutGap="2%"
              fxFlex="100"
            >
              <div
                *ngFor="let file of getFileInfo(i); let fileIndx = index"
                fxFlex="48"
                class="upload_img"
                tabindex="0"
              >
                <div class="img_box">
                  <img [src]="getFileUrl(file)" alt="image" />
                </div>
                <div class="img_container">
                  <span class="header_md img_name">{{ file?.name }}</span>
                  <div
                    *ngIf="file.progress === '100%'; else showSize"
                    class="progress-cont"
                  >
                    <div
                      [style.width]="file.progress ?? '0%'"
                      class="progress"
                    ></div>
                  </div>
                  <ng-template #showSize>
                    <div class="theme_sm">{{ file.size }}</div>
                  </ng-template>
                </div>
                <ic-icon
                  class="cancel-icon"
                  name="delete"
                  (click)="removeFile(i, fileIndx)"
                  tabindex="1"
                ></ic-icon>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </div>
    </ng-container>
  </form>
</div>
