<div class="file_upload">
  <form [formGroup]="createDocumentForm" fxFlex="100" fxLayout="column">
    <!-- === Checklist Dropdown or Add Applicant === -->
    <ng-container *ngIf="isChecklistDoc; else individualAdd">
      <div fxLayout="row" fxLayoutAlign="end center" style="margin: 1rem 0">
        <div class="custom-add-btn" [matMenuTriggerFor]="docMenu">
          <span class="btn-text">Add</span>
          <span class="btn-icon">
            <img src="assets/images/down_arrow.svg" alt="dropdown" />
          </span>
        </div>
      </div>
      <mat-menu #docMenu="matMenu" class="custom-menu">
        <button
          mat-menu-item
          *ngFor="let doc of noReqCheckListDocList"
          (click)="addDocumentFromDropdown(doc?.document)"
        >
          {{ doc?.document }}
        </button>
      </mat-menu>
    </ng-container>

    <ng-template #individualAdd>
      <div fxLayout="row" fxLayoutAlign="end center" style="margin: 1rem 0">
        <div class="custom-add-btn">
          <span
            class="btn-text"
            (click)="addApplicant()"
            tabindex="0"
            (keydown.enter)="addApplicant()"
            >Add
          </span>
        </div>
      </div>
    </ng-template>

    <!--  Checklist Documents -->
    <ng-container formArrayName="otherDocument">
      <div
        *ngFor="let docCtrl of otherDocument().controls; let i = index"
        [formGroupName]="i"
        class="document-panel"
      >
        <mat-expansion-panel class="styled-panel fileUpload" [expanded]="true">
          <mat-expansion-panel-header class="panel-header">
            <div class="panel-header-content">
              <div
                class="panel-title"
                fxLayoutGap="5"
                fxLayoutAlign="start center"
              >
                <img
                  *ngIf="getFileInfo(i)?.length > 0; else unticked"
                  src="assets/images/tickicon.svg"
                  alt="Tick"
                />
                <ng-template #unticked>
                  <img src="assets/images/untickicon.svg" alt="Untick" />
                </ng-template>
                <span class="header_md">{{
                  docCtrl.get('documentType')?.value || 'New Document'
                }}</span>
                <span *ngIf="docCtrl.get('docRequired')?.value" class="required"
                  >*</span
                >
              </div>
              <span
                [ngClass]="
                  docCtrl.get('docRequired')?.value
                    ? 'disabled_delete'
                    : 'delete_btn'
                "
                tabindex="0"
                (keydown)="removeDocument(i)"
                (click)="removeDocument(i)"
              >
                Delete
              </span>
            </div>
          </mat-expansion-panel-header>

          <div fxLayout="column">
            <div class="upload-section">
              <span class="medium_txt">Upload files</span>
              <p class="breadcrum_md">
                Max file size is 500kb. Supported file types are .jpg and .png.
              </p>
              <ic-button
                (OnClick)="fileBrowseHandler(i)"
                label="Choose"
                size="medium"
                type="button"
                icButtonType="outlined-rounded"
              >
              </ic-button>
            </div>

            <div
              class="uploaded_list"
              fxLayout="row wrap"
              fxFlex="100"
              fxLayoutAlign="space-between center"
            >
              <div
                *ngFor="let file of getFileInfo(i); let fileIndx = index"
                fxFlex="49"
                fxLayoutGap="10"
                class="upload_img"
              >
                <div class="img_box">
                  <img
                    [src]="'4a82eba7-0fa6-4776-b4ea-18da9cd653ec' | safe: 'url'"
                    alt="image"
                  />
                </div>
                <div class="img_container">
                  <span class="header_md img_name">{{ file?.name }}</span>
                  <div
                    *ngIf="file.progress !== '100%'; else showSize"
                    class="progress-cont"
                  >
                    <div
                      [style.width]="file.progress ?? '0%'"
                      class="progress"
                    ></div>
                  </div>
                  <ng-template #showSize>
                    <div class="theme_sm">{{ file.size }}</div>
                  </ng-template>
                </div>
                <img
                  tabindex="0"
                  (keydown.enter)="removeFile(i, fileIndx)"
                  src="assets/images/trash_new.svg"
                  alt="trash"
                  (click)="removeFile(i, fileIndx)"
                />
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </div>
    </ng-container>

    <!-- Personal Documents of applicants or directors -->
    <ng-container formArrayName="applicants">
      <div
        *ngFor="let applicant of applicant().controls; let aIndex = index"
        [formGroupName]="aIndex"
      >
        <mat-expansion-panel
          class="styled-panel applicant-panel"
          [expanded]="true"
        >
          <ng-container>
            <div
              fxLayout="row"
              fxLayoutAlign="end center"
              style="margin: 1rem 0"
            >
              <div
                class="custom-add-btn"
                [matMenuTriggerFor]="docMenu"
                tabindex="0"
              >
                <span class="btn-text">Add</span>
                <span class="btn-icon">
                  <img src="assets/images/down_arrow.svg" alt="dropdown" />
                </span>
              </div>
            </div>
            <mat-menu #docMenu="matMenu" class="custom-menu">
              <button
                mat-menu-item
                *ngFor="let doc of documentTypeArray"
                (click)="addApplicantDocument(doc)"
              >
                {{ doc?.values }}
              </button>
            </mat-menu>
          </ng-container>

          <mat-expansion-panel-header class="p-12">
            <span class="header_md">Applicant {{ aIndex + 1 }}</span>
          </mat-expansion-panel-header>

          <ng-container formArrayName="otherDocument">
            <div
              *ngFor="
                let docCtrl of getApplicantDocuments(aIndex).controls;
                let dIndex = index
              "
              [formGroupName]="dIndex"
              class="document-panel"
            >
              <mat-expansion-panel
                class="styled-panel fileUpload"
                [expanded]="true"
              >
                <mat-expansion-panel-header class="panel-header">
                  <div class="panel-header-content">
                    <div
                      class="panel-title"
                      fxLayoutGap="5"
                      fxLayoutAlign="start center"
                    >
                      <img
                        *ngIf="
                          getFileInfo(aIndex)?.length > 0;
                          else untickedApp
                        "
                        src="assets/images/tickicon.svg"
                        alt="Tick"
                      />
                      <ng-template #untickedApp>
                        <img src="assets/images/untickicon.svg" alt="Untick" />
                      </ng-template>
                      <span class="header_md">{{
                        docCtrl.get('documentType')?.value
                      }}</span>
                      <span
                        *ngIf="docCtrl.get('docRequired')?.value"
                        class="required"
                        >*</span
                      >
                    </div>
                  </div>
                </mat-expansion-panel-header>

                <div fxLayout="column">
                  <div class="upload-section">
                    <span class="medium_txt">Upload files</span>
                    <p class="breadcrum_md">
                      Max file size is 500kb. Supported file types are .jpg and
                      .png.
                    </p>
                    <ic-button
                      (OnClick)="fileBrowseHandler(dIndex, aIndex)"
                      label="Choose"
                      size="medium"
                      type="button"
                      icButtonType="outlined-rounded"
                    >
                    </ic-button>
                  </div>

                  <div
                    class="uploaded_list"
                    fxLayout="row wrap"
                    fxFlex="100"
                    fxLayoutAlign="space-between center"
                  >
                    <div
                      *ngFor="
                        let file of getFileInfo(dIndex, aIndex);
                        let fileIndx = index
                      "
                      fxFlex="49"
                      fxLayoutGap="10"
                      class="upload_img"
                    >
                      <div class="img_box">
                        <img
                          [src]="
                            '4a82eba7-0fa6-4776-b4ea-18da9cd653ec' | safe: 'url'
                          "
                          alt="image"
                        />
                      </div>
                      <div class="img_container">
                        <span class="header_md img_name">{{ file?.name }}</span>
                        <div
                          *ngIf="file.progress !== '100%'; else showSizeApp"
                          class="progress-cont"
                        >
                          <div
                            [style.width]="file.progress ?? '0%'"
                            class="progress"
                          ></div>
                        </div>
                        <ng-template #showSizeApp>
                          <div class="theme_sm">{{ file.size }}</div>
                        </ng-template>
                      </div>
                      <img
                        tabindex="0"
                        (keydown.enter)="removeFile(aIndex, fileIndx)"
                        src="assets/images/trash_new.svg"
                        alt="trash"
                        (click)="removeFile(dIndex, fileIndx, aIndex)"
                      />
                    </div>
                  </div>
                </div>
              </mat-expansion-panel>
            </div>
          </ng-container>
        </mat-expansion-panel>
      </div>
    </ng-container>
  </form>
</div>
